Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2021-09, with the labels that each got.

#179 operators kubernetes-imagepuller-operator (0.0.9)
  operators/kubernetes-imagepuller-operator/0.0.9/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.9/kubernetes-imagepuller-operator.v0.0.9.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#182 operators mta-operator (0.0.7)
  operators/mta-operator/0.0.7/Dockerfile
  operators/mta-operator/0.0.7/manifests/windup-operator.v0.0.7.clusterserviceversion.yaml
  operators/mta-operator/0.0.7/manifests/windup.crd.yaml
  operators/mta-operator/0.0.7/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#183 operators sap-commerce-operator (0.0.4)
  operators/sap-commerce-operator/0.0.4/manifests/hybris.hybris.org_hybrisapps.yaml
  operators/sap-commerce-operator/0.0.4/manifests/hybris.hybris.org_hybrisbases.yaml
  operators/sap-commerce-operator/0.0.4/manifests/sap-commerce-operator-hybris-controller-manager-metrics-service_v1_service.yaml
  operators/sap-commerce-operator/0.0.4/manifests/sap-commerce-operator-manager-config_v1_configmap.yaml
  operators/sap-commerce-operator/0.0.4/manifests/sap-commerce-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-commerce-operator/0.0.4/manifests/sap-commerce-operator.clusterserviceversion.yaml
  operators/sap-commerce-operator/0.0.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#187 operators ibm-spectrum-scale-csi-operator (2.3.0)
  operators/ibm-spectrum-scale-csi-operator/2.3.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operators/ibm-spectrum-scale-csi-operator/2.3.0/ibm-spectrum-scale-csi-operator.v2.3.0.clusterserviceversion.yaml
  operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#184 operators group-sync-operator (0.0.13)
  operators/group-sync-operator/0.0.13/Dockerfile
  operators/group-sync-operator/0.0.13/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.13/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.13/manifests/group-sync-operator-controller-manager_v1_serviceaccount.yaml
  operators/group-sync-operator/0.0.13/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.13/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.13/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.13/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.13/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.13/metadata/annotations.yaml
  operators/group-sync-operator/0.0.13/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#185 operators [N] [CI] sigstore-helm-operator (0.0.1)
  operators/sigstore-helm-operator/0.0.1/Dockerfile
  operators/sigstore-helm-operator/0.0.1/manifests/helm.sigstore.dev_rekors.yaml
  operators/sigstore-helm-operator/0.0.1/manifests/sigstore-helm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sigstore-helm-operator/0.0.1/manifests/sigstore-helm-operator-controller-manager_v1_serviceaccount.yaml
  operators/sigstore-helm-operator/0.0.1/manifests/sigstore-helm-operator-manager-config_v1_configmap.yaml
  operators/sigstore-helm-operator/0.0.1/manifests/sigstore-helm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sigstore-helm-operator/0.0.1/manifests/sigstore-helm-operator.clusterserviceversion.yaml
  operators/sigstore-helm-operator/0.0.1/metadata/annotations.yaml
  operators/sigstore-helm-operator/0.0.1/tests/scorecard/config.yaml
  operators/sigstore-helm-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#190 operators ibmcloud-operator (1.0.11)
  operators/ibmcloud-operator/1.0.11/apiextensions.k8s.io_v1beta1_customresourcedefinition_bindings.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.0.11/apiextensions.k8s.io_v1beta1_customresourcedefinition_services.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.0.11/ibmcloud_operator.v1.0.11.clusterserviceversion.yaml
  operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#191 operators poison-pill-operator (0.1.4)
  operators/poison-pill-operator/0.1.4/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill-manager-config_v1_configmap.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill.clusterserviceversion.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  operators/poison-pill-operator/0.1.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#192 operators redis-operator (0.8.0)
  operators/redis-operator/0.8.0/manifests/redis-operator.v0.8.0.clusterserviceversion.yaml
  operators/redis-operator/0.8.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.8.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.8.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#198 operators victoriametrics-operator (0.18.2)
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.18.2/victoriametrics-operator.0.18.2.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.18.2/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/victoriametrics-operator/0.18.2/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/victoriametrics-operator/0.18.2/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#196 operators [R] etcd (0.6.1 0.9.0 0.9.2 0.9.2-clusterwide 0.9.4 0.9.4-clusterwide)
  operators/etcd/0.6.1/etcdoperator.v0.6.1.clusterserviceversion.yaml
  operators/etcd/0.9.0/etcdoperator.v0.9.0.clusterserviceversion.yaml
  operators/etcd/0.9.2-clusterwide/etcdoperator.v0.9.2-clusterwide.clusterserviceversion.yaml
  operators/etcd/0.9.2/etcdoperator.v0.9.2.clusterserviceversion.yaml
  operators/etcd/0.9.4-clusterwide/etcdoperator.v0.9.4-clusterwide.clusterserviceversion.yaml
  operators/etcd/0.9.4/etcdoperator.v0.9.4.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#195 operators hyperfoil-bundle (0.15.0)
  operators/hyperfoil-bundle/0.15.0/hyperfoil-operator.v0.15.0.clusterserviceversion.yaml
  operators/hyperfoil-bundle/0.15.0/hyperfoil.io_hyperfoils_crd.yaml
  operators/hyperfoil-bundle/hyperfoil-bundle.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#194 operators [R] eclipse-che (7.34.0-all-namespaces 7.34.1-all-namespaces 7.34.2-all-namespaces 7.35.0-all-namespaces 7.35.1-all-namespaces 7.35.2-all-namespaces)
  operators/eclipse-che/7.34.0-all-namespaces/metadata/annotations.yaml
  operators/eclipse-che/7.34.0-all-namespaces/metadata/dependencies.yaml
  operators/eclipse-che/7.34.1-all-namespaces/metadata/annotations.yaml
  operators/eclipse-che/7.34.2-all-namespaces/metadata/annotations.yaml
  operators/eclipse-che/7.35.0-all-namespaces/metadata/annotations.yaml
  operators/eclipse-che/7.35.1-all-namespaces/metadata/annotations.yaml
  operators/eclipse-che/7.35.2-all-namespaces/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#206 operators hive-operator (1.1.16)
  operators/hive-operator/1.1.16/hive-operator.v1.1.16.clusterserviceversion.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.16/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.16/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.16/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#201 operators assisted-service-operator (0.1.0)
  operators/assisted-service-operator/0.1.0/agent-install.openshift.io_agents.yaml
  operators/assisted-service-operator/0.1.0/agent-install.openshift.io_agentserviceconfigs.yaml
  operators/assisted-service-operator/0.1.0/agent-install.openshift.io_infraenvs.yaml
  operators/assisted-service-operator/0.1.0/agent-install.openshift.io_nmstateconfigs.yaml
  operators/assisted-service-operator/0.1.0/assisted-service-operator.clusterserviceversion.yaml
  operators/assisted-service-operator/0.1.0/extensions.hive.openshift.io_agentclusterinstalls.yaml
  operators/assisted-service-operator/assisted-service.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#211 operators crane-operator (1.5.1)
  operators/crane-operator/1.5.1/manifests/backup.crd.yaml
  operators/crane-operator/1.5.1/manifests/backupstoragelocation.crd.yaml
  operators/crane-operator/1.5.1/manifests/crane-operator.v1.5.1.clusterserviceversion.yaml
  operators/crane-operator/1.5.1/manifests/deletebackuprequest.crd.yaml
  operators/crane-operator/1.5.1/manifests/downloadrequest.crd.yaml
  operators/crane-operator/1.5.1/manifests/migration.openshift.io_directimagemigrations.yaml
  operators/crane-operator/1.5.1/manifests/migration.openshift.io_directimagestreammigrations.yaml
  operators/crane-operator/1.5.1/manifests/migration.openshift.io_directvolumemigrationprogresses.yaml
  operators/crane-operator/1.5.1/manifests/migration.openshift.io_directvolumemigrations.yaml
  operators/crane-operator/1.5.1/manifests/migration.openshift.io_miganalytics.yaml
  operators/crane-operator/1.5.1/manifests/migration.openshift.io_migclusters.yaml
  operators/crane-operator/1.5.1/manifests/migration.openshift.io_mighooks.yaml
  operators/crane-operator/1.5.1/manifests/migration.openshift.io_migmigrations.yaml
  operators/crane-operator/1.5.1/manifests/migration.openshift.io_migplans.yaml
  operators/crane-operator/1.5.1/manifests/migration.openshift.io_migstorages.yaml
  operators/crane-operator/1.5.1/manifests/migrationcontroller.crd.yaml
  operators/crane-operator/1.5.1/manifests/podvolumebackup.crd.yaml
  operators/crane-operator/1.5.1/manifests/podvolumerestore.crd.yaml
  operators/crane-operator/1.5.1/manifests/resticrepository.crd.yaml
  operators/crane-operator/1.5.1/manifests/restore.crd.yaml
  operators/crane-operator/1.5.1/manifests/schedule.crd.yaml
  operators/crane-operator/1.5.1/manifests/serverstatusrequest.crd.yaml
  operators/crane-operator/1.5.1/manifests/volumesnapshotlocation.crd.yaml
  operators/crane-operator/1.5.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#174 operators azure-service-operator (1.0.28631)
  operators/azure-service-operator/1.0.28631/azure-service-operator.v1.0.28631.clusterserviceversion.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_apimgmtapis.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_apimservices.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_appinsights.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_appinsightsapikeys.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azureloadbalancers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azurenetworkinterfaces.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azurepublicipaddresses.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlactions.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqldatabases.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlfailovergroups.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlfirewallrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlmanagedusers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlservers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlusers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlvnetrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azurevirtualmachineextensions.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azurevirtualmachines.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azurevmscalesets.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_blobcontainers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_consumergroups.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_cosmosdbs.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_cosmosdbsqldatabases.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_eventhubnamespaces.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_eventhubs.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_keyvaultkeys.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_keyvaults.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlaadusers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqldatabases.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlfirewallrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlserveradministrators.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlservers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlusers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlvnetrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_postgresqldatabases.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_postgresqlfirewallrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_postgresqlservers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_postgresqlusers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_postgresqlvnetrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_rediscacheactions.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_rediscachefirewallrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_rediscaches.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_resourcegroups.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_storageaccounts.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_virtualnetworks.yaml
  operators/azure-service-operator/1.0.28631/azureoperator-controller-manager-metrics-service_v1_service.yaml
  operators/azure-service-operator/azure-service-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#158 operators [R] jaeger (1.25.0)
  operators/jaeger/1.25.0/jaeger.v1.25.0.clusterserviceversion.yaml
  operators/jaeger/1.25.0/jaegertracing.io_jaegers_crd.yaml
  operators/jaeger/jaeger.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#202 operators [R] [CI] datatrucker-operator (1.3.0 1.3.1)
  operators/datatrucker-operator/1.3.0/bundle.Dockerfile
  operators/datatrucker-operator/1.3.0/manifests/datatrucker-operator-controller-manager-metrics-service_v1_service.yaml
  operators/datatrucker-operator/1.3.0/manifests/datatrucker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/datatrucker-operator/1.3.0/manifests/datatrucker-operator.clusterserviceversion.yaml
  operators/datatrucker-operator/1.3.0/manifests/datatrucker.datatrucker.io_datatruckerconfigs.yaml
  operators/datatrucker-operator/1.3.0/manifests/datatrucker.datatrucker.io_datatruckerflows.yaml
  operators/datatrucker-operator/1.3.0/metadata/annotations.yaml
  operators/datatrucker-operator/1.3.0/tests/scorecard/config.yaml
  operators/datatrucker-operator/1.3.1/bundle.Dockerfile
  operators/datatrucker-operator/1.3.1/manifests/datatrucker-operator-controller-manager-metrics-service_v1_service.yaml
  operators/datatrucker-operator/1.3.1/manifests/datatrucker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/datatrucker-operator/1.3.1/manifests/datatrucker-operator.clusterserviceversion.yaml
  operators/datatrucker-operator/1.3.1/manifests/datatrucker.datatrucker.io_datatruckerconfigs.yaml
  operators/datatrucker-operator/1.3.1/manifests/datatrucker.datatrucker.io_datatruckerflows.yaml
  operators/datatrucker-operator/1.3.1/metadata/annotations.yaml
  operators/datatrucker-operator/1.3.1/tests/scorecard/config.yaml
  operators/datatrucker-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#199 operators camel-k (1.6.0)
  operators/camel-k/1.6.0/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/camel-k.v1.6.0.clusterserviceversion.yaml
  operators/camel-k/1.6.0/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#180 operators [R] [CI] multicluster-operators-subscription (0.3.2)
  operators/multicluster-operators-subscription/0.3.2/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.2/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.2/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.2/apps.open-cluster-management.io_gitopsclusters_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.3.2/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.2/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.2/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.2/multicluster-operators-subscription.v0.3.2.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/ci.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#213 operators crane-operator (1.4.7)
  operators/crane-operator/1.4.7/manifests/backup.crd.yaml
  operators/crane-operator/1.4.7/manifests/backupstoragelocation.crd.yaml
  operators/crane-operator/1.4.7/manifests/crane-operator.v1.4.7.clusterserviceversion.yaml
  operators/crane-operator/1.4.7/manifests/deletebackuprequest.crd.yaml
  operators/crane-operator/1.4.7/manifests/downloadrequest.crd.yaml
  operators/crane-operator/1.4.7/manifests/migration.openshift.io_directimagemigrations.yaml
  operators/crane-operator/1.4.7/manifests/migration.openshift.io_directimagestreammigrations.yaml
  operators/crane-operator/1.4.7/manifests/migration.openshift.io_directvolumemigrationprogresses.yaml
  operators/crane-operator/1.4.7/manifests/migration.openshift.io_directvolumemigrations.yaml
  operators/crane-operator/1.4.7/manifests/migration.openshift.io_miganalytics.yaml
  operators/crane-operator/1.4.7/manifests/migration.openshift.io_migclusters.yaml
  operators/crane-operator/1.4.7/manifests/migration.openshift.io_mighooks.yaml
  operators/crane-operator/1.4.7/manifests/migration.openshift.io_migmigrations.yaml
  operators/crane-operator/1.4.7/manifests/migration.openshift.io_migplans.yaml
  operators/crane-operator/1.4.7/manifests/migration.openshift.io_migstorages.yaml
  operators/crane-operator/1.4.7/manifests/migrationcontroller.crd.yaml
  operators/crane-operator/1.4.7/manifests/podvolumebackup.crd.yaml
  operators/crane-operator/1.4.7/manifests/podvolumerestore.crd.yaml
  operators/crane-operator/1.4.7/manifests/resticrepository.crd.yaml
  operators/crane-operator/1.4.7/manifests/restore.crd.yaml
  operators/crane-operator/1.4.7/manifests/schedule.crd.yaml
  operators/crane-operator/1.4.7/manifests/serverstatusrequest.crd.yaml
  operators/crane-operator/1.4.7/manifests/volumesnapshotlocation.crd.yaml
  operators/crane-operator/1.4.7/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#215 operators [CI] snyk-operator
  operators/snyk-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#218 operators portworx-essentials (1.5.1)
  operators/portworx-essentials/1.5.1/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.5.1/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.5.1/portworxoperator.v1.5.1.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#220 operators cluster-impairment-operator (1.0.3)
  operators/cluster-impairment-operator/1.0.3/manifests/apps.redhat.com_clusterimpairments.yaml
  operators/cluster-impairment-operator/1.0.3/manifests/cluster-impairment-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-impairment-operator/1.0.3/manifests/cluster-impairment-operator-manager-config_v1_configmap.yaml
  operators/cluster-impairment-operator/1.0.3/manifests/cluster-impairment-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-impairment-operator/1.0.3/manifests/cluster-impairment-operator.clusterserviceversion.yaml
  operators/cluster-impairment-operator/1.0.3/manifests/network-access-sa_v1_serviceaccount.yaml
  operators/cluster-impairment-operator/1.0.3/metadata/annotations.yaml
  operators/cluster-impairment-operator/1.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#219 operators [CI] datatrucker-operator (1.3.2)
  operators/datatrucker-operator/1.3.2/bundle.Dockerfile
  operators/datatrucker-operator/1.3.2/manifests/datatrucker-operator-controller-manager-metrics-service_v1_service.yaml
  operators/datatrucker-operator/1.3.2/manifests/datatrucker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/datatrucker-operator/1.3.2/manifests/datatrucker-operator.clusterserviceversion.yaml
  operators/datatrucker-operator/1.3.2/manifests/datatrucker.datatrucker.io_datatruckerconfigs.yaml
  operators/datatrucker-operator/1.3.2/manifests/datatrucker.datatrucker.io_datatruckerflows.yaml
  operators/datatrucker-operator/1.3.2/metadata/annotations.yaml
  operators/datatrucker-operator/1.3.2/tests/scorecard/config.yaml
  operators/datatrucker-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#217 operators kogito-operator (1.11.0)
  operators/kogito-operator/1.11.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.11.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.11.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.11.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.11.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.11.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.11.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.11.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.11.0/metadata/annotations.yaml
  operators/kogito-operator/1.11.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#221 operators universal-crossplane (1.3.1-up.1)
  operators/universal-crossplane/1.3.1-up.1/Dockerfile
  operators/universal-crossplane/1.3.1-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-admin.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-browse.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-edit.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-view.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane.serviceaccount.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/rbac-manager.serviceaccount.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/universal-crossplane-config.configmap.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/universal-crossplane.1.3.1-up.1.clusterserviceversion.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-secret.role.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-tls.secret.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-uxp-config.role.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent.service.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent.serviceaccount.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-bootstrapper.role.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/uxp-ca.secret.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/xgql-tls.secret.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/xgql.service.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/xgql.serviceaccount.yaml
  operators/universal-crossplane/1.3.1-up.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#226 operators community-windows-machine-config-operator (3.1.0)
  operators/community-windows-machine-config-operator/3.1.0/manifests/community-windows-machine-config-operator.3.1.0.clusterserviceversion.yaml
  operators/community-windows-machine-config-operator/3.1.0/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/3.1.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/3.1.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/community-windows-machine-config-operator/3.1.0/manifests/windows-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/community-windows-machine-config-operator/3.1.0/manifests/windows-exporter_v1_service.yaml
  operators/community-windows-machine-config-operator/3.1.0/manifests/windows-machine-config-operator_v1_serviceaccount.yaml
  operators/community-windows-machine-config-operator/3.1.0/manifests/windows-prometheus-k8s-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/community-windows-machine-config-operator/3.1.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#216 operators [R] [CI] apicurito (0.1.0 1.0.1)
  operators/apicurito/0.1.0/Dockerfile
  operators/apicurito/0.1.0/manifests/apicur.io_apicuritoes.yaml
  operators/apicurito/0.1.0/manifests/apicuritooperator.clusterserviceversion.yaml
  operators/apicurito/0.1.0/metadata/annotations.yaml
  operators/apicurito/0.1.0/tests/scorecard/config.yaml
  operators/apicurito/1.0.1/Dockerfile
  operators/apicurito/1.0.1/manifests/apicur.io_apicuritoes.yaml
  operators/apicurito/1.0.1/manifests/apicurito-operator-installer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/apicurito/1.0.1/manifests/apicurito.clusterserviceversion.yaml
  operators/apicurito/1.0.1/metadata/annotations.yaml
  operators/apicurito/1.0.1/tests/scorecard/config.yaml
  operators/apicurito/apicurito.package.yaml
  operators/apicurito/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#222 operators hyperfoil-bundle (0.15.1)
  operators/hyperfoil-bundle/0.15.1/hyperfoil-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hyperfoil-bundle/0.15.1/hyperfoil-operator-manager-config_v1_configmap.yaml
  operators/hyperfoil-bundle/0.15.1/hyperfoil-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hyperfoil-bundle/0.15.1/hyperfoil-operator.clusterserviceversion.yaml
  operators/hyperfoil-bundle/0.15.1/hyperfoil.io_hyperfoils.yaml
  operators/hyperfoil-bundle/hyperfoil-bundle.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#225 operators [CI] hyperfoil-bundle
  operators/hyperfoil-bundle/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#209 operators special-resource-operator (4.8.1)
  operators/special-resource-operator/4.8.1/Dockerfile
  operators/special-resource-operator/4.8.1/manifests/special-resource-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/special-resource-operator/4.8.1/manifests/special-resource-controller-manager-metrics-service_v1_service.yaml
  operators/special-resource-operator/4.8.1/manifests/special-resource-dependencies_v1_configmap.yaml
  operators/special-resource-operator/4.8.1/manifests/special-resource-lifecycle_v1_configmap.yaml
  operators/special-resource-operator/4.8.1/manifests/special-resource-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/special-resource-operator/4.8.1/manifests/special-resource-operator.clusterserviceversion.yaml
  operators/special-resource-operator/4.8.1/manifests/special-resource-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/special-resource-operator/4.8.1/manifests/special-resource-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/special-resource-operator/4.8.1/manifests/sro.openshift.io_specialresources.yaml
  operators/special-resource-operator/4.8.1/metadata/annotations.yaml
  operators/special-resource-operator/4.8.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#230 operators flux (0.17.1)
  operators/flux/0.17.1/manifests/alert.crd.yaml
  operators/flux/0.17.1/manifests/bucket.crd.yaml
  operators/flux/0.17.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.17.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.17.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.17.1/manifests/flux.v0.17.1.clusterserviceversion.yaml
  operators/flux/0.17.1/manifests/gitrepository.crd.yaml
  operators/flux/0.17.1/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/helmchart.crd.yaml
  operators/flux/0.17.1/manifests/helmrelease.crd.yaml
  operators/flux/0.17.1/manifests/helmrepository.crd.yaml
  operators/flux/0.17.1/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.17.1/manifests/imagerepository.crd.yaml
  operators/flux/0.17.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.17.1/manifests/kustomization.crd.yaml
  operators/flux/0.17.1/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/notification-controller.service.yaml
  operators/flux/0.17.1/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/provider.crd.yaml
  operators/flux/0.17.1/manifests/receiver.crd.yaml
  operators/flux/0.17.1/manifests/source-controller.service.yaml
  operators/flux/0.17.1/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.17.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#227 operators hive-operator (1.2.3179-0756b70e6)
  operators/hive-operator/1.2.3179-0756b70e6/hive-operator.v1.2.3179-0756b70e6.clusterserviceversion.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#224 operators [O] assisted-service-operator (0.0.7)
  operators/assisted-service-operator/0.0.7/assisted-service-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#238 operators [O] universal-crossplane (1.3.1-up.1)
  operators/universal-crossplane/1.3.1-up.1/manifests/universal-crossplane.1.3.1-up.1.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#243 operators rhoas-operator (0.7.9)
  operators/rhoas-operator/0.7.9/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  operators/rhoas-operator/0.7.9/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  operators/rhoas-operator/0.7.9/manifests/rhoas-operator.clusterserviceversion.yaml
  operators/rhoas-operator/0.7.9/manifests/rhoas-operator.kafkaconnections.crd.yaml
  operators/rhoas-operator/0.7.9/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#231 operators [N] [CI] gitops-primer (0.0.1)
  operators/gitops-primer/0.0.1/manifests/gitops-primer-controller-manager-metrics-service_v1_service.yaml
  operators/gitops-primer/0.0.1/manifests/gitops-primer-manager-config_v1_configmap.yaml
  operators/gitops-primer/0.0.1/manifests/gitops-primer-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitops-primer/0.0.1/manifests/gitops-primer-webhook-service_v1_service.yaml
  operators/gitops-primer/0.0.1/manifests/gitops-primer.clusterserviceversion.yaml
  operators/gitops-primer/0.0.1/manifests/primer.gitops.io_exports.yaml
  operators/gitops-primer/0.0.1/metadata/annotations.yaml
  operators/gitops-primer/0.0.1/tests/scorecard/config.yaml
  operators/gitops-primer/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#240 operators kogito-operator (1.11.1)
  operators/kogito-operator/1.11.1/Dockerfile
  operators/kogito-operator/1.11.1/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.11.1/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.11.1/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.11.1/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.11.1/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.11.1/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.11.1/metadata/annotations.yaml
  operators/kogito-operator/1.11.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#244 operators [N] gitops-primer (0.0.1)
  operators/gitops-primer/0.0.1/manifests/gitops-primer.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#245 operators rhoas-operator (0.7.10)
  operators/rhoas-operator/0.7.10/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  operators/rhoas-operator/0.7.10/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  operators/rhoas-operator/0.7.10/manifests/rhoas-operator.clusterserviceversion.yaml
  operators/rhoas-operator/0.7.10/manifests/rhoas-operator.kafkaconnections.crd.yaml
  operators/rhoas-operator/0.7.10/manifests/service-binding.clusterrole.yaml
  operators/rhoas-operator/0.7.10/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#239 operators multicluster-operators-subscription (0.3.3)
  operators/multicluster-operators-subscription/0.3.3/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.3/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.3/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.3/apps.open-cluster-management.io_gitopsclusters_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.3.3/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.3/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.3/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.3/multicluster-operators-subscription.v0.3.3.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#247 operators cluster-impairment-operator (1.0.4)
  operators/cluster-impairment-operator/1.0.4/manifests/apps.redhat.com_clusterimpairments.yaml
  operators/cluster-impairment-operator/1.0.4/manifests/cluster-impairment-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-impairment-operator/1.0.4/manifests/cluster-impairment-operator-manager-config_v1_configmap.yaml
  operators/cluster-impairment-operator/1.0.4/manifests/cluster-impairment-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-impairment-operator/1.0.4/manifests/cluster-impairment-operator.clusterserviceversion.yaml
  operators/cluster-impairment-operator/1.0.4/manifests/network-access-sa_v1_serviceaccount.yaml
  operators/cluster-impairment-operator/1.0.4/metadata/annotations.yaml
  operators/cluster-impairment-operator/1.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#248 operators global-load-balancer-operator (1.4.0)
  operators/global-load-balancer-operator/1.4.0/Dockerfile
  operators/global-load-balancer-operator/1.4.0/manifests/externaldns.k8s.io_dnsendpoints.yaml
  operators/global-load-balancer-operator/1.4.0/manifests/global-load-balancer-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/global-load-balancer-operator/1.4.0/manifests/global-load-balancer-operator-controller-manager-metrics_v1_service.yaml
  operators/global-load-balancer-operator/1.4.0/manifests/global-load-balancer-operator-controller-manager_v1_serviceaccount.yaml
  operators/global-load-balancer-operator/1.4.0/manifests/global-load-balancer-operator-manager-config_v1_configmap.yaml
  operators/global-load-balancer-operator/1.4.0/manifests/global-load-balancer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/global-load-balancer-operator/1.4.0/manifests/global-load-balancer-operator.clusterserviceversion.yaml
  operators/global-load-balancer-operator/1.4.0/manifests/redhatcop.redhat.io_globaldnsrecords.yaml
  operators/global-load-balancer-operator/1.4.0/manifests/redhatcop.redhat.io_globaldnszones.yaml
  operators/global-load-balancer-operator/1.4.0/manifests/redhatcop.redhat.io_globalroutediscoveries.yaml
  operators/global-load-balancer-operator/1.4.0/metadata/annotations.yaml
  operators/global-load-balancer-operator/1.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#250 operators [O] assisted-service-operator (0.1.0)
  operators/assisted-service-operator/0.1.0/assisted-service-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#249 fix ember-csi-community-operator (0.9.1)
  operators/ember-csi-community-operator/0.9.1/items
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#251 operators [N] gitops-primer (0.0.1)
  operators/gitops-primer/0.0.1/manifests/gitops-primer.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#257 operators [CI] multicluster-operators-subscription (0.3.4)
  operators/multicluster-operators-subscription/0.3.4/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.4/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.4/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.4/apps.open-cluster-management.io_gitopsclusters_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.4/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.4/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.4/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.4/multicluster-operators-subscription.v0.3.4.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/ci.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#259 operators [CI] portworx-essentials
  operators/portworx-essentials/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#258 operators portworx-essentials (1.5.2)
  operators/portworx-essentials/1.5.2/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.5.2/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.5.2/portworxoperator.v1.5.2.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#261 operators [R] assisted-service-operator (0.0.4 0.0.5 0.0.6 0.0.7)
  operators/assisted-service-operator/0.0.4/assisted-service-operator.clusterserviceversion.yaml
  operators/assisted-service-operator/0.0.5/assisted-service-operator.clusterserviceversion.yaml
  operators/assisted-service-operator/0.0.6/assisted-service-operator.clusterserviceversion.yaml
  operators/assisted-service-operator/0.0.7/assisted-service-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#260 operators [O] [R] assisted-service-operator (0.0.7)
  operators/assisted-service-operator/0.0.7/assisted-service-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#232 operators [CI] datadog-operator (0.7.0)
  operators/datadog-operator/0.7.0/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/0.7.0/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/0.7.0/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/0.7.0/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/ci.yaml
  operators/datadog-operator/datadog-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#262 operators kiali (1.40.1)
  operators/kiali/1.40.1/bundle.Dockerfile
  operators/kiali/1.40.1/manifests/kiali.crd.yaml
  operators/kiali/1.40.1/manifests/kiali.v1.40.1.clusterserviceversion.yaml
  operators/kiali/1.40.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#264 Fix annotations spaces
  operators/oadp-operator/0.2.3/metadata/annotations.yaml
  operators/oadp-operator/0.2.5/metadata/annotations.yaml
  operators/oadp-operator/0.2.6/metadata/annotations.yaml
Labels: openshift-operator

#265 operators [O] assisted-service-operator (0.0.7)
  operators/assisted-service-operator/0.0.7/assisted-service-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#266 operators assisted-service-operator (0.0.8)
  operators/assisted-service-operator/0.0.8/agent-install.openshift.io_agents.yaml
  operators/assisted-service-operator/0.0.8/agent-install.openshift.io_agentserviceconfigs.yaml
  operators/assisted-service-operator/0.0.8/agent-install.openshift.io_infraenvs.yaml
  operators/assisted-service-operator/0.0.8/agent-install.openshift.io_nmstateconfigs.yaml
  operators/assisted-service-operator/0.0.8/assisted-service-operator.clusterserviceversion.yaml
  operators/assisted-service-operator/0.0.8/extensions.hive.openshift.io_agentclusterinstalls.yaml
  operators/assisted-service-operator/assisted-service.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#267 operators flux (0.17.2)
  operators/flux/0.17.2/manifests/alert.crd.yaml
  operators/flux/0.17.2/manifests/bucket.crd.yaml
  operators/flux/0.17.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.17.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.17.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.17.2/manifests/flux.v0.17.2.clusterserviceversion.yaml
  operators/flux/0.17.2/manifests/gitrepository.crd.yaml
  operators/flux/0.17.2/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/helmchart.crd.yaml
  operators/flux/0.17.2/manifests/helmrelease.crd.yaml
  operators/flux/0.17.2/manifests/helmrepository.crd.yaml
  operators/flux/0.17.2/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.17.2/manifests/imagerepository.crd.yaml
  operators/flux/0.17.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.17.2/manifests/kustomization.crd.yaml
  operators/flux/0.17.2/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/notification-controller.service.yaml
  operators/flux/0.17.2/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/provider.crd.yaml
  operators/flux/0.17.2/manifests/receiver.crd.yaml
  operators/flux/0.17.2/manifests/source-controller.service.yaml
  operators/flux/0.17.2/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.17.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#271 operators [CI] victoriametrics-operator (0.19.0)
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.19.0/victoriametrics-operator.0.19.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.19.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/ci.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#268 operators oadp-operator (0.3.0)
  operators/oadp-operator/0.3.0/manifests/backup.crd.yaml
  operators/oadp-operator/0.3.0/manifests/backupstoragelocation.crd.yaml
  operators/oadp-operator/0.3.0/manifests/deletebackuprequest.crd.yaml
  operators/oadp-operator/0.3.0/manifests/downloadrequest.crd.yaml
  operators/oadp-operator/0.3.0/manifests/oadp-operator.v0.3.0.clusterserviceversion.yaml
  operators/oadp-operator/0.3.0/manifests/podvolumebackup.crd.yaml
  operators/oadp-operator/0.3.0/manifests/podvolumerestore.crd.yaml
  operators/oadp-operator/0.3.0/manifests/resticrepository.crd.yaml
  operators/oadp-operator/0.3.0/manifests/restore.crd.yaml
  operators/oadp-operator/0.3.0/manifests/schedule.crd.yaml
  operators/oadp-operator/0.3.0/manifests/serverstatusrequest.crd.yaml
  operators/oadp-operator/0.3.0/manifests/veleroes.crd.yaml
  operators/oadp-operator/0.3.0/manifests/volumesnapshotlocation.crd.yaml
  operators/oadp-operator/0.3.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#246 operators [N] [CI] nfs-provisioner-operator (0.0.2)
  operators/nfs-provisioner-operator/0.0.2/Dockerfile
  operators/nfs-provisioner-operator/0.0.2/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.2/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.2/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.2/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.2/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.2/tests/scorecard/config.yaml
  operators/nfs-provisioner-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#272 operators [R] ditto-operator (0.1.0 0.1.1 0.2.0 0.3.1)
  operators/ditto-operator/0.1.0/Dockerfile
  operators/ditto-operator/0.1.0/manifests/ditto-operator.v0.1.0.clusterserviceversion.yaml
  operators/ditto-operator/0.1.0/manifests/ditto.yaml
  operators/ditto-operator/0.1.0/metadata/annotations.yaml
  operators/ditto-operator/0.1.0/tests/scorecard/config.yaml
  operators/ditto-operator/0.1.1/Dockerfile
  operators/ditto-operator/0.1.1/manifests/ditto-operator.v0.1.1.clusterserviceversion.yaml
  operators/ditto-operator/0.1.1/manifests/ditto.yaml
  operators/ditto-operator/0.1.1/metadata/annotations.yaml
  operators/ditto-operator/0.1.1/tests/scorecard/config.yaml
  operators/ditto-operator/0.2.0/Dockerfile
  operators/ditto-operator/0.2.0/manifests/ditto-operator.v0.2.0.clusterserviceversion.yaml
  operators/ditto-operator/0.2.0/manifests/ditto.yaml
  operators/ditto-operator/0.2.0/metadata/annotations.yaml
  operators/ditto-operator/0.2.0/tests/scorecard/config.yaml
  operators/ditto-operator/0.3.1/Dockerfile
  operators/ditto-operator/0.3.1/manifests/ditto-operator.v0.3.1.clusterserviceversion.yaml
  operators/ditto-operator/0.3.1/manifests/ditto.yaml
  operators/ditto-operator/0.3.1/metadata/annotations.yaml
  operators/ditto-operator/0.3.1/tests/scorecard/config.yaml
  operators/ditto-operator/ditto-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#275 operators nfs-provisioner-operator (0.0.3)
  operators/nfs-provisioner-operator/0.0.3/Dockerfile
  operators/nfs-provisioner-operator/0.0.3/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.3/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.3/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.3/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.3/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.3/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#276 operators [CI] hive-operator (1.2.3222-1411793)
  operators/hive-operator/1.2.3222-1411793/hive-operator.v1.2.3222-1411793.clusterserviceversion.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3222-1411793/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3222-1411793/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3222-1411793/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/ci.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#278 operators multicluster-operators-subscription (0.3.5)
  operators/multicluster-operators-subscription/0.3.5/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.5/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.5/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.5/apps.open-cluster-management.io_gitopsclusters_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.5/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.5/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.5/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.5/multicluster-operators-subscription.v0.3.5.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#279 operators [CI] kubeturbo (8.2.0)
  operators/kubeturbo/8.2.0/kubeturbo-operator.v8.2.0.clusterserviceversion.yaml
  operators/kubeturbo/8.2.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/ci.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#274 operators crane-operator (1.6.0)
  operators/crane-operator/1.6.0/manifests/backup.crd.yaml
  operators/crane-operator/1.6.0/manifests/backupstoragelocation.crd.yaml
  operators/crane-operator/1.6.0/manifests/crane-operator.v1.6.0.clusterserviceversion.yaml
  operators/crane-operator/1.6.0/manifests/deletebackuprequest.crd.yaml
  operators/crane-operator/1.6.0/manifests/downloadrequest.crd.yaml
  operators/crane-operator/1.6.0/manifests/migration.openshift.io_directimagemigrations.yaml
  operators/crane-operator/1.6.0/manifests/migration.openshift.io_directimagestreammigrations.yaml
  operators/crane-operator/1.6.0/manifests/migration.openshift.io_directvolumemigrationprogresses.yaml
  operators/crane-operator/1.6.0/manifests/migration.openshift.io_directvolumemigrations.yaml
  operators/crane-operator/1.6.0/manifests/migration.openshift.io_miganalytics.yaml
  operators/crane-operator/1.6.0/manifests/migration.openshift.io_migclusters.yaml
  operators/crane-operator/1.6.0/manifests/migration.openshift.io_mighooks.yaml
  operators/crane-operator/1.6.0/manifests/migration.openshift.io_migmigrations.yaml
  operators/crane-operator/1.6.0/manifests/migration.openshift.io_migplans.yaml
  operators/crane-operator/1.6.0/manifests/migration.openshift.io_migstorages.yaml
  operators/crane-operator/1.6.0/manifests/migrationcontroller.crd.yaml
  operators/crane-operator/1.6.0/manifests/podvolumebackup.crd.yaml
  operators/crane-operator/1.6.0/manifests/podvolumerestore.crd.yaml
  operators/crane-operator/1.6.0/manifests/resticrepository.crd.yaml
  operators/crane-operator/1.6.0/manifests/restore.crd.yaml
  operators/crane-operator/1.6.0/manifests/schedule.crd.yaml
  operators/crane-operator/1.6.0/manifests/serverstatusrequest.crd.yaml
  operators/crane-operator/1.6.0/manifests/volumesnapshotlocation.crd.yaml
  operators/crane-operator/1.6.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#273 operators ibm-block-csi-operator-community (1.7.0)
  operators/ibm-block-csi-operator-community/1.7.0/bundle-1.7.0.Dockerfile
  operators/ibm-block-csi-operator-community/1.7.0/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.7.0/manifests/ibm-block-csi-operator.v1.7.0.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.7.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#281 operators multicluster-operators-subscription (0.3.6)
  operators/multicluster-operators-subscription/0.3.6/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.6/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.6/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.6/apps.open-cluster-management.io_gitopsclusters_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.6/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.6/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.6/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.6/multicluster-operators-subscription.v0.3.6.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#181 operators [CI] t8c (8.2.0)
  operators/t8c/8.2.0/t8c-operator.v8.2.0.clusterserviceversion.yaml
  operators/t8c/8.2.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/ci.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#280 operators kubeturbo (8.3.0)
  operators/kubeturbo/8.3.0/kubeturbo-operator.v8.3.0.clusterserviceversion.yaml
  operators/kubeturbo/8.3.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#286 operators hive-operator (2.4.3180-7299056)
  operators/hive-operator/2.4.3180-7299056/hive-operator.v2.4.3180-7299056.clusterserviceversion.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3180-7299056/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3180-7299056/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3180-7299056/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9
