Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2021-12, with the labels that each got.

#490 operators flux (0.24.0)
  operators/flux/0.24.0/manifests/alert.crd.yaml
  operators/flux/0.24.0/manifests/bucket.crd.yaml
  operators/flux/0.24.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.24.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.24.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.24.0/manifests/flux.v0.24.0.clusterserviceversion.yaml
  operators/flux/0.24.0/manifests/gitrepository.crd.yaml
  operators/flux/0.24.0/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/helmchart.crd.yaml
  operators/flux/0.24.0/manifests/helmrelease.crd.yaml
  operators/flux/0.24.0/manifests/helmrepository.crd.yaml
  operators/flux/0.24.0/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.24.0/manifests/imagerepository.crd.yaml
  operators/flux/0.24.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.24.0/manifests/kustomization.crd.yaml
  operators/flux/0.24.0/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/notification-controller.service.yaml
  operators/flux/0.24.0/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/provider.crd.yaml
  operators/flux/0.24.0/manifests/receiver.crd.yaml
  operators/flux/0.24.0/manifests/source-controller.service.yaml
  operators/flux/0.24.0/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.24.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#454 operators [O] kubeturbo (8.3.3)
  operators/kubeturbo/8.3.3/kubeturbo-operator.v8.3.3.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#491 operators grafana-operator (4.1.0)
  operators/grafana-operator/4.1.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.1.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.1.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.1.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.1.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.1.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.1.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.1.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#492 operators oadp-operator (0.5.1)
  operators/oadp-operator/0.5.1/manifests/dpa-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.1/manifests/dpa-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.1/manifests/oadp-operator.clusterserviceversion.yaml
  operators/oadp-operator/0.5.1/manifests/oadp.openshift.io_cloudstorages.yaml
  operators/oadp-operator/0.5.1/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  operators/oadp-operator/0.5.1/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  operators/oadp-operator/0.5.1/manifests/openshift-adp-manager-config_v1_configmap.yaml
  operators/oadp-operator/0.5.1/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_backups.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_backupstoragelocations.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_deletebackuprequests.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_downloadrequests.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_podvolumebackups.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_podvolumerestores.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_resticrepositories.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_restores.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_schedules.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_serverstatusrequests.yaml
  operators/oadp-operator/0.5.1/manifests/velero.io_volumesnapshotlocations.yaml
  operators/oadp-operator/0.5.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#487 operators [R] postgresql (5.0.2 5.0.3 5.0.4)
  operators/postgresql/5.0.2/metadata/annotations.yaml
  operators/postgresql/5.0.3/metadata/annotations.yaml
  operators/postgresql/5.0.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#496 operators cert-utils-operator (1.3.2)
  operators/cert-utils-operator/1.3.2/Dockerfile
  operators/cert-utils-operator/1.3.2/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.2/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  operators/cert-utils-operator/1.3.2/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.2/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.2/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.2/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#495 operators keepalived-operator (1.4.2)
  operators/keepalived-operator/1.4.2/Dockerfile
  operators/keepalived-operator/1.4.2/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/keepalived-operator/1.4.2/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  operators/keepalived-operator/1.4.2/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  operators/keepalived-operator/1.4.2/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keepalived-operator/1.4.2/manifests/keepalived-operator.clusterserviceversion.yaml
  operators/keepalived-operator/1.4.2/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  operators/keepalived-operator/1.4.2/metadata/annotations.yaml
  operators/keepalived-operator/1.4.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#497 operators namespace-configuration-operator (1.2.2)
  operators/namespace-configuration-operator/1.2.2/Dockerfile
  operators/namespace-configuration-operator/1.2.2/manifests/namespace-configuration-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/namespace-configuration-operator/1.2.2/manifests/namespace-configuration-operator-controller-manager-metrics_v1_service.yaml
  operators/namespace-configuration-operator/1.2.2/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  operators/namespace-configuration-operator/1.2.2/manifests/namespace-configuration-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/namespace-configuration-operator/1.2.2/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  operators/namespace-configuration-operator/1.2.2/manifests/redhatcop.redhat.io_groupconfigs.yaml
  operators/namespace-configuration-operator/1.2.2/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  operators/namespace-configuration-operator/1.2.2/manifests/redhatcop.redhat.io_userconfigs.yaml
  operators/namespace-configuration-operator/1.2.2/metadata/annotations.yaml
  operators/namespace-configuration-operator/1.2.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#500 operators egressip-ipam-operator (1.2.2)
  operators/egressip-ipam-operator/1.2.2/Dockerfile
  operators/egressip-ipam-operator/1.2.2/manifests/egressip-ipam-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/egressip-ipam-operator/1.2.2/manifests/egressip-ipam-operator-controller-manager-metrics_v1_service.yaml
  operators/egressip-ipam-operator/1.2.2/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  operators/egressip-ipam-operator/1.2.2/manifests/egressip-ipam-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/egressip-ipam-operator/1.2.2/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  operators/egressip-ipam-operator/1.2.2/manifests/redhatcop.redhat.io_egressipams.yaml
  operators/egressip-ipam-operator/1.2.2/metadata/annotations.yaml
  operators/egressip-ipam-operator/1.2.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#501 operators global-load-balancer-operator (1.4.2)
  operators/global-load-balancer-operator/1.4.2/Dockerfile
  operators/global-load-balancer-operator/1.4.2/manifests/externaldns.k8s.io_dnsendpoints.yaml
  operators/global-load-balancer-operator/1.4.2/manifests/global-load-balancer-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/global-load-balancer-operator/1.4.2/manifests/global-load-balancer-operator-controller-manager-metrics_v1_service.yaml
  operators/global-load-balancer-operator/1.4.2/manifests/global-load-balancer-operator-manager-config_v1_configmap.yaml
  operators/global-load-balancer-operator/1.4.2/manifests/global-load-balancer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/global-load-balancer-operator/1.4.2/manifests/global-load-balancer-operator.clusterserviceversion.yaml
  operators/global-load-balancer-operator/1.4.2/manifests/redhatcop.redhat.io_globaldnsrecords.yaml
  operators/global-load-balancer-operator/1.4.2/manifests/redhatcop.redhat.io_globaldnszones.yaml
  operators/global-load-balancer-operator/1.4.2/manifests/redhatcop.redhat.io_globalroutediscoveries.yaml
  operators/global-load-balancer-operator/1.4.2/metadata/annotations.yaml
  operators/global-load-balancer-operator/1.4.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#498 operators volume-expander-operator (0.3.2)
  operators/volume-expander-operator/0.3.2/Dockerfile
  operators/volume-expander-operator/0.3.2/manifests/volume-expander-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/volume-expander-operator/0.3.2/manifests/volume-expander-operator-controller-manager-metrics_v1_service.yaml
  operators/volume-expander-operator/0.3.2/manifests/volume-expander-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/volume-expander-operator/0.3.2/manifests/volume-expander-operator.clusterserviceversion.yaml
  operators/volume-expander-operator/0.3.2/metadata/annotations.yaml
  operators/volume-expander-operator/0.3.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#499 operators must-gather-operator (1.1.2)
  operators/must-gather-operator/1.1.2/Dockerfile
  operators/must-gather-operator/1.1.2/manifests/must-gather-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/must-gather-operator/1.1.2/manifests/must-gather-operator-controller-manager-metrics_v1_service.yaml
  operators/must-gather-operator/1.1.2/manifests/must-gather-operator-manager-config_v1_configmap.yaml
  operators/must-gather-operator/1.1.2/manifests/must-gather-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/must-gather-operator/1.1.2/manifests/must-gather-operator.clusterserviceversion.yaml
  operators/must-gather-operator/1.1.2/manifests/redhatcop.redhat.io_mustgathers.yaml
  operators/must-gather-operator/1.1.2/metadata/annotations.yaml
  operators/must-gather-operator/1.1.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#502 operators [CI] t8c (42.4.0)
  operators/t8c/42.4.0/t8c-operator.v42.4.0.clusterserviceversion.yaml
  operators/t8c/42.4.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/ci.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#504 operators dell-csi-operator (1.6.0)
  operators/dell-csi-operator/1.6.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/dell-csi-operator.v1.6.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#505 operators hive-operator (1.2.3375-1f0f3eb)
  operators/hive-operator/1.2.3375-1f0f3eb/hive-operator.v1.2.3375-1f0f3eb.clusterserviceversion.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#506 operators kiali (1.44.0)
  operators/kiali/1.44.0/bundle.Dockerfile
  operators/kiali/1.44.0/manifests/kiali.crd.yaml
  operators/kiali/1.44.0/manifests/kiali.v1.44.0.clusterserviceversion.yaml
  operators/kiali/1.44.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#507 operators hive-operator (2.4.3199-cce4cb9)
  operators/hive-operator/2.4.3199-cce4cb9/hive-operator.v2.4.3199-cce4cb9.clusterserviceversion.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#508 operators pulp-operator (0.6.0)
  operators/pulp-operator/0.6.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator.v0.6.0.clusterserviceversion.yaml
  operators/pulp-operator/0.6.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.6.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.6.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.6.0/metadata/annotations.yaml
  operators/pulp-operator/0.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#331 operators community-windows-machine-config-operator (3.1.1)
  operators/community-windows-machine-config-operator/3.1.1/manifests/community-windows-machine-config-operator.3.1.1.clusterserviceversion.yaml
  operators/community-windows-machine-config-operator/3.1.1/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/3.1.1/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/3.1.1/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/community-windows-machine-config-operator/3.1.1/manifests/windows-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/community-windows-machine-config-operator/3.1.1/manifests/windows-exporter_v1_service.yaml
  operators/community-windows-machine-config-operator/3.1.1/manifests/windows-prometheus-k8s-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/community-windows-machine-config-operator/3.1.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.7, installation-validated-4.6, installation-failed-4.8, installation-validated-4.9

#494 operators opentelemetry-operator (0.39.0)
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.39.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.39.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#511 operators [CI] nexus-operator-m88i (0.6.0)
  operators/nexus-operator-m88i/0.6.0/apps.m88i.io_nexus.yaml
  operators/nexus-operator-m88i/0.6.0/nexus-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/nexus-operator-m88i/0.6.0/nexus-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nexus-operator-m88i/0.6.0/nexus-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/nexus-operator-m88i/0.6.0/nexus-operator.clusterserviceversion.yaml
  operators/nexus-operator-m88i/ci.yaml
  operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#514 operators opentelemetry-operator (0.40.0)
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.40.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.40.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#516 operators pulp-operator (0.6.1)
  operators/pulp-operator/0.6.1/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator.v0.6.1.clusterserviceversion.yaml
  operators/pulp-operator/0.6.1/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.6.1/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.6.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.6.1/metadata/annotations.yaml
  operators/pulp-operator/0.6.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#519 operators koku-metrics-operator (1.1.1)
  operators/koku-metrics-operator/1.1.1/Dockerfile
  operators/koku-metrics-operator/1.1.1/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/1.1.1/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/1.1.1/metadata/annotations.yaml
  operators/koku-metrics-operator/1.1.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#503 operators ibm-spectrum-scale-csi-operator (2.4.0)
  operators/ibm-spectrum-scale-csi-operator/2.4.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operators/ibm-spectrum-scale-csi-operator/2.4.0/ibm-spectrum-scale-csi-operator.v2.4.0.clusterserviceversion.yaml
  operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#521 operators rhoas-operator (0.9.5)
  operators/rhoas-operator/0.9.5/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  operators/rhoas-operator/0.9.5/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  operators/rhoas-operator/0.9.5/manifests/rhoas-operator.clusterserviceversion.yaml
  operators/rhoas-operator/0.9.5/manifests/rhoas-operator.kafkaconnections.crd.yaml
  operators/rhoas-operator/0.9.5/manifests/rhoas-operator.serviceregistryconnections.crd.yaml
  operators/rhoas-operator/0.9.5/manifests/service-binding.clusterrole.yaml
  operators/rhoas-operator/0.9.5/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#523 operators flux (0.24.1)
  operators/flux/0.24.1/manifests/alert.crd.yaml
  operators/flux/0.24.1/manifests/bucket.crd.yaml
  operators/flux/0.24.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.24.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.24.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.24.1/manifests/flux.v0.24.1.clusterserviceversion.yaml
  operators/flux/0.24.1/manifests/gitrepository.crd.yaml
  operators/flux/0.24.1/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/helmchart.crd.yaml
  operators/flux/0.24.1/manifests/helmrelease.crd.yaml
  operators/flux/0.24.1/manifests/helmrepository.crd.yaml
  operators/flux/0.24.1/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.24.1/manifests/imagerepository.crd.yaml
  operators/flux/0.24.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.24.1/manifests/kustomization.crd.yaml
  operators/flux/0.24.1/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/notification-controller.service.yaml
  operators/flux/0.24.1/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/provider.crd.yaml
  operators/flux/0.24.1/manifests/receiver.crd.yaml
  operators/flux/0.24.1/manifests/source-controller.service.yaml
  operators/flux/0.24.1/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.24.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#525 operators infinispan (2.2.2)
  operators/infinispan/2.2.2/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.2.2/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.2.2/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.2.2/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.2.2/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.2.2/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.2.2/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.2.2/metadata/annotations.yaml
  operators/infinispan/2.2.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#526 operators hive-operator (1.2.3391-55f6363)
  operators/hive-operator/1.2.3391-55f6363/hive-operator.v1.2.3391-55f6363.clusterserviceversion.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3391-55f6363/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3391-55f6363/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3391-55f6363/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#528 operators kogito-operator (1.14.0)
  operators/kogito-operator/1.14.0/Dockerfile
  operators/kogito-operator/1.14.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.14.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.14.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.14.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.14.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.14.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.14.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.14.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.14.0/metadata/annotations.yaml
  operators/kogito-operator/1.14.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#529 operators [CI] ack-iam-controller
  operators/ack-iam-controller/ci.yaml
Labels: openshift-operator

#530 operators strimzi-kafka-operator (0.26.1)
  operators/strimzi-kafka-operator/0.26.1/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/strimzi-cluster-operator.v0.26.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.26.1/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.26.1/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.26.1/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.26.1/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#524 operators [CI] ibm-block-csi-operator-community (1.8.0)
  operators/ibm-block-csi-operator-community/1.8.0/bundle-1.8.0.Dockerfile
  operators/ibm-block-csi-operator-community/1.8.0/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.8.0/manifests/ibm-block-csi-operator.v1.8.0.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.8.0/metadata/annotations.yaml
  operators/ibm-block-csi-operator-community/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#527 operators infinispan (2.1.6)
  operators/infinispan/2.1.6/bundle.Dockerfile
  operators/infinispan/2.1.6/manifests/infinispan-operator.v2.1.6.clusterserviceversion.yaml
  operators/infinispan/2.1.6/manifests/infinispan.org_backups_crd.yaml
  operators/infinispan/2.1.6/manifests/infinispan.org_batches_crd.yaml
  operators/infinispan/2.1.6/manifests/infinispan.org_caches_crd.yaml
  operators/infinispan/2.1.6/manifests/infinispan.org_infinispans_crd.yaml
  operators/infinispan/2.1.6/manifests/infinispan.org_restores_crd.yaml
  operators/infinispan/2.1.6/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#531 operators keycloak-operator (15.1.0)
  operators/keycloak-operator/15.1.0/bundle.Dockerfile
  operators/keycloak-operator/15.1.0/manifests/keycloak-operator.v15.1.0.clusterserviceversion.yaml
  operators/keycloak-operator/15.1.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#533 operators yaks (0.7.0)
  operators/yaks/0.7.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.7.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.7.0/yaks.v0.7.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#535 operators multicluster-operators-subscription (0.3.8)
  operators/multicluster-operators-subscription/0.3.8/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.8/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.8/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.8/apps.open-cluster-management.io_gitopsclusters_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.8/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.8/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.8/apps.open-cluster-management.io_subscriptionreports_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.3.8/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.8/apps.open-cluster-management.io_subscriptionstatuses_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.3.8/multicluster-operators-subscription.v0.3.8.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#540 operators mta-operator (0.0.8)
  operators/mta-operator/0.0.8/Dockerfile
  operators/mta-operator/0.0.8/manifests/windup-operator.v0.0.8.clusterserviceversion.yaml
  operators/mta-operator/0.0.8/manifests/windup.crd.yaml
  operators/mta-operator/0.0.8/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#539 operators grafana-operator (4.1.1)
  operators/grafana-operator/4.1.1/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.1.1/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.1.1/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.1.1/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.1.1/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.1.1/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.1.1/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.1.1/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#537 operators koku-metrics-operator (1.1.2)
  operators/koku-metrics-operator/1.1.2/Dockerfile
  operators/koku-metrics-operator/1.1.2/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/1.1.2/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/1.1.2/metadata/annotations.yaml
  operators/koku-metrics-operator/1.1.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#536 operators [CI] ack-applicationautoscaling-controller
  operators/ack-applicationautoscaling-controller/ci.yaml
  operators/ack-ec2-controller/ci.yaml
  operators/ack-eks-controller/ci.yaml
  operators/ack-kms-controller/ci.yaml
  operators/ack-lambda-controller/ci.yaml
  operators/ack-sfn-controller/ci.yaml
  operators/ack-sns-controller/ci.yaml
  operators/ack-sqs-controller/ci.yaml
Labels: openshift-operator

#513 operators [N] [CI] authorino-operator (0.0.1)
  operators/authorino-operator/0.0.1/bundle.Dockerfile
  operators/authorino-operator/0.0.1/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.0.1/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.0.1/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.0.1/manifests/authorino.3scale.net_authconfigs.yaml
  operators/authorino-operator/0.0.1/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.0.1/metadata/annotations.yaml
  operators/authorino-operator/0.0.1/tests/scorecard/config.yaml
  operators/authorino-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#543 operators keycloak-operator (15.1.1)
  operators/keycloak-operator/15.1.1/bundle.Dockerfile
  operators/keycloak-operator/15.1.1/manifests/keycloak-operator.v15.1.1.clusterserviceversion.yaml
  operators/keycloak-operator/15.1.1/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.1/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.1/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.1/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.1/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#544 operators snapscheduler (2.1.0)
  operators/snapscheduler/2.1.0/bundle.Dockerfile
  operators/snapscheduler/2.1.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/2.1.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/2.1.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/2.1.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/2.1.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/2.1.0/metadata/annotations.yaml
  operators/snapscheduler/2.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#545 operators [R] crane-operator (1.4.3 1.4.4 1.4.5 1.4.6 1.4.7 1.6.0 1.6.1 1.6.2)
  operators/crane-operator/1.4.3/manifests/crane-operator.v1.4.3.clusterserviceversion.yaml
  operators/crane-operator/1.4.4/manifests/crane-operator.v1.4.4.clusterserviceversion.yaml
  operators/crane-operator/1.4.5/manifests/crane-operator.v1.4.5.clusterserviceversion.yaml
  operators/crane-operator/1.4.6/manifests/crane-operator.v1.4.6.clusterserviceversion.yaml
  operators/crane-operator/1.4.7/manifests/crane-operator.v1.4.7.clusterserviceversion.yaml
  operators/crane-operator/1.6.0/manifests/crane-operator.v1.6.0.clusterserviceversion.yaml
  operators/crane-operator/1.6.1/manifests/crane-operator.v1.6.1.clusterserviceversion.yaml
  operators/crane-operator/1.6.2/manifests/crane-operator.v1.6.2.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#550 operators aws-efs-operator (0.0.7)
  operators/aws-efs-operator/0.0.7/aws-efs-operator.v0.0.7.clusterserviceversion.yaml
  operators/aws-efs-operator/0.0.7/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  operators/aws-efs-operator/aws-efs-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#548 operators keycloak-operator (16.0.0)
  operators/keycloak-operator/16.0.0/bundle.Dockerfile
  operators/keycloak-operator/16.0.0/manifests/keycloak-operator.v16.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/16.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/16.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/16.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/16.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/16.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/16.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#552 operators [CI] beegfs-csi-driver-operator (1.2.1)
  operators/beegfs-csi-driver-operator/1.2.1/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.2.1/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.2.1/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.2.1/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.2.1/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.2.1/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.2.1/tests/scorecard/config.yaml
  operators/beegfs-csi-driver-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#557 operators pulp-operator (0.7.0)
  operators/pulp-operator/0.7.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator.v0.7.0.clusterserviceversion.yaml
  operators/pulp-operator/0.7.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.7.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.7.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.7.0/metadata/annotations.yaml
  operators/pulp-operator/0.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#554 operators [O] hazelcast-operator (0.3.8)
  operators/hazelcast-operator/0.3.8/hazelcast-operator.v0.3.8.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#551 operators aws-efs-operator (0.0.8)
  operators/aws-efs-operator/0.0.8/aws-efs-operator.v0.0.8.clusterserviceversion.yaml
  operators/aws-efs-operator/0.0.8/aws-efs.managed.openshift.io_sharedvolumes_crd.yaml
  operators/aws-efs-operator/aws-efs-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#546 operators [N] [CI] trivy-operator (2.1.1)
  operators/trivy-operator/2.1.1/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.1.1/manifests/trivy-operator.service.yaml
  operators/trivy-operator/2.1.1/manifests/trivy-operator.v2.1.1.clusterserviceversion.yaml
  operators/trivy-operator/2.1.1/metadata/annotations.yaml
  operators/trivy-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#558 operators oadp-operator (0.5.3)
  operators/oadp-operator/0.5.3/manifests/dpa-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.3/manifests/dpa-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.3/manifests/oadp-operator.clusterserviceversion.yaml
  operators/oadp-operator/0.5.3/manifests/oadp.openshift.io_cloudstorages.yaml
  operators/oadp-operator/0.5.3/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  operators/oadp-operator/0.5.3/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  operators/oadp-operator/0.5.3/manifests/openshift-adp-manager-config_v1_configmap.yaml
  operators/oadp-operator/0.5.3/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_backups.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_backupstoragelocations.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_deletebackuprequests.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_downloadrequests.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_podvolumebackups.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_podvolumerestores.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_resticrepositories.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_restores.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_schedules.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_serverstatusrequests.yaml
  operators/oadp-operator/0.5.3/manifests/velero.io_volumesnapshotlocations.yaml
  operators/oadp-operator/0.5.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#560 operators neuvector-community-operator (1.3.0)
  operators/neuvector-community-operator/1.3.0/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.3.0/neuvector-operator.v1.3.0.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#556 operators [O] aws-efs-operator (0.0.6)
  operators/aws-efs-operator/0.0.6/aws-efs-operator.v0.0.6.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#563 operators infinispan (2.1.7)
  operators/infinispan/2.1.7/bundle.Dockerfile
  operators/infinispan/2.1.7/manifests/infinispan-operator.v2.1.7.clusterserviceversion.yaml
  operators/infinispan/2.1.7/manifests/infinispan.org_backups_crd.yaml
  operators/infinispan/2.1.7/manifests/infinispan.org_batches_crd.yaml
  operators/infinispan/2.1.7/manifests/infinispan.org_caches_crd.yaml
  operators/infinispan/2.1.7/manifests/infinispan.org_infinispans_crd.yaml
  operators/infinispan/2.1.7/manifests/infinispan.org_restores_crd.yaml
  operators/infinispan/2.1.7/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#562 operators infinispan (2.2.3)
  operators/infinispan/2.2.3/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.2.3/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.2.3/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.2.3/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.2.3/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.2.3/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.2.3/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.2.3/metadata/annotations.yaml
  operators/infinispan/2.2.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#565 operators [N] [CI] patch-operator (0.0.1)
  operators/patch-operator/0.0.1/Dockerfile
  operators/patch-operator/0.0.1/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.0.1/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.0.1/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.0.1/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.0.1/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.0.1/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.0.1/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.0.1/metadata/annotations.yaml
  operators/patch-operator/0.0.1/tests/scorecard/config.yaml
  operators/patch-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#566 operators strimzi-kafka-operator (0.27.0)
  operators/strimzi-kafka-operator/0.27.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/strimzi-cluster-operator.v0.27.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.27.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.27.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#547 operators opentelemetry-operator (0.41.0)
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.41.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.41.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#572 operators patch-operator (0.1.0)
  operators/patch-operator/0.1.0/Dockerfile
  operators/patch-operator/0.1.0/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.0/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.0/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.0/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.0/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.0/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.0/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.0/metadata/annotations.yaml
  operators/patch-operator/0.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9
