Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2021-07, with the labels that each got.

#4 Aqua
  operators/aqua/1.0.0/aqua-operator.v1.0.0.clusterserviceversion.yaml
  operators/aqua/aqua-operator.package.yaml
  operators/aqua/ci.yaml
  operators/keycloak-operator/ci.yaml
Labels: ok-to-test, openshift-operator

#6 3scale
  operators/3scale-community-operator/0.3.0/3scale-community-operator.v0.3.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.3.0/apimanagers.apps.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/apis.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/bindings.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/limits.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/mappingrules.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/metrics.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/plans.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.3.0/tenants.capabilities.3scale.net.crd.yaml
  operators/3scale-community-operator/0.4.0/3scale-community-operator.v0.4.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.4.0/apps_v1alpha1_apimanager_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_api_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_binding_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_limit_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_mappingrule_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_metric_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_plan_crd.yaml
  operators/3scale-community-operator/0.4.0/capabilities_v1alpha1_tenant_crd.yaml
  operators/3scale-community-operator/0.5.1/3scale-community-operator.v0.5.1.clusterserviceversion.yaml
  operators/3scale-community-operator/0.5.1/apps_v1alpha1_apimanager_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_api_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_binding_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_limit_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_mappingrule_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_metric_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_plan_crd.yaml
  operators/3scale-community-operator/0.5.1/capabilities_v1alpha1_tenant_crd.yaml
  operators/3scale-community-operator/0.6.0/3scale-community-operator.v0.6.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.6.0/apps.3scale.net_apimanagerbackups_crd.yaml
  operators/3scale-community-operator/0.6.0/apps.3scale.net_apimanagerrestores_crd.yaml
  operators/3scale-community-operator/0.6.0/apps.3scale.net_apimanagers_crd.yaml
  operators/3scale-community-operator/0.6.0/capabilities.3scale.net_backends_crd.yaml
  operators/3scale-community-operator/0.6.0/capabilities.3scale.net_products_crd.yaml
  operators/3scale-community-operator/0.6.0/capabilities.3scale.net_tenants_crd.yaml
  operators/3scale-community-operator/0.7.0/3scale-community-operator.v0.7.0.clusterserviceversion.yaml
  operators/3scale-community-operator/0.7.0/apps.3scale.net_apimanagerbackups_crd.yaml
  operators/3scale-community-operator/0.7.0/apps.3scale.net_apimanagerrestores_crd.yaml
  operators/3scale-community-operator/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  operators/3scale-community-operator/0.7.0/capabilities.3scale.net_backends_crd.yaml
  operators/3scale-community-operator/0.7.0/capabilities.3scale.net_products_crd.yaml
  operators/3scale-community-operator/0.7.0/capabilities.3scale.net_tenants_crd.yaml
  operators/3scale-community-operator/3scale-community-operator.package.yaml
  operators/3scale-community-operator/ci.yaml
Labels: openshift-operator

#8 operators [O] [CI] strimzi-kafka-operator (0.20.0)
  operators/strimzi-kafka-operator/0.20.0/strimzi-cluster-operator.v0.20.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/ci.yaml
Labels: allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#9 operators [CI] strimzi-kafka-operator (0.20.1)
  operators/strimzi-kafka-operator/0.20.1/strimzi-cluster-operator.v0.20.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/ci.yaml
Labels: allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#14 operators kogito-operator (1.8.0)
  operators/kogito-operator/1.8.0/Dockerfile
  operators/kogito-operator/1.8.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.8.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.8.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.8.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.8.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.8.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.8.0/metadata/annotations.yaml
  operators/kogito-operator/1.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#12 operators [N] [CI] pulp-operator (0.3.0)
  operators/pulp-operator/0.3.0/bundle.Dockerfile
  operators/pulp-operator/0.3.0/manifests/pulp-operator.v0.3.0.clusterserviceversion.yaml
  operators/pulp-operator/0.3.0/manifests/pulp.pulpproject.org_pulpbackups_crd.yaml
  operators/pulp-operator/0.3.0/manifests/pulp.pulpproject.org_pulprestores_crd.yaml
  operators/pulp-operator/0.3.0/manifests/pulp.pulpproject.org_pulps_crd.yaml
  operators/pulp-operator/0.3.0/metadata/annotations.yaml
  operators/pulp-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#21 operators kiali (1.37.0)
  operators/kiali/1.37.0/bundle.Dockerfile
  operators/kiali/1.37.0/manifests/kiali.crd.yaml
  operators/kiali/1.37.0/manifests/kiali.v1.37.0.clusterserviceversion.yaml
  operators/kiali/1.37.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#24 operators poison-pill-operator (0.1.2)
  operators/poison-pill-operator/0.1.2/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill-manager-config_v1_configmap.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill.clusterserviceversion.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  operators/poison-pill-operator/0.1.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#25 operators grafana-operator (3.10.3)
  operators/grafana-operator/3.10.3/grafana-operator.v3.10.3.clusterserviceversion.yaml
  operators/grafana-operator/3.10.3/grafanadashboards.integreatly.org.crd.yaml
  operators/grafana-operator/3.10.3/grafanadatasources.integreatly.org.crd.yaml
  operators/grafana-operator/3.10.3/grafanas.integreatly.org.crd.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#23 operators [CI] multicluster-operators-subscription (0.3.0)
  operators/multicluster-operators-subscription/0.3.0/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.0/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.0/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.0/apps.open-cluster-management.io_gitopsclusters_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.3.0/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.0/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.0/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.0/multicluster-operators-subscription.v0.3.0.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/ci.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#28 activate signature
  .github/workflows/operator_release.yaml
  ci/pipeline-config.yaml
Labels: allow/ci-changes

#16 operators jaeger (1.24.0)
  operators/jaeger/1.24.0/jaeger.v1.24.0.clusterserviceversion.yaml
  operators/jaeger/1.24.0/jaegertracing.io_jaegers_crd.yaml
  operators/jaeger/jaeger.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#29 signature
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#27 operators [CI] klusterlet (0.4.0)
  operators/klusterlet/0.4.0/klusterlet.v0.4.0.clusterserviceversion.yaml
  operators/klusterlet/0.4.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/ci.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#26 operators [CI] cluster-manager (0.4.0)
  operators/cluster-manager/0.4.0/cluster-manager.v0.4.0.clusterserviceversion.yaml
  operators/cluster-manager/0.4.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/ci.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#30 operators oadp-operator (0.2.5)
  operators/oadp-operator/0.2.5/manifests/backup.crd.yaml
  operators/oadp-operator/0.2.5/manifests/backupstoragelocation.crd.yaml
  operators/oadp-operator/0.2.5/manifests/deletebackuprequest.crd.yaml
  operators/oadp-operator/0.2.5/manifests/downloadrequest.crd.yaml
  operators/oadp-operator/0.2.5/manifests/oadp-operator.v0.2.5.clusterserviceversion.yaml
  operators/oadp-operator/0.2.5/manifests/podvolumebackup.crd.yaml
  operators/oadp-operator/0.2.5/manifests/podvolumerestore.crd.yaml
  operators/oadp-operator/0.2.5/manifests/resticrepository.crd.yaml
  operators/oadp-operator/0.2.5/manifests/restore.crd.yaml
  operators/oadp-operator/0.2.5/manifests/schedule.crd.yaml
  operators/oadp-operator/0.2.5/manifests/serverstatusrequest.crd.yaml
  operators/oadp-operator/0.2.5/manifests/velero.crd.yaml
  operators/oadp-operator/0.2.5/manifests/volumesnapshotlocation.crd.yaml
  operators/oadp-operator/0.2.5/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#22 operators special-resource-operator (4.8.0)
  operators/special-resource-operator/4.8.0/Dockerfile
  operators/special-resource-operator/4.8.0/manifests/special-resource-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/special-resource-operator/4.8.0/manifests/special-resource-controller-manager-metrics-service_v1_service.yaml
  operators/special-resource-operator/4.8.0/manifests/special-resource-dependencies_v1_configmap.yaml
  operators/special-resource-operator/4.8.0/manifests/special-resource-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/special-resource-operator/4.8.0/manifests/special-resource-operator.clusterserviceversion.yaml
  operators/special-resource-operator/4.8.0/manifests/special-resource-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/special-resource-operator/4.8.0/manifests/special-resource-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/special-resource-operator/4.8.0/manifests/sro.openshift.io_specialresources.yaml
  operators/special-resource-operator/4.8.0/metadata/annotations.yaml
  operators/special-resource-operator/4.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, automerge-disabled, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#34 automerge enable
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_release.yaml
  ci/pipeline-config.yaml
Labels: allow/ci-changes, automerge-disabled

#33 operators crane-operator (1.4.6)
  operators/crane-operator/1.4.6/manifests/backup.crd.yaml
  operators/crane-operator/1.4.6/manifests/backupstoragelocation.crd.yaml
  operators/crane-operator/1.4.6/manifests/crane-operator.v1.4.6.clusterserviceversion.yaml
  operators/crane-operator/1.4.6/manifests/deletebackuprequest.crd.yaml
  operators/crane-operator/1.4.6/manifests/downloadrequest.crd.yaml
  operators/crane-operator/1.4.6/manifests/migration.openshift.io_directimagemigrations.yaml
  operators/crane-operator/1.4.6/manifests/migration.openshift.io_directimagestreammigrations.yaml
  operators/crane-operator/1.4.6/manifests/migration.openshift.io_directvolumemigrationprogresses.yaml
  operators/crane-operator/1.4.6/manifests/migration.openshift.io_directvolumemigrations.yaml
  operators/crane-operator/1.4.6/manifests/migration.openshift.io_miganalytics.yaml
  operators/crane-operator/1.4.6/manifests/migration.openshift.io_migclusters.yaml
  operators/crane-operator/1.4.6/manifests/migration.openshift.io_mighooks.yaml
  operators/crane-operator/1.4.6/manifests/migration.openshift.io_migmigrations.yaml
  operators/crane-operator/1.4.6/manifests/migration.openshift.io_migplans.yaml
  operators/crane-operator/1.4.6/manifests/migration.openshift.io_migstorages.yaml
  operators/crane-operator/1.4.6/manifests/migrationcontroller.crd.yaml
  operators/crane-operator/1.4.6/manifests/podvolumebackup.crd.yaml
  operators/crane-operator/1.4.6/manifests/podvolumerestore.crd.yaml
  operators/crane-operator/1.4.6/manifests/resticrepository.crd.yaml
  operators/crane-operator/1.4.6/manifests/restore.crd.yaml
  operators/crane-operator/1.4.6/manifests/schedule.crd.yaml
  operators/crane-operator/1.4.6/manifests/serverstatusrequest.crd.yaml
  operators/crane-operator/1.4.6/manifests/volumesnapshotlocation.crd.yaml
  operators/crane-operator/1.4.6/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#35 operators hive-operator (1.1.9)
  operators/hive-operator/1.1.9/hive-operator.v1.1.9.clusterserviceversion.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.9/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.9/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.9/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#36 operators eclipse-che (7.33.2)
  operators/eclipse-che/7.33.2/checlusters.org.eclipse.che.crd.yaml
  operators/eclipse-che/7.33.2/eclipse-che.v7.33.2.clusterserviceversion.yaml
  operators/eclipse-che/7.33.2/org.eclipse.che_chebackupserverconfigurations_crd.yaml
  operators/eclipse-che/7.33.2/org.eclipse.che_checlusterbackups_crd.yaml
  operators/eclipse-che/7.33.2/org.eclipse.che_checlusterrestores_crd.yaml
  operators/eclipse-che/eclipse-che.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#37 operators oadp-operator (0.2.6)
  operators/oadp-operator/0.2.6/manifests/backup.crd.yaml
  operators/oadp-operator/0.2.6/manifests/backupstoragelocation.crd.yaml
  operators/oadp-operator/0.2.6/manifests/deletebackuprequest.crd.yaml
  operators/oadp-operator/0.2.6/manifests/downloadrequest.crd.yaml
  operators/oadp-operator/0.2.6/manifests/oadp-operator.v0.2.6.clusterserviceversion.yaml
  operators/oadp-operator/0.2.6/manifests/podvolumebackup.crd.yaml
  operators/oadp-operator/0.2.6/manifests/podvolumerestore.crd.yaml
  operators/oadp-operator/0.2.6/manifests/resticrepository.crd.yaml
  operators/oadp-operator/0.2.6/manifests/restore.crd.yaml
  operators/oadp-operator/0.2.6/manifests/schedule.crd.yaml
  operators/oadp-operator/0.2.6/manifests/serverstatusrequest.crd.yaml
  operators/oadp-operator/0.2.6/manifests/velero.crd.yaml
  operators/oadp-operator/0.2.6/manifests/volumesnapshotlocation.crd.yaml
  operators/oadp-operator/0.2.6/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#43 operators node-healthcheck-operator (0.1.0)
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-controller-manager_v1_serviceaccount.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-aggregator-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-role-aggregator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.1.0/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.1.0/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#44 operators percona-server-mongodb-operator (1.9.0)
  operators/percona-server-mongodb-operator/1.9.0/percona-server-mongodb-operator.v1.8.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.9.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.9.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.9.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#45 signature migrated
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes

#49 operators node-healthcheck-operator (0.1.1)
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-controller-manager_v1_serviceaccount.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-aggregator-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-role-aggregator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.1.1/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.1.1/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#51 operators hive-operator (1.1.10)
  operators/hive-operator/1.1.10/hive-operator.v1.1.10.clusterserviceversion.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.10/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.10/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.10/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#53 operators victoriametrics-operator (0.17.1)
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.17.1/victoriametrics-operator.0.17.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.17.1/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/victoriametrics-operator/0.17.1/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/victoriametrics-operator/0.17.1/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#57 operators crane-operator (1.5.0)
  operators/crane-operator/1.5.0/manifests/backup.crd.yaml
  operators/crane-operator/1.5.0/manifests/backupstoragelocation.crd.yaml
  operators/crane-operator/1.5.0/manifests/crane-operator.v1.5.0.clusterserviceversion.yaml
  operators/crane-operator/1.5.0/manifests/deletebackuprequest.crd.yaml
  operators/crane-operator/1.5.0/manifests/downloadrequest.crd.yaml
  operators/crane-operator/1.5.0/manifests/migration.openshift.io_directimagemigrations.yaml
  operators/crane-operator/1.5.0/manifests/migration.openshift.io_directimagestreammigrations.yaml
  operators/crane-operator/1.5.0/manifests/migration.openshift.io_directvolumemigrationprogresses.yaml
  operators/crane-operator/1.5.0/manifests/migration.openshift.io_directvolumemigrations.yaml
  operators/crane-operator/1.5.0/manifests/migration.openshift.io_miganalytics.yaml
  operators/crane-operator/1.5.0/manifests/migration.openshift.io_migclusters.yaml
  operators/crane-operator/1.5.0/manifests/migration.openshift.io_mighooks.yaml
  operators/crane-operator/1.5.0/manifests/migration.openshift.io_migmigrations.yaml
  operators/crane-operator/1.5.0/manifests/migration.openshift.io_migplans.yaml
  operators/crane-operator/1.5.0/manifests/migration.openshift.io_migstorages.yaml
  operators/crane-operator/1.5.0/manifests/migrationcontroller.crd.yaml
  operators/crane-operator/1.5.0/manifests/podvolumebackup.crd.yaml
  operators/crane-operator/1.5.0/manifests/podvolumerestore.crd.yaml
  operators/crane-operator/1.5.0/manifests/resticrepository.crd.yaml
  operators/crane-operator/1.5.0/manifests/restore.crd.yaml
  operators/crane-operator/1.5.0/manifests/schedule.crd.yaml
  operators/crane-operator/1.5.0/manifests/serverstatusrequest.crd.yaml
  operators/crane-operator/1.5.0/manifests/volumesnapshotlocation.crd.yaml
  operators/crane-operator/1.5.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#32 operators openebs (2.10.0)
  operators/openebs/2.10.0/openebs_v1alpha1_openebsinstalltemplate_crd.yaml
  operators/openebs/2.10.0/openebsoperator.v2.10.0.clusterserviceversion.yaml
  operators/openebs/openebs.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#56 operators kogito-operator (1.9.0)
  operators/kogito-operator/1.9.0/Dockerfile
  operators/kogito-operator/1.9.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.9.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.9.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.9.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.9.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.9.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.9.0/metadata/annotations.yaml
  operators/kogito-operator/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#55 Add hco-bot to HCO (kubevirt) authorized authors
  operators/community-kubevirt-hyperconverged/ci.yaml
Labels: needs-ok-to-test, openshift-operator

#58 Delete knative-camel operator
  operators/knative-camel-operator/0.10.0/camelsources.sources.eventing.knative.dev.crd.yaml
  operators/knative-camel-operator/0.10.0/knative-camel-operator.v0.10.0.clusterserviceversion.yaml
  operators/knative-camel-operator/0.12.1/camelsources.sources.eventing.knative.dev.crd.yaml
  operators/knative-camel-operator/0.12.1/knative-camel-operator.v0.12.1.clusterserviceversion.yaml
  operators/knative-camel-operator/0.13.2/camelsources.sources.knative.dev.crd.yaml
  operators/knative-camel-operator/0.13.2/knative-camel-operator.v0.13.2.clusterserviceversion.yaml
  operators/knative-camel-operator/0.15.0/camelsources.sources.knative.dev.crd.yaml
  operators/knative-camel-operator/0.15.0/knative-camel-operator.v0.15.0.clusterserviceversion.yaml
  operators/knative-camel-operator/0.15.1/camelsources.sources.knative.dev.crd.yaml
  operators/knative-camel-operator/0.15.1/knative-camel-operator.v0.15.1.clusterserviceversion.yaml
  operators/knative-camel-operator/0.18.0/camelsources.sources.knative.dev.crd.yaml
  operators/knative-camel-operator/0.18.0/knative-camel-operator.v0.18.0.clusterserviceversion.yaml
  operators/knative-camel-operator/0.6.0/camelsources.sources.eventing.knative.dev.crd.yaml
  operators/knative-camel-operator/0.6.0/knative-camel-operator.v0.6.0.clusterserviceversion.yaml
  operators/knative-camel-operator/0.7.1/camelsources.sources.eventing.knative.dev.crd.yaml
  operators/knative-camel-operator/0.7.1/knative-camel-operator.v0.7.1.clusterserviceversion.yaml
  operators/knative-camel-operator/0.8.2/camelsources.sources.eventing.knative.dev.crd.yaml
  operators/knative-camel-operator/0.8.2/knative-camel-operator.v0.8.2.clusterserviceversion.yaml
  operators/knative-camel-operator/0.9.0/camelsources.sources.eventing.knative.dev.crd.yaml
  operators/knative-camel-operator/0.9.0/knative-camel-operator.v0.9.0.clusterserviceversion.yaml
  operators/knative-camel-operator/ci.yaml
  operators/knative-camel-operator/knative-camel-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#60 operators koku-metrics-operator (0.9.8)
  operators/koku-metrics-operator/0.9.8/Dockerfile
  operators/koku-metrics-operator/0.9.8/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/0.9.8/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/0.9.8/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#61 operators multicluster-operators-subscription (0.3.1)
  operators/multicluster-operators-subscription/0.3.1/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.1/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.1/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.1/apps.open-cluster-management.io_gitopsclusters_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.3.1/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.1/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.1/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.1/multicluster-operators-subscription.v0.3.1.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#59 operators [N] [CI] pcc-operator (0.0.1)
  operators/pcc-operator/0.0.1/bundle.Dockerfile
  operators/pcc-operator/0.0.1/manifests/consoledefenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.0.1/manifests/consoles.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.0.1/manifests/defenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.0.1/manifests/pcc-operator-controller-manager-metrics-service.service.yaml
  operators/pcc-operator/0.0.1/manifests/pcc-operator-controller-manager.serviceaccount.yaml
  operators/pcc-operator/0.0.1/manifests/pcc-operator-metrics-reader.clusterrole.yaml
  operators/pcc-operator/0.0.1/manifests/pcc-operator.v0.0.1.clusterserviceversion.yaml
  operators/pcc-operator/0.0.1/metadata/annotations.yaml
  operators/pcc-operator/0.0.1/tests/scorecard/config.yaml
  operators/pcc-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#62 documentation default path
  README.md
Labels: allow/ci-changes

#47 operators [R] openshift-nfd-operator (4.5.0 4.6.0 4.7.0)
  operators/openshift-nfd-operator/4.5.0/nfd.v4.5.0.clusterserviceversion.yaml
  operators/openshift-nfd-operator/4.6.0/nfd.v4.6.0.clusterserviceversion.yaml
  operators/openshift-nfd-operator/4.7.0/nfd.v4.7.0.clusterserviceversion.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#67 operators [R] [CI] tf-operator (0.0.1-2011 1.0.0)
  operators/tf-operator/0.0.1-2011/Dockerfile
  operators/tf-operator/0.0.1-2011/manifests/tf-operator.v0.0.1-2011.clusterserviceversion.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_analyticsalarm_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_analyticssnmp_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_cassandras_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_configs_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_controls_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_kubemanagers_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_managers_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_rabbitmqs_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_vrouters_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_webuis_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_zookeepers_crd.yaml
  operators/tf-operator/0.0.1-2011/metadata/annotations.yaml
  operators/tf-operator/1.0.0/Dockerfile
  operators/tf-operator/1.0.0/manifests/tf-operator.v1.0.0.clusterserviceversion.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_analytics_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_analyticsalarm_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_analyticssnmp_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_cassandras_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_configs_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_controls_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_kubemanagers_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_managers_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_queryengine_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_rabbitmqs_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_redis_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_vrouters_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_webuis_crd.yaml
  operators/tf-operator/1.0.0/manifests/tf.tungsten.io_zookeepers_crd.yaml
  operators/tf-operator/1.0.0/metadata/annotations.yaml
  operators/tf-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#63 operators [CI] hive-operator (1.1.11)
  operators/hive-operator/1.1.11/hive-operator.v1.1.11.clusterserviceversion.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.11/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.11/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.11/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/ci.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated
