Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2021-08, with the labels that each got.

#70 operators victoriametrics-operator (0.17.2)
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.17.2/victoriametrics-operator.0.17.2.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.17.2/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/victoriametrics-operator/0.17.2/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/victoriametrics-operator/0.17.2/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#66 operators [CI] infinispan (2.1.5)
  operators/infinispan/2.1.5/infinispan-operator.v2.1.5.clusterserviceversion.yaml
  operators/infinispan/2.1.5/infinispan.org_backups_crd.yaml
  operators/infinispan/2.1.5/infinispan.org_batches_crd.yaml
  operators/infinispan/2.1.5/infinispan.org_caches_crd.yaml
  operators/infinispan/2.1.5/infinispan.org_infinispans_crd.yaml
  operators/infinispan/2.1.5/infinispan.org_restores_crd.yaml
  operators/infinispan/ci.yaml
  operators/infinispan/infinispan.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#68 operators portworx-essentials (1.5.0)
  operators/portworx-essentials/1.5.0/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.5.0/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.5.0/portworxoperator.v1.5.0.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#74 operators poison-pill-operator (0.1.3)
  operators/poison-pill-operator/0.1.3/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill-manager-config_v1_configmap.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill.clusterserviceversion.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  operators/poison-pill-operator/0.1.3/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#72 operators hive-operator (1.1.12)
  operators/hive-operator/1.1.12/hive-operator.v1.1.12.clusterserviceversion.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.12/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.12/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.12/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#73 Remove old Prisma Cloud Compute Operator
  operators/prisma-cloud-compute-console-operator/0.0.9/twistlock-console-operator.v0.0.9.clusterserviceversion.yaml
  operators/prisma-cloud-compute-console-operator/0.0.9/twistlockconsoles.charts.helm.k8s.io.crd.yaml
  operators/prisma-cloud-compute-console-operator/1.0.0/charts.helm.k8s.io_prisma_consoles_crd.yaml
  operators/prisma-cloud-compute-console-operator/1.0.0/prisma-cloud-compute-console-operator.v1.0.0.clusterserviceversion.yaml
  operators/prisma-cloud-compute-console-operator/ci.yaml
  operators/prisma-cloud-compute-console-operator/prisma-cloud-compute-console-operator.package.yaml
Labels: installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#75 operators kogito-operator (1.9.1)
  operators/kogito-operator/1.9.1/Dockerfile
  operators/kogito-operator/1.9.1/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.9.1/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.9.1/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.9.1/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.9.1/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.9.1/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.9.1/metadata/annotations.yaml
  operators/kogito-operator/1.9.1/tests/scorecard/config.yaml
Labels: installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#77 operators [N] [CI] tagger (2.1.17)
  operators/tagger/2.1.17/Containerfile
  operators/tagger/2.1.17/manifests/docker-webhooks_v1_service.yaml
  operators/tagger/2.1.17/manifests/metrics_v1_service.yaml
  operators/tagger/2.1.17/manifests/mirror-registry-config_v1_secret.yaml
  operators/tagger/2.1.17/manifests/mutating-webhooks_v1_service.yaml
  operators/tagger/2.1.17/manifests/quay-webhooks_v1_service.yaml
  operators/tagger/2.1.17/manifests/tagger.clusterserviceversion.yaml
  operators/tagger/2.1.17/manifests/tagger.dev_tags.yaml
  operators/tagger/2.1.17/manifests/tagger_v1_serviceaccount.yaml
  operators/tagger/2.1.17/manifests/tagio-external_v1_service.yaml
  operators/tagger/2.1.17/manifests/tagio_v1_service.yaml
  operators/tagger/2.1.17/metadata/annotations.yaml
  operators/tagger/2.1.17/tests/scorecard/.gitignore
  operators/tagger/ci.yaml
Labels: allow/operator-recreate, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#79 operators [N] [CI] snapscheduler (1.1.1)
  operators/snapscheduler/1.1.1/bundle.Dockerfile
  operators/snapscheduler/1.1.1/manifests/snapscheduler.v1.1.1.clusterserviceversion.yaml
  operators/snapscheduler/1.1.1/manifests/snapshotschedules.snapscheduler.backube.crd.yaml
  operators/snapscheduler/1.1.1/metadata/annotations.yaml
  operators/snapscheduler/ci.yaml
  operators/snapscheduler/snapscheduler.package.yaml
Labels: allow/operator-recreate, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, new-operator, ok-to-test, openshift-operator, package-validated

#71 operators [CI] azure-service-operator (1.0.27207)
  operators/azure-service-operator/1.0.27207/azure-service-operator.v1.0.27207.clusterserviceversion.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_apimgmtapis.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_apimservices.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_appinsights.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_appinsightsapikeys.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azureloadbalancers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azurenetworkinterfaces.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azurepublicipaddresses.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlactions.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqldatabases.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlfailovergroups.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlfirewallrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlmanagedusers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlservers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlusers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlvnetrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azurevirtualmachineextensions.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azurevirtualmachines.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azurevmscalesets.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_blobcontainers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_consumergroups.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_cosmosdbs.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_cosmosdbsqldatabases.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_eventhubnamespaces.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_eventhubs.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_keyvaultkeys.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_keyvaults.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlaadusers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqldatabases.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlfirewallrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlserveradministrators.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlservers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlusers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlvnetrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_postgresqldatabases.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_postgresqlfirewallrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_postgresqlservers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_postgresqlusers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_postgresqlvnetrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_rediscacheactions.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_rediscachefirewallrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_rediscaches.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_resourcegroups.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_storageaccounts.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_virtualnetworks.yaml
  operators/azure-service-operator/1.0.27207/azureoperator-webhook-service.yaml
  operators/azure-service-operator/azure-service-operator.package.yaml
  operators/azure-service-operator/ci.yaml
Labels: installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#69 operators [CI] portworx-essentials
  operators/portworx-essentials/ci.yaml
Labels: installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#80 operators rhoas-operator (0.7.8)
  operators/rhoas-operator/0.7.8/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  operators/rhoas-operator/0.7.8/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  operators/rhoas-operator/0.7.8/manifests/rhoas-operator.clusterserviceversion.yaml
  operators/rhoas-operator/0.7.8/manifests/rhoas-operator.kafkaconnections.crd.yaml
  operators/rhoas-operator/0.7.8/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#81 operators snapscheduler (2.0.0)
  operators/snapscheduler/2.0.0/bundle.Dockerfile
  operators/snapscheduler/2.0.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/2.0.0/manifests/snapscheduler-controller-manager_v1_serviceaccount.yaml
  operators/snapscheduler/2.0.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/2.0.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/2.0.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/2.0.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/2.0.0/metadata/annotations.yaml
  operators/snapscheduler/2.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, installation-validated-4.6, installation-validated-4.7, installation-validated-4.8, ok-to-test, openshift-operator, package-validated

#86 operators keda (2.4.0)
  operators/keda/2.4.0/manifests/keda-olm-operator_v1_serviceaccount.yaml
  operators/keda/2.4.0/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.4.0/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.4.0/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.4.0/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.4.0/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.4.0/manifests/keda.v2.4.0.clusterserviceversion.yaml
  operators/keda/2.4.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#90 operators flux (0.16.2)
  operators/flux/0.16.2/manifests/alert.crd.yaml
  operators/flux/0.16.2/manifests/bucket.crd.yaml
  operators/flux/0.16.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.16.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.16.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.16.2/manifests/flux.v0.16.2.clusterserviceversion.yaml
  operators/flux/0.16.2/manifests/gitrepository.crd.yaml
  operators/flux/0.16.2/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/helmchart.crd.yaml
  operators/flux/0.16.2/manifests/helmrelease.crd.yaml
  operators/flux/0.16.2/manifests/helmrepository.crd.yaml
  operators/flux/0.16.2/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.16.2/manifests/imagerepository.crd.yaml
  operators/flux/0.16.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.16.2/manifests/kustomization.crd.yaml
  operators/flux/0.16.2/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/notification-controller.service.yaml
  operators/flux/0.16.2/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/provider.crd.yaml
  operators/flux/0.16.2/manifests/receiver.crd.yaml
  operators/flux/0.16.2/manifests/source-controller.service.yaml
  operators/flux/0.16.2/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.16.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#85 operators [CI] mta-operator
  operators/mta-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#87 operators kubernetes-imagepuller-operator (0.0.8)
  operators/kubernetes-imagepuller-operator/0.0.8/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.8/kubernetes-imagepuller-operator.v0.0.8.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#78 operators [N] ripsaw (0.1.0)
  operators/ripsaw/0.1.0/benchmarks.ripsaw.cloudbulldozer.io.crd.yaml
  operators/ripsaw/0.1.0/ripsaw.v0.1.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#64 operators [O] special-resource-operator (4.8.0)
  operators/special-resource-operator/4.8.0/manifests/special-resource-operator.clusterserviceversion.yaml
  operators/special-resource-operator/4.8.0/manifests/sro.openshift.io_specialresources.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, allow/serious-changes-to-existing

#94 operators kiali (1.38.1)
  operators/kiali/1.38.1/bundle.Dockerfile
  operators/kiali/1.38.1/manifests/kiali.crd.yaml
  operators/kiali/1.38.1/manifests/kiali.v1.38.1.clusterserviceversion.yaml
  operators/kiali/1.38.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#92 operators mta-operator (0.0.6)
  operators/mta-operator/0.0.6/Dockerfile
  operators/mta-operator/0.0.6/manifests/windup-operator.v0.0.6.clusterserviceversion.yaml
  operators/mta-operator/0.0.6/manifests/windup.crd.yaml
  operators/mta-operator/0.0.6/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#93 operators keycloak-operator (15.0.0)
  operators/keycloak-operator/15.0.0/bundle.Dockerfile
  operators/keycloak-operator/15.0.0/manifests/keycloak-operator.v15.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/15.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#96 operators keycloak-operator (15.0.1)
  operators/keycloak-operator/15.0.1/bundle.Dockerfile
  operators/keycloak-operator/15.0.1/manifests/keycloak-operator.v15.0.1.clusterserviceversion.yaml
  operators/keycloak-operator/15.0.1/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.1/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.1/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.1/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.1/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#91 operators [N] machine-deletion-operator (0.0.1)
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-controller-manager-metrics-service_v1_service.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-controller-manager_v1_serviceaccount.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-machine-deletion-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-manager-config_v1_configmap.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion.clusterserviceversion.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion.medik8s.io_machinedeletions.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion.medik8s.io_machinedeletiontemplates.yaml
  operators/machine-deletion-operator/0.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#95 operators community-windows-machine-config-operator (3.0.0)
  operators/community-windows-machine-config-operator/3.0.0/manifests/community-windows-machine-config-operator.3.0.0.clusterserviceversion.yaml
  operators/community-windows-machine-config-operator/3.0.0/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/3.0.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/3.0.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/community-windows-machine-config-operator/3.0.0/manifests/windows-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/community-windows-machine-config-operator/3.0.0/manifests/windows-exporter_v1_service.yaml
  operators/community-windows-machine-config-operator/3.0.0/manifests/windows-prometheus-k8s-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/community-windows-machine-config-operator/3.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#97 operators ember-csi-community-operator (0.9.5)
  operators/ember-csi-community-operator/0.9.5/ember-csi-operator.crd.yaml
  operators/ember-csi-community-operator/0.9.5/ember-csi-operator.v0.9.5.clusterserviceversion.yaml
  operators/ember-csi-community-operator/ember-csi-community-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#65 operators [N] openshift-nfd-operator (4.8.0)
  operators/openshift-nfd-operator/4.5.0/nfd.crd.yaml
  operators/openshift-nfd-operator/4.5.0/nfd.v4.5.0.clusterserviceversion.yaml
  operators/openshift-nfd-operator/4.6.0/nfd.crd.yaml
  operators/openshift-nfd-operator/4.6.0/nfd.v4.6.0.clusterserviceversion.yaml
  operators/openshift-nfd-operator/4.7.0/nfd.crd.yaml
  operators/openshift-nfd-operator/4.7.0/nfd.v4.7.0.clusterserviceversion.yaml
  operators/openshift-nfd-operator/4.8.0/manifests/nfd-controller-manager-metrics-service_v1_service.yaml
  operators/openshift-nfd-operator/4.8.0/manifests/nfd-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/openshift-nfd-operator/4.8.0/manifests/nfd-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/openshift-nfd-operator/4.8.0/manifests/nfd-manager-config_v1_configmap.yaml
  operators/openshift-nfd-operator/4.8.0/manifests/nfd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-nfd-operator/4.8.0/manifests/nfd-operator_v1_serviceaccount.yaml
  operators/openshift-nfd-operator/4.8.0/manifests/nfd-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-nfd-operator/4.8.0/manifests/nfd-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/openshift-nfd-operator/4.8.0/manifests/nfd.openshift.io_nodefeaturediscoveries.yaml
  operators/openshift-nfd-operator/4.8.0/manifests/nfd.v4.8.0.clusterserviceversion.yaml
  operators/openshift-nfd-operator/4.8.0/metadata/annotations.yaml
  operators/openshift-nfd-operator/nfd.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#98 operators mongodb-atlas-kubernetes (0.6.1)
  operators/mongodb-atlas-kubernetes/0.6.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/0.6.1/manifests/atlas.mongodb.com_atlasclusters.yaml
  operators/mongodb-atlas-kubernetes/0.6.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/0.6.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/0.6.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/0.6.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/0.6.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/0.6.1/manifests/mongodb-atlas-operator_v1_serviceaccount.yaml
  operators/mongodb-atlas-kubernetes/0.6.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/0.6.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#101 operators proactive-node-scaling-operator (0.3.8)
  operators/proactive-node-scaling-operator/0.3.8/Dockerfile
  operators/proactive-node-scaling-operator/0.3.8/manifests/proactive-node-scaling-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/proactive-node-scaling-operator/0.3.8/manifests/proactive-node-scaling-operator-controller-manager-metrics_v1_service.yaml
  operators/proactive-node-scaling-operator/0.3.8/manifests/proactive-node-scaling-operator-controller-manager_v1_serviceaccount.yaml
  operators/proactive-node-scaling-operator/0.3.8/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  operators/proactive-node-scaling-operator/0.3.8/manifests/proactive-node-scaling-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/proactive-node-scaling-operator/0.3.8/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  operators/proactive-node-scaling-operator/0.3.8/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  operators/proactive-node-scaling-operator/0.3.8/metadata/annotations.yaml
  operators/proactive-node-scaling-operator/0.3.8/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#103 operators strimzi-kafka-operator (0.25.0)
  operators/strimzi-kafka-operator/0.25.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/strimzi-cluster-operator.v0.25.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.25.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.25.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.25.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.25.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#84 operators hazelcast-operator (0.3.7)
  operators/hazelcast-operator/0.3.7/hazelcast-operator.v0.3.7.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.7/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#106 operators hive-operator (1.1.13)
  operators/hive-operator/1.1.13/hive-operator.v1.1.13.clusterserviceversion.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.13/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.13/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.13/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#109 operators keepalived-operator (1.3.4)
  operators/keepalived-operator/1.3.4/Dockerfile
  operators/keepalived-operator/1.3.4/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/keepalived-operator/1.3.4/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  operators/keepalived-operator/1.3.4/manifests/keepalived-operator-controller-manager_v1_serviceaccount.yaml
  operators/keepalived-operator/1.3.4/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  operators/keepalived-operator/1.3.4/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keepalived-operator/1.3.4/manifests/keepalived-operator.clusterserviceversion.yaml
  operators/keepalived-operator/1.3.4/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  operators/keepalived-operator/1.3.4/metadata/annotations.yaml
  operators/keepalived-operator/1.3.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#108 operators must-gather-operator (1.0.6)
  operators/must-gather-operator/1.0.6/Dockerfile
  operators/must-gather-operator/1.0.6/manifests/must-gather-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/must-gather-operator/1.0.6/manifests/must-gather-operator-controller-manager-metrics_v1_service.yaml
  operators/must-gather-operator/1.0.6/manifests/must-gather-operator-controller-manager_v1_serviceaccount.yaml
  operators/must-gather-operator/1.0.6/manifests/must-gather-operator-manager-config_v1_configmap.yaml
  operators/must-gather-operator/1.0.6/manifests/must-gather-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/must-gather-operator/1.0.6/manifests/must-gather-operator.clusterserviceversion.yaml
  operators/must-gather-operator/1.0.6/manifests/redhatcop.redhat.io_mustgathers.yaml
  operators/must-gather-operator/1.0.6/metadata/annotations.yaml
  operators/must-gather-operator/1.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#110 operators namespace-configuration-operator (1.1.0)
  operators/namespace-configuration-operator/1.1.0/Dockerfile
  operators/namespace-configuration-operator/1.1.0/manifests/namespace-configuration-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/namespace-configuration-operator/1.1.0/manifests/namespace-configuration-operator-controller-manager-metrics_v1_service.yaml
  operators/namespace-configuration-operator/1.1.0/manifests/namespace-configuration-operator-controller-manager_v1_serviceaccount.yaml
  operators/namespace-configuration-operator/1.1.0/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  operators/namespace-configuration-operator/1.1.0/manifests/namespace-configuration-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/namespace-configuration-operator/1.1.0/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  operators/namespace-configuration-operator/1.1.0/manifests/redhatcop.redhat.io_groupconfigs.yaml
  operators/namespace-configuration-operator/1.1.0/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  operators/namespace-configuration-operator/1.1.0/manifests/redhatcop.redhat.io_userconfigs.yaml
  operators/namespace-configuration-operator/1.1.0/metadata/annotations.yaml
  operators/namespace-configuration-operator/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#114 operators egressip-ipam-operator (1.1.0)
  operators/egressip-ipam-operator/1.1.0/Dockerfile
  operators/egressip-ipam-operator/1.1.0/manifests/egressip-ipam-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/egressip-ipam-operator/1.1.0/manifests/egressip-ipam-operator-controller-manager-metrics_v1_service.yaml
  operators/egressip-ipam-operator/1.1.0/manifests/egressip-ipam-operator-controller-manager_v1_serviceaccount.yaml
  operators/egressip-ipam-operator/1.1.0/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  operators/egressip-ipam-operator/1.1.0/manifests/egressip-ipam-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/egressip-ipam-operator/1.1.0/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  operators/egressip-ipam-operator/1.1.0/manifests/redhatcop.redhat.io_egressipams.yaml
  operators/egressip-ipam-operator/1.1.0/metadata/annotations.yaml
  operators/egressip-ipam-operator/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#112 operators global-load-balancer-operator (1.1.0)
  operators/global-load-balancer-operator/1.1.0/Dockerfile
  operators/global-load-balancer-operator/1.1.0/manifests/externaldns.k8s.io_dnsendpoints.yaml
  operators/global-load-balancer-operator/1.1.0/manifests/global-load-balancer-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/global-load-balancer-operator/1.1.0/manifests/global-load-balancer-operator-controller-manager-metrics_v1_service.yaml
  operators/global-load-balancer-operator/1.1.0/manifests/global-load-balancer-operator-controller-manager_v1_serviceaccount.yaml
  operators/global-load-balancer-operator/1.1.0/manifests/global-load-balancer-operator-manager-config_v1_configmap.yaml
  operators/global-load-balancer-operator/1.1.0/manifests/global-load-balancer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/global-load-balancer-operator/1.1.0/manifests/global-load-balancer-operator.clusterserviceversion.yaml
  operators/global-load-balancer-operator/1.1.0/manifests/redhatcop.redhat.io_globaldnsrecords.yaml
  operators/global-load-balancer-operator/1.1.0/manifests/redhatcop.redhat.io_globaldnszones.yaml
  operators/global-load-balancer-operator/1.1.0/manifests/redhatcop.redhat.io_globalroutediscoveries.yaml
  operators/global-load-balancer-operator/1.1.0/metadata/annotations.yaml
  operators/global-load-balancer-operator/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#107 operators resource-locker-operator (1.0.9)
  operators/resource-locker-operator/1.0.9/Dockerfile
  operators/resource-locker-operator/1.0.9/manifests/redhatcop.redhat.io_resourcelockers.yaml
  operators/resource-locker-operator/1.0.9/manifests/resource-locker-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/resource-locker-operator/1.0.9/manifests/resource-locker-operator-controller-manager-metrics_v1_service.yaml
  operators/resource-locker-operator/1.0.9/manifests/resource-locker-operator-controller-manager_v1_serviceaccount.yaml
  operators/resource-locker-operator/1.0.9/manifests/resource-locker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/resource-locker-operator/1.0.9/manifests/resource-locker-operator.clusterserviceversion.yaml
  operators/resource-locker-operator/1.0.9/metadata/annotations.yaml
  operators/resource-locker-operator/1.0.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#111 operators cert-utils-operator (1.1.0)
  operators/cert-utils-operator/1.1.0/Dockerfile
  operators/cert-utils-operator/1.1.0/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.1.0/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  operators/cert-utils-operator/1.1.0/manifests/cert-utils-operator-controller-manager_v1_serviceaccount.yaml
  operators/cert-utils-operator/1.1.0/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.1.0/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.1.0/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.1.0/metadata/annotations.yaml
  operators/cert-utils-operator/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#116 operators proactive-node-scaling-operator (0.3.9)
  operators/proactive-node-scaling-operator/0.3.9/Dockerfile
  operators/proactive-node-scaling-operator/0.3.9/manifests/proactive-node-scaling-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/proactive-node-scaling-operator/0.3.9/manifests/proactive-node-scaling-operator-controller-manager-metrics_v1_service.yaml
  operators/proactive-node-scaling-operator/0.3.9/manifests/proactive-node-scaling-operator-controller-manager_v1_serviceaccount.yaml
  operators/proactive-node-scaling-operator/0.3.9/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  operators/proactive-node-scaling-operator/0.3.9/manifests/proactive-node-scaling-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/proactive-node-scaling-operator/0.3.9/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  operators/proactive-node-scaling-operator/0.3.9/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  operators/proactive-node-scaling-operator/0.3.9/metadata/annotations.yaml
  operators/proactive-node-scaling-operator/0.3.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#102 operators cert-manager (1.4.1)
  operators/cert-manager/1.4.1/bundle.Dockerfile
  operators/cert-manager/1.4.1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.4.1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager-cainjector_v1_serviceaccount.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager-webhook_v1_serviceaccount.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager_v1_serviceaccount.yaml
  operators/cert-manager/1.4.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#120 operators proactive-node-scaling-operator (0.3.10)
  operators/proactive-node-scaling-operator/0.3.10/Dockerfile
  operators/proactive-node-scaling-operator/0.3.10/manifests/proactive-node-scaling-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/proactive-node-scaling-operator/0.3.10/manifests/proactive-node-scaling-operator-controller-manager-metrics_v1_service.yaml
  operators/proactive-node-scaling-operator/0.3.10/manifests/proactive-node-scaling-operator-controller-manager_v1_serviceaccount.yaml
  operators/proactive-node-scaling-operator/0.3.10/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  operators/proactive-node-scaling-operator/0.3.10/manifests/proactive-node-scaling-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/proactive-node-scaling-operator/0.3.10/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  operators/proactive-node-scaling-operator/0.3.10/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  operators/proactive-node-scaling-operator/0.3.10/metadata/annotations.yaml
  operators/proactive-node-scaling-operator/0.3.10/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#119 operators [N] [CI] syndesis (1.12.0)
  operators/syndesis/1.12.0/Dockerfile
  operators/syndesis/1.12.0/manifests/syndesis-auth-delegator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/syndesis/1.12.0/manifests/syndesis-server-kafka_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/syndesis/1.12.0/manifests/syndesis.clusterserviceversion.yaml
  operators/syndesis/1.12.0/manifests/syndesis.io_syndesises.yaml
  operators/syndesis/1.12.0/metadata/annotations.yaml
  operators/syndesis/1.12.0/tests/scorecard/config.yaml
  operators/syndesis/1.7.0/syndesises.syndesis.io.crd.yaml
  operators/syndesis/1.7.0/syndesisoperator.1.7.0.clusterserviceversion.yaml
  operators/syndesis/1.9.0/syndesis.crd.yaml
  operators/syndesis/1.9.0/syndesisoperator.1.9.0.clusterserviceversion.yaml
  operators/syndesis/ci.yaml
  operators/syndesis/syndesis.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#115 operators [N] [CI] sap-commerce-operator (0.0.2)
  operators/sap-commerce-operator/0.0.2/bundle.Dockerfile
  operators/sap-commerce-operator/0.0.2/manifests/hybris.hybris.org_hybrisapps.yaml
  operators/sap-commerce-operator/0.0.2/manifests/hybris.hybris.org_hybrisbases.yaml
  operators/sap-commerce-operator/0.0.2/manifests/sap-commerce-operator-hybris-controller-manager-metrics-service_v1_service.yaml
  operators/sap-commerce-operator/0.0.2/manifests/sap-commerce-operator-manager-config_v1_configmap.yaml
  operators/sap-commerce-operator/0.0.2/manifests/sap-commerce-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-commerce-operator/0.0.2/manifests/sap-commerce-operator.clusterserviceversion.yaml
  operators/sap-commerce-operator/0.0.2/metadata/annotations.yaml
  operators/sap-commerce-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#105 operators cert-manager (1.4.3)
  operators/cert-manager/1.4.3/bundle.Dockerfile
  operators/cert-manager/1.4.3/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.4.3/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager-cainjector_v1_serviceaccount.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager-webhook_v1_serviceaccount.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager_v1_serviceaccount.yaml
  operators/cert-manager/1.4.3/metadata/annotations.yaml
  operators/cert-manager/1.4.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#104 operators cert-manager (1.4.2)
  operators/cert-manager/1.4.2/bundle.Dockerfile
  operators/cert-manager/1.4.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.4.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager-cainjector_v1_serviceaccount.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager-webhook_v1_serviceaccount.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager_v1_serviceaccount.yaml
  operators/cert-manager/1.4.2/metadata/annotations.yaml
  operators/cert-manager/1.4.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#122 operators [O] koku-metrics-operator (0.9.8)
  operators/koku-metrics-operator/0.9.8/manifests/koku-metrics-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#125 operators hive-operator (1.1.14)
  operators/hive-operator/1.1.14/hive-operator.v1.1.14.clusterserviceversion.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.14/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.14/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.14/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#124 operators [CI] neuvector-community-operator (1.2.7)
  operators/neuvector-community-operator/1.2.7/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.2.7/neuvector-operator.v1.2.7.clusterserviceversion.yaml
  operators/neuvector-community-operator/ci.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#129 operators kogito-operator (1.10.0)
  operators/kogito-operator/1.10.0/Dockerfile
  operators/kogito-operator/1.10.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.10.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.10.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.10.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.10.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.10.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.10.0/metadata/annotations.yaml
  operators/kogito-operator/1.10.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#127 operators [R] etcd (0.6.1 0.9.0 0.9.2 0.9.2-clusterwide 0.9.4 0.9.4-clusterwide)
  operators/etcd/0.6.1/etcdclusters.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.0/etcdbackups.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.0/etcdclusters.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.0/etcdrestores.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.2-clusterwide/etcdbackups.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.2-clusterwide/etcdclusters.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.2-clusterwide/etcdrestores.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.2/etcdbackups.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.2/etcdclusters.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.2/etcdrestores.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.4-clusterwide/etcdbackups.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.4-clusterwide/etcdclusters.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.4-clusterwide/etcdrestores.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.4/etcdbackups.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.4/etcdclusters.etcd.database.coreos.com.crd.yaml
  operators/etcd/0.9.4/etcdrestores.etcd.database.coreos.com.crd.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#134 operators hive-operator (1.1.9-1.1.8.1)
  operators/hive-operator/1.1.9-1.1.8.1/hive-operator.v1.1.9-1.1.8.1.clusterserviceversion.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#133 operators opentelemetry-operator (0.33.0)
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry-operator-controller-manager_v1_serviceaccount.yaml
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.33.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.33.0/scorecard/.gitignore
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#135 operators kiali (1.39.0)
  operators/kiali/1.39.0/bundle.Dockerfile
  operators/kiali/1.39.0/manifests/kiali.crd.yaml
  operators/kiali/1.39.0/manifests/kiali.v1.39.0.clusterserviceversion.yaml
  operators/kiali/1.39.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#136 operators ember-csi-community-operator (0.9.6)
  operators/ember-csi-community-operator/0.9.6/ember-csi-operator.crd.yaml
  operators/ember-csi-community-operator/0.9.6/ember-csi-operator.v0.9.6.clusterserviceversion.yaml
  operators/ember-csi-community-operator/ember-csi-community-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#140 operators hive-operator (1.1.15)
  operators/hive-operator/1.1.15/hive-operator.v1.1.15.clusterserviceversion.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.15/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.15/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.15/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#141 operators hive-operator (1.1.9-1.1.8.2)
  operators/hive-operator/1.1.9-1.1.8.2/hive-operator.v1.1.9-1.1.8.2.clusterserviceversion.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#142 operators [CI] hive-operator
  operators/hive-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#144 operators proactive-node-scaling-operator (0.4.0)
  operators/proactive-node-scaling-operator/0.4.0/Dockerfile
  operators/proactive-node-scaling-operator/0.4.0/manifests/proactive-node-scaling-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/proactive-node-scaling-operator/0.4.0/manifests/proactive-node-scaling-operator-controller-manager-metrics_v1_service.yaml
  operators/proactive-node-scaling-operator/0.4.0/manifests/proactive-node-scaling-operator-controller-manager_v1_serviceaccount.yaml
  operators/proactive-node-scaling-operator/0.4.0/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  operators/proactive-node-scaling-operator/0.4.0/manifests/proactive-node-scaling-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/proactive-node-scaling-operator/0.4.0/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  operators/proactive-node-scaling-operator/0.4.0/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  operators/proactive-node-scaling-operator/0.4.0/metadata/annotations.yaml
  operators/proactive-node-scaling-operator/0.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#139 Upgrade operator keycloak-operator (15.0.2)
  operators/keycloak-operator/15.0.2/bundle.Dockerfile
  operators/keycloak-operator/15.0.2/manifests/keycloak-operator.v15.0.2.clusterserviceversion.yaml
  operators/keycloak-operator/15.0.2/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.2/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.2/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.2/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.2/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#126 operators [N] [CI] cluster-impairment-operator (1.0.1)
  operators/cluster-impairment-operator/1.0.1/manifests/apps.redhat.com_clusterimpairments.yaml
  operators/cluster-impairment-operator/1.0.1/manifests/cluster-impairment-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-impairment-operator/1.0.1/manifests/cluster-impairment-operator-manager-config_v1_configmap.yaml
  operators/cluster-impairment-operator/1.0.1/manifests/cluster-impairment-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-impairment-operator/1.0.1/manifests/cluster-impairment-operator.clusterserviceversion.yaml
  operators/cluster-impairment-operator/1.0.1/manifests/network-access-sa_v1_serviceaccount.yaml
  operators/cluster-impairment-operator/1.0.1/metadata/annotations.yaml
  operators/cluster-impairment-operator/1.0.1/tests/scorecard/config.yaml
  operators/cluster-impairment-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#146 operators [CI] keycloak-operator
  operators/keycloak-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#147 operators global-load-balancer-operator (1.2.0)
  operators/global-load-balancer-operator/1.2.0/Dockerfile
  operators/global-load-balancer-operator/1.2.0/manifests/externaldns.k8s.io_dnsendpoints.yaml
  operators/global-load-balancer-operator/1.2.0/manifests/global-load-balancer-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/global-load-balancer-operator/1.2.0/manifests/global-load-balancer-operator-controller-manager-metrics_v1_service.yaml
  operators/global-load-balancer-operator/1.2.0/manifests/global-load-balancer-operator-controller-manager_v1_serviceaccount.yaml
  operators/global-load-balancer-operator/1.2.0/manifests/global-load-balancer-operator-manager-config_v1_configmap.yaml
  operators/global-load-balancer-operator/1.2.0/manifests/global-load-balancer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/global-load-balancer-operator/1.2.0/manifests/global-load-balancer-operator.clusterserviceversion.yaml
  operators/global-load-balancer-operator/1.2.0/manifests/redhatcop.redhat.io_globaldnsrecords.yaml
  operators/global-load-balancer-operator/1.2.0/manifests/redhatcop.redhat.io_globaldnszones.yaml
  operators/global-load-balancer-operator/1.2.0/manifests/redhatcop.redhat.io_globalroutediscoveries.yaml
  operators/global-load-balancer-operator/1.2.0/metadata/annotations.yaml
  operators/global-load-balancer-operator/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#149 operators cluster-impairment-operator (1.0.2)
  operators/cluster-impairment-operator/1.0.2/manifests/apps.redhat.com_clusterimpairments.yaml
  operators/cluster-impairment-operator/1.0.2/manifests/cluster-impairment-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-impairment-operator/1.0.2/manifests/cluster-impairment-operator-manager-config_v1_configmap.yaml
  operators/cluster-impairment-operator/1.0.2/manifests/cluster-impairment-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-impairment-operator/1.0.2/manifests/cluster-impairment-operator.clusterserviceversion.yaml
  operators/cluster-impairment-operator/1.0.2/manifests/network-access-sa_v1_serviceaccount.yaml
  operators/cluster-impairment-operator/1.0.2/metadata/annotations.yaml
  operators/cluster-impairment-operator/1.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#148 operators sap-commerce-operator (0.0.3)
  operators/sap-commerce-operator/0.0.3/bundle.Dockerfile
  operators/sap-commerce-operator/0.0.3/manifests/hybris.hybris.org_hybrisapps.yaml
  operators/sap-commerce-operator/0.0.3/manifests/hybris.hybris.org_hybrisbases.yaml
  operators/sap-commerce-operator/0.0.3/manifests/sap-commerce-operator-hybris-controller-manager-metrics-service_v1_service.yaml
  operators/sap-commerce-operator/0.0.3/manifests/sap-commerce-operator-manager-config_v1_configmap.yaml
  operators/sap-commerce-operator/0.0.3/manifests/sap-commerce-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-commerce-operator/0.0.3/manifests/sap-commerce-operator.clusterserviceversion.yaml
  operators/sap-commerce-operator/0.0.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#150 operators victoriametrics-operator (0.18.0)
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.18.0/victoriametrics-operator.0.18.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.18.0/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/victoriametrics-operator/0.18.0/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/victoriametrics-operator/0.18.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#169 operators resource-locker-operator (1.1.0)
  operators/resource-locker-operator/1.1.0/Dockerfile
  operators/resource-locker-operator/1.1.0/manifests/redhatcop.redhat.io_resourcelockers.yaml
  operators/resource-locker-operator/1.1.0/manifests/resource-locker-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/resource-locker-operator/1.1.0/manifests/resource-locker-operator-controller-manager-metrics_v1_service.yaml
  operators/resource-locker-operator/1.1.0/manifests/resource-locker-operator-controller-manager_v1_serviceaccount.yaml
  operators/resource-locker-operator/1.1.0/manifests/resource-locker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/resource-locker-operator/1.1.0/manifests/resource-locker-operator.clusterserviceversion.yaml
  operators/resource-locker-operator/1.1.0/metadata/annotations.yaml
  operators/resource-locker-operator/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#167 operators keepalived-operator (1.4.0)
  operators/keepalived-operator/1.4.0/Dockerfile
  operators/keepalived-operator/1.4.0/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/keepalived-operator/1.4.0/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  operators/keepalived-operator/1.4.0/manifests/keepalived-operator-controller-manager_v1_serviceaccount.yaml
  operators/keepalived-operator/1.4.0/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  operators/keepalived-operator/1.4.0/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keepalived-operator/1.4.0/manifests/keepalived-operator.clusterserviceversion.yaml
  operators/keepalived-operator/1.4.0/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  operators/keepalived-operator/1.4.0/metadata/annotations.yaml
  operators/keepalived-operator/1.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#168 operators namespace-configuration-operator (1.2.0)
  operators/namespace-configuration-operator/1.2.0/Dockerfile
  operators/namespace-configuration-operator/1.2.0/manifests/namespace-configuration-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/namespace-configuration-operator/1.2.0/manifests/namespace-configuration-operator-controller-manager-metrics_v1_service.yaml
  operators/namespace-configuration-operator/1.2.0/manifests/namespace-configuration-operator-controller-manager_v1_serviceaccount.yaml
  operators/namespace-configuration-operator/1.2.0/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  operators/namespace-configuration-operator/1.2.0/manifests/namespace-configuration-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/namespace-configuration-operator/1.2.0/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  operators/namespace-configuration-operator/1.2.0/manifests/redhatcop.redhat.io_groupconfigs.yaml
  operators/namespace-configuration-operator/1.2.0/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  operators/namespace-configuration-operator/1.2.0/manifests/redhatcop.redhat.io_userconfigs.yaml
  operators/namespace-configuration-operator/1.2.0/metadata/annotations.yaml
  operators/namespace-configuration-operator/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#171 operators must-gather-operator (1.1.0)
  operators/must-gather-operator/1.1.0/Dockerfile
  operators/must-gather-operator/1.1.0/manifests/must-gather-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/must-gather-operator/1.1.0/manifests/must-gather-operator-controller-manager-metrics_v1_service.yaml
  operators/must-gather-operator/1.1.0/manifests/must-gather-operator-controller-manager_v1_serviceaccount.yaml
  operators/must-gather-operator/1.1.0/manifests/must-gather-operator-manager-config_v1_configmap.yaml
  operators/must-gather-operator/1.1.0/manifests/must-gather-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/must-gather-operator/1.1.0/manifests/must-gather-operator.clusterserviceversion.yaml
  operators/must-gather-operator/1.1.0/manifests/redhatcop.redhat.io_mustgathers.yaml
  operators/must-gather-operator/1.1.0/metadata/annotations.yaml
  operators/must-gather-operator/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#170 operators egressip-ipam-operator (1.2.0)
  operators/egressip-ipam-operator/1.2.0/Dockerfile
  operators/egressip-ipam-operator/1.2.0/manifests/egressip-ipam-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/egressip-ipam-operator/1.2.0/manifests/egressip-ipam-operator-controller-manager-metrics_v1_service.yaml
  operators/egressip-ipam-operator/1.2.0/manifests/egressip-ipam-operator-controller-manager_v1_serviceaccount.yaml
  operators/egressip-ipam-operator/1.2.0/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  operators/egressip-ipam-operator/1.2.0/manifests/egressip-ipam-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/egressip-ipam-operator/1.2.0/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  operators/egressip-ipam-operator/1.2.0/manifests/redhatcop.redhat.io_egressipams.yaml
  operators/egressip-ipam-operator/1.2.0/metadata/annotations.yaml
  operators/egressip-ipam-operator/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#172 operators global-load-balancer-operator (1.3.0)
  operators/global-load-balancer-operator/1.3.0/Dockerfile
  operators/global-load-balancer-operator/1.3.0/manifests/externaldns.k8s.io_dnsendpoints.yaml
  operators/global-load-balancer-operator/1.3.0/manifests/global-load-balancer-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/global-load-balancer-operator/1.3.0/manifests/global-load-balancer-operator-controller-manager-metrics_v1_service.yaml
  operators/global-load-balancer-operator/1.3.0/manifests/global-load-balancer-operator-controller-manager_v1_serviceaccount.yaml
  operators/global-load-balancer-operator/1.3.0/manifests/global-load-balancer-operator-manager-config_v1_configmap.yaml
  operators/global-load-balancer-operator/1.3.0/manifests/global-load-balancer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/global-load-balancer-operator/1.3.0/manifests/global-load-balancer-operator.clusterserviceversion.yaml
  operators/global-load-balancer-operator/1.3.0/manifests/redhatcop.redhat.io_globaldnsrecords.yaml
  operators/global-load-balancer-operator/1.3.0/manifests/redhatcop.redhat.io_globaldnszones.yaml
  operators/global-load-balancer-operator/1.3.0/manifests/redhatcop.redhat.io_globalroutediscoveries.yaml
  operators/global-load-balancer-operator/1.3.0/metadata/annotations.yaml
  operators/global-load-balancer-operator/1.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#164 operators volume-expander-operator (0.3.0)
  operators/volume-expander-operator/0.3.0/Dockerfile
  operators/volume-expander-operator/0.3.0/manifests/volume-expander-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/volume-expander-operator/0.3.0/manifests/volume-expander-operator-controller-manager-metrics_v1_service.yaml
  operators/volume-expander-operator/0.3.0/manifests/volume-expander-operator-controller-manager_v1_serviceaccount.yaml
  operators/volume-expander-operator/0.3.0/manifests/volume-expander-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/volume-expander-operator/0.3.0/manifests/volume-expander-operator.clusterserviceversion.yaml
  operators/volume-expander-operator/0.3.0/metadata/annotations.yaml
  operators/volume-expander-operator/0.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#161 operators [CI] ibmcloud-operator
  operators/ibmcloud-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#160 operators [N] apimatic-kubernetes-operator (0.0.1)
  operators/apimatic-kubernetes-operator/0.0.1/manifests/apimatic-kubernetes-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#165 operators cert-utils-operator (1.2.0)
  operators/cert-utils-operator/1.2.0/Dockerfile
  operators/cert-utils-operator/1.2.0/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.2.0/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  operators/cert-utils-operator/1.2.0/manifests/cert-utils-operator-controller-manager_v1_serviceaccount.yaml
  operators/cert-utils-operator/1.2.0/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.2.0/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.2.0/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.2.0/metadata/annotations.yaml
  operators/cert-utils-operator/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#166 operators cert-utils-operator (1.3.0)
  operators/cert-utils-operator/1.3.0/Dockerfile
  operators/cert-utils-operator/1.3.0/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.0/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  operators/cert-utils-operator/1.3.0/manifests/cert-utils-operator-controller-manager_v1_serviceaccount.yaml
  operators/cert-utils-operator/1.3.0/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.0/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.0/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.0/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#173 operators [N] konveyor-forklift-operator (2.0.0)
  operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_controller.yaml
  operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_host.yaml
  operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_migration.yaml
  operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_networkmap.yaml
  operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_plan.yaml
  operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_provider.yaml
  operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_provisioner.yaml
  operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/forklift_v1alpha1_storagemap.yaml
  operators/konveyor-forklift-operator/2.0.0-beta.0/manifests/konveyor-forklift-operator.v2.0.0-beta.0.clusterserviceversion.yaml
  operators/konveyor-forklift-operator/2.0.0-beta.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator

#163 operators ibmcloud-operator (1.0.10)
  operators/ibmcloud-operator/1.0.10/apiextensions.k8s.io_v1beta1_customresourcedefinition_bindings.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.0.10/apiextensions.k8s.io_v1beta1_customresourcedefinition_services.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.0.10/ibmcloud_operator.v1.0.10.clusterserviceversion.yaml
  operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#176 operators konveyor-forklift-operator (2.1.0)
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_hooks.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_hosts.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_migrations.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_plans.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_providers.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_provisioners.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/konveyor-forklift-operator.v2.1.0.clusterserviceversion.yaml
  operators/konveyor-forklift-operator/2.1.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#177 operators victoriametrics-operator (0.18.1)
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.18.1/victoriametrics-operator.0.18.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.18.1/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/victoriametrics-operator/0.18.1/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/victoriametrics-operator/0.18.1/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated
