Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2021-10, with the labels that each got.

#283 operators [CI] hawtio-operator (0.4.0)
  operators/hawtio-operator/0.4.0/hawtio-operator.v0.4.0.clusterserviceversion.yaml
  operators/hawtio-operator/0.4.0/hawtios.hawt.io.crd.yaml
  operators/hawtio-operator/ci.yaml
  operators/hawtio-operator/hawtio-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#284 operators victoriametrics-operator (0.19.1)
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.19.1/victoriametrics-operator.0.19.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.19.1/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#292 operators kiali (1.41.0)
  operators/kiali/1.41.0/bundle.Dockerfile
  operators/kiali/1.41.0/manifests/kiali.crd.yaml
  operators/kiali/1.41.0/manifests/kiali.v1.41.0.clusterserviceversion.yaml
  operators/kiali/1.41.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#293 operators [O] oadp-operator (0.3.0)
  operators/oadp-operator/0.3.0/manifests/oadp-operator.v0.3.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#296 operators hive-operator (2.4.3189-026033b)
  operators/hive-operator/2.4.3189-026033b/hive-operator.v2.4.3189-026033b.clusterserviceversion.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3189-026033b/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3189-026033b/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3189-026033b/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#294 operators hive-operator (1.2.3254-512b7f4)
  operators/hive-operator/1.2.3254-512b7f4/hive-operator.v1.2.3254-512b7f4.clusterserviceversion.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3254-512b7f4/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3254-512b7f4/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3254-512b7f4/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#295 operators [CI] hive-operator
  operators/hive-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#291 operators [CI] microcks (1.4.1)
  operators/microcks/1.4.1/microcks-operator.v1.4.1.clusterserviceversion.yaml
  operators/microcks/1.4.1/microcksinstall.crd.yaml
  operators/microcks/ci.yaml
  operators/microcks/microcks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#311 operators [N] [CI] application-services-metering-operator (0.6.0)
  operators/application-services-metering-operator/0.6.0/Dockerfile
  operators/application-services-metering-operator/0.6.0/manifests/application-services-metering-operator-controller-service_v1_service.yaml
  operators/application-services-metering-operator/0.6.0/manifests/application-services-metering-operator-controller-service_v1_serviceaccount.yaml
  operators/application-services-metering-operator/0.6.0/manifests/application-services-metering-operator.clusterserviceversion.yaml
  operators/application-services-metering-operator/0.6.0/manifests/meters.applicationservices.redhat.com-v1.yaml
  operators/application-services-metering-operator/0.6.0/metadata/annotations.yaml
  operators/application-services-metering-operator/0.6.0/tests/scorecard/config.yaml
  operators/application-services-metering-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#317 operators flux (0.18.1)
  operators/flux/0.18.1/manifests/alert.crd.yaml
  operators/flux/0.18.1/manifests/bucket.crd.yaml
  operators/flux/0.18.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.18.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.18.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.18.1/manifests/flux.v0.18.1.clusterserviceversion.yaml
  operators/flux/0.18.1/manifests/gitrepository.crd.yaml
  operators/flux/0.18.1/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.18.1/manifests/helmchart.crd.yaml
  operators/flux/0.18.1/manifests/helmrelease.crd.yaml
  operators/flux/0.18.1/manifests/helmrepository.crd.yaml
  operators/flux/0.18.1/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.18.1/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.18.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.18.1/manifests/imagerepository.crd.yaml
  operators/flux/0.18.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.18.1/manifests/kustomization.crd.yaml
  operators/flux/0.18.1/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.18.1/manifests/notification-controller.service.yaml
  operators/flux/0.18.1/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.18.1/manifests/provider.crd.yaml
  operators/flux/0.18.1/manifests/receiver.crd.yaml
  operators/flux/0.18.1/manifests/source-controller.service.yaml
  operators/flux/0.18.1/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.18.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.18.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#321 operators [CI] neuvector-community-operator (1.2.8)
  operators/neuvector-community-operator/1.2.8/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.2.8/neuvector-operator.v1.2.8.clusterserviceversion.yaml
  operators/neuvector-community-operator/ci.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#318 operators hive-operator (1.2.3274-a27a4f7)
  operators/hive-operator/1.2.3274-a27a4f7/hive-operator.v1.2.3274-a27a4f7.clusterserviceversion.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#330 operators application-services-metering-operator (0.6.1)
  operators/application-services-metering-operator/0.6.1/Dockerfile
  operators/application-services-metering-operator/0.6.1/manifests/application-services-metering-operator-controller-service_v1_service.yaml
  operators/application-services-metering-operator/0.6.1/manifests/application-services-metering-operator-controller-service_v1_serviceaccount.yaml
  operators/application-services-metering-operator/0.6.1/manifests/application-services-metering-operator.clusterserviceversion.yaml
  operators/application-services-metering-operator/0.6.1/manifests/meters.applicationservices.redhat.com-v1.yaml
  operators/application-services-metering-operator/0.6.1/metadata/annotations.yaml
  operators/application-services-metering-operator/0.6.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#332 operators integrity-shield-operator (0.3.0)
  operators/integrity-shield-operator/0.3.0/manifests/apis.integrityshield.io_integrityshields.yaml
  operators/integrity-shield-operator/0.3.0/manifests/integrity-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/integrity-shield-operator/0.3.0/manifests/integrity-shield-operator-controller-manager_v1_serviceaccount.yaml
  operators/integrity-shield-operator/0.3.0/manifests/integrity-shield-operator-manager-config_v1_configmap.yaml
  operators/integrity-shield-operator/0.3.0/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/integrity-shield-operator/0.3.0/manifests/integrity-shield-operator.clusterserviceversion.yaml
  operators/integrity-shield-operator/0.3.0/metadata/annotations.yaml
  operators/integrity-shield-operator/0.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#326 operators [CI] aqua (6.5.0)
  operators/aqua/6.5.0/aqua-operator.v6.5.0.clusterserviceversion.yaml
  operators/aqua/6.5.0/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/aqua-operator.package.yaml
  operators/aqua/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated

#345 operators [CI] assisted-service-operator
  operators/assisted-service-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#346 operators [CI] assisted-service-operator
  operators/assisted-service-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#349 operators hive-operator (1.2.3299-f0cc1ba)
  operators/hive-operator/1.2.3299-f0cc1ba/hive-operator.v1.2.3299-f0cc1ba.clusterserviceversion.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9
