Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2021-11, with the labels that each got.

#398 operators flux (0.20.0)
  operators/flux/0.20.0/manifests/alert.crd.yaml
  operators/flux/0.20.0/manifests/bucket.crd.yaml
  operators/flux/0.20.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.20.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.20.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.20.0/manifests/flux.v0.20.0.clusterserviceversion.yaml
  operators/flux/0.20.0/manifests/gitrepository.crd.yaml
  operators/flux/0.20.0/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.20.0/manifests/helmchart.crd.yaml
  operators/flux/0.20.0/manifests/helmrelease.crd.yaml
  operators/flux/0.20.0/manifests/helmrepository.crd.yaml
  operators/flux/0.20.0/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.20.0/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.20.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.20.0/manifests/imagerepository.crd.yaml
  operators/flux/0.20.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.20.0/manifests/kustomization.crd.yaml
  operators/flux/0.20.0/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.20.0/manifests/notification-controller.service.yaml
  operators/flux/0.20.0/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.20.0/manifests/provider.crd.yaml
  operators/flux/0.20.0/manifests/receiver.crd.yaml
  operators/flux/0.20.0/manifests/source-controller.service.yaml
  operators/flux/0.20.0/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.20.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.20.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#400 operators flux (0.20.1)
  operators/flux/0.20.1/manifests/alert.crd.yaml
  operators/flux/0.20.1/manifests/bucket.crd.yaml
  operators/flux/0.20.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.20.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.20.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.20.1/manifests/flux.v0.20.1.clusterserviceversion.yaml
  operators/flux/0.20.1/manifests/gitrepository.crd.yaml
  operators/flux/0.20.1/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/helmchart.crd.yaml
  operators/flux/0.20.1/manifests/helmrelease.crd.yaml
  operators/flux/0.20.1/manifests/helmrepository.crd.yaml
  operators/flux/0.20.1/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.20.1/manifests/imagerepository.crd.yaml
  operators/flux/0.20.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.20.1/manifests/kustomization.crd.yaml
  operators/flux/0.20.1/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/notification-controller.service.yaml
  operators/flux/0.20.1/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/provider.crd.yaml
  operators/flux/0.20.1/manifests/receiver.crd.yaml
  operators/flux/0.20.1/manifests/source-controller.service.yaml
  operators/flux/0.20.1/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.20.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#403 operators hive-operator (1.2.3329-16c6e0f)
  operators/hive-operator/1.2.3329-16c6e0f/hive-operator.v1.2.3329-16c6e0f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#399 operators t8c (42.3.0)
  operators/t8c/42.3.0/t8c-operator.v42.3.0.clusterserviceversion.yaml
  operators/t8c/42.3.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#405 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#404 operators openebs (3.0.0)
  operators/openebs/3.0.0/openebs_v1alpha1_openebsinstalltemplate_crd.yaml
  operators/openebs/3.0.0/openebsoperator.v3.0.0.clusterserviceversion.yaml
  operators/openebs/openebs.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#406 operators flux (0.21.0)
  operators/flux/0.21.0/manifests/alert.crd.yaml
  operators/flux/0.21.0/manifests/bucket.crd.yaml
  operators/flux/0.21.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.21.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.21.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.21.0/manifests/flux.v0.21.0.clusterserviceversion.yaml
  operators/flux/0.21.0/manifests/gitrepository.crd.yaml
  operators/flux/0.21.0/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.21.0/manifests/helmchart.crd.yaml
  operators/flux/0.21.0/manifests/helmrelease.crd.yaml
  operators/flux/0.21.0/manifests/helmrepository.crd.yaml
  operators/flux/0.21.0/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.21.0/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.21.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.21.0/manifests/imagerepository.crd.yaml
  operators/flux/0.21.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.21.0/manifests/kustomization.crd.yaml
  operators/flux/0.21.0/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.21.0/manifests/notification-controller.service.yaml
  operators/flux/0.21.0/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.21.0/manifests/provider.crd.yaml
  operators/flux/0.21.0/manifests/receiver.crd.yaml
  operators/flux/0.21.0/manifests/source-controller.service.yaml
  operators/flux/0.21.0/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.21.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.21.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#409 operators [CI] ibm-security-verify-access-operator
  operators/ibm-security-verify-access-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#413 operators opendatahub-operator (1.1.1)
  operators/opendatahub-operator/1.1.1/manifests/kfdef.apps.kubeflow.org.crd.yaml
  operators/opendatahub-operator/1.1.1/manifests/opendatahub-operator.v1.1.1.clusterserviceversion.yaml
  operators/opendatahub-operator/1.1.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#414 operators rhoas-operator (0.9.1)
  operators/rhoas-operator/0.9.1/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  operators/rhoas-operator/0.9.1/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  operators/rhoas-operator/0.9.1/manifests/rhoas-operator.clusterserviceversion.yaml
  operators/rhoas-operator/0.9.1/manifests/rhoas-operator.kafkaconnections.crd.yaml
  operators/rhoas-operator/0.9.1/manifests/rhoas-operator.serviceregistryconnections.crd.yaml
  operators/rhoas-operator/0.9.1/manifests/service-binding.clusterrole.yaml
  operators/rhoas-operator/0.9.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#416 operators snyk-operator (1.70.1)
  operators/snyk-operator/1.70.1/snyk-operator.v1.70.1.clusterserviceversion.yaml
  operators/snyk-operator/1.70.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: needs-ok-to-test, ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#417 operators pulp-operator (0.5.0)
  operators/pulp-operator/0.5.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator.v0.5.0.clusterserviceversion.yaml
  operators/pulp-operator/0.5.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.5.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.5.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.5.0/metadata/annotations.yaml
  operators/pulp-operator/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#415 operators oadp-operator (0.4.1)
  operators/oadp-operator/0.4.1/manifests/backup.crd.yaml
  operators/oadp-operator/0.4.1/manifests/backupstoragelocation.crd.yaml
  operators/oadp-operator/0.4.1/manifests/deletebackuprequest.crd.yaml
  operators/oadp-operator/0.4.1/manifests/downloadrequest.crd.yaml
  operators/oadp-operator/0.4.1/manifests/oadp-operator.v0.4.1.clusterserviceversion.yaml
  operators/oadp-operator/0.4.1/manifests/podvolumebackup.crd.yaml
  operators/oadp-operator/0.4.1/manifests/podvolumerestore.crd.yaml
  operators/oadp-operator/0.4.1/manifests/resticrepository.crd.yaml
  operators/oadp-operator/0.4.1/manifests/restore.crd.yaml
  operators/oadp-operator/0.4.1/manifests/schedule.crd.yaml
  operators/oadp-operator/0.4.1/manifests/serverstatusrequest.crd.yaml
  operators/oadp-operator/0.4.1/manifests/veleroes.crd.yaml
  operators/oadp-operator/0.4.1/manifests/volumesnapshotlocation.crd.yaml
  operators/oadp-operator/0.4.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#418 operators hive-operator (1.2.3337-d668960)
  operators/hive-operator/1.2.3337-d668960/hive-operator.v1.2.3337-d668960.clusterserviceversion.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3337-d668960/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3337-d668960/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3337-d668960/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#314 operators kubeturbo (8.3.3)
  operators/kubeturbo/8.3.3/kubeturbo-operator.v8.3.3.clusterserviceversion.yaml
  operators/kubeturbo/8.3.3/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#422 operators cert-manager (1.6.1)
  operators/cert-manager/1.6.1/bundle.Dockerfile
  operators/cert-manager/1.6.1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.6.1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager-cainjector_v1_serviceaccount.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager-webhook_v1_serviceaccount.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager_v1_serviceaccount.yaml
  operators/cert-manager/1.6.1/metadata/annotations.yaml
  operators/cert-manager/1.6.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#423 operators kogito-operator (1.13.0)
  operators/kogito-operator/1.13.0/Dockerfile
  operators/kogito-operator/1.13.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.13.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.13.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.13.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.13.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.13.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.13.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.13.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.13.0/metadata/annotations.yaml
  operators/kogito-operator/1.13.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#424 operators snyk-operator (1.70.4)
  operators/snyk-operator/1.70.4/snyk-operator.v1.70.4.clusterserviceversion.yaml
  operators/snyk-operator/1.70.4/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#425 operators flux (0.22.0)
  operators/flux/0.22.0/manifests/alert.crd.yaml
  operators/flux/0.22.0/manifests/bucket.crd.yaml
  operators/flux/0.22.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.22.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.22.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.22.0/manifests/flux.v0.22.0.clusterserviceversion.yaml
  operators/flux/0.22.0/manifests/gitrepository.crd.yaml
  operators/flux/0.22.0/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/helmchart.crd.yaml
  operators/flux/0.22.0/manifests/helmrelease.crd.yaml
  operators/flux/0.22.0/manifests/helmrepository.crd.yaml
  operators/flux/0.22.0/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.22.0/manifests/imagerepository.crd.yaml
  operators/flux/0.22.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.22.0/manifests/kustomization.crd.yaml
  operators/flux/0.22.0/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/notification-controller.service.yaml
  operators/flux/0.22.0/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/provider.crd.yaml
  operators/flux/0.22.0/manifests/receiver.crd.yaml
  operators/flux/0.22.0/manifests/source-controller.service.yaml
  operators/flux/0.22.0/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.22.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#427 operators crane-operator (1.6.2)
  operators/crane-operator/1.6.2/manifests/backup.crd.yaml
  operators/crane-operator/1.6.2/manifests/backupstoragelocation.crd.yaml
  operators/crane-operator/1.6.2/manifests/crane-operator.v1.6.2.clusterserviceversion.yaml
  operators/crane-operator/1.6.2/manifests/deletebackuprequest.crd.yaml
  operators/crane-operator/1.6.2/manifests/downloadrequest.crd.yaml
  operators/crane-operator/1.6.2/manifests/migration.openshift.io_directimagemigrations.yaml
  operators/crane-operator/1.6.2/manifests/migration.openshift.io_directimagestreammigrations.yaml
  operators/crane-operator/1.6.2/manifests/migration.openshift.io_directvolumemigrationprogresses.yaml
  operators/crane-operator/1.6.2/manifests/migration.openshift.io_directvolumemigrations.yaml
  operators/crane-operator/1.6.2/manifests/migration.openshift.io_miganalytics.yaml
  operators/crane-operator/1.6.2/manifests/migration.openshift.io_migclusters.yaml
  operators/crane-operator/1.6.2/manifests/migration.openshift.io_mighooks.yaml
  operators/crane-operator/1.6.2/manifests/migration.openshift.io_migmigrations.yaml
  operators/crane-operator/1.6.2/manifests/migration.openshift.io_migplans.yaml
  operators/crane-operator/1.6.2/manifests/migration.openshift.io_migstorages.yaml
  operators/crane-operator/1.6.2/manifests/migrationcontroller.crd.yaml
  operators/crane-operator/1.6.2/manifests/podvolumebackup.crd.yaml
  operators/crane-operator/1.6.2/manifests/podvolumerestore.crd.yaml
  operators/crane-operator/1.6.2/manifests/resticrepository.crd.yaml
  operators/crane-operator/1.6.2/manifests/restore.crd.yaml
  operators/crane-operator/1.6.2/manifests/schedule.crd.yaml
  operators/crane-operator/1.6.2/manifests/serverstatusrequest.crd.yaml
  operators/crane-operator/1.6.2/manifests/volumesnapshotlocation.crd.yaml
  operators/crane-operator/1.6.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#429 operators [CI] oadp-operator (0.4.2)
  operators/oadp-operator/0.4.2/manifests/backup.crd.yaml
  operators/oadp-operator/0.4.2/manifests/backupstoragelocation.crd.yaml
  operators/oadp-operator/0.4.2/manifests/deletebackuprequest.crd.yaml
  operators/oadp-operator/0.4.2/manifests/downloadrequest.crd.yaml
  operators/oadp-operator/0.4.2/manifests/oadp-operator.v0.4.2.clusterserviceversion.yaml
  operators/oadp-operator/0.4.2/manifests/podvolumebackup.crd.yaml
  operators/oadp-operator/0.4.2/manifests/podvolumerestore.crd.yaml
  operators/oadp-operator/0.4.2/manifests/resticrepository.crd.yaml
  operators/oadp-operator/0.4.2/manifests/restore.crd.yaml
  operators/oadp-operator/0.4.2/manifests/schedule.crd.yaml
  operators/oadp-operator/0.4.2/manifests/serverstatusrequest.crd.yaml
  operators/oadp-operator/0.4.2/manifests/veleroes.crd.yaml
  operators/oadp-operator/0.4.2/manifests/volumesnapshotlocation.crd.yaml
  operators/oadp-operator/0.4.2/metadata/annotations.yaml
  operators/oadp-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#426 operators [N] maistraoperator (2.1.0)
  operators/maistraoperator/1.0.0/maistraoperator.v1.0.0.clusterserviceversion.yaml
  operators/maistraoperator/1.0.0/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.0.0/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.0.2/maistraoperator.v1.0.2.clusterserviceversion.yaml
  operators/maistraoperator/1.0.2/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.0.2/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.0.4/maistraoperator.v1.0.4.clusterserviceversion.yaml
  operators/maistraoperator/1.0.4/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.0.4/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.0.5/maistraoperator.v1.0.5.clusterserviceversion.yaml
  operators/maistraoperator/1.0.5/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.0.5/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.0.6/maistraoperator.v1.0.6.clusterserviceversion.yaml
  operators/maistraoperator/1.0.6/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.0.6/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.0.8/maistraoperator.v1.0.8.clusterserviceversion.yaml
  operators/maistraoperator/1.0.8/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.0.8/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.1.0/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.1.0/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.1.0/servicemeshmembers.crd.yaml
  operators/maistraoperator/1.1.1/maistraoperator.v1.1.1.clusterserviceversion.yaml
  operators/maistraoperator/1.1.1/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.1.1/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.1.1/servicemeshmembers.crd.yaml
  operators/maistraoperator/1.1.10/maistraoperator.v1.1.10.clusterserviceversion.yaml
  operators/maistraoperator/1.1.10/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.1.10/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.1.10/servicemeshmembers.crd.yaml
  operators/maistraoperator/1.1.3/maistraoperator.v1.1.3.clusterserviceversion.yaml
  operators/maistraoperator/1.1.3/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.1.3/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.1.3/servicemeshmembers.crd.yaml
  operators/maistraoperator/1.1.5/maistraoperator.v1.1.5.clusterserviceversion.yaml
  operators/maistraoperator/1.1.5/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/1.1.5/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/1.1.5/servicemeshmembers.crd.yaml
  operators/maistraoperator/2.0.0/maistraoperator.v2.0.0.clusterserviceversion.yaml
  operators/maistraoperator/2.0.0/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/2.0.0/servicemeshmembers.crd.yaml
  operators/maistraoperator/2.0.1-0/maistraoperator.v2.0.1.clusterserviceversion.yaml
  operators/maistraoperator/2.0.1-0/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/2.0.1-0/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/2.0.1-0/servicemeshmembers.crd.yaml
  operators/maistraoperator/2.0.2-0/maistraoperator.v2.0.2.clusterserviceversion.yaml
  operators/maistraoperator/2.0.2-0/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/2.0.2-0/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/2.0.2-0/servicemeshmembers.crd.yaml
  operators/maistraoperator/2.1.0/maistraoperator.v2.1.0.clusterserviceversion.yaml
  operators/maistraoperator/2.1.0/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/2.1.0/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/2.1.0/servicemeshmembers.crd.yaml
  operators/maistraoperator/maistra.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#430 operators opentelemetry-operator (0.38.0)
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.38.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#383 operators [CI] camel-k (1.6.1)
  operators/camel-k/1.6.1/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.6.1/camel-k.v1.6.1.clusterserviceversion.yaml
  operators/camel-k/1.6.1/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.6.1/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.6.1/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.6.1/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.6.1/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.6.1/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
  operators/camel-k/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#432 operators flux (0.22.1)
  operators/flux/0.22.1/manifests/alert.crd.yaml
  operators/flux/0.22.1/manifests/bucket.crd.yaml
  operators/flux/0.22.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.22.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.22.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.22.1/manifests/flux.v0.22.1.clusterserviceversion.yaml
  operators/flux/0.22.1/manifests/gitrepository.crd.yaml
  operators/flux/0.22.1/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/helmchart.crd.yaml
  operators/flux/0.22.1/manifests/helmrelease.crd.yaml
  operators/flux/0.22.1/manifests/helmrepository.crd.yaml
  operators/flux/0.22.1/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.22.1/manifests/imagerepository.crd.yaml
  operators/flux/0.22.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.22.1/manifests/kustomization.crd.yaml
  operators/flux/0.22.1/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/notification-controller.service.yaml
  operators/flux/0.22.1/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/provider.crd.yaml
  operators/flux/0.22.1/manifests/receiver.crd.yaml
  operators/flux/0.22.1/manifests/source-controller.service.yaml
  operators/flux/0.22.1/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.22.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#433 operators [CI] yaks (0.6.0)
  operators/yaks/0.6.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.6.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.6.0/yaks.v0.6.0.clusterserviceversion.yaml
  operators/yaks/ci.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#438 operators flux (0.23.0)
  operators/flux/0.23.0/manifests/alert.crd.yaml
  operators/flux/0.23.0/manifests/bucket.crd.yaml
  operators/flux/0.23.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.23.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.23.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.23.0/manifests/flux.v0.23.0.clusterserviceversion.yaml
  operators/flux/0.23.0/manifests/gitrepository.crd.yaml
  operators/flux/0.23.0/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/helmchart.crd.yaml
  operators/flux/0.23.0/manifests/helmrelease.crd.yaml
  operators/flux/0.23.0/manifests/helmrepository.crd.yaml
  operators/flux/0.23.0/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.23.0/manifests/imagerepository.crd.yaml
  operators/flux/0.23.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.23.0/manifests/kustomization.crd.yaml
  operators/flux/0.23.0/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/notification-controller.service.yaml
  operators/flux/0.23.0/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/provider.crd.yaml
  operators/flux/0.23.0/manifests/receiver.crd.yaml
  operators/flux/0.23.0/manifests/source-controller.service.yaml
  operators/flux/0.23.0/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.23.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#436 operators [N] [CI] maistraoperator (2.1.0)
  operators/maistraoperator/2.1.0/maistraoperator.v2.1.0.clusterserviceversion.yaml
  operators/maistraoperator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#435 operators [CI] camel-k
  operators/camel-k/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#434 operators [R] cert-manager (1.4.0 1.4.1 1.4.2 1.4.3 1.4.4 1.5.3 1.5.4 1.6.0 1.6.1)
  operators/cert-manager/1.4.0/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.4.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.4.4/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.5.3/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.5.4/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.6.0/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#441 operators resource-locker-operator (1.1.1)
  operators/resource-locker-operator/1.1.1/Dockerfile
  operators/resource-locker-operator/1.1.1/manifests/redhatcop.redhat.io_resourcelockers.yaml
  operators/resource-locker-operator/1.1.1/manifests/resource-locker-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/resource-locker-operator/1.1.1/manifests/resource-locker-operator-controller-manager-metrics_v1_service.yaml
  operators/resource-locker-operator/1.1.1/manifests/resource-locker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/resource-locker-operator/1.1.1/manifests/resource-locker-operator.clusterserviceversion.yaml
  operators/resource-locker-operator/1.1.1/metadata/annotations.yaml
  operators/resource-locker-operator/1.1.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#439 operators kiali (1.43.0)
  operators/kiali/1.43.0/bundle.Dockerfile
  operators/kiali/1.43.0/manifests/kiali.crd.yaml
  operators/kiali/1.43.0/manifests/kiali.v1.43.0.clusterserviceversion.yaml
  operators/kiali/1.43.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#440 operators neuvector-community-operator (1.2.9)
  operators/neuvector-community-operator/1.2.9/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.2.9/neuvector-operator.v1.2.9.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#442 operators [R] special-resource-operator (4.8.1 4.8.2 4.9.0)
  operators/special-resource-operator/4.8.1/manifests/special-resource-operator.clusterserviceversion.yaml
  operators/special-resource-operator/4.8.2/manifests/special-resource-operator.clusterserviceversion.yaml
  operators/special-resource-operator/4.9.0/manifests/special-resource-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#446 operators volume-expander-operator (0.3.1)
  operators/volume-expander-operator/0.3.1/Dockerfile
  operators/volume-expander-operator/0.3.1/manifests/volume-expander-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/volume-expander-operator/0.3.1/manifests/volume-expander-operator-controller-manager-metrics_v1_service.yaml
  operators/volume-expander-operator/0.3.1/manifests/volume-expander-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/volume-expander-operator/0.3.1/manifests/volume-expander-operator.clusterserviceversion.yaml
  operators/volume-expander-operator/0.3.1/metadata/annotations.yaml
  operators/volume-expander-operator/0.3.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#443 operators must-gather-operator (1.1.1)
  operators/must-gather-operator/1.1.1/Dockerfile
  operators/must-gather-operator/1.1.1/manifests/must-gather-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/must-gather-operator/1.1.1/manifests/must-gather-operator-controller-manager-metrics_v1_service.yaml
  operators/must-gather-operator/1.1.1/manifests/must-gather-operator-manager-config_v1_configmap.yaml
  operators/must-gather-operator/1.1.1/manifests/must-gather-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/must-gather-operator/1.1.1/manifests/must-gather-operator.clusterserviceversion.yaml
  operators/must-gather-operator/1.1.1/manifests/redhatcop.redhat.io_mustgathers.yaml
  operators/must-gather-operator/1.1.1/metadata/annotations.yaml
  operators/must-gather-operator/1.1.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#444 operators keepalived-operator (1.4.1)
  operators/keepalived-operator/1.4.1/Dockerfile
  operators/keepalived-operator/1.4.1/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/keepalived-operator/1.4.1/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  operators/keepalived-operator/1.4.1/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  operators/keepalived-operator/1.4.1/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keepalived-operator/1.4.1/manifests/keepalived-operator.clusterserviceversion.yaml
  operators/keepalived-operator/1.4.1/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  operators/keepalived-operator/1.4.1/metadata/annotations.yaml
  operators/keepalived-operator/1.4.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#445 operators namespace-configuration-operator (1.2.1)
  operators/namespace-configuration-operator/1.2.1/Dockerfile
  operators/namespace-configuration-operator/1.2.1/manifests/namespace-configuration-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/namespace-configuration-operator/1.2.1/manifests/namespace-configuration-operator-controller-manager-metrics_v1_service.yaml
  operators/namespace-configuration-operator/1.2.1/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  operators/namespace-configuration-operator/1.2.1/manifests/namespace-configuration-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/namespace-configuration-operator/1.2.1/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  operators/namespace-configuration-operator/1.2.1/manifests/redhatcop.redhat.io_groupconfigs.yaml
  operators/namespace-configuration-operator/1.2.1/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  operators/namespace-configuration-operator/1.2.1/manifests/redhatcop.redhat.io_userconfigs.yaml
  operators/namespace-configuration-operator/1.2.1/metadata/annotations.yaml
  operators/namespace-configuration-operator/1.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#447 operators global-load-balancer-operator (1.4.1)
  operators/global-load-balancer-operator/1.4.1/Dockerfile
  operators/global-load-balancer-operator/1.4.1/manifests/externaldns.k8s.io_dnsendpoints.yaml
  operators/global-load-balancer-operator/1.4.1/manifests/global-load-balancer-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/global-load-balancer-operator/1.4.1/manifests/global-load-balancer-operator-controller-manager-metrics_v1_service.yaml
  operators/global-load-balancer-operator/1.4.1/manifests/global-load-balancer-operator-manager-config_v1_configmap.yaml
  operators/global-load-balancer-operator/1.4.1/manifests/global-load-balancer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/global-load-balancer-operator/1.4.1/manifests/global-load-balancer-operator.clusterserviceversion.yaml
  operators/global-load-balancer-operator/1.4.1/manifests/redhatcop.redhat.io_globaldnsrecords.yaml
  operators/global-load-balancer-operator/1.4.1/manifests/redhatcop.redhat.io_globaldnszones.yaml
  operators/global-load-balancer-operator/1.4.1/manifests/redhatcop.redhat.io_globalroutediscoveries.yaml
  operators/global-load-balancer-operator/1.4.1/metadata/annotations.yaml
  operators/global-load-balancer-operator/1.4.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#448 operators egressip-ipam-operator (1.2.1)
  operators/egressip-ipam-operator/1.2.1/Dockerfile
  operators/egressip-ipam-operator/1.2.1/manifests/egressip-ipam-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/egressip-ipam-operator/1.2.1/manifests/egressip-ipam-operator-controller-manager-metrics_v1_service.yaml
  operators/egressip-ipam-operator/1.2.1/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  operators/egressip-ipam-operator/1.2.1/manifests/egressip-ipam-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/egressip-ipam-operator/1.2.1/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  operators/egressip-ipam-operator/1.2.1/manifests/redhatcop.redhat.io_egressipams.yaml
  operators/egressip-ipam-operator/1.2.1/metadata/annotations.yaml
  operators/egressip-ipam-operator/1.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#449 operators cert-utils-operator (1.3.1)
  operators/cert-utils-operator/1.3.1/Dockerfile
  operators/cert-utils-operator/1.3.1/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.1/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  operators/cert-utils-operator/1.3.1/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.1/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.1/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.1/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#450 operators [N] [CI] ack-s3-controller (0.0.7)
  operators/ack-s3-controller/0.0.7/bundle.Dockerfile
  operators/ack-s3-controller/0.0.7/manifests/ack-s3-controller.clusterserviceversion.yaml
  operators/ack-s3-controller/0.0.7/manifests/ack-s3-metrics-service_v1_service.yaml
  operators/ack-s3-controller/0.0.7/manifests/ack-s3-reader_rbac.authorization.k8s.io_v1_role.yaml
  operators/ack-s3-controller/0.0.7/manifests/ack-s3-writer_rbac.authorization.k8s.io_v1_role.yaml
  operators/ack-s3-controller/0.0.7/manifests/s3.services.k8s.aws_buckets.yaml
  operators/ack-s3-controller/0.0.7/metadata/annotations.yaml
  operators/ack-s3-controller/0.0.7/tests/scorecard/config.yaml
  operators/ack-s3-controller/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#451 operators pcc-operator (0.2.0)
  operators/pcc-operator/0.2.0/bundle.Dockerfile
  operators/pcc-operator/0.2.0/manifests/consoledefenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.2.0/manifests/consoles.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.2.0/manifests/defenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.2.0/manifests/pcc-operator.v0.2.0.clusterserviceversion.yaml
  operators/pcc-operator/0.2.0/metadata/annotations.yaml
  operators/pcc-operator/0.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#453 operators camel-k (1.7.0)
  operators/camel-k/1.7.0/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/camel-k.v1.7.0.clusterserviceversion.yaml
  operators/camel-k/1.7.0/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#456 operators tackle-operator (1.1.0)
  operators/tackle-operator/1.1.0/Dockerfile
  operators/tackle-operator/1.1.0/manifests/tackle-operator.v1.1.0.clusterserviceversion.yaml
  operators/tackle-operator/1.1.0/manifests/tackle.crd.yaml
  operators/tackle-operator/1.1.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#457 operators snyk-operator (1.72.0)
  operators/snyk-operator/1.72.0/snyk-operator.v1.72.0.clusterserviceversion.yaml
  operators/snyk-operator/1.72.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#458 operators vault-config-operator (0.1.1)
  operators/vault-config-operator/0.1.1/Dockerfile
  operators/vault-config-operator/0.1.1/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.1.1/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.1.1/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.1.1/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.1.1/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.1.1/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.1.1/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.1.1/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.1.1/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.1.1/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.1.1/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.1.1/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.1.1/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.1.1/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.1.1/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.1.1/metadata/annotations.yaml
  operators/vault-config-operator/0.1.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#367 operators datadog-operator (0.7.2)
  operators/datadog-operator/0.7.2/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/0.7.2/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/0.7.2/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/0.7.2/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/datadog-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#460 kubernetes-imagepuller-operator (0.1.0)
  operators/kubernetes-imagepuller-operator/0.1.0/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/kubernetes-image-puller-operator_v1_serviceaccount.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/kubernetes-imagepuller-operator.v0.1.0.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/manager-config_v1_configmap.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/ci.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#452 operators [O] victoriametrics-operator (0.20.1)
  operators/victoriametrics-operator/0.20.1/victoriametrics-operator.0.20.1.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#461 operators rhoas-operator (0.9.2)
  operators/rhoas-operator/0.9.2/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  operators/rhoas-operator/0.9.2/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  operators/rhoas-operator/0.9.2/manifests/rhoas-operator.clusterserviceversion.yaml
  operators/rhoas-operator/0.9.2/manifests/rhoas-operator.kafkaconnections.crd.yaml
  operators/rhoas-operator/0.9.2/manifests/rhoas-operator.serviceregistryconnections.crd.yaml
  operators/rhoas-operator/0.9.2/manifests/service-binding.clusterrole.yaml
  operators/rhoas-operator/0.9.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#464 operators snyk-operator (1.73.0)
  operators/snyk-operator/1.73.0/snyk-operator.v1.73.0.clusterserviceversion.yaml
  operators/snyk-operator/1.73.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#467 operators portworx-essentials (1.6.1)
  operators/portworx-essentials/1.6.1/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.6.1/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.6.1/portworxoperator.v1.6.1.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#468 operators postgresql (5.0.4)
  operators/postgresql/5.0.4/Dockerfile
  operators/postgresql/5.0.4/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.0.4/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.0.4/metadata/annotations.yaml
  operators/postgresql/5.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#470 operators rhoas-operator (0.9.3)
  operators/rhoas-operator/0.9.3/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  operators/rhoas-operator/0.9.3/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  operators/rhoas-operator/0.9.3/manifests/rhoas-operator.clusterserviceversion.yaml
  operators/rhoas-operator/0.9.3/manifests/rhoas-operator.kafkaconnections.crd.yaml
  operators/rhoas-operator/0.9.3/manifests/rhoas-operator.serviceregistryconnections.crd.yaml
  operators/rhoas-operator/0.9.3/manifests/service-binding.clusterrole.yaml
  operators/rhoas-operator/0.9.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#471 operators multicluster-operators-subscription (0.3.7)
  operators/multicluster-operators-subscription/0.3.7/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.7/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.7/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.7/apps.open-cluster-management.io_gitopsclusters_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.7/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.7/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.7/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.7/multicluster-operators-subscription.v0.3.7.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#472 operators oadp-operator (0.5.0)
  operators/oadp-operator/0.5.0/manifests/dpa-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.0/manifests/dpa-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.0/manifests/oadp-operator.clusterserviceversion.yaml
  operators/oadp-operator/0.5.0/manifests/oadp.openshift.io_cloudstorages.yaml
  operators/oadp-operator/0.5.0/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  operators/oadp-operator/0.5.0/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  operators/oadp-operator/0.5.0/manifests/openshift-adp-manager-config_v1_configmap.yaml
  operators/oadp-operator/0.5.0/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.0/manifests/velero-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.0/manifests/velero-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_backups.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_backupstoragelocations.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_deletebackuprequests.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_downloadrequests.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_podvolumebackups.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_podvolumerestores.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_resticrepositories.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_restores.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_schedules.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_serverstatusrequests.yaml
  operators/oadp-operator/0.5.0/manifests/velero.io_volumesnapshotlocations.yaml
  operators/oadp-operator/0.5.0/manifests/velero_v1_serviceaccount.yaml
  operators/oadp-operator/0.5.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#473 operators aqua (6.2.1)
  operators/aqua/6.2.1/aqua-operator.v6.2.1.clusterserviceversion.yaml
  operators/aqua/6.2.1/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/aqua-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#428 operators [CI] argocd-operator (0.1.0)
  operators/argocd-operator/0.1.0/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.1.0/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.1.0/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.1.0/argocd-operator.v0.1.0.clusterserviceversion.yaml
  operators/argocd-operator/0.1.0/argoproj.io_applications.yaml
  operators/argocd-operator/0.1.0/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.1.0/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.1.0/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.1.0/argoproj.io_argocds.yaml
  operators/argocd-operator/argocd-operator.package.yaml
  operators/argocd-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#465 operators hive-operator (1.2.3359-8f0773c)
  operators/hive-operator/1.2.3359-8f0773c/hive-operator.v1.2.3359-8f0773c.clusterserviceversion.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3359-8f0773c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3359-8f0773c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3359-8f0773c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#474 operators keda (2.5.0)
  operators/keda/2.5.0/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.5.0/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.5.0/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.5.0/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.5.0/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.5.0/manifests/keda.v2.5.0.clusterserviceversion.yaml
  operators/keda/2.5.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#466 operators grafana-operator (4.0.2)
  operators/grafana-operator/4.0.2/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.0.2/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.0.2/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.0.2/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.0.2/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.0.2/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.0.2/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.0.2/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#395 operators infinispan (2.2.1)
  operators/infinispan/2.2.1/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.2.1/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.2.1/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.2.1/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.2.1/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.2.1/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.2.1/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.2.1/metadata/annotations.yaml
  operators/infinispan/2.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#476 operators vault-config-operator (0.1.2)
  operators/vault-config-operator/0.1.2/Dockerfile
  operators/vault-config-operator/0.1.2/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.1.2/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.1.2/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.1.2/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.1.2/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.1.2/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.1.2/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.1.2/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.1.2/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.1.2/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.1.2/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.1.2/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.1.2/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.1.2/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.1.2/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.1.2/metadata/annotations.yaml
  operators/vault-config-operator/0.1.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#477 operators [R] aqua (6.2.1 6.5.1)
  operators/aqua/6.2.1/aqua-operator.v6.2.1.clusterserviceversion.yaml
  operators/aqua/6.5.1/aqua-operator.v6.5.1.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#475 operators ember-csi-community-operator (0.9.7)
  operators/ember-csi-community-operator/0.9.7/ember-csi-operator.crd.yaml
  operators/ember-csi-community-operator/0.9.7/ember-csi-operator.v0.9.7.clusterserviceversion.yaml
  operators/ember-csi-community-operator/ember-csi-community-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#482 operators resource-locker-operator (1.1.2)
  operators/resource-locker-operator/1.1.2/Dockerfile
  operators/resource-locker-operator/1.1.2/manifests/redhatcop.redhat.io_resourcelockers.yaml
  operators/resource-locker-operator/1.1.2/manifests/resource-locker-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/resource-locker-operator/1.1.2/manifests/resource-locker-operator-controller-manager-metrics_v1_service.yaml
  operators/resource-locker-operator/1.1.2/manifests/resource-locker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/resource-locker-operator/1.1.2/manifests/resource-locker-operator.clusterserviceversion.yaml
  operators/resource-locker-operator/1.1.2/metadata/annotations.yaml
  operators/resource-locker-operator/1.1.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#486 operators universal-crossplane (1.5.1-up.1)
  operators/universal-crossplane/1.5.1-up.1/Dockerfile
  operators/universal-crossplane/1.5.1-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/compositionrevisions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-admin.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-browse.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-edit.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-view.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane.serviceaccount.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/rbac-manager.serviceaccount.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/universal-crossplane-config.configmap.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/universal-crossplane.1.5.1-up.1.clusterserviceversion.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-secret.role.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-tls.secret.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-uxp-config.role.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent.service.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent.serviceaccount.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-bootstrapper.role.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/uxp-ca.secret.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/xgql-tls.secret.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/xgql.service.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/xgql.serviceaccount.yaml
  operators/universal-crossplane/1.5.1-up.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#484 operators universal-crossplane (1.3.3-up.1)
  operators/universal-crossplane/1.3.3-up.1/Dockerfile
  operators/universal-crossplane/1.3.3-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-admin.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-browse.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-edit.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-view.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane.serviceaccount.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/rbac-manager.serviceaccount.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/universal-crossplane-config.configmap.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/universal-crossplane.1.3.3-up.1.clusterserviceversion.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-secret.role.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-tls.secret.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-uxp-config.role.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent.service.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent.serviceaccount.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-bootstrapper.role.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/uxp-ca.secret.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/xgql-tls.secret.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/xgql.service.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/xgql.serviceaccount.yaml
  operators/universal-crossplane/1.3.3-up.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#485 operators universal-crossplane (1.4.3-up.1)
  operators/universal-crossplane/1.4.3-up.1/Dockerfile
  operators/universal-crossplane/1.4.3-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/compositionrevisions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-admin.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-browse.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-edit.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-view.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane.serviceaccount.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/rbac-manager.serviceaccount.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/universal-crossplane-config.configmap.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/universal-crossplane.1.4.3-up.1.clusterserviceversion.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-secret.role.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-tls.secret.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-uxp-config.role.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent.service.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent.serviceaccount.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-bootstrapper.role.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/uxp-ca.secret.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/xgql-tls.secret.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/xgql.service.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/xgql.serviceaccount.yaml
  operators/universal-crossplane/1.4.3-up.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#480 operators ember-csi-community-operator (0.9.8)
  operators/ember-csi-community-operator/0.9.8/ember-csi-operator.crd.yaml
  operators/ember-csi-community-operator/0.9.8/ember-csi-operator.v0.9.8.clusterserviceversion.yaml
  operators/ember-csi-community-operator/ember-csi-community-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#481 operators [CI] ack-apigatewayv2-controller
  operators/ack-apigatewayv2-controller/ci.yaml
  operators/ack-dynamodb-controller/ci.yaml
  operators/ack-ecr-controller/ci.yaml
  operators/ack-elasticache-controller/ci.yaml
  operators/ack-mq-controller/ci.yaml
  operators/ack-opensearchservice-controller/ci.yaml
  operators/ack-rds-controller/ci.yaml
  operators/ack-sagemaker-controller/ci.yaml
Labels: openshift-operator

#488 operators victoriametrics-operator (0.21.0)
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.21.0/victoriametrics-operator.0.21.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.21.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#489 operators resource-locker-operator (1.1.3)
  operators/resource-locker-operator/1.1.3/Dockerfile
  operators/resource-locker-operator/1.1.3/manifests/redhatcop.redhat.io_resourcelockers.yaml
  operators/resource-locker-operator/1.1.3/manifests/resource-locker-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/resource-locker-operator/1.1.3/manifests/resource-locker-operator-controller-manager-metrics_v1_service.yaml
  operators/resource-locker-operator/1.1.3/manifests/resource-locker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/resource-locker-operator/1.1.3/manifests/resource-locker-operator.clusterserviceversion.yaml
  operators/resource-locker-operator/1.1.3/metadata/annotations.yaml
  operators/resource-locker-operator/1.1.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9
