Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-07, with the labels that each got.

#1361 remove trivy-operator
  operators/trivy-operator/2.1.1/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.1.1/manifests/trivy-operator.service.yaml
  operators/trivy-operator/2.1.1/manifests/trivy-operator.v2.1.1.clusterserviceversion.yaml
  operators/trivy-operator/2.1.1/metadata/annotations.yaml
  operators/trivy-operator/2.2.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.2.0/manifests/trivy-operator.service.yaml
  operators/trivy-operator/2.2.0/manifests/trivy-operator.v2.2.0.clusterserviceversion.yaml
  operators/trivy-operator/2.2.0/metadata/annotations.yaml
  operators/trivy-operator/2.3.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.3.0/manifests/trivy-operator.service.yaml
  operators/trivy-operator/2.3.0/manifests/trivy-operator.v2.3.0.clusterserviceversion.yaml
  operators/trivy-operator/2.3.0/metadata/annotations.yaml
  operators/trivy-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, openshift-started-4.6, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1362 operator [O] strimzi-kafka-operator (0.29.0)
  operators/strimzi-kafka-operator/0.29.0/strimzi-cluster-operator.v0.29.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1365 operator dell-csi-operator (1.8.0)
  operators/dell-csi-operator/1.8.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.8.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.8.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.8.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.8.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.8.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.8.0/dell-csi-operator.v1.8.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1369 operator pulp-operator (0.13.0)
  operators/pulp-operator/0.13.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.13.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.13.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.13.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.13.0/manifests/pulp-operator.v0.13.0.clusterserviceversion.yaml
  operators/pulp-operator/0.13.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.13.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.13.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.13.0/metadata/annotations.yaml
  operators/pulp-operator/0.13.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1374 operator [CI] patterns-operator
  operators/patterns-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1371 operator patterns-operator (0.0.4)
  operators/patterns-operator/0.0.4/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.4/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.4/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.4/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.4/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.4/metadata/annotations.yaml
  operators/patterns-operator/0.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1377 operator kiali (1.53.0)
  operators/kiali/1.53.0/bundle.Dockerfile
  operators/kiali/1.53.0/manifests/kiali.crd.yaml
  operators/kiali/1.53.0/manifests/kiali.v1.53.0.clusterserviceversion.yaml
  operators/kiali/1.53.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1376 operator project-quay (3.7.3)
  operators/project-quay/3.7.3/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.3/quayecosystems.crd.yaml
  operators/project-quay/3.7.3/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1378 operator koku-metrics-operator (1.1.7)
  operators/koku-metrics-operator/1.1.7/Dockerfile
  operators/koku-metrics-operator/1.1.7/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/1.1.7/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/1.1.7/metadata/annotations.yaml
  operators/koku-metrics-operator/1.1.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10

#1370 operator [N] [CI] logging-operator (0.3.0)
  operators/logging-operator/0.3.0/manifests/elasticsearches.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.3.0/manifests/fluentds.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.3.0/manifests/indexlifecycles.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.3.0/manifests/indextemplates.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.3.0/manifests/kibanas.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.3.0/manifests/logging-operator.v0.3.0.clusterserviceversion.yaml
  operators/logging-operator/0.3.0/metadata/annotations.yaml
  operators/logging-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1235 operator percona-server-mongodb-operator (1.12.0)
  operators/percona-server-mongodb-operator/1.12.0/percona-server-mongodb-operator.v1.12.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.12.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.12.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.12.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1379 operator dynatrace-operator (0.7.1)
  operators/dynatrace-operator/0.7.1/Dockerfile
  operators/dynatrace-operator/0.7.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.7.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.7.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.7.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.7.1/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.7.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.7.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.7.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.7.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.7.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1386 operator sosivio (1.4.1)
  operators/sosivio/1.4.1/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.4.1/manifests/sosivio.crd.yaml
  operators/sosivio/1.4.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1388 operator kogito-operator (1.24.0)
  operators/kogito-operator/1.24.0/Dockerfile
  operators/kogito-operator/1.24.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.24.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.24.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.24.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.24.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.24.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.24.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.24.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.24.0/metadata/annotations.yaml
  operators/kogito-operator/1.24.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1389 operator hive-operator (1.2.3735-66d98a5)
  operators/hive-operator/1.2.3735-66d98a5/hive-operator.v1.2.3735-66d98a5.clusterserviceversion.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3735-66d98a5/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3735-66d98a5/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3735-66d98a5/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#1390 operator nfs-provisioner-operator (0.0.5)
  operators/nfs-provisioner-operator/0.0.5/Dockerfile
  operators/nfs-provisioner-operator/0.0.5/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.5/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.5/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.5/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.5/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.5/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1391 operator opentelemetry-operator (0.54.0)
  operators/opentelemetry-operator/0.54.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.54.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.54.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.54.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.54.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.54.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.54.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.54.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1392 operator sosivio (1.4.1-1)
  operators/sosivio/1.4.1-1/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.4.1-1/manifests/sosivio.crd.yaml
  operators/sosivio/1.4.1-1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1367 operator dell-csm-operator (0.2.0)
  operators/dell-csm-operator/0.2.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/0.2.0/manifests/dell-csm-operator.v0.2.0.clusterserviceversion.yaml
  operators/dell-csm-operator/0.2.0/metadata/annotations.yaml
  operators/dell-csm-operator/0.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1397 operator hive-operator (1.2.3737-0c5e2fb)
  operators/hive-operator/1.2.3737-0c5e2fb/hive-operator.v1.2.3737-0c5e2fb.clusterserviceversion.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3737-0c5e2fb/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1398 operator postgresql (5.1.2)
  operators/postgresql/5.1.2/Dockerfile
  operators/postgresql/5.1.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.1.2/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.1.2/metadata/annotations.yaml
  operators/postgresql/5.1.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1403 operator grafana-operator (4.5.0)
  operators/grafana-operator/4.5.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.5.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.5.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.5.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.5.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.5.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.5.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.5.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1400 operator [R] [CI] community-trivy-operator (2.1.1 2.2.0 2.3.0 2.4.0)
  operators/community-trivy-operator/2.1.1/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/community-trivy-operator/2.1.1/manifests/trivy-operator.service.yaml
  operators/community-trivy-operator/2.1.1/manifests/trivy-operator.v2.1.1.clusterserviceversion.yaml
  operators/community-trivy-operator/2.1.1/metadata/annotations.yaml
  operators/community-trivy-operator/2.2.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/community-trivy-operator/2.2.0/manifests/trivy-operator.service.yaml
  operators/community-trivy-operator/2.2.0/manifests/trivy-operator.v2.2.0.clusterserviceversion.yaml
  operators/community-trivy-operator/2.2.0/metadata/annotations.yaml
  operators/community-trivy-operator/2.3.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/community-trivy-operator/2.3.0/manifests/trivy-operator.service.yaml
  operators/community-trivy-operator/2.3.0/manifests/trivy-operator.v2.3.0.clusterserviceversion.yaml
  operators/community-trivy-operator/2.3.0/metadata/annotations.yaml
  operators/community-trivy-operator/2.4.0/manifests/VulnerabilityReport.yaml
  operators/community-trivy-operator/2.4.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/community-trivy-operator/2.4.0/manifests/trivy-operator.service.yaml
  operators/community-trivy-operator/2.4.0/manifests/trivy-operator.v2.4.0.clusterserviceversion.yaml
  operators/community-trivy-operator/2.4.0/metadata/annotations.yaml
  operators/community-trivy-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1407 operator [CI] opentelemetry-operator
  operators/opentelemetry-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1408 operator dynatrace-operator (0.7.2)
  operators/dynatrace-operator/0.7.2/Dockerfile
  operators/dynatrace-operator/0.7.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.7.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.7.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.7.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.7.2/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.7.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.7.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.7.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.7.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.7.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1405 operator [R] [CI] percona-xtradb-cluster-operator (1.10.0 1.11.0 1.9.0)
  operators/percona-xtradb-cluster-operator/1.10.0/manifests/percona-xtradb-cluster-operator.v1.10.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/manifests/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/percona-xtradb-cluster-operator.v1.10.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.11.0/manifests/percona-xtradb-cluster-operator.v1.11.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.11.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.11.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.11.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.11.0/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/1.4.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.4.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.4.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.4.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/manifests/percona-xtradb-cluster-operator.v1.9.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/manifests/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/percona-xtradb-cluster-operator.v1.9.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/ci.yaml
  operators/percona-xtradb-cluster-operator/percona-xtradb-cluster-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1406 operator opentelemetry-operator (0.55.0)
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.55.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.55.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1414 operator neuvector-community-operator (1.3.5)
  operators/neuvector-community-operator/1.3.5/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.3.5/neuvector-operator.v1.3.5.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1411 operator istio-workspace-operator (0.5.1)
  operators/istio-workspace-operator/0.5.1/manifests/istio-workspace-operator.clusterserviceversion.yaml
  operators/istio-workspace-operator/0.5.1/manifests/workspace.maistra.io_sessions.yaml
  operators/istio-workspace-operator/0.5.1/metadata/annotations.yaml
  operators/istio-workspace-operator/0.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1410 operator [O] seldon-operator (1.13.1)
  operators/seldon-operator/1.13.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, allow/serious-changes-to-existing, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1387 operator community-windows-machine-config-operator (5.1.2)
  operators/community-windows-machine-config-operator/5.1.2/manifests/community-windows-machine-config-operator.5.1.2.clusterserviceversion.yaml
  operators/community-windows-machine-config-operator/5.1.2/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/5.1.2/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/5.1.2/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/community-windows-machine-config-operator/5.1.2/manifests/windows-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/community-windows-machine-config-operator/5.1.2/manifests/windows-exporter_v1_service.yaml
  operators/community-windows-machine-config-operator/5.1.2/manifests/windows-prometheus-k8s-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/community-windows-machine-config-operator/5.1.2/metadata/annotations.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-skipped

#1419 operator project-quay (3.7.4)
  operators/project-quay/3.7.4/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.4/quayecosystems.crd.yaml
  operators/project-quay/3.7.4/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1421 operator group-sync-operator (0.0.20)
  operators/group-sync-operator/0.0.20/Dockerfile
  operators/group-sync-operator/0.0.20/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.20/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.20/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.20/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.20/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.20/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.20/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.20/metadata/annotations.yaml
  operators/group-sync-operator/0.0.20/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1420 operator hive-operator (1.2.3744-b87d3cb)
  operators/hive-operator/1.2.3744-b87d3cb/hive-operator.v1.2.3744-b87d3cb.clusterserviceversion.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3744-b87d3cb/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1423 operator vault-config-operator (0.6.0)
  operators/vault-config-operator/0.6.0/Dockerfile
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.6.0/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.6.0/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.6.0/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.6.0/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.6.0/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.6.0/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.6.0/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.6.0/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.6.0/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.6.0/metadata/annotations.yaml
  operators/vault-config-operator/0.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1426 operator strimzi-kafka-operator (0.30.0)
  operators/strimzi-kafka-operator/0.30.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/strimzi-cluster-operator.v0.30.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.30.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.30.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.30.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.30.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.30.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1427 operator jaeger (1.36.0)
  operators/jaeger/1.36.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.36.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.36.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.36.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.36.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.36.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.36.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.36.0/metadata/annotations.yaml
  operators/jaeger/1.36.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1429 operator flux (0.31.4)
  operators/flux/0.31.4/manifests/alert.crd.yaml
  operators/flux/0.31.4/manifests/bucket.crd.yaml
  operators/flux/0.31.4/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.31.4/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.31.4/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.31.4/manifests/flux.v0.31.4.clusterserviceversion.yaml
  operators/flux/0.31.4/manifests/gitrepository.crd.yaml
  operators/flux/0.31.4/manifests/helmchart.crd.yaml
  operators/flux/0.31.4/manifests/helmrelease.crd.yaml
  operators/flux/0.31.4/manifests/helmrepository.crd.yaml
  operators/flux/0.31.4/manifests/imagepolicy.crd.yaml
  operators/flux/0.31.4/manifests/imagerepository.crd.yaml
  operators/flux/0.31.4/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.31.4/manifests/kustomization.crd.yaml
  operators/flux/0.31.4/manifests/notification-controller.service.yaml
  operators/flux/0.31.4/manifests/provider.crd.yaml
  operators/flux/0.31.4/manifests/receiver.crd.yaml
  operators/flux/0.31.4/manifests/source-controller.service.yaml
  operators/flux/0.31.4/manifests/webhook-receiver.service.yaml
  operators/flux/0.31.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1432 operator grafana-operator (4.5.1)
  operators/grafana-operator/4.5.1/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.5.1/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.5.1/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.5.1/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.5.1/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.5.1/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.5.1/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.5.1/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1438 operator kubeturbo (8.6.0)
  operators/kubeturbo/8.6.0/kubeturbo-operator.v8.6.0.clusterserviceversion.yaml
  operators/kubeturbo/8.6.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1439 operator prometurbo (8.6.0)
  operators/prometurbo/8.6.0/prometurbo-operator.v8.6.0.clusterserviceversion.yaml
  operators/prometurbo/8.6.0/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo/prometurbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1441 operator victoriametrics-operator (0.26.0)
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.26.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.26.0/victoriametrics-operator.0.26.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#1428 operator opendatahub-operator (1.3.0)
  operators/opendatahub-operator/1.3.0/manifests/kfdef.apps.kubeflow.org.crd.yaml
  operators/opendatahub-operator/1.3.0/manifests/opendatahub-operator.v1.3.0.clusterserviceversion.yaml
  operators/opendatahub-operator/1.3.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1442 operator [CI] aqua (2022.4.3)
  operators/aqua/2022.4.3/bundle.Dockerfile
  operators/aqua/2022.4.3/manifests/aqua-operator.v2022.4.2.clusterserviceversion.yaml
  operators/aqua/2022.4.3/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.3/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.3/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.3/metadata/annotations.yaml
  operators/aqua/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1445 operator hive-operator (1.2.3756-34a0d90)
  operators/hive-operator/1.2.3756-34a0d90/hive-operator.v1.2.3756-34a0d90.clusterserviceversion.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3756-34a0d90/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3756-34a0d90/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3756-34a0d90/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3756-34a0d90/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1455 operator kogito-operator (1.25.0)
  operators/kogito-operator/1.25.0/bundle.Dockerfile
  operators/kogito-operator/1.25.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.25.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.25.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.25.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.25.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.25.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.25.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.25.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.25.0/metadata/annotations.yaml
  operators/kogito-operator/1.25.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1444 operator egressip-ipam-operator (1.2.4)
  operators/egressip-ipam-operator/1.2.4/Dockerfile
  operators/egressip-ipam-operator/1.2.4/manifests/egressip-ipam-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/egressip-ipam-operator/1.2.4/manifests/egressip-ipam-operator-controller-manager-metrics_v1_service.yaml
  operators/egressip-ipam-operator/1.2.4/manifests/egressip-ipam-operator-egressip-utilization_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/egressip-ipam-operator/1.2.4/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  operators/egressip-ipam-operator/1.2.4/manifests/egressip-ipam-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/egressip-ipam-operator/1.2.4/manifests/egressip-ipam-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/egressip-ipam-operator/1.2.4/manifests/egressip-ipam-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/egressip-ipam-operator/1.2.4/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  operators/egressip-ipam-operator/1.2.4/manifests/redhatcop.redhat.io_egressipams.yaml
  operators/egressip-ipam-operator/1.2.4/metadata/annotations.yaml
  operators/egressip-ipam-operator/1.2.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1452 operator klusterlet (0.8.0)
  operators/klusterlet/0.8.0/klusterlet.v0.8.0.clusterserviceversion.yaml
  operators/klusterlet/0.8.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1453 operator cluster-manager (0.8.0)
  operators/cluster-manager/0.8.0/cluster-manager.v0.8.0.clusterserviceversion.yaml
  operators/cluster-manager/0.8.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1454 operator victoriametrics-operator (0.26.2)
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.26.2/victoriametrics-operator.0.26.2.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1456 operator [CI] argocd-operator (0.4.0)
  operators/argocd-operator/0.4.0/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.4.0/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.4.0/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.4.0/argocd-operator.v0.4.0.clusterserviceversion.yaml
  operators/argocd-operator/0.4.0/argoproj.io_applications.yaml
  operators/argocd-operator/0.4.0/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.4.0/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.4.0/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.4.0/argoproj.io_argocds.yaml
  operators/argocd-operator/argocd-operator.package.yaml
  operators/argocd-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, openshift-started-4.7, installation-validated-4.8, installation-validated-4.6, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1458 operator [CI] aerospike-kubernetes-operator (2.1.0)
  operators/aerospike-kubernetes-operator/2.1.0/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.1.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.1.0/tests/scorecard/config.yaml
  operators/aerospike-kubernetes-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1459 operator [CI] gitops-primer
  operators/gitops-primer/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1460 operator patch-operator (0.1.6)
  operators/patch-operator/0.1.6/Dockerfile
  operators/patch-operator/0.1.6/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.6/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.6/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.6/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.6/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/patch-operator/0.1.6/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patch-operator/0.1.6/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.6/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.6/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.6/metadata/annotations.yaml
  operators/patch-operator/0.1.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1461 operator opentelemetry-operator (0.56.0)
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.56.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.56.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1462 operator keycloak-operator (19.0.0)
  operators/keycloak-operator/19.0.0/bundle.Dockerfile
  operators/keycloak-operator/19.0.0/manifests/keycloak-operator.v19.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/19.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1463 operator keycloak-operator (20.0.0-alpha.4)
  operators/keycloak-operator/20.0.0-alpha.4/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.4/manifests/keycloak-operator.v20.0.0-alpha.4.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.4/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1465 operator infinispan (2.2.5)
  operators/infinispan/2.2.5/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.2.5/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.2.5/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.2.5/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.2.5/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.2.5/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.2.5/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.2.5/metadata/annotations.yaml
  operators/infinispan/2.2.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1467 operator vault-config-operator (0.6.1)
  operators/vault-config-operator/0.6.1/Dockerfile
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.6.1/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.6.1/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.6.1/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.6.1/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.6.1/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.6.1/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.6.1/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.6.1/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.6.1/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.6.1/metadata/annotations.yaml
  operators/vault-config-operator/0.6.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1469 operator [R] [CI] sosivio (1.2.0-1 1.2.1-1 1.3.0-75 1.3.1-76 1.4.1-79 1.4.1-80)
  operators/sosivio/1.2.0-1/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.2.0-1/manifests/sosivio.crd.yaml
  operators/sosivio/1.2.0-1/metadata/annotations.yaml
  operators/sosivio/1.2.1-1/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.2.1-1/manifests/sosivio.crd.yaml
  operators/sosivio/1.2.1-1/metadata/annotations.yaml
  operators/sosivio/1.3.0-75/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.3.0-75/manifests/sosivio.crd.yaml
  operators/sosivio/1.3.0-75/metadata/annotations.yaml
  operators/sosivio/1.3.1-76/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.3.1-76/manifests/sosivio.crd.yaml
  operators/sosivio/1.3.1-76/metadata/annotations.yaml
  operators/sosivio/1.4.1-79/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.4.1-79/manifests/sosivio.crd.yaml
  operators/sosivio/1.4.1-79/metadata/annotations.yaml
  operators/sosivio/1.4.1-80/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.4.1-80/manifests/sosivio.crd.yaml
  operators/sosivio/1.4.1-80/metadata/annotations.yaml
  operators/sosivio/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11
