Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-02, with the labels that each got.

#735 operators fossul-operator (0.2.0)
  operators/fossul-operator/0.2.0/bundle.Dockerfile
  operators/fossul-operator/0.2.0/manifests/fossul-operator.v0.2.0.clusterserviceversion.yaml
  operators/fossul-operator/0.2.0/manifests/fossul.io_backupconfigs.yaml
  operators/fossul-operator/0.2.0/manifests/fossul.io_backups.yaml
  operators/fossul-operator/0.2.0/manifests/fossul.io_backupschedules.yaml
  operators/fossul-operator/0.2.0/manifests/fossul.io_fossuls.yaml
  operators/fossul-operator/0.2.0/manifests/fossul.io_restores.yaml
  operators/fossul-operator/0.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#541 operators [N] [CI] hazelcast-platform-operator (5.0.0)
  operators/hazelcast-platform-operator/5.0.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.0.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.0.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.0.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.0.0/tests/scorecard/config.yaml
  operators/hazelcast-platform-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#731 operators keda (2.6.0)
  operators/keda/2.6.0/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.6.0/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.6.0/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.6.0/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.6.0/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.6.0/manifests/keda.v2.6.0.clusterserviceversion.yaml
  operators/keda/2.6.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#736 operators [O] aqua (6.5.2)
  operators/aqua/6.5.2/aqua-operator.v6.5.2.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#738 operators portworx-essentials (1.7.0)
  operators/portworx-essentials/1.7.0/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.7.0/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.7.0/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#723 operators snyk-operator (1.81.1)
  operators/snyk-operator/1.81.1/snyk-operator.v1.81.1.clusterserviceversion.yaml
  operators/snyk-operator/1.81.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#747 operators [O] aqua (6.5.2)
  operators/aqua/6.5.2/aqua-operator.v6.5.2.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#749 operators silicom-sts-operator (0.0.3)
  operators/silicom-sts-operator/0.0.3/bundle.Dockerfile
  operators/silicom-sts-operator/0.0.3/manifests/silicom-sts-operator.clusterserviceversion.yaml
  operators/silicom-sts-operator/0.0.3/manifests/sts-controller-manager-metrics-service_v1_service.yaml
  operators/silicom-sts-operator/0.0.3/manifests/sts-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/silicom-sts-operator/0.0.3/manifests/sts.silicom.com_stsconfigs.yaml
  operators/silicom-sts-operator/0.0.3/manifests/sts.silicom.com_stsnodes.yaml
  operators/silicom-sts-operator/0.0.3/manifests/sts.silicom.com_stsoperatorconfigs.yaml
  operators/silicom-sts-operator/0.0.3/metadata/annotations.yaml
  operators/silicom-sts-operator/0.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#753 operators flux (0.26.0)
  operators/flux/0.26.0/manifests/alert.crd.yaml
  operators/flux/0.26.0/manifests/bucket.crd.yaml
  operators/flux/0.26.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.26.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.26.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.26.0/manifests/flux.v0.26.0.clusterserviceversion.yaml
  operators/flux/0.26.0/manifests/gitrepository.crd.yaml
  operators/flux/0.26.0/manifests/helmchart.crd.yaml
  operators/flux/0.26.0/manifests/helmrelease.crd.yaml
  operators/flux/0.26.0/manifests/helmrepository.crd.yaml
  operators/flux/0.26.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.26.0/manifests/imagerepository.crd.yaml
  operators/flux/0.26.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.26.0/manifests/kustomization.crd.yaml
  operators/flux/0.26.0/manifests/notification-controller.service.yaml
  operators/flux/0.26.0/manifests/provider.crd.yaml
  operators/flux/0.26.0/manifests/receiver.crd.yaml
  operators/flux/0.26.0/manifests/source-controller.service.yaml
  operators/flux/0.26.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.26.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#754 operators trivy-operator (2.3.0)
  operators/trivy-operator/2.3.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.3.0/manifests/trivy-operator.service.yaml
  operators/trivy-operator/2.3.0/manifests/trivy-operator.v2.3.0.clusterserviceversion.yaml
  operators/trivy-operator/2.3.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#760 operators apicurito (1.0.2)
  operators/apicurito/1.0.2/Dockerfile
  operators/apicurito/1.0.2/manifests/apicur.io_apicuritoes.yaml
  operators/apicurito/1.0.2/manifests/apicurito-operator-installer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/apicurito/1.0.2/manifests/apicurito.clusterserviceversion.yaml
  operators/apicurito/1.0.2/metadata/annotations.yaml
  operators/apicurito/1.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#759 operators kogito-operator (1.16.1)
  operators/kogito-operator/1.16.1/Dockerfile
  operators/kogito-operator/1.16.1/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.16.1/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.16.1/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.16.1/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.16.1/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.16.1/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.16.1/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.16.1/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.16.1/metadata/annotations.yaml
  operators/kogito-operator/1.16.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#762 operators apicurito (1.0.3)
  operators/apicurito/1.0.3/Dockerfile
  operators/apicurito/1.0.3/manifests/apicur.io_apicuritoes.yaml
  operators/apicurito/1.0.3/manifests/apicurito-operator-installer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/apicurito/1.0.3/manifests/apicurito.clusterserviceversion.yaml
  operators/apicurito/1.0.3/metadata/annotations.yaml
  operators/apicurito/1.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#763 operators hive-operator (1.2.3481-ad1892a)
  operators/hive-operator/1.2.3481-ad1892a/hive-operator.v1.2.3481-ad1892a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3481-ad1892a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3481-ad1892a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3481-ad1892a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#764 operators opendatahub-operator (1.1.2)
  operators/opendatahub-operator/1.1.2/manifests/kfdef.apps.kubeflow.org.crd.yaml
  operators/opendatahub-operator/1.1.2/manifests/opendatahub-operator.v1.1.2.clusterserviceversion.yaml
  operators/opendatahub-operator/1.1.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#767 operators volume-expander-operator (0.3.3)
  operators/volume-expander-operator/0.3.3/Dockerfile
  operators/volume-expander-operator/0.3.3/manifests/volume-expander-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/volume-expander-operator/0.3.3/manifests/volume-expander-operator-controller-manager-metrics_v1_service.yaml
  operators/volume-expander-operator/0.3.3/manifests/volume-expander-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/volume-expander-operator/0.3.3/manifests/volume-expander-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/volume-expander-operator/0.3.3/manifests/volume-expander-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/volume-expander-operator/0.3.3/manifests/volume-expander-operator.clusterserviceversion.yaml
  operators/volume-expander-operator/0.3.3/metadata/annotations.yaml
  operators/volume-expander-operator/0.3.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#779 operators fossul-operator (0.3.0)
  operators/fossul-operator/0.3.0/bundle.Dockerfile
  operators/fossul-operator/0.3.0/manifests/fossul-operator.v0.3.0.clusterserviceversion.yaml
  operators/fossul-operator/0.3.0/manifests/fossul.io_backupconfigs.yaml
  operators/fossul-operator/0.3.0/manifests/fossul.io_backups.yaml
  operators/fossul-operator/0.3.0/manifests/fossul.io_backupschedules.yaml
  operators/fossul-operator/0.3.0/manifests/fossul.io_fossuls.yaml
  operators/fossul-operator/0.3.0/manifests/fossul.io_restores.yaml
  operators/fossul-operator/0.3.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#780 operators hazelcast-platform-operator (5.1.0)
  operators/hazelcast-platform-operator/5.1.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.1.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.1.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.1.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#783 Fixing json format in alm-examples
  operators/infinispan/2.1.3/manifests/infinispan-operator.v2.1.3.clusterserviceversion.yaml
  operators/pulp-operator/0.3.0/manifests/pulp-operator.v0.3.0.clusterserviceversion.yaml
  operators/pulp-operator/0.4.0/manifests/pulp-operator.v0.4.0.clusterserviceversion.yaml
  operators/tf-operator/1.0.0/manifests/tf-operator.v1.0.0.clusterserviceversion.yaml
Labels: openshift-operator

#781 operators [N] patterns-operator (0.0.1)
  operators/patterns-operator/0.0.1/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.1/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.1/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.1/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.1/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.1/metadata/annotations.yaml
  operators/patterns-operator/0.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#787 operators keda (2.6.1)
  operators/keda/2.6.1/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.6.1/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.6.1/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.6.1/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.6.1/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.6.1/manifests/keda.v2.6.1.clusterserviceversion.yaml
  operators/keda/2.6.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#789 operators vault-config-operator (0.3.0)
  operators/vault-config-operator/0.3.0/Dockerfile
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.3.0/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.3.0/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.3.0/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.3.0/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.3.0/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.3.0/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.3.0/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.3.0/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.3.0/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.3.0/metadata/annotations.yaml
  operators/vault-config-operator/0.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#790 operators patterns-operator (0.0.2)
  operators/patterns-operator/0.0.2/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.2/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.2/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.2/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.2/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.2/metadata/annotations.yaml
  operators/patterns-operator/0.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#797 operators cert-utils-operator (1.3.4)
  operators/cert-utils-operator/1.3.4/Dockerfile
  operators/cert-utils-operator/1.3.4/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.4/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  operators/cert-utils-operator/1.3.4/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.4/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.4/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.4/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#800 operators volume-expander-operator (0.3.4)
  operators/volume-expander-operator/0.3.4/Dockerfile
  operators/volume-expander-operator/0.3.4/manifests/volume-expander-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/volume-expander-operator/0.3.4/manifests/volume-expander-operator-controller-manager-metrics_v1_service.yaml
  operators/volume-expander-operator/0.3.4/manifests/volume-expander-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/volume-expander-operator/0.3.4/manifests/volume-expander-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/volume-expander-operator/0.3.4/manifests/volume-expander-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/volume-expander-operator/0.3.4/manifests/volume-expander-operator.clusterserviceversion.yaml
  operators/volume-expander-operator/0.3.4/metadata/annotations.yaml
  operators/volume-expander-operator/0.3.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#794 operators [N] netobserv-operator (0.1.0)
  operators/netobserv-operator/0.1.0/manifests/network-observability-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#803 operators external-secrets-operator (0.4.2)
  operators/external-secrets-operator/0.4.2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.4.2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.4.2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.4.2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.4.2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.4.2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.4.2/metadata/annotations.yaml
  operators/external-secrets-operator/0.4.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#805 operators hive-operator (2.5.3487-54077a8)
  operators/hive-operator/2.5.3487-54077a8/hive-operator.v2.5.3487-54077a8.clusterserviceversion.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#806 operators strimzi-kafka-operator (0.28.0)
  operators/strimzi-kafka-operator/0.28.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/strimzi-cluster-operator.v0.28.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.28.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.28.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.28.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.28.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.28.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#807 operators keycloak-operator (17.0.0)
  operators/keycloak-operator/17.0.0/bundle.Dockerfile
  operators/keycloak-operator/17.0.0/manifests/keycloak-operator.v17.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/17.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#810 operators cert-utils-operator (1.3.5)
  operators/cert-utils-operator/1.3.5/Dockerfile
  operators/cert-utils-operator/1.3.5/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.5/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  operators/cert-utils-operator/1.3.5/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.5/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.5/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.5/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#804 operators ack-lambda-controller (0.0.8)
  operators/ack-lambda-controller/0.0.8/bundle.Dockerfile
  operators/ack-lambda-controller/0.0.8/manifests/ack-lambda-controller.clusterserviceversion.yaml
  operators/ack-lambda-controller/0.0.8/manifests/ack-lambda-metrics-service_v1_service.yaml
  operators/ack-lambda-controller/0.0.8/manifests/ack-lambda-reader_rbac.authorization.k8s.io_v1_role.yaml
  operators/ack-lambda-controller/0.0.8/manifests/ack-lambda-writer_rbac.authorization.k8s.io_v1_role.yaml
  operators/ack-lambda-controller/0.0.8/manifests/lambda.services.k8s.aws_aliases.yaml
  operators/ack-lambda-controller/0.0.8/manifests/lambda.services.k8s.aws_codesigningconfigs.yaml
  operators/ack-lambda-controller/0.0.8/manifests/lambda.services.k8s.aws_eventsourcemappings.yaml
  operators/ack-lambda-controller/0.0.8/manifests/lambda.services.k8s.aws_functions.yaml
  operators/ack-lambda-controller/0.0.8/metadata/annotations.yaml
  operators/ack-lambda-controller/0.0.8/tests/scorecard/config.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped

#792 operators opentelemetry-operator (0.43.0)
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.43.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.43.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#828 operators vault-config-operator (0.3.1)
  operators/vault-config-operator/0.3.1/Dockerfile
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.3.1/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.3.1/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.3.1/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.3.1/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.3.1/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.3.1/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.3.1/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.3.1/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.3.1/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.3.1/metadata/annotations.yaml
  operators/vault-config-operator/0.3.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#835 operators fossul-operator (0.4.0)
  operators/fossul-operator/0.4.0/bundle.Dockerfile
  operators/fossul-operator/0.4.0/manifests/fossul-operator.v0.4.0.clusterserviceversion.yaml
  operators/fossul-operator/0.4.0/manifests/fossul.io_backupconfigs.yaml
  operators/fossul-operator/0.4.0/manifests/fossul.io_backups.yaml
  operators/fossul-operator/0.4.0/manifests/fossul.io_backupschedules.yaml
  operators/fossul-operator/0.4.0/manifests/fossul.io_fossuls.yaml
  operators/fossul-operator/0.4.0/manifests/fossul.io_restores.yaml
  operators/fossul-operator/0.4.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#831 operators [N] [CI] project-quay (3.6.2)
  operators/project-quay/3.6.2/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.6.2/quayecosystems.crd.yaml
  operators/project-quay/3.6.2/quayregistries.crd.yaml
  operators/project-quay/ci.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#837 operators external-secrets-operator (0.4.3)
  operators/external-secrets-operator/0.4.3/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.4.3/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.4.3/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.4.3/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.4.3/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.4.3/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.4.3/metadata/annotations.yaml
  operators/external-secrets-operator/0.4.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#838 operators fossul-operator (0.5.0)
  operators/fossul-operator/0.5.0/bundle.Dockerfile
  operators/fossul-operator/0.5.0/manifests/fossul-operator.v0.5.0.clusterserviceversion.yaml
  operators/fossul-operator/0.5.0/manifests/fossul.io_backupconfigs.yaml
  operators/fossul-operator/0.5.0/manifests/fossul.io_backups.yaml
  operators/fossul-operator/0.5.0/manifests/fossul.io_backupschedules.yaml
  operators/fossul-operator/0.5.0/manifests/fossul.io_fossuls.yaml
  operators/fossul-operator/0.5.0/manifests/fossul.io_restores.yaml
  operators/fossul-operator/0.5.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#809 operators [CI] opentelemetry-operator
  operators/opentelemetry-operator/ci.yaml
Labels: do-not-merge/hold, openshift-operator, package-validated, installation-validated

#839 operators flux (0.27.0)
  operators/flux/0.27.0/manifests/alert.crd.yaml
  operators/flux/0.27.0/manifests/bucket.crd.yaml
  operators/flux/0.27.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.27.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.0/manifests/flux.v0.27.0.clusterserviceversion.yaml
  operators/flux/0.27.0/manifests/gitrepository.crd.yaml
  operators/flux/0.27.0/manifests/helmchart.crd.yaml
  operators/flux/0.27.0/manifests/helmrelease.crd.yaml
  operators/flux/0.27.0/manifests/helmrepository.crd.yaml
  operators/flux/0.27.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.27.0/manifests/imagerepository.crd.yaml
  operators/flux/0.27.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.27.0/manifests/kustomization.crd.yaml
  operators/flux/0.27.0/manifests/notification-controller.service.yaml
  operators/flux/0.27.0/manifests/provider.crd.yaml
  operators/flux/0.27.0/manifests/receiver.crd.yaml
  operators/flux/0.27.0/manifests/source-controller.service.yaml
  operators/flux/0.27.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.27.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#841 operators [R] openshift-nfd-operator (4.10.0 4.9.0)
  operators/openshift-nfd-operator/4.10.0/manifests/controller-manager-alerts-monitor_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/nfd-controller-manager-alerts-monitor_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/nfd-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/nfd-controller-manager-metrics-service_v1_service.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/nfd-manager-config_v1_configmap.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/nfd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/nfd-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/nfd-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/nfd.openshift.io_nodefeaturediscoveries.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/nfd.openshift.io_nodefeaturerules.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/nfd.v4.10.0.clusterserviceversion.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/openshift-nfd-operator/4.10.0/manifests/topology.node.k8s.io_noderesourcetopologies.yaml
  operators/openshift-nfd-operator/4.10.0/metadata/annotations.yaml
  operators/openshift-nfd-operator/4.10.0/tests/scorecard/config.yaml
  operators/openshift-nfd-operator/4.9.0/manifests/nfd.v4.9.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#842 operators victoriametrics-operator (0.23.3)
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.23.3/victoriametrics-operator.0.23.3.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#843 operators hive-operator (1.2.3506-f54f0ec)
  operators/hive-operator/1.2.3506-f54f0ec/hive-operator.v1.2.3506-f54f0ec.clusterserviceversion.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#799 operators jaeger (1.31.0)
  operators/jaeger/1.31.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.31.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.31.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.31.0/metadata/annotations.yaml
  operators/jaeger/1.31.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#849 operators group-sync-operator (0.0.16)
  operators/group-sync-operator/0.0.16/Dockerfile
  operators/group-sync-operator/0.0.16/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.16/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.16/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.16/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.16/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.16/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.16/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.16/metadata/annotations.yaml
  operators/group-sync-operator/0.0.16/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#851 operators grafana-operator (4.2.0)
  operators/grafana-operator/4.2.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.2.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.2.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.2.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.2.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.2.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.2.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.2.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#853 operators [CI] keycloak-operator
  operators/keycloak-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#840 operators [CI] gitlab-runner-operator (1.6.0)
  operators/gitlab-runner-operator/1.6.0/bundle.Dockerfile
  operators/gitlab-runner-operator/1.6.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.6.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.6.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.6.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.6.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.6.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.6.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.6.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.6.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.6.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.6.0/tests/scorecard/config.yaml
  operators/gitlab-runner-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#852 operators gitops-primer (0.0.6)
  operators/gitops-primer/0.0.6/manifests/gitops-primer-controller-manager-metrics-service_v1_service.yaml
  operators/gitops-primer/0.0.6/manifests/gitops-primer-manager-config_v1_configmap.yaml
  operators/gitops-primer/0.0.6/manifests/gitops-primer-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitops-primer/0.0.6/manifests/gitops-primer-webhook-service_v1_service.yaml
  operators/gitops-primer/0.0.6/manifests/gitops-primer.clusterserviceversion.yaml
  operators/gitops-primer/0.0.6/manifests/primer.gitops.io_exports.yaml
  operators/gitops-primer/0.0.6/metadata/annotations.yaml
  operators/gitops-primer/0.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10

#854 operators [N] fpga-dfl-operator (0.0.1)
  operators/fpga-dfl-operator/0.0.1/bundle.Dockerfile
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-controller-manager-metrics-service_v1_service.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-fpgadflconfig-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-fpgadflconfig-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-fpgadfloperator-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-fpgadfloperator-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-operator.clusterserviceversion.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga.silicom.dk_fpgadflclusters.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga.silicom.dk_fpgadflnodes.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga.silicom.dk_fpgadfloperators.yaml
  operators/fpga-dfl-operator/0.0.1/metadata/annotations.yaml
  operators/fpga-dfl-operator/0.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#856 operators flux (0.27.2)
  operators/flux/0.27.2/manifests/alert.crd.yaml
  operators/flux/0.27.2/manifests/bucket.crd.yaml
  operators/flux/0.27.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.27.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.2/manifests/flux.v0.27.2.clusterserviceversion.yaml
  operators/flux/0.27.2/manifests/gitrepository.crd.yaml
  operators/flux/0.27.2/manifests/helmchart.crd.yaml
  operators/flux/0.27.2/manifests/helmrelease.crd.yaml
  operators/flux/0.27.2/manifests/helmrepository.crd.yaml
  operators/flux/0.27.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.27.2/manifests/imagerepository.crd.yaml
  operators/flux/0.27.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.27.2/manifests/kustomization.crd.yaml
  operators/flux/0.27.2/manifests/notification-controller.service.yaml
  operators/flux/0.27.2/manifests/provider.crd.yaml
  operators/flux/0.27.2/manifests/receiver.crd.yaml
  operators/flux/0.27.2/manifests/source-controller.service.yaml
  operators/flux/0.27.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.27.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#857 operators verticadb-operator (1.3.0)
  operators/verticadb-operator/1.3.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.3.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.3.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.3.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.3.0/metadata/annotations.yaml
  operators/verticadb-operator/1.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#859 operators hive-operator (2.4.3222-d68346c)
  operators/hive-operator/2.4.3222-d68346c/hive-operator.v2.4.3222-d68346c.clusterserviceversion.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3222-d68346c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3222-d68346c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3222-d68346c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#864 operators neuvector-community-operator (1.3.2)
  operators/neuvector-community-operator/1.3.2/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.3.2/neuvector-operator.v1.3.2.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#865 operators t8c (42.7.0)
  operators/t8c/42.7.0/t8c-operator.v42.7.0.clusterserviceversion.yaml
  operators/t8c/42.7.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#827 operators cert-manager (1.6.2-rc1)
  operators/cert-manager/1.6.2-rc1/bundle.Dockerfile
  operators/cert-manager/1.6.2-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.6.2-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.6.2-rc1/metadata/annotations.yaml
  operators/cert-manager/1.6.2-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#866 operators kubeturbo (8.5.0)
  operators/kubeturbo/8.5.0/kubeturbo-operator.v8.5.0.clusterserviceversion.yaml
  operators/kubeturbo/8.5.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#868 operators [N] [CI] tf-controller (0.9.0-rc.3)
  operators/tf-controller/0.9.0-rc.3/manifests/terraform.crd.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-cluster-reconciler.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-controller.v0.9.0-rc.3.clusterserviceversion.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-leader-election-role.role.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-leader-election-rolebinding.rolebinding.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-manager-role.clusterrole.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-manager-rolebinding.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-runner-role.clusterrole.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-runner-rolebinding.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.3/metadata/annotations.yaml
  operators/tf-controller/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11
