Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-05, with the labels that each got.

#1108 operators [N] [CI] percona-postgresql-operator (1.2.0)
  operators/percona-postgresql-operator/1.2.0/manifests/percona-postgresql-operator.v1.2.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/perconapgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/pgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/pgpolicies.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/pgreplicas.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/pgtasks.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/metadata/annotations.yaml
  operators/percona-postgresql-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1162 operators [CI] hive-operator
  operators/hive-operator/ci.yaml
Labels: openshift-operator, authorized-changes

#1161 operators hive-operator (1.2.3606-2544e8a)
  operators/hive-operator/1.2.3606-2544e8a/hive-operator.v1.2.3606-2544e8a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3606-2544e8a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3606-2544e8a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3606-2544e8a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1160 operators [CI] opendatahub-operator
  operators/opendatahub-operator/ci.yaml
Labels: openshift-operator, authorized-changes

#1164 operators netobserv-operator (0.1.2)
  operators/netobserv-operator/0.1.2/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.1.2/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.1.2/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.1.2/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.1.2/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.1.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1165 operators opendatahub-operator (1.2.0)
  operators/opendatahub-operator/1.2.0/manifests/kfdef.apps.kubeflow.org.crd.yaml
  operators/opendatahub-operator/1.2.0/manifests/opendatahub-operator.v1.2.0.clusterserviceversion.yaml
  operators/opendatahub-operator/1.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10

#1166 operators verticadb-operator (1.4.0)
  operators/verticadb-operator/1.4.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.4.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.4.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.4.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.4.0/metadata/annotations.yaml
  operators/verticadb-operator/1.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1172 operators vault-config-operator (0.5.0)
  operators/vault-config-operator/0.5.0/Dockerfile
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.5.0/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.5.0/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.5.0/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.5.0/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.5.0/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.5.0/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.5.0/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.5.0/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.5.0/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.5.0/metadata/annotations.yaml
  operators/vault-config-operator/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1170 operators ibm-spectrum-scale-csi-operator (2.5.1)
  operators/ibm-spectrum-scale-csi-operator/2.5.1/csiscaleoperators.csi.ibm.com.crd.yaml
  operators/ibm-spectrum-scale-csi-operator/2.5.1/ibm-spectrum-scale-csi-operator.v2.5.1.clusterserviceversion.yaml
  operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1119 operators postgresql (5.1.0)
  operators/postgresql/5.1.0/Dockerfile
  operators/postgresql/5.1.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.1.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.1.0/metadata/annotations.yaml
  operators/postgresql/5.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1169 operators volume-expander-operator (0.3.6)
  operators/volume-expander-operator/0.3.6/Dockerfile
  operators/volume-expander-operator/0.3.6/manifests/volume-expander-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/volume-expander-operator/0.3.6/manifests/volume-expander-operator-controller-manager-metrics_v1_service.yaml
  operators/volume-expander-operator/0.3.6/manifests/volume-expander-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/volume-expander-operator/0.3.6/manifests/volume-expander-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/volume-expander-operator/0.3.6/manifests/volume-expander-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/volume-expander-operator/0.3.6/manifests/volume-expander-operator.clusterserviceversion.yaml
  operators/volume-expander-operator/0.3.6/metadata/annotations.yaml
  operators/volume-expander-operator/0.3.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1175 operators [CI] crane-operator
  operators/crane-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1168 operators [N] [CI] l5-operator (0.0.2)
  operators/l5-operator/0.0.2/manifests/l5-operator-bestie-metrics-reader_rbac.authorization_clusterrole.yaml
  operators/l5-operator/0.0.2/manifests/l5-operator-bestie-metrics-reader_rbac.authorization_clusterrolebinding.yaml
  operators/l5-operator/0.0.2/manifests/l5-operator-controller-manager-metrics-alert_monitoring.coreos.com_v1_prometheusRule.yaml
  operators/l5-operator/0.0.2/manifests/l5-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/l5-operator/0.0.2/manifests/l5-operator-controller-manager-metrics-service_v1_service.yaml
  operators/l5-operator/0.0.2/manifests/l5-operator-manager-config_v1_configmap.yaml
  operators/l5-operator/0.0.2/manifests/l5-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/l5-operator/0.0.2/manifests/l5-operator.clusterserviceversion.yaml
  operators/l5-operator/0.0.2/manifests/pets.bestie.com_besties.yaml
  operators/l5-operator/0.0.2/metadata/annotations.yaml
  operators/l5-operator/0.0.2/metadata/dependencies.yaml
  operators/l5-operator/0.0.2/tests/scorecard/config.yaml
  operators/l5-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1180 operators grafana-operator (4.4.1)
  operators/grafana-operator/4.4.1/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.4.1/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.4.1/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.4.1/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.4.1/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.4.1/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.4.1/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.4.1/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1178 operators [N] [CI] ecr-secret-operator (0.3.1)
  operators/ecr-secret-operator/0.3.1/manifests/ecr-secret-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ecr-secret-operator/0.3.1/manifests/ecr-secret-operator-manager-config_v1_configmap.yaml
  operators/ecr-secret-operator/0.3.1/manifests/ecr-secret-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ecr-secret-operator/0.3.1/manifests/ecr-secret-operator.clusterserviceversion.yaml
  operators/ecr-secret-operator/0.3.1/manifests/ecr-secret-sample_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.3.1/manifests/ecr-secret_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.3.1/manifests/ecr.mobb.redhat.com_secrets.yaml
  operators/ecr-secret-operator/0.3.1/metadata/annotations.yaml
  operators/ecr-secret-operator/0.3.1/tests/scorecard/config.yaml
  operators/ecr-secret-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1183 operators hive-operator (1.2.3633-595563c)
  operators/hive-operator/1.2.3633-595563c/hive-operator.v1.2.3633-595563c.clusterserviceversion.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3633-595563c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3633-595563c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3633-595563c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1185 operators mongodb-atlas-kubernetes (0.8.1)
  operators/mongodb-atlas-kubernetes/0.8.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/atlas.mongodb.com_atlasclusters.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1187 operators patch-operator (0.1.3)
  operators/patch-operator/0.1.3/Dockerfile
  operators/patch-operator/0.1.3/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.3/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.3/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.3/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.3/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/patch-operator/0.1.3/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patch-operator/0.1.3/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.3/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.3/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.3/metadata/annotations.yaml
  operators/patch-operator/0.1.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1188 operators patch-operator (0.1.4)
  operators/patch-operator/0.1.4/Dockerfile
  operators/patch-operator/0.1.4/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.4/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.4/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.4/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.4/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/patch-operator/0.1.4/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patch-operator/0.1.4/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.4/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.4/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.4/metadata/annotations.yaml
  operators/patch-operator/0.1.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1189 operators cert-utils-operator (1.3.10)
  operators/cert-utils-operator/1.3.10/Dockerfile
  operators/cert-utils-operator/1.3.10/manifests/cert-utils-operator-certificate-rule-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/cert-utils-operator/1.3.10/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.10/manifests/cert-utils-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cert-utils-operator/1.3.10/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.10/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.10/manifests/cert-utils-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/cert-utils-operator/1.3.10/manifests/cert-utils-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/cert-utils-operator/1.3.10/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.10/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.10/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1190 operators namespace-configuration-operator (1.2.4)
  operators/namespace-configuration-operator/1.2.4/Dockerfile
  operators/namespace-configuration-operator/1.2.4/manifests/namespace-configuration-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/namespace-configuration-operator/1.2.4/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  operators/namespace-configuration-operator/1.2.4/manifests/namespace-configuration-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/namespace-configuration-operator/1.2.4/manifests/namespace-configuration-operator-metrics-service_v1_service.yaml
  operators/namespace-configuration-operator/1.2.4/manifests/namespace-configuration-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/namespace-configuration-operator/1.2.4/manifests/namespace-configuration-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/namespace-configuration-operator/1.2.4/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  operators/namespace-configuration-operator/1.2.4/manifests/redhatcop.redhat.io_groupconfigs.yaml
  operators/namespace-configuration-operator/1.2.4/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  operators/namespace-configuration-operator/1.2.4/manifests/redhatcop.redhat.io_userconfigs.yaml
  operators/namespace-configuration-operator/1.2.4/metadata/annotations.yaml
  operators/namespace-configuration-operator/1.2.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1193 operators koku-metrics-operator (1.1.5)
  operators/koku-metrics-operator/1.1.5/Dockerfile
  operators/koku-metrics-operator/1.1.5/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/1.1.5/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/1.1.5/metadata/annotations.yaml
  operators/koku-metrics-operator/1.1.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10

#1194 operators beegfs-csi-driver-operator (1.2.2)
  operators/beegfs-csi-driver-operator/1.2.2/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.2.2/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.2.2/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.2.2/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.2.2/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.2.2/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.2.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1186 operators multicluster-operators-subscription (0.4.0)
  operators/multicluster-operators-subscription/0.4.0/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.4.0/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.4.0/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.4.0/apps.open-cluster-management.io_gitopsclusters_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.4.0/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.4.0/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.4.0/apps.open-cluster-management.io_subscriptionreports_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.4.0/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.4.0/apps.open-cluster-management.io_subscriptionstatuses_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.4.0/multicluster-operators-subscription.v0.4.0.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1197 operators [N] l5-operator (0.0.2)
  operators/l5-operator/0.0.2/manifests/l5-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1199 operators kogito-operator (1.21.0)
  operators/kogito-operator/1.21.0/Dockerfile
  operators/kogito-operator/1.21.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.21.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.21.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.21.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.21.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.21.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.21.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.21.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.21.0/metadata/annotations.yaml
  operators/kogito-operator/1.21.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1200 operators falcon-operator (0.5.2)
  operators/falcon-operator/0.5.2/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.2/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.2/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.2/metadata/annotations.yaml
  operators/falcon-operator/0.5.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1202 operators camel-k (1.9.1)
  operators/camel-k/1.9.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/camel-k.v1.9.1.clusterserviceversion.yaml
  operators/camel-k/1.9.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/metadata/annotations.yaml
  operators/camel-k/1.9.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1203 operators pulp-operator (0.10.0)
  operators/pulp-operator/0.10.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.10.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.10.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.10.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.10.0/manifests/pulp-operator.v0.10.0.clusterserviceversion.yaml
  operators/pulp-operator/0.10.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.10.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.10.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.10.0/metadata/annotations.yaml
  operators/pulp-operator/0.10.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1206 operators cass-operator-community (1.10.4)
  operators/cass-operator-community/1.10.4/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.10.4/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.10.4/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.10.4/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.10.4/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.10.4/metadata/annotations.yaml
  operators/cass-operator-community/1.10.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1205 :book: add nit clarifications on the README
  README.md
Labels: dco-failed

#1208 operators cert-manager (1.8.0-rc1)
  operators/cert-manager/1.8.0-rc1/bundle.Dockerfile
  operators/cert-manager/1.8.0-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.8.0-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.8.0-rc1/metadata/annotations.yaml
  operators/cert-manager/1.8.0-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1201 operators nfs-provisioner-operator (0.0.4)
  operators/nfs-provisioner-operator/0.0.4/Dockerfile
  operators/nfs-provisioner-operator/0.0.4/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.4/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.4/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.4/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.4/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.4/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1209 operators [N] l5-operator (0.0.2)
  operators/l5-operator/0.0.2/manifests/l5-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1211 operators neuvector-community-operator (1.3.4)
  operators/neuvector-community-operator/1.3.4/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.3.4/neuvector-operator.v1.3.4.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1213 operators hive-operator (1.2.3641-2a02c5d)
  operators/hive-operator/1.2.3641-2a02c5d/hive-operator.v1.2.3641-2a02c5d.clusterserviceversion.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3641-2a02c5d/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1215 operators cert-manager (1.8.0)
  operators/cert-manager/1.8.0/bundle.Dockerfile
  operators/cert-manager/1.8.0/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.8.0/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.8.0/metadata/annotations.yaml
  operators/cert-manager/1.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1214 operators microcks (1.5.2)
  operators/microcks/1.5.2/microcks-operator.v1.5.2.clusterserviceversion.yaml
  operators/microcks/1.5.2/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1221 operators victoriametrics-operator (0.25.0)
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.25.0/victoriametrics-operator.0.25.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#1222 operators victoriametrics-operator (0.25.1)
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.25.1/victoriametrics-operator.0.25.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1223 operators mongodb-atlas-kubernetes (1.0.0)
  operators/mongodb-atlas-kubernetes/1.0.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1224 operators strimzi-kafka-operator (0.29.0)
  operators/strimzi-kafka-operator/0.29.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/strimzi-cluster-operator.v0.29.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.29.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.29.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.29.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.29.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.29.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10

#1226 operators opentelemetry-operator (0.51.0)
  operators/opentelemetry-operator/0.51.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.51.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.51.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.51.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.51.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.51.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.51.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.51.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1230 operators project-quay (3.7.0)
  operators/project-quay/3.7.0/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.0/quayecosystems.crd.yaml
  operators/project-quay/3.7.0/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1238 operators keda (2.7.1)
  operators/keda/2.7.1/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.7.1/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.7.1/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.7.1/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.7.1/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.7.1/manifests/keda.v2.7.1.clusterserviceversion.yaml
  operators/keda/2.7.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1239 operators jaeger (1.34.1)
  operators/jaeger/1.34.1/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.34.1/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.34.1/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.34.1/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.34.1/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.34.1/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.34.1/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.34.1/metadata/annotations.yaml
  operators/jaeger/1.34.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1242 operators snyk-operator (1.90.1)
  operators/snyk-operator/1.90.1/snyk-operator.v1.90.1.clusterserviceversion.yaml
  operators/snyk-operator/1.90.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1243 operators flux (0.30.2)
  operators/flux/0.30.2/manifests/alert.crd.yaml
  operators/flux/0.30.2/manifests/bucket.crd.yaml
  operators/flux/0.30.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.30.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.30.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.30.2/manifests/flux.v0.30.2.clusterserviceversion.yaml
  operators/flux/0.30.2/manifests/gitrepository.crd.yaml
  operators/flux/0.30.2/manifests/helmchart.crd.yaml
  operators/flux/0.30.2/manifests/helmrelease.crd.yaml
  operators/flux/0.30.2/manifests/helmrepository.crd.yaml
  operators/flux/0.30.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.30.2/manifests/imagerepository.crd.yaml
  operators/flux/0.30.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.30.2/manifests/kustomization.crd.yaml
  operators/flux/0.30.2/manifests/notification-controller.service.yaml
  operators/flux/0.30.2/manifests/provider.crd.yaml
  operators/flux/0.30.2/manifests/receiver.crd.yaml
  operators/flux/0.30.2/manifests/source-controller.service.yaml
  operators/flux/0.30.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.30.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1244 operators group-sync-operator (0.0.19)
  operators/group-sync-operator/0.0.19/Dockerfile
  operators/group-sync-operator/0.0.19/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.19/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.19/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.19/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.19/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.19/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.19/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.19/metadata/annotations.yaml
  operators/group-sync-operator/0.0.19/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1249 operators hive-operator (2.4.3227-74831db)
  operators/hive-operator/2.4.3227-74831db/hive-operator.v2.4.3227-74831db.clusterserviceversion.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3227-74831db/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3227-74831db/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3227-74831db/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3227-74831db/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1241 operators kogito-operator (1.22.0)
  operators/kogito-operator/1.22.0/Dockerfile
  operators/kogito-operator/1.22.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.22.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.22.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.22.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.22.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.22.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.22.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.22.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.22.0/metadata/annotations.yaml
  operators/kogito-operator/1.22.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1250 operators vault-config-operator (0.5.1)
  operators/vault-config-operator/0.5.1/Dockerfile
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.5.1/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.5.1/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.5.1/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.5.1/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.5.1/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.5.1/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.5.1/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.5.1/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.5.1/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.5.1/metadata/annotations.yaml
  operators/vault-config-operator/0.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1251 operators falcon-operator (0.5.3)
  operators/falcon-operator/0.5.3/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.3/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.3/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.3/metadata/annotations.yaml
  operators/falcon-operator/0.5.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1252 operators kiali (1.51.0)
  operators/kiali/1.51.0/bundle.Dockerfile
  operators/kiali/1.51.0/manifests/kiali.crd.yaml
  operators/kiali/1.51.0/manifests/kiali.v1.51.0.clusterserviceversion.yaml
  operators/kiali/1.51.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1248 operators [N] pulsar-operator (0.10.3)
  operators/pulsar-operator/0.10.3/bundle.Dockerfile
  operators/pulsar-operator/0.10.3/manifests/pulsar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar-operator-pulsar-broker_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsarconnections.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsarproxies.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsartenants.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsartopics.yaml
  operators/pulsar-operator/0.10.3/metadata/annotations.yaml
  operators/pulsar-operator/0.10.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1247 operators [N] bookkeeper-operator (0.10.3)
  operators/bookkeeper-operator/0.10.3/bundle.Dockerfile
  operators/bookkeeper-operator/0.10.3/manifests/bookkeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/bookkeeper-operator/0.10.3/manifests/bookkeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bookkeeper-operator/0.10.3/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.10.3/manifests/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  operators/bookkeeper-operator/0.10.3/metadata/annotations.yaml
  operators/bookkeeper-operator/0.10.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1246 operators [N] zookeeper-operator (0.10.3)
  operators/zookeeper-operator/0.10.3/bundle.Dockerfile
  operators/zookeeper-operator/0.10.3/manifests/zookeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/zookeeper-operator/0.10.3/manifests/zookeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/zookeeper-operator/0.10.3/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.10.3/manifests/zookeeper.streamnative.io_zookeeperclusters.yaml
  operators/zookeeper-operator/0.10.3/metadata/annotations.yaml
  operators/zookeeper-operator/0.10.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1254 operators external-secrets-operator (0.5.4)
  operators/external-secrets-operator/0.5.4/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.4/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.4/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.4/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.4/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.4/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.4/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.4/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1257 operators gitlab-runner-operator (1.9.0)
  operators/gitlab-runner-operator/1.9.0/bundle.Dockerfile
  operators/gitlab-runner-operator/1.9.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.9.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1258 operators external-secrets-operator (0.5.5)
  operators/external-secrets-operator/0.5.5/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.5/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.5/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.5/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.5/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.5/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.5/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.5/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1256 operators hive-operator (1.2.3666-420863a)
  operators/hive-operator/1.2.3666-420863a/hive-operator.v1.2.3666-420863a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3666-420863a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3666-420863a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3666-420863a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3666-420863a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11
