Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-03, with the labels that each got.

#886 operators hive-operator (1.2.3530-0be0b66)
  operators/hive-operator/1.2.3530-0be0b66/hive-operator.v1.2.3530-0be0b66.clusterserviceversion.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3530-0be0b66/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3530-0be0b66/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3530-0be0b66/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#887 operators opentelemetry-operator (0.45.0)
  operators/opentelemetry-operator/0.45.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.45.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.45.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.45.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.45.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.45.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.45.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.45.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#889 operators argocd-operator (0.2.1)
  operators/argocd-operator/0.2.1/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.2.1/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.2.1/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.2.1/argocd-operator.v0.2.1.clusterserviceversion.yaml
  operators/argocd-operator/0.2.1/argoproj.io_applications.yaml
  operators/argocd-operator/0.2.1/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.2.1/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.2.1/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.2.1/argoproj.io_argocds.yaml
  operators/argocd-operator/argocd-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#869 operators [CI] camel-k (1.8.1)
  operators/camel-k/1.8.1/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/camel-k.v1.8.1.clusterserviceversion.yaml
  operators/camel-k/1.8.1/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
  operators/camel-k/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#891 operators flux (0.27.3)
  operators/flux/0.27.3/manifests/alert.crd.yaml
  operators/flux/0.27.3/manifests/bucket.crd.yaml
  operators/flux/0.27.3/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.3/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.27.3/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.3/manifests/flux.v0.27.3.clusterserviceversion.yaml
  operators/flux/0.27.3/manifests/gitrepository.crd.yaml
  operators/flux/0.27.3/manifests/helmchart.crd.yaml
  operators/flux/0.27.3/manifests/helmrelease.crd.yaml
  operators/flux/0.27.3/manifests/helmrepository.crd.yaml
  operators/flux/0.27.3/manifests/imagepolicy.crd.yaml
  operators/flux/0.27.3/manifests/imagerepository.crd.yaml
  operators/flux/0.27.3/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.27.3/manifests/kustomization.crd.yaml
  operators/flux/0.27.3/manifests/notification-controller.service.yaml
  operators/flux/0.27.3/manifests/provider.crd.yaml
  operators/flux/0.27.3/manifests/receiver.crd.yaml
  operators/flux/0.27.3/manifests/source-controller.service.yaml
  operators/flux/0.27.3/manifests/webhook-receiver.service.yaml
  operators/flux/0.27.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#908 operators [R] [CI] eclipse-che (7.44.0)
  operators/eclipse-che/7.39.0/manifests/eclipse-che.v7.39.0.clusterserviceversion.yaml
  operators/eclipse-che/7.39.0/manifests/org.eclipse.che_chebackupserverconfigurations_crd.yaml
  operators/eclipse-che/7.39.0/manifests/org.eclipse.che_checlusterbackups_crd.yaml
  operators/eclipse-che/7.39.0/manifests/org.eclipse.che_checlusterrestores_crd.yaml
  operators/eclipse-che/7.39.1/manifests/checlusters.org.eclipse.che.crd.yaml
  operators/eclipse-che/7.39.1/manifests/org.eclipse.che_chebackupserverconfigurations_crd.yaml
  operators/eclipse-che/7.39.1/manifests/org.eclipse.che_checlusterbackups_crd.yaml
  operators/eclipse-che/7.39.1/manifests/org.eclipse.che_checlusterrestores_crd.yaml
  operators/eclipse-che/7.39.1/metadata/annotations.yaml
  operators/eclipse-che/7.39.2/manifests/checlusters.org.eclipse.che.crd.yaml
  operators/eclipse-che/7.39.2/manifests/eclipse-che.v7.39.2.clusterserviceversion.yaml
  operators/eclipse-che/7.39.2/manifests/org.eclipse.che_chebackupserverconfigurations_crd.yaml
  operators/eclipse-che/7.39.2/manifests/org.eclipse.che_checlusterbackups_crd.yaml
  operators/eclipse-che/7.39.2/manifests/org.eclipse.che_checlusterrestores_crd.yaml
  operators/eclipse-che/7.39.2/metadata/annotations.yaml
  operators/eclipse-che/7.44.0/manifests/checlusters.org.eclipse.che.crd.yaml
  operators/eclipse-che/7.44.0/manifests/eclipse-che.v7.44.0.clusterserviceversion.yaml
  operators/eclipse-che/7.44.0/metadata/annotations.yaml
  operators/eclipse-che/7.44.0/metadata/dependencies.yaml
  operators/eclipse-che/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, openshift-started-4.7, installation-validated-4.8, installation-validated-4.6, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#913 operators verticadb-operator (1.3.1)
  operators/verticadb-operator/1.3.1/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.3.1/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.3.1/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.3.1/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.3.1/metadata/annotations.yaml
  operators/verticadb-operator/1.3.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#916 operators hive-operator (2.5.3489-6dec9c3)
  operators/hive-operator/2.5.3489-6dec9c3/hive-operator.v2.5.3489-6dec9c3.clusterserviceversion.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10

#912 operators kogito-operator (1.18.0)
  operators/kogito-operator/1.18.0/Dockerfile
  operators/kogito-operator/1.18.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.18.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.18.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.18.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.18.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.18.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.18.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.18.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.18.0/metadata/annotations.yaml
  operators/kogito-operator/1.18.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#920 operators cert-utils-operator (1.3.8)
  operators/cert-utils-operator/1.3.8/Dockerfile
  operators/cert-utils-operator/1.3.8/manifests/cert-utils-operator-certificate-rule-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/cert-utils-operator/1.3.8/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.8/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  operators/cert-utils-operator/1.3.8/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.8/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.8/manifests/cert-utils-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/cert-utils-operator/1.3.8/manifests/cert-utils-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/cert-utils-operator/1.3.8/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.8/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.8/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#870 operators [N] [CI] cass-operator-community (1.10.1)
  operators/cass-operator-community/1.10.1/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.10.1/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.10.1/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.10.1/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.10.1/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.10.1/metadata/annotations.yaml
  operators/cass-operator-community/1.10.1/tests/scorecard/config.yaml
  operators/cass-operator-community/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#921 operators kube-green (0.3.1)
  operators/kube-green/0.3.1/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.3.1/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.3.1/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.3.1/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.3.1/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.3.1/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.3.1/metadata/annotations.yaml
  operators/kube-green/0.3.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#923 operators camel-k (1.8.2)
  operators/camel-k/1.8.2/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/camel-k.v1.8.2.clusterserviceversion.yaml
  operators/camel-k/1.8.2/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#909 operators project-quay (3.7.0-rc.1)
  operators/project-quay/3.7.0-rc.1/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.0-rc.1/quayecosystems.crd.yaml
  operators/project-quay/3.7.0-rc.1/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#924 operators netobserv-operator (0.1.1)
  operators/netobserv-operator/0.1.1/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.1.1/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.1.1/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.1.1/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.1.1/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.1.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#917 operators mongodb-atlas-kubernetes (0.8.0)
  operators/mongodb-atlas-kubernetes/0.8.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/atlas.mongodb.com_atlasclusters.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#927 operators hive-operator (1.2.3542-688681d)
  operators/hive-operator/1.2.3542-688681d/hive-operator.v1.2.3542-688681d.clusterserviceversion.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3542-688681d/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3542-688681d/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3542-688681d/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3542-688681d/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#928 operators [R] [CI] teiid (0.0.1 0.1.0 0.1.1 0.2.0)
  operators/teiid/0.0.1/teiid.0.0.1.clusterserviceversion.yaml
  operators/teiid/0.1.0/teiid.0.1.0.clusterserviceversion.yaml
  operators/teiid/0.1.1/teiid.0.1.1.clusterserviceversion.yaml
  operators/teiid/0.2.0/teiid.v0.2.0.clusterserviceversion.yaml
  operators/teiid/ci.yaml
Labels: ok-to-test, openshift-operator, allow/operator-recreate

#855 operators opentelemetry-operator (0.44.0)
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.44.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.44.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#925 operators [CI] mongodb-atlas-kubernetes
  operators/mongodb-atlas-kubernetes/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#919 operators [CI] assisted-service-operator
  operators/assisted-service-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#930 operators [CI] postgresql (5.0.5)
  operators/postgresql/5.0.5/Dockerfile
  operators/postgresql/5.0.5/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.0.5/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.0.5/metadata/annotations.yaml
  operators/postgresql/5.0.5/tests/scorecard/config.yaml
  operators/postgresql/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#911 operators silicom-sts-operator (0.0.4)
  operators/silicom-sts-operator/0.0.4/bundle.Dockerfile
  operators/silicom-sts-operator/0.0.4/manifests/silicom-sts-operator.clusterserviceversion.yaml
  operators/silicom-sts-operator/0.0.4/manifests/sts-controller-manager-metrics-service_v1_service.yaml
  operators/silicom-sts-operator/0.0.4/manifests/sts-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/silicom-sts-operator/0.0.4/manifests/sts.silicom.com_stsconfigs.yaml
  operators/silicom-sts-operator/0.0.4/manifests/sts.silicom.com_stsnodes.yaml
  operators/silicom-sts-operator/0.0.4/manifests/sts.silicom.com_stsoperatorconfigs.yaml
  operators/silicom-sts-operator/0.0.4/metadata/annotations.yaml
  operators/silicom-sts-operator/0.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#931 operators [N] [CI] app-director-operator (0.0.1)
  operators/app-director-operator/0.0.1/Dockerfile
  operators/app-director-operator/0.0.1/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/0.0.1/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/0.0.1/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/0.0.1/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/0.0.1/manifests/appdirector.randoli.ca_clusterwideguvnors.yaml
  operators/app-director-operator/0.0.1/manifests/appdirector.randoli.ca_guvnors.yaml
  operators/app-director-operator/0.0.1/metadata/annotations.yaml
  operators/app-director-operator/0.0.1/tests/scorecard/config.yaml
  operators/app-director-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#934 operators snyk-operator (1.85.2)
  operators/snyk-operator/1.85.2/snyk-operator.v1.85.2.clusterserviceversion.yaml
  operators/snyk-operator/1.85.2/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#932 operators project-quay (3.7.0-rc.2)
  operators/project-quay/3.7.0-rc.2/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.0-rc.2/quayecosystems.crd.yaml
  operators/project-quay/3.7.0-rc.2/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#929 operators [CI] seldon-operator (1.13.1)
  operators/seldon-operator/1.13.1/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.13.1/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.13.1/metadata/annotations.yaml
  operators/seldon-operator/1.13.1/tests/scorecard/config.yaml
  operators/seldon-operator/ci.yaml
Labels: ok-to-test, do-not-merge/hold, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#933 operators jaeger (1.32.0)
  operators/jaeger/1.32.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.32.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.32.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.32.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.32.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.32.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.32.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.32.0/metadata/annotations.yaml
  operators/jaeger/1.32.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#937 operators hive-operator (2.5.3491-6feded1)
  operators/hive-operator/2.5.3491-6feded1/hive-operator.v2.5.3491-6feded1.clusterserviceversion.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3491-6feded1/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3491-6feded1/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3491-6feded1/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#938 operators pulp-operator (0.8.0)
  operators/pulp-operator/0.8.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator.v0.8.0.clusterserviceversion.yaml
  operators/pulp-operator/0.8.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.8.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.8.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.8.0/metadata/annotations.yaml
  operators/pulp-operator/0.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10

#943 operators infinispan (2.2.4)
  operators/infinispan/2.2.4/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.2.4/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.2.4/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.2.4/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.2.4/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.2.4/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.2.4/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.2.4/metadata/annotations.yaml
  operators/infinispan/2.2.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#944 operators cert-manager (1.6.2)
  operators/cert-manager/1.6.2/bundle.Dockerfile
  operators/cert-manager/1.6.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.6.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.6.2/metadata/annotations.yaml
  operators/cert-manager/1.6.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#940 operators opentelemetry-operator (0.46.0)
  operators/opentelemetry-operator/0.46.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.46.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.46.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.46.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.46.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.46.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.46.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.46.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-failed-4.11

#946 operators [N] [CI] falcon-operator (0.5.1)
  operators/falcon-operator/0.5.1/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.1/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.1/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.1/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.1/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.1/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.1/metadata/annotations.yaml
  operators/falcon-operator/0.5.1/tests/scorecard/config.yaml
  operators/falcon-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#955 operators ibmcloud-operator (1.1.0)
  operators/ibmcloud-operator/1.1.0/apiextensions.k8s.io_v1_customresourcedefinition_bindings.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.1.0/apiextensions.k8s.io_v1_customresourcedefinition_services.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.1.0/ibmcloud_operator.v1.1.0.clusterserviceversion.yaml
  operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#951 operators [PK] hive-operator ()
  operators/hive-operator/2.5.3487-54077a8/hive-operator.v2.5.3487-54077a8.clusterserviceversion.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, openshift-started-4.8, installation-validated-4.11

#962 operators flux (0.27.4)
  operators/flux/0.27.4/manifests/alert.crd.yaml
  operators/flux/0.27.4/manifests/bucket.crd.yaml
  operators/flux/0.27.4/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.4/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.27.4/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.4/manifests/flux.v0.27.4.clusterserviceversion.yaml
  operators/flux/0.27.4/manifests/gitrepository.crd.yaml
  operators/flux/0.27.4/manifests/helmchart.crd.yaml
  operators/flux/0.27.4/manifests/helmrelease.crd.yaml
  operators/flux/0.27.4/manifests/helmrepository.crd.yaml
  operators/flux/0.27.4/manifests/imagepolicy.crd.yaml
  operators/flux/0.27.4/manifests/imagerepository.crd.yaml
  operators/flux/0.27.4/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.27.4/manifests/kustomization.crd.yaml
  operators/flux/0.27.4/manifests/notification-controller.service.yaml
  operators/flux/0.27.4/manifests/provider.crd.yaml
  operators/flux/0.27.4/manifests/receiver.crd.yaml
  operators/flux/0.27.4/manifests/source-controller.service.yaml
  operators/flux/0.27.4/manifests/webhook-receiver.service.yaml
  operators/flux/0.27.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#963 operators tf-controller (0.9.0-rc.8)
  operators/tf-controller/0.9.0-rc.8/manifests/terraform.crd.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-cluster-reconciler.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-controller.v0.9.0-rc.8.clusterserviceversion.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-leader-election-role.role.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-leader-election-rolebinding.rolebinding.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-manager-role.clusterrole.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-manager-rolebinding.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-runner-role.clusterrole.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-runner-rolebinding.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.8/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#964 operators aqua (6.5.3)
  operators/aqua/6.5.3/aqua-operator.v6.5.3.clusterserviceversion.yaml
  operators/aqua/6.5.3/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.3/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.3/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/aqua-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#965 operators aqua (6.2.2)
  operators/aqua/6.2.2/aqua-operator.v6.2.2.clusterserviceversion.yaml
  operators/aqua/6.2.2/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/aqua-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#960 operators integrity-shield-operator (0.3.3)
  operators/integrity-shield-operator/0.3.3/manifests/apis.integrityshield.io_integrityshields.yaml
  operators/integrity-shield-operator/0.3.3/manifests/integrity-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/integrity-shield-operator/0.3.3/manifests/integrity-shield-operator-manager-config_v1_configmap.yaml
  operators/integrity-shield-operator/0.3.3/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/integrity-shield-operator/0.3.3/manifests/integrity-shield-operator.clusterserviceversion.yaml
  operators/integrity-shield-operator/0.3.3/metadata/annotations.yaml
  operators/integrity-shield-operator/0.3.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#947 operators [N] [CI] dynatrace-operator (0.5.0)
  operators/dynatrace-operator/0.5.0/Dockerfile
  operators/dynatrace-operator/0.5.0/manifests/dynatrace-activegate_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.5.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.5.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.5.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.5.0/metadata/annotations.yaml
  operators/dynatrace-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#961 operators [R] kiali (1.47.0 1.48.0)
  operators/kiali/1.47.0/bundle.Dockerfile
  operators/kiali/1.47.0/manifests/kiali.crd.yaml
  operators/kiali/1.47.0/manifests/kiali.v1.47.0.clusterserviceversion.yaml
  operators/kiali/1.47.0/metadata/annotations.yaml
  operators/kiali/1.48.0/bundle.Dockerfile
  operators/kiali/1.48.0/manifests/kiali.crd.yaml
  operators/kiali/1.48.0/manifests/kiali.v1.48.0.clusterserviceversion.yaml
  operators/kiali/1.48.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#953 DELETE Eunomia Operator
  operators/eunomia/0.1.0/eunomia.v0.1.0.clusterserviceversion.yaml
  operators/eunomia/0.1.0/gitopsconfigs.eunomia.kohls.io.crd.yaml
  operators/eunomia/ci.yaml
  operators/eunomia/eunomia.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#949 operators ibm-block-csi-operator-community (1.9.0)
  operators/ibm-block-csi-operator-community/1.9.0/bundle-1.9.0.Dockerfile
  operators/ibm-block-csi-operator-community/1.9.0/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.9.0/manifests/ibm-block-csi-operator.v1.9.0.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.9.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated

#967 operators hive-operator (1.2.3557-bfb69ae)
  operators/hive-operator/1.2.3557-bfb69ae/hive-operator.v1.2.3557-bfb69ae.clusterserviceversion.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3557-bfb69ae/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#957 Remove hazelcast jet operator
  operators/hazelcast-jet-operator/0.1.0/hazelcast-jet-operator.v0.1.0.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.1.0/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/ci.yaml
  operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.11

#980 operators [R] gitlab-runner-operator (1.7.0)
  operators/gitlab-runner-operator/1.7.0/bundle.Dockerfile
  operators/gitlab-runner-operator/1.7.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.7.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#982 operators [CI] project-quay
  operators/project-quay/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#973 operators [CI] patterns-operator (0.0.3)
  operators/patterns-operator/0.0.3/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.3/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.3/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.3/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.3/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.3/metadata/annotations.yaml
  operators/patterns-operator/0.0.3/tests/scorecard/config.yaml
  operators/patterns-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#983 operators hive-operator (2.5.3495-5cfdd44)
  operators/hive-operator/2.5.3495-5cfdd44/hive-operator.v2.5.3495-5cfdd44.clusterserviceversion.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#1010 operators flux (0.28.3)
  operators/flux/0.28.3/manifests/alert.crd.yaml
  operators/flux/0.28.3/manifests/bucket.crd.yaml
  operators/flux/0.28.3/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.28.3/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.28.3/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.28.3/manifests/flux.v0.28.3.clusterserviceversion.yaml
  operators/flux/0.28.3/manifests/gitrepository.crd.yaml
  operators/flux/0.28.3/manifests/helmchart.crd.yaml
  operators/flux/0.28.3/manifests/helmrelease.crd.yaml
  operators/flux/0.28.3/manifests/helmrepository.crd.yaml
  operators/flux/0.28.3/manifests/imagepolicy.crd.yaml
  operators/flux/0.28.3/manifests/imagerepository.crd.yaml
  operators/flux/0.28.3/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.28.3/manifests/kustomization.crd.yaml
  operators/flux/0.28.3/manifests/notification-controller.service.yaml
  operators/flux/0.28.3/manifests/provider.crd.yaml
  operators/flux/0.28.3/manifests/receiver.crd.yaml
  operators/flux/0.28.3/manifests/source-controller.service.yaml
  operators/flux/0.28.3/manifests/webhook-receiver.service.yaml
  operators/flux/0.28.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1011 operators hive-operator (2.5.3506-f42617c)
  operators/hive-operator/2.5.3506-f42617c/hive-operator.v2.5.3506-f42617c.clusterserviceversion.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3506-f42617c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3506-f42617c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3506-f42617c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#992 operators hazelcast-platform-operator (5.2.0)
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.2.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1013 operators klusterlet (0.7.0)
  operators/klusterlet/0.7.0/klusterlet.v0.7.0.clusterserviceversion.yaml
  operators/klusterlet/0.7.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#860 operators [CI] tidb-operator (1.3.1)
  operators/tidb-operator/1.3.1/backups.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/backupschedules.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/dmclusters.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/restores.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/tidb-operator.v1.3.1.clusterserviceversion.yaml
  operators/tidb-operator/1.3.1/tidbclusterautoscalers.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/tidbclusters.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/tidbinitializers.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/tidbmonitors.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/tidbngmonitorings.pingcap.com.crd.yaml
  operators/tidb-operator/ci.yaml
  operators/tidb-operator/tidb-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, installation-failed-4.6, installation-failed-4.7, installation-failed-4.8, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1012 operators cluster-manager (0.7.0)
  operators/cluster-manager/0.7.0/cluster-manager.v0.7.0.clusterserviceversion.yaml
  operators/cluster-manager/0.7.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1024 operators flux (0.28.4)
  operators/flux/0.28.4/manifests/alert.crd.yaml
  operators/flux/0.28.4/manifests/bucket.crd.yaml
  operators/flux/0.28.4/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.28.4/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.28.4/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.28.4/manifests/flux.v0.28.4.clusterserviceversion.yaml
  operators/flux/0.28.4/manifests/gitrepository.crd.yaml
  operators/flux/0.28.4/manifests/helmchart.crd.yaml
  operators/flux/0.28.4/manifests/helmrelease.crd.yaml
  operators/flux/0.28.4/manifests/helmrepository.crd.yaml
  operators/flux/0.28.4/manifests/imagepolicy.crd.yaml
  operators/flux/0.28.4/manifests/imagerepository.crd.yaml
  operators/flux/0.28.4/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.28.4/manifests/kustomization.crd.yaml
  operators/flux/0.28.4/manifests/notification-controller.service.yaml
  operators/flux/0.28.4/manifests/provider.crd.yaml
  operators/flux/0.28.4/manifests/receiver.crd.yaml
  operators/flux/0.28.4/manifests/source-controller.service.yaml
  operators/flux/0.28.4/manifests/webhook-receiver.service.yaml
  operators/flux/0.28.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1020 operators [O] aqua (6.5.3)
  operators/aqua/6.5.3/aqua-operator.v6.5.3.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#990 operators yaks (0.9.0)
  operators/yaks/0.9.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.9.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.9.0/yaks.v0.9.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#1031 operators ibm-spectrum-scale-csi-operator (2.5.0)
  operators/ibm-spectrum-scale-csi-operator/2.5.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operators/ibm-spectrum-scale-csi-operator/2.5.0/ibm-spectrum-scale-csi-operator.v2.5.0.clusterserviceversion.yaml
  operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1018 operators kogito-operator (1.19.0)
  operators/kogito-operator/1.19.0/Dockerfile
  operators/kogito-operator/1.19.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.19.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.19.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.19.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.19.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.19.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.19.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.19.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.19.0/metadata/annotations.yaml
  operators/kogito-operator/1.19.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1023 operators cert-manager (1.7.2)
  operators/cert-manager/1.7.2/bundle.Dockerfile
  operators/cert-manager/1.7.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.7.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.7.2/metadata/annotations.yaml
  operators/cert-manager/1.7.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10

#970 operators opentelemetry-operator (0.47.0)
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.47.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.47.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#995 operators dell-csi-operator (1.7.0)
  operators/dell-csi-operator/1.7.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/dell-csi-operator.v1.7.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, installation-validated-4.8, installation-failed-4.6, installation-failed-4.7, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#988 operators multicluster-operators-subscription (0.3.9)
  operators/multicluster-operators-subscription/0.3.9/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.9/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.9/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.9/apps.open-cluster-management.io_gitopsclusters_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.3.9/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.9/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.9/apps.open-cluster-management.io_subscriptionreports_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.3.9/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.3.9/apps.open-cluster-management.io_subscriptionstatuses_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.3.9/multicluster-operators-subscription.v0.3.9.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1019 operators hive-operator (1.2.3577-1549a35)
  operators/hive-operator/1.2.3577-1549a35/hive-operator.v1.2.3577-1549a35.clusterserviceversion.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3577-1549a35/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3577-1549a35/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3577-1549a35/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11
