Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-01, with the labels that each got.

#574 operators keycloak-operator (16.1.0)
  operators/keycloak-operator/16.1.0/bundle.Dockerfile
  operators/keycloak-operator/16.1.0/manifests/keycloak-operator.v16.1.0.clusterserviceversion.yaml
  operators/keycloak-operator/16.1.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/16.1.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/16.1.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/16.1.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/16.1.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/16.1.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#570 operators [R] [CI] external-secrets-operator (0.3.10 0.3.8 0.3.9)
  operators/external-secrets-operator/0.3.10/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.3.10/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.3.10/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.3.10/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.3.10/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.3.10/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.3.10/metadata/annotations.yaml
  operators/external-secrets-operator/0.3.10/tests/scorecard/config.yaml
  operators/external-secrets-operator/0.3.8/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.3.8/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.3.8/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.3.8/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.3.8/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.3.8/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.3.8/metadata/annotations.yaml
  operators/external-secrets-operator/0.3.8/tests/scorecard/config.yaml
  operators/external-secrets-operator/0.3.9/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.3.9/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.3.9/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.3.9/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.3.9/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.3.9/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.3.9/metadata/annotations.yaml
  operators/external-secrets-operator/0.3.9/tests/scorecard/config.yaml
  operators/external-secrets-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#555 operators [N] [CI] hazelcast-jet-operator (0.1.0)
  operators/hazelcast-jet-operator/0.1.0/hazelcast-jet-operator.v0.1.0.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#542 operators [CI] grafana-operator
  operators/grafana-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#568 operators trivy-operator (2.2.0)
  operators/trivy-operator/2.2.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.2.0/manifests/trivy-operator.service.yaml
  operators/trivy-operator/2.2.0/manifests/trivy-operator.v2.2.0.clusterserviceversion.yaml
  operators/trivy-operator/2.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#579 operators external-secrets-operator (0.3.11)
  operators/external-secrets-operator/0.3.11/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.3.11/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.3.11/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.3.11/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.3.11/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.3.11/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.3.11/metadata/annotations.yaml
  operators/external-secrets-operator/0.3.11/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#580 operators kogito-operator (1.15.0)
  operators/kogito-operator/1.15.0/Dockerfile
  operators/kogito-operator/1.15.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.15.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.15.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.15.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.15.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.15.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.15.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.15.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.15.0/metadata/annotations.yaml
  operators/kogito-operator/1.15.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#582 operators t8c (42.5.0)
  operators/t8c/42.5.0/t8c-operator.v42.5.0.clusterserviceversion.yaml
  operators/t8c/42.5.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#575 operators [N] [CI] verticadb-operator (1.2.0)
  operators/verticadb-operator/1.2.0/Dockerfile
  operators/verticadb-operator/1.2.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.2.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.2.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.2.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.2.0/metadata/annotations.yaml
  operators/verticadb-operator/1.2.0/tests/scorecard/config.yaml
  operators/verticadb-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#583 operators [CI] kubeturbo (8.4.0)
  operators/kubeturbo/8.4.0/kubeturbo-operator.v8.4.0.clusterserviceversion.yaml
  operators/kubeturbo/8.4.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/ci.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#598 operators oadp-operator (0.5.4)
  operators/oadp-operator/0.5.4/manifests/dpa-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.4/manifests/dpa-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.4/manifests/oadp-operator.clusterserviceversion.yaml
  operators/oadp-operator/0.5.4/manifests/oadp.openshift.io_cloudstorages.yaml
  operators/oadp-operator/0.5.4/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  operators/oadp-operator/0.5.4/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  operators/oadp-operator/0.5.4/manifests/openshift-adp-manager-config_v1_configmap.yaml
  operators/oadp-operator/0.5.4/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_backups.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_backupstoragelocations.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_deletebackuprequests.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_downloadrequests.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_podvolumebackups.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_podvolumerestores.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_resticrepositories.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_restores.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_schedules.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_serverstatusrequests.yaml
  operators/oadp-operator/0.5.4/manifests/velero.io_volumesnapshotlocations.yaml
  operators/oadp-operator/0.5.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#602 operators hive-operator (2.4.3201-8c50440)
  operators/hive-operator/2.4.3201-8c50440/hive-operator.v2.4.3201-8c50440.clusterserviceversion.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3201-8c50440/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3201-8c50440/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3201-8c50440/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#603 operators [CI] postgresql
  operators/postgresql/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#569 operators victoriametrics-operator (0.22.0)
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.22.0/victoriametrics-operator.0.22.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#577 operators [N] [CI] silicom-sts-operator (0.0.1)
  operators/silicom-sts-operator/0.0.1/bundle.Dockerfile
  operators/silicom-sts-operator/0.0.1/manifests/silicom-sts-operator.clusterserviceversion.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-controller-manager-metrics-service_v1_service.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts.silicom.com_stsconfigs.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts.silicom.com_stsnodes.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts.silicom.com_stsoperatorconfigs.yaml
  operators/silicom-sts-operator/0.0.1/metadata/annotations.yaml
  operators/silicom-sts-operator/0.0.1/metadata/dependencies.yaml
  operators/silicom-sts-operator/0.0.1/tests/scorecard/config.yaml
  operators/silicom-sts-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#553 operators syndesis (1.13.0)
  operators/syndesis/1.13.0/Dockerfile
  operators/syndesis/1.13.0/manifests/syndesis-auth-delegator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/syndesis/1.13.0/manifests/syndesis-server-kafka_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/syndesis/1.13.0/manifests/syndesis.clusterserviceversion.yaml
  operators/syndesis/1.13.0/manifests/syndesis.io_syndesises.yaml
  operators/syndesis/1.13.0/metadata/annotations.yaml
  operators/syndesis/1.13.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#605 operators [R] infinispan (0.2.1 0.3.0 0.3.1 0.3.2 1.0.0 1.0.1 1.1.0 1.1.1 1.1.2 2.0.0 2.0.1 2.0.2 2.0.3 2.0.4 2.0.5 2.0.6 2.1.0 2.1.1 2.1.2 2.1.3 2.1.4)
  operators/infinispan/0.2.1/manifests/infinispan-operator.v0.2.1.clusterserviceversion.yaml
  operators/infinispan/0.3.0/manifests/infinispan-operator.v0.3.0.clusterserviceversion.yaml
  operators/infinispan/0.3.1/manifests/infinispan-operator.v0.3.1.clusterserviceversion.yaml
  operators/infinispan/0.3.2/manifests/infinispan-operator.v0.3.2.clusterserviceversion.yaml
  operators/infinispan/1.0.0/manifests/infinispan-operator.v1.0.0.clusterserviceversion.yaml
  operators/infinispan/1.0.1/manifests/infinispan-operator.v1.0.1.clusterserviceversion.yaml
  operators/infinispan/1.1.0/manifests/infinispan-operator.v1.1.0.clusterserviceversion.yaml
  operators/infinispan/1.1.1/manifests/infinispan-operator.v1.1.1.clusterserviceversion.yaml
  operators/infinispan/1.1.2/manifests/infinispan-operator.v1.1.2.clusterserviceversion.yaml
  operators/infinispan/2.0.0/manifests/infinispan-operator.v2.0.0.clusterserviceversion.yaml
  operators/infinispan/2.0.1/manifests/infinispan-operator.v2.0.1.clusterserviceversion.yaml
  operators/infinispan/2.0.2/manifests/infinispan-operator.v2.0.2.clusterserviceversion.yaml
  operators/infinispan/2.0.3/manifests/infinispan-operator.v2.0.3.clusterserviceversion.yaml
  operators/infinispan/2.0.4/manifests/infinispan-operator.v2.0.4.clusterserviceversion.yaml
  operators/infinispan/2.0.5/manifests/infinispan-operator.v2.0.5.clusterserviceversion.yaml
  operators/infinispan/2.0.6/manifests/infinispan-operator.v2.0.6.clusterserviceversion.yaml
  operators/infinispan/2.1.0/manifests/infinispan-operator.v2.1.0.clusterserviceversion.yaml
  operators/infinispan/2.1.1/manifests/infinispan-operator.v2.1.1.clusterserviceversion.yaml
  operators/infinispan/2.1.2/manifests/infinispan-operator.v2.1.2.clusterserviceversion.yaml
  operators/infinispan/2.1.3/manifests/infinispan-operator.v2.1.3.clusterserviceversion.yaml
  operators/infinispan/2.1.4/manifests/infinispan-operator.v2.1.4.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#609 operators hive-operator (1.2.3427-e50103a)
  operators/hive-operator/1.2.3427-e50103a/hive-operator.v1.2.3427-e50103a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3427-e50103a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3427-e50103a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3427-e50103a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#612 operators [O] eclipse-che (7.42.0)
  operators/eclipse-che/7.42.0/manifests/eclipse-che.v7.42.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#623 operators hive-operator (1.2.3431-6ba92bb)
  operators/hive-operator/1.2.3431-6ba92bb/hive-operator.v1.2.3431-6ba92bb.clusterserviceversion.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#626 operators [O] gitops-primer (0.0.2)
  operators/gitops-primer/0.0.2/manifests/gitops-primer.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#627 operators oadp-operator (0.5.5)
  operators/oadp-operator/0.5.5/manifests/dpa-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.5/manifests/dpa-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.5/manifests/oadp-operator.clusterserviceversion.yaml
  operators/oadp-operator/0.5.5/manifests/oadp.openshift.io_cloudstorages.yaml
  operators/oadp-operator/0.5.5/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  operators/oadp-operator/0.5.5/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  operators/oadp-operator/0.5.5/manifests/openshift-adp-manager-config_v1_configmap.yaml
  operators/oadp-operator/0.5.5/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_backups.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_backupstoragelocations.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_deletebackuprequests.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_downloadrequests.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_podvolumebackups.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_podvolumerestores.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_resticrepositories.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_restores.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_schedules.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_serverstatusrequests.yaml
  operators/oadp-operator/0.5.5/manifests/velero.io_volumesnapshotlocations.yaml
  operators/oadp-operator/0.5.5/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#629 operators strimzi-kafka-operator (0.27.1)
  operators/strimzi-kafka-operator/0.27.1/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/strimzi-cluster-operator.v0.27.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.27.1/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.27.1/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.1/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.1/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.1/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#607 operators microcks (1.5.0)
  operators/microcks/1.5.0/microcks-operator.v1.5.0.clusterserviceversion.yaml
  operators/microcks/1.5.0/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#608 operators opentelemetry-operator (0.42.0)
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.42.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.42.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#632 operators snyk-operator (1.80.0)
  operators/snyk-operator/1.80.0/snyk-operator.v1.80.0.clusterserviceversion.yaml
  operators/snyk-operator/1.80.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#637 operators konveyor-forklift-operator (2.2.0)
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_hooks.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_hosts.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_migrations.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_plans.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_providers.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_provisioners.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/konveyor-forklift-operator.v2.2.0.clusterserviceversion.yaml
  operators/konveyor-forklift-operator/2.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#638 operators flux (0.25.2)
  operators/flux/0.25.2/manifests/alert.crd.yaml
  operators/flux/0.25.2/manifests/bucket.crd.yaml
  operators/flux/0.25.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.25.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.25.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.25.2/manifests/flux.v0.25.2.clusterserviceversion.yaml
  operators/flux/0.25.2/manifests/gitrepository.crd.yaml
  operators/flux/0.25.2/manifests/helmchart.crd.yaml
  operators/flux/0.25.2/manifests/helmrelease.crd.yaml
  operators/flux/0.25.2/manifests/helmrepository.crd.yaml
  operators/flux/0.25.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.25.2/manifests/imagerepository.crd.yaml
  operators/flux/0.25.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.25.2/manifests/kustomization.crd.yaml
  operators/flux/0.25.2/manifests/notification-controller.service.yaml
  operators/flux/0.25.2/manifests/provider.crd.yaml
  operators/flux/0.25.2/manifests/receiver.crd.yaml
  operators/flux/0.25.2/manifests/source-controller.service.yaml
  operators/flux/0.25.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.25.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#640 operators yaks (0.8.0)
  operators/yaks/0.8.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.8.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.8.0/yaks.v0.8.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#641 operators koku-metrics-operator (1.1.3)
  operators/koku-metrics-operator/1.1.3/Dockerfile
  operators/koku-metrics-operator/1.1.3/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/1.1.3/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/1.1.3/metadata/annotations.yaml
  operators/koku-metrics-operator/1.1.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#642 operators gitops-primer (0.0.3)
  operators/gitops-primer/0.0.3/manifests/gitops-primer-controller-manager-metrics-service_v1_service.yaml
  operators/gitops-primer/0.0.3/manifests/gitops-primer-manager-config_v1_configmap.yaml
  operators/gitops-primer/0.0.3/manifests/gitops-primer-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitops-primer/0.0.3/manifests/gitops-primer-webhook-service_v1_service.yaml
  operators/gitops-primer/0.0.3/manifests/gitops-primer.clusterserviceversion.yaml
  operators/gitops-primer/0.0.3/manifests/primer.gitops.io_exports.yaml
  operators/gitops-primer/0.0.3/metadata/annotations.yaml
  operators/gitops-primer/0.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#636 operators ember-csi-community-operator (0.9.9)
  operators/ember-csi-community-operator/0.9.9/ember-csi-operator.crd.yaml
  operators/ember-csi-community-operator/0.9.9/ember-csi-operator.v0.9.9.clusterserviceversion.yaml
  operators/ember-csi-community-operator/ember-csi-community-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#634 operators percona-server-mongodb-operator (1.11.0)
  operators/percona-server-mongodb-operator/1.11.0/percona-server-mongodb-operator.v1.11.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.11.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.11.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.11.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#633 operators percona-xtradb-cluster-operator (1.10.0)
  operators/percona-xtradb-cluster-operator/1.10.0/percona-xtradb-cluster-operator.v1.10.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/percona-xtradb-cluster-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#643 operators flux (0.25.3)
  operators/flux/0.25.3/manifests/alert.crd.yaml
  operators/flux/0.25.3/manifests/bucket.crd.yaml
  operators/flux/0.25.3/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.25.3/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.25.3/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.25.3/manifests/flux.v0.25.3.clusterserviceversion.yaml
  operators/flux/0.25.3/manifests/gitrepository.crd.yaml
  operators/flux/0.25.3/manifests/helmchart.crd.yaml
  operators/flux/0.25.3/manifests/helmrelease.crd.yaml
  operators/flux/0.25.3/manifests/helmrepository.crd.yaml
  operators/flux/0.25.3/manifests/imagepolicy.crd.yaml
  operators/flux/0.25.3/manifests/imagerepository.crd.yaml
  operators/flux/0.25.3/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.25.3/manifests/kustomization.crd.yaml
  operators/flux/0.25.3/manifests/notification-controller.service.yaml
  operators/flux/0.25.3/manifests/provider.crd.yaml
  operators/flux/0.25.3/manifests/receiver.crd.yaml
  operators/flux/0.25.3/manifests/source-controller.service.yaml
  operators/flux/0.25.3/manifests/webhook-receiver.service.yaml
  operators/flux/0.25.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#644 operators hive-operator (2.3.3033-c1c7735)
  operators/hive-operator/2.3.3033-c1c7735/hive-operator.v2.3.3033-c1c7735.clusterserviceversion.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.3.3033-c1c7735/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.3.3033-c1c7735/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.3.3033-c1c7735/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#645 operators hive-operator (2.4.3203-672cfe7)
  operators/hive-operator/2.4.3203-672cfe7/hive-operator.v2.4.3203-672cfe7.clusterserviceversion.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3203-672cfe7/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3203-672cfe7/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3203-672cfe7/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#648 operators gitops-primer (0.0.4)
  operators/gitops-primer/0.0.4/manifests/gitops-primer-controller-manager-metrics-service_v1_service.yaml
  operators/gitops-primer/0.0.4/manifests/gitops-primer-manager-config_v1_configmap.yaml
  operators/gitops-primer/0.0.4/manifests/gitops-primer-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitops-primer/0.0.4/manifests/gitops-primer-webhook-service_v1_service.yaml
  operators/gitops-primer/0.0.4/manifests/gitops-primer.clusterserviceversion.yaml
  operators/gitops-primer/0.0.4/manifests/primer.gitops.io_exports.yaml
  operators/gitops-primer/0.0.4/metadata/annotations.yaml
  operators/gitops-primer/0.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#651 operators gitops-primer (0.0.5)
  operators/gitops-primer/0.0.5/manifests/gitops-primer-controller-manager-metrics-service_v1_service.yaml
  operators/gitops-primer/0.0.5/manifests/gitops-primer-manager-config_v1_configmap.yaml
  operators/gitops-primer/0.0.5/manifests/gitops-primer-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitops-primer/0.0.5/manifests/gitops-primer-webhook-service_v1_service.yaml
  operators/gitops-primer/0.0.5/manifests/gitops-primer.clusterserviceversion.yaml
  operators/gitops-primer/0.0.5/manifests/primer.gitops.io_exports.yaml
  operators/gitops-primer/0.0.5/metadata/annotations.yaml
  operators/gitops-primer/0.0.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#653 operators klusterlet (0.6.0)
  operators/klusterlet/0.6.0/klusterlet.v0.6.0.clusterserviceversion.yaml
  operators/klusterlet/0.6.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#652 operators cluster-manager (0.6.0)
  operators/cluster-manager/0.6.0/cluster-manager.v0.6.0.clusterserviceversion.yaml
  operators/cluster-manager/0.6.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#659 operators kogito-operator (1.16.0)
  operators/kogito-operator/1.16.0/Dockerfile
  operators/kogito-operator/1.16.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.16.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.16.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.16.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.16.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.16.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.16.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.16.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.16.0/metadata/annotations.yaml
  operators/kogito-operator/1.16.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#666 operators [N] [CI] kube-green (0.3.0)
  operators/kube-green/0.3.0/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.3.0/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.3.0/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.3.0/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.3.0/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.3.0/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.3.0/metadata/annotations.yaml
  operators/kube-green/0.3.0/tests/scorecard/config.yaml
  operators/kube-green/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#647 operators [N] [CI] seldon-operator (1.12.0)
  operators/seldon-operator/0.1.2/seldondeployments.machinelearning.seldon.io.crd.yaml
  operators/seldon-operator/0.1.2/seldonoperator.v0.1.2.clusterserviceversion.yaml
  operators/seldon-operator/0.1.3/seldondeployments.machinelearning.seldon.io.crd.yaml
  operators/seldon-operator/0.1.3/seldonoperator.v0.1.3.clusterserviceversion.yaml
  operators/seldon-operator/0.1.4/seldondeployments.machinelearning.seldon.io.crd.yaml
  operators/seldon-operator/0.1.4/seldonoperator.v0.1.4.clusterserviceversion.yaml
  operators/seldon-operator/0.1.5/seldondeployments.machinelearning.seldon.io.crd.yaml
  operators/seldon-operator/0.1.5/seldonoperator.v0.1.5.clusterserviceversion.yaml
  operators/seldon-operator/1.1.0/machinelearning.seldon.io_seldondeployment_crd.yaml
  operators/seldon-operator/1.1.0/seldon-operator.v1.1.0.clusterserviceversion.yaml
  operators/seldon-operator/1.12.0/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.12.0/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.12.0/metadata/annotations.yaml
  operators/seldon-operator/1.12.0/tests/scorecard/config.yaml
  operators/seldon-operator/1.2.0/machinelearning.seldon.io_seldondeployment_crd.yaml
  operators/seldon-operator/1.2.0/seldon-operator.v1.2.0.clusterserviceversion.yaml
  operators/seldon-operator/1.2.1/machinelearning.seldon.io_seldondeployment_crd.yaml
  operators/seldon-operator/1.2.2/machinelearning.seldon.io_seldondeployment_crd.yaml
  operators/seldon-operator/1.2.2/seldon-operator.v1.2.2.clusterserviceversion.yaml
  operators/seldon-operator/1.5.0/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.5.0/seldon-manager_v1_serviceaccount.yaml
  operators/seldon-operator/1.5.0/seldon-operator.v1.5.0.clusterserviceversion.yaml
  operators/seldon-operator/1.6.0/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.6.0/seldon-manager_v1_serviceaccount.yaml
  operators/seldon-operator/1.6.0/seldon-operator.v1.6.0.clusterserviceversion.yaml
  operators/seldon-operator/1.7.0/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.7.0/seldon-manager_v1_serviceaccount.yaml
  operators/seldon-operator/1.7.0/seldon-operator.v1.7.0.clusterserviceversion.yaml
  operators/seldon-operator/ci.yaml
  operators/seldon-operator/seldon-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#631 operators community-windows-machine-config-operator (4.0.1)
  operators/community-windows-machine-config-operator/4.0.1/manifests/community-windows-machine-config-operator.4.0.1.clusterserviceversion.yaml
  operators/community-windows-machine-config-operator/4.0.1/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/4.0.1/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/4.0.1/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/community-windows-machine-config-operator/4.0.1/manifests/windows-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/community-windows-machine-config-operator/4.0.1/manifests/windows-exporter_v1_service.yaml
  operators/community-windows-machine-config-operator/4.0.1/manifests/windows-prometheus-k8s-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/community-windows-machine-config-operator/4.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-failed-4.9

#668 operators [R] syndesis (1.13.0)
  operators/syndesis/1.13.0/Dockerfile
  operators/syndesis/1.13.0/manifests/syndesis-auth-delegator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/syndesis/1.13.0/manifests/syndesis-server-kafka_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/syndesis/1.13.0/manifests/syndesis.clusterserviceversion.yaml
  operators/syndesis/1.13.0/manifests/syndesis.io_syndesises.yaml
  operators/syndesis/1.13.0/metadata/annotations.yaml
  operators/syndesis/1.13.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#670 operators egressip-ipam-operator (1.2.3)
  operators/egressip-ipam-operator/1.2.3/Dockerfile
  operators/egressip-ipam-operator/1.2.3/manifests/egressip-ipam-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/egressip-ipam-operator/1.2.3/manifests/egressip-ipam-operator-controller-manager-metrics_v1_service.yaml
  operators/egressip-ipam-operator/1.2.3/manifests/egressip-ipam-operator-manager-config_v1_configmap.yaml
  operators/egressip-ipam-operator/1.2.3/manifests/egressip-ipam-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/egressip-ipam-operator/1.2.3/manifests/egressip-ipam-operator.clusterserviceversion.yaml
  operators/egressip-ipam-operator/1.2.3/manifests/redhatcop.redhat.io_egressipams.yaml
  operators/egressip-ipam-operator/1.2.3/metadata/annotations.yaml
  operators/egressip-ipam-operator/1.2.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#672 operators proactive-node-scaling-operator (0.4.2)
  operators/proactive-node-scaling-operator/0.4.2/Dockerfile
  operators/proactive-node-scaling-operator/0.4.2/manifests/proactive-node-scaling-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/proactive-node-scaling-operator/0.4.2/manifests/proactive-node-scaling-operator-controller-manager-metrics_v1_service.yaml
  operators/proactive-node-scaling-operator/0.4.2/manifests/proactive-node-scaling-operator-manager-config_v1_configmap.yaml
  operators/proactive-node-scaling-operator/0.4.2/manifests/proactive-node-scaling-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/proactive-node-scaling-operator/0.4.2/manifests/proactive-node-scaling-operator.clusterserviceversion.yaml
  operators/proactive-node-scaling-operator/0.4.2/manifests/redhatcop.redhat.io_nodescalingwatermarks.yaml
  operators/proactive-node-scaling-operator/0.4.2/metadata/annotations.yaml
  operators/proactive-node-scaling-operator/0.4.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#673 operators cert-utils-operator (1.3.3)
  operators/cert-utils-operator/1.3.3/Dockerfile
  operators/cert-utils-operator/1.3.3/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.3/manifests/cert-utils-operator-controller-manager-metrics_v1_service.yaml
  operators/cert-utils-operator/1.3.3/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.3/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.3/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.3/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#671 operators [N] silicom-sts-operator (0.0.1)
  operators/silicom-sts-operator/0.0.1/manifests/silicom-sts-operator.clusterserviceversion.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts.silicom.com_stsconfigs.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts.silicom.com_stsoperatorconfigs.yaml
  operators/silicom-sts-operator/0.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#675 operators [N] silicom-sts-operator (0.0.1)
  operators/silicom-sts-operator/0.0.1/manifests/silicom-sts-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#677 operators hive-operator (1.2.3457-b212e8a)
  operators/hive-operator/1.2.3457-b212e8a/hive-operator.v1.2.3457-b212e8a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3457-b212e8a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3457-b212e8a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3457-b212e8a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#696 operators [N] silicom-sts-operator (0.0.1)
  operators/silicom-sts-operator/0.0.1/manifests/sts-plugin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-plugin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-plugin_rbac.authorization.k8s.io_v1_role.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-plugin_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-plugin_v1_serviceaccount.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-tsync_rbac.authorization.k8s.io_v1_role.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-tsync_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-tsync_v1_serviceaccount.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#676 operators camel-k (1.8.0)
  operators/camel-k/1.8.0/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/camel-k.v1.8.0.clusterserviceversion.yaml
  operators/camel-k/1.8.0/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#693 operators [R] tf-operator (0.0.1-2011 1.0.0)
  operators/tf-operator/0.0.1-2011/metadata/annotations.yaml
  operators/tf-operator/1.0.0/metadata/annotations.yaml
Labels: ok-to-test, do-not-merge/hold, openshift-operator, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#698 operators kiali (1.45.0)
  operators/kiali/1.45.0/bundle.Dockerfile
  operators/kiali/1.45.0/manifests/kiali.crd.yaml
  operators/kiali/1.45.0/manifests/kiali.v1.45.0.clusterserviceversion.yaml
  operators/kiali/1.45.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#699 operators argocd-operator (0.2.0)
  operators/argocd-operator/0.2.0/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.2.0/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.2.0/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.2.0/argocd-operator.v0.2.0.clusterserviceversion.yaml
  operators/argocd-operator/0.2.0/argoproj.io_applications.yaml
  operators/argocd-operator/0.2.0/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.2.0/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.2.0/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.2.0/argoproj.io_argocds.yaml
  operators/argocd-operator/argocd-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#700 operators victoriametrics-operator (0.22.1)
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.22.1/victoriametrics-operator.0.22.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#702 operators koku-metrics-operator (1.1.4)
  operators/koku-metrics-operator/1.1.4/Dockerfile
  operators/koku-metrics-operator/1.1.4/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/1.1.4/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/1.1.4/metadata/annotations.yaml
  operators/koku-metrics-operator/1.1.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#701 operators alvearie-imaging-ingestion (0.0.3)
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion-operator-manager-config_v1_configmap.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion-operator.clusterserviceversion.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dicomeventbridges.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dicomeventdriveningestions.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dicominstancebindings.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dicomstudybindings.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dicomwebingestionservices.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dimseingestionservices.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dimseproxies.yaml
  operators/alvearie-imaging-ingestion/0.0.3/metadata/annotations.yaml
  operators/alvearie-imaging-ingestion/0.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#704 operators oadp-operator (0.5.6)
  operators/oadp-operator/0.5.6/manifests/dpa-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.6/manifests/dpa-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.6/manifests/oadp-operator.clusterserviceversion.yaml
  operators/oadp-operator/0.5.6/manifests/oadp.openshift.io_cloudstorages.yaml
  operators/oadp-operator/0.5.6/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  operators/oadp-operator/0.5.6/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  operators/oadp-operator/0.5.6/manifests/openshift-adp-manager-config_v1_configmap.yaml
  operators/oadp-operator/0.5.6/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_backups.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_backupstoragelocations.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_deletebackuprequests.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_downloadrequests.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_podvolumebackups.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_podvolumerestores.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_resticrepositories.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_restores.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_schedules.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_serverstatusrequests.yaml
  operators/oadp-operator/0.5.6/manifests/velero.io_volumesnapshotlocations.yaml
  operators/oadp-operator/0.5.6/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#705 operators neuvector-community-operator (1.3.1)
  operators/neuvector-community-operator/1.3.1/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.3.1/neuvector-operator.v1.3.1.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#694 operators integrity-shield-operator (0.3.2)
  operators/integrity-shield-operator/0.3.2/manifests/apis.integrityshield.io_integrityshields.yaml
  operators/integrity-shield-operator/0.3.2/manifests/integrity-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/integrity-shield-operator/0.3.2/manifests/integrity-shield-operator-manager-config_v1_configmap.yaml
  operators/integrity-shield-operator/0.3.2/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/integrity-shield-operator/0.3.2/manifests/integrity-shield-operator.clusterserviceversion.yaml
  operators/integrity-shield-operator/0.3.2/metadata/annotations.yaml
  operators/integrity-shield-operator/0.3.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#708 operators t8c (42.6.0)
  operators/t8c/42.6.0/t8c-operator.v42.6.0.clusterserviceversion.yaml
  operators/t8c/42.6.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#669 operators [N] [CI] eventing-kogito (1.1.0)
  operators/eventing-kogito/1.1.0/manifests/config-logging_v1_configmap.yaml
  operators/eventing-kogito/1.1.0/manifests/config-observability_v1_configmap.yaml
  operators/eventing-kogito/1.1.0/manifests/eventing-kogito.clusterserviceversion.yaml
  operators/eventing-kogito/1.1.0/manifests/kogito-source-controller-manager_v1_service.yaml
  operators/eventing-kogito/1.1.0/manifests/kogito-source-observer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eventing-kogito/1.1.0/manifests/kogito.knative.dev_kogitosources.yaml
  operators/eventing-kogito/1.1.0/metadata/annotations.yaml
  operators/eventing-kogito/1.1.0/metadata/dependencies.yaml
  operators/eventing-kogito/1.1.0/tests/scorecard/config.yaml
  operators/eventing-kogito/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#710 operators [N] [CI] marin3r (0.10.0)
  operators/marin3r/0.10.0/bundle.Dockerfile
  operators/marin3r/0.10.0/manifests/marin3r-controller-manager-metrics-service_v1_service.yaml
  operators/marin3r/0.10.0/manifests/marin3r-manager-config_v1_configmap.yaml
  operators/marin3r/0.10.0/manifests/marin3r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/marin3r/0.10.0/manifests/marin3r-webhook-service_v1_service.yaml
  operators/marin3r/0.10.0/manifests/marin3r.3scale.net_envoyconfigrevisions.yaml
  operators/marin3r/0.10.0/manifests/marin3r.3scale.net_envoyconfigs.yaml
  operators/marin3r/0.10.0/manifests/marin3r.clusterserviceversion.yaml
  operators/marin3r/0.10.0/manifests/operator.marin3r.3scale.net_discoveryservicecertificates.yaml
  operators/marin3r/0.10.0/manifests/operator.marin3r.3scale.net_discoveryservices.yaml
  operators/marin3r/0.10.0/manifests/operator.marin3r.3scale.net_envoydeployments.yaml
  operators/marin3r/0.10.0/metadata/annotations.yaml
  operators/marin3r/0.10.0/tests/scorecard/config.yaml
  operators/marin3r/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#711 operators hive-operator (1.2.3461-a607db0)
  operators/hive-operator/1.2.3461-a607db0/hive-operator.v1.2.3461-a607db0.clusterserviceversion.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3461-a607db0/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3461-a607db0/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3461-a607db0/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#712 operators rhoas-operator (0.9.6)
  operators/rhoas-operator/0.9.6/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  operators/rhoas-operator/0.9.6/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  operators/rhoas-operator/0.9.6/manifests/rhoas-operator.clusterserviceversion.yaml
  operators/rhoas-operator/0.9.6/manifests/rhoas-operator.kafkaconnections.crd.yaml
  operators/rhoas-operator/0.9.6/manifests/rhoas-operator.serviceregistryconnections.crd.yaml
  operators/rhoas-operator/0.9.6/manifests/service-binding.clusterrole.yaml
  operators/rhoas-operator/0.9.6/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#714 operators patch-operator (0.1.1)
  operators/patch-operator/0.1.1/Dockerfile
  operators/patch-operator/0.1.1/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.1/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.1/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.1/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.1/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/patch-operator/0.1.1/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patch-operator/0.1.1/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.1/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.1/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.1/metadata/annotations.yaml
  operators/patch-operator/0.1.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#715 operators vault-config-operator (0.2.0)
  operators/vault-config-operator/0.2.0/Dockerfile
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.2.0/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.2.0/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.2.0/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.2.0/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.2.0/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.2.0/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.2.0/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.2.0/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.2.0/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.2.0/metadata/annotations.yaml
  operators/vault-config-operator/0.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#720 operators [N] [CI] fossul-operator (0.1.0)
  operators/fossul-operator/0.1.0/bundle.Dockerfile
  operators/fossul-operator/0.1.0/manifests/fossul-operator.v0.1.0.clusterserviceversion.yaml
  operators/fossul-operator/0.1.0/manifests/fossul.io_backupconfigs.yaml
  operators/fossul-operator/0.1.0/manifests/fossul.io_backups.yaml
  operators/fossul-operator/0.1.0/manifests/fossul.io_backupschedules.yaml
  operators/fossul-operator/0.1.0/manifests/fossul.io_fossuls.yaml
  operators/fossul-operator/0.1.0/manifests/fossul.io_restores.yaml
  operators/fossul-operator/0.1.0/metadata/annotations.yaml
  operators/fossul-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#706 operators [CI] jaeger (1.30.0)
  operators/jaeger/1.30.0/manifests/jaeger-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/jaeger/1.30.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.30.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.30.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.30.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.30.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.30.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.30.0/metadata/annotations.yaml
  operators/jaeger/1.30.0/tests/scorecard/config.yaml
  operators/jaeger/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#726 operators [CI] group-sync-operator (0.0.15)
  operators/group-sync-operator/0.0.15/Dockerfile
  operators/group-sync-operator/0.0.15/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.15/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.15/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.15/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.15/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.15/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.15/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.15/metadata/annotations.yaml
  operators/group-sync-operator/0.0.15/tests/scorecard/config.yaml
  operators/group-sync-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#724 operators [N] [CI] sosivio (1.2.0)
  operators/sosivio/1.2.0/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.2.0/manifests/sosivio.crd.yaml
  operators/sosivio/1.2.0/metadata/annotations.yaml
  operators/sosivio/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9

#728 operators silicom-sts-operator (0.0.2)
  operators/silicom-sts-operator/0.0.2/bundle.Dockerfile
  operators/silicom-sts-operator/0.0.2/manifests/silicom-sts-operator.clusterserviceversion.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts-controller-manager-metrics-service_v1_service.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts-plugin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts-plugin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts-plugin_rbac.authorization.k8s.io_v1_role.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts-plugin_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts-plugin_v1_serviceaccount.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts-tsync_rbac.authorization.k8s.io_v1_role.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts-tsync_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts-tsync_v1_serviceaccount.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts.silicom.com_stsconfigs.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts.silicom.com_stsnodes.yaml
  operators/silicom-sts-operator/0.0.2/manifests/sts.silicom.com_stsoperatorconfigs.yaml
  operators/silicom-sts-operator/0.0.2/metadata/annotations.yaml
  operators/silicom-sts-operator/0.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#729 operators tackle-operator (1.2.0)
  operators/tackle-operator/1.2.0/Dockerfile
  operators/tackle-operator/1.2.0/manifests/tackle-operator.v1.2.0.clusterserviceversion.yaml
  operators/tackle-operator/1.2.0/manifests/tackle.crd.yaml
  operators/tackle-operator/1.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9

#733 operators eventing-kogito (1.2.0)
  operators/eventing-kogito/1.2.0/manifests/config-logging_v1_configmap.yaml
  operators/eventing-kogito/1.2.0/manifests/config-observability_v1_configmap.yaml
  operators/eventing-kogito/1.2.0/manifests/eventing-kogito.clusterserviceversion.yaml
  operators/eventing-kogito/1.2.0/manifests/kogito-source-controller-manager_v1_service.yaml
  operators/eventing-kogito/1.2.0/manifests/kogito-source-observer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eventing-kogito/1.2.0/manifests/kogito.knative.dev_kogitosources.yaml
  operators/eventing-kogito/1.2.0/metadata/annotations.yaml
  operators/eventing-kogito/1.2.0/metadata/dependencies.yaml
  operators/eventing-kogito/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9
