Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-10, with the labels that each got.

#1695 operator dell-csm-operator (0.3.0)
  operators/dell-csm-operator/0.3.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/0.3.0/manifests/dell-csm-operator.v0.3.0.clusterserviceversion.yaml
  operators/dell-csm-operator/0.3.0/metadata/annotations.yaml
  operators/dell-csm-operator/0.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1694 operator kogito-operator (1.28.0)
  operators/kogito-operator/1.28.0/Dockerfile
  operators/kogito-operator/1.28.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.28.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.28.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.28.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.28.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.28.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.28.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.28.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.28.0/metadata/annotations.yaml
  operators/kogito-operator/1.28.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1698 operator pulp-operator (0.14.1)
  operators/pulp-operator/0.14.1/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.14.1/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.14.1/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.14.1/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.14.1/manifests/pulp-operator.v0.14.1.clusterserviceversion.yaml
  operators/pulp-operator/0.14.1/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.14.1/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.14.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.14.1/metadata/annotations.yaml
  operators/pulp-operator/0.14.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1699 operator [R] [CI] percona-server-mongodb-operator (1.10.0 1.11.0 1.12.0)
  operators/percona-server-mongodb-operator/1.10.0/manifests/percona-server-mongodb-operator.v1.10.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.10.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.10.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.10.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.10.0/metadata/annotations.yaml
  operators/percona-server-mongodb-operator/1.11.0/manifests/percona-server-mongodb-operator.v1.11.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.11.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.11.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.11.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.11.0/metadata/annotations.yaml
  operators/percona-server-mongodb-operator/1.12.0/manifests/percona-server-mongodb-operator.v1.12.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.12.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.12.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.12.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.12.0/metadata/annotations.yaml
  operators/percona-server-mongodb-operator/1.4.0/percona-server-mongodb-operator.v1.4.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.4.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.4.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.4.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.6.0/percona-server-mongodb-operator.v1.6.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.6.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.6.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.6.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.7.0/percona-server-mongodb-operator.v1.7.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.7.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.7.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.7.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.8.0/percona-server-mongodb-operator.v1.8.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.8.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.8.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.8.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.9.0/percona-server-mongodb-operator.v1.8.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.9.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.9.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.9.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/ci.yaml
  operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1700 operator tackle-operator (2.1.1)
  operators/tackle-operator/2.1.1/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.1/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.1/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1702 operator percona-server-mongodb-operator (1.13.0)
  operators/percona-server-mongodb-operator/1.13.0/manifests/percona-server-mongodb-operator.v1.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.13.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.13.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.13.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.13.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1687 bump kind
  ci/pipeline-config-ocp.yaml
Labels: do-not-merge/hold, package-validated, allow/ci-changes

#1704 operator kube-green (0.4.1)
  operators/kube-green/0.4.1/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.4.1/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.4.1/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.4.1/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.4.1/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.4.1/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.4.1/metadata/annotations.yaml
  operators/kube-green/0.4.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1705 operator [CI] eginnovations-operator (0.0.2)
  operators/eginnovations-operator/0.0.2/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.2/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.2/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.2/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.2/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.2/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.2/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.2/tests/scorecard/config.yaml
  operators/eginnovations-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1706 operator grafana-operator (4.7.0)
  operators/grafana-operator/4.7.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.7.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.7.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.7.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.7.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.7.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.7.0/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.7.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.7.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1708 operator [O] deployment-validation-operator (0.3.0)
  operators/deployment-validation-operator/0.3.0/manifests/deploymentvalidationoperator.0.3.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1709 operator nfs-provisioner-operator (0.0.6)
  operators/nfs-provisioner-operator/0.0.6/Dockerfile
  operators/nfs-provisioner-operator/0.0.6/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.6/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.6/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.6/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.6/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1710 operator keycloak-operator (19.0.3)
  operators/keycloak-operator/19.0.3/bundle.Dockerfile
  operators/keycloak-operator/19.0.3/manifests/keycloak-operator.v19.0.3.clusterserviceversion.yaml
  operators/keycloak-operator/19.0.3/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.3/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.3/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.3/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.3/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1711 operator keycloak-operator (20.0.0-alpha.7)
  operators/keycloak-operator/20.0.0-alpha.7/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.7/manifests/keycloak-operator.v20.0.0-alpha.7.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.7/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.7/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.7/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1715 operator [O] multicluster-global-hub-operator (0.6.0-dev)
  operators/multicluster-global-hub-operator/0.6.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1717 operator external-secrets-operator (0.6.0)
  operators/external-secrets-operator/0.6.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.6.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.6.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.6.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.6.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.6.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.6.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.6.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1714 operator datadog-operator (0.8.2)
  operators/datadog-operator/0.8.2/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/0.8.2/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/0.8.2/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/0.8.2/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/0.8.2/metadata/annotations.yaml
  operators/datadog-operator/0.8.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1718 operator koku-metrics-operator (1.1.8)
  operators/koku-metrics-operator/1.1.8/Dockerfile
  operators/koku-metrics-operator/1.1.8/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/1.1.8/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/1.1.8/metadata/annotations.yaml
  operators/koku-metrics-operator/1.1.8/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1720 operator snapscheduler (3.2.0)
  operators/snapscheduler/3.2.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/3.2.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/3.2.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/3.2.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/3.2.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/3.2.0/metadata/annotations.yaml
  operators/snapscheduler/3.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1722 operator [O] nfs-provisioner-operator (0.0.6)
  operators/nfs-provisioner-operator/0.0.6/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1724 operator [O] multicluster-global-hub-operator (0.6.0-dev)
  operators/multicluster-global-hub-operator/0.6.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1719 operator [CI] kubeturbo (8.6.5-beta.1)
  operators/kubeturbo/8.6.5-beta.1/kubeturbo-operator.v8.6.5-beta.1.clusterserviceversion.yaml
  operators/kubeturbo/8.6.5-beta.1/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/ci.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1726 operator [R] multicluster-global-hub-operator (0.5.0 0.6.0-dev)
  operators/multicluster-global-hub-operator/0.5.0/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.6.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1725 operator ibm-security-verify-access-operator (22.10.0)
  operators/ibm-security-verify-access-operator/22.10.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/22.10.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/22.10.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/22.10.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/22.10.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/22.10.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/22.10.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/22.10.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1721 operator [N] [CI] annotationlab (3.4.0)
  operators/annotationlab/3.4.0/bundle.Dockerfile
  operators/annotationlab/3.4.0/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/3.4.0/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/3.4.0/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/3.4.0/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/3.4.0/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/3.4.0/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/3.4.0/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/3.4.0/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/3.4.0/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/3.4.0/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/3.4.0/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/3.4.0/metadata/annotations.yaml
  operators/annotationlab/3.4.0/tests/scorecard/config.yaml
  operators/annotationlab/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1728 operator aqua (2022.4.5)
  operators/aqua/2022.4.5/bundle.Dockerfile
  operators/aqua/2022.4.5/manifests/aqua-operator.v2022.4.4.clusterserviceversion.yaml
  operators/aqua/2022.4.5/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.5/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.5/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.5/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.5/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.5/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.5/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.5/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.5/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.5/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.5/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1735 operator kogito-operator (1.29.0)
  operators/kogito-operator/1.29.0/Dockerfile
  operators/kogito-operator/1.29.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.29.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.29.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.29.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.29.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.29.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.29.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.29.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.29.0/metadata/annotations.yaml
  operators/kogito-operator/1.29.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1734 operator [N] [CI] nlp-server-operator (0.8.0-rc1)
  operators/nlp-server-operator/0.8.0-rc1/manifests/apps.johnsnowlabs.com_nlpservers.yaml
  operators/nlp-server-operator/0.8.0-rc1/manifests/nlp-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nlp-server-operator/0.8.0-rc1/manifests/nlp-server-operator-manager-config_v1_configmap.yaml
  operators/nlp-server-operator/0.8.0-rc1/manifests/nlp-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nlp-server-operator/0.8.0-rc1/manifests/nlp-server-operator.clusterserviceversion.yaml
  operators/nlp-server-operator/0.8.0-rc1/metadata/annotations.yaml
  operators/nlp-server-operator/0.8.0-rc1/tests/scorecard/config.yaml
  operators/nlp-server-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1742 operator [N] [CI] camel-karavan-operator (3.18.5)
  operators/camel-karavan-operator/3.18.5/manifests/camel-karavan-operator.v3.18.5.clusterserviceversion.yaml
  operators/camel-karavan-operator/3.18.5/manifests/karavans.camel.apache.org.crd.yml
  operators/camel-karavan-operator/3.18.5/metadata/annotations.yaml
  operators/camel-karavan-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1736 operator [N] [CI] awx-operator (0.30.0)
  operators/awx-operator/0.30.0/bundle.Dockerfile
  operators/awx-operator/0.30.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/0.30.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/0.30.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/0.30.0/manifests/awx-operator.v0.30.0.clusterserviceversion.yaml
  operators/awx-operator/0.30.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/0.30.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/0.30.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/0.30.0/metadata/annotations.yaml
  operators/awx-operator/0.30.0/tests/scorecard/config.yaml
  operators/awx-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1729 operator camel-k (1.10.1)
  operators/camel-k/1.10.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/camel-k.v1.10.1.clusterserviceversion.yaml
  operators/camel-k/1.10.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/metadata/annotations.yaml
  operators/camel-k/1.10.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1745 operator project-quay (3.7.9)
  operators/project-quay/3.7.9/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.9/quayecosystems.crd.yaml
  operators/project-quay/3.7.9/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1746 operator hive-operator (1.2.3892-4a7b257)
  operators/hive-operator/1.2.3892-4a7b257/hive-operator.v1.2.3892-4a7b257.clusterserviceversion.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3892-4a7b257/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3892-4a7b257/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3892-4a7b257/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1741 operator [CI] prometurbo (8.6.5-beta.1)
  operators/prometurbo/8.6.5-beta.1/prometurbo-operator.v8.6.5-beta.1.clusterserviceversion.yaml
  operators/prometurbo/8.6.5-beta.1/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo/ci.yaml
  operators/prometurbo/prometurbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1748 operator [O] multicluster-global-hub-operator (0.6.0-dev)
  operators/multicluster-global-hub-operator/0.6.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1743 operator kubernetes-imagepuller-operator (1.0.3)
  operators/kubernetes-imagepuller-operator/1.0.3/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/kubernetes-imagepuller-operator.v1.0.3.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1750 operator aqua (2022.4.6)
  operators/aqua/2022.4.6/bundle.Dockerfile
  operators/aqua/2022.4.6/manifests/aqua-operator.v2022.4.6.clusterserviceversion.yaml
  operators/aqua/2022.4.6/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.6/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.6/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.6/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.6/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.6/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.6/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.6/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.6/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.6/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.6/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1751 operator aqua (6.5.8)
  operators/aqua/6.5.8/bundle.Dockerfile
  operators/aqua/6.5.8/manifests/aqua-operator.v6.5.8.clusterserviceversion.yaml
  operators/aqua/6.5.8/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.8/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.8/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.8/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.8/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.8/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.8/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.8/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.8/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.8/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.8/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1752 operator patterns-operator (0.0.6)
  operators/patterns-operator/0.0.6/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.6/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.6/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.6/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.6/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.6/metadata/annotations.yaml
  operators/patterns-operator/0.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1755 operator [R] kiali (1.57.0 1.58.0)
  operators/kiali/1.57.0/bundle.Dockerfile
  operators/kiali/1.57.0/manifests/kiali.crd.yaml
  operators/kiali/1.57.0/manifests/kiali.v1.57.0.clusterserviceversion.yaml
  operators/kiali/1.57.0/metadata/annotations.yaml
  operators/kiali/1.58.0/bundle.Dockerfile
  operators/kiali/1.58.0/manifests/kiali.crd.yaml
  operators/kiali/1.58.0/manifests/kiali.v1.58.0.clusterserviceversion.yaml
  operators/kiali/1.58.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1756 operator [O] multicluster-global-hub-operator (0.6.0-dev)
  operators/multicluster-global-hub-operator/0.6.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1759 operator camel-k (1.10.2)
  operators/camel-k/1.10.2/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/camel-k.v1.10.2.clusterserviceversion.yaml
  operators/camel-k/1.10.2/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/metadata/annotations.yaml
  operators/camel-k/1.10.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1757 operator jaeger (1.38.1)
  operators/jaeger/1.38.1/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.38.1/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.38.1/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.38.1/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.38.1/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.38.1/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.38.1/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.38.1/metadata/annotations.yaml
  operators/jaeger/1.38.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1762 operator dynatrace-operator (0.9.1)
  operators/dynatrace-operator/0.9.1/Dockerfile
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.9.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1761 operator [N] [CI] nlp-server (0.8.0-rc1)
  operators/nlp-server/0.8.0-rc1/manifests/apps.johnsnowlabs.com_nlpservers.yaml
  operators/nlp-server/0.8.0-rc1/manifests/nlp-server-controller-manager-metrics-service_v1_service.yaml
  operators/nlp-server/0.8.0-rc1/manifests/nlp-server-manager-config_v1_configmap.yaml
  operators/nlp-server/0.8.0-rc1/manifests/nlp-server-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nlp-server/0.8.0-rc1/manifests/nlp-server.clusterserviceversion.yaml
  operators/nlp-server/0.8.0-rc1/metadata/annotations.yaml
  operators/nlp-server/0.8.0-rc1/tests/scorecard/config.yaml
  operators/nlp-server/ci.yaml
Labels: lgtm, ok-to-test, openshift-operator, package-validated, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1758 operator opentelemetry-operator (0.61.0)
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.61.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.61.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1764 operator grafana-operator (4.7.1)
  operators/grafana-operator/4.7.1/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.7.1/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.7.1/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.7.1/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.7.1/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.7.1/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.7.1/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.7.1/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.7.1/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1765 operator infinispan (2.3.0)
  operators/infinispan/2.3.0/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.0/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.0/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.0/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.0/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.0/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.0/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.0/metadata/annotations.yaml
  operators/infinispan/2.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1763 operator flux (0.35.0)
  operators/flux/0.35.0/manifests/alert.crd.yaml
  operators/flux/0.35.0/manifests/bucket.crd.yaml
  operators/flux/0.35.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.35.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.35.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.35.0/manifests/flux.v0.35.0.clusterserviceversion.yaml
  operators/flux/0.35.0/manifests/gitrepository.crd.yaml
  operators/flux/0.35.0/manifests/helmchart.crd.yaml
  operators/flux/0.35.0/manifests/helmrelease.crd.yaml
  operators/flux/0.35.0/manifests/helmrepository.crd.yaml
  operators/flux/0.35.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.35.0/manifests/imagerepository.crd.yaml
  operators/flux/0.35.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.35.0/manifests/kustomization.crd.yaml
  operators/flux/0.35.0/manifests/notification-controller.service.yaml
  operators/flux/0.35.0/manifests/ocirepository.crd.yaml
  operators/flux/0.35.0/manifests/provider.crd.yaml
  operators/flux/0.35.0/manifests/receiver.crd.yaml
  operators/flux/0.35.0/manifests/source-controller.service.yaml
  operators/flux/0.35.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.35.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1767 operator vault-config-operator (0.7.1)
  operators/vault-config-operator/0.7.1/Dockerfile
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.7.1/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.7.1/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.7.1/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.7.1/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.7.1/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.7.1/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.7.1/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.7.1/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.7.1/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.7.1/metadata/annotations.yaml
  operators/vault-config-operator/0.7.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1766 operator [R] [CI] flink-kubernetes-operator (1.0.1 1.1.0 1.2.0)
  operators/flink-kubernetes-operator/1.0.1/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-keystore.secret.yaml
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.v1.0.1.yaml
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.configmap.yaml
  operators/flink-kubernetes-operator/1.0.1/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.0.1/manifests/flinkdeployments.flink.apache.org-v1.yml
  operators/flink-kubernetes-operator/1.0.1/manifests/flinksessionjobs.flink.apache.org-v1.yml
  operators/flink-kubernetes-operator/1.0.1/metadata/annotations.yaml
  operators/flink-kubernetes-operator/1.1.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-kubernetes-operator-service_v1_service.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.1.0/metadata/annotations.yaml
  operators/flink-kubernetes-operator/1.2.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-kubernetes-operator-service_v1_service.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.2.0/metadata/annotations.yaml
  operators/flink-kubernetes-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1768 operator [O] multicluster-global-hub-operator (0.6.0-dev)
  operators/multicluster-global-hub-operator/0.6.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1772 operator flux (0.36.0)
  operators/flux/0.36.0/manifests/alert.crd.yaml
  operators/flux/0.36.0/manifests/bucket.crd.yaml
  operators/flux/0.36.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.36.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.36.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.36.0/manifests/flux.v0.36.0.clusterserviceversion.yaml
  operators/flux/0.36.0/manifests/gitrepository.crd.yaml
  operators/flux/0.36.0/manifests/helmchart.crd.yaml
  operators/flux/0.36.0/manifests/helmrelease.crd.yaml
  operators/flux/0.36.0/manifests/helmrepository.crd.yaml
  operators/flux/0.36.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.36.0/manifests/imagerepository.crd.yaml
  operators/flux/0.36.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.36.0/manifests/kustomization.crd.yaml
  operators/flux/0.36.0/manifests/notification-controller.service.yaml
  operators/flux/0.36.0/manifests/ocirepository.crd.yaml
  operators/flux/0.36.0/manifests/provider.crd.yaml
  operators/flux/0.36.0/manifests/receiver.crd.yaml
  operators/flux/0.36.0/manifests/source-controller.service.yaml
  operators/flux/0.36.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.36.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1769 operator [CI] annotationlab (4.1.2)
  operators/annotationlab/4.1.2/bundle.Dockerfile
  operators/annotationlab/4.1.2/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.1.2/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.1.2/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.1.2/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.1.2/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.1.2/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.1.2/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.1.2/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.1.2/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.1.2/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.1.2/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.1.2/metadata/annotations.yaml
  operators/annotationlab/4.1.2/tests/scorecard/config.yaml
  operators/annotationlab/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1774 operator portworx-essentials (1.10.0)
  operators/portworx-essentials/1.10.0/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.10.0/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.10.0/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1770 operator [O] multicluster-global-hub-operator (0.6.0-dev)
  operators/multicluster-global-hub-operator/0.6.0-dev/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, allow/serious-changes-to-existing, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1776 operator netobserv-operator (0.2.0)
  operators/netobserv-operator/0.2.0/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.2.0/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.2.0/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.2.0/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.2.0/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1780 Remove deprecated indexes for installation and rel
  ci/pipeline-config-ocp.yaml
Labels: allow/ci-changes, dco-failed

#1783 operator mongodb-atlas-kubernetes (1.4.0)
  operators/mongodb-atlas-kubernetes/1.4.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1786 operator [R] flink-kubernetes-operator (1.0.1 1.1.0 1.2.0)
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.v1.0.1.yaml
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1784 operator gitlab-operator-kubernetes (0.13.1)
  operators/gitlab-operator-kubernetes/0.13.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.13.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.13.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.13.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-failed-4.6, installation-validated-4.7, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1785 operator [CI] mongodb-atlas-kubernetes
  operators/mongodb-atlas-kubernetes/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1787 operator [CI] opendatahub-operator (1.4.0)
  operators/opendatahub-operator/1.4.0/manifests/kfdef.apps.kubeflow.org.crd.yaml
  operators/opendatahub-operator/1.4.0/manifests/opendatahub-operator.v1.4.0.clusterserviceversion.yaml
  operators/opendatahub-operator/1.4.0/metadata/annotations.yaml
  operators/opendatahub-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1788 operator [CI] forklift-operator (2.3.3)
  operators/forklift-operator/2.3.3/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.3.3/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.3.3/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.3.3/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.3.3/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.3.3/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.3.3/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.3.3/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.3.3/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.3.3/metadata/annotations.yaml
  operators/forklift-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1789 operator external-secrets-operator (0.6.1)
  operators/external-secrets-operator/0.6.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.6.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.6.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.6.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.6.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.6.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.6.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.6.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.6.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1791 operator cluster-manager (0.9.1)
  operators/cluster-manager/0.9.1/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.9.1/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1792 operator klusterlet (0.9.1)
  operators/klusterlet/0.9.1/klusterlet.clusterserviceversion.yaml
  operators/klusterlet/0.9.1/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1794 Pipeline uses the last supported ose image
  ci/pipeline-config-ocp.yaml
Labels: allow/ci-changes

#1797 operator hive-operator (1.2.3904-e25c14f)
  operators/hive-operator/1.2.3904-e25c14f/hive-operator.v1.2.3904-e25c14f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3904-e25c14f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3904-e25c14f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3904-e25c14f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1798 operator project-quay (3.8.0-rc.5)
  operators/project-quay/3.8.0-rc.5/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.5/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.5/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12
