Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-06, with the labels that each got.

#1261 operators zookeeper-operator (0.11.0)
  operators/zookeeper-operator/0.11.0/bundle.Dockerfile
  operators/zookeeper-operator/0.11.0/manifests/zookeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/zookeeper-operator/0.11.0/manifests/zookeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/zookeeper-operator/0.11.0/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.11.0/manifests/zookeeper.streamnative.io_zookeeperclusters.yaml
  operators/zookeeper-operator/0.11.0/metadata/annotations.yaml
  operators/zookeeper-operator/0.11.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1259 operators pulsar-operator (0.11.0)
  operators/pulsar-operator/0.11.0/bundle.Dockerfile
  operators/pulsar-operator/0.11.0/manifests/pulsar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar-operator-pulsar-broker_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsarconnections.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsarproxies.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsartenants.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsartopics.yaml
  operators/pulsar-operator/0.11.0/metadata/annotations.yaml
  operators/pulsar-operator/0.11.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1263 operators [R] [CI] mercury-operator (1.0.1 1.0.2)
  operators/mercury-operator/1.0.1/manifests/mercury-operator.clusterserviceversion.yaml
  operators/mercury-operator/1.0.1/manifests/servicedomaininfras.mercury.redhat.io-v1.yml
  operators/mercury-operator/1.0.1/manifests/servicedomains.mercury.redhat.io-v1.yml
  operators/mercury-operator/1.0.1/metadata/annotations.yaml
  operators/mercury-operator/1.0.2/manifests/mercury-operator.v1.0.2.clusterserviceversion.yaml
  operators/mercury-operator/1.0.2/manifests/servicedomaininfras.mercury.redhat.io.crd.yml
  operators/mercury-operator/1.0.2/manifests/servicedomains.mercury.redhat.io.crd.yml
  operators/mercury-operator/1.0.2/metadata/annotations.yaml
  operators/mercury-operator/1.0.2/metadata/dependencies.yaml
  operators/mercury-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1264 operators external-secrets-operator (0.5.6)
  operators/external-secrets-operator/0.5.6/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.6/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.6/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.6/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.6/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.6/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.6/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.6/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1265 operators pulp-operator (0.11.0)
  operators/pulp-operator/0.11.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.11.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.11.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.11.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.11.0/manifests/pulp-operator.v0.11.0.clusterserviceversion.yaml
  operators/pulp-operator/0.11.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.11.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.11.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.11.0/metadata/annotations.yaml
  operators/pulp-operator/0.11.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1267 operators hive-operator (2.5.3516-a2ed9b3)
  operators/hive-operator/2.5.3516-a2ed9b3/hive-operator.v2.5.3516-a2ed9b3.clusterserviceversion.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1268 operators verticadb-operator (1.5.0)
  operators/verticadb-operator/1.5.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.5.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.5.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.5.0/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/1.5.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.5.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.5.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.5.0/metadata/annotations.yaml
  operators/verticadb-operator/1.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1269 operators [CI] tackle-operator
  operators/tackle-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1262 operators community-windows-machine-config-operator (5.1.0)
  operators/community-windows-machine-config-operator/5.1.0/manifests/community-windows-machine-config-operator.5.1.0.clusterserviceversion.yaml
  operators/community-windows-machine-config-operator/5.1.0/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/5.1.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/5.1.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/community-windows-machine-config-operator/5.1.0/manifests/windows-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/community-windows-machine-config-operator/5.1.0/manifests/windows-exporter_v1_service.yaml
  operators/community-windows-machine-config-operator/5.1.0/manifests/windows-prometheus-k8s-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/community-windows-machine-config-operator/5.1.0/metadata/annotations.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped

#1270 operators kogito-operator (1.22.1)
  operators/kogito-operator/1.22.1/Dockerfile
  operators/kogito-operator/1.22.1/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.22.1/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.22.1/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.22.1/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.22.1/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.22.1/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.22.1/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.22.1/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.22.1/metadata/annotations.yaml
  operators/kogito-operator/1.22.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1272 operators [CI] community-windows-machine-config-operator
  operators/community-windows-machine-config-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped

#1276 operators opentelemetry-operator (0.52.0)
  operators/opentelemetry-operator/0.52.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.52.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.52.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.52.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.52.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.52.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.52.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.52.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1280 Remove konveyor-forklift operators
  operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_hooks.yaml
  operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_hosts.yaml
  operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_migrations.yaml
  operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_plans.yaml
  operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_providers.yaml
  operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_provisioners.yaml
  operators/konveyor-forklift-operator/2.0.0/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/konveyor-forklift-operator/2.0.0/manifests/konveyor-forklift-operator.v2.0.0.clusterserviceversion.yaml
  operators/konveyor-forklift-operator/2.0.0/metadata/annotations.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_hooks.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_hosts.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_migrations.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_plans.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_providers.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_provisioners.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/konveyor-forklift-operator/2.1.0/manifests/konveyor-forklift-operator.v2.1.0.clusterserviceversion.yaml
  operators/konveyor-forklift-operator/2.1.0/metadata/annotations.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_hooks.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_hosts.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_migrations.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_plans.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_providers.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_provisioners.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/konveyor-forklift-operator/2.2.0/manifests/konveyor-forklift-operator.v2.2.0.clusterserviceversion.yaml
  operators/konveyor-forklift-operator/2.2.0/metadata/annotations.yaml
  operators/konveyor-forklift-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.6, installation-validated, installation-validated-4.10, installation-validated-4.11

#1274 operators multicluster-operators-subscription (0.4.1)
  operators/multicluster-operators-subscription/0.4.1/app.k8s.io_applications_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.4.1/apps.open-cluster-management.io_channels_crd_v1.yaml
  operators/multicluster-operators-subscription/0.4.1/apps.open-cluster-management.io_deployables_crd_v1.yaml
  operators/multicluster-operators-subscription/0.4.1/apps.open-cluster-management.io_gitopsclusters_crd_v1beta1.yaml
  operators/multicluster-operators-subscription/0.4.1/apps.open-cluster-management.io_helmreleases_crd_v1.yaml
  operators/multicluster-operators-subscription/0.4.1/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  operators/multicluster-operators-subscription/0.4.1/apps.open-cluster-management.io_subscriptionreports_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.4.1/apps.open-cluster-management.io_subscriptions_crd_v1.yaml
  operators/multicluster-operators-subscription/0.4.1/apps.open-cluster-management.io_subscriptionstatuses_crd_v1alpha1.yaml
  operators/multicluster-operators-subscription/0.4.1/multicluster-operators-subscription.v0.4.1.clusterserviceversion.yaml
  operators/multicluster-operators-subscription/multicluster-operators-subscription.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1281 operators project-quay (3.7.1)
  operators/project-quay/3.7.1/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.1/quayecosystems.crd.yaml
  operators/project-quay/3.7.1/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1282 operators pulp-operator (0.11.1)
  operators/pulp-operator/0.11.1/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.11.1/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.11.1/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.11.1/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.11.1/manifests/pulp-operator.v0.11.1.clusterserviceversion.yaml
  operators/pulp-operator/0.11.1/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.11.1/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.11.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.11.1/metadata/annotations.yaml
  operators/pulp-operator/0.11.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1283 operators snyk-operator (1.92.0)
  operators/snyk-operator/1.92.0/snyk-operator.v1.92.0.clusterserviceversion.yaml
  operators/snyk-operator/1.92.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1285 operators t8c (42.10.0)
  operators/t8c/42.10.0/t8c-operator.v42.10.0.clusterserviceversion.yaml
  operators/t8c/42.10.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1289 operators hive-operator (1.2.3687-204949e)
  operators/hive-operator/1.2.3687-204949e/hive-operator.v1.2.3687-204949e.clusterserviceversion.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3687-204949e/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3687-204949e/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3687-204949e/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1295 operators aqua (2022.4.2)
  operators/aqua/2022.4.2/bundle.Dockerfile
  operators/aqua/2022.4.2/manifests/aqua-operator.v2022.4.2.clusterserviceversion.yaml
  operators/aqua/2022.4.2/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.2/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.2/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1299 operators aqua (6.5.6)
  operators/aqua/6.5.6/bundle.Dockerfile
  operators/aqua/6.5.6/manifests/aqua-operator.v6.5.6.clusterserviceversion.yaml
  operators/aqua/6.5.6/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.6/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.6/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.6/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1284 operators [CI] tackle-operator (2.0.0)
  operators/tackle-operator/2.0.0/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.0.0/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.0.0/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.0.0/metadata/annotations.yaml
  operators/tackle-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1304 operators [CI] ack-emrcontainers-controller
  operators/ack-emrcontainers-controller/ci.yaml
Labels: openshift-operator, openshift-started-4.8, installation-validated-4.6, installation-skipped, openshift-started-4.10

#1305 operators hazelcast-platform-operator (5.3.0)
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.3.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1306 operators keycloak-operator (18.0.1)
  operators/keycloak-operator/18.0.1/bundle.Dockerfile
  operators/keycloak-operator/18.0.1/manifests/keycloak-operator.v18.0.1.clusterserviceversion.yaml
  operators/keycloak-operator/18.0.1/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.1/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.1/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.1/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.1/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1303 operators pulp-operator (0.12.0)
  operators/pulp-operator/0.12.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.12.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.12.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.12.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.12.0/manifests/pulp-operator.v0.12.0.clusterserviceversion.yaml
  operators/pulp-operator/0.12.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.12.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.12.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.12.0/metadata/annotations.yaml
  operators/pulp-operator/0.12.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1308 operators keycloak-operator (20.0.0-alpha.2)
  operators/keycloak-operator/20.0.0-alpha.2/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.2/manifests/keycloak-operator.v20.0.0-alpha.2.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.2/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1310 operators [CI] hazelcast-platform-operator
  operators/hazelcast-platform-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1307 operators postgresql (5.1.1)
  operators/postgresql/5.1.1/Dockerfile
  operators/postgresql/5.1.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.1.1/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.1.1/metadata/annotations.yaml
  operators/postgresql/5.1.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1311 operators [R] hazelcast-platform-operator (5.0.0 5.1.0 5.2.0)
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.3.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1323 operators jaeger (1.35.0)
  operators/jaeger/1.35.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.35.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.35.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.35.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.35.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.35.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.35.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.35.0/metadata/annotations.yaml
  operators/jaeger/1.35.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1326 operators hazelcast-platform-operator (5.3.0)
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.3.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1325 operators project-quay (3.7.2)
  operators/project-quay/3.7.2/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.2/quayecosystems.crd.yaml
  operators/project-quay/3.7.2/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1327 operators portworx-essentials (1.8.1)
  operators/portworx-essentials/1.8.1/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.8.1/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.8.1/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1330 operators hive-operator (1.2.3716-d6fe109)
  operators/hive-operator/1.2.3716-d6fe109/hive-operator.v1.2.3716-d6fe109.clusterserviceversion.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3716-d6fe109/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3716-d6fe109/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3716-d6fe109/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3716-d6fe109/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1338 operators dynatrace-operator (0.7.0)
  operators/dynatrace-operator/0.7.0/Dockerfile
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.7.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1337 operators kogito-operator (1.23.0)
  operators/kogito-operator/1.23.0/Dockerfile
  operators/kogito-operator/1.23.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.23.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.23.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.23.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.23.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.23.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.23.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.23.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.23.0/metadata/annotations.yaml
  operators/kogito-operator/1.23.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10

#1333 operator ibm-spectrum-scale-csi-operator (2.6.0)
  operators/ibm-spectrum-scale-csi-operator/2.6.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operators/ibm-spectrum-scale-csi-operator/2.6.0/ibm-spectrum-scale-csi-operator.v2.6.0.clusterserviceversion.yaml
  operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#1344 operator kubernetes-imagepuller-operator (1.0.1)
  operators/kubernetes-imagepuller-operator/1.0.1/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/kubernetes-imagepuller-operator.v1.0.1.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-failed-4.11

#1347 operator hive-operator (1.2.3725-6ac23a8)
  operators/hive-operator/1.2.3725-6ac23a8/hive-operator.v1.2.3725-6ac23a8.clusterserviceversion.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#1349 operator koku-metrics-operator (1.1.6)
  operators/koku-metrics-operator/1.1.6/Dockerfile
  operators/koku-metrics-operator/1.1.6/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/1.1.6/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/1.1.6/metadata/annotations.yaml
  operators/koku-metrics-operator/1.1.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1352 operator netobserv-operator (0.1.3)
  operators/netobserv-operator/0.1.3/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.1.3/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.1.3/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.1.3/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.1.3/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.1.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1355 operator zookeeper-operator (0.11.5)
  operators/zookeeper-operator/0.11.5/bundle.Dockerfile
  operators/zookeeper-operator/0.11.5/manifests/zookeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/zookeeper-operator/0.11.5/manifests/zookeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/zookeeper-operator/0.11.5/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.11.5/manifests/zookeeper.streamnative.io_zookeeperclusters.yaml
  operators/zookeeper-operator/0.11.5/metadata/annotations.yaml
  operators/zookeeper-operator/0.11.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1353 operator pulsar-operator (0.11.5)
  operators/pulsar-operator/0.11.5/bundle.Dockerfile
  operators/pulsar-operator/0.11.5/manifests/pulsar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-operator/0.11.5/manifests/pulsar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.11.5/manifests/pulsar-operator-pulsar-broker_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.11.5/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.11.5/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
  operators/pulsar-operator/0.11.5/manifests/pulsar.streamnative.io_pulsarconnections.yaml
  operators/pulsar-operator/0.11.5/manifests/pulsar.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-operator/0.11.5/manifests/pulsar.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-operator/0.11.5/manifests/pulsar.streamnative.io_pulsarproxies.yaml
  operators/pulsar-operator/0.11.5/manifests/pulsar.streamnative.io_pulsartenants.yaml
  operators/pulsar-operator/0.11.5/manifests/pulsar.streamnative.io_pulsartopics.yaml
  operators/pulsar-operator/0.11.5/metadata/annotations.yaml
  operators/pulsar-operator/0.11.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1357 operator keycloak-operator (20.0.0-alpha.3)
  operators/keycloak-operator/20.0.0-alpha.3/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.3/manifests/keycloak-operator.v20.0.0-alpha.3.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.3/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1358 operator verticadb-operator (1.6.0)
  operators/verticadb-operator/1.6.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.6.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.6.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.6.0/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/1.6.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.6.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.6.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.6.0/metadata/annotations.yaml
  operators/verticadb-operator/1.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1359 operator mongodb-atlas-kubernetes (1.1.0)
  operators/mongodb-atlas-kubernetes/1.1.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11
