Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-12, with the labels that each got.

#1909 Disable v4.12
  ci/pipeline-config-ocp.yaml
Labels: allow/ci-changes

#1906 operator grafana-operator (4.8.0)
  operators/grafana-operator/4.8.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.8.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.8.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.8.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.8.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.8.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.8.0/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.8.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.8.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1904 operator awx-operator (1.1.0)
  operators/awx-operator/1.1.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.1.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.1.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.1.0/manifests/awx-operator.v1.1.0.clusterserviceversion.yaml
  operators/awx-operator/1.1.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.1.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.1.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.1.0/metadata/annotations.yaml
  operators/awx-operator/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1913 operator portworx-essentials (1.10.1)
  operators/portworx-essentials/1.10.1/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.10.1/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.10.1/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1910 operator mongodb-atlas-kubernetes (1.5.0)
  operators/mongodb-atlas-kubernetes/1.5.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1917 operator netobserv-operator (0.2.1)
  operators/netobserv-operator/0.2.1/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.2.1/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.2.1/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.2.1/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.2.1/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.2.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1919 operator [CI] ack-cloudtrail-controller
  operators/ack-cloudtrail-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1918 operator project-quay (3.8.0)
  operators/project-quay/3.8.0/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0/quayecosystems.crd.yaml
  operators/project-quay/3.8.0/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1925 operator project-quay (3.9.0-nightly.1)
  operators/project-quay/3.9.0-nightly.1/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.1/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1926 operator annotationlab (4.4.1)
  operators/annotationlab/4.4.1/bundle.Dockerfile
  operators/annotationlab/4.4.1/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.4.1/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.4.1/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.4.1/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.4.1/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.4.1/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.4.1/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.4.1/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.4.1/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.4.1/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.4.1/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.4.1/metadata/annotations.yaml
  operators/annotationlab/4.4.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1928 operator [O] annotationlab (4.4.1)
  operators/annotationlab/4.4.1/manifests/annotationlab.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1923 operator [O] pulsar-operator (0.11.5)
  operators/pulsar-operator/0.11.5/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, allow/serious-changes-to-existing, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1914 operator [CI] aqua (2022.4.7)
  operators/aqua/2022.4.7/bundle.Dockerfile
  operators/aqua/2022.4.7/manifests/aqua-operator.v2022.4.7.clusterserviceversion.yaml
  operators/aqua/2022.4.7/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.7/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.7/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.7/metadata/annotations.yaml
  operators/aqua/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1931 operator project-quay (3.9.0-nightly.2022.12.11)
  operators/project-quay/3.9.0-nightly.2022.12.11/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.11/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1920 operator vault-config-operator (0.8.3)
  operators/vault-config-operator/0.8.3/Dockerfile
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.3/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.3/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.3/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.3/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.3/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.3/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.3/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.3/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.3/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.3/metadata/annotations.yaml
  operators/vault-config-operator/0.8.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, installation-failed-4.8, installation-failed-4.9, installation-failed-4.11, installation-failed-4.10, installation-failed-4.12

#1947 operator [O] vault-config-operator (0.8.3)
  operators/vault-config-operator/0.8.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, openshift-started-4.8, allow/serious-changes-to-existing, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#1951 operator awx-operator (1.1.2)
  operators/awx-operator/1.1.2/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.1.2/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.1.2/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.1.2/manifests/awx-operator.v1.1.2.clusterserviceversion.yaml
  operators/awx-operator/1.1.2/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.1.2/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.1.2/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.1.2/metadata/annotations.yaml
  operators/awx-operator/1.1.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1949 operator dynatrace-operator (0.10.0)
  operators/dynatrace-operator/0.10.0/Dockerfile
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.10.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1954 operator project-quay (3.9.0-nightly.2022.12.13)
  operators/project-quay/3.9.0-nightly.2022.12.13/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.13/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1953 operator hive-operator (1.2.3966-40fcaec)
  operators/hive-operator/1.2.3966-40fcaec/hive-operator.v1.2.3966-40fcaec.clusterserviceversion.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3966-40fcaec/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3966-40fcaec/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3966-40fcaec/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1948 operator [CI] percona-xtradb-cluster-operator (1.12.0)
  operators/percona-xtradb-cluster-operator/1.12.0/manifests/percona-xtradb-cluster-operator.v1.12.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.12.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.12.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.12.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.12.0/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1952 operator gitlab-operator-kubernetes (0.14.2)
  operators/gitlab-operator-kubernetes/0.14.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.14.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.14.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.14.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.14.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.14.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.14.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1956 operator beegfs-csi-driver-operator (1.4.0)
  operators/beegfs-csi-driver-operator/1.4.0/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.4.0/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.4.0/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.4.0/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.4.0/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.4.0/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1955 operator keycloak-operator (20.0.2)
  operators/keycloak-operator/20.0.2/bundle.Dockerfile
  operators/keycloak-operator/20.0.2/manifests/keycloak-operator.v20.0.2.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.2/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1944 operator camel-k (1.11.0)
  operators/camel-k/1.11.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/camel-k.v1.11.0.clusterserviceversion.yaml
  operators/camel-k/1.11.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/metadata/annotations.yaml
  operators/camel-k/1.11.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1958 operator [O] multicluster-global-hub-operator (0.6.0-dev)
  operators/multicluster-global-hub-operator/0.6.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.6.0-dev/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, allow/serious-changes-to-existing, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1959 operator project-quay (3.9.0-nightly.2022.12.14)
  operators/project-quay/3.9.0-nightly.2022.12.14/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.14/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1962 operator app-director-operator (0.9.1)
  operators/app-director-operator/0.9.1/Dockerfile
  operators/app-director-operator/0.9.1/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/0.9.1/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/0.9.1/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/0.9.1/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/0.9.1/manifests/appdirector.randoli.ca_appdirectoragents.yaml
  operators/app-director-operator/0.9.1/manifests/appdirector.randoli.ca_clusterwideappdirectoragents.yaml
  operators/app-director-operator/0.9.1/metadata/annotations.yaml
  operators/app-director-operator/0.9.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1963 operator project-quay (3.9.0-nightly.2022.12.15)
  operators/project-quay/3.9.0-nightly.2022.12.15/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.15/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1965 operator seldon-operator (1.15.0)
  operators/seldon-operator/1.15.0/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.15.0/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.15.0/metadata/annotations.yaml
  operators/seldon-operator/1.15.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1946 operator vault-config-operator (0.8.4)
  operators/vault-config-operator/0.8.4/Dockerfile
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.4/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.4/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.4/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.4/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.4/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.4/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.4/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.4/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.4/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.4/metadata/annotations.yaml
  operators/vault-config-operator/0.8.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1966 operator authorino-operator (0.5.0)
  operators/authorino-operator/0.5.0/bundle.Dockerfile
  operators/authorino-operator/0.5.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.5.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.5.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.5.0/metadata/annotations.yaml
  operators/authorino-operator/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1968 operator project-quay (3.9.0-nightly.2022.12.17)
  operators/project-quay/3.9.0-nightly.2022.12.17/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.17/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1970 operator project-quay (3.9.0-nightly.2022.12.18)
  operators/project-quay/3.9.0-nightly.2022.12.18/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.18/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1972 operator [O] multicluster-global-hub-operator (0.6.0-dev)
  operators/multicluster-global-hub-operator/0.6.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1973 operator project-quay (3.9.0-nightly.2022.12.19)
  operators/project-quay/3.9.0-nightly.2022.12.19/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.19/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1975 operator netobserv-operator (0.2.2)
  operators/netobserv-operator/0.2.2/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.2.2/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.2.2/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.2.2/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.2.2/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.2.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1978 operator limitador-operator (0.4.0)
  operators/limitador-operator/0.4.0/bundle.Dockerfile
  operators/limitador-operator/0.4.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.4.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.4.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.4.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.4.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.4.0/metadata/annotations.yaml
  operators/limitador-operator/0.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1979 operator group-sync-operator (0.0.21)
  operators/group-sync-operator/0.0.21/Dockerfile
  operators/group-sync-operator/0.0.21/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.21/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.21/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.21/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.21/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.21/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.21/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.21/metadata/annotations.yaml
  operators/group-sync-operator/0.0.21/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, openshift-started-4.12

#1807 operator [CI] horreum-operator (0.2.0)
  operators/horreum-operator/0.2.0/horreum-operator.v0.2.0.clusterserviceversion.yaml
  operators/horreum-operator/0.2.0/hyperfoil.io_horreums_crd.yaml
  operators/horreum-operator/ci.yaml
  operators/horreum-operator/horreum-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1977 operator nfs-provisioner-operator (0.0.7)
  operators/nfs-provisioner-operator/0.0.7/Dockerfile
  operators/nfs-provisioner-operator/0.0.7/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.7/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.7/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.7/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.7/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1982 operator project-quay (3.9.0-nightly.2022.12.20)
  operators/project-quay/3.9.0-nightly.2022.12.20/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.20/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1983 operator mongodb-atlas-kubernetes (1.5.1)
  operators/mongodb-atlas-kubernetes/1.5.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1984 operator group-sync-operator (0.0.22)
  operators/group-sync-operator/0.0.22/Dockerfile
  operators/group-sync-operator/0.0.22/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.22/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.22/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.22/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.22/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.22/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.22/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.22/metadata/annotations.yaml
  operators/group-sync-operator/0.0.22/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1995 operator dell-csi-operator (1.10.0)
  operators/dell-csi-operator/1.10.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/dell-csi-operator.v1.10.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1986 operator [R] annotationlab (3.4.0 4.1.2 4.2.0 4.2.1 4.3.0 4.4.0 4.4.1)
  operators/annotationlab/3.4.0/metadata/annotations.yaml
  operators/annotationlab/4.1.2/metadata/annotations.yaml
  operators/annotationlab/4.2.0/metadata/annotations.yaml
  operators/annotationlab/4.2.1/metadata/annotations.yaml
  operators/annotationlab/4.3.0/metadata/annotations.yaml
  operators/annotationlab/4.4.0/metadata/annotations.yaml
  operators/annotationlab/4.4.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1994 operator project-quay (3.9.0-nightly.2022.12.21)
  operators/project-quay/3.9.0-nightly.2022.12.21/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.21/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1993 operator [N] [CI] kuadrant-operator (0.2.0)
  operators/kuadrant-operator/0.2.0/bundle.Dockerfile
  operators/kuadrant-operator/0.2.0/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.2.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.2.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.2.0/tests/scorecard/config.yaml
  operators/kuadrant-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1996 operator dell-csm-operator (1.0.0)
  operators/dell-csm-operator/1.0.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.0.0/manifests/dell-csm-operator.v1.0.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.0.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1998 operator kogito-operator (1.32.0)
  operators/kogito-operator/1.32.0/Dockerfile
  operators/kogito-operator/1.32.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.32.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.32.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.32.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.32.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.32.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.32.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.32.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.32.0/metadata/annotations.yaml
  operators/kogito-operator/1.32.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1999 operator gitlab-runner-operator (1.11.0)
  operators/gitlab-runner-operator/1.11.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.11.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.11.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2000 operator project-quay (3.9.0-nightly.2022.12.22)
  operators/project-quay/3.9.0-nightly.2022.12.22/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.22/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1997 operator [R] netobserv-operator (0.1.0 0.1.1 0.1.2 0.1.3 0.1.4 0.2.0 0.2.1 0.2.2)
  operators/netobserv-operator/0.1.0/metadata/annotations.yaml
  operators/netobserv-operator/0.1.1/metadata/annotations.yaml
  operators/netobserv-operator/0.1.2/metadata/annotations.yaml
  operators/netobserv-operator/0.1.3/metadata/annotations.yaml
  operators/netobserv-operator/0.1.4/metadata/annotations.yaml
  operators/netobserv-operator/0.2.0/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.2.0/metadata/annotations.yaml
  operators/netobserv-operator/0.2.1/metadata/annotations.yaml
  operators/netobserv-operator/0.2.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2002 operator group-sync-operator (0.0.23)
  operators/group-sync-operator/0.0.23/Dockerfile
  operators/group-sync-operator/0.0.23/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.23/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.23/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.23/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.23/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.23/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.23/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.23/metadata/annotations.yaml
  operators/group-sync-operator/0.0.23/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2004 operator project-quay (3.9.0-nightly.2022.12.23)
  operators/project-quay/3.9.0-nightly.2022.12.23/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.23/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1933 operator external-secrets-operator (0.7.0)
  operators/external-secrets-operator/0.7.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.7.0/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.7.0/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.7.0/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.7.0/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.7.0/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.7.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.7.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2005 operator patterns-operator (0.0.8)
  operators/patterns-operator/0.0.8/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.8/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.8/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.8/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.8/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.8/metadata/annotations.yaml
  operators/patterns-operator/0.0.8/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2007 operator project-quay (3.9.0-nightly.2022.12.24)
  operators/project-quay/3.9.0-nightly.2022.12.24/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.24/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2006 operator jaeger (1.40.0)
  operators/jaeger/1.40.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.40.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.40.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.40.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.40.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.40.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.40.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.40.0/metadata/annotations.yaml
  operators/jaeger/1.40.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2008 operator project-quay (3.9.0-nightly.2022.12.25)
  operators/project-quay/3.9.0-nightly.2022.12.25/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.25/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2009 operator project-quay (3.9.0-nightly.2022.12.26)
  operators/project-quay/3.9.0-nightly.2022.12.26/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.26/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2010 operator project-quay (3.9.0-nightly.2022.12.27)
  operators/project-quay/3.9.0-nightly.2022.12.27/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.27/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2012 operator edp-keycloak-operator (1.14.0)
  operators/edp-keycloak-operator/1.14.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.14.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.14.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2011 operator project-quay (3.9.0-nightly.2022.12.29)
  operators/project-quay/3.9.0-nightly.2022.12.29/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.29/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2016 operator project-quay (3.9.0-nightly.2022.12.30)
  operators/project-quay/3.9.0-nightly.2022.12.30/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.30/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2003 operator gitlab-operator-kubernetes (0.15.0)
  operators/gitlab-operator-kubernetes/0.15.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.15.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.15.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.15.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2017 operator project-quay (3.9.0-nightly.2022.12.31)
  operators/project-quay/3.9.0-nightly.2022.12.31/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.31/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12
