Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-04, with the labels that each got.

#1041 operators snapscheduler (3.0.0)
  operators/snapscheduler/3.0.0/bundle.Dockerfile
  operators/snapscheduler/3.0.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/3.0.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/3.0.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/3.0.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/3.0.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/3.0.0/metadata/annotations.yaml
  operators/snapscheduler/3.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1043 operators hive-operator (2.5.3508-6cb94c6)
  operators/hive-operator/2.5.3508-6cb94c6/hive-operator.v2.5.3508-6cb94c6.clusterserviceversion.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1051 operators fossul-operator (0.6.0)
  operators/fossul-operator/0.6.0/bundle.Dockerfile
  operators/fossul-operator/0.6.0/manifests/fossul-operator.v0.6.0.clusterserviceversion.yaml
  operators/fossul-operator/0.6.0/manifests/fossul.io_backupconfigs.yaml
  operators/fossul-operator/0.6.0/manifests/fossul.io_backups.yaml
  operators/fossul-operator/0.6.0/manifests/fossul.io_backupschedules.yaml
  operators/fossul-operator/0.6.0/manifests/fossul.io_fossuls.yaml
  operators/fossul-operator/0.6.0/manifests/fossul.io_restores.yaml
  operators/fossul-operator/0.6.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1045 operators gitops-primer (0.0.7)
  operators/gitops-primer/0.0.7/manifests/gitops-primer-controller-manager-metrics-service_v1_service.yaml
  operators/gitops-primer/0.0.7/manifests/gitops-primer-manager-config_v1_configmap.yaml
  operators/gitops-primer/0.0.7/manifests/gitops-primer-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitops-primer/0.0.7/manifests/gitops-primer-webhook-service_v1_service.yaml
  operators/gitops-primer/0.0.7/manifests/gitops-primer.clusterserviceversion.yaml
  operators/gitops-primer/0.0.7/manifests/primer.gitops.io_exports.yaml
  operators/gitops-primer/0.0.7/metadata/annotations.yaml
  operators/gitops-primer/0.0.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1053 operators hive-operator (1.2.3581-88b1c28)
  operators/hive-operator/1.2.3581-88b1c28/hive-operator.v1.2.3581-88b1c28.clusterserviceversion.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3581-88b1c28/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3581-88b1c28/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3581-88b1c28/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3581-88b1c28/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1054 operators [N] [CI] mongodb-operator (0.3.0)
  operators/mongodb-operator/0.3.0/manifests/mongodb-operator.v0.3.0.clusterserviceversion.yaml
  operators/mongodb-operator/0.3.0/manifests/mongodbclusters.opstreelabs.in.crd.yaml
  operators/mongodb-operator/0.3.0/manifests/mongodbs.opstreelabs.in.crd.yaml
  operators/mongodb-operator/0.3.0/metadata/annotations.yaml
  operators/mongodb-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1058 operators external-secrets-operator (0.5.0)
  operators/external-secrets-operator/0.5.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1060 operators external-secrets-operator (0.5.1)
  operators/external-secrets-operator/0.5.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1059 operators opentelemetry-operator (0.48.0)
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.48.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.48.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1062 operators microcks (1.5.1)
  operators/microcks/1.5.1/microcks-operator.v1.5.1.clusterserviceversion.yaml
  operators/microcks/1.5.1/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#996 operators [N] [CI] dell-csm-operator (0.1.0)
  operators/dell-csm-operator/0.1.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/0.1.0/manifests/dell-csm-operator.v0.1.0.clusterserviceversion.yaml
  operators/dell-csm-operator/0.1.0/metadata/annotations.yaml
  operators/dell-csm-operator/0.1.0/tests/scorecard/config.yaml
  operators/dell-csm-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1064 operators kiali (1.49.0)
  operators/kiali/1.49.0/bundle.Dockerfile
  operators/kiali/1.49.0/manifests/kiali.crd.yaml
  operators/kiali/1.49.0/manifests/kiali.v1.49.0.clusterserviceversion.yaml
  operators/kiali/1.49.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1065 operators dynatrace-operator (0.5.1)
  operators/dynatrace-operator/0.5.1/Dockerfile
  operators/dynatrace-operator/0.5.1/manifests/dynatrace-activegate_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.5.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.5.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.5.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.5.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1070 operators hive-operator (1.2.3588-5ccea30)
  operators/hive-operator/1.2.3588-5ccea30/hive-operator.v1.2.3588-5ccea30.clusterserviceversion.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3588-5ccea30/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3588-5ccea30/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3588-5ccea30/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3588-5ccea30/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1071 operators victoriametrics-operator (0.24.0)
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.24.0/victoriametrics-operator.0.24.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1067 operators [R] project-quay (3.7.0-rc.1 3.7.0-rc.2)
  operators/project-quay/3.7.0-rc.1/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.0-rc.2/quay-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1078 operators namespace-configuration-operator (1.2.3)
  operators/namespace-configuration-operator/1.2.3/Dockerfile
  operators/namespace-configuration-operator/1.2.3/manifests/namespace-configuration-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/namespace-configuration-operator/1.2.3/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  operators/namespace-configuration-operator/1.2.3/manifests/namespace-configuration-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/namespace-configuration-operator/1.2.3/manifests/namespace-configuration-operator-metrics-service_v1_service.yaml
  operators/namespace-configuration-operator/1.2.3/manifests/namespace-configuration-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/namespace-configuration-operator/1.2.3/manifests/namespace-configuration-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/namespace-configuration-operator/1.2.3/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  operators/namespace-configuration-operator/1.2.3/manifests/redhatcop.redhat.io_groupconfigs.yaml
  operators/namespace-configuration-operator/1.2.3/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  operators/namespace-configuration-operator/1.2.3/manifests/redhatcop.redhat.io_userconfigs.yaml
  operators/namespace-configuration-operator/1.2.3/metadata/annotations.yaml
  operators/namespace-configuration-operator/1.2.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1074 operators vault-config-operator (0.4.1)
  operators/vault-config-operator/0.4.1/Dockerfile
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.4.1/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.4.1/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.4.1/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.4.1/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.4.1/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.4.1/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.4.1/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.4.1/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.4.1/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.4.1/metadata/annotations.yaml
  operators/vault-config-operator/0.4.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1080 operators neuvector-community-operator (1.3.3)
  operators/neuvector-community-operator/1.3.3/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.3.3/neuvector-operator.v1.3.3.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1073 operators cert-utils-operator (1.3.9)
  operators/cert-utils-operator/1.3.9/Dockerfile
  operators/cert-utils-operator/1.3.9/manifests/cert-utils-operator-certificate-rule-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/cert-utils-operator/1.3.9/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.9/manifests/cert-utils-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cert-utils-operator/1.3.9/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.9/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.9/manifests/cert-utils-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/cert-utils-operator/1.3.9/manifests/cert-utils-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/cert-utils-operator/1.3.9/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.9/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1086 operators jaeger (1.33.0)
  operators/jaeger/1.33.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.33.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.33.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.33.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.33.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.33.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.33.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.33.0/metadata/annotations.yaml
  operators/jaeger/1.33.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#798 operators portworx-essentials (1.7.1)
  operators/portworx-essentials/1.7.1/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.7.1/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.7.1/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1092 operators kogito-operator (1.20.0)
  operators/kogito-operator/1.20.0/Dockerfile
  operators/kogito-operator/1.20.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.20.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.20.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.20.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.20.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.20.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.20.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.20.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.20.0/metadata/annotations.yaml
  operators/kogito-operator/1.20.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1093 operators portworx-essentials (1.8.0)
  operators/portworx-essentials/1.8.0/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.8.0/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.8.0/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1107 operators hive-operator (1.2.3594-20fd254)
  operators/hive-operator/1.2.3594-20fd254/hive-operator.v1.2.3594-20fd254.clusterserviceversion.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3594-20fd254/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3594-20fd254/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3594-20fd254/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1094 Remove buildsv2-operator
  operators/buildv2-operator/0.0.6/build.dev_buildruns_crd.yaml
  operators/buildv2-operator/0.0.6/build.dev_builds_crd.yaml
  operators/buildv2-operator/0.0.6/build.dev_buildstrategies_crd.yaml
  operators/buildv2-operator/0.0.6/build.dev_clusterbuildstrategies_crd.yaml
  operators/buildv2-operator/0.0.6/buildv2-operator.clusterserviceversion.yaml
  operators/buildv2-operator/0.1.0/build.dev_buildruns_crd.yaml
  operators/buildv2-operator/0.1.0/build.dev_builds_crd.yaml
  operators/buildv2-operator/0.1.0/build.dev_buildstrategies_crd.yaml
  operators/buildv2-operator/0.1.0/build.dev_clusterbuildstrategies_crd.yaml
  operators/buildv2-operator/0.1.0/buildv2-operator.clusterserviceversion.yaml
  operators/buildv2-operator/0.3.0/build.dev_buildruns_crd.yaml
  operators/buildv2-operator/0.3.0/build.dev_builds_crd.yaml
  operators/buildv2-operator/0.3.0/build.dev_buildstrategies_crd.yaml
  operators/buildv2-operator/0.3.0/build.dev_clusterbuildstrategies_crd.yaml
  operators/buildv2-operator/0.3.0/buildv2-operator.clusterserviceversion.yaml
  operators/buildv2-operator/buildv2-operator.package.yaml
  operators/buildv2-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1085 operators [N] [CI] prometurbo (8.5.0)
  operators/prometurbo/8.5.0/prometurbo-operator.v8.5.0.clusterserviceversion.yaml
  operators/prometurbo/8.5.0/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo/ci.yaml
  operators/prometurbo/prometurbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1052 operators [N] [CI] gitlab-operator-kubernetes (0.6.1)
  operators/gitlab-operator-kubernetes/0.6.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.6.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.6.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.6.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.6.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.6.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.6.1/tests/scorecard/config.yaml
  operators/gitlab-operator-kubernetes/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1112 operators [CI] ack-memorydb-controller
  operators/ack-memorydb-controller/ci.yaml
Labels: openshift-operator, authorized-changes, installation-validated-4.9, installation-skipped, installation-validated-4.10

#1088 operators aqua (6.5.4)
  operators/aqua/6.5.4/aqua-operator.v6.5.4.clusterserviceversion.yaml
  operators/aqua/6.5.4/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.4/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.4/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/aqua-operator.package.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1113 operators argocd-operator (0.3.0)
  operators/argocd-operator/0.3.0/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.3.0/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.3.0/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.3.0/argocd-operator.v0.3.0.clusterserviceversion.yaml
  operators/argocd-operator/0.3.0/argoproj.io_applications.yaml
  operators/argocd-operator/0.3.0/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.3.0/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.3.0/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.3.0/argoproj.io_argocds.yaml
  operators/argocd-operator/argocd-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1083 operators yaks (0.10.0)
  operators/yaks/0.10.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.10.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.10.0/yaks.v0.10.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1116 operators keycloak-operator (18.0.0)
  operators/keycloak-operator/18.0.0/bundle.Dockerfile
  operators/keycloak-operator/18.0.0/manifests/keycloak-operator.v18.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/18.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1117 operators keycloak-operator (20.0.0-alpha.1)
  operators/keycloak-operator/20.0.0-alpha.1/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.1/manifests/keycloak-operator.v20.0.0-alpha.1.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.1/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#969 operators t8c (42.8.0)
  operators/t8c/42.8.0/t8c-operator.v42.8.0.clusterserviceversion.yaml
  operators/t8c/42.8.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1122 operators gitlab-runner-operator (1.8.0)
  operators/gitlab-runner-operator/1.8.0/bundle.Dockerfile
  operators/gitlab-runner-operator/1.8.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.8.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1123 operators volume-expander-operator (0.3.5)
  operators/volume-expander-operator/0.3.5/Dockerfile
  operators/volume-expander-operator/0.3.5/manifests/volume-expander-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/volume-expander-operator/0.3.5/manifests/volume-expander-operator-controller-manager-metrics_v1_service.yaml
  operators/volume-expander-operator/0.3.5/manifests/volume-expander-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/volume-expander-operator/0.3.5/manifests/volume-expander-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/volume-expander-operator/0.3.5/manifests/volume-expander-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/volume-expander-operator/0.3.5/manifests/volume-expander-operator.clusterserviceversion.yaml
  operators/volume-expander-operator/0.3.5/metadata/annotations.yaml
  operators/volume-expander-operator/0.3.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1132 operators [R] camel-k (1.5.0 1.5.1 1.6.0 1.6.1 1.7.0 1.8.0 1.8.1 1.8.2 1.9.0)
  operators/camel-k/1.5.0/metadata/annotations.yaml
  operators/camel-k/1.5.1/metadata/annotations.yaml
  operators/camel-k/1.6.0/metadata/annotations.yaml
  operators/camel-k/1.6.1/metadata/annotations.yaml
  operators/camel-k/1.7.0/metadata/annotations.yaml
  operators/camel-k/1.8.0/metadata/annotations.yaml
  operators/camel-k/1.8.1/metadata/annotations.yaml
  operators/camel-k/1.8.2/metadata/annotations.yaml
  operators/camel-k/1.9.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/camel-k.v1.9.0.clusterserviceversion.yaml
  operators/camel-k/1.9.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/metadata/annotations.yaml
  operators/camel-k/1.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1130 operators group-sync-operator (0.0.18)
  operators/group-sync-operator/0.0.18/Dockerfile
  operators/group-sync-operator/0.0.18/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.18/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.18/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.18/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.18/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.18/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.18/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.18/metadata/annotations.yaml
  operators/group-sync-operator/0.0.18/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1127 operators [O] volume-expander-operator (0.3.5)
  operators/volume-expander-operator/0.3.5/manifests/volume-expander-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1131 operators snyk-operator (1.88.4)
  operators/snyk-operator/1.88.4/snyk-operator.v1.88.4.clusterserviceversion.yaml
  operators/snyk-operator/1.88.4/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1129 operators hive-operator (1.2.3598-e150a7f)
  operators/hive-operator/1.2.3598-e150a7f/hive-operator.v1.2.3598-e150a7f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3598-e150a7f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3598-e150a7f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3598-e150a7f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, openshift-started-4.9, installation-validated-4.10, installation-validated-4.11

#1125 operators silicom-sts-operator (0.0.5)
  operators/silicom-sts-operator/0.0.5/bundle.Dockerfile
  operators/silicom-sts-operator/0.0.5/manifests/silicom-sts-operator.clusterserviceversion.yaml
  operators/silicom-sts-operator/0.0.5/manifests/sts-controller-manager-metrics-service_v1_service.yaml
  operators/silicom-sts-operator/0.0.5/manifests/sts-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/silicom-sts-operator/0.0.5/manifests/sts.silicom.com_stsconfigs.yaml
  operators/silicom-sts-operator/0.0.5/manifests/sts.silicom.com_stsnodes.yaml
  operators/silicom-sts-operator/0.0.5/manifests/sts.silicom.com_stsoperatorconfigs.yaml
  operators/silicom-sts-operator/0.0.5/metadata/annotations.yaml
  operators/silicom-sts-operator/0.0.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1075 operators [CI] project-quay
  operators/project-quay/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated

#1147 operators external-secrets-operator (0.5.2)
  operators/external-secrets-operator/0.5.2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.2/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.2/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1141 operators [CI] aqua (2022.4.0)
  operators/aqua/2022.4.0/aqua-operator.v2022.4.0.clusterserviceversion.yaml
  operators/aqua/2022.4.0/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.0/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.0/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/aqua-operator.package.yaml
  operators/aqua/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1139 operators mta-operator (0.0.10)
  operators/mta-operator/0.0.10/Dockerfile
  operators/mta-operator/0.0.10/manifests/windup-operator.v0.0.10.clusterserviceversion.yaml
  operators/mta-operator/0.0.10/manifests/windup.crd.yaml
  operators/mta-operator/0.0.10/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1150 operators t8c (42.9.0)
  operators/t8c/42.9.0/t8c-operator.v42.9.0.clusterserviceversion.yaml
  operators/t8c/42.9.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1143 operators pulp-operator (0.9.0)
  operators/pulp-operator/0.9.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator.v0.9.0.clusterserviceversion.yaml
  operators/pulp-operator/0.9.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.9.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.9.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.9.0/metadata/annotations.yaml
  operators/pulp-operator/0.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1142 operators silicom-sts-operator (0.0.6)
  operators/silicom-sts-operator/0.0.6/bundle.Dockerfile
  operators/silicom-sts-operator/0.0.6/manifests/silicom-sts-operator.clusterserviceversion.yaml
  operators/silicom-sts-operator/0.0.6/manifests/sts-controller-manager-metrics-service_v1_service.yaml
  operators/silicom-sts-operator/0.0.6/manifests/sts-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/silicom-sts-operator/0.0.6/manifests/sts.silicom.com_stsconfigs.yaml
  operators/silicom-sts-operator/0.0.6/manifests/sts.silicom.com_stsnodes.yaml
  operators/silicom-sts-operator/0.0.6/manifests/sts.silicom.com_stsoperatorconfigs.yaml
  operators/silicom-sts-operator/0.0.6/metadata/annotations.yaml
  operators/silicom-sts-operator/0.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1149 operators project-quay (3.7.0-rc.3)
  operators/project-quay/3.7.0-rc.3/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.0-rc.3/quayecosystems.crd.yaml
  operators/project-quay/3.7.0-rc.3/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1126 operators [N] [CI] shipwright-operator (0.9.0)
  operators/shipwright-operator/0.9.0/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.9.0/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.9.0/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.9.0/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.9.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.9.0/metadata/annotations.yaml
  operators/shipwright-operator/0.9.0/tests/scorecard/config.yaml
  operators/shipwright-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1121 operators [N] [CI] deployment-validation-operator (0.2.2)
  operators/deployment-validation-operator/0.2.2/manifests/deploymentvalidationoperator.0.2.2.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.2.2/metadata/annotations.yaml
  operators/deployment-validation-operator/0.2.2/tests/scorecard/config.yaml
  operators/deployment-validation-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1138 operators grafana-operator (4.3.0)
  operators/grafana-operator/4.3.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.3.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.3.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.3.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.3.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.3.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.3.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.3.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1151 operators [O] silicom-sts-operator (0.0.6)
  operators/silicom-sts-operator/0.0.6/manifests/silicom-sts-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1091 operators postgresql (4.7.5)
  operators/postgresql/4.7.5/Dockerfile
  operators/postgresql/4.7.5/manifests/pgclusters.crunchydata.com.crd.yaml
  operators/postgresql/4.7.5/manifests/pgpolicies.crunchydata.com.crd.yaml
  operators/postgresql/4.7.5/manifests/pgreplicas.crunchydata.com.crd.yaml
  operators/postgresql/4.7.5/manifests/pgtasks.crunchydata.com.crd.yaml
  operators/postgresql/4.7.5/manifests/postgresoperator.v4.7.5.clusterserviceversion.yaml
  operators/postgresql/4.7.5/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, installation-validated-4.8, installation-validated-4.6, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1153 operators [O] aqua (2022.4.0)
  operators/aqua/2022.4.0/aqua-operator.v2022.4.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1154 operators hive-operator (2.5.3514-4052426)
  operators/hive-operator/2.5.3514-4052426/hive-operator.v2.5.3514-4052426.clusterserviceversion.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3514-4052426/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3514-4052426/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3514-4052426/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1155 operators datatrucker-operator (2.0.0)
  operators/datatrucker-operator/2.0.0/bundle.Dockerfile
  operators/datatrucker-operator/2.0.0/manifests/datatrucker-operator-controller-manager-metrics-service_v1_service.yaml
  operators/datatrucker-operator/2.0.0/manifests/datatrucker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/datatrucker-operator/2.0.0/manifests/datatrucker-operator.clusterserviceversion.yaml
  operators/datatrucker-operator/2.0.0/manifests/datatrucker.datatrucker.io_datatruckerconfigs.yaml
  operators/datatrucker-operator/2.0.0/manifests/datatrucker.datatrucker.io_datatruckerflows.yaml
  operators/datatrucker-operator/2.0.0/metadata/annotations.yaml
  operators/datatrucker-operator/2.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1156 operators [N] [CI] node-maintenance-operator (0.12.1)
  operators/node-maintenance-operator/0.12.1/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.12.1/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.12.1/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.12.1/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.12.1/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.12.1/metadata/annotations.yaml
  operators/node-maintenance-operator/0.12.1/tests/scorecard/config.yaml
  operators/node-maintenance-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1157 operators kiali (1.50.0)
  operators/kiali/1.50.0/bundle.Dockerfile
  operators/kiali/1.50.0/manifests/kiali.crd.yaml
  operators/kiali/1.50.0/manifests/kiali.v1.50.0.clusterserviceversion.yaml
  operators/kiali/1.50.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11
