Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-08, with the labels that each got.

#1451 operator patch-operator (0.1.5)
  operators/patch-operator/0.1.5/Dockerfile
  operators/patch-operator/0.1.5/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.5/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.5/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.5/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.5/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/patch-operator/0.1.5/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patch-operator/0.1.5/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.5/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.5/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.5/metadata/annotations.yaml
  operators/patch-operator/0.1.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1473 operator sosivio (1.4.1-81)
  operators/sosivio/1.4.1-81/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.4.1-81/manifests/sosivio.crd.yaml
  operators/sosivio/1.4.1-81/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1477 operator hive-operator (1.2.3777-97dd9ae)
  operators/hive-operator/1.2.3777-97dd9ae/hive-operator.v1.2.3777-97dd9ae.clusterserviceversion.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1481 operator gitops-primer (0.0.9)
  operators/gitops-primer/0.0.9/manifests/gitops-primer-controller-manager-metrics-service_v1_service.yaml
  operators/gitops-primer/0.0.9/manifests/gitops-primer-manager-config_v1_configmap.yaml
  operators/gitops-primer/0.0.9/manifests/gitops-primer-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitops-primer/0.0.9/manifests/gitops-primer-webhook-service_v1_service.yaml
  operators/gitops-primer/0.0.9/manifests/gitops-primer.clusterserviceversion.yaml
  operators/gitops-primer/0.0.9/manifests/primer.gitops.io_exports.yaml
  operators/gitops-primer/0.0.9/metadata/annotations.yaml
  operators/gitops-primer/0.0.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10

#1482 operator [CI] portworx-essentials (1.9.0)
  operators/portworx-essentials/1.9.0/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.9.0/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.9.0/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/ci.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1483 operator cert-manager (1.8.2-rc1)
  operators/cert-manager/1.8.2-rc1/bundle.Dockerfile
  operators/cert-manager/1.8.2-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.8.2-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.8.2-rc1/metadata/annotations.yaml
  operators/cert-manager/1.8.2-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1485 Gating on v4.1
  ci/pipeline-config-ocp.yaml
Labels: allow/ci-changes, dco-failed

#1484 operator pulsar-operator (0.12.0)
  operators/pulsar-operator/0.12.0/bundle.Dockerfile
  operators/pulsar-operator/0.12.0/manifests/pulsar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar-operator-pulsar-broker_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsarconnections.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsarproxies.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsartenants.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsartopics.yaml
  operators/pulsar-operator/0.12.0/metadata/annotations.yaml
  operators/pulsar-operator/0.12.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1488 operator cert-manager (1.8.2)
  operators/cert-manager/1.8.2/bundle.Dockerfile
  operators/cert-manager/1.8.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.8.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.8.2/metadata/annotations.yaml
  operators/cert-manager/1.8.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1487 operator zookeeper-operator (0.12.0)
  operators/zookeeper-operator/0.12.0/bundle.Dockerfile
  operators/zookeeper-operator/0.12.0/manifests/zookeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/zookeeper-operator/0.12.0/manifests/zookeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/zookeeper-operator/0.12.0/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.12.0/manifests/zookeeper.streamnative.io_zookeeperclusters.yaml
  operators/zookeeper-operator/0.12.0/metadata/annotations.yaml
  operators/zookeeper-operator/0.12.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1489 operator cert-manager (1.9.1-rc1)
  operators/cert-manager/1.9.1-rc1/bundle.Dockerfile
  operators/cert-manager/1.9.1-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.9.1-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.9.1-rc1/metadata/annotations.yaml
  operators/cert-manager/1.9.1-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1491 operator cert-manager (1.9.1)
  operators/cert-manager/1.9.1/bundle.Dockerfile
  operators/cert-manager/1.9.1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.9.1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.9.1/metadata/annotations.yaml
  operators/cert-manager/1.9.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1486 operator bookkeeper-operator (0.12.0)
  operators/bookkeeper-operator/0.12.0/bundle.Dockerfile
  operators/bookkeeper-operator/0.12.0/manifests/bookkeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/bookkeeper-operator/0.12.0/manifests/bookkeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bookkeeper-operator/0.12.0/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.12.0/manifests/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  operators/bookkeeper-operator/0.12.0/metadata/annotations.yaml
  operators/bookkeeper-operator/0.12.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1480 operator [CI] t8c (42.12.0)
  operators/t8c/42.12.0/t8c-operator.v42.12.0.clusterserviceversion.yaml
  operators/t8c/42.12.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/ci.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1474 operator seldon-operator (1.14.0)
  operators/seldon-operator/1.14.0/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.14.0/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.14.0/metadata/annotations.yaml
  operators/seldon-operator/1.14.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1490 operator project-quay (3.7.5)
  operators/project-quay/3.7.5/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.5/quayecosystems.crd.yaml
  operators/project-quay/3.7.5/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1495 operator neuvector-community-operator (1.3.6)
  operators/neuvector-community-operator/1.3.6/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.3.6/neuvector-operator.v1.3.6.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1492 operator kiali (1.54.0)
  operators/kiali/1.54.0/bundle.Dockerfile
  operators/kiali/1.54.0/manifests/kiali.crd.yaml
  operators/kiali/1.54.0/manifests/kiali.v1.54.0.clusterserviceversion.yaml
  operators/kiali/1.54.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1498 operator external-secrets-operator (0.5.9)
  operators/external-secrets-operator/0.5.9/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.9/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.9/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.9/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.9/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.9/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.9/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.9/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1493 operator keycloak-operator (19.0.1)
  operators/keycloak-operator/19.0.1/bundle.Dockerfile
  operators/keycloak-operator/19.0.1/manifests/keycloak-operator.v19.0.1.clusterserviceversion.yaml
  operators/keycloak-operator/19.0.1/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.1/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.1/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.1/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.1/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1494 operator keycloak-operator (20.0.0-alpha.5)
  operators/keycloak-operator/20.0.0-alpha.5/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.5/manifests/keycloak-operator.v20.0.0-alpha.5.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.5/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.5/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1497 operator kubernetes-imagepuller-operator (1.0.2)
  operators/kubernetes-imagepuller-operator/1.0.2/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/kubernetes-imagepuller-operator.v1.0.2.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1500 operator [CI] cockroachdb
  operators/cockroachdb/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1501 operator gitops-primer (0.0.10)
  operators/gitops-primer/0.0.10/manifests/gitops-primer-controller-manager-metrics-service_v1_service.yaml
  operators/gitops-primer/0.0.10/manifests/gitops-primer-manager-config_v1_configmap.yaml
  operators/gitops-primer/0.0.10/manifests/gitops-primer-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitops-primer/0.0.10/manifests/gitops-primer-webhook-service_v1_service.yaml
  operators/gitops-primer/0.0.10/manifests/gitops-primer.clusterserviceversion.yaml
  operators/gitops-primer/0.0.10/manifests/primer.gitops.io_exports.yaml
  operators/gitops-primer/0.0.10/metadata/annotations.yaml
  operators/gitops-primer/0.0.10/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1506 operator seldon-operator (1.14.1)
  operators/seldon-operator/1.14.1/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.14.1/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.14.1/metadata/annotations.yaml
  operators/seldon-operator/1.14.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1505 operator hive-operator (1.2.3821-25f3291)
  operators/hive-operator/1.2.3821-25f3291/hive-operator.v1.2.3821-25f3291.clusterserviceversion.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3821-25f3291/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3821-25f3291/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3821-25f3291/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1504 operator istio-workspace-operator (0.5.2)
  operators/istio-workspace-operator/0.5.2/manifests/istio-workspace-operator.clusterserviceversion.yaml
  operators/istio-workspace-operator/0.5.2/manifests/workspace.maistra.io_sessions.yaml
  operators/istio-workspace-operator/0.5.2/metadata/annotations.yaml
  operators/istio-workspace-operator/0.5.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1508 operator [O] aqua (2022.4.3)
  operators/aqua/2022.4.3/manifests/aqua-operator.v2022.4.2.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1502 operator [N] [CI] eginnovations-operator (0.0.1)
  operators/eginnovations-operator/0.0.1/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.1/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.1/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.1/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.1/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.1/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.1/tests/scorecard/config.yaml
  operators/eginnovations-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1513 operator vault-config-operator (0.6.2)
  operators/vault-config-operator/0.6.2/Dockerfile
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.6.2/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.6.2/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.6.2/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.6.2/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.6.2/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.6.2/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.6.2/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.6.2/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.6.2/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.6.2/metadata/annotations.yaml
  operators/vault-config-operator/0.6.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1509 operator [O] opendatahub-operator (1.3.0)
  operators/opendatahub-operator/1.3.0/manifests/opendatahub-operator.v1.3.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1516 operator jaeger (1.37.0)
  operators/jaeger/1.37.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.37.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.37.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.37.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.37.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.37.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.37.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.37.0/metadata/annotations.yaml
  operators/jaeger/1.37.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1517 operator patch-operator (0.1.7)
  operators/patch-operator/0.1.7/Dockerfile
  operators/patch-operator/0.1.7/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.7/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.7/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.7/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.7/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/patch-operator/0.1.7/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patch-operator/0.1.7/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.7/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.7/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.7/metadata/annotations.yaml
  operators/patch-operator/0.1.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1519 operator project-quay (3.7.6)
  operators/project-quay/3.7.6/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.6/quayecosystems.crd.yaml
  operators/project-quay/3.7.6/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1521 operator [CI] project-quay
  operators/project-quay/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1520 operator hive-operator (1.2.3830-c04f8ed)
  operators/hive-operator/1.2.3830-c04f8ed/hive-operator.v1.2.3830-c04f8ed.clusterserviceversion.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1522 operator hive-operator (2.4.3231-ba51985)
  operators/hive-operator/2.4.3231-ba51985/hive-operator.v2.4.3231-ba51985.clusterserviceversion.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3231-ba51985/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3231-ba51985/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3231-ba51985/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1523 operator [CI] ack-prometheusservice-controller
  operators/ack-prometheusservice-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-skipped, installation-validated-4.10, installation-validated-4.11

#1527 operator dynatrace-operator (0.8.0)
  operators/dynatrace-operator/0.8.0/Dockerfile
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.8.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1528 operator percona-postgresql-operator (1.3.0)
  operators/percona-postgresql-operator/1.3.0/manifests/percona-postgresql-operator.v1.3.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/perconapgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/pgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/pgpolicies.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/pgreplicas.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/pgtasks.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1526 operator hive-operator (2.3.3039-60b8a9a)
  operators/hive-operator/2.3.3039-60b8a9a/hive-operator.v2.3.3039-60b8a9a.clusterserviceversion.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1533 operator kiali (1.55.0)
  operators/kiali/1.55.0/bundle.Dockerfile
  operators/kiali/1.55.0/manifests/kiali.crd.yaml
  operators/kiali/1.55.0/manifests/kiali.v1.55.0.clusterserviceversion.yaml
  operators/kiali/1.55.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1536 operator grafana-operator (4.6.0)
  operators/grafana-operator/4.6.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.6.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.6.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.6.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.6.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.6.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.6.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.6.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1518 operator [N] [CI] multicluster-global-hub-operator (0.5.0)
  operators/multicluster-global-hub-operator/0.5.0/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.5.0/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/ci.yaml
  operators/multicluster-global-hub-operator/multicluster-global-hub-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1538 operator [N] multicluster-global-hub-operator (0.5.0)
  operators/multicluster-global-hub-operator/0.5.0/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1531 operator [N] [CI] lbconfig-operator (0.2.0)
  operators/lbconfig-operator/0.2.0/manifests/lb.lbconfig.carlosedp.com_externalloadbalancers.yaml
  operators/lbconfig-operator/0.2.0/manifests/lbconfig-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lbconfig-operator/0.2.0/manifests/lbconfig-operator-manager-config_v1_configmap.yaml
  operators/lbconfig-operator/0.2.0/manifests/lbconfig-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.2.0/manifests/lbconfig-operator.clusterserviceversion.yaml
  operators/lbconfig-operator/0.2.0/metadata/annotations.yaml
  operators/lbconfig-operator/0.2.0/tests/scorecard/config.yaml
  operators/lbconfig-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1532 operator ecr-secret-operator (0.3.2)
  operators/ecr-secret-operator/0.3.2/manifests/ecr-secret-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ecr-secret-operator/0.3.2/manifests/ecr-secret-operator-manager-config_v1_configmap.yaml
  operators/ecr-secret-operator/0.3.2/manifests/ecr-secret-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ecr-secret-operator/0.3.2/manifests/ecr-secret-operator.clusterserviceversion.yaml
  operators/ecr-secret-operator/0.3.2/manifests/ecr-secret-sample_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.3.2/manifests/ecr-secret_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.3.2/manifests/ecr.mobb.redhat.com_secrets.yaml
  operators/ecr-secret-operator/0.3.2/metadata/annotations.yaml
  operators/ecr-secret-operator/0.3.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1539 operator [N] multicluster-global-hub-operator (0.5.0)
  operators/multicluster-global-hub-operator/0.5.0/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1540 operator [N] multicluster-global-hub-operator (0.5.0)
  operators/multicluster-global-hub-operator/0.5.0/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.5.0/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1541 operator aqua (2022.4.4)
  operators/aqua/2022.4.4/bundle.Dockerfile
  operators/aqua/2022.4.4/manifests/aqua-operator.v2022.4.4.clusterserviceversion.yaml
  operators/aqua/2022.4.4/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.4/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.4/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1542 operator kogito-operator (1.26.0)
  operators/kogito-operator/1.26.0/bundle.Dockerfile
  operators/kogito-operator/1.26.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.26.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.26.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.26.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.26.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.26.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.26.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.26.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.26.0/metadata/annotations.yaml
  operators/kogito-operator/1.26.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1545 operator [N] multicluster-global-hub-operator (0.5.0)
  operators/multicluster-global-hub-operator/0.5.0/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1547 operator hive-operator (1.2.3834-db7b77c)
  operators/hive-operator/1.2.3834-db7b77c/hive-operator.v1.2.3834-db7b77c.clusterserviceversion.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3834-db7b77c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3834-db7b77c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3834-db7b77c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1510 operator node-maintenance-operator (0.13.0)
  operators/node-maintenance-operator/0.13.0/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.13.0/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.13.0/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.13.0/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.13.0/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.13.0/metadata/annotations.yaml
  operators/node-maintenance-operator/0.13.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1549 operator apicast-community-operator (0.5.1)
  operators/apicast-community-operator/0.5.1/bundle.Dockerfile
  operators/apicast-community-operator/0.5.1/manifests/apicast-operator-controller-manager-metrics-service_v1_service.yaml
  operators/apicast-community-operator/0.5.1/manifests/apicast-operator.clusterserviceversion.yaml
  operators/apicast-community-operator/0.5.1/manifests/apps.3scale.net_apicasts.yaml
  operators/apicast-community-operator/0.5.1/metadata/annotations.yaml
  operators/apicast-community-operator/0.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1550 operator apicast-community-operator (0.6.0)
  operators/apicast-community-operator/0.6.0/bundle.Dockerfile
  operators/apicast-community-operator/0.6.0/manifests/apicast-operator-controller-manager-metrics-service_v1_service.yaml
  operators/apicast-community-operator/0.6.0/manifests/apicast-operator.clusterserviceversion.yaml
  operators/apicast-community-operator/0.6.0/manifests/apps.3scale.net_apicasts.yaml
  operators/apicast-community-operator/0.6.0/metadata/annotations.yaml
  operators/apicast-community-operator/0.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1552 operator 3scale-community-operator (0.8.2)
  operators/3scale-community-operator/0.8.2/bundle.Dockerfile
  operators/3scale-community-operator/0.8.2/manifests/3scale-operator.clusterserviceversion.yaml
  operators/3scale-community-operator/0.8.2/manifests/apps.3scale.net_apimanagerbackups.yaml
  operators/3scale-community-operator/0.8.2/manifests/apps.3scale.net_apimanagerrestores.yaml
  operators/3scale-community-operator/0.8.2/manifests/apps.3scale.net_apimanagers.yaml
  operators/3scale-community-operator/0.8.2/manifests/capabilities.3scale.net_activedocs.yaml
  operators/3scale-community-operator/0.8.2/manifests/capabilities.3scale.net_backends.yaml
  operators/3scale-community-operator/0.8.2/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  operators/3scale-community-operator/0.8.2/manifests/capabilities.3scale.net_developeraccounts.yaml
  operators/3scale-community-operator/0.8.2/manifests/capabilities.3scale.net_developerusers.yaml
  operators/3scale-community-operator/0.8.2/manifests/capabilities.3scale.net_openapis.yaml
  operators/3scale-community-operator/0.8.2/manifests/capabilities.3scale.net_products.yaml
  operators/3scale-community-operator/0.8.2/manifests/capabilities.3scale.net_tenants.yaml
  operators/3scale-community-operator/0.8.2/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/3scale-community-operator/0.8.2/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  operators/3scale-community-operator/0.8.2/metadata/annotations.yaml
  operators/3scale-community-operator/0.8.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1544 operator kube-green (0.4.0)
  operators/kube-green/0.4.0/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.4.0/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.4.0/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.4.0/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.4.0/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.4.0/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.4.0/metadata/annotations.yaml
  operators/kube-green/0.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1553 operator 3scale-community-operator (0.9.0)
  operators/3scale-community-operator/0.9.0/bundle.Dockerfile
  operators/3scale-community-operator/0.9.0/manifests/3scale-operator.clusterserviceversion.yaml
  operators/3scale-community-operator/0.9.0/manifests/apps.3scale.net_apimanagerbackups.yaml
  operators/3scale-community-operator/0.9.0/manifests/apps.3scale.net_apimanagerrestores.yaml
  operators/3scale-community-operator/0.9.0/manifests/apps.3scale.net_apimanagers.yaml
  operators/3scale-community-operator/0.9.0/manifests/capabilities.3scale.net_activedocs.yaml
  operators/3scale-community-operator/0.9.0/manifests/capabilities.3scale.net_backends.yaml
  operators/3scale-community-operator/0.9.0/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  operators/3scale-community-operator/0.9.0/manifests/capabilities.3scale.net_developeraccounts.yaml
  operators/3scale-community-operator/0.9.0/manifests/capabilities.3scale.net_developerusers.yaml
  operators/3scale-community-operator/0.9.0/manifests/capabilities.3scale.net_openapis.yaml
  operators/3scale-community-operator/0.9.0/manifests/capabilities.3scale.net_products.yaml
  operators/3scale-community-operator/0.9.0/manifests/capabilities.3scale.net_tenants.yaml
  operators/3scale-community-operator/0.9.0/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/3scale-community-operator/0.9.0/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  operators/3scale-community-operator/0.9.0/metadata/annotations.yaml
  operators/3scale-community-operator/0.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1551 operator [N] [CI] limitador-operator (0.3.0)
  operators/limitador-operator/0.3.0/bundle.Dockerfile
  operators/limitador-operator/0.3.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.3.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.3.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.3.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.3.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.3.0/metadata/annotations.yaml
  operators/limitador-operator/0.3.0/tests/scorecard/config.yaml
  operators/limitador-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1530 operator [O] seldon-operator (1.14.1)
  operators/seldon-operator/1.14.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, allow/serious-changes-to-existing, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1555 operator postgresql (5.1.3)
  operators/postgresql/5.1.3/Dockerfile
  operators/postgresql/5.1.3/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.1.3/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.1.3/metadata/annotations.yaml
  operators/postgresql/5.1.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1556 operator [N] multicluster-global-hub-operator (0.5.0)
  operators/multicluster-global-hub-operator/0.5.0/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1558 operator opentelemetry-operator (0.58.0)
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.58.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.58.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1511 operator [N] [CI] self-node-remediation (0.4.0)
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.4.0/metadata/annotations.yaml
  operators/self-node-remediation/0.4.0/tests/scorecard/config.yaml
  operators/self-node-remediation/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1560 operator [CI] self-node-remediation
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1512 operator gitlab-operator-kubernetes (0.10.2)
  operators/gitlab-operator-kubernetes/0.10.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.10.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.10.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1562 operator dynatrace-operator (0.8.1)
  operators/dynatrace-operator/0.8.1/Dockerfile
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.8.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1559 operator [CI] node-healthcheck-operator
  operators/node-healthcheck-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1557 operator [CI] node-healthcheck-operator (0.3.0)
  operators/node-healthcheck-operator/0.3.0/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.3.0/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.3.0/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.3.0/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.3.0/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.3.0/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.3.0/tests/scorecard/config.yaml
  operators/node-healthcheck-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1561 operator beegfs-csi-driver-operator (1.3.0)
  operators/beegfs-csi-driver-operator/1.3.0/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.3.0/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.3.0/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.3.0/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.3.0/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.3.0/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1563 operator mongodb-atlas-kubernetes (1.2.0)
  operators/mongodb-atlas-kubernetes/1.2.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1564 operator [N] [CI] rabbitmq-cluster-operator (1.14.0)
  operators/rabbitmq-cluster-operator/1.14.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/1.14.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/1.14.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/1.14.0/metadata/annotations.yaml
  operators/rabbitmq-cluster-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1566 operator patch-operator (0.1.8)
  operators/patch-operator/0.1.8/Dockerfile
  operators/patch-operator/0.1.8/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.8/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.8/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.8/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.8/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/patch-operator/0.1.8/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patch-operator/0.1.8/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.8/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.8/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.8/metadata/annotations.yaml
  operators/patch-operator/0.1.8/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1567 operator vault-config-operator (0.6.3)
  operators/vault-config-operator/0.6.3/Dockerfile
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.6.3/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.6.3/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.6.3/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.6.3/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.6.3/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.6.3/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.6.3/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.6.3/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.6.3/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.6.3/metadata/annotations.yaml
  operators/vault-config-operator/0.6.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1565 operator [N] [CI] rabbitmq-messaging-topology-operator (1.8.0)
  operators/rabbitmq-messaging-topology-operator/1.8.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/metadata/annotations.yaml
  operators/rabbitmq-messaging-topology-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1569 operator patterns-operator (0.0.5)
  operators/patterns-operator/0.0.5/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.5/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.5/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.5/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.5/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.5/metadata/annotations.yaml
  operators/patterns-operator/0.0.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1568 operator [O] node-healthcheck-operator (0.3.0)
  operators/node-healthcheck-operator/0.3.0/manifests/node-healthcheck-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1570 operator hive-operator (1.2.3843-a1ae1ab)
  operators/hive-operator/1.2.3843-a1ae1ab/hive-operator.v1.2.3843-a1ae1ab.clusterserviceversion.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1572 operator dynatrace-operator (0.8.2)
  operators/dynatrace-operator/0.8.2/Dockerfile
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.8.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1575 operator project-quay (3.7.7)
  operators/project-quay/3.7.7/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.7/quayecosystems.crd.yaml
  operators/project-quay/3.7.7/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1574 operator [N] [CI] rabbitmq-single-active-consumer-operator (0.2.2)
  operators/rabbitmq-single-active-consumer-operator/0.2.2/bundle.Dockerfile
  operators/rabbitmq-single-active-consumer-operator/0.2.2/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-single-active-consumer-operator/0.2.2/manifests/rabbitmq.com_superstreamconsumers.yaml
  operators/rabbitmq-single-active-consumer-operator/0.2.2/manifests/rabbitmq.config-map.yaml
  operators/rabbitmq-single-active-consumer-operator/0.2.2/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-single-active-consumer-operator/0.2.2/metadata/annotations.yaml
  operators/rabbitmq-single-active-consumer-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11
