Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-09, with the labels that each got.

#1580 operator project-quay (3.8.0-rc.1)
  operators/project-quay/3.8.0-rc.1/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.1/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.1/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1582 operator kogito-operator (1.27.0)
  operators/kogito-operator/1.27.0/Dockerfile
  operators/kogito-operator/1.27.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.27.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.27.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.27.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.27.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.27.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.27.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.27.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.27.0/metadata/annotations.yaml
  operators/kogito-operator/1.27.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1588 operator logging-operator (0.4.0)
  operators/logging-operator/0.4.0/manifests/elasticsearches.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.4.0/manifests/fluentds.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.4.0/manifests/indexlifecycles.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.4.0/manifests/indextemplates.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.4.0/manifests/kibanas.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.4.0/manifests/logging-operator.v0.4.0.clusterserviceversion.yaml
  operators/logging-operator/0.4.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1589 operator project-quay (3.8.0-rc.2)
  operators/project-quay/3.8.0-rc.2/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.2/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.2/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1590 operator patch-operator (0.1.9)
  operators/patch-operator/0.1.9/Dockerfile
  operators/patch-operator/0.1.9/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.9/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.9/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.9/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.9/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/patch-operator/0.1.9/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patch-operator/0.1.9/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.9/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.9/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.9/metadata/annotations.yaml
  operators/patch-operator/0.1.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1592 operator hazelcast-platform-operator (5.4.0)
  operators/hazelcast-platform-operator/5.4.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.4.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.4.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.4.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.4.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.4.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.4.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1581 operator [CI] authorino-operator (0.4.0)
  operators/authorino-operator/0.4.0/bundle.Dockerfile
  operators/authorino-operator/0.4.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.4.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.4.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.4.0/metadata/annotations.yaml
  operators/authorino-operator/0.4.0/tests/scorecard/config.yaml
  operators/authorino-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1595 operator authorino-operator (0.4.1)
  operators/authorino-operator/0.4.1/bundle.Dockerfile
  operators/authorino-operator/0.4.1/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.1/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.1/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.1/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.1/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.1/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.4.1/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.4.1/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.1/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.4.1/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.1/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.4.1/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.4.1/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.4.1/metadata/annotations.yaml
  operators/authorino-operator/0.4.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1599 operator kiali (1.56.0)
  operators/kiali/1.56.0/bundle.Dockerfile
  operators/kiali/1.56.0/manifests/kiali.crd.yaml
  operators/kiali/1.56.0/manifests/kiali.v1.56.0.clusterserviceversion.yaml
  operators/kiali/1.56.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1600 operator hive-operator (1.2.3859-18fe7fc)
  operators/hive-operator/1.2.3859-18fe7fc/hive-operator.v1.2.3859-18fe7fc.clusterserviceversion.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1577 operator [CI] tackle-operator (2.1.0)
  operators/tackle-operator/2.1.0/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.0/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.0/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.0/metadata/annotations.yaml
  operators/tackle-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1602 operator forklift-operator (2.3.2)
  operators/forklift-operator/2.3.2/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.3.2/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.3.2/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.3.2/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.3.2/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.3.2/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.3.2/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.3.2/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.3.2/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.3.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1601 operator vault-config-operator (0.6.4)
  operators/vault-config-operator/0.6.4/Dockerfile
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.6.4/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.6.4/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.6.4/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.6.4/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.6.4/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.6.4/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.6.4/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.6.4/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.6.4/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.6.4/metadata/annotations.yaml
  operators/vault-config-operator/0.6.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1596 operator opentelemetry-operator (0.59.0)
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.59.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.59.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1604 operator strimzi-kafka-operator (0.31.0)
  operators/strimzi-kafka-operator/0.31.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/strimzi-cluster-operator.v0.31.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.31.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.31.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.31.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.31.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.31.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1608 operator portworx-essentials (1.9.1)
  operators/portworx-essentials/1.9.1/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.9.1/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.9.1/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1609 operator gitlab-runner-operator (1.10.0)
  operators/gitlab-runner-operator/1.10.0/bundle.Dockerfile
  operators/gitlab-runner-operator/1.10.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.10.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.10.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1610 operator aerospike-kubernetes-operator (2.2.0)
  operators/aerospike-kubernetes-operator/2.2.0/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.2.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1606 operator bookkeeper-operator (0.12.2)
  operators/bookkeeper-operator/0.12.2/bundle.Dockerfile
  operators/bookkeeper-operator/0.12.2/manifests/bookkeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/bookkeeper-operator/0.12.2/manifests/bookkeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bookkeeper-operator/0.12.2/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.12.2/manifests/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  operators/bookkeeper-operator/0.12.2/metadata/annotations.yaml
  operators/bookkeeper-operator/0.12.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1605 operator pulsar-operator (0.12.2)
  operators/pulsar-operator/0.12.2/bundle.Dockerfile
  operators/pulsar-operator/0.12.2/manifests/pulsar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar-operator-pulsar-broker_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsarconnections.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsarproxies.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsartenants.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsartopics.yaml
  operators/pulsar-operator/0.12.2/metadata/annotations.yaml
  operators/pulsar-operator/0.12.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1611 operator [CI] windup-operator
  operators/windup-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#1612 operator postgresql (5.2.0)
  operators/postgresql/5.2.0/Dockerfile
  operators/postgresql/5.2.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.2.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.2.0/metadata/annotations.yaml
  operators/postgresql/5.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1614 operator lbconfig-operator (0.4.0)
  operators/lbconfig-operator/0.4.0/manifests/lb.lbconfig.carlosedp.com_externalloadbalancers.yaml
  operators/lbconfig-operator/0.4.0/manifests/lbconfig-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lbconfig-operator/0.4.0/manifests/lbconfig-operator-manager-config_v1_configmap.yaml
  operators/lbconfig-operator/0.4.0/manifests/lbconfig-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.4.0/manifests/lbconfig-operator.clusterserviceversion.yaml
  operators/lbconfig-operator/0.4.0/metadata/annotations.yaml
  operators/lbconfig-operator/0.4.0/tests/scorecard/config.yaml
  operators/lbconfig-operator/0.4.0/tests/scorecard/kuttl/create-externalloadbalancer/01-assert.yaml
  operators/lbconfig-operator/0.4.0/tests/scorecard/kuttl/create-externalloadbalancer/10-create-elb.yaml
  operators/lbconfig-operator/0.4.0/tests/scorecard/kuttl/create-externalloadbalancer/11-assert.yaml
  operators/lbconfig-operator/0.4.0/tests/scorecard/kuttl/kuttl-test.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1615 operator external-secrets-operator (0.6.0-rc1)
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.6.0-rc1/metadata/annotations.yaml
  operators/external-secrets-operator/0.6.0-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1616 operator microcks (1.6.0)
  operators/microcks/1.6.0/microcks-operator.v1.6.0.clusterserviceversion.yaml
  operators/microcks/1.6.0/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1613 operator [N] [CI] ossmconsole (0.1.0)
  operators/ossmconsole/0.1.0/bundle.Dockerfile
  operators/ossmconsole/0.1.0/manifests/ossmconsole.clusterserviceversion.yaml
  operators/ossmconsole/0.1.0/manifests/ossmconsole.crd.yaml
  operators/ossmconsole/0.1.0/metadata/annotations.yaml
  operators/ossmconsole/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1622 operator gitops-primer (0.0.11)
  operators/gitops-primer/0.0.11/manifests/gitops-primer-controller-manager-metrics-service_v1_service.yaml
  operators/gitops-primer/0.0.11/manifests/gitops-primer-manager-config_v1_configmap.yaml
  operators/gitops-primer/0.0.11/manifests/gitops-primer-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitops-primer/0.0.11/manifests/gitops-primer-webhook-service_v1_service.yaml
  operators/gitops-primer/0.0.11/manifests/gitops-primer.clusterserviceversion.yaml
  operators/gitops-primer/0.0.11/manifests/primer.gitops.io_exports.yaml
  operators/gitops-primer/0.0.11/metadata/annotations.yaml
  operators/gitops-primer/0.0.11/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1621 operator project-quay (3.8.0-rc.3)
  operators/project-quay/3.8.0-rc.3/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.3/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.3/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1620 operator hive-operator (1.2.3865-3c5dc29)
  operators/hive-operator/1.2.3865-3c5dc29/hive-operator.v1.2.3865-3c5dc29.clusterserviceversion.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1641 operator zookeeper-operator (0.12.2)
  operators/zookeeper-operator/0.12.2/bundle.Dockerfile
  operators/zookeeper-operator/0.12.2/manifests/zookeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/zookeeper-operator/0.12.2/manifests/zookeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/zookeeper-operator/0.12.2/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.12.2/manifests/zookeeper.streamnative.io_zookeeperclusters.yaml
  operators/zookeeper-operator/0.12.2/metadata/annotations.yaml
  operators/zookeeper-operator/0.12.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1644 operator project-quay (3.7.8)
  operators/project-quay/3.7.8/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.8/quayecosystems.crd.yaml
  operators/project-quay/3.7.8/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1464 operator deployment-validation-operator (0.3.0)
  operators/deployment-validation-operator/0.3.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.3.0/manifests/deploymentvalidationoperator.0.3.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.3.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1652 operator yaks (0.11.0)
  operators/yaks/0.11.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.11.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.11.0/yaks.v0.11.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1619 operator [N] [CI] multi-nic-cni-operator (1.0.2)
  operators/multi-nic-cni-operator/1.0.2/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.0.2/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.0.2/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.0.2/tests/scorecard/config.yaml
  operators/multi-nic-cni-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1645 operator verticadb-operator (1.7.0)
  operators/verticadb-operator/1.7.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.7.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.7.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.7.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.7.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.7.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.7.0/metadata/annotations.yaml
  operators/verticadb-operator/1.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1656 operator keycloak-operator (20.0.0-alpha.6)
  operators/keycloak-operator/20.0.0-alpha.6/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.6/manifests/keycloak-operator.v20.0.0-alpha.6.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.6/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.6/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.6/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1659 operator mongodb-atlas-kubernetes (1.3.0)
  operators/mongodb-atlas-kubernetes/1.3.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1660 operator falcon-operator (0.5.5)
  operators/falcon-operator/0.5.5/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.5/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.5/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.5/metadata/annotations.yaml
  operators/falcon-operator/0.5.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1661 operator [O] deployment-validation-operator (0.3.0)
  operators/deployment-validation-operator/0.3.0/manifests/deploymentvalidationoperator.0.3.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1662 operator aqua (6.5.7)
  operators/aqua/6.5.7/bundle.Dockerfile
  operators/aqua/6.5.7/manifests/aqua-operator.v6.5.7.clusterserviceversion.yaml
  operators/aqua/6.5.7/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.7/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.7/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.7/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1666 operator hive-operator (1.2.3875-367ea2f)
  operators/hive-operator/1.2.3875-367ea2f/hive-operator.v1.2.3875-367ea2f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3875-367ea2f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3875-367ea2f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3875-367ea2f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1667 operator [CI] pulp-operator (0.14.0)
  operators/pulp-operator/0.14.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.14.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.14.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.14.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.14.0/manifests/pulp-operator.v0.14.0.clusterserviceversion.yaml
  operators/pulp-operator/0.14.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.14.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.14.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.14.0/metadata/annotations.yaml
  operators/pulp-operator/0.14.0/tests/scorecard/config.yaml
  operators/pulp-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1669 operator vault-config-operator (0.6.5)
  operators/vault-config-operator/0.6.5/Dockerfile
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.6.5/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.6.5/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.6.5/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.6.5/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.6.5/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.6.5/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.6.5/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.6.5/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.6.5/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.6.5/metadata/annotations.yaml
  operators/vault-config-operator/0.6.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1674 operator strimzi-kafka-operator (0.31.1)
  operators/strimzi-kafka-operator/0.31.1/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.1/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.1/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.1/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.1/strimzi-cluster-operator.v0.31.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.31.1/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.31.1/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.31.1/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.31.1/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.31.1/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1678 operator multicluster-global-hub-operator (0.6.0-dev)
  operators/multicluster-global-hub-operator/0.6.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.6.0-dev/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/multicluster-global-hub-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1679 operator rabbitmq-cluster-operator (2.0.0)
  operators/rabbitmq-cluster-operator/2.0.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.0.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.0.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1680 operator jaeger (1.38.0)
  operators/jaeger/1.38.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.38.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.38.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.38.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.38.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.38.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.38.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.38.0/metadata/annotations.yaml
  operators/jaeger/1.38.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1682 operator project-quay (3.8.0-rc.4)
  operators/project-quay/3.8.0-rc.4/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.4/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.4/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1685 operator hive-operator (1.2.3883-849ebe8)
  operators/hive-operator/1.2.3883-849ebe8/hive-operator.v1.2.3883-849ebe8.clusterserviceversion.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3883-849ebe8/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3883-849ebe8/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3883-849ebe8/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1688 operator dynatrace-operator (0.9.0)
  operators/dynatrace-operator/0.9.0/Dockerfile
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.9.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1689 operator aerospike-kubernetes-operator (2.2.1)
  operators/aerospike-kubernetes-operator/2.2.1/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.2.1/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1692 operator cass-operator-community (1.13.0)
  operators/cass-operator-community/1.13.0/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.13.0/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.13.0/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.13.0/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.13.0/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.13.0/metadata/annotations.yaml
  operators/cass-operator-community/1.13.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1693 operator dell-csi-operator (1.9.0)
  operators/dell-csi-operator/1.9.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/dell-csi-operator.v1.9.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1690 operator [O] deployment-validation-operator (0.3.0)
  operators/deployment-validation-operator/0.3.0/manifests/deploymentvalidationoperator.0.3.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated-4.7, installation-validated-4.6, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11
