Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2022-11, with the labels that each got.

#1795 operator [N] nlp-server (0.8.6)
  operators/nlp-server/0.8.6/manifests/apps.johnsnowlabs.com_nlpservers.yaml
  operators/nlp-server/0.8.6/manifests/nlp-server-controller-manager-metrics-service_v1_service.yaml
  operators/nlp-server/0.8.6/manifests/nlp-server-manager-config_v1_configmap.yaml
  operators/nlp-server/0.8.6/manifests/nlp-server-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nlp-server/0.8.6/manifests/nlp-server-role-binding.yaml
  operators/nlp-server/0.8.6/manifests/nlp-server-role.yaml
  operators/nlp-server/0.8.6/manifests/nlp-server-sa.yaml
  operators/nlp-server/0.8.6/manifests/nlp-server.clusterserviceversion.yaml
  operators/nlp-server/0.8.6/metadata/annotations.yaml
  operators/nlp-server/0.8.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1805 operator project-quay (3.7.10)
  operators/project-quay/3.7.10/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.10/quayecosystems.crd.yaml
  operators/project-quay/3.7.10/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1802 operator [CI] annotationlab (4.2.0)
  operators/annotationlab/4.2.0/bundle.Dockerfile
  operators/annotationlab/4.2.0/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.2.0/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.2.0/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.2.0/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.2.0/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.2.0/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.2.0/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.2.0/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.2.0/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.2.0/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.2.0/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.2.0/metadata/annotations.yaml
  operators/annotationlab/4.2.0/tests/scorecard/config.yaml
  operators/annotationlab/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1804 operator keycloak-operator (20.0.0)
  operators/keycloak-operator/20.0.0/bundle.Dockerfile
  operators/keycloak-operator/20.0.0/manifests/keycloak-operator.v20.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1777 operator cert-manager (1.10.0-rc1)
  operators/cert-manager/1.10.0-rc1/bundle.Dockerfile
  operators/cert-manager/1.10.0-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.0-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.0-rc1/metadata/annotations.yaml
  operators/cert-manager/1.10.0-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated-4.6, installation-validated, installation-failed-4.7, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1808 operator cert-manager (1.10.0)
  operators/cert-manager/1.10.0/bundle.Dockerfile
  operators/cert-manager/1.10.0/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.0/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.0/metadata/annotations.yaml
  operators/cert-manager/1.10.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1810 operator annotationlab (4.2.1)
  operators/annotationlab/4.2.1/bundle.Dockerfile
  operators/annotationlab/4.2.1/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.2.1/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.2.1/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.2.1/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.2.1/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.2.1/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.2.1/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.2.1/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.2.1/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.2.1/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.2.1/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.2.1/metadata/annotations.yaml
  operators/annotationlab/4.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1811 operator cert-manager (1.10.1-rc1)
  operators/cert-manager/1.10.1-rc1/bundle.Dockerfile
  operators/cert-manager/1.10.1-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.1-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.1-rc1/metadata/annotations.yaml
  operators/cert-manager/1.10.1-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1816 operator [O] annotationlab (4.2.1)
  operators/annotationlab/4.2.1/manifests/annotationlab.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1814 operator jaeger (1.39.0)
  operators/jaeger/1.39.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.39.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.39.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.39.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.39.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.39.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.39.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.39.0/metadata/annotations.yaml
  operators/jaeger/1.39.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1815 operator strimzi-kafka-operator (0.32.0)
  operators/strimzi-kafka-operator/0.32.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/strimzi-cluster-operator.v0.32.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.32.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.32.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.32.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.32.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.32.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1818 operator [N] windup-operator (0.0.11)
  operators/windup-operator/0.0.11/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.11/manifests/windup.crd.yaml
  operators/windup-operator/0.0.11/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, openshift-started-4.12

#1819 operator cert-manager (1.10.1)
  operators/cert-manager/1.10.1/bundle.Dockerfile
  operators/cert-manager/1.10.1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.1/metadata/annotations.yaml
  operators/cert-manager/1.10.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1820 operator mongodb-atlas-kubernetes (1.4.1)
  operators/mongodb-atlas-kubernetes/1.4.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1823 operator hive-operator (1.2.3910-4e0f25b)
  operators/hive-operator/1.2.3910-4e0f25b/hive-operator.v1.2.3910-4e0f25b.clusterserviceversion.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1824 operator [R] pulp-operator (0.10.0 0.10.1 0.11.0 0.11.1 0.12.0 0.13.0 0.14.0 0.14.1 0.4.0 0.5.0 0.6.0 0.6.1 0.7.0 0.7.1 0.8.0 0.9.0 1.0.0-alpha.1)
  operators/pulp-operator/0.10.0/manifests/pulp-operator.v0.10.0.clusterserviceversion.yaml
  operators/pulp-operator/0.10.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.10.1/manifests/pulp-operator.v0.10.1.clusterserviceversion.yaml
  operators/pulp-operator/0.10.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.11.0/manifests/pulp-operator.v0.11.0.clusterserviceversion.yaml
  operators/pulp-operator/0.11.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.11.1/manifests/pulp-operator.v0.11.1.clusterserviceversion.yaml
  operators/pulp-operator/0.11.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.12.0/manifests/pulp-operator.v0.12.0.clusterserviceversion.yaml
  operators/pulp-operator/0.12.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.13.0/manifests/pulp-operator.v0.13.0.clusterserviceversion.yaml
  operators/pulp-operator/0.13.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.14.0/manifests/pulp-operator.v0.14.0.clusterserviceversion.yaml
  operators/pulp-operator/0.14.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.14.1/manifests/pulp-operator.v0.14.1.clusterserviceversion.yaml
  operators/pulp-operator/0.4.0/manifests/pulp-operator.v0.4.0.clusterserviceversion.yaml
  operators/pulp-operator/0.4.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator.v0.5.0.clusterserviceversion.yaml
  operators/pulp-operator/0.5.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator.v0.6.0.clusterserviceversion.yaml
  operators/pulp-operator/0.6.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator.v0.6.1.clusterserviceversion.yaml
  operators/pulp-operator/0.6.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator.v0.7.0.clusterserviceversion.yaml
  operators/pulp-operator/0.7.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.7.1/manifests/pulp-operator.v0.7.1.clusterserviceversion.yaml
  operators/pulp-operator/0.7.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator.v0.8.0.clusterserviceversion.yaml
  operators/pulp-operator/0.8.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator.v0.9.0.clusterserviceversion.yaml
  operators/pulp-operator/0.9.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.1/manifests/pulp-operator.v1.0.0-alpha.1.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1825 operator [R] prometurbo (8.7.1-beta.1)
  operators/prometurbo/8.7.1-beta.1/prometurbo-operator.v8.7.1-beta.1.clusterserviceversion.yaml
  operators/prometurbo/8.7.1-beta.1/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo/prometurbo.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, openshift-started-4.12

#1826 operator keycloak-operator (20.0.1)
  operators/keycloak-operator/20.0.1/bundle.Dockerfile
  operators/keycloak-operator/20.0.1/manifests/keycloak-operator.v20.0.1.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.1/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1828 operator patterns-operator (0.0.7)
  operators/patterns-operator/0.0.7/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.7/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.7/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.7/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.7/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.7/metadata/annotations.yaml
  operators/patterns-operator/0.0.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1829 operator kiali (1.59.0)
  operators/kiali/1.59.0/bundle.Dockerfile
  operators/kiali/1.59.0/manifests/kiali.crd.yaml
  operators/kiali/1.59.0/manifests/kiali.v1.59.0.clusterserviceversion.yaml
  operators/kiali/1.59.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1830 operator keepalived-operator (1.5.0)
  operators/keepalived-operator/1.5.0/Dockerfile
  operators/keepalived-operator/1.5.0/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/keepalived-operator/1.5.0/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  operators/keepalived-operator/1.5.0/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  operators/keepalived-operator/1.5.0/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keepalived-operator/1.5.0/manifests/keepalived-operator.clusterserviceversion.yaml
  operators/keepalived-operator/1.5.0/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  operators/keepalived-operator/1.5.0/metadata/annotations.yaml
  operators/keepalived-operator/1.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1831 operator pulp-operator (1.0.0-alpha.2)
  operators/pulp-operator/1.0.0-alpha.2/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/pulp-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/pulp-operator.1.0.0-alpha.2.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.2/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1833 operator redis-operator (0.13.0)
  operators/redis-operator/0.13.0/manifests/redis-operator.v0.13.0.clusterserviceversion.yaml
  operators/redis-operator/0.13.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.13.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.13.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1832 operator [N] [CI] kubecost (1.97.0)
  operators/kubecost/1.97.0/bundle.Dockerfile
  operators/kubecost/1.97.0/ci.yaml
  operators/kubecost/1.97.0/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost/1.97.0/manifests/kubecost-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost/1.97.0/manifests/kubecost-manager-config_v1_configmap.yaml
  operators/kubecost/1.97.0/manifests/kubecost-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost/1.97.0/manifests/kubecost.clusterserviceversion.yaml
  operators/kubecost/1.97.0/metadata/annotations.yaml
  operators/kubecost/1.97.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1827 operator [R] gitlab-operator-kubernetes (0.13.3)
  operators/gitlab-operator-kubernetes/0.13.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.13.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.13.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.13.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1835 operator kogito-operator (1.30.0)
  operators/kogito-operator/1.30.0/Dockerfile
  operators/kogito-operator/1.30.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.30.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.30.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.30.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.30.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.30.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.30.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.30.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.30.0/metadata/annotations.yaml
  operators/kogito-operator/1.30.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, openshift-started-4.12

#1840 operator camel-k (1.10.3)
  operators/camel-k/1.10.3/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/camel-k.v1.10.3.clusterserviceversion.yaml
  operators/camel-k/1.10.3/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/metadata/annotations.yaml
  operators/camel-k/1.10.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, openshift-started-4.12

#1842 Removed 'mta-operator'
  operators/mta-operator/0.0.1/Dockerfile
  operators/mta-operator/0.0.1/manifests/windup-operator.v0.0.1.clusterserviceversion.yaml
  operators/mta-operator/0.0.1/manifests/windup.crd.yaml
  operators/mta-operator/0.0.1/metadata/annotations.yaml
  operators/mta-operator/0.0.10/Dockerfile
  operators/mta-operator/0.0.10/manifests/windup-operator.v0.0.10.clusterserviceversion.yaml
  operators/mta-operator/0.0.10/manifests/windup.crd.yaml
  operators/mta-operator/0.0.10/metadata/annotations.yaml
  operators/mta-operator/0.0.2/Dockerfile
  operators/mta-operator/0.0.2/manifests/windup-operator.v0.0.2.clusterserviceversion.yaml
  operators/mta-operator/0.0.2/manifests/windup.crd.yaml
  operators/mta-operator/0.0.2/metadata/annotations.yaml
  operators/mta-operator/0.0.3/Dockerfile
  operators/mta-operator/0.0.3/manifests/windup-operator.v0.0.3.clusterserviceversion.yaml
  operators/mta-operator/0.0.3/manifests/windup.crd.yaml
  operators/mta-operator/0.0.3/metadata/annotations.yaml
  operators/mta-operator/0.0.4/Dockerfile
  operators/mta-operator/0.0.4/manifests/windup-operator.v0.0.4.clusterserviceversion.yaml
  operators/mta-operator/0.0.4/manifests/windup.crd.yaml
  operators/mta-operator/0.0.4/metadata/annotations.yaml
  operators/mta-operator/0.0.5/Dockerfile
  operators/mta-operator/0.0.5/manifests/windup-operator.v0.0.5.clusterserviceversion.yaml
  operators/mta-operator/0.0.5/manifests/windup.crd.yaml
  operators/mta-operator/0.0.5/metadata/annotations.yaml
  operators/mta-operator/0.0.6/Dockerfile
  operators/mta-operator/0.0.6/manifests/windup-operator.v0.0.6.clusterserviceversion.yaml
  operators/mta-operator/0.0.6/manifests/windup.crd.yaml
  operators/mta-operator/0.0.6/metadata/annotations.yaml
  operators/mta-operator/0.0.7/Dockerfile
  operators/mta-operator/0.0.7/manifests/windup-operator.v0.0.7.clusterserviceversion.yaml
  operators/mta-operator/0.0.7/manifests/windup.crd.yaml
  operators/mta-operator/0.0.7/metadata/annotations.yaml
  operators/mta-operator/0.0.8/Dockerfile
  operators/mta-operator/0.0.8/manifests/windup-operator.v0.0.8.clusterserviceversion.yaml
  operators/mta-operator/0.0.8/manifests/windup.crd.yaml
  operators/mta-operator/0.0.8/metadata/annotations.yaml
  operators/mta-operator/0.0.9/Dockerfile
  operators/mta-operator/0.0.9/manifests/windup-operator.v0.0.9.clusterserviceversion.yaml
  operators/mta-operator/0.0.9/manifests/windup.crd.yaml
  operators/mta-operator/0.0.9/metadata/annotations.yaml
  operators/mta-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, openshift-started-4.11, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1839 operator [N] [CI] cluster-aas-operator (0.0.1)
  operators/cluster-aas-operator/0.0.1/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.1/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.0.1/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.0.1/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.1/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.0.1/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.0.1/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.0.1/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.0.1/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.0.1/metadata/annotations.yaml
  operators/cluster-aas-operator/0.0.1/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.0.1/tests/scorecard/config.yaml
  operators/cluster-aas-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1841 operator victoriametrics-operator (0.29.1)
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.29.1/victoriametrics-operator.0.29.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1845 operator [R] pulp-operator (0.10.0 0.10.1 0.5.0 0.6.0 0.6.1 0.7.0 0.7.1 0.8.0 0.9.0)
  operators/pulp-operator/0.10.0/manifests/pulp-operator.v0.10.0.clusterserviceversion.yaml
  operators/pulp-operator/0.10.1/manifests/pulp-operator.v0.10.1.clusterserviceversion.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator.v0.5.0.clusterserviceversion.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator.v0.6.0.clusterserviceversion.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator.v0.6.1.clusterserviceversion.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator.v0.7.0.clusterserviceversion.yaml
  operators/pulp-operator/0.7.1/manifests/pulp-operator.v0.7.1.clusterserviceversion.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator.v0.8.0.clusterserviceversion.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator.v0.9.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1847 operator hive-operator (1.2.3933-3d7df9a)
  operators/hive-operator/1.2.3933-3d7df9a/hive-operator.v1.2.3933-3d7df9a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1848 operator gitlab-operator-kubernetes (0.13.4)
  operators/gitlab-operator-kubernetes/0.13.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.13.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.13.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.13.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1851 operator istio-workspace-operator (0.5.3)
  operators/istio-workspace-operator/0.5.3/manifests/istio-workspace-operator.clusterserviceversion.yaml
  operators/istio-workspace-operator/0.5.3/manifests/workspace.maistra.io_sessions.yaml
  operators/istio-workspace-operator/0.5.3/metadata/annotations.yaml
  operators/istio-workspace-operator/0.5.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1853 operator [CI] ack-kinesis-controller
  operators/ack-kinesis-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1834 operator opentelemetry-operator (0.62.1)
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.62.1/metadata/annotations.yaml
  operators/opentelemetry-operator/0.62.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1854 operator pulp-operator (1.0.0-alpha.3)
  operators/pulp-operator/1.0.0-alpha.3/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/pulp-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/pulp-operator.1.0.0-alpha.3.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.3/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1857 operator [CI] tackle-operator (2.1.2)
  operators/tackle-operator/2.1.2/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.2/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.2/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.2/metadata/annotations.yaml
  operators/tackle-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, openshift-started-4.12

#1858 operator verticadb-operator (1.8.0)
  operators/verticadb-operator/1.8.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.8.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.8.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.8.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.8.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.8.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.8.0/metadata/annotations.yaml
  operators/verticadb-operator/1.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1861 operator keepalived-operator (1.5.1)
  operators/keepalived-operator/1.5.1/Dockerfile
  operators/keepalived-operator/1.5.1/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/keepalived-operator/1.5.1/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  operators/keepalived-operator/1.5.1/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  operators/keepalived-operator/1.5.1/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keepalived-operator/1.5.1/manifests/keepalived-operator.clusterserviceversion.yaml
  operators/keepalived-operator/1.5.1/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  operators/keepalived-operator/1.5.1/metadata/annotations.yaml
  operators/keepalived-operator/1.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1864 operator hive-operator (1.2.3941-ef13b76)
  operators/hive-operator/1.2.3941-ef13b76/hive-operator.v1.2.3941-ef13b76.clusterserviceversion.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3941-ef13b76/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3941-ef13b76/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3941-ef13b76/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1868 operator [O] annotationlab (4.2.1)
  operators/annotationlab/4.2.1/manifests/annotationlab.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1865 operator keepalived-operator (1.5.2)
  operators/keepalived-operator/1.5.2/Dockerfile
  operators/keepalived-operator/1.5.2/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/keepalived-operator/1.5.2/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  operators/keepalived-operator/1.5.2/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  operators/keepalived-operator/1.5.2/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keepalived-operator/1.5.2/manifests/keepalived-operator.clusterserviceversion.yaml
  operators/keepalived-operator/1.5.2/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  operators/keepalived-operator/1.5.2/metadata/annotations.yaml
  operators/keepalived-operator/1.5.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1870 operator gitlab-operator-kubernetes (0.14.0)
  operators/gitlab-operator-kubernetes/0.14.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.14.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.14.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.14.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.14.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.14.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.14.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1872 operator hazelcast-platform-operator (5.5.0)
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.5.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1873 operator [R] flink-kubernetes-operator (1.0.1 1.1.0 1.2.0)
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1874 operator annotationlab (4.3.0)
  operators/annotationlab/4.3.0/bundle.Dockerfile
  operators/annotationlab/4.3.0/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.3.0/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.3.0/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.3.0/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.3.0/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.3.0/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.3.0/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.3.0/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.3.0/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.3.0/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.3.0/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.3.0/metadata/annotations.yaml
  operators/annotationlab/4.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1875 operator [O] annotationlab (4.3.0)
  operators/annotationlab/4.3.0/manifests/annotationlab.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1877 operator cluster-aas-operator (0.0.2)
  operators/cluster-aas-operator/0.0.2/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.0.2/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.0.2/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.0.2/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.0.2/metadata/annotations.yaml
  operators/cluster-aas-operator/0.0.2/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#1881 operator flux (0.37.0)
  operators/flux/0.37.0/manifests/alert.crd.yaml
  operators/flux/0.37.0/manifests/bucket.crd.yaml
  operators/flux/0.37.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.37.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.37.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.37.0/manifests/flux.v0.37.0.clusterserviceversion.yaml
  operators/flux/0.37.0/manifests/gitrepository.crd.yaml
  operators/flux/0.37.0/manifests/helmchart.crd.yaml
  operators/flux/0.37.0/manifests/helmrelease.crd.yaml
  operators/flux/0.37.0/manifests/helmrepository.crd.yaml
  operators/flux/0.37.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.37.0/manifests/imagerepository.crd.yaml
  operators/flux/0.37.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.37.0/manifests/kustomization.crd.yaml
  operators/flux/0.37.0/manifests/notification-controller.service.yaml
  operators/flux/0.37.0/manifests/ocirepository.crd.yaml
  operators/flux/0.37.0/manifests/provider.crd.yaml
  operators/flux/0.37.0/manifests/receiver.crd.yaml
  operators/flux/0.37.0/manifests/source-controller.service.yaml
  operators/flux/0.37.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.37.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1879 operator microcks (1.6.1)
  operators/microcks/1.6.1/microcks-operator.v1.6.1.clusterserviceversion.yaml
  operators/microcks/1.6.1/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, openshift-started-4.8, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1883 operator cluster-aas-operator (0.0.3)
  operators/cluster-aas-operator/0.0.3/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.0.3/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.0.3/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.0.3/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.0.3/metadata/annotations.yaml
  operators/cluster-aas-operator/0.0.3/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1884 operator rabbitmq-messaging-topology-operator (1.10.0)
  operators/rabbitmq-messaging-topology-operator/1.10.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1882 operator [N] [CI] eclipse-amlen-operator (0.0.1)
  operators/eclipse-amlen-operator/0.0.1/bundle.Dockerfile
  operators/eclipse-amlen-operator/0.0.1/manifests/amlen-controller-manager-metrics-service_v1_service.yaml
  operators/eclipse-amlen-operator/0.0.1/manifests/amlen-manager-config_v1_configmap.yaml
  operators/eclipse-amlen-operator/0.0.1/manifests/amlen-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eclipse-amlen-operator/0.0.1/manifests/eclipse-amlen-operator.clusterserviceversion.yaml
  operators/eclipse-amlen-operator/0.0.1/manifests/eclipse.org_amlens.yaml
  operators/eclipse-amlen-operator/0.0.1/metadata/annotations.yaml
  operators/eclipse-amlen-operator/0.0.1/tests/scorecard/config.yaml
  operators/eclipse-amlen-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1862 operator eginnovations-operator (0.0.3)
  operators/eginnovations-operator/0.0.3/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.3/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.3/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.3/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.3/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.3/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.3/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1888 operator hive-operator (1.2.3957-a24b27f)
  operators/hive-operator/1.2.3957-a24b27f/hive-operator.v1.2.3957-a24b27f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3957-a24b27f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3957-a24b27f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3957-a24b27f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1889 operator vault-config-operator (0.8.2)
  operators/vault-config-operator/0.8.2/Dockerfile
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.2/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.2/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.2/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.2/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.2/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.2/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.2/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.2/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.2/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.2/metadata/annotations.yaml
  operators/vault-config-operator/0.8.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1890 operator pulp-operator (1.0.0-alpha.4)
  operators/pulp-operator/1.0.0-alpha.4/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/pulp-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/pulp-operator.1.0.0-alpha.4.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.4/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, openshift-started-4.12

#1892 operator keepalived-operator (1.5.3)
  operators/keepalived-operator/1.5.3/Dockerfile
  operators/keepalived-operator/1.5.3/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/keepalived-operator/1.5.3/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  operators/keepalived-operator/1.5.3/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  operators/keepalived-operator/1.5.3/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keepalived-operator/1.5.3/manifests/keepalived-operator.clusterserviceversion.yaml
  operators/keepalived-operator/1.5.3/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  operators/keepalived-operator/1.5.3/metadata/annotations.yaml
  operators/keepalived-operator/1.5.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1893 Enable v4.12 as cleaned out index
  ci/pipeline-config-ocp.yaml
Labels: allow/ci-changes

#1894 operator project-quay (3.8.0-rc.7)
  operators/project-quay/3.8.0-rc.7/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.7/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.7/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1866 operator [CI] forklift-operator (2.3.4)
  operators/forklift-operator/2.3.4/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.3.4/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.3.4/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.3.4/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.3.4/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.3.4/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.3.4/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.3.4/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.3.4/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.3.4/metadata/annotations.yaml
  operators/forklift-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1897 operator external-secrets-operator (0.7.0-rc1)
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.7.0-rc1/metadata/annotations.yaml
  operators/external-secrets-operator/0.7.0-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1898 operator opentelemetry-operator (0.66.0)
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.66.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.66.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1886 operator kogito-operator (1.31.0)
  operators/kogito-operator/1.31.0/Dockerfile
  operators/kogito-operator/1.31.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.31.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.31.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.31.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.31.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.31.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.31.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.31.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.31.0/metadata/annotations.yaml
  operators/kogito-operator/1.31.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1860 operator awx-operator (1.0.0)
  operators/awx-operator/1.0.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.0.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.0.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.0.0/manifests/awx-operator.v1.0.0.clusterserviceversion.yaml
  operators/awx-operator/1.0.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.0.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.0.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.0.0/metadata/annotations.yaml
  operators/awx-operator/1.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1901 operator kiali (1.60.0)
  operators/kiali/1.60.0/bundle.Dockerfile
  operators/kiali/1.60.0/manifests/kiali.crd.yaml
  operators/kiali/1.60.0/manifests/kiali.v1.60.0.clusterserviceversion.yaml
  operators/kiali/1.60.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1903 operator koku-metrics-operator (1.1.9)
  operators/koku-metrics-operator/1.1.9/Dockerfile
  operators/koku-metrics-operator/1.1.9/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/1.1.9/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/1.1.9/metadata/annotations.yaml
  operators/koku-metrics-operator/1.1.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1900 operator [N] [CI] gitwebhook-operator (0.1.0)
  operators/gitwebhook-operator/0.1.0/Dockerfile
  operators/gitwebhook-operator/0.1.0/manifests/gitwebhook-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/gitwebhook-operator/0.1.0/manifests/gitwebhook-operator-controller-manager-metrics-service_v1_service.yaml
  operators/gitwebhook-operator/0.1.0/manifests/gitwebhook-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitwebhook-operator/0.1.0/manifests/gitwebhook-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitwebhook-operator/0.1.0/manifests/gitwebhook-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitwebhook-operator/0.1.0/manifests/gitwebhook-operator-webhook-service_v1_service.yaml
  operators/gitwebhook-operator/0.1.0/manifests/gitwebhook-operator.clusterserviceversion.yaml
  operators/gitwebhook-operator/0.1.0/manifests/redhatcop.redhat.io_gitwebhooks.yaml
  operators/gitwebhook-operator/0.1.0/metadata/annotations.yaml
  operators/gitwebhook-operator/0.1.0/tests/scorecard/config.yaml
  operators/gitwebhook-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12
