Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-07, with the labels that each got.

#2885 operator kepler-operator (0.5.0)
  operators/kepler-operator/0.5.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.5.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.5.0/manifests/kepler-operator.v0.5.0.clusterserviceversion.yaml
  operators/kepler-operator/0.5.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.5.0/metadata/annotations.yaml
  operators/kepler-operator/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2887 operator vault-config-operator (0.8.16)
  operators/vault-config-operator/0.8.16/Dockerfile
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.16/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.16/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.16/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.16/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.16/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.16/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.16/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.16/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.16/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.16/metadata/annotations.yaml
  operators/vault-config-operator/0.8.16/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2880 Delete operators/airflow-hybrid-operator directory
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-create-user-job_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-migrate-database-job_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-pod-launcher-role_Role.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-pod-launcher-rolebinding_RoleBinding.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-pod-log-reader-role_Role.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-pod-log-reader-rolebinding_RoleBinding.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-postgresql_Role.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-postgresql_RoleBinding.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-postgresql_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-redis_Role.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-redis_RoleBinding.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-redis_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-scc-rolebinding_RoleBinding.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-scheduler_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-statsd_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-triggerer_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-webserver_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-worker_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-hybrid-operator-controller-manager-metrics-service_v1_service.yaml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-hybrid-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-hybrid-operator.clusterserviceversion.yaml
  operators/airflow-hybrid-operator/0.2.5/manifests/workflow.apache.org_airflows.yaml
  operators/airflow-hybrid-operator/0.2.5/metadata/annotations.yaml
  operators/airflow-hybrid-operator/0.2.5/tests/scorecard/config.yaml
  operators/airflow-hybrid-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2881 operator dell-csm-operator (1.2.0)
  operators/dell-csm-operator/1.2.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.2.0/manifests/dell-csm-operator.v1.2.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.2.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2893 operator cluster-aas-operator (0.1.2)
  operators/cluster-aas-operator/0.1.2/manifests/argo_cd_cluser_rb.yaml
  operators/cluster-aas-operator/0.1.2/manifests/argo_cd_cluster_role.yaml
  operators/cluster-aas-operator/0.1.2/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.2/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.1.2/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.1.2/manifests/cluster-aas-operator-repo-bridge.yaml
  operators/cluster-aas-operator/0.1.2/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.2/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.1.2/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.1.2/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.1.2/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.1.2/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.1.2/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.1.2/manifests/clustertemplate.openshift.io_clustertemplatesetup.yaml
  operators/cluster-aas-operator/0.1.2/manifests/clustertemplate.openshift.io_config.yaml
  operators/cluster-aas-operator/0.1.2/metadata/annotations.yaml
  operators/cluster-aas-operator/0.1.2/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.1.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2894 operator gitlab-operator-kubernetes (0.21.1)
  operators/gitlab-operator-kubernetes/0.21.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.21.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.21.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.21.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.21.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2889 operator dell-csi-operator (1.12.0)
  operators/dell-csi-operator/1.12.0/manifests/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.12.0/manifests/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.12.0/manifests/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.12.0/manifests/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.12.0/manifests/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.12.0/manifests/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.12.0/manifests/dell-csi-operator.v1.12.0.clusterserviceversion.yaml
  operators/dell-csi-operator/1.12.0/metadata/annotations.yaml
  operators/dell-csi-operator/1.12.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2892 operator [O] multicluster-global-hub-operator (0.7.0-dev)
  operators/multicluster-global-hub-operator/0.7.0-dev/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, allow/serious-changes-to-existing, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2901 operator opendatahub-operator (1.7.0)
  operators/opendatahub-operator/1.7.0/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/1.7.0/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/1.7.0/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/1.7.0/manifests/kfdef.apps.kubeflow.org_kfdefs.yaml
  operators/opendatahub-operator/1.7.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/1.7.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/1.7.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/1.7.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/1.7.0/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/1.7.0/metadata/annotations.yaml
  operators/opendatahub-operator/1.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2907 operator hazelcast-platform-operator (5.8.0)
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.8.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2884 operator [N] sonataflow-operator (1.40.0)
  operators/sonataflow-operator/1.40.0/manifests/sonataflow-operator-builder-config_v1_configmap.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow-operator-manager-config_v1_configmap.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow-operator.clusterserviceversion.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow.org_sonataflowbuilds.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow.org_sonataflowplatforms.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow.org_sonataflows.yaml
  operators/sonataflow-operator/1.40.0/metadata/annotations.yaml
  operators/sonataflow-operator/1.40.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2912 operator cluster-relocation-operator (0.9.2)
  operators/cluster-relocation-operator/0.9.2/manifests/cluster-relocation-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-relocation-operator/0.9.2/manifests/cluster-relocation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-relocation-operator/0.9.2/manifests/cluster-relocation-operator.clusterserviceversion.yaml
  operators/cluster-relocation-operator/0.9.2/manifests/rhsyseng.github.io_clusterrelocations.yaml
  operators/cluster-relocation-operator/0.9.2/metadata/annotations.yaml
  operators/cluster-relocation-operator/0.9.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2916 operator [CI] codeflare-operator
  operators/codeflare-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2913 operator external-secrets-operator (0.8.5)
  operators/external-secrets-operator/0.8.5/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.5/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.5/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2914 operator external-secrets-operator (0.9.1)
  operators/external-secrets-operator/0.9.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2911 operator codeflare-operator (0.0.5)
  operators/codeflare-operator/0.0.5/manifests/codeflare-operator-manager-config_v1_configmap.yaml
  operators/codeflare-operator/0.0.5/manifests/codeflare-operator-manager-edit-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/codeflare-operator/0.0.5/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/0.0.5/manifests/codeflare-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/0.0.5/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/0.0.5/manifests/codeflare.codeflare.dev_instascales.yaml
  operators/codeflare-operator/0.0.5/manifests/codeflare.codeflare.dev_mcads.yaml
  operators/codeflare-operator/0.0.5/manifests/ibm.com_quotasubtrees.yaml
  operators/codeflare-operator/0.0.5/manifests/mcad.ibm.com_appwrappers.yaml
  operators/codeflare-operator/0.0.5/manifests/mcad.ibm.com_queuejobs.yaml
  operators/codeflare-operator/0.0.5/manifests/mcad.ibm.com_schedulingspecs.yaml
  operators/codeflare-operator/0.0.5/metadata/annotations.yaml
  operators/codeflare-operator/0.0.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2919 operator gitlab-operator-kubernetes (0.21.2)
  operators/gitlab-operator-kubernetes/0.21.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.21.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.21.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.21.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.21.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2921 operator grafana-operator (5.1.0)
  operators/grafana-operator/5.1.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.1.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.1.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.1.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.1.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.1.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.1.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.1.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.1.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2923 operator codeflare-operator (0.0.6)
  operators/codeflare-operator/0.0.6/manifests/codeflare-operator-manager-config_v1_configmap.yaml
  operators/codeflare-operator/0.0.6/manifests/codeflare-operator-manager-edit-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/codeflare-operator/0.0.6/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/0.0.6/manifests/codeflare-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/0.0.6/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/0.0.6/manifests/codeflare.codeflare.dev_instascales.yaml
  operators/codeflare-operator/0.0.6/manifests/codeflare.codeflare.dev_mcads.yaml
  operators/codeflare-operator/0.0.6/manifests/ibm.com_quotasubtrees.yaml
  operators/codeflare-operator/0.0.6/manifests/mcad.ibm.com_appwrappers.yaml
  operators/codeflare-operator/0.0.6/manifests/mcad.ibm.com_queuejobs.yaml
  operators/codeflare-operator/0.0.6/manifests/mcad.ibm.com_schedulingspecs.yaml
  operators/codeflare-operator/0.0.6/metadata/annotations.yaml
  operators/codeflare-operator/0.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2924 operator cluster-relocation-operator (0.9.3)
  operators/cluster-relocation-operator/0.9.3/manifests/cluster-relocation-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-relocation-operator/0.9.3/manifests/cluster-relocation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-relocation-operator/0.9.3/manifests/cluster-relocation-operator.clusterserviceversion.yaml
  operators/cluster-relocation-operator/0.9.3/manifests/rhsyseng.github.io_clusterrelocations.yaml
  operators/cluster-relocation-operator/0.9.3/metadata/annotations.yaml
  operators/cluster-relocation-operator/0.9.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2926 operator awx-operator (2.4.0)
  operators/awx-operator/2.4.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.4.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.4.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.4.0/manifests/awx-operator.v2.4.0.clusterserviceversion.yaml
  operators/awx-operator/2.4.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.4.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.4.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.4.0/metadata/annotations.yaml
  operators/awx-operator/2.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2928 operator forklift-operator (2.4.2)
  operators/forklift-operator/2.4.2/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.4.2/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.4.2/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.4.2/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.4.2/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.4.2/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.4.2/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.4.2/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.4.2/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.4.2/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.4.2/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.4.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2930 operator authorino-operator (0.8.0)
  operators/authorino-operator/0.8.0/bundle.Dockerfile
  operators/authorino-operator/0.8.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.8.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.8.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.8.0/metadata/annotations.yaml
  operators/authorino-operator/0.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2810 operator project-quay (3.9.0-nightly.20230711)
  operators/project-quay/3.9.0-nightly.20230711/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230711/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230711/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2934 operator portworx-essentials (23.5.1)
  operators/portworx-essentials/23.5.1/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.5.1/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.5.1/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/23.5.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2935 operator project-quay (3.9.0-nightly.20230712)
  operators/project-quay/3.9.0-nightly.20230712/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230712/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230712/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2929 operator [O] forklift-operator (2.4.2)
  operators/forklift-operator/2.4.2/manifests/forklift-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2933 operator keycloak-operator (22.0.0)
  operators/keycloak-operator/22.0.0/bundle.Dockerfile
  operators/keycloak-operator/22.0.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2938 operator grafana-operator (5.2.0)
  operators/grafana-operator/5.2.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.2.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.2.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.2.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.2.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.2.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.2.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.2.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2945 operator project-quay (3.8.10)
  operators/project-quay/3.8.10/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.10/manifests/quayecosystems.crd.yaml
  operators/project-quay/3.8.10/manifests/quayregistries.crd.yaml
  operators/project-quay/3.8.10/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2816 operator [N] [CI] pubsubplus-eventbroker-operator (1.0.0)
  operators/pubsubplus-eventbroker-operator/1.0.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.0.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.0.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.0.0/tests/scorecard/config.yaml
  operators/pubsubplus-eventbroker-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2948 operator mariadb-operator (0.16.0)
  operators/mariadb-operator/0.16.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.16.0/metadata/annotations.yaml
  operators/mariadb-operator/0.16.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2951 operator [O] mariadb-operator (0.16.0)
  operators/mariadb-operator/0.16.0/manifests/mariadb-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2950 operator project-quay (3.9.0-nightly.20230714)
  operators/project-quay/3.9.0-nightly.20230714/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230714/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230714/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2941 operator [N] [CI] spark-helm-operator (0.0.1)
  operators/spark-helm-operator/0.0.1/manifests/apachespark.apache.org_sparks.yaml
  operators/spark-helm-operator/0.0.1/manifests/spark-helm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/spark-helm-operator/0.0.1/manifests/spark-helm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/spark-helm-operator/0.0.1/manifests/spark-helm-operator.clusterserviceversion.yaml
  operators/spark-helm-operator/0.0.1/manifests/sparkoperator.k8s.io_scheduledsparkapplications.yaml
  operators/spark-helm-operator/0.0.1/manifests/sparkoperator.k8s.io_sparkapplications.yaml
  operators/spark-helm-operator/0.0.1/metadata/annotations.yaml
  operators/spark-helm-operator/0.0.1/tests/scorecard/config.yaml
  operators/spark-helm-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2952 operator cluster-relocation-operator (0.9.5)
  operators/cluster-relocation-operator/0.9.5/manifests/cluster-relocation-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-relocation-operator/0.9.5/manifests/cluster-relocation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-relocation-operator/0.9.5/manifests/cluster-relocation-operator.clusterserviceversion.yaml
  operators/cluster-relocation-operator/0.9.5/manifests/rhsyseng.github.io_clusterrelocations.yaml
  operators/cluster-relocation-operator/0.9.5/metadata/annotations.yaml
  operators/cluster-relocation-operator/0.9.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2943 operator [N] [CI] loki-helm-operator (0.0.1)
  operators/loki-helm-operator/0.0.1/manifests/charts.example.com_lokis.yaml
  operators/loki-helm-operator/0.0.1/manifests/loki-helm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-helm-operator/0.0.1/manifests/loki-helm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-helm-operator/0.0.1/manifests/loki-helm-operator.clusterserviceversion.yaml
  operators/loki-helm-operator/0.0.1/metadata/annotations.yaml
  operators/loki-helm-operator/0.0.1/tests/scorecard/config.yaml
  operators/loki-helm-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2953 operator [R] spark-helm-operator (0.0.2)
  operators/spark-helm-operator/0.0.2/manifests/apachespark.apache.org_sparks.yaml
  operators/spark-helm-operator/0.0.2/manifests/spark-helm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/spark-helm-operator/0.0.2/manifests/spark-helm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/spark-helm-operator/0.0.2/manifests/spark-helm-operator.clusterserviceversion.yaml
  operators/spark-helm-operator/0.0.2/manifests/sparkoperator.k8s.io_scheduledsparkapplications.yaml
  operators/spark-helm-operator/0.0.2/manifests/sparkoperator.k8s.io_sparkapplications.yaml
  operators/spark-helm-operator/0.0.2/metadata/annotations.yaml
  operators/spark-helm-operator/0.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2955 operator vault-config-operator (0.8.17)
  operators/vault-config-operator/0.8.17/Dockerfile
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.17/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.17/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.17/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.17/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.17/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.17/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.17/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.17/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.17/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.17/metadata/annotations.yaml
  operators/vault-config-operator/0.8.17/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2942 operator [CI] ack-secretsmanager-controller
  operators/ack-secretsmanager-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2954 operator hive-operator (1.2.4184-8917099)
  operators/hive-operator/1.2.4184-8917099/manifests/hive-operator.v1.2.4184-8917099.clusterserviceversion.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4184-8917099/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2956 operator sap-data-intelligence-observer-operator (1.0.3)
  operators/sap-data-intelligence-observer-operator/1.0.3/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/1.0.3/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/1.0.3/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/1.0.3/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/1.0.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2958 operator project-quay (3.9.0-nightly.20230715)
  operators/project-quay/3.9.0-nightly.20230715/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230715/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230715/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2961 operator project-quay (3.9.0-nightly.20230716)
  operators/project-quay/3.9.0-nightly.20230716/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230716/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230716/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2963 operator mariadb-operator (0.17.0)
  operators/mariadb-operator/0.17.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.17.0/metadata/annotations.yaml
  operators/mariadb-operator/0.17.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2964 operator [N] sap-hana-express-operator (1.0.2)
  operators/sap-hana-express-operator/1.0.2/manifests/db.sap-redhat.io_hanaexpresses.yaml
  operators/sap-hana-express-operator/1.0.2/manifests/sap-hana-express-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-hana-express-operator/1.0.2/manifests/sap-hana-express-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-hana-express-operator/1.0.2/manifests/sap-hana-express-operator.clusterserviceversion.yaml
  operators/sap-hana-express-operator/1.0.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2966 operator project-quay (3.9.0-nightly.20230717)
  operators/project-quay/3.9.0-nightly.20230717/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230717/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230717/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2967 operator redis-operator (0.15.0)
  operators/redis-operator/0.15.0/manifests/redis-operator.v0.15.0.clusterserviceversion.yaml
  operators/redis-operator/0.15.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.0/manifests/redisreplications.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.0/manifests/redissentinels.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2968 operator cluster-relocation-operator (0.9.6)
  operators/cluster-relocation-operator/0.9.6/manifests/cluster-relocation-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-relocation-operator/0.9.6/manifests/cluster-relocation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-relocation-operator/0.9.6/manifests/cluster-relocation-operator.clusterserviceversion.yaml
  operators/cluster-relocation-operator/0.9.6/manifests/rhsyseng.github.io_clusterrelocations.yaml
  operators/cluster-relocation-operator/0.9.6/metadata/annotations.yaml
  operators/cluster-relocation-operator/0.9.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2969 operator hive-operator (1.2.4188-2122078)
  operators/hive-operator/1.2.4188-2122078/manifests/hive-operator.v1.2.4188-2122078.clusterserviceversion.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4188-2122078/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4188-2122078/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2962 operator [N] [CI] ucs-ci-solutions-operator (0.0.1)
  operators/ucs-ci-solutions-operator/0.0.1/manifests/intersight.cisco.com_ucscisolutions.yaml
  operators/ucs-ci-solutions-operator/0.0.1/manifests/ucs-ci-solutions-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ucs-ci-solutions-operator/0.0.1/manifests/ucs-ci-solutions-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ucs-ci-solutions-operator/0.0.1/manifests/ucs-ci-solutions-operator.clusterserviceversion.yaml
  operators/ucs-ci-solutions-operator/0.0.1/metadata/annotations.yaml
  operators/ucs-ci-solutions-operator/0.0.1/tests/scorecard/config.yaml
  operators/ucs-ci-solutions-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2971 operator [CI] flux (2.0.1)
  operators/flux/2.0.1/manifests/alert.crd.yaml
  operators/flux/2.0.1/manifests/bucket.crd.yaml
  operators/flux/2.0.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/2.0.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/2.0.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/2.0.1/manifests/flux-edit-flux-system.clusterrole.yaml
  operators/flux/2.0.1/manifests/flux-view-flux-system.clusterrole.yaml
  operators/flux/2.0.1/manifests/flux.v2.0.1.clusterserviceversion.yaml
  operators/flux/2.0.1/manifests/gitrepository.crd.yaml
  operators/flux/2.0.1/manifests/helmchart.crd.yaml
  operators/flux/2.0.1/manifests/helmrelease.crd.yaml
  operators/flux/2.0.1/manifests/helmrepository.crd.yaml
  operators/flux/2.0.1/manifests/imagepolicy.crd.yaml
  operators/flux/2.0.1/manifests/imagerepository.crd.yaml
  operators/flux/2.0.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/2.0.1/manifests/kustomization.crd.yaml
  operators/flux/2.0.1/manifests/notification-controller.service.yaml
  operators/flux/2.0.1/manifests/ocirepository.crd.yaml
  operators/flux/2.0.1/manifests/provider.crd.yaml
  operators/flux/2.0.1/manifests/receiver.crd.yaml
  operators/flux/2.0.1/manifests/source-controller.service.yaml
  operators/flux/2.0.1/manifests/webhook-receiver.service.yaml
  operators/flux/2.0.1/metadata/annotations.yaml
  operators/flux/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2972 operator patterns-operator (0.0.17)
  operators/patterns-operator/0.0.17/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.17/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.17/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.17/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.17/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.17/metadata/annotations.yaml
  operators/patterns-operator/0.0.17/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2974 operator keycloak-operator (22.0.1)
  operators/keycloak-operator/22.0.1/bundle.Dockerfile
  operators/keycloak-operator/22.0.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2977 operator percona-xtradb-cluster-operator (1.13.0)
  operators/percona-xtradb-cluster-operator/1.13.0/manifests/percona-xtradb-cluster-operator.v1.13.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.13.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.13.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.13.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.13.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2976 operator [R] multicluster-global-hub-operator (0.7.0 1.0.0-dev)
  operators/multicluster-global-hub-operator/0.7.0/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.7.0/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/0.7.0/metadata/annotations.yaml
  operators/multicluster-global-hub-operator/1.0.0-dev/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.0.0-dev/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.0.0-dev/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2978 operator cluster-aas-operator (0.1.3)
  operators/cluster-aas-operator/0.1.3/manifests/argo_cd_cluser_rb.yaml
  operators/cluster-aas-operator/0.1.3/manifests/argo_cd_cluster_role.yaml
  operators/cluster-aas-operator/0.1.3/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.3/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.1.3/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.1.3/manifests/cluster-aas-operator-repo-bridge.yaml
  operators/cluster-aas-operator/0.1.3/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.3/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.1.3/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.1.3/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.1.3/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.1.3/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.1.3/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.1.3/manifests/clustertemplate.openshift.io_clustertemplatesetup.yaml
  operators/cluster-aas-operator/0.1.3/manifests/clustertemplate.openshift.io_config.yaml
  operators/cluster-aas-operator/0.1.3/metadata/annotations.yaml
  operators/cluster-aas-operator/0.1.3/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.1.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2983 operator [R] multicluster-global-hub-operator (0.7.0 1.0.0-dev)
  operators/multicluster-global-hub-operator/0.7.0/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.0.0-dev/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2987 operator [O] multicluster-global-hub-operator (1.0.0-dev)
  operators/multicluster-global-hub-operator/1.0.0-dev/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2991 operator [CI] opendatahub-operator
  operators/opendatahub-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2995 operator project-quay (3.9.0-nightly.20230721)
  operators/project-quay/3.9.0-nightly.20230721/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230721/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230721/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2996 operator mariadb-operator (0.18.0)
  operators/mariadb-operator/0.18.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.18.0/metadata/annotations.yaml
  operators/mariadb-operator/0.18.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2986 operator [N] [CI] kaoto-operator (0.0.6)
  operators/kaoto-operator/0.0.6/manifests/designer.kaoto.io_kaotoes.yaml
  operators/kaoto-operator/0.0.6/manifests/kaoto-backend_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kaoto-operator/0.0.6/manifests/kaoto-operator.v0.0.6.clusterserviceversion.yaml
  operators/kaoto-operator/0.0.6/metadata/annotations.yaml
  operators/kaoto-operator/0.0.6/tests/scorecard/config.yaml
  operators/kaoto-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2999 operator gitlab-runner-operator (1.16.0)
  operators/gitlab-runner-operator/1.16.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.16.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.16.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2998 operator gitlab-runner-operator (1.15.2)
  operators/gitlab-runner-operator/1.15.2/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.15.2/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.15.2/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.15.2/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.15.2/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.15.2/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.15.2/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.15.2/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.15.2/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.15.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3001 operator project-quay (3.9.0-nightly.20230722)
  operators/project-quay/3.9.0-nightly.20230722/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230722/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230722/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3003 operator project-quay (3.9.0-nightly.20230723)
  operators/project-quay/3.9.0-nightly.20230723/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230723/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230723/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3005 operator rabbitmq-cluster-operator (2.4.0)
  operators/rabbitmq-cluster-operator/2.4.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.4.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.4.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.4.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3006 operator vault-config-operator (0.8.18)
  operators/vault-config-operator/0.8.18/Dockerfile
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.18/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.18/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.18/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.18/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.18/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.18/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.18/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.18/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.18/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.18/metadata/annotations.yaml
  operators/vault-config-operator/0.8.18/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3008 operator gitlab-operator-kubernetes (0.22.0)
  operators/gitlab-operator-kubernetes/0.22.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.22.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.22.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.22.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.22.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3009 operator project-quay (3.9.0-nightly.20230724)
  operators/project-quay/3.9.0-nightly.20230724/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230724/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230724/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2997 operator opendatahub-operator (2.0.0)
  operators/opendatahub-operator/2.0.0/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/2.0.0/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/2.0.0/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/2.0.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.0.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.0.0/manifests/kfdef.apps.kubeflow.org_kfdefs.yaml
  operators/opendatahub-operator/2.0.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.0.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.0.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.0.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.0.0/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/2.0.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3012 operator opendatahub-operator (1.8.0)
  operators/opendatahub-operator/1.8.0/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/1.8.0/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/1.8.0/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/1.8.0/manifests/kfdef.apps.kubeflow.org_kfdefs.yaml
  operators/opendatahub-operator/1.8.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/1.8.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/1.8.0/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/1.8.0/metadata/annotations.yaml
  operators/opendatahub-operator/1.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3015 operator kaoto-operator (0.0.7)
  operators/kaoto-operator/0.0.7/manifests/designer.kaoto.io_kaotoes.yaml
  operators/kaoto-operator/0.0.7/manifests/kaoto-backend_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kaoto-operator/0.0.7/manifests/kaoto-operator.0.0.7.clusterserviceversion.yaml
  operators/kaoto-operator/0.0.7/metadata/annotations.yaml
  operators/kaoto-operator/0.0.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3014 operator [N] [CI] sailoperator (3.0.0-nightly-2023-01-01)
  operators/sailoperator/3.0.0-nightly-2023-01-01/manifests/istio-operator-metrics-service_v1_service.yaml
  operators/sailoperator/3.0.0-nightly-2023-01-01/manifests/maistra.io_istiohelminstalls.yaml
  operators/sailoperator/3.0.0-nightly-2023-01-01/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sailoperator/3.0.0-nightly-2023-01-01/manifests/sailoperator.clusterserviceversion.yaml
  operators/sailoperator/3.0.0-nightly-2023-01-01/metadata/annotations.yaml
  operators/sailoperator/3.0.0-nightly-2023-01-01/tests/scorecard/config.yaml
  operators/sailoperator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3017 operator neuvector-community-operator (1.4.0)
  operators/neuvector-community-operator/1.4.0/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.4.0/manifests/neuvector-operator.v1.4.0.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.4.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3021 operator grafana-operator (5.3.0)
  operators/grafana-operator/5.3.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.3.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.3.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.3.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.3.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.3.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.3.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.3.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.3.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3022 operator deployment-validation-operator (0.6.0)
  operators/deployment-validation-operator/0.6.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.6.0/manifests/deploymentvalidationoperator.0.6.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.6.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#3023 operator app-director-operator
  operators/app-director-operator/0.0.1/Dockerfile
  operators/app-director-operator/0.0.1/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/0.0.1/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/0.0.1/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/0.0.1/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/0.0.1/manifests/appdirector.randoli.ca_clusterwideguvnors.yaml
  operators/app-director-operator/0.0.1/manifests/appdirector.randoli.ca_guvnors.yaml
  operators/app-director-operator/0.0.1/metadata/annotations.yaml
  operators/app-director-operator/0.0.1/tests/scorecard/config.yaml
  operators/app-director-operator/0.0.2/Dockerfile
  operators/app-director-operator/0.0.2/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/0.0.2/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/0.0.2/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/0.0.2/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/0.0.2/manifests/appdirector.randoli.ca_clusterwideguvnors.yaml
  operators/app-director-operator/0.0.2/manifests/appdirector.randoli.ca_guvnors.yaml
  operators/app-director-operator/0.0.2/metadata/annotations.yaml
  operators/app-director-operator/0.0.2/tests/scorecard/config.yaml
  operators/app-director-operator/0.0.3/Dockerfile
  operators/app-director-operator/0.0.3/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/0.0.3/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/0.0.3/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/0.0.3/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/0.0.3/manifests/appdirector.randoli.ca_clusterwideguvnors.yaml
  operators/app-director-operator/0.0.3/manifests/appdirector.randoli.ca_guvnors.yaml
  operators/app-director-operator/0.0.3/metadata/annotations.yaml
  operators/app-director-operator/0.0.3/tests/scorecard/config.yaml
  operators/app-director-operator/0.9.1/Dockerfile
  operators/app-director-operator/0.9.1/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/0.9.1/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/0.9.1/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/0.9.1/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/0.9.1/manifests/appdirector.randoli.ca_appdirectoragents.yaml
  operators/app-director-operator/0.9.1/manifests/appdirector.randoli.ca_clusterwideappdirectoragents.yaml
  operators/app-director-operator/0.9.1/metadata/annotations.yaml
  operators/app-director-operator/0.9.1/tests/scorecard/config.yaml
  operators/app-director-operator/1.0.0/Dockerfile
  operators/app-director-operator/1.0.0/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/1.0.0/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/1.0.0/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/1.0.0/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/1.0.0/manifests/appdirector.randoli.ca_appdirectoragents.yaml
  operators/app-director-operator/1.0.0/manifests/appdirector.randoli.ca_clusterwideappdirectoragents.yaml
  operators/app-director-operator/1.0.0/metadata/annotations.yaml
  operators/app-director-operator/1.0.0/tests/scorecard/config.yaml
  operators/app-director-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2992 operator jaeger (1.47.0)
  operators/jaeger/1.47.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.47.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.47.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.47.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.47.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.47.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.47.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.47.0/metadata/annotations.yaml
  operators/jaeger/1.47.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3011 operator strimzi-kafka-operator (0.36.0)
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimzi-cluster-operator.v0.36.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3025 operator dynatrace-operator (0.12.1)
  operators/dynatrace-operator/0.12.1/Dockerfile
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.12.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3026 operator gitlab-operator-kubernetes (0.22.1)
  operators/gitlab-operator-kubernetes/0.22.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.22.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.22.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.22.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.22.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3027 operator mariadb-operator (0.19.0)
  operators/mariadb-operator/0.19.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.19.0/metadata/annotations.yaml
  operators/mariadb-operator/0.19.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#3028 operator cluster-relocation-operator (0.9.7)
  operators/cluster-relocation-operator/0.9.7/manifests/cluster-relocation-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-relocation-operator/0.9.7/manifests/cluster-relocation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-relocation-operator/0.9.7/manifests/cluster-relocation-operator.clusterserviceversion.yaml
  operators/cluster-relocation-operator/0.9.7/manifests/rhsyseng.github.io_clusterrelocations.yaml
  operators/cluster-relocation-operator/0.9.7/metadata/annotations.yaml
  operators/cluster-relocation-operator/0.9.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3032 operator [CI] ack-cloudwatch-controller
  operators/ack-cloudwatch-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3036 operator [R] gitlab-runner-operator (1.11.0 1.12.0 1.13.0 1.14.0 1.15.0 1.15.1 1.15.2)
  operators/gitlab-runner-operator/1.16.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.16.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.16.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.16.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3035 operator loki-operator (0.4.0)
  operators/loki-operator/0.4.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.4.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.4.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.4.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.4.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.4.0/metadata/annotations.yaml
  operators/loki-operator/0.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3038 operator [CI] bpfd-operator
  operators/bpfd-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#3041 operator hive-operator (1.2.4196-a84d50c)
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive-operator.v1.2.4196-a84d50c.clusterserviceversion.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4196-a84d50c/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14
