Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-02, with the labels that each got.

#2134 operator [CI] seldon-operator
  operators/seldon-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2133 operator multi-nic-cni-operator (1.0.3)
  operators/multi-nic-cni-operator/1.0.3/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.0.3/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.0.3/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.0.3/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.0.3/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.0.3/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.0.3/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.0.3/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.0.3/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.0.3/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.0.3/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.0.3/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2107 operator project-quay (3.9.0-nightly.20230202)
  operators/project-quay/3.9.0-nightly.20230202/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230202/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2130 operator opentelemetry-operator (0.68.0)
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.68.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.68.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2138 operator tackle-operator (2.1.3)
  operators/tackle-operator/2.1.3/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.3/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.3/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2147 operator project-quay (3.9.0-nightly.20230203)
  operators/project-quay/3.9.0-nightly.20230203/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230203/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2149 operator yaks (0.13.0)
  operators/yaks/0.13.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.13.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.13.0/yaks.v0.13.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2163 operator project-quay (3.9.0-nightly.20230205)
  operators/project-quay/3.9.0-nightly.20230205/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230205/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2166 operator mariadb-operator (0.6.5)
  operators/mariadb-operator/0.6.5/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.6.5/metadata/annotations.yaml
  operators/mariadb-operator/0.6.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2167 operator project-quay (3.9.0-nightly.20230206)
  operators/project-quay/3.9.0-nightly.20230206/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230206/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2169 operator mariadb-operator (0.6.6)
  operators/mariadb-operator/0.6.6/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.6.6/metadata/annotations.yaml
  operators/mariadb-operator/0.6.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2168 operator hive-operator (1.2.4013-2f697a4)
  operators/hive-operator/1.2.4013-2f697a4/hive-operator.v1.2.4013-2f697a4.clusterserviceversion.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4013-2f697a4/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4013-2f697a4/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4013-2f697a4/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2171 operator flux (0.39.0)
  operators/flux/0.39.0/manifests/alert.crd.yaml
  operators/flux/0.39.0/manifests/bucket.crd.yaml
  operators/flux/0.39.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.39.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.39.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.39.0/manifests/flux.v0.39.0.clusterserviceversion.yaml
  operators/flux/0.39.0/manifests/gitrepository.crd.yaml
  operators/flux/0.39.0/manifests/helmchart.crd.yaml
  operators/flux/0.39.0/manifests/helmrelease.crd.yaml
  operators/flux/0.39.0/manifests/helmrepository.crd.yaml
  operators/flux/0.39.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.39.0/manifests/imagerepository.crd.yaml
  operators/flux/0.39.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.39.0/manifests/kustomization.crd.yaml
  operators/flux/0.39.0/manifests/notification-controller.service.yaml
  operators/flux/0.39.0/manifests/ocirepository.crd.yaml
  operators/flux/0.39.0/manifests/provider.crd.yaml
  operators/flux/0.39.0/manifests/receiver.crd.yaml
  operators/flux/0.39.0/manifests/source-controller.service.yaml
  operators/flux/0.39.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.39.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2172 operator project-quay (3.9.0-nightly.20230207)
  operators/project-quay/3.9.0-nightly.20230207/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230207/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2174 operator project-quay (3.9.0-nightly.20230208)
  operators/project-quay/3.9.0-nightly.20230208/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230208/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2173 operator strimzi-kafka-operator (0.33.1)
  operators/strimzi-kafka-operator/0.33.1/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/strimzi-cluster-operator.v0.33.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.33.1/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.33.1/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.1/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.1/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.1/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2175 operator rabbitmq-messaging-topology-operator (1.10.1)
  operators/rabbitmq-messaging-topology-operator/1.10.1/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2178 operator vault-config-operator (0.8.9)
  operators/vault-config-operator/0.8.9/Dockerfile
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.9/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.9/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.9/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.9/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.9/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.9/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.9/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.9/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.9/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.9/metadata/annotations.yaml
  operators/vault-config-operator/0.8.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2179 operator [R] multicluster-global-hub-operator (0.6.0 0.7.0-dev)
  operators/multicluster-global-hub-operator/0.6.0/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.6.0/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/0.7.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.7.0-dev/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/multicluster-global-hub-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2180 operator project-quay (3.9.0-nightly.20230209)
  operators/project-quay/3.9.0-nightly.20230209/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230209/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2181 operator patterns-operator (0.0.11)
  operators/patterns-operator/0.0.11/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.11/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.11/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.11/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.11/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.11/metadata/annotations.yaml
  operators/patterns-operator/0.0.11/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2198 operator ndmspc-operator (0.2.5)
  operators/ndmspc-operator/0.2.5/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.5/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.5/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.5/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.5/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.5/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2189 operator [CI] ack-route53-controller
  operators/ack-route53-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2182 operator jaeger (1.42.0)
  operators/jaeger/1.42.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.42.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.42.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.42.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.42.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.42.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.42.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.42.0/metadata/annotations.yaml
  operators/jaeger/1.42.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2196 operator project-quay (3.9.0-nightly.20230210)
  operators/project-quay/3.9.0-nightly.20230210/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230210/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2210 operator mariadb-operator (0.6.7)
  operators/mariadb-operator/0.6.7/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.6.7/metadata/annotations.yaml
  operators/mariadb-operator/0.6.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2211 operator project-quay (3.9.0-nightly.20230211)
  operators/project-quay/3.9.0-nightly.20230211/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230211/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2204 operator grafana-operator (4.9.0)
  operators/grafana-operator/4.9.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.9.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.9.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.9.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.9.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.9.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.9.0/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.9.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.9.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2212 operator project-quay (3.9.0-nightly.20230213)
  operators/project-quay/3.9.0-nightly.20230213/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230213/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2183 operator yaks (0.14.1)
  operators/yaks/0.14.1/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.1/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.1/yaks.v0.14.1.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2208 operator [CI] ack-ssm-controller
  operators/ack-ssm-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2177 operator kogito-operator (1.33.0)
  operators/kogito-operator/1.33.0/Dockerfile
  operators/kogito-operator/1.33.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.33.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.33.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.33.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.33.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.33.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.33.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.33.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.33.0/metadata/annotations.yaml
  operators/kogito-operator/1.33.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2217 operator [CI] hive-operator
  operators/hive-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2216 operator hive-operator (1.2.4024-afbe42a)
  operators/hive-operator/1.2.4024-afbe42a/hive-operator.v1.2.4024-afbe42a.clusterserviceversion.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4024-afbe42a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4024-afbe42a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4024-afbe42a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2224 operator gitlab-operator-kubernetes (0.16.2)
  operators/gitlab-operator-kubernetes/0.16.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.16.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.16.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.16.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2225 operator project-quay (3.9.0-nightly.20230215)
  operators/project-quay/3.9.0-nightly.20230215/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230215/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2228 operator [CI] infinispan
  operators/infinispan/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2227 operator opentelemetry-operator (0.69.0)
  operators/opentelemetry-operator/0.69.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.69.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.69.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.69.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.69.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.69.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.69.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.69.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2213 operator gitlab-runner-operator (1.12.0)
  operators/gitlab-runner-operator/1.12.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.12.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.12.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2237 operator project-quay (3.9.0-nightly.20230216)
  operators/project-quay/3.9.0-nightly.20230216/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230216/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2214 operator [N] github-arc-operator (1.0.4)
  operators/github-arc-operator/1.0.4/bundle.Dockerfile
  operators/github-arc-operator/1.0.4/manifests/github-arc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/github-arc-operator/1.0.4/manifests/github-arc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/github-arc-operator/1.0.4/manifests/github-arc-operator.clusterserviceversion.yaml
  operators/github-arc-operator/1.0.4/manifests/github-practice.boxboat.com_actionsrunnercontrollers.yaml
  operators/github-arc-operator/1.0.4/metadata/annotations.yaml
  operators/github-arc-operator/1.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2230 operator cert-manager (1.11.0)
  operators/cert-manager/1.11.0/bundle.Dockerfile
  operators/cert-manager/1.11.0/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.11.0/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.11.0/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.0/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.0/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.11.0/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.11.0/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.11.0/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.11.0/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.11.0/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.11.0/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.11.0/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.11.0/metadata/annotations.yaml
  operators/cert-manager/1.11.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2241 operator [CI] awx-operator
  operators/awx-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2236 operator gitlab-operator-kubernetes (0.16.3)
  operators/gitlab-operator-kubernetes/0.16.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.16.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.16.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.16.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2244 operator project-quay (3.9.0-nightly.20230217)
  operators/project-quay/3.9.0-nightly.20230217/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230217/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2242 operator [O] mariadb-operator (0.6.7)
  operators/mariadb-operator/0.6.7/manifests/mariadb-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2239 operator eclipse-amlen-operator (1.0.0)
  operators/eclipse-amlen-operator/1.0.0/bundle.Dockerfile
  operators/eclipse-amlen-operator/1.0.0/manifests/amlen-controller-manager-metrics-service_v1_service.yaml
  operators/eclipse-amlen-operator/1.0.0/manifests/amlen-manager-config_v1_configmap.yaml
  operators/eclipse-amlen-operator/1.0.0/manifests/amlen-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eclipse-amlen-operator/1.0.0/manifests/eclipse-amlen-operator.clusterserviceversion.yaml
  operators/eclipse-amlen-operator/1.0.0/manifests/eclipse.org_amlens.yaml
  operators/eclipse-amlen-operator/1.0.0/metadata/annotations.yaml
  operators/eclipse-amlen-operator/1.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2240 operator cass-operator-community (1.14.0)
  operators/cass-operator-community/1.14.0/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.14.0/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.14.0/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.14.0/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.14.0/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.14.0/metadata/annotations.yaml
  operators/cass-operator-community/1.14.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2243 operator awx-operator (1.2.0)
  operators/awx-operator/1.2.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.2.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.2.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.2.0/manifests/awx-operator.v1.2.0.clusterserviceversion.yaml
  operators/awx-operator/1.2.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.2.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.2.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.2.0/metadata/annotations.yaml
  operators/awx-operator/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2245 operator neuvector-community-operator (1.3.8)
  operators/neuvector-community-operator/1.3.8/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.3.8/neuvector-operator.v1.3.8.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2246 operator opentelemetry-operator (0.70.0)
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.70.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.70.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2247 operator kube-green (0.5.0)
  operators/kube-green/0.5.0/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.5.0/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.5.0/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.5.0/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.5.0/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.5.0/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.5.0/metadata/annotations.yaml
  operators/kube-green/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2248 operator strimzi-kafka-operator (0.33.2)
  operators/strimzi-kafka-operator/0.33.2/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/strimzi-cluster-operator.v0.33.2.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.33.2/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.33.2/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.2/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.2/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.2/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2250 operator cluster-manager (0.10.0)
  operators/cluster-manager/0.10.0/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.10.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2251 operator klusterlet (0.10.0)
  operators/klusterlet/0.10.0/klusterlet.clusterserviceversion.yaml
  operators/klusterlet/0.10.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2252 operator project-quay (3.9.0-nightly.20230220)
  operators/project-quay/3.9.0-nightly.20230220/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230220/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2254 operator kiali (1.64.0)
  operators/kiali/1.64.0/bundle.Dockerfile
  operators/kiali/1.64.0/manifests/kiali.crd.yaml
  operators/kiali/1.64.0/manifests/kiali.v1.64.0.clusterserviceversion.yaml
  operators/kiali/1.64.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2255 operator hive-operator (1.2.4035-e2fccdf)
  operators/hive-operator/1.2.4035-e2fccdf/hive-operator.v1.2.4035-e2fccdf.clusterserviceversion.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2257 operator vault-config-operator (0.8.10)
  operators/vault-config-operator/0.8.10/Dockerfile
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.10/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.10/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.10/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.10/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.10/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.10/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.10/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.10/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.10/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.10/metadata/annotations.yaml
  operators/vault-config-operator/0.8.10/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2231 operator infinispan (2.3.1)
  operators/infinispan/2.3.1/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.1/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.1/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.1/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.1/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.1/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.1/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.1/metadata/annotations.yaml
  operators/infinispan/2.3.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2260 operator project-quay (3.9.0-nightly.20230221)
  operators/project-quay/3.9.0-nightly.20230221/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230221/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2261 operator netobserv-operator (1.0.2)
  operators/netobserv-operator/1.0.2/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.0.2/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.0.2/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/1.0.2/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.0.2/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.0.2/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.0.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2262 operator project-quay (3.8.2)
  operators/project-quay/3.8.2/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.2/quayecosystems.crd.yaml
  operators/project-quay/3.8.2/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2264 operator mariadb-operator (0.7.0)
  operators/mariadb-operator/0.7.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.7.0/metadata/annotations.yaml
  operators/mariadb-operator/0.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2267 operator project-quay (3.7.11)
  operators/project-quay/3.7.11/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.11/quayecosystems.crd.yaml
  operators/project-quay/3.7.11/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2268 operator ndmspc-operator (0.2.6)
  operators/ndmspc-operator/0.2.6/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.6/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.6/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.6/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.6/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.6/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2269 operator portworx-essentials (1.10.4)
  operators/portworx-essentials/1.10.4/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.10.4/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.10.4/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2271 operator gitlab-operator-kubernetes (0.17.0)
  operators/gitlab-operator-kubernetes/0.17.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.17.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.17.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.17.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2272 operator project-quay (3.9.0-nightly.20230223)
  operators/project-quay/3.9.0-nightly.20230223/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230223/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2276 operator project-quay (3.9.0-nightly.20230224)
  operators/project-quay/3.9.0-nightly.20230224/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230224/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2275 operator flink-kubernetes-operator (1.4.0)
  operators/flink-kubernetes-operator/1.4.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.4.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.4.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2277 operator [O] multicluster-global-hub-operator (0.7.0-dev)
  operators/multicluster-global-hub-operator/0.7.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.7.0-dev/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, allow/serious-changes-to-existing, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2281 operator mariadb-operator (0.7.1)
  operators/mariadb-operator/0.7.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.7.1/metadata/annotations.yaml
  operators/mariadb-operator/0.7.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2282 operator mongodb-atlas-kubernetes (1.7.0)
  operators/mongodb-atlas-kubernetes/1.7.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2283 operator vault-config-operator (0.8.11)
  operators/vault-config-operator/0.8.11/Dockerfile
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.11/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.11/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.11/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.11/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.11/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.11/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.11/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.11/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.11/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.11/metadata/annotations.yaml
  operators/vault-config-operator/0.8.11/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2284 operator project-quay (3.9.0-nightly.20230226)
  operators/project-quay/3.9.0-nightly.20230226/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230226/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2285 operator mariadb-operator (0.8.0)
  operators/mariadb-operator/0.8.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.8.0/metadata/annotations.yaml
  operators/mariadb-operator/0.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2288 operator camel-k (1.12.0)
  operators/camel-k/1.12.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/camel-k.v1.12.0.clusterserviceversion.yaml
  operators/camel-k/1.12.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/metadata/annotations.yaml
  operators/camel-k/1.12.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2289 operator windup-operator (0.0.12)
  operators/windup-operator/0.0.12/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.12/manifests/windup.crd.yaml
  operators/windup-operator/0.0.12/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2290 operator hive-operator (1.2.4041-40c8ac9)
  operators/hive-operator/1.2.4041-40c8ac9/hive-operator.v1.2.4041-40c8ac9.clusterserviceversion.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2279 operator gitlab-operator-kubernetes (0.17.1)
  operators/gitlab-operator-kubernetes/0.17.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.17.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.17.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.17.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2292 operator yaks (0.14.2)
  operators/yaks/0.14.2/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.2/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.2/yaks.v0.14.2.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2293 operator [N] gingersnap (0.0.1)
  operators/gingersnap/0.0.1/manifests/gingersnap-operator-manager-config_v1_configmap.yaml
  operators/gingersnap/0.0.1/manifests/gingersnap-project.io_caches.yaml
  operators/gingersnap/0.0.1/manifests/gingersnap-project.io_eagercacherules.yaml
  operators/gingersnap/0.0.1/manifests/gingersnap-project.io_lazycacherules.yaml
  operators/gingersnap/0.0.1/manifests/gingersnap.clusterserviceversion.yaml
  operators/gingersnap/0.0.1/metadata/annotations.yaml
  operators/gingersnap/0.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2295 operator pelorus-operator (0.0.3)
  operators/pelorus-operator/0.0.3/manifests/charts.pelorus.konveyor.io_pelorus.yaml
  operators/pelorus-operator/0.0.3/manifests/pelorus-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pelorus-operator/0.0.3/manifests/pelorus-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pelorus-operator/0.0.3/manifests/pelorus-operator.clusterserviceversion.yaml
  operators/pelorus-operator/0.0.3/metadata/annotations.yaml
  operators/pelorus-operator/0.0.3/metadata/properties.yaml
  operators/pelorus-operator/0.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2286 operator project-quay (3.8.3)
  operators/project-quay/3.8.3/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.3/quayecosystems.crd.yaml
  operators/project-quay/3.8.3/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12
