Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-08, with the labels that each got.

#3044 operator strimzi-kafka-operator (0.36.1)
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimzi-cluster-operator.v0.36.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3045 operator windup-operator (0.0.17)
  operators/windup-operator/0.0.17/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.17/manifests/windup.crd.yaml
  operators/windup-operator/0.0.17/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3037 operator [N] bpfd-operator (0.2.1)
  operators/bpfd-operator/0.2.1/bundle.Dockerfile
  operators/bpfd-operator/0.2.1/manifests/bpfd-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-config_v1_configmap.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-controller-manager-metrics-service_v1_service.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-daemon_v1_serviceaccount.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-operator.clusterserviceversion.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd.io_bpfprograms.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd.io_tcprograms.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd.io_tracepointprograms.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd.io_xdpprograms.yaml
  operators/bpfd-operator/0.2.1/metadata/annotations.yaml
  operators/bpfd-operator/0.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#3049 operator windup-operator (0.0.18)
  operators/windup-operator/0.0.18/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.18/manifests/windup.crd.yaml
  operators/windup-operator/0.0.18/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3051 operator windup-operator (0.0.19)
  operators/windup-operator/0.0.19/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.19/manifests/windup.crd.yaml
  operators/windup-operator/0.0.19/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#3050 operator tempo-operator (0.3.0)
  operators/tempo-operator/0.3.0/manifests/tempo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tempo-operator/0.3.0/manifests/tempo-operator-manager-config_v1_configmap.yaml
  operators/tempo-operator/0.3.0/manifests/tempo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tempo-operator/0.3.0/manifests/tempo-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/tempo-operator/0.3.0/manifests/tempo-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tempo-operator/0.3.0/manifests/tempo-operator-webhook-service_v1_service.yaml
  operators/tempo-operator/0.3.0/manifests/tempo-operator.clusterserviceversion.yaml
  operators/tempo-operator/0.3.0/manifests/tempo.grafana.com_tempostacks.yaml
  operators/tempo-operator/0.3.0/metadata/annotations.yaml
  operators/tempo-operator/0.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3052 operator gitlab-operator-kubernetes (0.22.2)
  operators/gitlab-operator-kubernetes/0.22.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.22.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.22.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.22.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.22.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3053 operator verticadb-operator (1.11.2)
  operators/verticadb-operator/1.11.2/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/1.11.2/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.11.2/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.11.2/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.11.2/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.11.2/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.11.2/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.11.2/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.11.2/metadata/annotations.yaml
  operators/verticadb-operator/1.11.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#3046 operator [CI] aqua (2022.4.13)
  operators/aqua/2022.4.13/bundle.Dockerfile
  operators/aqua/2022.4.13/manifests/aqua-operator.v2022.4.13.clusterserviceversion.yaml
  operators/aqua/2022.4.13/manifests/aquacloudconnector.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.13/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.13/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.13/metadata/annotations.yaml
  operators/aqua/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3054 operator [R] multi-nic-cni-operator (1.0.2 1.0.3 1.0.4 1.0.5 1.1.0)
  operators/multi-nic-cni-operator/1.2.0/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.2.0/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.2.0/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.0/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.2.0/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.0/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.0/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.0/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.0/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.0/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.0/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.0/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3056 operator gitlab-operator-kubernetes (0.22.3)
  operators/gitlab-operator-kubernetes/0.22.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.22.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.22.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.22.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.22.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3047 operator [N] [CI] oci-ccm-operator (0.0.9)
  operators/oci-ccm-operator/0.0.9/manifests/ccm.oraclecloud.com_ocicloudmanagers.yaml
  operators/oci-ccm-operator/0.0.9/manifests/ccm.oraclecloud.com_ocicsidrivers.yaml
  operators/oci-ccm-operator/0.0.9/manifests/oci-ccm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/oci-ccm-operator/0.0.9/manifests/oci-ccm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oci-ccm-operator/0.0.9/manifests/oci-ccm-operator.clusterserviceversion.yaml
  operators/oci-ccm-operator/0.0.9/metadata/annotations.yaml
  operators/oci-ccm-operator/0.0.9/tests/scorecard/config.yaml
  operators/oci-ccm-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3058 operator external-secrets-operator (0.8.6)
  operators/external-secrets-operator/0.8.6/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.6/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.6/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3059 operator external-secrets-operator (0.9.2)
  operators/external-secrets-operator/0.9.2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.2/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3062 operator hive-operator (1.2.4202-6aa3fa8)
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive-operator.v1.2.4202-6aa3fa8.clusterserviceversion.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3064 operator [CI] postgresql (5.4.1)
  operators/postgresql/5.4.1/Dockerfile
  operators/postgresql/5.4.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.1/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.4.1/metadata/annotations.yaml
  operators/postgresql/5.4.1/tests/scorecard/config.yaml
  operators/postgresql/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3067 operator aerospike-kubernetes-operator (3.0.0)
  operators/aerospike-kubernetes-operator/3.0.0/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.0.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.0.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#3063 operator kogito-operator (1.42.0)
  operators/kogito-operator/1.42.0/Dockerfile
  operators/kogito-operator/1.42.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.42.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.42.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.42.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.42.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.42.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.42.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.42.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.42.0/metadata/annotations.yaml
  operators/kogito-operator/1.42.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3071 operator [CI] datadog-operator (1.1.0)
  operators/datadog-operator/1.1.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.1.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.1.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.1.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.1.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.1.0/metadata/annotations.yaml
  operators/datadog-operator/1.1.0/tests/scorecard/config.yaml
  operators/datadog-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3078 operator ossmconsole (0.4.0)
  operators/ossmconsole/0.4.0/bundle.Dockerfile
  operators/ossmconsole/0.4.0/manifests/ossmconsole.clusterserviceversion.yaml
  operators/ossmconsole/0.4.0/manifests/ossmconsole.crd.yaml
  operators/ossmconsole/0.4.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3080 operator project-quay (3.9.0-nightly.20230812)
  operators/project-quay/3.9.0-nightly.20230812/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230812/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230812/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3081 operator project-quay (3.8.11)
  operators/project-quay/3.8.11/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.11/manifests/quayecosystems.crd.yaml
  operators/project-quay/3.8.11/manifests/quayregistries.crd.yaml
  operators/project-quay/3.8.11/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3083 operator gitlab-operator-kubernetes (0.22.4)
  operators/gitlab-operator-kubernetes/0.22.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.22.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.22.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.22.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.22.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3084 operator observability-operator (0.0.25)
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_alertmanagerconfigs.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_alertmanagers.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_monitoringstacks.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_podmonitors.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_probes.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_prometheusagents.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_prometheuses.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_prometheusrules.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_scrapeconfigs.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_servicemonitors.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_thanosqueriers.yaml
  operators/observability-operator/0.0.25/manifests/monitoring.rhobs_thanosrulers.yaml
  operators/observability-operator/0.0.25/manifests/obo-prometheus-operator-admission-webhook_policy_v1_poddisruptionbudget.yaml
  operators/observability-operator/0.0.25/manifests/obo-prometheus-operator-admission-webhook_v1_service.yaml
  operators/observability-operator/0.0.25/manifests/obo-prometheus-operator_v1_service.yaml
  operators/observability-operator/0.0.25/manifests/observability-operator-alertmanager-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.25/manifests/observability-operator-prometheus-operator-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.25/manifests/observability-operator-prometheus-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.25/manifests/observability-operator-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.25/manifests/observability-operator.clusterserviceversion.yaml
  operators/observability-operator/0.0.25/manifests/observability-operator_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/observability-operator/0.0.25/manifests/observability-operator_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/observability-operator/0.0.25/manifests/observability-operator_v1_service.yaml
  operators/observability-operator/0.0.25/metadata/annotations.yaml
  operators/observability-operator/0.0.25/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3069 operator [CI] sonataflow-operator (1.40.1)
  operators/sonataflow-operator/1.40.1/manifests/sonataflow-operator-builder-config_v1_configmap.yaml
  operators/sonataflow-operator/1.40.1/manifests/sonataflow-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sonataflow-operator/1.40.1/manifests/sonataflow-operator-manager-config_v1_configmap.yaml
  operators/sonataflow-operator/1.40.1/manifests/sonataflow-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sonataflow-operator/1.40.1/manifests/sonataflow-operator.clusterserviceversion.yaml
  operators/sonataflow-operator/1.40.1/manifests/sonataflow.org_sonataflowbuilds.yaml
  operators/sonataflow-operator/1.40.1/manifests/sonataflow.org_sonataflowplatforms.yaml
  operators/sonataflow-operator/1.40.1/manifests/sonataflow.org_sonataflows.yaml
  operators/sonataflow-operator/1.40.1/metadata/annotations.yaml
  operators/sonataflow-operator/1.40.1/tests/scorecard/config.yaml
  operators/sonataflow-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3086 operator [N] [CI] move2kube-operator (0.3.8)
  operators/move2kube-operator/0.3.8/bundle.Dockerfile
  operators/move2kube-operator/0.3.8/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.8/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.8/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/move2kube-operator/0.3.8/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.8/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.8/metadata/annotations.yaml
  operators/move2kube-operator/0.3.8/tests/scorecard/config.yaml
  operators/move2kube-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3089 operator project-quay (3.9.0)
  operators/project-quay/3.9.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3093 operator external-secrets-operator (0.8.7)
  operators/external-secrets-operator/0.8.7/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.7/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.7/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3094 operator external-secrets-operator (0.9.3)
  operators/external-secrets-operator/0.9.3/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.3/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.3/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.3/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.3/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.3/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.3/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.3/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.3/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.3/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.3/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.3/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.3/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.3/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.3/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3096 operator awx-operator (2.5.0)
  operators/awx-operator/2.5.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.5.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.5.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.5.0/manifests/awx-operator.v2.5.0.clusterserviceversion.yaml
  operators/awx-operator/2.5.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.5.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.5.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.5.0/metadata/annotations.yaml
  operators/awx-operator/2.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3099 operator [CI] forklift-operator
  operators/forklift-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#3088 operator forklift-operator (2.5.0)
  operators/forklift-operator/2.5.0/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.5.0/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.5.0/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.5.0/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.5.0/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.5.0/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.5.0/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.5.0/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.5.0/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.5.0/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.5.0/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.5.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3100 operator vault-config-operator (0.8.19)
  operators/vault-config-operator/0.8.19/Dockerfile
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.19/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.19/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.19/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.19/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.19/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.19/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.19/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.19/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.19/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.19/metadata/annotations.yaml
  operators/vault-config-operator/0.8.19/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#3101 operator [CI] argocd-operator
  operators/argocd-operator/ci.yaml
Labels: package-validated, authorized-changes, installation-validated

#3102 operator tempo-operator (0.4.0)
  operators/tempo-operator/0.4.0/bundle.Dockerfile
  operators/tempo-operator/0.4.0/manifests/tempo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tempo-operator/0.4.0/manifests/tempo-operator-manager-config_v1_configmap.yaml
  operators/tempo-operator/0.4.0/manifests/tempo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tempo-operator/0.4.0/manifests/tempo-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/tempo-operator/0.4.0/manifests/tempo-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tempo-operator/0.4.0/manifests/tempo-operator-webhook-service_v1_service.yaml
  operators/tempo-operator/0.4.0/manifests/tempo-operator.clusterserviceversion.yaml
  operators/tempo-operator/0.4.0/manifests/tempo.grafana.com_tempostacks.yaml
  operators/tempo-operator/0.4.0/metadata/annotations.yaml
  operators/tempo-operator/0.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3087 operator [N] pulsar-resources-operator (0.4.0-rc)
  operators/pulsar-resources-operator/0.4.0-rc/bundle.Dockerfile
  operators/pulsar-resources-operator/0.4.0-rc/manifests/pulsar-resources-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/pulsar-resources-operator-manager-config_v1_configmap.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/pulsar-resources-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/pulsar-resources-operator.clusterserviceversion.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsarconnections.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsargeoreplications.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsartenants.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsartopics.yaml
  operators/pulsar-resources-operator/0.4.0-rc/metadata/annotations.yaml
  operators/pulsar-resources-operator/0.4.0-rc/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3104 operator dynatrace-operator (0.13.0)
  operators/dynatrace-operator/0.13.0/Dockerfile
  operators/dynatrace-operator/0.13.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.13.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.13.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.13.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.13.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3090 operator hive-operator (1.2.4224-70b666e)
  operators/hive-operator/1.2.4224-70b666e/manifests/hive-operator.v1.2.4224-70b666e.clusterserviceversion.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4224-70b666e/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3105 operator [CI] kepler-operator (0.6.1)
  operators/kepler-operator/0.6.1/ci.yaml
  operators/kepler-operator/0.6.1/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.6.1/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.6.1/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.6.1/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.6.1/metadata/annotations.yaml
  operators/kepler-operator/0.6.1/tests/scorecard/config.yaml
  operators/kepler-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3107 operator project-quay (3.10.0-nightly.20230818)
  operators/project-quay/3.10.0-nightly.20230818/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230818/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230818/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3075 operator mongodb-atlas-kubernetes (1.8.1)
  operators/mongodb-atlas-kubernetes/1.8.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3110 operator project-quay (3.10.0-nightly.20230819)
  operators/project-quay/3.10.0-nightly.20230819/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230819/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230819/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#3112 operator project-quay (3.10.0-nightly.20230821)
  operators/project-quay/3.10.0-nightly.20230821/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230821/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230821/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3116 operator [CI] kepler-operator (0.6.2)
  operators/kepler-operator/0.6.2/ci.yaml
  operators/kepler-operator/0.6.2/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.6.2/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.6.2/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.6.2/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.6.2/metadata/annotations.yaml
  operators/kepler-operator/0.6.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3119 operator pelorus-operator (0.0.8)
  operators/pelorus-operator/0.0.8/manifests/charts.pelorus.dora-metrics.io_peloruses.yaml
  operators/pelorus-operator/0.0.8/manifests/pelorus-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pelorus-operator/0.0.8/manifests/pelorus-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pelorus-operator/0.0.8/manifests/pelorus-operator.clusterserviceversion.yaml
  operators/pelorus-operator/0.0.8/metadata/annotations.yaml
  operators/pelorus-operator/0.0.8/metadata/properties.yaml
  operators/pelorus-operator/0.0.8/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3120 operator [R] service-binding-operator (1.3.4 1.4.0)
  operators/service-binding-operator/1.3.4/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.3.4/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.3.4/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.3.4/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.3.4/metadata/annotations.yaml
  operators/service-binding-operator/1.3.4/tests/scorecard/config.yaml
  operators/service-binding-operator/1.4.0/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.4.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.4.0/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.4.0/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.4.0/metadata/annotations.yaml
  operators/service-binding-operator/1.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#3123 operator project-quay (3.10.0-nightly.20230822)
  operators/project-quay/3.10.0-nightly.20230822/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230822/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230822/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3124 operator windup-operator (0.0.20)
  operators/windup-operator/0.0.20/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.20/manifests/windup.crd.yaml
  operators/windup-operator/0.0.20/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3127 operator hazelcast-platform-operator (5.9.0)
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.9.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.9.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#3128 operator [CI] ack-route53resolver-controller
  operators/ack-route53resolver-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3130 operator project-quay (3.10.0-nightly.20230823)
  operators/project-quay/3.10.0-nightly.20230823/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230823/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230823/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3135 operator move2kube-operator (0.3.9)
  operators/move2kube-operator/0.3.9/bundle.Dockerfile
  operators/move2kube-operator/0.3.9/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.9/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.9/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.9/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.9/metadata/annotations.yaml
  operators/move2kube-operator/0.3.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#3133 operator kubernetes-imagepuller-operator (1.0.6)
  operators/kubernetes-imagepuller-operator/1.0.6/manifests/che.eclipse.org_kubernetesimagepullers.yaml
  operators/kubernetes-imagepuller-operator/1.0.6/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.6/manifests/kubernetes-imagepuller-operator.v1.0.6.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.6/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.6/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3136 operator project-quay (3.10.0-nightly.20230824)
  operators/project-quay/3.10.0-nightly.20230824/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230824/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230824/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3138 operator mongodb-atlas-kubernetes (1.8.2)
  operators/mongodb-atlas-kubernetes/1.8.2/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.8.2/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.8.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3139 operator external-secrets-operator (0.9.4)
  operators/external-secrets-operator/0.9.4/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.4/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.4/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3142 operator [O] forklift-operator (2.5.0)
  operators/forklift-operator/2.5.0/manifests/forklift-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3143 operator [R] opendatahub-operator (1.9.0 2.1.0)
  operators/opendatahub-operator/1.9.0/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/1.9.0/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/1.9.0/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/1.9.0/manifests/kfdef.apps.kubeflow.org_kfdefs.yaml
  operators/opendatahub-operator/1.9.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/1.9.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/1.9.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/1.9.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/1.9.0/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/1.9.0/metadata/annotations.yaml
  operators/opendatahub-operator/1.9.0/tests/scorecard/config.yaml
  operators/opendatahub-operator/2.1.0/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/2.1.0/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/2.1.0/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/2.1.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.1.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/2.1.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3144 operator gitlab-operator-kubernetes (0.23.0)
  operators/gitlab-operator-kubernetes/0.23.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.23.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.23.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.23.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.23.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3145 operator vault-config-operator (0.8.21)
  operators/vault-config-operator/0.8.21/Dockerfile
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.21/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.21/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.21/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.21/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.21/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.21/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.21/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.21/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.21/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.21/metadata/annotations.yaml
  operators/vault-config-operator/0.8.21/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3137 Add v4.15-rc ocp index version
  ci/pipeline-config-ocp.yaml
Labels: allow/ci-changes

#3147 operator patterns-operator (0.0.18)
  operators/patterns-operator/0.0.18/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.18/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.18/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.18/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.18/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.18/metadata/annotations.yaml
  operators/patterns-operator/0.0.18/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3150 operator windup-operator (0.0.21)
  operators/windup-operator/0.0.21/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.21/manifests/windup.crd.yaml
  operators/windup-operator/0.0.21/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3151 operator [R] opendatahub-operator (0.6.0 0.6.1 0.7.0 0.8.0 0.9.0 1.0.0 1.0.10 1.1.0 1.1.1 1.1.2 1.2.0 1.3.0 1.4.0 1.4.1 1.4.2 1.5.0 1.6.0 1.7.0 1.8.0 1.9.0 2.0.0)
  operators/opendatahub-operator/2.1.0/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/2.1.0/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/2.1.0/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/2.1.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.1.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/2.1.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3152 operator opendatahub-operator (2.1.0)
  operators/opendatahub-operator/2.1.0/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/2.1.0/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/2.1.0/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/2.1.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.1.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.1.0/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/2.1.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3154 operator patterns-operator (0.0.19)
  operators/patterns-operator/0.0.19/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.19/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.19/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.19/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.19/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.19/metadata/annotations.yaml
  operators/patterns-operator/0.0.19/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3162 operator neuvector-community-operator (1.4.1)
  operators/neuvector-community-operator/1.4.1/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.4.1/manifests/neuvector-operator.v1.4.1.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.4.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3148 operator kogito-operator (1.43.0)
  operators/kogito-operator/1.43.0/Dockerfile
  operators/kogito-operator/1.43.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.43.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.43.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.43.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.43.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.43.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.43.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.43.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.43.0/metadata/annotations.yaml
  operators/kogito-operator/1.43.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3164 operator codeflare-operator (0.2.0)
  operators/codeflare-operator/0.2.0/manifests/codeflare-operator-manager-config_v1_configmap.yaml
  operators/codeflare-operator/0.2.0/manifests/codeflare-operator-manager-edit-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/codeflare-operator/0.2.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/0.2.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/0.2.0/manifests/codeflare.codeflare.dev_instascales.yaml
  operators/codeflare-operator/0.2.0/manifests/codeflare.codeflare.dev_mcads.yaml
  operators/codeflare-operator/0.2.0/manifests/ibm.com_quotasubtrees.yaml
  operators/codeflare-operator/0.2.0/manifests/mcad.ibm.com_appwrappers.yaml
  operators/codeflare-operator/0.2.0/manifests/mcad.ibm.com_schedulingspecs.yaml
  operators/codeflare-operator/0.2.0/metadata/annotations.yaml
  operators/codeflare-operator/0.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3165 operator codeflare-operator (0.2.1)
  operators/codeflare-operator/0.2.1/manifests/codeflare-operator-manager-config_v1_configmap.yaml
  operators/codeflare-operator/0.2.1/manifests/codeflare-operator-manager-edit-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/codeflare-operator/0.2.1/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/0.2.1/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/0.2.1/manifests/codeflare.codeflare.dev_instascales.yaml
  operators/codeflare-operator/0.2.1/manifests/codeflare.codeflare.dev_mcads.yaml
  operators/codeflare-operator/0.2.1/manifests/ibm.com_quotasubtrees.yaml
  operators/codeflare-operator/0.2.1/manifests/mcad.ibm.com_appwrappers.yaml
  operators/codeflare-operator/0.2.1/manifests/mcad.ibm.com_schedulingspecs.yaml
  operators/codeflare-operator/0.2.1/metadata/annotations.yaml
  operators/codeflare-operator/0.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3167 operator [O] forklift-operator (2.5.0)
  operators/forklift-operator/2.5.0/manifests/forklift-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#3158 operator hive-operator (1.2.4247-4418e43)
  operators/hive-operator/1.2.4247-4418e43/manifests/hive-operator.v1.2.4247-4418e43.clusterserviceversion.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4247-4418e43/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4247-4418e43/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3157 operator [O] opendatahub-operator (2.1.0)
  operators/opendatahub-operator/2.1.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, allow/serious-changes-to-existing, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14
