Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-04, with the labels that each got.

#2487 operator project-quay (3.9.0-nightly.20230401)
  operators/project-quay/3.9.0-nightly.20230401/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230401/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2490 operator project-quay (3.9.0-nightly.20230402)
  operators/project-quay/3.9.0-nightly.20230402/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230402/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2491 operator edp-keycloak-operator (1.15.0)
  operators/edp-keycloak-operator/1.15.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.15.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.15.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2493 operator aqua (6.5.11)
  operators/aqua/6.5.11/bundle.Dockerfile
  operators/aqua/6.5.11/manifests/aqua-operator.v6.5.11.clusterserviceversion.yaml
  operators/aqua/6.5.11/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.11/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.11/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.11/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2494 operator hive-operator (1.2.4081-e880f48)
  operators/hive-operator/1.2.4081-e880f48/hive-operator.v1.2.4081-e880f48.clusterserviceversion.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4081-e880f48/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4081-e880f48/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4081-e880f48/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4081-e880f48/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2324 operator eginnovations-operator (0.0.5)
  operators/eginnovations-operator/0.0.5/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.5/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.5/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.5/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.5/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.5/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.5/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2492 operator gitlab-operator-kubernetes (0.18.1)
  operators/gitlab-operator-kubernetes/0.18.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.18.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.18.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.18.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2499 operator aqua (2022.4.11)
  operators/aqua/2022.4.11/bundle.Dockerfile
  operators/aqua/2022.4.11/manifests/aqua-operator.v2022.4.11.clusterserviceversion.yaml
  operators/aqua/2022.4.11/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.11/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.11/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.11/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.11/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.11/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.11/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.11/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.11/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.11/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.11/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.11/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2503 operator kiali (1.66.0)
  operators/kiali/1.66.0/bundle.Dockerfile
  operators/kiali/1.66.0/manifests/kiali.crd.yaml
  operators/kiali/1.66.0/manifests/kiali.v1.66.0.clusterserviceversion.yaml
  operators/kiali/1.66.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2501 operator dell-csi-operator (1.11.0)
  operators/dell-csi-operator/1.11.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.11.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.11.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.11.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.11.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.11.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.11.0/dell-csi-operator.v1.11.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2497 operator [CI] awx-operator
  operators/awx-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2505 operator [R] ecr-secret-operator (0.3.2 0.4.0)
  operators/ecr-secret-operator/0.3.1/metadata/annotations.yaml
  operators/ecr-secret-operator/0.3.1/tests/scorecard/config.yaml
  operators/ecr-secret-operator/0.3.2/ecr-secret-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ecr-secret-operator/0.3.2/ecr-secret-operator-manager-config_v1_configmap.yaml
  operators/ecr-secret-operator/0.3.2/ecr-secret-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ecr-secret-operator/0.3.2/ecr-secret-operator.clusterserviceversion.yaml
  operators/ecr-secret-operator/0.3.2/ecr-secret-sample_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.3.2/ecr-secret_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.3.2/ecr.mobb.redhat.com_secrets.yaml
  operators/ecr-secret-operator/0.3.2/metadata/annotations.yaml
  operators/ecr-secret-operator/0.3.2/tests/scorecard/config.yaml
  operators/ecr-secret-operator/0.4.0/ecr-secret-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ecr-secret-operator/0.4.0/ecr-secret-operator-manager-config_v1_configmap.yaml
  operators/ecr-secret-operator/0.4.0/ecr-secret-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ecr-secret-operator/0.4.0/ecr-secret-operator.clusterserviceversion.yaml
  operators/ecr-secret-operator/0.4.0/ecr-secret-sample_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.4.0/ecr-secret_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.4.0/ecr.mobb.redhat.com_argohelmreposecrets.yaml
  operators/ecr-secret-operator/0.4.0/ecr.mobb.redhat.com_secrets.yaml
  operators/ecr-secret-operator/ecr-secret-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2506 operator kogito-operator (1.36.0)
  operators/kogito-operator/1.36.0/Dockerfile
  operators/kogito-operator/1.36.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.36.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.36.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.36.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.36.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.36.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.36.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.36.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.36.0/metadata/annotations.yaml
  operators/kogito-operator/1.36.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2509 operator gitlab-operator-kubernetes (0.18.2)
  operators/gitlab-operator-kubernetes/0.18.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.18.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.18.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.18.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2500 operator dell-csm-operator (1.1.0)
  operators/dell-csm-operator/1.1.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.1.0/manifests/dell-csm-operator.v1.1.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.1.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2513 operator patterns-operator (0.0.13)
  operators/patterns-operator/0.0.13/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.13/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.13/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.13/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.13/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.13/metadata/annotations.yaml
  operators/patterns-operator/0.0.13/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2519 operator camel-karavan-operator (3.20.1)
  operators/camel-karavan-operator/3.20.1/manifests/camel-karavan-operator.v3.20.1.clusterserviceversion.yaml
  operators/camel-karavan-operator/3.20.1/manifests/karavans.camel.apache.org.crd.yml
  operators/camel-karavan-operator/3.20.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2514 operator percona-postgresql-operator (1.4.0)
  operators/percona-postgresql-operator/1.4.0/manifests/percona-postgresql-operator.v1.4.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/perconapgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/pgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/pgpolicies.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/pgreplicas.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/pgtasks.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.4.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2479 operator [O] cluster-aas-operator (0.0.6)
  operators/cluster-aas-operator/0.0.6/manifests/cluster-aas-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2511 operator pelorus-operator (0.0.6)
  operators/pelorus-operator/0.0.6/manifests/charts.pelorus.dora-metrics.io_peloruses.yaml
  operators/pelorus-operator/0.0.6/manifests/pelorus-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pelorus-operator/0.0.6/manifests/pelorus-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pelorus-operator/0.0.6/manifests/pelorus-operator.clusterserviceversion.yaml
  operators/pelorus-operator/0.0.6/metadata/annotations.yaml
  operators/pelorus-operator/0.0.6/metadata/properties.yaml
  operators/pelorus-operator/0.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2520 operator opendatahub-operator (1.5.0)
  operators/opendatahub-operator/1.5.0/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/1.5.0/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/1.5.0/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/1.5.0/manifests/kfdef.apps.kubeflow.org_kfdefs.yaml
  operators/opendatahub-operator/1.5.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/1.5.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/1.5.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/1.5.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/1.5.0/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/1.5.0/metadata/annotations.yaml
  operators/opendatahub-operator/1.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2530 operator annotationlab (4.8.3)
  operators/annotationlab/4.8.3/bundle.Dockerfile
  operators/annotationlab/4.8.3/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.8.3/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.8.3/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.8.3/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.8.3/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.8.3/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.8.3/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.8.3/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.8.3/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.8.3/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.8.3/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.8.3/metadata/annotations.yaml
  operators/annotationlab/4.8.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2521 operator [N] [CI] tempo-operator (0.1.0)
  operators/tempo-operator/0.1.0/manifests/tempo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tempo-operator/0.1.0/manifests/tempo-operator-manager-config_v1_configmap.yaml
  operators/tempo-operator/0.1.0/manifests/tempo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tempo-operator/0.1.0/manifests/tempo-operator-webhook-service_v1_service.yaml
  operators/tempo-operator/0.1.0/manifests/tempo-operator.clusterserviceversion.yaml
  operators/tempo-operator/0.1.0/manifests/tempo.grafana.com_tempostacks.yaml
  operators/tempo-operator/0.1.0/metadata/annotations.yaml
  operators/tempo-operator/0.1.0/tests/scorecard/config.yaml
  operators/tempo-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2392 operator [N] [CI] dbaas-operator (0.5.0)
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaas-service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasconnection-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasinventory-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasinventory-viewer_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaaspolicy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaaspolicy-viewer_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasprovider-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasprovider-viewers_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-edit-dedicated-admins_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-manager-config_v1_configmap.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-webhook-service_v1_service.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator.clusterserviceversion.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasconnections.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasinstances.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasinventories.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasplatforms.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaaspolicies.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasproviders.yaml
  operators/dbaas-operator/0.5.0/metadata/annotations.yaml
  operators/dbaas-operator/0.5.0/metadata/dependencies.yaml
  operators/dbaas-operator/0.5.0/tests/scorecard/config.yaml
  operators/dbaas-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2536 Remove dbaas-operator until olm.constraint migration issue is resolved
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaas-service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasconnection-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasinventory-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasinventory-viewer_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaaspolicy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaaspolicy-viewer_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasprovider-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasprovider-viewers_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-edit-dedicated-admins_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-manager-config_v1_configmap.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-webhook-service_v1_service.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator.clusterserviceversion.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasconnections.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasinstances.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasinventories.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasplatforms.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaaspolicies.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasproviders.yaml
  operators/dbaas-operator/0.5.0/metadata/annotations.yaml
  operators/dbaas-operator/0.5.0/metadata/dependencies.yaml
  operators/dbaas-operator/0.5.0/tests/scorecard/config.yaml
  operators/dbaas-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2534 operator [CI] ecr-secret-operator (0.4.1)
  operators/ecr-secret-operator/0.4.1/ecr-secret-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ecr-secret-operator/0.4.1/ecr-secret-operator-manager-config_v1_configmap.yaml
  operators/ecr-secret-operator/0.4.1/ecr-secret-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ecr-secret-operator/0.4.1/ecr-secret-operator.clusterserviceversion.yaml
  operators/ecr-secret-operator/0.4.1/ecr-secret-sample_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.4.1/ecr-secret_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.4.1/ecr.mobb.redhat.com_argohelmreposecrets.yaml
  operators/ecr-secret-operator/0.4.1/ecr.mobb.redhat.com_secrets.yaml
  operators/ecr-secret-operator/ci.yaml
  operators/ecr-secret-operator/ecr-secret-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2537 operator hazelcast-platform-operator (5.7.0)
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.7.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2543 operator windup-operator (0.0.13)
  operators/windup-operator/0.0.13/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.13/manifests/windup.crd.yaml
  operators/windup-operator/0.0.13/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2538 operator [N] [CI] dbaas-operator (0.5.0)
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaas-service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasconnection-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasinventory-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasinventory-viewer_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaaspolicy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaaspolicy-viewer_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasprovider-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-dbaasprovider-viewers_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-edit-dedicated-admins_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-manager-config_v1_configmap.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator-webhook-service_v1_service.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas-operator.clusterserviceversion.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasconnections.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasinstances.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasinventories.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasplatforms.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaaspolicies.yaml
  operators/dbaas-operator/0.5.0/manifests/dbaas.redhat.com_dbaasproviders.yaml
  operators/dbaas-operator/0.5.0/metadata/annotations.yaml
  operators/dbaas-operator/0.5.0/metadata/dependencies.yaml
  operators/dbaas-operator/0.5.0/metadata/properties.yaml
  operators/dbaas-operator/0.5.0/tests/scorecard/config.yaml
  operators/dbaas-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2547 operator hive-operator (1.2.4085-4d27131)
  operators/hive-operator/1.2.4085-4d27131/hive-operator.v1.2.4085-4d27131.clusterserviceversion.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4085-4d27131/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4085-4d27131/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4085-4d27131/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2549 operator jaeger (1.44.0)
  operators/jaeger/1.44.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.44.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.44.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.44.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.44.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.44.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.44.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.44.0/metadata/annotations.yaml
  operators/jaeger/1.44.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2541 operator gitlab-operator-kubernetes (0.18.3)
  operators/gitlab-operator-kubernetes/0.18.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.18.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.18.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.18.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2555 operator mongodb-atlas-kubernetes (1.7.2)
  operators/mongodb-atlas-kubernetes/1.7.2/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.7.2/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.7.2/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.7.2/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.7.2/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.7.2/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.7.2/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.7.2/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.7.2/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.7.2/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.7.2/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.7.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2556 operator keycloak-operator (21.1.0)
  operators/keycloak-operator/21.1.0/bundle.Dockerfile
  operators/keycloak-operator/21.1.0/manifests/keycloak-operator.v21.1.0.clusterserviceversion.yaml
  operators/keycloak-operator/21.1.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.0/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2535 operator [N] konveyor-operator (0.1.0)
  operators/konveyor-operator/0.1.0/manifests/konveyor-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2532 operator verticadb-operator (1.10.2)
  operators/verticadb-operator/1.10.2/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.10.2/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.10.2/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.10.2/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.10.2/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.10.2/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.10.2/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.10.2/metadata/annotations.yaml
  operators/verticadb-operator/1.10.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2557 operator [N] [CI] confluent-for-kubernetes (2.3.4)
  operators/confluent-for-kubernetes/2.3.4/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/confluent-operator-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_migrationjobs.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.3.4/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.3.4/metadata/annotations.yaml
  operators/confluent-for-kubernetes/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2550 operator annotationlab (4.8.5)
  operators/annotationlab/4.8.5/bundle.Dockerfile
  operators/annotationlab/4.8.5/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.8.5/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.8.5/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.8.5/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.8.5/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.8.5/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.8.5/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.8.5/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.8.5/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.8.5/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.8.5/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.8.5/metadata/annotations.yaml
  operators/annotationlab/4.8.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, installation-validated-4.8, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2553 operator [CI] ibm-security-verify-access-operator (23.3.0)
  operators/ibm-security-verify-access-operator/23.3.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/23.3.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/23.3.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/23.3.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/23.3.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/23.3.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/23.3.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/23.3.0/tests/scorecard/config.yaml
  operators/ibm-security-verify-access-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2561 operator loki-operator (0.3.0)
  operators/loki-operator/0.3.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.3.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.3.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.3.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.3.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.3.0/metadata/annotations.yaml
  operators/loki-operator/0.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2559 operator dynatrace-operator (0.11.0)
  operators/dynatrace-operator/0.11.0/Dockerfile
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.11.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2566 operator community-windows-machine-config-operator (8.0.0)
  operators/community-windows-machine-config-operator/8.0.0/manifests/community-windows-machine-config-operator.clusterserviceversion.yaml
  operators/community-windows-machine-config-operator/8.0.0/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/8.0.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/8.0.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/community-windows-machine-config-operator/8.0.0/manifests/windows-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/community-windows-machine-config-operator/8.0.0/manifests/windows-exporter_v1_service.yaml
  operators/community-windows-machine-config-operator/8.0.0/manifests/windows-instance-config-daemon_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/community-windows-machine-config-operator/8.0.0/manifests/windows-instance-config-daemon_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/8.0.0/manifests/windows-instance-config-daemon_v1_serviceaccount.yaml
  operators/community-windows-machine-config-operator/8.0.0/manifests/windows-prometheus-k8s-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/community-windows-machine-config-operator/8.0.0/metadata/annotations.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped

#2567 operator gitlab-runner-operator (1.14.0)
  operators/gitlab-runner-operator/1.14.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.14.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.14.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2560 ISV-3506: add 4.13 index version
  ci/pipeline-config-ocp.yaml
Labels: allow/ci-changes, openshift-started-4.12, jira/valid-reference

#2575 operator project-quay (3.8.6)
  operators/project-quay/3.8.6/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.6/quayecosystems.crd.yaml
  operators/project-quay/3.8.6/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2574 operator hive-operator (1.2.4093-7cbb912)
  operators/hive-operator/1.2.4093-7cbb912/hive-operator.v1.2.4093-7cbb912.clusterserviceversion.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4093-7cbb912/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4093-7cbb912/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4093-7cbb912/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2572 operator gitlab-operator-kubernetes (0.19.0)
  operators/gitlab-operator-kubernetes/0.19.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.19.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.19.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.19.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2577 operator keycloak-operator (21.1.1)
  operators/keycloak-operator/21.1.1/bundle.Dockerfile
  operators/keycloak-operator/21.1.1/manifests/keycloak-operator.v21.1.1.clusterserviceversion.yaml
  operators/keycloak-operator/21.1.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.1/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2576 operator kiali (1.67.0)
  operators/kiali/1.67.0/bundle.Dockerfile
  operators/kiali/1.67.0/manifests/kiali.crd.yaml
  operators/kiali/1.67.0/manifests/kiali.v1.67.0.clusterserviceversion.yaml
  operators/kiali/1.67.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2585 operator [CI] pulp-operator
  operators/pulp-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2580 operator cert-utils-operator (1.3.11)
  operators/cert-utils-operator/1.3.11/Dockerfile
  operators/cert-utils-operator/1.3.11/manifests/cert-utils-operator-certificate-rule-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/cert-utils-operator/1.3.11/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.11/manifests/cert-utils-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cert-utils-operator/1.3.11/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.11/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.11/manifests/cert-utils-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/cert-utils-operator/1.3.11/manifests/cert-utils-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/cert-utils-operator/1.3.11/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.11/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.11/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2584 operator pulp-operator (1.0.0-alpha.6)
  operators/pulp-operator/1.0.0-alpha.6/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.6/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2583 operator infinispan (2.3.2)
  operators/infinispan/2.3.2/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.2/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.2/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.2/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.2/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.2/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.2/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.2/metadata/annotations.yaml
  operators/infinispan/2.3.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12
