Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-09, with the labels that each got.

#3171 operator vault-config-operator (0.8.22)
  operators/vault-config-operator/0.8.22/Dockerfile
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.22/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.22/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.22/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.22/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.22/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.22/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.22/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.22/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.22/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.22/metadata/annotations.yaml
  operators/vault-config-operator/0.8.22/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.15

#3173 operator [CI] ack-networkfirewall-controller
  operators/ack-networkfirewall-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped

#3174 operator edp-keycloak-operator (1.17.0)
  operators/edp-keycloak-operator/1.17.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/edp-keycloak-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.17.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.17.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-failed-4.15

#3176 operator mariadb-operator (0.20.0)
  operators/mariadb-operator/0.20.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.20.0/metadata/annotations.yaml
  operators/mariadb-operator/0.20.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3177 operator patterns-operator (0.0.20)
  operators/patterns-operator/0.0.20/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.20/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.20/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.20/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.20/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.20/metadata/annotations.yaml
  operators/patterns-operator/0.0.20/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-failed-4.15

#3178 operator vault-config-operator (0.8.23)
  operators/vault-config-operator/0.8.23/Dockerfile
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.23/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.23/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.23/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.23/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.23/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.23/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.23/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.23/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.23/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.23/metadata/annotations.yaml
  operators/vault-config-operator/0.8.23/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-failed-4.15

#3179 operator gitlab-operator-kubernetes (0.23.1)
  operators/gitlab-operator-kubernetes/0.23.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.23.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.23.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.23.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.23.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-failed-4.15

#3182 operator [CI] jaeger
  operators/jaeger/ci.yaml
Labels: package-validated, authorized-changes, installation-validated

#3183 operator edp-keycloak-operator (1.17.1)
  operators/edp-keycloak-operator/1.17.1/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/edp-keycloak-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.17.1/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.17.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-failed-4.15

#3184 operator patterns-operator (0.0.21)
  operators/patterns-operator/0.0.21/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.21/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.21/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.21/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.21/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.21/metadata/annotations.yaml
  operators/patterns-operator/0.0.21/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-failed-4.15

#3185 operator camel-k (2.0.1)
  operators/camel-k/2.0.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.0.1/manifests/camel-k.v2.0.1.clusterserviceversion.yaml
  operators/camel-k/2.0.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.0.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.0.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.0.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.0.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.0.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.0.1/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.0.1/metadata/annotations.yaml
  operators/camel-k/2.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-failed-4.15

#3192 Delete fpga-dfl-operator
  operators/fpga-dfl-operator/0.0.1/bundle.Dockerfile
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-controller-manager-metrics-service_v1_service.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-fpgadflconfig-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-fpgadflconfig-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-fpgadfloperator-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-fpgadfloperator-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga-dfl-operator.clusterserviceversion.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga.silicom.dk_fpgadflclusters.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga.silicom.dk_fpgadflnodes.yaml
  operators/fpga-dfl-operator/0.0.1/manifests/fpga.silicom.dk_fpgadfloperators.yaml
  operators/fpga-dfl-operator/0.0.1/metadata/annotations.yaml
  operators/fpga-dfl-operator/0.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3190 operator pulp-operator (1.0.0-beta.1)
  operators/pulp-operator/1.0.0-beta.1/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/pulp-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-beta.1/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-beta.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3188 operator grafana-operator (5.4.0)
  operators/grafana-operator/5.4.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.4.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.4.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.4.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.4.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.4.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.4.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.4.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.4.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3214 operator kiali (1.73.0)
  operators/kiali/1.73.0/bundle.Dockerfile
  operators/kiali/1.73.0/manifests/kiali.crd.yaml
  operators/kiali/1.73.0/manifests/kiali.v1.73.0.clusterserviceversion.yaml
  operators/kiali/1.73.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3227 operator cluster-relocation-operator (0.9.8)
  operators/cluster-relocation-operator/0.9.8/manifests/cluster-relocation-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-relocation-operator/0.9.8/manifests/cluster-relocation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-relocation-operator/0.9.8/manifests/cluster-relocation-operator.clusterserviceversion.yaml
  operators/cluster-relocation-operator/0.9.8/manifests/rhsyseng.github.io_clusterrelocations.yaml
  operators/cluster-relocation-operator/0.9.8/metadata/annotations.yaml
  operators/cluster-relocation-operator/0.9.8/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3226 operator project-quay (3.9.1)
  operators/project-quay/3.9.1/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.1/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.15

#3216 operator [CI] kepler-operator (0.7.2)
  operators/kepler-operator/0.7.2/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.7.2/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.7.2/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.7.2/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.7.2/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.7.2/metadata/annotations.yaml
  operators/kepler-operator/0.7.2/tests/scorecard/config.yaml
  operators/kepler-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3187 operator [O] multicluster-global-hub-operator (1.0.0-dev)
  operators/multicluster-global-hub-operator/1.0.0-dev/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.0.0-dev/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, allow/serious-changes-to-existing, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3232 operator cass-operator-community (1.17.1)
  operators/cass-operator-community/1.17.1/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.17.1/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.17.1/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.17.1/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.17.1/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.17.1/metadata/annotations.yaml
  operators/cass-operator-community/1.17.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3189 operator yaks (0.15.1)
  operators/yaks/0.15.1/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.15.1/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.15.1/manifests/yaks.v0.15.1.clusterserviceversion.yaml
  operators/yaks/0.15.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3236 operator netobserv-operator (1.0.4)
  operators/netobserv-operator/1.0.4/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-openshift-netobserv-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-openshift-netobserv-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.0.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3241 operator keycloak-operator (22.0.2)
  operators/keycloak-operator/22.0.2/bundle.Dockerfile
  operators/keycloak-operator/22.0.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3231 operator project-quay (3.10.0-nightly.20230912)
  operators/project-quay/3.10.0-nightly.20230912/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230912/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230912/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3243 operator grafana-operator (5.4.1)
  operators/grafana-operator/5.4.1/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.4.1/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.4.1/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.4.1/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.4.1/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.4.1/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.4.1/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.4.1/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.4.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3245 operator [CI] beegfs-csi-driver-operator (1.5.0)
  operators/beegfs-csi-driver-operator/1.5.0/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.5.0/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.5.0/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.5.0/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.5.0/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.5.0/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.5.0/tests/scorecard/config.yaml
  operators/beegfs-csi-driver-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3244 operator project-quay (3.8.12)
  operators/project-quay/3.8.12/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.12/manifests/quayecosystems.crd.yaml
  operators/project-quay/3.8.12/manifests/quayregistries.crd.yaml
  operators/project-quay/3.8.12/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3248 operator portworx-essentials (23.7.0)
  operators/portworx-essentials/23.7.0/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.7.0/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.7.0/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/23.7.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3194 operator awx-operator (2.5.1)
  operators/awx-operator/2.5.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.5.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.5.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.5.1/manifests/awx-operator.v2.5.1.clusterserviceversion.yaml
  operators/awx-operator/2.5.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.5.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.5.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.5.1/metadata/annotations.yaml
  operators/awx-operator/2.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3247 operator hive-operator (1.2.4270-6e07fdc)
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive-operator.v1.2.4270-6e07fdc.clusterserviceversion.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4270-6e07fdc/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3250 operator gitlab-operator-kubernetes (0.23.3)
  operators/gitlab-operator-kubernetes/0.23.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.23.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.23.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.23.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.23.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3253 operator kepler-operator (0.8.0)
  operators/kepler-operator/0.8.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.8.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.8.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.8.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.8.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.8.0/metadata/annotations.yaml
  operators/kepler-operator/0.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3252 operator project-quay (3.10.0-nightly.20230913)
  operators/project-quay/3.10.0-nightly.20230913/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230913/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230913/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3255 operator keycloak-operator (22.0.3)
  operators/keycloak-operator/22.0.3/bundle.Dockerfile
  operators/keycloak-operator/22.0.3/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.3/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3261 operator self-node-remediation (0.7.0)
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.7.0/metadata/annotations.yaml
  operators/self-node-remediation/0.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3265 operator project-quay (3.10.0-nightly.20230914)
  operators/project-quay/3.10.0-nightly.20230914/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230914/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230914/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3263 operator machine-deletion-remediation (0.2.0)
  operators/machine-deletion-remediation/0.2.0/manifests/machine-deletion-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/machine-deletion-remediation/0.2.0/manifests/machine-deletion-remediation-machine-deletion-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-remediation/0.2.0/manifests/machine-deletion-remediation-manager-config_v1_configmap.yaml
  operators/machine-deletion-remediation/0.2.0/manifests/machine-deletion-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-remediation/0.2.0/manifests/machine-deletion-remediation.clusterserviceversion.yaml
  operators/machine-deletion-remediation/0.2.0/manifests/machine-deletion-remediation.medik8s.io_machinedeletionremediations.yaml
  operators/machine-deletion-remediation/0.2.0/manifests/machine-deletion-remediation.medik8s.io_machinedeletionremediationtemplates.yaml
  operators/machine-deletion-remediation/0.2.0/metadata/annotations.yaml
  operators/machine-deletion-remediation/0.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3266 operator patterns-operator (0.0.22)
  operators/patterns-operator/0.0.22/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.22/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.22/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.22/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.22/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.22/metadata/annotations.yaml
  operators/patterns-operator/0.0.22/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3254 operator [O] kiali (1.47.0)
  operators/kiali/1.47.0/manifests/kiali.v1.47.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3220 operator strimzi-kafka-operator (0.37.0)
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimzi-cluster-operator.v0.37.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3273 operator project-quay (3.10.0-nightly.20230915)
  operators/project-quay/3.10.0-nightly.20230915/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230915/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230915/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3224 operator [CI] koku-metrics-operator (3.0.0)
  operators/koku-metrics-operator/3.0.0/Dockerfile
  operators/koku-metrics-operator/3.0.0/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/3.0.0/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/3.0.0/metadata/annotations.yaml
  operators/koku-metrics-operator/3.0.0/tests/scorecard/config.yaml
  operators/koku-metrics-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3279 operator group-sync-operator (0.0.27)
  operators/group-sync-operator/0.0.27/Dockerfile
  operators/group-sync-operator/0.0.27/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.27/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.27/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.27/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.27/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.27/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.27/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.27/metadata/annotations.yaml
  operators/group-sync-operator/0.0.27/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#3280 operator kogito-operator (1.44.1)
  operators/kogito-operator/1.44.1/Dockerfile
  operators/kogito-operator/1.44.1/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.44.1/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.44.1/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.44.1/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.44.1/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.44.1/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.44.1/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.44.1/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.44.1/metadata/annotations.yaml
  operators/kogito-operator/1.44.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3195 operator awx-operator (2.5.2)
  operators/awx-operator/2.5.2/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.5.2/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.5.2/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.5.2/manifests/awx-operator.v2.5.2.clusterserviceversion.yaml
  operators/awx-operator/2.5.2/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.5.2/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.5.2/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.5.2/metadata/annotations.yaml
  operators/awx-operator/2.5.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3264 operator awx-operator (2.5.3)
  operators/awx-operator/2.5.3/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.5.3/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.5.3/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.5.3/manifests/awx-operator.v2.5.3.clusterserviceversion.yaml
  operators/awx-operator/2.5.3/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.5.3/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.5.3/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.5.3/metadata/annotations.yaml
  operators/awx-operator/2.5.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3281 operator postgresql (5.4.2)
  operators/postgresql/5.4.2/Dockerfile
  operators/postgresql/5.4.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.2/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.4.2/metadata/annotations.yaml
  operators/postgresql/5.4.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3295 operator project-quay (3.10.0-nightly.20230916)
  operators/project-quay/3.10.0-nightly.20230916/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230916/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230916/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3298 operator project-quay (3.10.0-nightly.20230917)
  operators/project-quay/3.10.0-nightly.20230917/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230917/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230917/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3301 operator patterns-operator (0.0.24)
  operators/patterns-operator/0.0.24/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.24/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.24/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.24/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.24/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.24/metadata/annotations.yaml
  operators/patterns-operator/0.0.24/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3300 operator project-quay (3.10.0-nightly.20230918)
  operators/project-quay/3.10.0-nightly.20230918/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230918/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230918/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3302 operator [R] stolostron (0.1.0 0.1.1 0.1.2 0.1.3 0.1.4 0.2.1)
  operators/stolostron/0.2.0/manifests/core.observatorium.io_observatoria.yaml
  operators/stolostron/0.2.0/manifests/manager-config_v1_configmap.yaml
  operators/stolostron/0.2.0/manifests/multicluster-observability-webhook-service_v1_service.yaml
  operators/stolostron/0.2.0/manifests/observability.open-cluster-management.io_multiclusterobservabilities.yaml
  operators/stolostron/0.2.0/manifests/observability.open-cluster-management.io_observabilityaddons.yaml
  operators/stolostron/0.2.0/manifests/operator.open-cluster-management.io_multiclusterhubs.yaml
  operators/stolostron/0.2.0/manifests/stolostron.v0.2.0.clusterserviceversion.yaml
  operators/stolostron/0.2.0/manifests/submarineraddon.open-cluster-management.io_submarinerconfigs.yaml
  operators/stolostron/0.2.0/manifests/submarineraddon.open-cluster-management.io_submarinerdiagnoseconfigs.yaml
  operators/stolostron/0.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#3303 operator [R] stolostron-engine (0.1.0 0.1.1 0.1.2 0.1.3 0.1.4)
  operators/stolostron-engine/0.2.0/manifests/multicluster-engine-operator-config_v1_configmap.yaml
  operators/stolostron-engine/0.2.0/manifests/multicluster-engine-operator-webhook-service_v1_service.yaml
  operators/stolostron-engine/0.2.0/manifests/multicluster.openshift.io_multiclusterengines.yaml
  operators/stolostron-engine/0.2.0/manifests/stolostron-engine.v0.2.0.clusterserviceversion.yaml
  operators/stolostron-engine/0.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3305 operator [R] [CI] falcon-operator (0.5.1 0.5.2 0.5.3 0.5.4 0.5.5)
  operators/falcon-operator/0.5.1/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.1/metadata/annotations.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.2/metadata/annotations.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.3/metadata/annotations.yaml
  operators/falcon-operator/0.5.4/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.4/metadata/annotations.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.5/metadata/annotations.yaml
  operators/falcon-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3307 operator falcon-operator (0.8.1)
  operators/falcon-operator/0.8.1/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.8.1/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.8.1/manifests/falcon-operator-falconcontainer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.8.1/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.8.1/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.8.1/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.8.1/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.8.1/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.8.1/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.8.1/metadata/annotations.yaml
  operators/falcon-operator/0.8.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3309 operator project-quay (3.10.0-nightly.20230919)
  operators/project-quay/3.10.0-nightly.20230919/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230919/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230919/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3310 operator pubsubplus-eventbroker-operator (1.0.1)
  operators/pubsubplus-eventbroker-operator/1.0.1/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.0.1/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.0.1/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.15

#3304 operator hive-operator (1.2.4281-64ea4dc)
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive-operator.v1.2.4281-64ea4dc.clusterserviceversion.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4281-64ea4dc/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3306 operator [CI] kubecost (1.106.0)
  operators/kubecost/1.106.0/bundle.Dockerfile
  operators/kubecost/1.106.0/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost/1.106.0/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost/1.106.0/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost/1.106.0/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost/1.106.0/metadata/annotations.yaml
  operators/kubecost/1.106.0/tests/scorecard/config.yaml
  operators/kubecost/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3311 operator cluster-relocation-operator (0.9.9)
  operators/cluster-relocation-operator/0.9.9/manifests/cluster-relocation-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-relocation-operator/0.9.9/manifests/cluster-relocation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-relocation-operator/0.9.9/manifests/cluster-relocation-operator.clusterserviceversion.yaml
  operators/cluster-relocation-operator/0.9.9/manifests/rhsyseng.github.io_clusterrelocations.yaml
  operators/cluster-relocation-operator/0.9.9/metadata/annotations.yaml
  operators/cluster-relocation-operator/0.9.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3314 operator project-quay (3.10.0-nightly.20230920)
  operators/project-quay/3.10.0-nightly.20230920/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230920/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230920/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3315 operator node-maintenance-operator (0.16.0)
  operators/node-maintenance-operator/0.16.0/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.16.0/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.16.0/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.16.0/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.16.0/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.16.0/metadata/annotations.yaml
  operators/node-maintenance-operator/0.16.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3317 operator [O] kubecost (1.106.0)
  operators/kubecost/1.106.0/manifests/kubecost-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3318 operator codeflare-operator (1.0.0-rc.1)
  operators/codeflare-operator/1.0.0-rc.1/manifests/codeflare-operator-manager-edit-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/codeflare-operator/1.0.0-rc.1/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.0.0-rc.1/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.0.0-rc.1/manifests/quota.codeflare.dev_quotasubtrees.yaml
  operators/codeflare-operator/1.0.0-rc.1/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.0.0-rc.1/manifests/workload.codeflare.dev_schedulingspecs.yaml
  operators/codeflare-operator/1.0.0-rc.1/metadata/annotations.yaml
  operators/codeflare-operator/1.0.0-rc.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.15

#3319 operator forklift-operator (2.5.1)
  operators/forklift-operator/2.5.1/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.5.1/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.5.1/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.5.1/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.5.1/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.5.1/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.5.1/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.5.1/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.5.1/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.5.1/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.5.1/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.5.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3320 operator [R] kubecost (1.97.0 1.99.0)
  operators/kubecost/1.97.0/metadata/annotations.yaml
  operators/kubecost/1.99.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3324 operator project-quay (3.10.0-nightly.20230921)
  operators/project-quay/3.10.0-nightly.20230921/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230921/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230921/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3325 operator [O] kubecost (1.106.0)
  operators/kubecost/1.106.0/manifests/kubecost-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#3329 operator external-secrets-operator (0.9.5)
  operators/external-secrets-operator/0.9.5/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.5/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.5/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3330 operator gitlab-operator-kubernetes (0.23.4)
  operators/gitlab-operator-kubernetes/0.23.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.23.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.23.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.23.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.23.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3332 operator project-quay (3.10.0-nightly.20230922)
  operators/project-quay/3.10.0-nightly.20230922/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230922/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230922/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3333 operator [O] kubecost (1.106.0)
  operators/kubecost/1.106.0/manifests/kubecost-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, openshift-started-4.15

#3334 operator snapscheduler (3.3.0)
  operators/snapscheduler/3.3.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/3.3.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/3.3.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/3.3.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/3.3.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/3.3.0/metadata/annotations.yaml
  operators/snapscheduler/3.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3259 operator move2kube-operator (0.3.10-rc.0)
  operators/move2kube-operator/0.3.10-rc.0/bundle.Dockerfile
  operators/move2kube-operator/0.3.10-rc.0/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.10-rc.0/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.10-rc.0/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.10-rc.0/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.10-rc.0/metadata/annotations.yaml
  operators/move2kube-operator/0.3.10-rc.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-failed-4.15

#3335 operator project-quay (3.10.0-nightly.20230923)
  operators/project-quay/3.10.0-nightly.20230923/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230923/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230923/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3337 operator redis-operator (0.15.1)
  operators/redis-operator/0.15.1/manifests/redis-operator.v0.15.1.clusterserviceversion.yaml
  operators/redis-operator/0.15.1/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.1/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.1/manifests/redisreplications.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.1/manifests/redissentinels.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3339 operator move2kube-operator (0.3.10)
  operators/move2kube-operator/0.3.10/bundle.Dockerfile
  operators/move2kube-operator/0.3.10/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.10/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.10/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.10/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.10/metadata/annotations.yaml
  operators/move2kube-operator/0.3.10/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3342 operator [CI] node-healthcheck-operator (0.6.0)
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-node-remediation-console-plugin_v1_service.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-webhook-service_v1_service.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.6.0/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.6.0/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.6.0/tests/scorecard/config.yaml
  operators/node-healthcheck-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3341 operator project-quay (3.10.0-nightly.20230925)
  operators/project-quay/3.10.0-nightly.20230925/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230925/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230925/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3181 operator jaeger (1.48.1)
  operators/jaeger/1.48.1/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.48.1/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.48.1/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.48.1/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.48.1/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.48.1/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.48.1/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.48.1/metadata/annotations.yaml
  operators/jaeger/1.48.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3345 operator project-quay (3.10.0-nightly.20230926)
  operators/project-quay/3.10.0-nightly.20230926/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230926/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230926/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3348 operator gitlab-operator-kubernetes (0.24.0)
  operators/gitlab-operator-kubernetes/0.24.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.24.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.24.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.24.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.24.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.24.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.24.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3347 operator [R] opendatahub-operator (1.10.0 2.2.0)
  operators/opendatahub-operator/1.10.0/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/1.10.0/manifests/dashboard.opendatahub.io_acceleratorprofiles.yaml
  operators/opendatahub-operator/1.10.0/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/1.10.0/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/1.10.0/manifests/kfdef.apps.kubeflow.org_kfdefs.yaml
  operators/opendatahub-operator/1.10.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/1.10.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/1.10.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/1.10.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/1.10.0/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/1.10.0/metadata/annotations.yaml
  operators/opendatahub-operator/1.10.0/tests/scorecard/config.yaml
  operators/opendatahub-operator/2.2.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.2.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.2.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.2.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.2.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.2.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.2.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, openshift-started-4.15

#3351 operator project-quay (3.10.0-nightly.20230928)
  operators/project-quay/3.10.0-nightly.20230928/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230928/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230928/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3354 operator dapr-kubernetes-operator (0.0.4)
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr.io_components.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr.io_configurations.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr.io_httpendpoints.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr.io_resiliencies.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr.io_subscriptions.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.4/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3355 Delete FAR v0.1.0
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.1.0/metadata/annotations.yaml
  operators/fence-agents-remediation/0.1.0/tests/scorecard/config.yaml
  operators/fence-agents-remediation/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3316 operator [N] [CI] fence-agents-remediation (0.2.0)
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.2.0/metadata/annotations.yaml
  operators/fence-agents-remediation/0.2.0/tests/scorecard/config.yaml
  operators/fence-agents-remediation/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3361 operator project-quay (3.10.0-nightly.20230929)
  operators/project-quay/3.10.0-nightly.20230929/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230929/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230929/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3363 operator annotationlab (5.4.1)
  operators/annotationlab/5.4.1/bundle.Dockerfile
  operators/annotationlab/5.4.1/manifests/annotationlab-Role.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-RoleBinding.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-airflow-postgresql_Role.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-airflow-postgresql_RoleBinding.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-airflow-postgresql_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/5.4.1/manifests/annotationlab-create-user-job_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-keycloak-Role.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-keycloak-RoleBinding.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-keycloak-ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-keycloak-postgresql_Role.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-keycloak-postgresql_RoleBinding.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-keycloak-postgresql_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/5.4.1/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/5.4.1/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/5.4.1/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/5.4.1/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/5.4.1/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/5.4.1/manifests/annotationlab-migrate-database-job_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-pod-launcher-Role.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-pod-launcher-RoleBinding.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-postgresql_Role.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-postgresql_RoleBinding.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-postgresql_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/5.4.1/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/5.4.1/manifests/annotationlab-redis_Role.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-redis_RoleBinding.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-redis_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-scc-rolebinding_RoleBinding.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-scheduler_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-statsd_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-triggerer_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-webserver_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab-worker_ServiceAccount.yml
  operators/annotationlab/5.4.1/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/5.4.1/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/5.4.1/metadata/annotations.yaml
  operators/annotationlab/5.4.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, openshift-started-4.15

#3358 operator [O] kubecost (1.106.0)
  operators/kubecost/1.106.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, allow/serious-changes-to-existing, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3350 operator limitador-operator (0.6.0)
  operators/limitador-operator/0.6.0/bundle.Dockerfile
  operators/limitador-operator/0.6.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.6.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.6.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.6.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.6.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.6.0/metadata/annotations.yaml
  operators/limitador-operator/0.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3364 operator project-quay (3.9.2)
  operators/project-quay/3.9.2/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.2/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3367 operator project-quay (3.10.0-nightly.20230930)
  operators/project-quay/3.10.0-nightly.20230930/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230930/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230930/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15
