Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-11, with the labels that each got.

#3533 Remove obsolete OSSMC operator
  operators/ossmconsole/0.1.0/bundle.Dockerfile
  operators/ossmconsole/0.1.0/manifests/ossmconsole.clusterserviceversion.yaml
  operators/ossmconsole/0.1.0/manifests/ossmconsole.crd.yaml
  operators/ossmconsole/0.1.0/metadata/annotations.yaml
  operators/ossmconsole/0.2.0/bundle.Dockerfile
  operators/ossmconsole/0.2.0/manifests/ossmconsole.clusterserviceversion.yaml
  operators/ossmconsole/0.2.0/manifests/ossmconsole.crd.yaml
  operators/ossmconsole/0.2.0/metadata/annotations.yaml
  operators/ossmconsole/0.3.0/bundle.Dockerfile
  operators/ossmconsole/0.3.0/manifests/ossmconsole.clusterserviceversion.yaml
  operators/ossmconsole/0.3.0/manifests/ossmconsole.crd.yaml
  operators/ossmconsole/0.3.0/metadata/annotations.yaml
  operators/ossmconsole/0.4.0/bundle.Dockerfile
  operators/ossmconsole/0.4.0/manifests/ossmconsole.clusterserviceversion.yaml
  operators/ossmconsole/0.4.0/manifests/ossmconsole.crd.yaml
  operators/ossmconsole/0.4.0/metadata/annotations.yaml
  operators/ossmconsole/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3548 operator [CI] kepler-operator (0.9.2)
  operators/kepler-operator/0.9.2/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.9.2/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.9.2/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.9.2/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.9.2/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.9.2/metadata/annotations.yaml
  operators/kepler-operator/0.9.2/tests/scorecard/config.yaml
  operators/kepler-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3550 operator [R] opendatahub-operator (1.11.0 2.3.0)
  operators/opendatahub-operator/1.11.0/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/1.11.0/manifests/dashboard.opendatahub.io_acceleratorprofiles.yaml
  operators/opendatahub-operator/1.11.0/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/1.11.0/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/1.11.0/manifests/kfdef.apps.kubeflow.org_kfdefs.yaml
  operators/opendatahub-operator/1.11.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/1.11.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/1.11.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/1.11.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/1.11.0/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/1.11.0/metadata/annotations.yaml
  operators/opendatahub-operator/1.11.0/tests/scorecard/config.yaml
  operators/opendatahub-operator/2.3.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.3.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.3.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.3.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.3.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.3.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.3.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.3.0/scorecard/config.yaml
  operators/opendatahub-operator/2.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3553 operator gitlab-operator-kubernetes (0.25.1)
  operators/gitlab-operator-kubernetes/0.25.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.25.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3555 operator project-quay (3.9.4)
  operators/project-quay/3.9.4/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.4/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3558 operator grafana-operator (5.4.2)
  operators/grafana-operator/5.4.2/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.4.2/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.4.2/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.4.2/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.4.2/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.4.2/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.4.2/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.4.2/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.4.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3564 operator [CI] flink-kubernetes-operator
  operators/flink-kubernetes-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#3565 operator [CI] ack-cloudfront-controller
  operators/ack-cloudfront-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped

#3556 operator opendatahub-operator (2.4.0)
  operators/opendatahub-operator/2.4.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.4.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.4.0/manifests/dscinitialization.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.4.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.4.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.4.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.4.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.4.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.4.0/scorecard/config.yaml
  operators/opendatahub-operator/2.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3570 operator multi-nic-cni-operator (1.2.2)
  operators/multi-nic-cni-operator/1.2.2/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.2.2/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.2.2/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.2/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.2.2/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.2/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.2/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.2/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.2/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.2/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.2/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.2/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3572 operator rabbitmq-messaging-topology-operator (1.12.1)
  operators/rabbitmq-messaging-topology-operator/1.12.1/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3573 operator deployment-validation-operator (0.7.2)
  operators/deployment-validation-operator/0.7.2/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.2/manifests/deploymentvalidationoperator.0.7.2.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.2/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3575 operator hazelcast-platform-operator (5.10.0)
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.10.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.10.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3576 operator hive-operator (1.2.4345-c636413)
  operators/hive-operator/1.2.4345-c636413/manifests/hive-operator.v1.2.4345-c636413.clusterserviceversion.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4345-c636413/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3578 operator kuadrant-operator (0.4.1)
  operators/kuadrant-operator/0.4.1/bundle.Dockerfile
  operators/kuadrant-operator/0.4.1/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.4.1/metadata/annotations.yaml
  operators/kuadrant-operator/0.4.1/metadata/dependencies.yaml
  operators/kuadrant-operator/0.4.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3581 operator portworx-essentials (23.10.0)
  operators/portworx-essentials/23.10.0/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.10.0/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.10.0/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/23.10.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3583 operator move2kube-operator (0.3.11)
  operators/move2kube-operator/0.3.11/bundle.Dockerfile
  operators/move2kube-operator/0.3.11/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.11/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.11/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.11/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.11/metadata/annotations.yaml
  operators/move2kube-operator/0.3.11/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3590 operator awx-operator (2.7.2)
  operators/awx-operator/2.7.2/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.7.2/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.7.2/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.7.2/manifests/awx-operator.v2.7.2.clusterserviceversion.yaml
  operators/awx-operator/2.7.2/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.7.2/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.7.2/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.7.2/metadata/annotations.yaml
  operators/awx-operator/2.7.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3529 operator [CI] pulsar-resources-operator
  operators/pulsar-resources-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3587 operator machine-deletion-remediation (0.2.1)
  operators/machine-deletion-remediation/0.2.1/manifests/machine-deletion-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/machine-deletion-remediation/0.2.1/manifests/machine-deletion-remediation-machine-deletion-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-remediation/0.2.1/manifests/machine-deletion-remediation-manager-config_v1_configmap.yaml
  operators/machine-deletion-remediation/0.2.1/manifests/machine-deletion-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-remediation/0.2.1/manifests/machine-deletion-remediation.clusterserviceversion.yaml
  operators/machine-deletion-remediation/0.2.1/manifests/machine-deletion-remediation.medik8s.io_machinedeletionremediations.yaml
  operators/machine-deletion-remediation/0.2.1/manifests/machine-deletion-remediation.medik8s.io_machinedeletionremediationtemplates.yaml
  operators/machine-deletion-remediation/0.2.1/metadata/annotations.yaml
  operators/machine-deletion-remediation/0.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3595 operator [CI] konveyor-operator
  operators/konveyor-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#3599 operator [CI] eclipse-che (7.77.0)
  operators/eclipse-che/7.77.0/manifests/eclipse-che.v7.77.0.clusterserviceversion.yaml
  operators/eclipse-che/7.77.0/manifests/org.eclipse.che_checlusters.yaml
  operators/eclipse-che/7.77.0/metadata/annotations.yaml
  operators/eclipse-che/7.77.0/metadata/dependencies.yaml
  operators/eclipse-che/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3601 operator yaks (0.17.0)
  operators/yaks/0.17.0/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.17.0/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.17.0/manifests/yaks.v0.17.0.clusterserviceversion.yaml
  operators/yaks/0.17.0/metadata/annotations.yaml
  operators/yaks/0.17.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3603 operator [CI] external-secrets-operator
  operators/external-secrets-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#3607 operator aqua (2022.4.14)
  operators/aqua/2022.4.14/manifests/aqua-operator.v2022.4.14.clusterserviceversion.yaml
  operators/aqua/2022.4.14/manifests/aquacloudconnector.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.14/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.14/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.14/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3608 operator [CI] cluster-relocation-operator
  operators/cluster-relocation-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, dco-failed

#3613 operator node-healthcheck-operator (0.6.1)
  operators/node-healthcheck-operator/0.6.1/manifests/node-healthcheck-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.6.1/manifests/node-healthcheck-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.6.1/manifests/node-healthcheck-node-remediation-console-plugin_v1_service.yaml
  operators/node-healthcheck-operator/0.6.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.6.1/manifests/node-healthcheck-webhook-service_v1_service.yaml
  operators/node-healthcheck-operator/0.6.1/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.6.1/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.6.1/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.6.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3574 operator infinispan (2.3.6)
  operators/infinispan/2.3.6/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.6/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.6/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.6/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.6/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.6/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.6/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.6/metadata/annotations.yaml
  operators/infinispan/2.3.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3614 operator edp-keycloak-operator (1.18.2)
  operators/edp-keycloak-operator/1.18.2/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/edp-keycloak-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.18.2/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.18.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3610 operator yaks (0.17.1)
  operators/yaks/0.17.1/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.17.1/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.17.1/manifests/yaks.v0.17.1.clusterserviceversion.yaml
  operators/yaks/0.17.1/metadata/annotations.yaml
  operators/yaks/0.17.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3618 operator dynatrace-operator (0.14.2)
  operators/dynatrace-operator/0.14.2/Dockerfile
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/0.14.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3619 operator deployment-validation-operator (0.7.3)
  operators/deployment-validation-operator/0.7.3/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.3/manifests/deploymentvalidationoperator.0.7.3.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.3/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3620 operator node-maintenance-operator (0.16.1)
  operators/node-maintenance-operator/0.16.1/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.16.1/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.16.1/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.16.1/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.16.1/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.16.1/metadata/annotations.yaml
  operators/node-maintenance-operator/0.16.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3615 operator [N] registry-operator (0.1.3)
  operators/registry-operator/0.1.3/bundle.Dockerfile
  operators/registry-operator/0.1.3/manifests/registry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/registry-operator/0.1.3/manifests/registry-operator-manager-config_v1_configmap.yaml
  operators/registry-operator/0.1.3/manifests/registry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/registry-operator/0.1.3/manifests/registry-operator-webhook-service_v1_service.yaml
  operators/registry-operator/0.1.3/manifests/registry-operator.clusterserviceversion.yaml
  operators/registry-operator/0.1.3/manifests/registry.devfile.io_clusterdevfileregistrieslists.yaml
  operators/registry-operator/0.1.3/manifests/registry.devfile.io_devfileregistries.yaml
  operators/registry-operator/0.1.3/manifests/registry.devfile.io_devfileregistrieslists.yaml
  operators/registry-operator/0.1.3/metadata/annotations.yaml
  operators/registry-operator/0.1.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3622 operator gitlab-operator-kubernetes (0.25.2)
  operators/gitlab-operator-kubernetes/0.25.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.25.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3621 operator fence-agents-remediation (0.2.1)
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.2.1/metadata/annotations.yaml
  operators/fence-agents-remediation/0.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3624 operator codeflare-operator (1.0.1)
  operators/codeflare-operator/1.0.1/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.0.1/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.0.1/manifests/quota.codeflare.dev_quotasubtrees.yaml
  operators/codeflare-operator/1.0.1/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.0.1/manifests/workload.codeflare.dev_schedulingspecs.yaml
  operators/codeflare-operator/1.0.1/metadata/annotations.yaml
  operators/codeflare-operator/1.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3626 operator [CI] ack-acmpca-controller
  operators/ack-acmpca-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped

#3628 operator [CI] ack-drs-controller
  operators/ack-drs-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3633 operator neuvector-community-operator (1.4.3)
  operators/neuvector-community-operator/1.4.3/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.4.3/manifests/neuvector-operator.v1.4.3.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.4.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3636 operator gitlab-operator-kubernetes (0.26.0)
  operators/gitlab-operator-kubernetes/0.26.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.26.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3639 operator project-quay (3.9.5)
  operators/project-quay/3.9.5/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.5/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.5/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3501 operator camel-k (2.1.0)
  operators/camel-k/2.1.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/camel-k.v2.1.0.clusterserviceversion.yaml
  operators/camel-k/2.1.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/metadata/annotations.yaml
  operators/camel-k/2.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3638 operator jaeger (1.51.0)
  operators/jaeger/1.51.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.51.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.51.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.51.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.51.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.51.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.51.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.51.0/metadata/annotations.yaml
  operators/jaeger/1.51.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, openshift-started-4.15

#3643 operator patterns-operator (0.0.33)
  operators/patterns-operator/0.0.33/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.33/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.33/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.33/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.33/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.33/metadata/annotations.yaml
  operators/patterns-operator/0.0.33/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3557 operator argocd-operator (0.8.0)
  operators/argocd-operator/0.8.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.8.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.8.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.8.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.8.0/manifests/argocd-operator.v0.8.0.clusterserviceversion.yaml
  operators/argocd-operator/0.8.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.8.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.8.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.8.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.8.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.8.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3593 operator namespace-configuration-operator (1.2.5)
  operators/namespace-configuration-operator/1.2.5/Dockerfile
  operators/namespace-configuration-operator/1.2.5/manifests/namespace-configuration-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/namespace-configuration-operator/1.2.5/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  operators/namespace-configuration-operator/1.2.5/manifests/namespace-configuration-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/namespace-configuration-operator/1.2.5/manifests/namespace-configuration-operator-metrics-service_v1_service.yaml
  operators/namespace-configuration-operator/1.2.5/manifests/namespace-configuration-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/namespace-configuration-operator/1.2.5/manifests/namespace-configuration-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/namespace-configuration-operator/1.2.5/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  operators/namespace-configuration-operator/1.2.5/manifests/redhatcop.redhat.io_groupconfigs.yaml
  operators/namespace-configuration-operator/1.2.5/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  operators/namespace-configuration-operator/1.2.5/manifests/redhatcop.redhat.io_userconfigs.yaml
  operators/namespace-configuration-operator/1.2.5/metadata/annotations.yaml
  operators/namespace-configuration-operator/1.2.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3640 operator hive-operator (1.2.4351-9dd47f8)
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive-operator.v1.2.4351-9dd47f8.clusterserviceversion.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4351-9dd47f8/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4351-9dd47f8/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3646 operator awx-operator (2.8.0)
  operators/awx-operator/2.8.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.8.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.8.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.8.0/manifests/awx-operator.v2.8.0.clusterserviceversion.yaml
  operators/awx-operator/2.8.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.8.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.8.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.8.0/metadata/annotations.yaml
  operators/awx-operator/2.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3647 operator grafana-operator (5.5.0)
  operators/grafana-operator/5.5.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.5.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.5.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.5.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.5.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.5.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.5.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.5.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.5.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3650 operator namespace-configuration-operator (1.2.6)
  operators/namespace-configuration-operator/1.2.6/Dockerfile
  operators/namespace-configuration-operator/1.2.6/manifests/namespace-configuration-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/namespace-configuration-operator/1.2.6/manifests/namespace-configuration-operator-manager-config_v1_configmap.yaml
  operators/namespace-configuration-operator/1.2.6/manifests/namespace-configuration-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/namespace-configuration-operator/1.2.6/manifests/namespace-configuration-operator-metrics-service_v1_service.yaml
  operators/namespace-configuration-operator/1.2.6/manifests/namespace-configuration-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/namespace-configuration-operator/1.2.6/manifests/namespace-configuration-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/namespace-configuration-operator/1.2.6/manifests/namespace-configuration-operator.clusterserviceversion.yaml
  operators/namespace-configuration-operator/1.2.6/manifests/redhatcop.redhat.io_groupconfigs.yaml
  operators/namespace-configuration-operator/1.2.6/manifests/redhatcop.redhat.io_namespaceconfigs.yaml
  operators/namespace-configuration-operator/1.2.6/manifests/redhatcop.redhat.io_userconfigs.yaml
  operators/namespace-configuration-operator/1.2.6/metadata/annotations.yaml
  operators/namespace-configuration-operator/1.2.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3653 operator portworx-essentials (23.10.1)
  operators/portworx-essentials/23.10.1/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.10.1/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.10.1/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/23.10.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3641 operator [CI] registry-operator (0.2.0)
  operators/registry-operator/0.2.0/bundle.Dockerfile
  operators/registry-operator/0.2.0/manifests/registry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/registry-operator/0.2.0/manifests/registry-operator-manager-config_v1_configmap.yaml
  operators/registry-operator/0.2.0/manifests/registry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/registry-operator/0.2.0/manifests/registry-operator-webhook-service_v1_service.yaml
  operators/registry-operator/0.2.0/manifests/registry-operator.clusterserviceversion.yaml
  operators/registry-operator/0.2.0/manifests/registry.devfile.io_clusterdevfileregistrieslists.yaml
  operators/registry-operator/0.2.0/manifests/registry.devfile.io_devfileregistries.yaml
  operators/registry-operator/0.2.0/manifests/registry.devfile.io_devfileregistrieslists.yaml
  operators/registry-operator/0.2.0/metadata/annotations.yaml
  operators/registry-operator/0.2.0/tests/scorecard/config.yaml
  operators/registry-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3655 operator keycloak-operator (23.0.0)
  operators/keycloak-operator/23.0.0/bundle.Dockerfile
  operators/keycloak-operator/23.0.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3659 operator [R] konveyor-operator (0.1.1 0.1.2 0.2.0-alpha.1 0.2.0-alpha.2 0.2.0-alpha.3 0.2.1 0.3.0-alpha.1 0.3.0-alpha.2 0.3.0-alpha.3 0.3.0-alpha.4 0.3.0-alpha.5 0.3.0-alpha.6 0.3.0-beta.1.1 0.3.0-beta.1.2 0.3.0-beta.2)
  operators/konveyor-operator/0.1.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.1.2/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.2.0-alpha.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.2.0-alpha.2/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.2.0-alpha.3/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.2.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.2/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.3/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.4/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.5/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.6/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-beta.1.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-beta.1.2/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-beta.2/manifests/konveyor-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3625 [ISV-3957] set comm-op-index 4.14 as blocking
  ci/pipeline-config-ocp.yaml
Labels: allow/ci-changes

#3662 operator kubecost (1.107.1)
  operators/kubecost/1.107.1/bundle.Dockerfile
  operators/kubecost/1.107.1/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost/1.107.1/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost/1.107.1/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost/1.107.1/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost/1.107.1/metadata/annotations.yaml
  operators/kubecost/1.107.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3630 operator gitlab-runner-operator (1.20.0)
  operators/gitlab-runner-operator/1.20.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.20.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.20.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3665 operator grafana-operator (5.5.2)
  operators/grafana-operator/5.5.2/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.5.2/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.5.2/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.5.2/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.5.2/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.5.2/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.5.2/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.5.2/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.5.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3666 operator authorino-operator (0.10.0)
  operators/authorino-operator/0.10.0/bundle.Dockerfile
  operators/authorino-operator/0.10.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.10.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.10.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.10.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.10.0/metadata/annotations.yaml
  operators/authorino-operator/0.10.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3669 operator keycloak-operator (23.0.1)
  operators/keycloak-operator/23.0.1/bundle.Dockerfile
  operators/keycloak-operator/23.0.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3592 operator observability-operator (0.0.28)
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_alertmanagerconfigs.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_alertmanagers.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_monitoringstacks.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_podmonitors.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_probes.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_prometheusagents.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_prometheuses.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_prometheusrules.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_scrapeconfigs.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_servicemonitors.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_thanosqueriers.yaml
  operators/observability-operator/0.0.28/manifests/monitoring.rhobs_thanosrulers.yaml
  operators/observability-operator/0.0.28/manifests/obo-prometheus-operator-admission-webhook_policy_v1_poddisruptionbudget.yaml
  operators/observability-operator/0.0.28/manifests/obo-prometheus-operator-admission-webhook_v1_service.yaml
  operators/observability-operator/0.0.28/manifests/obo-prometheus-operator_v1_service.yaml
  operators/observability-operator/0.0.28/manifests/observability-operator-alertmanager-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.28/manifests/observability-operator-prometheus-operator-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.28/manifests/observability-operator-prometheus-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.28/manifests/observability-operator-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.28/manifests/observability-operator.clusterserviceversion.yaml
  operators/observability-operator/0.0.28/manifests/observability-operator_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/observability-operator/0.0.28/manifests/observability-operator_v1_service.yaml
  operators/observability-operator/0.0.28/metadata/annotations.yaml
  operators/observability-operator/0.0.28/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15
