Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-06, with the labels that each got.

#2730 operator patterns-operator (0.0.15)
  operators/patterns-operator/0.0.15/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.15/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.15/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.15/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.15/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.15/metadata/annotations.yaml
  operators/patterns-operator/0.0.15/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2732 operator patterns-operator (0.0.16)
  operators/patterns-operator/0.0.16/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.16/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.16/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.16/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.16/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.16/metadata/annotations.yaml
  operators/patterns-operator/0.0.16/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2736 operator project-quay (3.9.0-nightly.20230602)
  operators/project-quay/3.9.0-nightly.20230602/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230602/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2733 operator kuadrant-operator (0.3.1)
  operators/kuadrant-operator/0.3.1/bundle.Dockerfile
  operators/kuadrant-operator/0.3.1/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.3.1/metadata/annotations.yaml
  operators/kuadrant-operator/0.3.1/metadata/dependencies.yaml
  operators/kuadrant-operator/0.3.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2735 operator kube-green (0.5.1)
  operators/kube-green/0.5.1/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.5.1/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.5.1/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.5.1/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.5.1/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.5.1/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.5.1/metadata/annotations.yaml
  operators/kube-green/0.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2740 operator project-quay (3.9.0-nightly.20230603)
  operators/project-quay/3.9.0-nightly.20230603/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230603/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2742 operator rabbitmq-messaging-topology-operator (1.11.0)
  operators/rabbitmq-messaging-topology-operator/1.11.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2743 operator project-quay (3.9.0-nightly.20230605)
  operators/project-quay/3.9.0-nightly.20230605/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230605/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2749 operator [CI] tempo-operator (0.2.0)
  operators/tempo-operator/0.2.0/bundle.Dockerfile
  operators/tempo-operator/0.2.0/manifests/tempo-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tempo-operator/0.2.0/manifests/tempo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tempo-operator/0.2.0/manifests/tempo-operator-manager-config_v1_configmap.yaml
  operators/tempo-operator/0.2.0/manifests/tempo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tempo-operator/0.2.0/manifests/tempo-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/tempo-operator/0.2.0/manifests/tempo-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tempo-operator/0.2.0/manifests/tempo-operator-webhook-service_v1_service.yaml
  operators/tempo-operator/0.2.0/manifests/tempo-operator.clusterserviceversion.yaml
  operators/tempo-operator/0.2.0/manifests/tempo.grafana.com_tempostacks.yaml
  operators/tempo-operator/0.2.0/metadata/annotations.yaml
  operators/tempo-operator/0.2.0/tests/scorecard/config.yaml
  operators/tempo-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2748 operator hive-operator (1.2.4145-52a71e5)
  operators/hive-operator/1.2.4145-52a71e5/hive-operator.v1.2.4145-52a71e5.clusterserviceversion.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4145-52a71e5/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4145-52a71e5/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4145-52a71e5/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2752 operator [CI] tempo-operator
  operators/tempo-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2754 operator pelorus-operator (0.0.7)
  operators/pelorus-operator/0.0.7/manifests/charts.pelorus.dora-metrics.io_peloruses.yaml
  operators/pelorus-operator/0.0.7/manifests/pelorus-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pelorus-operator/0.0.7/manifests/pelorus-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pelorus-operator/0.0.7/manifests/pelorus-operator.clusterserviceversion.yaml
  operators/pelorus-operator/0.0.7/metadata/annotations.yaml
  operators/pelorus-operator/0.0.7/metadata/properties.yaml
  operators/pelorus-operator/0.0.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2746 operator [R] kubernetes-imagepuller-operator (1.0.0 1.0.1 1.0.2 1.0.3 1.0.4 1.0.5)
  operators/kubernetes-imagepuller-operator/1.0.0/manifests/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/manifests/kubernetes-imagepuller-operator.v1.0.0.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/manifests/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/manifests/kubernetes-imagepuller-operator.v1.0.1.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/manifests/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/manifests/kubernetes-imagepuller-operator.v1.0.2.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/manifests/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/manifests/kubernetes-imagepuller-operator.v1.0.3.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/manifests/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/manifests/kubernetes-imagepuller-operator.v1.0.4.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/manifests/che.eclipse.org_kubernetesimagepullers.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/manifests/kubernetes-imagepuller-operator.v1.0.5.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/tests/scorecard/config.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2744 operator [CI] netobserv-operator (1.0.3)
  operators/netobserv-operator/1.0.3/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-openshift-netobserv-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-openshift-netobserv-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.0.3/metadata/annotations.yaml
  operators/netobserv-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2757 operator project-quay (3.9.0-nightly.20230609)
  operators/project-quay/3.9.0-nightly.20230609/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230609/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2750 operator gitlab-operator-kubernetes (0.20.0)
  operators/gitlab-operator-kubernetes/0.20.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2756 operator gitlab-operator-kubernetes (0.20.1)
  operators/gitlab-operator-kubernetes/0.20.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2760 operator cockroachdb (6.0.0)
  operators/cockroachdb/6.0.0/bundle.Dockerfile
  operators/cockroachdb/6.0.0/manifests/charts.operatorhub.io_cockroachdbs.yaml
  operators/cockroachdb/6.0.0/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  operators/cockroachdb/6.0.0/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cockroachdb/6.0.0/manifests/cockroachdb.clusterserviceversion.yaml
  operators/cockroachdb/6.0.0/metadata/annotations.yaml
  operators/cockroachdb/6.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2759 operator eclipse-amlen-operator (1.0.1)
  operators/eclipse-amlen-operator/1.0.1/bundle.Dockerfile
  operators/eclipse-amlen-operator/1.0.1/manifests/amlen-controller-manager-metrics-service_v1_service.yaml
  operators/eclipse-amlen-operator/1.0.1/manifests/amlen-manager-config_v1_configmap.yaml
  operators/eclipse-amlen-operator/1.0.1/manifests/amlen-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eclipse-amlen-operator/1.0.1/manifests/eclipse-amlen-operator.clusterserviceversion.yaml
  operators/eclipse-amlen-operator/1.0.1/manifests/eclipse.org_amlens.yaml
  operators/eclipse-amlen-operator/1.0.1/metadata/annotations.yaml
  operators/eclipse-amlen-operator/1.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2758 operator [CI] gitlab-operator-kubernetes
  operators/gitlab-operator-kubernetes/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2747 operator kiali (1.69.0)
  operators/kiali/1.69.0/bundle.Dockerfile
  operators/kiali/1.69.0/manifests/kiali.crd.yaml
  operators/kiali/1.69.0/manifests/kiali.v1.69.0.clusterserviceversion.yaml
  operators/kiali/1.69.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2761 operator strimzi-kafka-operator (0.35.1)
  operators/strimzi-kafka-operator/0.35.1/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/strimzi-cluster-operator.v0.35.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.35.1/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.35.1/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.1/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.1/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.1/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2765 operator codeflare-operator (0.0.4)
  operators/codeflare-operator/0.0.4/manifests/codeflare-operator-controller-manager-metrics-service_v1_service.yaml
  operators/codeflare-operator/0.0.4/manifests/codeflare-operator-manager-config_v1_configmap.yaml
  operators/codeflare-operator/0.0.4/manifests/codeflare-operator-manager-edit-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/codeflare-operator/0.0.4/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/0.0.4/manifests/codeflare-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/0.0.4/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/0.0.4/manifests/codeflare.codeflare.dev_instascales.yaml
  operators/codeflare-operator/0.0.4/manifests/codeflare.codeflare.dev_mcads.yaml
  operators/codeflare-operator/0.0.4/manifests/ibm.com_quotasubtrees.yaml
  operators/codeflare-operator/0.0.4/manifests/mcad.ibm.com_appwrappers.yaml
  operators/codeflare-operator/0.0.4/manifests/mcad.ibm.com_queuejobs.yaml
  operators/codeflare-operator/0.0.4/manifests/mcad.ibm.com_schedulingspecs.yaml
  operators/codeflare-operator/0.0.4/metadata/annotations.yaml
  operators/codeflare-operator/0.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2766 operator project-quay (3.9.0-nightly.20230610)
  operators/project-quay/3.9.0-nightly.20230610/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230610/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2767 operator rabbitmq-cluster-operator (2.3.0)
  operators/rabbitmq-cluster-operator/2.3.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.3.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.3.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.3.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2768 operator project-quay (3.9.0-nightly.20230611)
  operators/project-quay/3.9.0-nightly.20230611/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230611/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2771 operator camel-k (1.12.1)
  operators/camel-k/1.12.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.12.1/manifests/camel-k.v1.12.1.clusterserviceversion.yaml
  operators/camel-k/1.12.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.12.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.12.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.12.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.12.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.12.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.12.1/metadata/annotations.yaml
  operators/camel-k/1.12.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2772 operator hive-operator (1.2.4155-17388c5)
  operators/hive-operator/1.2.4155-17388c5/hive-operator.v1.2.4155-17388c5.clusterserviceversion.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4155-17388c5/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4155-17388c5/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4155-17388c5/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2776 operator gitlab-operator-kubernetes (0.20.2)
  operators/gitlab-operator-kubernetes/0.20.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2777 operator gitlab-operator-kubernetes (0.20.3)
  operators/gitlab-operator-kubernetes/0.20.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2779 operator gitlab-operator-kubernetes (0.20.4)
  operators/gitlab-operator-kubernetes/0.20.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2778 operator project-quay (3.9.0-nightly.20230613)
  operators/project-quay/3.9.0-nightly.20230613/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230613/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2784 operator [N] horreum-operator (0.2.0)
  operators/horreum-operator/0.1.0/horreum-operator.v0.1.0.clusterserviceversion.yaml
  operators/horreum-operator/0.1.0/hyperfoil.io_horreums_crd.yaml
  operators/horreum-operator/0.2.0/manifests/horreum-operator-controller-manager-metrics-service_v1_service.yaml
  operators/horreum-operator/0.2.0/manifests/horreum-operator-manager-config_v1_configmap.yaml
  operators/horreum-operator/0.2.0/manifests/horreum-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/horreum-operator/0.2.0/manifests/horreum-operator.clusterserviceversion.yaml
  operators/horreum-operator/0.2.0/manifests/hyperfoil.io_horreums.yaml
  operators/horreum-operator/0.2.0/metadata/annotations.yaml
  operators/horreum-operator/0.2.0/tests/scorecard/config.yaml
  operators/horreum-operator/horreum-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2788 operator portworx-essentials (23.5.0)
  operators/portworx-essentials/23.5.0/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.5.0/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.5.0/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2774 operator [CI] maistraoperator
  operators/maistraoperator/2.1.0/maistraoperator.v2.1.0.clusterserviceversion.yaml
  operators/maistraoperator/2.1.0/servicemeshcontrolplanes.crd.yaml
  operators/maistraoperator/2.1.0/servicemeshmemberrolls.crd.yaml
  operators/maistraoperator/2.1.0/servicemeshmembers.crd.yaml
  operators/maistraoperator/ci.yaml
  operators/maistraoperator/maistra.package.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2790 operator sap-data-intelligence-observer-operator (0.0.4)
  operators/sap-data-intelligence-observer-operator/0.0.4/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/0.0.4/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/0.0.4/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/0.0.4/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/0.0.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2794 operator [CI] ack-pipes-controller
  operators/ack-pipes-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2793 operator project-quay (3.9.0-nightly.20230615)
  operators/project-quay/3.9.0-nightly.20230615/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230615/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2802 operator [CI] maistraoperator
  operators/maistraoperator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2806 operator cert-manager (1.11.3-rc1)
  operators/cert-manager/1.11.3-rc1/bundle.Dockerfile
  operators/cert-manager/1.11.3-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.11.3-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.11.3-rc1/metadata/annotations.yaml
  operators/cert-manager/1.11.3-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2807 operator edp-keycloak-operator (1.16.0)
  operators/edp-keycloak-operator/1.16.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.16.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.16.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2812 operator [O] cluster-aas-operator (0.1.0)
  operators/cluster-aas-operator/0.1.0/manifests/cluster-aas-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2813 operator windup-operator (0.0.16)
  operators/windup-operator/0.0.16/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.16/manifests/windup.crd.yaml
  operators/windup-operator/0.0.16/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2817 operator [R] sap-data-intelligence-observer-operator (0.0.5)
  operators/sap-data-intelligence-observer-operator/0.0.5/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/0.0.5/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/0.0.5/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/0.0.5/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/0.0.5/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2819 operator [O] sap-data-intelligence-observer-operator (0.0.4)
  operators/sap-data-intelligence-observer-operator/0.0.4/manifests/observer-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2820 operator redis-operator (0.14.0)
  operators/redis-operator/0.14.0/manifests/redis-operator.v0.14.0.clusterserviceversion.yaml
  operators/redis-operator/0.14.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.14.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.14.0/manifests/redisreplications.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.14.0/manifests/redissentinels.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.14.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2821 operator [O] cluster-aas-operator (0.1.0)
  operators/cluster-aas-operator/0.1.0/manifests/cluster-aas-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2824 operator [R] multicluster-global-hub-operator (0.5.0 0.7.0-dev)
  operators/multicluster-global-hub-operator/0.5.0/metadata/annotations.yaml
  operators/multicluster-global-hub-operator/0.7.0-dev/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2822 operator microcks (1.7.1)
  operators/microcks/1.7.1/manifests/microcks-operator.v1.7.1.clusterserviceversion.yaml
  operators/microcks/1.7.1/manifests/microcksinstall.crd.yaml
  operators/microcks/1.7.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2712 operator [N] [CI] observability-operator (0.0.22)
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_alertmanagerconfigs.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_alertmanagers.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_monitoringstacks.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_podmonitors.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_probes.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_prometheusagents.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_prometheuses.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_prometheusrules.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_scrapeconfigs.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_servicemonitors.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_thanosqueriers.yaml
  operators/observability-operator/0.0.22/manifests/monitoring.rhobs_thanosrulers.yaml
  operators/observability-operator/0.0.22/manifests/obo-prometheus-operator-admission-webhook_policy_v1_poddisruptionbudget.yaml
  operators/observability-operator/0.0.22/manifests/obo-prometheus-operator-admission-webhook_v1_service.yaml
  operators/observability-operator/0.0.22/manifests/obo-prometheus-operator_v1_service.yaml
  operators/observability-operator/0.0.22/manifests/observability-operator-alertmanager-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.22/manifests/observability-operator-prometheus-operator-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.22/manifests/observability-operator-prometheus-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.22/manifests/observability-operator-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/observability-operator/0.0.22/manifests/observability-operator.clusterserviceversion.yaml
  operators/observability-operator/0.0.22/manifests/observability-operator_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/observability-operator/0.0.22/manifests/observability-operator_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/observability-operator/0.0.22/manifests/observability-operator_v1_service.yaml
  operators/observability-operator/0.0.22/metadata/annotations.yaml
  operators/observability-operator/0.0.22/tests/scorecard/config.yaml
  operators/observability-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-failed-4.14

#2785 operator verticadb-operator (1.11.1)
  operators/verticadb-operator/1.11.1/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/1.11.1/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.11.1/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.11.1/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.11.1/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.11.1/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.11.1/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.11.1/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.11.1/metadata/annotations.yaml
  operators/verticadb-operator/1.11.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2827 operator [O] sap-data-intelligence-observer-operator (0.0.5)
  operators/sap-data-intelligence-observer-operator/0.0.5/manifests/observer-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2828 operator azure-service-operator (1.0.59040)
  operators/azure-service-operator/1.0.59040/manifests/azure-service-operator.v1.0.59040.clusterserviceversion.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_apimgmtapis.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_apimservices.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_appinsights.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_appinsightsapikeys.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azureloadbalancers.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azurenetworkinterfaces.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azurepublicipaddresses.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azuresqlactions.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azuresqldatabases.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azuresqlfailovergroups.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azuresqlfirewallrules.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azuresqlmanagedusers.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azuresqlservers.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azuresqlusers.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azuresqlvnetrules.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azurevirtualmachineextensions.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azurevirtualmachines.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_azurevmscalesets.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_blobcontainers.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_consumergroups.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_cosmosdbs.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_cosmosdbsqldatabases.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_eventhubnamespaces.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_eventhubs.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_keyvaultkeys.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_keyvaults.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_mysqlaadusers.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_mysqldatabases.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_mysqlfirewallrules.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_mysqlserveradministrators.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_mysqlservers.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_mysqlusers.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_mysqlvnetrules.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_postgresqldatabases.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_postgresqlfirewallrules.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_postgresqlservers.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_postgresqlusers.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_postgresqlvnetrules.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_rediscacheactions.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_rediscachefirewallrules.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_rediscaches.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_resourcegroups.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_storageaccounts.yaml
  operators/azure-service-operator/1.0.59040/manifests/azure.microsoft.com_virtualnetworks.yaml
  operators/azure-service-operator/1.0.59040/manifests/azureoperator-controller-manager-metrics-service_v1_service.yaml
  operators/azure-service-operator/1.0.59040/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2834 operator hive-operator (1.2.4159-f2f3407)
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive-operator.v1.2.4159-f2f3407.clusterserviceversion.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4159-f2f3407/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4159-f2f3407/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2836 operator gitlab-operator-kubernetes (0.20.6)
  operators/gitlab-operator-kubernetes/0.20.6/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.6/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.6/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.6/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.6/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.6/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, openshift-started-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2831 operator grafana-operator (5.0.0)
  operators/grafana-operator/5.0.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.0.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.0.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.0.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.0.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.0.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.0.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.0.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.0.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, openshift-started-4.8, installation-validated, installation-failed-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2839 operator grafana-operator (5.0.1)
  operators/grafana-operator/5.0.1/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.0.1/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.0.1/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.0.1/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.0.1/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.0.1/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.0.1/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.0.1/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2840 operator [R] sap-data-intelligence-observer-operator (1.0.1)
  operators/sap-data-intelligence-observer-operator/0.0.4/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/0.0.4/metadata/annotations.yaml
  operators/sap-data-intelligence-observer-operator/0.0.5/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/0.0.5/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/0.0.5/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/0.0.5/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/1.0.1/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/1.0.1/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/1.0.1/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/1.0.1/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/1.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2838 operator self-node-remediation (0.6.1)
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.6.1/metadata/annotations.yaml
  operators/self-node-remediation/0.6.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2780 operator gitlab-operator-kubernetes (0.20.5)
  operators/gitlab-operator-kubernetes/0.20.5/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.5/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.5/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.5/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.5/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.5/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2739 operator [N] [CI] ocm-operator (0.1.0)
  operators/ocm-operator/0.1.0/manifests/config-token_v1_secret.yaml
  operators/ocm-operator/0.1.0/manifests/ocm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ocm-operator/0.1.0/manifests/ocm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ocm-operator/0.1.0/manifests/ocm-operator.clusterserviceversion.yaml
  operators/ocm-operator/0.1.0/manifests/ocm.mobb.redhat.com_gitlabidentityproviders.yaml
  operators/ocm-operator/0.1.0/manifests/ocm.mobb.redhat.com_ldapidentityproviders.yaml
  operators/ocm-operator/0.1.0/manifests/ocm.mobb.redhat.com_machinepools.yaml
  operators/ocm-operator/0.1.0/manifests/ocm.mobb.redhat.com_rosaclusters.yaml
  operators/ocm-operator/0.1.0/metadata/annotations.yaml
  operators/ocm-operator/0.1.0/tests/scorecard/config.yaml
  operators/ocm-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2842 operator pulp-operator (1.0.0-alpha.7)
  operators/pulp-operator/1.0.0-alpha.7/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.7/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2844 operator external-secrets-operator (0.8.4)
  operators/external-secrets-operator/0.8.4/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.4/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.4/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2845 operator external-secrets-operator (0.9.0)
  operators/external-secrets-operator/0.9.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2847 operator gitlab-operator-kubernetes (0.21.0)
  operators/gitlab-operator-kubernetes/0.21.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.21.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.21.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.21.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.21.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2843 operator cert-manager (1.11.4-rc1)
  operators/cert-manager/1.11.4-rc1/bundle.Dockerfile
  operators/cert-manager/1.11.4-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.11.4-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.11.4-rc1/metadata/annotations.yaml
  operators/cert-manager/1.11.4-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2849 operator kogito-operator (1.40.0)
  operators/kogito-operator/1.40.0/Dockerfile
  operators/kogito-operator/1.40.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.40.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.40.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.40.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.40.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.40.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.40.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.40.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.40.0/metadata/annotations.yaml
  operators/kogito-operator/1.40.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2850 operator [N] [CI] cluster-relocation-operator (0.9.0)
  operators/cluster-relocation-operator/0.9.0/manifests/cluster-relocation-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-relocation-operator/0.9.0/manifests/cluster-relocation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-relocation-operator/0.9.0/manifests/cluster-relocation-operator.clusterserviceversion.yaml
  operators/cluster-relocation-operator/0.9.0/manifests/rhsyseng.github.io_clusterrelocations.yaml
  operators/cluster-relocation-operator/0.9.0/metadata/annotations.yaml
  operators/cluster-relocation-operator/0.9.0/tests/scorecard/config.yaml
  operators/cluster-relocation-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2851 operator pulp-operator (1.0.0-alpha.8)
  operators/pulp-operator/1.0.0-alpha.8/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.8/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.8/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2855 operator dynatrace-operator (0.12.0)
  operators/dynatrace-operator/0.12.0/Dockerfile
  operators/dynatrace-operator/0.12.0/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.12.0/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.12.0/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.12.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.12.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.12.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.12.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.12.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2857 operator hive-operator (1.2.4164-b71778a)
  operators/hive-operator/1.2.4164-b71778a/manifests/hive-operator.v1.2.4164-b71778a.clusterserviceversion.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4164-b71778a/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2718 operator group-sync-operator (0.0.26)
  operators/group-sync-operator/0.0.26/Dockerfile
  operators/group-sync-operator/0.0.26/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.26/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.26/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.26/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.26/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.26/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.26/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.26/metadata/annotations.yaml
  operators/group-sync-operator/0.0.26/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-failed-4.8, installation-failed-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2860 operator grafana-operator (5.0.2)
  operators/grafana-operator/5.0.2/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.0.2/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.0.2/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.0.2/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.0.2/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.0.2/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.0.2/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.0.2/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.0.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2861 operator cert-manager (1.11.4)
  operators/cert-manager/1.11.4/bundle.Dockerfile
  operators/cert-manager/1.11.4/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.11.4/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.11.4/metadata/annotations.yaml
  operators/cert-manager/1.11.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14

#2863 operator mongodb-atlas-kubernetes (1.8.0)
  operators/mongodb-atlas-kubernetes/1.8.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2864 operator cert-manager (1.12.2-rc1)
  operators/cert-manager/1.12.2-rc1/bundle.Dockerfile
  operators/cert-manager/1.12.2-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.12.2-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.12.2-rc1/metadata/annotations.yaml
  operators/cert-manager/1.12.2-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2866 operator cert-manager (1.12.2)
  operators/cert-manager/1.12.2/bundle.Dockerfile
  operators/cert-manager/1.12.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.12.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.12.2/metadata/annotations.yaml
  operators/cert-manager/1.12.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2783 operator [O] multicluster-global-hub-operator (0.7.0-dev)
  operators/multicluster-global-hub-operator/0.7.0-dev/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.7.0-dev/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, allow/serious-changes-to-existing, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2870 operator cluster-aas-operator (0.1.1)
  operators/cluster-aas-operator/0.1.1/manifests/argo_cd_cluser_rb.yaml
  operators/cluster-aas-operator/0.1.1/manifests/argo_cd_cluster_role.yaml
  operators/cluster-aas-operator/0.1.1/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.1/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.1.1/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.1.1/manifests/cluster-aas-operator-repo-bridge.yaml
  operators/cluster-aas-operator/0.1.1/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.1/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.1.1/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.1.1/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.1.1/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.1.1/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.1.1/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.1.1/manifests/clustertemplate.openshift.io_clustertemplatesetup.yaml
  operators/cluster-aas-operator/0.1.1/manifests/clustertemplate.openshift.io_config.yaml
  operators/cluster-aas-operator/0.1.1/metadata/annotations.yaml
  operators/cluster-aas-operator/0.1.1/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.1.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2862 operator awx-operator (2.3.0)
  operators/awx-operator/2.3.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.3.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.3.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.3.0/manifests/awx-operator.v2.3.0.clusterserviceversion.yaml
  operators/awx-operator/2.3.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.3.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.3.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.3.0/metadata/annotations.yaml
  operators/awx-operator/2.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2874 operator sap-data-intelligence-observer-operator (1.0.2)
  operators/sap-data-intelligence-observer-operator/1.0.2/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/1.0.2/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/1.0.2/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/1.0.2/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/1.0.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2867 operator l5-operator (0.0.3)
  operators/l5-operator/0.0.3/manifests/l5-operator-bestie-metrics-reader_rbac.authorization_clusterrole.yaml
  operators/l5-operator/0.0.3/manifests/l5-operator-bestie-metrics-reader_rbac.authorization_clusterrolebinding.yaml
  operators/l5-operator/0.0.3/manifests/l5-operator-controller-manager-metrics-alert_monitoring.coreos.com_v1_prometheusRule.yaml
  operators/l5-operator/0.0.3/manifests/l5-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/l5-operator/0.0.3/manifests/l5-operator-controller-manager-metrics-service_v1_service.yaml
  operators/l5-operator/0.0.3/manifests/l5-operator-manager-config_v1_configmap.yaml
  operators/l5-operator/0.0.3/manifests/l5-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/l5-operator/0.0.3/manifests/l5-operator.clusterserviceversion.yaml
  operators/l5-operator/0.0.3/manifests/pets.bestie.com_besties.yaml
  operators/l5-operator/0.0.3/metadata/annotations.yaml
  operators/l5-operator/0.0.3/metadata/dependencies.yaml
  operators/l5-operator/0.0.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2871 operator jaeger (1.46.0)
  operators/jaeger/1.46.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.46.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.46.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.46.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.46.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.46.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.46.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.46.0/metadata/annotations.yaml
  operators/jaeger/1.46.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2869 operator [O] multicluster-global-hub-operator (0.7.0-dev)
  operators/multicluster-global-hub-operator/0.7.0-dev/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, allow/serious-changes-to-existing, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2877 operator cluster-relocation-operator (0.9.1)
  operators/cluster-relocation-operator/0.9.1/manifests/cluster-relocation-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-relocation-operator/0.9.1/manifests/cluster-relocation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-relocation-operator/0.9.1/manifests/cluster-relocation-operator.clusterserviceversion.yaml
  operators/cluster-relocation-operator/0.9.1/manifests/rhsyseng.github.io_clusterrelocations.yaml
  operators/cluster-relocation-operator/0.9.1/metadata/annotations.yaml
  operators/cluster-relocation-operator/0.9.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2876 [ISV-3609] Disbale the package manifest format support.
  ci/pipeline-config-ocp.yaml
Labels: allow/ci-changes

#2872 operator [N] [CI] airflow-helm-operator (0.0.1)
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-create-user-job_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-migrate-database-job_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-operator.clusterserviceversion.yaml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-pod-launcher-role_Role.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-pod-launcher-rolebinding_RoleBinding.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-pod-log-reader-role_Role.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-pod-log-reader-rolebinding_RoleBinding.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-postgresql_Role.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-postgresql_RoleBinding.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-postgresql_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-redis_Role.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-redis_RoleBinding.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-redis_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-scc-rolebinding_RoleBinding.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-scheduler_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-statsd_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-triggerer_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-webserver_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-worker_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/workflow.apache.org_airflows.yaml
  operators/airflow-helm-operator/0.0.1/metadata/annotations.yaml
  operators/airflow-helm-operator/0.0.1/tests/scorecard/config.yaml
  operators/airflow-helm-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2882 operator keycloak-operator (21.1.2)
  operators/keycloak-operator/21.1.2/bundle.Dockerfile
  operators/keycloak-operator/21.1.2/manifests/keycloak-operator.v21.1.2.clusterserviceversion.yaml
  operators/keycloak-operator/21.1.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.2/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#2883 operator cass-operator-community (1.16.0)
  operators/cass-operator-community/1.16.0/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.16.0/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.16.0/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.16.0/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.16.0/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.16.0/metadata/annotations.yaml
  operators/cass-operator-community/1.16.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14
