Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-01, with the labels that each got.

#2019 operator annotationlab (4.5.0)
  operators/annotationlab/4.5.0/bundle.Dockerfile
  operators/annotationlab/4.5.0/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.5.0/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.5.0/metadata/annotations.yaml
  operators/annotationlab/4.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2020 operator annotationlab (4.5.1)
  operators/annotationlab/4.5.1/bundle.Dockerfile
  operators/annotationlab/4.5.1/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.5.1/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.5.1/metadata/annotations.yaml
  operators/annotationlab/4.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2021 operator [CI] annotationlab
  operators/annotationlab/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2022 operator [O] annotationlab (4.5.1)
  operators/annotationlab/4.5.1/manifests/annotationlab.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2024 operator pulp-operator (1.0.0-alpha.5)
  operators/pulp-operator/1.0.0-alpha.5/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/pulp-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/pulp-operator.1.0.0-alpha.5.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.5/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2029 operator cluster-aas-operator (0.0.4)
  operators/cluster-aas-operator/0.0.4/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.0.4/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.0.4/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.0.4/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.0.4/metadata/annotations.yaml
  operators/cluster-aas-operator/0.0.4/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2023 operator [R] annotationlab (3.4.0 4.1.2 4.2.0 4.2.1 4.3.0 4.4.0 4.4.1)
  operators/annotationlab/4.5.0/bundle.Dockerfile
  operators/annotationlab/4.5.0/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.5.0/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.5.0/metadata/annotations.yaml
  operators/annotationlab/4.5.0/tests/scorecard/config.yaml
  operators/annotationlab/4.5.1/bundle.Dockerfile
  operators/annotationlab/4.5.1/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.5.1/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.5.1/metadata/annotations.yaml
  operators/annotationlab/4.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2030 operator external-secrets-operator (0.7.1)
  operators/external-secrets-operator/0.7.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.7.1/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.7.1/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.7.1/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.7.1/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.7.1/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.7.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.7.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.7.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2034 operator annotationlab (4.5.0)
  operators/annotationlab/4.5.0/bundle.Dockerfile
  operators/annotationlab/4.5.0/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.0/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.5.0/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.5.0/metadata/annotations.yaml
  operators/annotationlab/4.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2035 operator annotationlab (4.5.1)
  operators/annotationlab/4.5.1/bundle.Dockerfile
  operators/annotationlab/4.5.1/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.5.1/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.5.1/metadata/annotations.yaml
  operators/annotationlab/4.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2037 operator [O] nfs-provisioner-operator (0.0.7)
  operators/nfs-provisioner-operator/0.0.7/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2031 operator percona-server-mongodb-operator (1.13.0)
  operators/percona-server-mongodb-operator/1.13.0/manifests/percona-server-mongodb-operator.v1.13.0.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2026 operator [CI] ack-kafka-controller
  operators/ack-kafka-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2025 operator [CI] ack-eventbridge-controller
  operators/ack-eventbridge-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2032 operator jaeger (1.41.0)
  operators/jaeger/1.41.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.41.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.41.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.41.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.41.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.41.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.41.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.41.0/metadata/annotations.yaml
  operators/jaeger/1.41.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2040 operator vault-config-operator (0.8.5)
  operators/vault-config-operator/0.8.5/Dockerfile
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.5/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.5/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.5/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.5/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.5/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.5/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.5/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.5/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.5/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.5/metadata/annotations.yaml
  operators/vault-config-operator/0.8.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2039 operator [R] annotationlab (3.4.0 4.1.2 4.2.0 4.2.1 4.3.0 4.4.0 4.4.1 4.5.0)
  operators/annotationlab/4.5.1/bundle.Dockerfile
  operators/annotationlab/4.5.1/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.5.1/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.5.1/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.5.1/metadata/annotations.yaml
  operators/annotationlab/4.5.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2042 operator rabbitmq-cluster-operator (2.1.0)
  operators/rabbitmq-cluster-operator/2.1.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.1.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.1.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.1.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2038 operator eginnovations-operator (0.0.4)
  operators/eginnovations-operator/0.0.4/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.4/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.4/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.4/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.4/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.4/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.4/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2043 operator opentelemetry-operator (0.67.0)
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.67.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.67.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1991 operator [N] [CI] kubecost (1.97.0)
  operators/kubecost/1.97.0/metadata/annotations.yaml
  operators/kubecost/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2047 operator flink-kubernetes-operator (1.3.1)
  operators/flink-kubernetes-operator/1.3.1/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.3.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.3.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2050 operator percona-server-mongodb-operator (1.13.1)
  operators/percona-server-mongodb-operator/1.13.1/manifests/percona-server-mongodb-operator.v1.13.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.13.1/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.13.1/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.13.1/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.13.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2049 operator awx-operator (1.1.3)
  operators/awx-operator/1.1.3/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.1.3/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.1.3/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.1.3/manifests/awx-operator.v1.1.3.clusterserviceversion.yaml
  operators/awx-operator/1.1.3/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.1.3/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.1.3/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.1.3/metadata/annotations.yaml
  operators/awx-operator/1.1.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2052 operator patterns-operator (0.0.9)
  operators/patterns-operator/0.0.9/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.9/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.9/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.9/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.9/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.9/metadata/annotations.yaml
  operators/patterns-operator/0.0.9/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2053 operator hazelcast-platform-operator (5.6.0)
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.6.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2054 operator t8c (42.13.0)
  operators/t8c/42.13.0/t8c-operator.v42.13.0.clusterserviceversion.yaml
  operators/t8c/42.13.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2057 operator dynatrace-operator (0.10.2)
  operators/dynatrace-operator/0.10.2/Dockerfile
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.10.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2056 operator cert-manager (1.10.2-rc1)
  operators/cert-manager/1.10.2-rc1/bundle.Dockerfile
  operators/cert-manager/1.10.2-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.2-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.2-rc1/metadata/annotations.yaml
  operators/cert-manager/1.10.2-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2060 operator [CI] postgresql (5.3.0)
  operators/postgresql/5.3.0/Dockerfile
  operators/postgresql/5.3.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.3.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.3.0/metadata/annotations.yaml
  operators/postgresql/5.3.0/tests/scorecard/config.yaml
  operators/postgresql/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2062 operator datadog-operator (0.8.4)
  operators/datadog-operator/0.8.4/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/0.8.4/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/0.8.4/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/0.8.4/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/0.8.4/metadata/annotations.yaml
  operators/datadog-operator/0.8.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2063 operator gitlab-operator-kubernetes (0.15.3)
  operators/gitlab-operator-kubernetes/0.15.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.15.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.15.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.15.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2064 operator gitlab-operator-kubernetes (0.15.2)
  operators/gitlab-operator-kubernetes/0.15.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.15.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.15.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.15.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2065 operator gitlab-operator-kubernetes (0.15.1)
  operators/gitlab-operator-kubernetes/0.15.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.15.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.15.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.15.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2001 operator [N] [CI] loki-operator (0.1.0)
  operators/loki-operator/0.1.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.1.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.1.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.1.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.1.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.1.0/metadata/annotations.yaml
  operators/loki-operator/0.1.0/tests/scorecard/config.yaml
  operators/loki-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2061 operator neuvector-community-operator (1.3.7)
  operators/neuvector-community-operator/1.3.7/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.3.7/neuvector-operator.v1.3.7.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2055 operator [R] t8c (42.14.0 42.15.0 42.16.0 42.17.0 42.18.0 42.19.0 42.20.0 42.21.0 42.22.0)
  operators/t8c/42.14.0/t8c-operator.v42.14.0.clusterserviceversion.yaml
  operators/t8c/42.14.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/42.15.0/t8c-operator.v42.15.0.clusterserviceversion.yaml
  operators/t8c/42.15.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/42.16.0/t8c-operator.v42.16.0.clusterserviceversion.yaml
  operators/t8c/42.16.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/42.17.0/t8c-operator.v42.17.0.clusterserviceversion.yaml
  operators/t8c/42.17.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/42.18.0/t8c-operator.v42.18.0.clusterserviceversion.yaml
  operators/t8c/42.18.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/42.19.0/t8c-operator.v42.19.0.clusterserviceversion.yaml
  operators/t8c/42.19.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/42.20.0/t8c-operator.v42.20.0.clusterserviceversion.yaml
  operators/t8c/42.20.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/42.21.0/t8c-operator.v42.21.0.clusterserviceversion.yaml
  operators/t8c/42.21.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/42.22.0/t8c-operator.v42.22.0.clusterserviceversion.yaml
  operators/t8c/42.22.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#2066 operator cert-manager (1.10.2)
  operators/cert-manager/1.10.2/bundle.Dockerfile
  operators/cert-manager/1.10.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.2/metadata/annotations.yaml
  operators/cert-manager/1.10.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#2068 operator [CI] aerospike-kubernetes-operator (2.4.0)
  operators/aerospike-kubernetes-operator/2.4.0/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.4.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.4.0/tests/scorecard/config.yaml
  operators/aerospike-kubernetes-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#2069 operator group-sync-operator (0.0.24)
  operators/group-sync-operator/0.0.24/Dockerfile
  operators/group-sync-operator/0.0.24/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.24/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.24/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.24/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.24/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.24/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.24/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.24/metadata/annotations.yaml
  operators/group-sync-operator/0.0.24/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#2058 operator verticadb-operator (1.9.0)
  operators/verticadb-operator/1.9.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.9.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.9.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.9.0/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.9.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.9.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.9.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.9.0/metadata/annotations.yaml
  operators/verticadb-operator/1.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-failed-4.12

#2070 operator node-maintenance-operator (0.14.0)
  operators/node-maintenance-operator/0.14.0/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.14.0/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.14.0/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.14.0/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.14.0/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.14.0/metadata/annotations.yaml
  operators/node-maintenance-operator/0.14.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#2075 operator [N] [CI] ndmspc-operator (0.1.3)
  operators/ndmspc-operator/0.1.3/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.1.3/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.1.3/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.1.3/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.1.3/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.1.3/metadata/annotations.yaml
  operators/ndmspc-operator/0.1.3/tests/scorecard/config.yaml
  operators/ndmspc-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#2073 operator koku-metrics-operator (1.2.0)
  operators/koku-metrics-operator/1.2.0/Dockerfile
  operators/koku-metrics-operator/1.2.0/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/1.2.0/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/1.2.0/metadata/annotations.yaml
  operators/koku-metrics-operator/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#2077 operator cert-manager (1.11.0-rc1)
  operators/cert-manager/1.11.0-rc1/bundle.Dockerfile
  operators/cert-manager/1.11.0-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.11.0-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.11.0-rc1/metadata/annotations.yaml
  operators/cert-manager/1.11.0-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#2076 operator keycloak-operator (20.0.3)
  operators/keycloak-operator/20.0.3/bundle.Dockerfile
  operators/keycloak-operator/20.0.3/manifests/keycloak-operator.v20.0.3.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.3/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11

#2079 operator kuadrant-operator (0.2.1)
  operators/kuadrant-operator/0.2.1/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.2.1/metadata/annotations.yaml
  operators/kuadrant-operator/0.2.1/metadata/dependencies.yaml
  operators/kuadrant-operator/0.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2051 operator yaks (0.12.2)
  operators/yaks/0.12.2/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.12.2/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.12.2/yaks.v0.12.2.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2078 operator kubernetes-imagepuller-operator (1.0.4)
  operators/kubernetes-imagepuller-operator/1.0.4/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/kubernetes-imagepuller-operator.v1.0.4.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2081 operator aqua (6.5.9)
  operators/aqua/6.5.9/bundle.Dockerfile
  operators/aqua/6.5.9/manifests/aqua-operator.v6.5.9.clusterserviceversion.yaml
  operators/aqua/6.5.9/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.9/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.9/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.9/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2083 operator pelorus-operator (0.0.2)
  operators/pelorus-operator/0.0.1/bundle.Dockerfile
  operators/pelorus-operator/0.0.2/bundle.Dockerfile
  operators/pelorus-operator/0.0.2/manifests/charts.pelorus.konveyor.io_pelorus.yaml
  operators/pelorus-operator/0.0.2/manifests/pelorus-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pelorus-operator/0.0.2/manifests/pelorus-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pelorus-operator/0.0.2/manifests/pelorus-operator.clusterserviceversion.yaml
  operators/pelorus-operator/0.0.2/metadata/annotations.yaml
  operators/pelorus-operator/0.0.2/metadata/properties.yaml
  operators/pelorus-operator/0.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2086 operator gitlab-operator-kubernetes (0.15.5)
  operators/gitlab-operator-kubernetes/0.15.5/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.15.5/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.5/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.15.5/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.15.5/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.5/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2089 operator gitlab-operator-kubernetes (0.11.4)
  operators/gitlab-operator-kubernetes/0.11.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.11.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.11.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.11.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.11.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2090 operator ndmspc-operator (0.2.0)
  operators/ndmspc-operator/0.2.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2091 operator rhoas-operator (0.12.0)
  operators/rhoas-operator/0.12.0/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  operators/rhoas-operator/0.12.0/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  operators/rhoas-operator/0.12.0/manifests/rhoas-operator.clusterserviceversion.yaml
  operators/rhoas-operator/0.12.0/manifests/rhoas-operator.kafkaconnections.crd.yaml
  operators/rhoas-operator/0.12.0/manifests/rhoas-operator.serviceregistryconnections.crd.yaml
  operators/rhoas-operator/0.12.0/manifests/service-binding.clusterrole.yaml
  operators/rhoas-operator/0.12.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2088 operator gitlab-operator-kubernetes (0.11.3)
  operators/gitlab-operator-kubernetes/0.11.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.11.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.11.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.11.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.11.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2092 operator rhoas-operator (0.13.0)
  operators/rhoas-operator/0.13.0/manifests/rhoas-operator.cloudserviceaccountrequest.crd.yaml
  operators/rhoas-operator/0.13.0/manifests/rhoas-operator.cloudservicesrequests.crd.yaml
  operators/rhoas-operator/0.13.0/manifests/rhoas-operator.clusterserviceversion.yaml
  operators/rhoas-operator/0.13.0/manifests/rhoas-operator.kafkaconnections.crd.yaml
  operators/rhoas-operator/0.13.0/manifests/rhoas-operator.serviceregistryconnections.crd.yaml
  operators/rhoas-operator/0.13.0/manifests/service-binding.clusterrole.yaml
  operators/rhoas-operator/0.13.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2074 operator [O] self-node-remediation (0.5.0)
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.5.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, allow/serious-changes-to-existing, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2096 operator ndmspc-operator (0.2.1)
  operators/ndmspc-operator/0.2.1/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.1/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.1/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.1/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.1/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.1/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2093 operator [CI] ack-acm-controller
  operators/ack-acm-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-skipped, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2100 operator ndmspc-operator (0.2.2)
  operators/ndmspc-operator/0.2.2/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.2/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.2/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.2/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.2/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.2/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2094 operator mongodb-atlas-kubernetes (1.6.0)
  operators/mongodb-atlas-kubernetes/1.6.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2098 operator hive-operator (1.2.3996-500a742)
  operators/hive-operator/1.2.3996-500a742/hive-operator.v1.2.3996-500a742.clusterserviceversion.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3996-500a742/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3996-500a742/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3996-500a742/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2101 operator ibm-block-csi-operator-community (1.11.0)
  operators/ibm-block-csi-operator-community/1.11.0/bundle-1.11.0.Dockerfile
  operators/ibm-block-csi-operator-community/1.11.0/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.11.0/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.11.0/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.11.0/manifests/ibm-block-csi-operator.v1.11.0.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.11.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2099 operator community-windows-machine-config-operator (7.0.0)
  operators/community-windows-machine-config-operator/7.0.0/manifests/community-windows-machine-config-operator.7.0.0.clusterserviceversion.yaml
  operators/community-windows-machine-config-operator/7.0.0/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/7.0.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/7.0.0/manifests/prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/community-windows-machine-config-operator/7.0.0/manifests/windows-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/community-windows-machine-config-operator/7.0.0/manifests/windows-exporter_v1_service.yaml
  operators/community-windows-machine-config-operator/7.0.0/manifests/windows-instance-config-daemon_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/community-windows-machine-config-operator/7.0.0/manifests/windows-instance-config-daemon_rbac.authorization.k8s.io_v1_role.yaml
  operators/community-windows-machine-config-operator/7.0.0/manifests/windows-instance-config-daemon_v1_serviceaccount.yaml
  operators/community-windows-machine-config-operator/7.0.0/manifests/windows-prometheus-k8s-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/community-windows-machine-config-operator/7.0.0/metadata/annotations.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped

#2018 operator project-quay (3.8.1)
  operators/project-quay/3.8.1/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.1/quayecosystems.crd.yaml
  operators/project-quay/3.8.1/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2103 operator opendatahub-operator (1.4.1)
  operators/opendatahub-operator/1.4.1/manifests/kfdef.apps.kubeflow.org.crd.yaml
  operators/opendatahub-operator/1.4.1/manifests/odhapplications.dashboard.opendatahub.io.crd.yaml
  operators/opendatahub-operator/1.4.1/manifests/odhdashboardconfigs.opendatahub.io.crd.yaml
  operators/opendatahub-operator/1.4.1/manifests/odhdocuments.dashboard.opendatahub.io.crd.yaml
  operators/opendatahub-operator/1.4.1/manifests/odhquickstarts.console.openshift.io.crd.yaml
  operators/opendatahub-operator/1.4.1/manifests/opendatahub-operator.v1.4.1.clusterserviceversion.yaml
  operators/opendatahub-operator/1.4.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2105 operator kubecost (1.99.0)
  operators/kubecost/1.99.0/bundle.Dockerfile
  operators/kubecost/1.99.0/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost/1.99.0/manifests/kubecost-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost/1.99.0/manifests/kubecost-manager-config_v1_configmap.yaml
  operators/kubecost/1.99.0/manifests/kubecost-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost/1.99.0/manifests/kubecost.clusterserviceversion.yaml
  operators/kubecost/1.99.0/metadata/annotations.yaml
  operators/kubecost/1.99.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2106 operator [CI] portworx-essentials (1.10.2)
  operators/portworx-essentials/1.10.2/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.10.2/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.10.2/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/ci.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2108 operator strimzi-kafka-operator (0.33.0)
  operators/strimzi-kafka-operator/0.33.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/strimzi-cluster-operator.v0.33.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.33.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.33.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2109 operator awx-operator (1.1.4)
  operators/awx-operator/1.1.4/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.1.4/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.1.4/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.1.4/manifests/awx-operator.v1.1.4.clusterserviceversion.yaml
  operators/awx-operator/1.1.4/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.1.4/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.1.4/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.1.4/metadata/annotations.yaml
  operators/awx-operator/1.1.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2102 operator [R] [CI] special-resource-operator (4.8.0)
  operators/special-resource-operator/0.0.1/Dockerfile
  operators/special-resource-operator/0.0.1/manifests/special-resource-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/special-resource-operator/0.0.1/manifests/special-resource-controller-manager-metrics-service_v1_service.yaml
  operators/special-resource-operator/0.0.1/manifests/special-resource-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/special-resource-operator/0.0.1/manifests/special-resource-operator.clusterserviceversion.yaml
  operators/special-resource-operator/0.0.1/manifests/special-resource-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/special-resource-operator/0.0.1/manifests/special-resource-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/special-resource-operator/0.0.1/manifests/sro.openshift.io_specialresources.yaml
  operators/special-resource-operator/0.0.1/metadata/annotations.yaml
  operators/special-resource-operator/0.0.1/tests/scorecard/config.yaml
  operators/special-resource-operator/4.8.0/manifests/special-resource-operator.clusterserviceversion.yaml
  operators/special-resource-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2114 operator netobserv-operator (1.0.1)
  operators/netobserv-operator/1.0.1/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.0.1/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.0.1/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/1.0.1/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.0.1/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2116 operator patterns-operator (0.0.10)
  operators/patterns-operator/0.0.10/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.10/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.10/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.10/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.10/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.10/metadata/annotations.yaml
  operators/patterns-operator/0.0.10/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2117 operator ndmspc-operator (0.2.3)
  operators/ndmspc-operator/0.2.3/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.3/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.3/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.3/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.3/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.3/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2118 operator flux (0.38.3)
  operators/flux/0.38.3/manifests/alert.crd.yaml
  operators/flux/0.38.3/manifests/bucket.crd.yaml
  operators/flux/0.38.3/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.38.3/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.38.3/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.38.3/manifests/flux.v0.38.3.clusterserviceversion.yaml
  operators/flux/0.38.3/manifests/gitrepository.crd.yaml
  operators/flux/0.38.3/manifests/helmchart.crd.yaml
  operators/flux/0.38.3/manifests/helmrelease.crd.yaml
  operators/flux/0.38.3/manifests/helmrepository.crd.yaml
  operators/flux/0.38.3/manifests/imagepolicy.crd.yaml
  operators/flux/0.38.3/manifests/imagerepository.crd.yaml
  operators/flux/0.38.3/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.38.3/manifests/kustomization.crd.yaml
  operators/flux/0.38.3/manifests/notification-controller.service.yaml
  operators/flux/0.38.3/manifests/ocirepository.crd.yaml
  operators/flux/0.38.3/manifests/provider.crd.yaml
  operators/flux/0.38.3/manifests/receiver.crd.yaml
  operators/flux/0.38.3/manifests/source-controller.service.yaml
  operators/flux/0.38.3/manifests/webhook-receiver.service.yaml
  operators/flux/0.38.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2119 operator gitlab-operator-kubernetes (0.16.0)
  operators/gitlab-operator-kubernetes/0.16.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.16.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.16.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.16.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2122 operator portworx-essentials (1.10.3)
  operators/portworx-essentials/1.10.3/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.10.3/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.10.3/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2121 operator [N] [CI] mariadb-operator (0.6.4)
  operators/mariadb-operator/0.6.4/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.6.4/metadata/annotations.yaml
  operators/mariadb-operator/0.6.4/tests/scorecard/config.yaml
  operators/mariadb-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2123 operator mongodb-atlas-kubernetes (1.6.1)
  operators/mongodb-atlas-kubernetes/1.6.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2097 operator jaeger (1.41.1)
  operators/jaeger/1.41.1/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.41.1/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.41.1/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.41.1/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.41.1/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.41.1/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.41.1/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.41.1/metadata/annotations.yaml
  operators/jaeger/1.41.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2128 operator camel-karavan-operator (3.20.0)
  operators/camel-karavan-operator/3.20.0/manifests/camel-karavan-operator.v3.20.0.clusterserviceversion.yaml
  operators/camel-karavan-operator/3.20.0/manifests/karavans.camel.apache.org.crd.yml
  operators/camel-karavan-operator/3.20.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#1850 operator [CI] gitlab-operator-kubernetes
  operators/gitlab-operator-kubernetes/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2126 operator hive-operator (1.2.4002-a78647b)
  operators/hive-operator/1.2.4002-a78647b/hive-operator.v1.2.4002-a78647b.clusterserviceversion.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4002-a78647b/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4002-a78647b/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4002-a78647b/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2125 operator vault-config-operator (0.8.7)
  operators/vault-config-operator/0.8.7/Dockerfile
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.7/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.7/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.7/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.7/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.7/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.7/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.7/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.7/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.7/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.7/metadata/annotations.yaml
  operators/vault-config-operator/0.8.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2127 operator [O] opendatahub-operator (1.4.1)
  operators/opendatahub-operator/1.4.1/manifests/odhdashboardconfigs.opendatahub.io.crd.yaml
  operators/opendatahub-operator/1.4.1/manifests/opendatahub-operator.v1.4.1.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, allow/serious-changes-to-existing, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2124 operator camel-k (1.11.1)
  operators/camel-k/1.11.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/camel-k.v1.11.1.clusterserviceversion.yaml
  operators/camel-k/1.11.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/metadata/annotations.yaml
  operators/camel-k/1.11.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2129 operator gitlab-operator-kubernetes (0.16.1)
  operators/gitlab-operator-kubernetes/0.16.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.16.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.16.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.16.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12
