Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-05, with the labels that each got.

#2596 operator codeflare-operator (0.0.2)
  operators/codeflare-operator/0.0.2/manifests/codeflare-operator-controller-manager-metrics-service_v1_service.yaml
  operators/codeflare-operator/0.0.2/manifests/codeflare-operator-manager-config_v1_configmap.yaml
  operators/codeflare-operator/0.0.2/manifests/codeflare-operator-manager-edit-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/codeflare-operator/0.0.2/manifests/codeflare-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/0.0.2/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/0.0.2/manifests/codeflare.codeflare.dev_instascales.yaml
  operators/codeflare-operator/0.0.2/manifests/codeflare.codeflare.dev_mcads.yaml
  operators/codeflare-operator/0.0.2/manifests/mcad.ibm.com_appwrappers.yaml
  operators/codeflare-operator/0.0.2/manifests/mcad.ibm.com_queuejobs.yaml
  operators/codeflare-operator/0.0.2/manifests/mcad.ibm.com_schedulingspecs.yaml
  operators/codeflare-operator/0.0.2/metadata/annotations.yaml
  operators/codeflare-operator/0.0.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2590 operator rabbitmq-messaging-topology-operator (1.10.3)
  operators/rabbitmq-messaging-topology-operator/1.10.3/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2586 operator dynatrace-operator (0.11.1)
  operators/dynatrace-operator/0.11.1/Dockerfile
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.11.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2604 operator portworx-essentials (23.4.0)
  operators/portworx-essentials/23.4.0/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.4.0/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.4.0/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2592 operator annotationlab (4.9.0)
  operators/annotationlab/4.9.0/bundle.Dockerfile
  operators/annotationlab/4.9.0/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.9.0/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.9.0/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.9.0/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.9.0/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.9.0/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.9.0/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.9.0/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.9.0/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.9.0/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.9.0/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.9.0/metadata/annotations.yaml
  operators/annotationlab/4.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2609 operator aerospike-kubernetes-operator (2.5.0)
  operators/aerospike-kubernetes-operator/2.5.0/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.5.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2608 operator windup-operator (0.0.14)
  operators/windup-operator/0.0.14/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.14/manifests/windup.crd.yaml
  operators/windup-operator/0.0.14/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2617 operator [CI] node-maintenance-operator (0.15.0)
  operators/node-maintenance-operator/0.15.0/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.15.0/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.15.0/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.15.0/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.15.0/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.15.0/metadata/annotations.yaml
  operators/node-maintenance-operator/0.15.0/tests/scorecard/config.yaml
  operators/node-maintenance-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2639 [ISV-3572] Update GitHub reviewers/assignees.
  operators/OWNERS
Labels: openshift-operator

#2603 operator [N] [CI] airflow-hybrid-operator (0.2.5)
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-create-user-job_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-migrate-database-job_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-pod-launcher-role_Role.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-pod-launcher-rolebinding_RoleBinding.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-pod-log-reader-role_Role.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-pod-log-reader-rolebinding_RoleBinding.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-postgresql_Role.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-postgresql_RoleBinding.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-postgresql_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-redis_Role.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-redis_RoleBinding.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-redis_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-scc-rolebinding_RoleBinding.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-scheduler_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-statsd_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-triggerer_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-webserver_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-helm-worker_ServiceAccount.yml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-hybrid-operator-controller-manager-metrics-service_v1_service.yaml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-hybrid-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/airflow-hybrid-operator/0.2.5/manifests/airflow-hybrid-operator.clusterserviceversion.yaml
  operators/airflow-hybrid-operator/0.2.5/manifests/workflow.apache.org_airflows.yaml
  operators/airflow-hybrid-operator/0.2.5/metadata/annotations.yaml
  operators/airflow-hybrid-operator/0.2.5/tests/scorecard/config.yaml
  operators/airflow-hybrid-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-recreate, installation-validated-4.8, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2588 operator ibm-block-csi-operator-community (1.11.1)
  operators/ibm-block-csi-operator-community/1.11.1/bundle-1.11.1.Dockerfile
  operators/ibm-block-csi-operator-community/1.11.1/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.11.1/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.11.1/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.11.1/manifests/ibm-block-csi-operator.v1.11.1.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.11.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2605 operator [CI] self-node-remediation (0.6.0)
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.6.0/metadata/annotations.yaml
  operators/self-node-remediation/0.6.0/tests/scorecard/config.yaml
  operators/self-node-remediation/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2607 operator seldon-operator (1.16.0)
  operators/seldon-operator/1.16.0/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.16.0/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.16.0/metadata/annotations.yaml
  operators/seldon-operator/1.16.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2623 operator [R] annotationlab (4.9.2)
  operators/annotationlab/4.9.0/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.9.2/bundle.Dockerfile
  operators/annotationlab/4.9.2/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/4.9.2/manifests/annotationlab-create-user-job_ServiceAccount.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/4.9.2/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/4.9.2/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/4.9.2/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.9.2/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.9.2/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.9.2/manifests/annotationlab-migrate-database-job_ServiceAccount.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-pod-launcher-Role.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-pod-launcher-RoleBinding.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-postgresql_Role.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-postgresql_RoleBinding.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-postgresql_ServiceAccount.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/4.9.2/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/4.9.2/manifests/annotationlab-redis_Role.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-redis_RoleBinding.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-redis_ServiceAccount.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-scc-rolebinding_RoleBinding.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-scheduler_ServiceAccount.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-statsd_ServiceAccount.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-triggerer_ServiceAccount.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-webserver_ServiceAccount.yml
  operators/annotationlab/4.9.2/manifests/annotationlab-worker_ServiceAccount.yml
  operators/annotationlab/4.9.2/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/4.9.2/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/4.9.2/metadata/annotations.yaml
  operators/annotationlab/4.9.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2629 OpenShift 4.13 release
  ci/pipeline-config-ocp.yaml
Labels: do-not-merge/hold, package-validated, allow/ci-changes

#2587 operator project-quay (3.9.0-nightly.20230513)
  operators/project-quay/3.9.0-nightly.20230513/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230513/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2622 operator [CI] aqua (2022.4.12)
  operators/aqua/2022.4.12/bundle.Dockerfile
  operators/aqua/2022.4.12/manifests/aqua-operator.v2022.4.12.clusterserviceversion.yaml
  operators/aqua/2022.4.12/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.12/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.12/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.12/metadata/annotations.yaml
  operators/aqua/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2643 operator windup-operator (0.0.15)
  operators/windup-operator/0.0.15/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.15/manifests/windup.crd.yaml
  operators/windup-operator/0.0.15/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2650 operator project-quay (3.9.0-nightly.20230514)
  operators/project-quay/3.9.0-nightly.20230514/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230514/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2618 operator [N] [CI] fence-agents-remediation (0.1.0)
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.1.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.1.0/metadata/annotations.yaml
  operators/fence-agents-remediation/0.1.0/tests/scorecard/config.yaml
  operators/fence-agents-remediation/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2634 operator [R] multi-nic-cni-operator (1.0.4 1.1.0)
  operators/multi-nic-cni-operator/1.0.4/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.0.4/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.0.4/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.0.4/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.0.4/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.0.4/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.0.4/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.0.4/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.0.4/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.0.4/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.0.4/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.0.4/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.0.4/tests/scorecard/config.yaml
  operators/multi-nic-cni-operator/1.1.0/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.1.0/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.1.0/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.1.0/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.1.0/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.1.0/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.1.0/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.1.0/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.1.0/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.1.0/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.1.0/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.1.0/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2627 operator forklift-operator (2.4.1)
  operators/forklift-operator/2.4.1/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.4.1/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.4.1/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.4.1/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.4.1/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.4.1/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.4.1/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.4.1/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.4.1/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.4.1/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.4.1/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.4.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2636 operator [O] multicluster-global-hub-operator (0.7.0-dev)
  operators/multicluster-global-hub-operator/0.7.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2644 operator mongodb-atlas-kubernetes (1.7.3)
  operators/mongodb-atlas-kubernetes/1.7.3/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.7.3/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.7.3/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.7.3/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.7.3/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.7.3/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.7.3/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.7.3/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.7.3/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.7.3/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.7.3/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.7.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2632 Remove Machine Deletion Operator
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-controller-manager-metrics-service_v1_service.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-controller-manager_v1_serviceaccount.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-machine-deletion-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-manager-config_v1_configmap.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion.clusterserviceversion.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion.medik8s.io_machinedeletions.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion.medik8s.io_machinedeletiontemplates.yaml
  operators/machine-deletion-operator/0.0.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, openshift-started-4.10, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2619 operator gitlab-operator-kubernetes (0.19.1)
  operators/gitlab-operator-kubernetes/0.19.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.19.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.19.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.19.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2633 operator awx-operator (2.0.1)
  operators/awx-operator/2.0.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.0.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.0.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.0.1/manifests/awx-operator.v2.0.1.clusterserviceversion.yaml
  operators/awx-operator/2.0.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.0.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.0.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.0.1/metadata/annotations.yaml
  operators/awx-operator/2.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2653 operator project-quay (3.9.0-nightly.20230515)
  operators/project-quay/3.9.0-nightly.20230515/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230515/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2628 operator [N] [CI] machine-deletion-remediation (0.1.0)
  operators/machine-deletion-remediation/0.1.0/manifests/machine-deletion-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/machine-deletion-remediation/0.1.0/manifests/machine-deletion-remediation-machine-deletion-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-remediation/0.1.0/manifests/machine-deletion-remediation-manager-config_v1_configmap.yaml
  operators/machine-deletion-remediation/0.1.0/manifests/machine-deletion-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-remediation/0.1.0/manifests/machine-deletion-remediation.clusterserviceversion.yaml
  operators/machine-deletion-remediation/0.1.0/manifests/machine-deletion-remediation.medik8s.io_machinedeletionremediations.yaml
  operators/machine-deletion-remediation/0.1.0/manifests/machine-deletion-remediation.medik8s.io_machinedeletionremediationtemplates.yaml
  operators/machine-deletion-remediation/0.1.0/metadata/annotations.yaml
  operators/machine-deletion-remediation/0.1.0/tests/scorecard/config.yaml
  operators/machine-deletion-remediation/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2544 operator ndmspc-operator (0.3.0)
  operators/ndmspc-operator/0.3.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.3.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.3.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.3.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.3.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.3.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2657 operator hive-operator (1.2.4115-5ff17b1)
  operators/hive-operator/1.2.4115-5ff17b1/hive-operator.v1.2.4115-5ff17b1.clusterserviceversion.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4115-5ff17b1/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2660 operator strimzi-kafka-operator (0.35.0)
  operators/strimzi-kafka-operator/0.35.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/strimzi-cluster-operator.v0.35.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.35.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.35.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2656 operator kiali (1.68.0)
  operators/kiali/1.68.0/bundle.Dockerfile
  operators/kiali/1.68.0/manifests/kiali.crd.yaml
  operators/kiali/1.68.0/manifests/kiali.v1.68.0.clusterserviceversion.yaml
  operators/kiali/1.68.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2606 operator victoriametrics-operator (0.33.0)
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.33.0/victoriametrics-operator.0.33.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2655 operator [CI] hyperfoil-bundle (0.24.2)
  operators/hyperfoil-bundle/0.24.2/hyperfoil-operator.v0.24.2.clusterserviceversion.yaml
  operators/hyperfoil-bundle/0.24.2/hyperfoil.io_hyperfoils_crd.yaml
  operators/hyperfoil-bundle/ci.yaml
  operators/hyperfoil-bundle/hyperfoil-bundle.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2663 operator jaeger (1.45.0)
  operators/jaeger/1.45.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.45.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.45.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.45.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.45.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.45.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.45.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.45.0/metadata/annotations.yaml
  operators/jaeger/1.45.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2631 operator awx-operator (2.1.0)
  operators/awx-operator/2.1.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.1.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.1.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.1.0/manifests/awx-operator.v2.1.0.clusterserviceversion.yaml
  operators/awx-operator/2.1.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.1.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.1.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.1.0/metadata/annotations.yaml
  operators/awx-operator/2.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2658 operator authorino-operator (0.7.0)
  operators/authorino-operator/0.7.0/bundle.Dockerfile
  operators/authorino-operator/0.7.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.7.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.7.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.7.0/metadata/annotations.yaml
  operators/authorino-operator/0.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2676 operator patterns-operator (0.0.14)
  operators/patterns-operator/0.0.14/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.14/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.14/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.14/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.14/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.14/metadata/annotations.yaml
  operators/patterns-operator/0.0.14/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2672 operator gitlab-operator-kubernetes (0.19.2)
  operators/gitlab-operator-kubernetes/0.19.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.19.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.19.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.19.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2659 operator limitador-operator (0.5.0)
  operators/limitador-operator/0.5.0/bundle.Dockerfile
  operators/limitador-operator/0.5.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.5.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.5.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.5.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.5.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.5.0/metadata/annotations.yaml
  operators/limitador-operator/0.5.0/tests/scorecard/config.yaml
Labels: ¯\_(ツ)_/¯, ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2677 operator kogito-operator (1.38.0)
  operators/kogito-operator/1.38.0/Dockerfile
  operators/kogito-operator/1.38.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.38.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.38.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.38.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.38.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.38.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.38.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.38.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.38.0/metadata/annotations.yaml
  operators/kogito-operator/1.38.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2693 operator external-secrets-operator (0.8.2)
  operators/external-secrets-operator/0.8.2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.2/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2698 operator mariadb-operator (0.15.0)
  operators/mariadb-operator/0.15.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.15.0/metadata/annotations.yaml
  operators/mariadb-operator/0.15.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2699 operator gitlab-runner-operator (1.15.0)
  operators/gitlab-runner-operator/1.15.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.15.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.15.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2691 operator flink-kubernetes-operator (1.5.0)
  operators/flink-kubernetes-operator/1.5.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.5.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.5.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2688 operator verticadb-operator (1.11.0)
  operators/verticadb-operator/1.11.0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/1.11.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.11.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.11.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.11.0/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.11.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.11.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.11.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.11.0/metadata/annotations.yaml
  operators/verticadb-operator/1.11.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2696 operator bpfd-operator (0.2.0)
  operators/bpfd-operator/0.2.0/bundle.Dockerfile
  operators/bpfd-operator/0.2.0/manifests/bpfd-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-config_v1_configmap.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-controller-manager-metrics-service_v1_service.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-daemon_v1_serviceaccount.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-operator.clusterserviceversion.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd.io_bpfprograms.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd.io_tcprograms.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd.io_tracepointprograms.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd.io_xdpprograms.yaml
  operators/bpfd-operator/0.2.0/metadata/annotations.yaml
  operators/bpfd-operator/0.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2701 operator neuvector-community-operator (1.3.9)
  operators/neuvector-community-operator/1.3.9/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.3.9/neuvector-operator.v1.3.9.clusterserviceversion.yaml
  operators/neuvector-community-operator/neuvector-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2702 operator deployment-validation-operator (0.5.0)
  operators/deployment-validation-operator/0.5.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.5.0/manifests/deploymentvalidationoperator.0.5.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.5.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2675 operator project-quay (3.9.0-nightly.20230524)
  operators/project-quay/3.9.0-nightly.20230524/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230524/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2685 operator awx-operator (2.2.1)
  operators/awx-operator/2.2.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.2.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.2.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.2.1/manifests/awx-operator.v2.2.1.clusterserviceversion.yaml
  operators/awx-operator/2.2.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.2.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.2.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.2.1/metadata/annotations.yaml
  operators/awx-operator/2.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2697 operator hive-operator (1.2.4132-6dfd1cf)
  operators/hive-operator/1.2.4132-6dfd1cf/hive-operator.v1.2.4132-6dfd1cf.clusterserviceversion.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2706 operator project-quay (3.9.0-nightly.20230525)
  operators/project-quay/3.9.0-nightly.20230525/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230525/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2704 operator gitlab-operator-kubernetes (0.19.3)
  operators/gitlab-operator-kubernetes/0.19.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.19.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.19.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.19.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2710 operator gitlab-runner-operator (1.15.1)
  operators/gitlab-runner-operator/1.15.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.15.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.15.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.15.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.15.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.15.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.15.1/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.15.1/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.15.1/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.15.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2708 operator cluster-manager (0.11.0)
  operators/cluster-manager/0.11.0/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.11.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2711 operator external-secrets-operator (0.8.3)
  operators/external-secrets-operator/0.8.3/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.3/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.3/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2713 operator project-quay (3.9.0-nightly.20230526)
  operators/project-quay/3.9.0-nightly.20230526/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230526/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2714 operator vault-config-operator (0.8.14)
  operators/vault-config-operator/0.8.14/Dockerfile
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.14/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.14/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.14/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.14/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.14/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.14/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.14/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.14/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.14/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.14/metadata/annotations.yaml
  operators/vault-config-operator/0.8.14/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2715 operator project-quay (3.8.7)
  operators/project-quay/3.8.7/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.7/quayecosystems.crd.yaml
  operators/project-quay/3.8.7/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2717 operator project-quay (3.9.0-nightly.20230527)
  operators/project-quay/3.9.0-nightly.20230527/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230527/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2716 operator vault-config-operator (0.8.15)
  operators/vault-config-operator/0.8.15/Dockerfile
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.15/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.15/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.15/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.15/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.15/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.15/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.15/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.15/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.15/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.15/metadata/annotations.yaml
  operators/vault-config-operator/0.8.15/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2719 operator project-quay (3.9.0-nightly.20230528)
  operators/project-quay/3.9.0-nightly.20230528/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230528/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2721 operator mariadb-operator (0.15.1)
  operators/mariadb-operator/0.15.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.15.1/metadata/annotations.yaml
  operators/mariadb-operator/0.15.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2720 operator project-quay (3.8.8)
  operators/project-quay/3.8.8/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.8/quayecosystems.crd.yaml
  operators/project-quay/3.8.8/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2722 operator gitlab-operator-kubernetes (0.19.4)
  operators/gitlab-operator-kubernetes/0.19.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.19.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.19.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.19.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2723 operator project-quay (3.9.0-nightly.20230529)
  operators/project-quay/3.9.0-nightly.20230529/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230529/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2724 operator project-quay (3.9.0-nightly.20230530)
  operators/project-quay/3.9.0-nightly.20230530/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230530/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2727 operator hive-operator (1.2.4139-ab57166)
  operators/hive-operator/1.2.4139-ab57166/hive-operator.v1.2.4139-ab57166.clusterserviceversion.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4139-ab57166/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4139-ab57166/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4139-ab57166/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2728 operator project-quay (3.9.0-nightly.20230531)
  operators/project-quay/3.9.0-nightly.20230531/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230531/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#2664 operator kuadrant-operator (0.3.0)
  operators/kuadrant-operator/0.3.0/bundle.Dockerfile
  operators/kuadrant-operator/0.3.0/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.3.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.3.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13
