Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-10, with the labels that each got.

#3368 operator project-quay (3.10.0-nightly.20231002)
  operators/project-quay/3.10.0-nightly.20231002/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231002/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231002/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3373 operator deployment-validation-operator (0.7.0)
  operators/deployment-validation-operator/0.7.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.0/manifests/deploymentvalidationoperator.0.7.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3377 operator gitlab-operator-kubernetes (0.24.1)
  operators/gitlab-operator-kubernetes/0.24.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.24.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.24.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.24.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.24.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.24.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.24.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3379 operator keycloak-operator (22.0.4)
  operators/keycloak-operator/22.0.4/bundle.Dockerfile
  operators/keycloak-operator/22.0.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3374 operator [R] project-quay (3.10.0-nightly.20230913 3.9.0-nightly.20230711)
  operators/project-quay/3.10.0-nightly.20230913/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230711/manifests/quay-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, authorized-changes, allow/operator-recreate, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3381 operator kubecost (1.106.2)
  operators/kubecost/1.106.2/bundle.Dockerfile
  operators/kubecost/1.106.2/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost/1.106.2/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost/1.106.2/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost/1.106.2/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost/1.106.2/metadata/annotations.yaml
  operators/kubecost/1.106.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3372 operator project-quay (3.10.0-nightly.20231005)
  operators/project-quay/3.10.0-nightly.20231005/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231005/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231005/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3387 operator [O] kubecost (1.106.2)
  operators/kubecost/1.106.2/manifests/kubecost-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3389 operator kepler-operator (0.8.1)
  operators/kepler-operator/0.8.1/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.8.1/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.8.1/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.8.1/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.8.1/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.8.1/metadata/annotations.yaml
  operators/kepler-operator/0.8.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.15

#3390 operator project-quay (3.10.0-nightly.20231006)
  operators/project-quay/3.10.0-nightly.20231006/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231006/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231006/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3392 operator vault-config-operator (0.8.24)
  operators/vault-config-operator/0.8.24/Dockerfile
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.24/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.24/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.24/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.24/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.24/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.24/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.24/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.24/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.24/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.24/metadata/annotations.yaml
  operators/vault-config-operator/0.8.24/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3391 operator [O] keycloak-operator (22.0.4)
  operators/keycloak-operator/22.0.4/manifests/keycloak-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3394 operator project-quay (3.10.0-nightly.20231007)
  operators/project-quay/3.10.0-nightly.20231007/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231007/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231007/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3396 operator project-quay (3.10.0-nightly.20231008)
  operators/project-quay/3.10.0-nightly.20231008/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231008/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231008/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3395 operator kube-green (0.5.2)
  operators/kube-green/0.5.2/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.5.2/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.5.2/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.5.2/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.5.2/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.5.2/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.5.2/metadata/annotations.yaml
  operators/kube-green/0.5.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3399 operator project-quay (3.10.0-nightly.20231009)
  operators/project-quay/3.10.0-nightly.20231009/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231009/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231009/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3400 operator cluster-manager (0.12.0)
  operators/cluster-manager/0.12.0/manifests/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.12.0/manifests/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/0.12.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.15

#3401 operator klusterlet (0.12.0)
  operators/klusterlet/0.12.0/manifests/klusterlet.clusterserviceversion.yaml
  operators/klusterlet/0.12.0/manifests/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/0.12.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3233 operator infinispan (2.3.4)
  operators/infinispan/2.3.4/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.4/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.4/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.4/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.4/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.4/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.4/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.4/metadata/annotations.yaml
  operators/infinispan/2.3.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3403 operator hive-operator (1.2.4295-04f2f4f)
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive-operator.v1.2.4295-04f2f4f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4295-04f2f4f/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3405 operator [O] cluster-manager (0.12.0)
  operators/cluster-manager/0.12.0/manifests/cluster-manager.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3406 operator [O] klusterlet (0.12.0)
  operators/klusterlet/0.12.0/manifests/klusterlet.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3408 operator project-quay (3.10.0-nightly.20231010)
  operators/project-quay/3.10.0-nightly.20231010/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231010/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231010/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3409 operator [O] cluster-manager (0.12.0)
  operators/cluster-manager/0.12.0/manifests/cluster-manager.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3410 operator [O] klusterlet (0.12.0)
  operators/klusterlet/0.12.0/manifests/klusterlet.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3404 operator apicurio-registry (1.1.0-v2.4.12.final)
  operators/apicurio-registry/1.1.0-v2.4.12.final/bundle.Dockerfile
  operators/apicurio-registry/1.1.0-v2.4.12.final/manifests/apicurio-registry-operator.clusterserviceversion.yaml
  operators/apicurio-registry/1.1.0-v2.4.12.final/manifests/registry.apicur.io_apicurioregistries.yaml
  operators/apicurio-registry/1.1.0-v2.4.12.final/metadata/annotations.yaml
  operators/apicurio-registry/1.1.0-v2.4.12.final/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3411 operator move2kube-operator (0.3.11-rc.0)
  operators/move2kube-operator/0.3.11-rc.0/bundle.Dockerfile
  operators/move2kube-operator/0.3.11-rc.0/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.11-rc.0/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.11-rc.0/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.11-rc.0/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.11-rc.0/metadata/annotations.yaml
  operators/move2kube-operator/0.3.11-rc.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3413 operator [R] opendatahub-operator (1.10.1 2.2.1)
  operators/opendatahub-operator/1.10.1/manifests/console.openshift.io_odhquickstarts.yaml
  operators/opendatahub-operator/1.10.1/manifests/dashboard.opendatahub.io_acceleratorprofiles.yaml
  operators/opendatahub-operator/1.10.1/manifests/dashboard.opendatahub.io_odhapplications.yaml
  operators/opendatahub-operator/1.10.1/manifests/dashboard.opendatahub.io_odhdocuments.yaml
  operators/opendatahub-operator/1.10.1/manifests/kfdef.apps.kubeflow.org_kfdefs.yaml
  operators/opendatahub-operator/1.10.1/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/1.10.1/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/1.10.1/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/1.10.1/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/1.10.1/manifests/opendatahub.io_odhdashboardconfigs.yaml
  operators/opendatahub-operator/1.10.1/metadata/annotations.yaml
  operators/opendatahub-operator/1.10.1/tests/scorecard/config.yaml
  operators/opendatahub-operator/2.2.1/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.2.1/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.2.1/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.2.1/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.2.1/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.2.1/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.2.1/metadata/annotations.yaml
  operators/opendatahub-operator/2.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3415 operator [CI] ack-cloudwatchlogs-controller
  operators/ack-cloudwatchlogs-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped

#3416 operator project-quay (3.10.0-nightly.20231011)
  operators/project-quay/3.10.0-nightly.20231011/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231011/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231011/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3418 operator [O] aqua (2022.4.13)
  operators/aqua/2022.4.13/manifests/aqua-operator.v2022.4.13.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3420 operator mariadb-operator (0.21.0)
  operators/mariadb-operator/0.21.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.21.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.21.0/metadata/annotations.yaml
  operators/mariadb-operator/0.21.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3422 operator ndmspc-operator (0.3.3)
  operators/ndmspc-operator/0.3.3/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.3.3/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.3.3/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.3.3/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.3.3/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.3.3/metadata/annotations.yaml
  operators/ndmspc-operator/0.3.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3423 operator project-quay (3.10.0-nightly.20231012)
  operators/project-quay/3.10.0-nightly.20231012/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231012/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231012/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3425 operator codeflare-operator (1.0.0-rc.2)
  operators/codeflare-operator/1.0.0-rc.2/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.0.0-rc.2/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.0.0-rc.2/manifests/quota.codeflare.dev_quotasubtrees.yaml
  operators/codeflare-operator/1.0.0-rc.2/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.0.0-rc.2/manifests/workload.codeflare.dev_schedulingspecs.yaml
  operators/codeflare-operator/1.0.0-rc.2/metadata/annotations.yaml
  operators/codeflare-operator/1.0.0-rc.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3428 operator datadog-operator (1.2.0)
  operators/datadog-operator/1.2.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.2.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.2.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.2.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.2.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.2.0/metadata/annotations.yaml
  operators/datadog-operator/1.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.15

#3430 operator project-quay (3.10.0-nightly.20231013)
  operators/project-quay/3.10.0-nightly.20231013/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231013/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231013/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3431 operator kepler-operator (0.9.0)
  operators/kepler-operator/0.9.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.9.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.9.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.9.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.9.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.9.0/metadata/annotations.yaml
  operators/kepler-operator/0.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3426 operator forklift-operator (2.5.2)
  operators/forklift-operator/2.5.2/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.5.2/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.5.2/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.5.2/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.5.2/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.5.2/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.5.2/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.5.2/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.5.2/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.5.2/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.5.2/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.5.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3432 operator dapr-kubernetes-operator (0.0.5)
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr.io_components.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr.io_configurations.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr.io_httpendpoints.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr.io_resiliencies.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr.io_subscriptions.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.5/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3424 operator percona-server-mongodb-operator (1.15.0)
  operators/percona-server-mongodb-operator/1.15.0/manifests/percona-server-mongodb-operator.v1.15.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.15.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.15.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.15.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.15.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3434 operator mariadb-operator (0.22.0)
  operators/mariadb-operator/0.22.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.22.0/metadata/annotations.yaml
  operators/mariadb-operator/0.22.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3435 operator ndmspc-operator (0.4.0)
  operators/ndmspc-operator/0.4.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.4.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.4.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.4.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.4.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.4.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3443 operator project-quay (3.10.0-nightly.20231014)
  operators/project-quay/3.10.0-nightly.20231014/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231014/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231014/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3445 operator windup-operator (0.0.22)
  operators/windup-operator/0.0.22/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.22/manifests/windup.crd.yaml
  operators/windup-operator/0.0.22/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3446 operator ndmspc-operator (0.5.0)
  operators/ndmspc-operator/0.5.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.5.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.5.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.5.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.5.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.5.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3448 operator ndmspc-operator (0.6.0)
  operators/ndmspc-operator/0.6.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.6.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.6.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.6.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.6.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.6.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3449 operator external-secrets-operator (0.9.6)
  operators/external-secrets-operator/0.9.6/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.6/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.6/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3385 operator [N] [CI] debezium-operator (2.4.0)
  operators/debezium-operator/2.4.0/bundle.Dockerfile
  operators/debezium-operator/2.4.0/manifests/debezium-operator.v2.4.0.clusterserviceversion.yaml
  operators/debezium-operator/2.4.0/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.4.0/metadata/annotations.yaml
  operators/debezium-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3414 operator awx-operator (2.6.0)
  operators/awx-operator/2.6.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.6.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.6.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.6.0/manifests/awx-operator.v2.6.0.clusterserviceversion.yaml
  operators/awx-operator/2.6.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.6.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.6.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.6.0/metadata/annotations.yaml
  operators/awx-operator/2.6.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3451 operator aerospike-kubernetes-operator (3.1.0)
  operators/aerospike-kubernetes-operator/3.1.0/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/3.1.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.1.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.1.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.1.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.1.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.1.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.1.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3453 operator sap-data-intelligence-observer-operator (1.0.4)
  operators/sap-data-intelligence-observer-operator/1.0.4/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/1.0.4/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/1.0.4/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/1.0.4/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/1.0.4/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3455 operator dynatrace-operator (0.14.0)
  operators/dynatrace-operator/0.14.0/Dockerfile
  operators/dynatrace-operator/0.14.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.14.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.14.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.14.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.14.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.14.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/0.14.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3457 operator infinispan (2.3.5)
  operators/infinispan/2.3.5/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.5/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.5/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.5/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.5/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.5/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.5/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.5/metadata/annotations.yaml
  operators/infinispan/2.3.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3460 operator hive-operator (1.2.4306-9e90185)
  operators/hive-operator/1.2.4306-9e90185/manifests/hive-operator.v1.2.4306-9e90185.clusterserviceversion.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4306-9e90185/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3464 operator patterns-operator (0.0.25)
  operators/patterns-operator/0.0.25/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.25/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.25/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.25/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.25/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.25/metadata/annotations.yaml
  operators/patterns-operator/0.0.25/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.15

#3463 operator strimzi-kafka-operator (0.38.0)
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimzi-cluster-operator.v0.38.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3465 operator pulp-operator (1.0.0-beta.2)
  operators/pulp-operator/1.0.0-beta.2/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/pulp-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-beta.2/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-beta.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3467 operator project-quay (3.8.13)
  operators/project-quay/3.8.13/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.13/manifests/quayecosystems.crd.yaml
  operators/project-quay/3.8.13/manifests/quayregistries.crd.yaml
  operators/project-quay/3.8.13/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3466 operator awx-operator (2.7.0)
  operators/awx-operator/2.7.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.7.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.7.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.7.0/manifests/awx-operator.v2.7.0.clusterserviceversion.yaml
  operators/awx-operator/2.7.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.7.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.7.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.7.0/metadata/annotations.yaml
  operators/awx-operator/2.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3469 operator neuvector-community-operator (1.4.2)
  operators/neuvector-community-operator/1.4.2/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.4.2/manifests/neuvector-operator.v1.4.2.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.4.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3402 operator mongodb-atlas-kubernetes (1.9.0)
  operators/mongodb-atlas-kubernetes/1.9.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3473 operator project-quay (3.9.3)
  operators/project-quay/3.9.3/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.3/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3454 operator microcks (1.8.0)
  operators/microcks/1.8.0/manifests/microcks-operator.v1.8.0.clusterserviceversion.yaml
  operators/microcks/1.8.0/manifests/microcksinstall.crd.yaml
  operators/microcks/1.8.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3474 operator koku-metrics-operator (3.0.1)
  operators/koku-metrics-operator/3.0.1/Dockerfile
  operators/koku-metrics-operator/3.0.1/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/3.0.1/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/3.0.1/metadata/annotations.yaml
  operators/koku-metrics-operator/3.0.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3444 operator [CI] sn-operator
  operators/sn-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#3479 operator patterns-operator (0.0.26)
  operators/patterns-operator/0.0.26/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.26/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.26/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.26/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.26/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.26/metadata/annotations.yaml
  operators/patterns-operator/0.0.26/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3480 operator [CI] bpfd-operator
  operators/bpfd-operator/0.2.1/bundle.Dockerfile
  operators/bpfd-operator/0.2.1/manifests/bpfd-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-config_v1_configmap.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-controller-manager-metrics-service_v1_service.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-daemon_v1_serviceaccount.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-operator.clusterserviceversion.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd.io_bpfprograms.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd.io_tcprograms.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd.io_tracepointprograms.yaml
  operators/bpfd-operator/0.2.1/manifests/bpfd.io_xdpprograms.yaml
  operators/bpfd-operator/0.2.1/metadata/annotations.yaml
  operators/bpfd-operator/0.2.1/tests/scorecard/config.yaml
  operators/bpfd-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#3481 operator [CI] bpfd-operator
  operators/bpfd-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3483 operator patterns-operator (0.0.27)
  operators/patterns-operator/0.0.27/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.27/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.27/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.27/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.27/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.27/metadata/annotations.yaml
  operators/patterns-operator/0.0.27/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3485 operator codeflare-operator (1.0.0-rc.3)
  operators/codeflare-operator/1.0.0-rc.3/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.0.0-rc.3/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.0.0-rc.3/manifests/quota.codeflare.dev_quotasubtrees.yaml
  operators/codeflare-operator/1.0.0-rc.3/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.0.0-rc.3/manifests/workload.codeflare.dev_schedulingspecs.yaml
  operators/codeflare-operator/1.0.0-rc.3/metadata/annotations.yaml
  operators/codeflare-operator/1.0.0-rc.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3490 operator external-secrets-operator (0.9.7)
  operators/external-secrets-operator/0.9.7/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.7/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.7/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3491 operator gitlab-operator-kubernetes (0.25.0)
  operators/gitlab-operator-kubernetes/0.25.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.25.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3472 operator [N] [CI] k8gb (0.11.4)
  operators/k8gb/0.11.4/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.11.4/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.11.4/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.11.4/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.11.4/manifests/k8gb.v0.11.4.clusterserviceversion.yaml
  operators/k8gb/0.11.4/metadata/annotations.yaml
  operators/k8gb/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3484 operator [CI] authorino-operator (0.9.0)
  operators/authorino-operator/0.9.0/bundle.Dockerfile
  operators/authorino-operator/0.9.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.9.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.9.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.9.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.9.0/metadata/annotations.yaml
  operators/authorino-operator/0.9.0/tests/scorecard/config.yaml
  operators/authorino-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3493 operator patterns-operator (0.0.28)
  operators/patterns-operator/0.0.28/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.28/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.28/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.28/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.28/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.28/metadata/annotations.yaml
  operators/patterns-operator/0.0.28/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, openshift-started-4.15

#3494 operator hive-operator (1.2.4325-55a3d51)
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive-operator.v1.2.4325-55a3d51.clusterserviceversion.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4325-55a3d51/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3497 operator codeflare-operator (1.0.0-rc.4)
  operators/codeflare-operator/1.0.0-rc.4/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.0.0-rc.4/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.0.0-rc.4/manifests/quota.codeflare.dev_quotasubtrees.yaml
  operators/codeflare-operator/1.0.0-rc.4/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.0.0-rc.4/manifests/workload.codeflare.dev_schedulingspecs.yaml
  operators/codeflare-operator/1.0.0-rc.4/metadata/annotations.yaml
  operators/codeflare-operator/1.0.0-rc.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3500 operator patterns-operator (0.0.29)
  operators/patterns-operator/0.0.29/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.29/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.29/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.29/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.29/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.29/metadata/annotations.yaml
  operators/patterns-operator/0.0.29/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3503 operator [R] gitlab-operator-kubernetes (0.11.3 0.11.4 0.13.1 0.13.2 0.13.3 0.13.4 0.14.0 0.14.2 0.15.0 0.15.1 0.15.2 0.15.3 0.15.5 0.16.0 0.16.1 0.16.2 0.16.3 0.17.0 0.17.1 0.17.2 0.17.3 0.18.0 0.18.1 0.18.2 0.18.3 0.19.0)
  operators/gitlab-operator-kubernetes/0.11.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.11.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.14.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.14.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.5/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3502 operator dynatrace-operator (0.14.1)
  operators/dynatrace-operator/0.14.1/Dockerfile
  operators/dynatrace-operator/0.14.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.14.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.14.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.14.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.14.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.14.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/0.14.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3504 operator keycloak-operator (22.0.5)
  operators/keycloak-operator/22.0.5/bundle.Dockerfile
  operators/keycloak-operator/22.0.5/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.5/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.5/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3496 operator datadog-operator (1.2.1)
  operators/datadog-operator/1.2.1/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.2.1/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.2.1/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.2.1/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.2.1/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.2.1/metadata/annotations.yaml
  operators/datadog-operator/1.2.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3508 operator awx-operator (2.7.1)
  operators/awx-operator/2.7.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.7.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.7.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.7.1/manifests/awx-operator.v2.7.1.clusterserviceversion.yaml
  operators/awx-operator/2.7.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.7.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.7.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.7.1/metadata/annotations.yaml
  operators/awx-operator/2.7.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3511 operator self-node-remediation (0.7.1)
  operators/self-node-remediation/0.7.1/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.7.1/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.7.1/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.7.1/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.7.1/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.7.1/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.7.1/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.7.1/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.7.1/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.7.1/metadata/annotations.yaml
  operators/self-node-remediation/0.7.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3513 operator loki-operator (0.5.0)
  operators/loki-operator/0.5.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.5.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.5.0/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/loki-operator/0.5.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.5.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.5.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.5.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.5.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.5.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.5.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.5.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.5.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.5.0/metadata/annotations.yaml
  operators/loki-operator/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3512 operator eginnovations-operator (0.0.6)
  operators/eginnovations-operator/0.0.6/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.6/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.6/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.6/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.6/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.6/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.6/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3515 operator [CI] awx-operator
  operators/awx-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#3519 operator patterns-operator (0.0.30)
  operators/patterns-operator/0.0.30/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.30/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.30/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.30/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.30/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.30/metadata/annotations.yaml
  operators/patterns-operator/0.0.30/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3223 operator jaeger (1.49.0)
  operators/jaeger/1.49.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.49.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.49.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.49.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.49.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.49.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.49.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.49.0/metadata/annotations.yaml
  operators/jaeger/1.49.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, openshift-started-4.15

#3510 operator kuadrant-operator (0.4.0)
  operators/kuadrant-operator/0.4.0/bundle.Dockerfile
  operators/kuadrant-operator/0.4.0/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.4.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.4.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.4.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13

#3523 operator patterns-operator (0.0.31)
  operators/patterns-operator/0.0.31/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.31/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.31/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.31/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.31/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.31/metadata/annotations.yaml
  operators/patterns-operator/0.0.31/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3526 operator patterns-operator (0.0.32)
  operators/patterns-operator/0.0.32/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.32/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.32/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.32/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.32/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.32/metadata/annotations.yaml
  operators/patterns-operator/0.0.32/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3522 operator [CI] postgresql (5.4.3)
  operators/postgresql/5.4.3/Dockerfile
  operators/postgresql/5.4.3/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.3/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.3/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.4.3/metadata/annotations.yaml
  operators/postgresql/5.4.3/tests/scorecard/config.yaml
  operators/postgresql/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3527 operator tempo-operator (0.5.0)
  operators/tempo-operator/0.5.0/bundle.Dockerfile
  operators/tempo-operator/0.5.0/manifests/tempo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator-manager-config_v1_configmap.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator-manager-rolebinding-cluster-monitoring-view_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator-webhook-service_v1_service.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator.clusterserviceversion.yaml
  operators/tempo-operator/0.5.0/manifests/tempo.grafana.com_tempostacks.yaml
  operators/tempo-operator/0.5.0/metadata/annotations.yaml
  operators/tempo-operator/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.15

#3532 operator kiali (1.76.0)
  operators/kiali/1.76.0/bundle.Dockerfile
  operators/kiali/1.76.0/manifests/kiali.crd.yaml
  operators/kiali/1.76.0/manifests/kiali.v1.76.0.clusterserviceversion.yaml
  operators/kiali/1.76.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.76.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, installation-validated-4.15

#3535 operator hive-operator (1.2.4336-412cf72)
  operators/hive-operator/1.2.4336-412cf72/manifests/hive-operator.v1.2.4336-412cf72.clusterserviceversion.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4336-412cf72/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3540 operator [CI] sn-operator
  operators/sn-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#3541 operator [CI] external-secrets-operator
  operators/external-secrets-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#3521 operator mongodb-atlas-kubernetes (1.9.1)
  operators/mongodb-atlas-kubernetes/1.9.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.9.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3542 operator external-secrets-operator (0.9.8)
  operators/external-secrets-operator/0.9.8/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.8/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.8/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.8/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.8/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.8/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.8/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.8/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.8/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.8/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.8/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.8/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.8/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.8/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.8/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.8/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3544 operator codeflare-operator (1.0.0)
  operators/codeflare-operator/1.0.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.0.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.0.0/manifests/quota.codeflare.dev_quotasubtrees.yaml
  operators/codeflare-operator/1.0.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.0.0/manifests/workload.codeflare.dev_schedulingspecs.yaml
  operators/codeflare-operator/1.0.0/metadata/annotations.yaml
  operators/codeflare-operator/1.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15
