Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-03, with the labels that each got.

#2304 operator project-quay (3.9.0-nightly.20230302)
  operators/project-quay/3.9.0-nightly.20230302/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230302/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2291 operator [O] multicluster-global-hub-operator (0.7.0-dev)
  operators/multicluster-global-hub-operator/0.7.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/0.7.0-dev/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, allow/serious-changes-to-existing, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2296 operator verticadb-operator (1.10.0)
  operators/verticadb-operator/1.10.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.10.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.10.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.10.0/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.10.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.10.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.10.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.10.0/metadata/annotations.yaml
  operators/verticadb-operator/1.10.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2306 operator vault-config-operator (0.8.12)
  operators/vault-config-operator/0.8.12/Dockerfile
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.12/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.12/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.12/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.12/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.12/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.12/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.12/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.12/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.12/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.12/metadata/annotations.yaml
  operators/vault-config-operator/0.8.12/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2307 operator gitlab-operator-kubernetes (0.17.2)
  operators/gitlab-operator-kubernetes/0.17.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.17.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.17.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.17.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.2/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2310 operator project-quay (3.9.0-nightly.20230303)
  operators/project-quay/3.9.0-nightly.20230303/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230303/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2308 operator [N] [CI] nsm-operator (1.8.0)
  operators/nsm-operator/1.8.0/manifests/networkservicemesh.io_networkserviceendpoints.yaml
  operators/nsm-operator/1.8.0/manifests/networkservicemesh.io_networkservices.yaml
  operators/nsm-operator/1.8.0/manifests/nsm-operator.clusterserviceversion.yaml
  operators/nsm-operator/1.8.0/manifests/nsm.networkservicemesh.io_nsms.yaml
  operators/nsm-operator/1.8.0/metadata/annotations.yaml
  operators/nsm-operator/1.8.0/tests/scorecard/config.yaml
  operators/nsm-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2311 operator ndmspc-operator (0.2.7)
  operators/ndmspc-operator/0.2.7/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.7/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.7/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.7/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.7/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.7/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.7/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2312 operator vault-config-operator (0.8.13)
  operators/vault-config-operator/0.8.13/Dockerfile
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.13/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.13/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.13/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.13/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.13/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.13/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.13/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.13/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.13/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.13/metadata/annotations.yaml
  operators/vault-config-operator/0.8.13/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2318 operator mariadb-operator (0.9.0)
  operators/mariadb-operator/0.9.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.9.0/metadata/annotations.yaml
  operators/mariadb-operator/0.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2319 operator project-quay (3.9.0-nightly.20230305)
  operators/project-quay/3.9.0-nightly.20230305/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230305/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2320 operator aqua (2022.4.9)
  operators/aqua/2022.4.9/bundle.Dockerfile
  operators/aqua/2022.4.9/manifests/aqua-operator.v2022.4.9.clusterserviceversion.yaml
  operators/aqua/2022.4.9/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.9/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.9/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.9/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2317 operator github-arc-operator (1.1.0)
  operators/github-arc-operator/1.1.0/bundle.Dockerfile
  operators/github-arc-operator/1.1.0/manifests/github-arc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/github-arc-operator/1.1.0/manifests/github-arc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/github-arc-operator/1.1.0/manifests/github-arc-operator.clusterserviceversion.yaml
  operators/github-arc-operator/1.1.0/manifests/github-practice.boxboat.com_actionsrunnercontrollers.yaml
  operators/github-arc-operator/1.1.0/metadata/annotations.yaml
  operators/github-arc-operator/1.1.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2321 operator aqua (6.5.10)
  operators/aqua/6.5.10/bundle.Dockerfile
  operators/aqua/6.5.10/manifests/aqua-operator.v6.5.10.clusterserviceversion.yaml
  operators/aqua/6.5.10/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.10/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.10/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.10/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2322 operator awx-operator (1.3.0)
  operators/awx-operator/1.3.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.3.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.3.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.3.0/manifests/awx-operator.v1.3.0.clusterserviceversion.yaml
  operators/awx-operator/1.3.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.3.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.3.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.3.0/metadata/annotations.yaml
  operators/awx-operator/1.3.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2323 operator project-quay (3.9.0-nightly.20230307)
  operators/project-quay/3.9.0-nightly.20230307/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230307/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2329 operator portworx-essentials (1.10.5)
  operators/portworx-essentials/1.10.5/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/1.10.5/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/1.10.5/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2330 operator project-quay (3.9.0-nightly.20230308)
  operators/project-quay/3.9.0-nightly.20230308/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230308/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2336 operator opentelemetry-operator (0.71.0)
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.71.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.71.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2349 operator project-quay (3.9.0-nightly.20230309)
  operators/project-quay/3.9.0-nightly.20230309/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230309/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2343 operator microcks (1.7.0)
  operators/microcks/1.7.0/microcks-operator.v1.7.0.clusterserviceversion.yaml
  operators/microcks/1.7.0/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2353 operator project-quay (3.9.0-nightly.20230310)
  operators/project-quay/3.9.0-nightly.20230310/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230310/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2352 operator [N] [CI] codeflare-operator (0.0.1)
  operators/codeflare-operator/0.0.1/manifests/codeflare-operator-controller-manager-metrics-service_v1_service.yaml
  operators/codeflare-operator/0.0.1/manifests/codeflare-operator-manager-config_v1_configmap.yaml
  operators/codeflare-operator/0.0.1/manifests/codeflare-operator-manager-edit-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/codeflare-operator/0.0.1/manifests/codeflare-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/0.0.1/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/0.0.1/manifests/codeflare.codeflare.dev_instascales.yaml
  operators/codeflare-operator/0.0.1/manifests/codeflare.codeflare.dev_mcads.yaml
  operators/codeflare-operator/0.0.1/manifests/mcad.ibm.com_appwrappers.yaml
  operators/codeflare-operator/0.0.1/manifests/mcad.ibm.com_queuejobs.yaml
  operators/codeflare-operator/0.0.1/manifests/mcad.ibm.com_schedulingspecs.yaml
  operators/codeflare-operator/0.0.1/metadata/annotations.yaml
  operators/codeflare-operator/0.0.1/tests/scorecard/config.yaml
  operators/codeflare-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, new-operator, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2335 operator kogito-operator (1.35.0)
  operators/kogito-operator/1.35.0/Dockerfile
  operators/kogito-operator/1.35.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.35.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.35.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.35.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.35.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.35.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.35.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.35.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.35.0/metadata/annotations.yaml
  operators/kogito-operator/1.35.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2362 operator mariadb-operator (0.9.1)
  operators/mariadb-operator/0.9.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.9.1/metadata/annotations.yaml
  operators/mariadb-operator/0.9.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2364 operator mariadb-operator (0.10.0)
  operators/mariadb-operator/0.10.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.10.0/metadata/annotations.yaml
  operators/mariadb-operator/0.10.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2365 operator gitlab-operator-kubernetes (0.17.3)
  operators/gitlab-operator-kubernetes/0.17.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.17.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.17.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.17.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2366 operator project-quay (3.9.0-nightly.20230311)
  operators/project-quay/3.9.0-nightly.20230311/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230311/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2367 operator keepalived-operator (1.5.4)
  operators/keepalived-operator/1.5.4/Dockerfile
  operators/keepalived-operator/1.5.4/manifests/keepalived-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/keepalived-operator/1.5.4/manifests/keepalived-operator-controller-manager-metrics_v1_service.yaml
  operators/keepalived-operator/1.5.4/manifests/keepalived-operator-manager-config_v1_configmap.yaml
  operators/keepalived-operator/1.5.4/manifests/keepalived-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keepalived-operator/1.5.4/manifests/keepalived-operator.clusterserviceversion.yaml
  operators/keepalived-operator/1.5.4/manifests/redhatcop.redhat.io_keepalivedgroups.yaml
  operators/keepalived-operator/1.5.4/metadata/annotations.yaml
  operators/keepalived-operator/1.5.4/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2368 operator ndmspc-operator (0.2.8)
  operators/ndmspc-operator/0.2.8/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.8/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.8/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.8/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.8/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.8/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.8/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2369 operator project-quay (3.9.0-nightly.20230312)
  operators/project-quay/3.9.0-nightly.20230312/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230312/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2370 operator pelorus-operator (0.0.5)
  operators/pelorus-operator/0.0.5/manifests/charts.pelorus.konveyor.io_pelorus.yaml
  operators/pelorus-operator/0.0.5/manifests/pelorus-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pelorus-operator/0.0.5/manifests/pelorus-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pelorus-operator/0.0.5/manifests/pelorus-operator.clusterserviceversion.yaml
  operators/pelorus-operator/0.0.5/metadata/annotations.yaml
  operators/pelorus-operator/0.0.5/metadata/properties.yaml
  operators/pelorus-operator/0.0.5/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2380 Change pull secret
  ci/pipeline-config-ocp.yaml
Labels: allow/ci-changes

#2379 operator project-quay (3.9.0-nightly.20230314)
  operators/project-quay/3.9.0-nightly.20230314/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230314/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2381 operator [R] forklift-operator (2.3.4 2.4.0)
  operators/forklift-operator/2.3.4/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.3.4/metadata/annotations.yaml
  operators/forklift-operator/2.4.0/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.4.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2384 operator [CI] stolostron
  operators/stolostron/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2383 operator [CI] stolostron-engine
  operators/stolostron-engine/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2386 operator grafana-operator (4.10.0)
  operators/grafana-operator/4.10.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.10.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.10.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.10.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.10.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.10.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.10.0/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.10.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.10.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2382 operator apicast-community-operator (0.7.1)
  operators/apicast-community-operator/0.7.1/bundle.Dockerfile
  operators/apicast-community-operator/0.7.1/manifests/apicast-operator-controller-manager-metrics-service_v1_service.yaml
  operators/apicast-community-operator/0.7.1/manifests/apicast-operator.clusterserviceversion.yaml
  operators/apicast-community-operator/0.7.1/manifests/apps.3scale.net_apicasts.yaml
  operators/apicast-community-operator/0.7.1/metadata/annotations.yaml
  operators/apicast-community-operator/0.7.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2385 operator verticadb-operator (1.10.1)
  operators/verticadb-operator/1.10.1/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.10.1/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.10.1/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.10.1/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.10.1/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.10.1/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.10.1/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.10.1/metadata/annotations.yaml
  operators/verticadb-operator/1.10.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2387 operator project-quay (3.9.0-nightly.20230315)
  operators/project-quay/3.9.0-nightly.20230315/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230315/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2389 operator [O] [CI] stolostron-engine
  operators/stolostron-engine/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, installation-validated

#2388 operator [O] [CI] stolostron
  operators/stolostron/ci.yaml
Labels: ok-to-test, do-not-merge/hold, openshift-operator, package-validated, allow/operator-version-overwrite

#2390 operator opentelemetry-operator (0.72.0)
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.72.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.72.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2376 operator hive-operator (1.2.4054-8ea4577)
  operators/hive-operator/1.2.4054-8ea4577/hive-operator.v1.2.4054-8ea4577.clusterserviceversion.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4054-8ea4577/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4054-8ea4577/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4054-8ea4577/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2378 operator opendatahub-operator (1.4.2)
  operators/opendatahub-operator/1.4.2/manifests/kfdef.apps.kubeflow.org.crd.yaml
  operators/opendatahub-operator/1.4.2/manifests/odhapplications.dashboard.opendatahub.io.crd.yaml
  operators/opendatahub-operator/1.4.2/manifests/odhdashboardconfigs.opendatahub.io.crd.yaml
  operators/opendatahub-operator/1.4.2/manifests/odhdocuments.dashboard.opendatahub.io.crd.yaml
  operators/opendatahub-operator/1.4.2/manifests/odhquickstarts.console.openshift.io.crd.yaml
  operators/opendatahub-operator/1.4.2/manifests/opendatahub-operator.v1.4.2.clusterserviceversion.yaml
  operators/opendatahub-operator/1.4.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2391 operator rabbitmq-cluster-operator (2.2.0)
  operators/rabbitmq-cluster-operator/2.2.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.2.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.2.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.2.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2395 operator [CI] stolostron-engine
  operators/stolostron-engine/0.1.0/manifests/multicluster-engine-operator-config_v1_configmap.yaml
  operators/stolostron-engine/0.1.0/manifests/multicluster-engine-operator-webhook-service_v1_service.yaml
  operators/stolostron-engine/0.1.0/manifests/multicluster.openshift.io_multiclusterengines.yaml
  operators/stolostron-engine/0.1.0/manifests/stolostron-engine.v0.1.0.clusterserviceversion.yaml
  operators/stolostron-engine/0.1.0/metadata/annotations.yaml
  operators/stolostron-engine/0.1.1/manifests/multicluster-engine-operator-config_v1_configmap.yaml
  operators/stolostron-engine/0.1.1/manifests/multicluster-engine-operator-webhook-service_v1_service.yaml
  operators/stolostron-engine/0.1.1/manifests/multicluster.openshift.io_multiclusterengines.yaml
  operators/stolostron-engine/0.1.1/manifests/stolostron-engine.v0.1.1.clusterserviceversion.yaml
  operators/stolostron-engine/0.1.1/metadata/annotations.yaml
  operators/stolostron-engine/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2399 operator victoriametrics-operator (0.32.0)
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.32.0/victoriametrics-operator.0.32.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2397 operator kiali (1.65.0)
  operators/kiali/1.65.0/bundle.Dockerfile
  operators/kiali/1.65.0/manifests/kiali.crd.yaml
  operators/kiali/1.65.0/manifests/kiali.v1.65.0.clusterserviceversion.yaml
  operators/kiali/1.65.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2393 operator 3scale-community-operator (0.10.1)
  operators/3scale-community-operator/0.10.1/bundle.Dockerfile
  operators/3scale-community-operator/0.10.1/manifests/3scale-operator.clusterserviceversion.yaml
  operators/3scale-community-operator/0.10.1/manifests/apps.3scale.net_apimanagerbackups.yaml
  operators/3scale-community-operator/0.10.1/manifests/apps.3scale.net_apimanagerrestores.yaml
  operators/3scale-community-operator/0.10.1/manifests/apps.3scale.net_apimanagers.yaml
  operators/3scale-community-operator/0.10.1/manifests/capabilities.3scale.net_activedocs.yaml
  operators/3scale-community-operator/0.10.1/manifests/capabilities.3scale.net_backends.yaml
  operators/3scale-community-operator/0.10.1/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  operators/3scale-community-operator/0.10.1/manifests/capabilities.3scale.net_developeraccounts.yaml
  operators/3scale-community-operator/0.10.1/manifests/capabilities.3scale.net_developerusers.yaml
  operators/3scale-community-operator/0.10.1/manifests/capabilities.3scale.net_openapis.yaml
  operators/3scale-community-operator/0.10.1/manifests/capabilities.3scale.net_products.yaml
  operators/3scale-community-operator/0.10.1/manifests/capabilities.3scale.net_proxyconfigpromotes.yaml
  operators/3scale-community-operator/0.10.1/manifests/capabilities.3scale.net_tenants.yaml
  operators/3scale-community-operator/0.10.1/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/3scale-community-operator/0.10.1/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  operators/3scale-community-operator/0.10.1/metadata/annotations.yaml
  operators/3scale-community-operator/0.10.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2398 operator project-quay (3.8.4)
  operators/project-quay/3.8.4/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.4/quayecosystems.crd.yaml
  operators/project-quay/3.8.4/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2403 operator [R] stolostron (0.1.0 0.1.1)
  operators/stolostron/0.1.0/manifests/core.observatorium.io_observatoria.yaml
  operators/stolostron/0.1.0/manifests/manager-config_v1_configmap.yaml
  operators/stolostron/0.1.0/manifests/multicluster-observability-webhook-service_v1_service.yaml
  operators/stolostron/0.1.0/manifests/observability.open-cluster-management.io_multiclusterobservabilities.yaml
  operators/stolostron/0.1.0/manifests/observability.open-cluster-management.io_observabilityaddons.yaml
  operators/stolostron/0.1.0/manifests/operator.open-cluster-management.io_multiclusterhubs.yaml
  operators/stolostron/0.1.0/manifests/stolostron.v0.1.0.clusterserviceversion.yaml
  operators/stolostron/0.1.0/manifests/submarineraddon.open-cluster-management.io_submarinerconfigs.yaml
  operators/stolostron/0.1.0/manifests/submarineraddon.open-cluster-management.io_submarinerdiagnoseconfigs.yaml
  operators/stolostron/0.1.0/metadata/annotations.yaml
  operators/stolostron/0.1.1/manifests/core.observatorium.io_observatoria.yaml
  operators/stolostron/0.1.1/manifests/manager-config_v1_configmap.yaml
  operators/stolostron/0.1.1/manifests/multicluster-observability-webhook-service_v1_service.yaml
  operators/stolostron/0.1.1/manifests/observability.open-cluster-management.io_multiclusterobservabilities.yaml
  operators/stolostron/0.1.1/manifests/observability.open-cluster-management.io_observabilityaddons.yaml
  operators/stolostron/0.1.1/manifests/operator.open-cluster-management.io_multiclusterhubs.yaml
  operators/stolostron/0.1.1/manifests/stolostron.v0.1.1.clusterserviceversion.yaml
  operators/stolostron/0.1.1/manifests/submarineraddon.open-cluster-management.io_submarinerconfigs.yaml
  operators/stolostron/0.1.1/manifests/submarineraddon.open-cluster-management.io_submarinerdiagnoseconfigs.yaml
  operators/stolostron/0.1.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2402 operator [R] stolostron-engine (0.1.0 0.1.1)
  operators/stolostron-engine/0.1.0/manifests/multicluster-engine-operator-config_v1_configmap.yaml
  operators/stolostron-engine/0.1.0/manifests/multicluster-engine-operator-webhook-service_v1_service.yaml
  operators/stolostron-engine/0.1.0/manifests/multicluster.openshift.io_multiclusterengines.yaml
  operators/stolostron-engine/0.1.0/manifests/stolostron-engine.v0.1.0.clusterserviceversion.yaml
  operators/stolostron-engine/0.1.0/metadata/annotations.yaml
  operators/stolostron-engine/0.1.1/manifests/multicluster-engine-operator-config_v1_configmap.yaml
  operators/stolostron-engine/0.1.1/manifests/multicluster-engine-operator-webhook-service_v1_service.yaml
  operators/stolostron-engine/0.1.1/manifests/multicluster.openshift.io_multiclusterengines.yaml
  operators/stolostron-engine/0.1.1/manifests/stolostron-engine.v0.1.1.clusterserviceversion.yaml
  operators/stolostron-engine/0.1.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2407 operator external-secrets-operator (0.8.0)
  operators/external-secrets-operator/0.8.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2401 operator percona-server-mongodb-operator (1.14.0)
  operators/percona-server-mongodb-operator/1.14.0/manifests/percona-server-mongodb-operator.v1.14.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.14.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.14.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.14.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.14.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2406 operator victoriametrics-operator (0.32.1)
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.32.1/victoriametrics-operator.0.32.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2410 operator [CI] cluster-aas-operator (0.0.5)
  operators/cluster-aas-operator/0.0.5/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.5/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.0.5/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.0.5/manifests/cluster-aas-operator-repo-bridge.yaml
  operators/cluster-aas-operator/0.0.5/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.5/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.0.5/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.0.5/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.0.5/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.0.5/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.0.5/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.0.5/metadata/annotations.yaml
  operators/cluster-aas-operator/0.0.5/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.0.5/tests/scorecard/config.yaml
  operators/cluster-aas-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2411 operator [O] forklift-operator (2.4.0)
  operators/forklift-operator/2.4.0/manifests/forklift-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2413 operator external-secrets-operator (0.8.1)
  operators/external-secrets-operator/0.8.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2415 operator mariadb-operator (0.11.0)
  operators/mariadb-operator/0.11.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.11.0/metadata/annotations.yaml
  operators/mariadb-operator/0.11.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2416 operator project-quay (3.9.0-nightly.20230319)
  operators/project-quay/3.9.0-nightly.20230319/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230319/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2417 operator project-quay (3.9.0-nightly.20230320)
  operators/project-quay/3.9.0-nightly.20230320/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230320/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2418 operator strimzi-kafka-operator (0.34.0)
  operators/strimzi-kafka-operator/0.34.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/strimzi-cluster-operator.v0.34.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.34.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.34.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.34.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.34.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.34.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2363 operator [CI] kepler-operator (0.4.1)
  operators/kepler-operator/0.4.1/bundle.Dockerfile
  operators/kepler-operator/0.4.1/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.4.1/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.4.1/manifests/kepler-operator.v0.4.1.clusterserviceversion.yaml
  operators/kepler-operator/0.4.1/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.4.1/metadata/annotations.yaml
  operators/kepler-operator/0.4.1/tests/scorecard/config.yaml
  operators/kepler-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2409 operator [CI] deployment-validation-operator (0.4.0)
  operators/deployment-validation-operator/0.4.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.4.0/manifests/deploymentvalidationoperator.0.4.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.4.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.4.0/tests/scorecard/config.yaml
  operators/deployment-validation-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2422 operator [CI] app-director-operator (1.0.0)
  operators/app-director-operator/1.0.0/Dockerfile
  operators/app-director-operator/1.0.0/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/1.0.0/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/1.0.0/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/1.0.0/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/1.0.0/manifests/appdirector.randoli.ca_appdirectoragents.yaml
  operators/app-director-operator/1.0.0/manifests/appdirector.randoli.ca_clusterwideappdirectoragents.yaml
  operators/app-director-operator/1.0.0/metadata/annotations.yaml
  operators/app-director-operator/1.0.0/tests/scorecard/config.yaml
  operators/app-director-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2419 operator hive-operator (1.2.4068-2b11d9d)
  operators/hive-operator/1.2.4068-2b11d9d/hive-operator.v1.2.4068-2b11d9d.clusterserviceversion.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4068-2b11d9d/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2420 operator cluster-aas-operator (0.0.6)
  operators/cluster-aas-operator/0.0.6/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.6/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.0.6/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.0.6/manifests/cluster-aas-operator-repo-bridge.yaml
  operators/cluster-aas-operator/0.0.6/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.6/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.0.6/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.0.6/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.0.6/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.0.6/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.0.6/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.0.6/metadata/annotations.yaml
  operators/cluster-aas-operator/0.0.6/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.0.6/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2423 operator project-quay (3.9.0-nightly.20230321)
  operators/project-quay/3.9.0-nightly.20230321/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230321/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2431 operator gitlab-operator-kubernetes (0.18.0)
  operators/gitlab-operator-kubernetes/0.18.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.18.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.18.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.18.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2440 operator [O] forklift-operator (2.4.0)
  operators/forklift-operator/2.4.0/manifests/forklift-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2442 operator rabbitmq-messaging-topology-operator (1.10.2)
  operators/rabbitmq-messaging-topology-operator/1.10.2/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2451 operator [O] app-director-operator (1.0.0)
  operators/app-director-operator/1.0.0/manifests/app-director-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2466 operator loki-operator (0.2.0)
  operators/loki-operator/0.2.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.2.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.2.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.2.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.2.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.2.0/metadata/annotations.yaml
  operators/loki-operator/0.2.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2467 operator group-sync-operator (0.0.25)
  operators/group-sync-operator/0.0.25/Dockerfile
  operators/group-sync-operator/0.0.25/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.25/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.25/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.25/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.25/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.25/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.25/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.25/metadata/annotations.yaml
  operators/group-sync-operator/0.0.25/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2468 operator yaks (0.14.3)
  operators/yaks/0.14.3/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.3/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.3/yaks.v0.14.3.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2461 operator project-quay (3.9.0-nightly.20230328)
  operators/project-quay/3.9.0-nightly.20230328/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230328/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2462 operator jaeger (1.43.0)
  operators/jaeger/1.43.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.43.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.43.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.43.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.43.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.43.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.43.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.43.0/metadata/annotations.yaml
  operators/jaeger/1.43.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2472 operator project-quay (3.9.0-nightly.20230329)
  operators/project-quay/3.9.0-nightly.20230329/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230329/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2460 operator mongodb-atlas-kubernetes (1.7.1)
  operators/mongodb-atlas-kubernetes/1.7.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2473 operator [CI] aqua (2022.4.10)
  operators/aqua/2022.4.10/bundle.Dockerfile
  operators/aqua/2022.4.10/manifests/aqua-operator.v2022.4.10.clusterserviceversion.yaml
  operators/aqua/2022.4.10/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.10/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.10/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.10/metadata/annotations.yaml
  operators/aqua/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2471 operator patterns-operator (0.0.12)
  operators/patterns-operator/0.0.12/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.12/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.12/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.12/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.12/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.12/metadata/annotations.yaml
  operators/patterns-operator/0.0.12/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2475 operator [CI] opentelemetry-operator
  operators/opentelemetry-operator/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated

#2421 operator koku-metrics-operator (2.0.0)
  operators/koku-metrics-operator/2.0.0/Dockerfile
  operators/koku-metrics-operator/2.0.0/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/2.0.0/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/2.0.0/metadata/annotations.yaml
  operators/koku-metrics-operator/2.0.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2477 operator portworx-essentials (23.3.1)
  operators/portworx-essentials/23.3.1/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.3.1/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.3.1/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/portworx.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2476 operator project-quay (3.8.5)
  operators/project-quay/3.8.5/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.5/quayecosystems.crd.yaml
  operators/project-quay/3.8.5/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2478 operator [O] node-maintenance-operator (0.14.0)
  operators/node-maintenance-operator/0.14.0/manifests/node-maintenance-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2482 operator [O] multicluster-global-hub-operator (0.7.0-dev)
  operators/multicluster-global-hub-operator/0.7.0-dev/multicluster-global-hub-operator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2483 operator keycloak-operator (21.0.2)
  operators/keycloak-operator/21.0.2/bundle.Dockerfile
  operators/keycloak-operator/21.0.2/manifests/keycloak-operator.v21.0.2.clusterserviceversion.yaml
  operators/keycloak-operator/21.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.0.2/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.0.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2484 operator flux (0.41.2)
  operators/flux/0.41.2/manifests/alert.crd.yaml
  operators/flux/0.41.2/manifests/bucket.crd.yaml
  operators/flux/0.41.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.41.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.41.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.41.2/manifests/flux-edit-flux-system.clusterrole.yaml
  operators/flux/0.41.2/manifests/flux-view-flux-system.clusterrole.yaml
  operators/flux/0.41.2/manifests/flux.v0.41.2.clusterserviceversion.yaml
  operators/flux/0.41.2/manifests/gitrepository.crd.yaml
  operators/flux/0.41.2/manifests/helmchart.crd.yaml
  operators/flux/0.41.2/manifests/helmrelease.crd.yaml
  operators/flux/0.41.2/manifests/helmrepository.crd.yaml
  operators/flux/0.41.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.41.2/manifests/imagerepository.crd.yaml
  operators/flux/0.41.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.41.2/manifests/kustomization.crd.yaml
  operators/flux/0.41.2/manifests/notification-controller.service.yaml
  operators/flux/0.41.2/manifests/ocirepository.crd.yaml
  operators/flux/0.41.2/manifests/provider.crd.yaml
  operators/flux/0.41.2/manifests/receiver.crd.yaml
  operators/flux/0.41.2/manifests/source-controller.service.yaml
  operators/flux/0.41.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.41.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12

#2469 operator gitlab-runner-operator (1.13.0)
  operators/gitlab-runner-operator/1.13.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.13.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.13.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.8, installation-validated, installation-validated-4.9, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12
