Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2023-12, with the labels that each got.

#3672 operator postgresql (5.5.0)
  operators/postgresql/5.5.0/Dockerfile
  operators/postgresql/5.5.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.5.0/metadata/annotations.yaml
  operators/postgresql/5.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3682 operator vault-config-operator (0.8.25)
  operators/vault-config-operator/0.8.25/Dockerfile
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.25/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.25/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.25/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.25/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.25/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.25/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.25/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.25/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.25/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.25/metadata/annotations.yaml
  operators/vault-config-operator/0.8.25/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3683 operator mariadb-operator (0.23.0)
  operators/mariadb-operator/0.23.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.23.0/metadata/annotations.yaml
  operators/mariadb-operator/0.23.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3684 operator mariadb-operator (0.23.1)
  operators/mariadb-operator/0.23.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.23.1/metadata/annotations.yaml
  operators/mariadb-operator/0.23.1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3685 operator hive-operator (1.2.4355-e5f809f)
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive-operator.v1.2.4355-e5f809f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4355-e5f809f/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3687 operator limitador-operator (0.7.0)
  operators/limitador-operator/0.7.0/bundle.Dockerfile
  operators/limitador-operator/0.7.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.7.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.7.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.7.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.7.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.7.0/metadata/annotations.yaml
  operators/limitador-operator/0.7.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3689 operator windup-operator (0.0.24)
  operators/windup-operator/0.0.24/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.24/manifests/windup.crd.yaml
  operators/windup-operator/0.0.24/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, openshift-started-4.15

#3693 operator patterns-operator (0.0.34)
  operators/patterns-operator/0.0.34/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.34/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.34/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.34/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.34/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.34/metadata/annotations.yaml
  operators/patterns-operator/0.0.34/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3694 operator [CI] koku-metrics-operator (3.1.0)
  operators/koku-metrics-operator/3.1.0/Dockerfile
  operators/koku-metrics-operator/3.1.0/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/3.1.0/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/3.1.0/metadata/annotations.yaml
  operators/koku-metrics-operator/3.1.0/tests/scorecard/config.yaml
  operators/koku-metrics-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3696 operator [CI] ack-keyspaces-controller
  operators/ack-keyspaces-controller/ci.yaml
Labels: openshift-operator, package-validated, authorized-changes, installation-validated, installation-skipped

#3698 operator [O] postgresql (5.5.0)
  operators/postgresql/5.5.0/manifests/postgresoperator.clusterserviceversion.yaml
Labels: ok-to-test, openshift-operator, package-validated, allow/operator-version-overwrite, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3697 operator kuadrant-operator (0.5.0)
  operators/kuadrant-operator/0.5.0/bundle.Dockerfile
  operators/kuadrant-operator/0.5.0/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.5.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.5.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.5.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3703 operator patterns-operator (0.0.35)
  operators/patterns-operator/0.0.35/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.35/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.35/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.35/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.35/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.35/metadata/annotations.yaml
  operators/patterns-operator/0.0.35/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3706 operator lbconfig-operator (0.4.1)
  operators/lbconfig-operator/0.4.1/manifests/lb.lbconfig.carlosedp.com_externalloadbalancers.yaml
  operators/lbconfig-operator/0.4.1/manifests/lbconfig-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lbconfig-operator/0.4.1/manifests/lbconfig-operator-manager-config_v1_configmap.yaml
  operators/lbconfig-operator/0.4.1/manifests/lbconfig-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.4.1/manifests/lbconfig-operator.clusterserviceversion.yaml
  operators/lbconfig-operator/0.4.1/metadata/annotations.yaml
  operators/lbconfig-operator/0.4.1/tests/scorecard/config.yaml
  operators/lbconfig-operator/0.4.1/tests/scorecard/kuttl/create-externalloadbalancer/01-assert.yaml
  operators/lbconfig-operator/0.4.1/tests/scorecard/kuttl/create-externalloadbalancer/10-create-elb.yaml
  operators/lbconfig-operator/0.4.1/tests/scorecard/kuttl/create-externalloadbalancer/11-assert.yaml
  operators/lbconfig-operator/0.4.1/tests/scorecard/kuttl/kuttl-test.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3712 operator rabbitmq-cluster-operator (2.6.0)
  operators/rabbitmq-cluster-operator/2.6.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.6.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.6.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.6.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3713 operator [R] kiali (1.77.0 1.78.0)
  operators/kiali/1.77.0/bundle.Dockerfile
  operators/kiali/1.77.0/manifests/kiali.crd.yaml
  operators/kiali/1.77.0/manifests/kiali.v1.77.0.clusterserviceversion.yaml
  operators/kiali/1.77.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.77.0/metadata/annotations.yaml
  operators/kiali/1.78.0/bundle.Dockerfile
  operators/kiali/1.78.0/manifests/kiali.crd.yaml
  operators/kiali/1.78.0/manifests/kiali.v1.78.0.clusterserviceversion.yaml
  operators/kiali/1.78.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.78.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3719 operator grafana-operator (5.6.0)
  operators/grafana-operator/5.6.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.6.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.6.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.6.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.6.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.6.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.6.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.6.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.6.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3720 operator rabbitmq-messaging-topology-operator (1.12.2)
  operators/rabbitmq-messaging-topology-operator/1.12.2/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3704 operator awx-operator (2.9.0)
  operators/awx-operator/2.9.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.9.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.9.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.9.0/manifests/awx-operator.v2.9.0.clusterserviceversion.yaml
  operators/awx-operator/2.9.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.9.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.9.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.9.0/metadata/annotations.yaml
  operators/awx-operator/2.9.0/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3721 operator patterns-operator (0.0.36)
  operators/patterns-operator/0.0.36/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.36/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.36/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.36/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.36/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.36/metadata/annotations.yaml
  operators/patterns-operator/0.0.36/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3722 operator cert-manager (1.13.3-rc1)
  operators/cert-manager/1.13.3-rc1/bundle.Dockerfile
  operators/cert-manager/1.13.3-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.13.3-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager_v1_configmap.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.13.3-rc1/metadata/annotations.yaml
  operators/cert-manager/1.13.3-rc1/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, openshift-started-4.14, openshift-started-4.15

#3711 operator [N] [CI] nexus-operator (3.0.0)
  operators/nexus-operator/3.0.0/manifests/edp.epam.com_nexuses.yaml
  operators/nexus-operator/3.0.0/manifests/edp.epam.com_nexusrepositories.yaml
  operators/nexus-operator/3.0.0/manifests/edp.epam.com_nexusroles.yaml
  operators/nexus-operator/3.0.0/manifests/edp.epam.com_nexususers.yaml
  operators/nexus-operator/3.0.0/manifests/nexus-operator.clusterserviceversion.yaml
  operators/nexus-operator/3.0.0/metadata/annotations.yaml
  operators/nexus-operator/3.0.0/tests/scorecard/config.yaml
  operators/nexus-operator/ci.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, allow/operator-recreate, installation-validated, new-operator, installation-validated-4.10, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3730 operator cert-manager (1.13.3)
  operators/cert-manager/1.13.3/bundle.Dockerfile
  operators/cert-manager/1.13.3/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.13.3/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager_v1_configmap.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.13.3/metadata/annotations.yaml
  operators/cert-manager/1.13.3/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3733 operator project-quay (3.10.1)
  operators/project-quay/3.10.1/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.1/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.1/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, openshift-started-4.15

#3743 operator keycloak-operator (23.0.2)
  operators/keycloak-operator/23.0.2/bundle.Dockerfile
  operators/keycloak-operator/23.0.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.2/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3744 operator dynatrace-operator (0.15.0)
  operators/dynatrace-operator/0.15.0/Dockerfile
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/0.15.0/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3750 operator external-secrets-operator (0.9.10)
  operators/external-secrets-operator/0.9.10/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.10/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.10/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.10/tests/scorecard/config.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14

#3745 operator keycloak-operator (23.0.3)
  operators/keycloak-operator/23.0.3/bundle.Dockerfile
  operators/keycloak-operator/23.0.3/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.3/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.3/metadata/annotations.yaml
Labels: ok-to-test, openshift-operator, package-validated, authorized-changes, installation-validated, installation-validated-4.11, installation-validated-4.12, installation-validated-4.13, installation-validated-4.14, installation-validated-4.15

#3754 [ISV-3905] Update user documentation describing the new contribution …
  README.md
  config.yaml
  docs/best-practices.md
  docs/community-operator-pipeline.md
  docs/contributing-prerequisites.md
  docs/contributing-via-pr.md
  docs/contributing-where-to.md
  docs/images/op_pr_tests_failed.png
  docs/images/op_release.png
  docs/images/op_test_pr.png
  docs/images/preflight_run_logs_example.png
  docs/images/static_tests_example.png
  docs/operator-ci-yaml.md
  docs/packaging-operator.md
  docs/packaging-required-criteria-ocp.md
  docs/packaging-required-fields.md
  docs/pull_request_template.md
Labels: dco-failed

#3755 operator operator-e2e (0.0.100)
  operators/operator-e2e/0.0.100/ci.yaml
  operators/operator-e2e/0.0.100/manifests/operator-e2e-controller-manager-metrics-service_v1_service.yaml
  operators/operator-e2e/0.0.100/manifests/operator-e2e-manager-config_v1_configmap.yaml
  operators/operator-e2e/0.0.100/manifests/operator-e2e-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-e2e/0.0.100/manifests/operator-e2e.clusterserviceversion.yaml
  operators/operator-e2e/0.0.100/manifests/tools.opdev.io_demoresources.yaml
  operators/operator-e2e/0.0.100/metadata/annotations.yaml
  operators/operator-e2e/0.0.100/tests/scorecard/config.yaml
Labels: openshift-operator, community-hosted-pipeline/passed

#3757 operator jaeger (1.52.0)
  operators/jaeger/1.52.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.52.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.52.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.52.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.52.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.52.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.52.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.52.0/metadata/annotations.yaml
  operators/jaeger/1.52.0/tests/scorecard/config.yaml
Labels: openshift-operator, community-hosted-pipeline/started

#3758 operator kuadrant-operator (0.6.0)
  operators/kuadrant-operator/0.6.0/bundle.Dockerfile
  operators/kuadrant-operator/0.6.0/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant-operator-dnsrecord-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant-operator-dnsrecord-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant.io_dnshealthcheckprobes.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant.io_dnspolicies.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant.io_dnsrecords.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant.io_managedzones.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.6.0/manifests/kuadrant.io_tlspolicies.yaml
  operators/kuadrant-operator/0.6.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.6.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.6.0/tests/scorecard/config.yaml
Labels: openshift-operator, community-hosted-pipeline/started

#3761 operator debezium-operator (2.4.2)
  operators/debezium-operator/2.4.2/bundle.Dockerfile
  operators/debezium-operator/2.4.2/manifests/debezium-operator.v2.4.2.clusterserviceversion.yaml
  operators/debezium-operator/2.4.2/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.4.2/metadata/annotations.yaml
Labels: openshift-operator, community-hosted-pipeline/started

#3752 operator gitlab-operator-kubernetes (0.26.2)
  operators/gitlab-operator-kubernetes/0.26.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.26.2/tests/scorecard/config.yaml
Labels: openshift-operator, community-hosted-pipeline/started, tests/skip/check_required_fields

#3760 operator datadog-operator (1.3.0)
  operators/datadog-operator/1.3.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.3.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.3.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.3.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.3.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.3.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.3.0/metadata/annotations.yaml
  operators/datadog-operator/1.3.0/tests/scorecard/config.yaml
Labels: openshift-operator, community-hosted-pipeline/started

#3768 operator annotationlab (5.7.0)
  operators/annotationlab/5.7.0/bundle.Dockerfile
  operators/annotationlab/5.7.0/manifests/annotationlab-Role.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-RoleBinding.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-airflow-postgresql_Role.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-airflow-postgresql_RoleBinding.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-airflow-postgresql_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-controller-manager-metrics-service_v1_service.yaml
  operators/annotationlab/5.7.0/manifests/annotationlab-create-user-job_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-keycloak-Role.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-keycloak-RoleBinding.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-keycloak-ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-keycloak-postgresql_Role.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-keycloak-postgresql_RoleBinding.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-keycloak-postgresql_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/annotationlab/5.7.0/manifests/annotationlab-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/annotationlab/5.7.0/manifests/annotationlab-manager-config_v1_configmap.yaml
  operators/annotationlab/5.7.0/manifests/annotationlab-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/5.7.0/manifests/annotationlab-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/5.7.0/manifests/annotationlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/5.7.0/manifests/annotationlab-migrate-database-job_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-pod-launcher-Role.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-pod-launcher-RoleBinding.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-postgresql_Role.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-postgresql_RoleBinding.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-postgresql_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/annotationlab/5.7.0/manifests/annotationlab-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/annotationlab/5.7.0/manifests/annotationlab-redis_Role.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-redis_RoleBinding.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-redis_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-scc-rolebinding_RoleBinding.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-scheduler_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-statsd_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-triggerer_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-webserver_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab-worker_ServiceAccount.yml
  operators/annotationlab/5.7.0/manifests/annotationlab.clusterserviceversion.yaml
  operators/annotationlab/5.7.0/manifests/apps.johnsnowlabs.com_annotationlabs.yaml
  operators/annotationlab/5.7.0/metadata/annotations.yaml
  operators/annotationlab/5.7.0/tests/scorecard/config.yaml
Labels: openshift-operator, community-hosted-pipeline/started

#3769 Remove OWNERS file from operators directory
  operators/OWNERS
Labels: openshift-operator, community-hosted-pipeline/failed

#3770 remove test operator-e2e
  operators/operator-e2e/0.0.100/ci.yaml
  operators/operator-e2e/0.0.100/manifests/operator-e2e-controller-manager-metrics-service_v1_service.yaml
  operators/operator-e2e/0.0.100/manifests/operator-e2e-manager-config_v1_configmap.yaml
  operators/operator-e2e/0.0.100/manifests/operator-e2e-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-e2e/0.0.100/manifests/operator-e2e.clusterserviceversion.yaml
  operators/operator-e2e/0.0.100/manifests/tools.opdev.io_demoresources.yaml
  operators/operator-e2e/0.0.100/metadata/annotations.yaml
  operators/operator-e2e/0.0.100/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/failed

#3774 operator victoriametrics-operator (0.39.4)
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.39.4/manifests/victoriametrics-operator.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.39.4/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3776 operator strimzi-kafka-operator (0.39.0)
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimzi-cluster-operator.v0.39.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3782 operator hawtio-operator (1.0.0)
  operators/hawtio-operator/1.0.0/manifests/hawt.io_hawtios.yaml
  operators/hawtio-operator/1.0.0/manifests/hawtio-operator.clusterserviceversion.yaml
  operators/hawtio-operator/1.0.0/metadata/annotations.yaml
  operators/hawtio-operator/1.0.0/tests/scorecard/config.yaml
  operators/hawtio-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#3818 operator flux (2.2.2)
  operators/flux/2.2.2/manifests/alert.crd.yaml
  operators/flux/2.2.2/manifests/bucket.crd.yaml
  operators/flux/2.2.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/2.2.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/2.2.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/2.2.2/manifests/flux-edit-flux-system.clusterrole.yaml
  operators/flux/2.2.2/manifests/flux-view-flux-system.clusterrole.yaml
  operators/flux/2.2.2/manifests/flux.v2.2.2.clusterserviceversion.yaml
  operators/flux/2.2.2/manifests/gitrepository.crd.yaml
  operators/flux/2.2.2/manifests/helmchart.crd.yaml
  operators/flux/2.2.2/manifests/helmrelease.crd.yaml
  operators/flux/2.2.2/manifests/helmrepository.crd.yaml
  operators/flux/2.2.2/manifests/imagepolicy.crd.yaml
  operators/flux/2.2.2/manifests/imagerepository.crd.yaml
  operators/flux/2.2.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/2.2.2/manifests/kustomization.crd.yaml
  operators/flux/2.2.2/manifests/notification-controller.service.yaml
  operators/flux/2.2.2/manifests/ocirepository.crd.yaml
  operators/flux/2.2.2/manifests/provider.crd.yaml
  operators/flux/2.2.2/manifests/receiver.crd.yaml
  operators/flux/2.2.2/manifests/source-controller.service.yaml
  operators/flux/2.2.2/manifests/webhook-receiver.service.yaml
  operators/flux/2.2.2/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3823 operator mariadb-operator (0.24.0)
  operators/mariadb-operator/0.24.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.24.0/metadata/annotations.yaml
  operators/mariadb-operator/0.24.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started
