Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-02, with the labels that each got.

#3969 operator percona-postgresql-operator (2.3.2)
  operators/percona-postgresql-operator/2.3.2/manifests/percona-postgresql-operator.v2.3.2.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.3.2/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.2/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.2/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.3.2/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#3971 operator awx-operator (2.10.0)
  operators/awx-operator/2.10.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.10.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.10.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.10.0/manifests/awx-operator.v2.10.0.clusterserviceversion.yaml
  operators/awx-operator/2.10.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.10.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.10.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.10.0/metadata/annotations.yaml
  operators/awx-operator/2.10.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3972 operator awx-operator (2.11.0)
  operators/awx-operator/2.11.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.11.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.11.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.11.0/manifests/awx-operator.v2.11.0.clusterserviceversion.yaml
  operators/awx-operator/2.11.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.11.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.11.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.11.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.11.0/metadata/annotations.yaml
  operators/awx-operator/2.11.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3923 operator cert-utils-operator (1.3.12)
  operators/cert-utils-operator/1.3.12/Dockerfile
  operators/cert-utils-operator/1.3.12/manifests/cert-utils-operator-certificate-rule-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/cert-utils-operator/1.3.12/manifests/cert-utils-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/cert-utils-operator/1.3.12/manifests/cert-utils-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cert-utils-operator/1.3.12/manifests/cert-utils-operator-manager-config_v1_configmap.yaml
  operators/cert-utils-operator/1.3.12/manifests/cert-utils-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-utils-operator/1.3.12/manifests/cert-utils-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/cert-utils-operator/1.3.12/manifests/cert-utils-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/cert-utils-operator/1.3.12/manifests/cert-utils-operator.clusterserviceversion.yaml
  operators/cert-utils-operator/1.3.12/metadata/annotations.yaml
  operators/cert-utils-operator/1.3.12/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started, tests/skip/check_required_fields

#3974 operator keycloak-operator (23.0.6)
  operators/keycloak-operator/23.0.6/bundle.Dockerfile
  operators/keycloak-operator/23.0.6/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.6/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.6/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.6/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3915 operator grafana-operator (5.6.1)
  operators/grafana-operator/5.6.1/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.6.1/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.6.1/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.6.1/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.6.1/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.6.1/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.6.1/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.6.1/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.6.1/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3975 operator skupper-operator (1.5.3)
  operators/skupper-operator/1.5.3/manifests/skupper-operator.v1.5.3.clusterserviceversion.yaml
  operators/skupper-operator/1.5.3/metadata/annotations.yaml
  operators/skupper-operator/ci.yaml
Labels: community-hosted-pipeline/passed, tests/skip/check_required_fields

#3916 operator windup-operator (0.0.25)
  operators/windup-operator/0.0.25/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.25/manifests/windup.crd.yaml
  operators/windup-operator/0.0.25/metadata/annotations.yaml
Labels: community-hosted-pipeline/started, tests/skip/check_required_fields

#3982 operator hive-operator (1.2.4382-0e95d5b)
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive-operator.v1.2.4382-0e95d5b.clusterserviceversion.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4382-0e95d5b/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3907 operator codeflare-operator (1.1.0)
  operators/codeflare-operator/1.1.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.1.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.1.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.1.0/manifests/quota.codeflare.dev_quotasubtrees.yaml
  operators/codeflare-operator/1.1.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.1.0/manifests/workload.codeflare.dev_schedulingspecs.yaml
  operators/codeflare-operator/1.1.0/metadata/annotations.yaml
  operators/codeflare-operator/1.1.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3908 operator codeflare-operator (1.1.0)
  operators/codeflare-operator/1.1.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.1.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.1.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.1.0/manifests/quota.codeflare.dev_quotasubtrees.yaml
  operators/codeflare-operator/1.1.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.1.0/manifests/workload.codeflare.dev_schedulingspecs.yaml
  operators/codeflare-operator/1.1.0/metadata/annotations.yaml
  operators/codeflare-operator/1.1.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3875 operator edp-keycloak-operator (1.20.0)
  operators/edp-keycloak-operator/1.20.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/edp-keycloak-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.20.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.20.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#3990 operator kaoto-operator (0.0.10)
  operators/kaoto-operator/0.0.10/manifests/designer.kaoto.io_kaotoes.yaml
  operators/kaoto-operator/0.0.10/manifests/kaoto-operator.clusterserviceversion.yaml
  operators/kaoto-operator/0.0.10/metadata/annotations.yaml
  operators/kaoto-operator/0.0.10/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3993 operator kaoto-operator (0.0.11)
  operators/kaoto-operator/0.0.11/manifests/designer.kaoto.io_kaotoes.yaml
  operators/kaoto-operator/0.0.11/manifests/kaoto-operator.clusterserviceversion.yaml
  operators/kaoto-operator/0.0.11/metadata/annotations.yaml
  operators/kaoto-operator/0.0.11/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3994 operator infinispan (2.3.7)
  operators/infinispan/2.3.7/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.7/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.7/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.7/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.7/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.7/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.7/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.7/metadata/annotations.yaml
  operators/infinispan/2.3.7/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3991 operator hawtio-operator (1.0.1)
  operators/hawtio-operator/1.0.1/manifests/hawt.io_hawtios.yaml
  operators/hawtio-operator/1.0.1/manifests/hawtio-operator.v1.0.1.clusterserviceversion.yaml
  operators/hawtio-operator/1.0.1/metadata/annotations.yaml
  operators/hawtio-operator/1.0.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3995 operator patterns-operator (0.0.42)
  operators/patterns-operator/0.0.42/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.42/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.42/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.42/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.42/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.42/metadata/annotations.yaml
  operators/patterns-operator/0.0.42/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3999 operator opendatahub-operator (2.7.0)
  operators/opendatahub-operator/2.7.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.7.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.7.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.7.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.7.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.7.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.7.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.7.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.7.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4000 operator grafana-operator (5.6.2)
  operators/grafana-operator/5.6.2/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.6.2/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.6.2/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.6.2/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.6.2/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.6.2/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.6.2/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.6.2/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.6.2/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#4003 operator kaoto-operator (0.0.12)
  operators/kaoto-operator/0.0.12/manifests/designer.kaoto.io_kaotoes.yaml
  operators/kaoto-operator/0.0.12/manifests/kaoto-operator.clusterserviceversion.yaml
  operators/kaoto-operator/0.0.12/metadata/annotations.yaml
  operators/kaoto-operator/0.0.12/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4007 operator portworx-essentials (23.10.3)
  operators/portworx-essentials/23.10.3/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.10.3/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.10.3/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/23.10.3/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#4008 operator external-secrets-operator (0.9.12)
  operators/external-secrets-operator/0.9.12/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.12/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.12/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.12/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4017 operator grafana-operator (5.6.3)
  operators/grafana-operator/5.6.3/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.6.3/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.6.3/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.6.3/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.6.3/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.6.3/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.6.3/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.6.3/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.6.3/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#4018 operator gitlab-operator-kubernetes (0.28.2)
  operators/gitlab-operator-kubernetes/0.28.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.28.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4020 operator ndmspc-operator (0.9.0)
  operators/ndmspc-operator/0.9.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.9.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.9.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.9.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.9.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.9.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.9.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4021 operator forklift-operator (2.5.5)
  operators/forklift-operator/2.5.5/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.5.5/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.5.5/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.5.5/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.5.5/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.5.5/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.5.5/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.5.5/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.5.5/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.5.5/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.5.5/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.5.5/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#4022 add ack-efs-controller ci file
  operators/ack-efs-controller/ci.yaml
Labels: community-hosted-pipeline/failed

#4023 operator hive-operator (1.2.4386-6f1fd3e)
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive-operator.v1.2.4386-6f1fd3e.clusterserviceversion.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#4024 operator kiali (1.80.0)
  operators/kiali/1.80.0/bundle.Dockerfile
  operators/kiali/1.80.0/manifests/kiali.crd.yaml
  operators/kiali/1.80.0/manifests/kiali.v1.80.0.clusterserviceversion.yaml
  operators/kiali/1.80.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.80.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3992 operator cert-manager (1.14.1-rc1)
  operators/cert-manager/1.14.1-rc1/bundle.Dockerfile
  operators/cert-manager/1.14.1-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.14.1-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.14.1-rc1/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.1-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.1-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.1-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.14.1-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.14.1-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.14.1-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.14.1-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.14.1-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.14.1-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.14.1-rc1/metadata/annotations.yaml
  operators/cert-manager/1.14.1-rc1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4026 operator cert-manager (1.14.2-rc1)
  operators/cert-manager/1.14.2-rc1/bundle.Dockerfile
  operators/cert-manager/1.14.2-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.14.2-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.14.2-rc1/metadata/annotations.yaml
  operators/cert-manager/1.14.2-rc1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4027 operator dns-operator (0.1.0)
  operators/dns-operator/0.1.0/manifests/dns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/dns-operator/0.1.0/manifests/dns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dns-operator/0.1.0/manifests/dns-operator.clusterserviceversion.yaml
  operators/dns-operator/0.1.0/manifests/kuadrant.io_dnshealthcheckprobes.yaml
  operators/dns-operator/0.1.0/manifests/kuadrant.io_dnsrecords.yaml
  operators/dns-operator/0.1.0/manifests/kuadrant.io_managedzones.yaml
  operators/dns-operator/0.1.0/metadata/annotations.yaml
  operators/dns-operator/0.1.0/tests/scorecard/config.yaml
  operators/dns-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#4028 operator awx-operator (2.12.0)
  operators/awx-operator/2.12.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.12.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.12.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.12.0/manifests/awx-operator.v2.12.0.clusterserviceversion.yaml
  operators/awx-operator/2.12.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.12.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.12.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.12.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.12.0/metadata/annotations.yaml
  operators/awx-operator/2.12.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4042 operator cert-manager (1.14.2)
  operators/cert-manager/1.14.2/bundle.Dockerfile
  operators/cert-manager/1.14.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.14.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.14.2/metadata/annotations.yaml
  operators/cert-manager/1.14.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4046 operator neuvector-community-operator (1.4.4)
  operators/neuvector-community-operator/1.4.4/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.4.4/manifests/neuvector-operator.v1.4.4.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.4.4/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#4058 operator external-secrets-operator (0.9.13)
  operators/external-secrets-operator/0.9.13/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.13/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.13/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.13/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4059 operator verticadb-operator (2.0.2)
  operators/verticadb-operator/2.0.2/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.0.2/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.0.2/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.0.2/metadata/annotations.yaml
  operators/verticadb-operator/2.0.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4061 operator gitlab-operator-kubernetes (0.29.0)
  operators/gitlab-operator-kubernetes/0.29.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.29.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4056 add ack-elbv2-controller ci file
  operators/ack-elbv2-controller/ci.yaml
Labels: community-hosted-pipeline/failed

#4053 add ack-ecs-controller ci file
  operators/ack-ecs-controller/ci.yaml
Labels: community-hosted-pipeline/failed

#4052 add ack-documentdb-controller ci file
  operators/ack-documentdb-controller/ci.yaml
Labels: community-hosted-pipeline/failed

#4051 operator mongodb-atlas-kubernetes (2.1.0)
  operators/mongodb-atlas-kubernetes/2.1.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4064 operator [CI] mongodb-atlas-kubernetes
  operators/mongodb-atlas-kubernetes/ci.yaml
Labels: community-hosted-pipeline/passed

#4065 Update ci.yaml to include opentelemetrybot
  operators/opentelemetry-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#4068 operator hive-operator (1.2.4400-8c54fc9)
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive-operator.v1.2.4400-8c54fc9.clusterserviceversion.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4400-8c54fc9/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4400-8c54fc9/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#4069 operator opendatahub-operator (2.8.0)
  operators/opendatahub-operator/2.8.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.8.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.8.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.8.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.8.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.8.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.8.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.8.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.8.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4070 operator codeflare-operator (1.2.0)
  operators/codeflare-operator/1.2.0/manifests/codeflare-operator-clusterrole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.2.0/manifests/codeflare-operator-clusterrole-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.2.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.2.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.2.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.2.0/manifests/quota.codeflare.dev_quotasubtrees.yaml
  operators/codeflare-operator/1.2.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.2.0/manifests/workload.codeflare.dev_schedulingspecs.yaml
  operators/codeflare-operator/1.2.0/metadata/annotations.yaml
  operators/codeflare-operator/1.2.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4067 operator korrel8r (0.0.8)
  operators/korrel8r/0.0.8/manifests/korrel8r-controller-manager-metrics-service_v1_service.yaml
  operators/korrel8r/0.0.8/manifests/korrel8r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.0.8/manifests/korrel8r.clusterserviceversion.yaml
  operators/korrel8r/0.0.8/manifests/korrel8r.openshift.io_korrel8rs.yaml
  operators/korrel8r/0.0.8/metadata/annotations.yaml
  operators/korrel8r/0.0.8/tests/scorecard/config.yaml
  operators/korrel8r/ci.yaml
Labels: community-hosted-pipeline/passed

#4076 operator keycloak-operator (23.0.7)
  operators/keycloak-operator/23.0.7/bundle.Dockerfile
  operators/keycloak-operator/23.0.7/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.7/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.7/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.7/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#4079 operator forklift-operator (2.6.0)
  operators/forklift-operator/2.6.0/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.6.0/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.6.0/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.6.0/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.6.0/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.6.0/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.6.0/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.6.0/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.6.0/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.6.0/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.6.0/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.6.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/failed

#4084 operator datadog-operator (1.4.1)
  operators/datadog-operator/1.4.1/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.4.1/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.4.1/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.4.1/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.4.1/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.4.1/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.4.1/metadata/annotations.yaml
  operators/datadog-operator/1.4.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4085 operator move2kube-operator (0.3.12)
  operators/move2kube-operator/0.3.12/bundle.Dockerfile
  operators/move2kube-operator/0.3.12/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.12/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.12/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.12/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.12/metadata/annotations.yaml
  operators/move2kube-operator/0.3.12/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4089 operator dell-csm-operator (1.4.2)
  operators/dell-csm-operator/1.4.2/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.2/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.2/manifests/dell-csm-operator.v1.4.2.clusterserviceversion.yaml
  operators/dell-csm-operator/1.4.2/metadata/annotations.yaml
  operators/dell-csm-operator/1.4.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4075 operator gitlab-operator-kubernetes (0.29.1)
  operators/gitlab-operator-kubernetes/0.29.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.29.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4091 operator hive-operator (1.2.4404-410fed9)
  operators/hive-operator/1.2.4404-410fed9/manifests/hive-operator.v1.2.4404-410fed9.clusterserviceversion.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4404-410fed9/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4090 operator layer7-operator (1.0.5)
  operators/layer7-operator/1.0.5/manifests/layer7-operator-controller-manager-metrics-service_v1_service.yaml
  operators/layer7-operator/1.0.5/manifests/layer7-operator-manager-config_v1_configmap.yaml
  operators/layer7-operator/1.0.5/manifests/layer7-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/layer7-operator/1.0.5/manifests/layer7-operator-webhook-service_v1_service.yaml
  operators/layer7-operator/1.0.5/manifests/layer7-operator.clusterserviceversion.yaml
  operators/layer7-operator/1.0.5/manifests/security.brcmlabs.com_gateways.yaml
  operators/layer7-operator/1.0.5/manifests/security.brcmlabs.com_l7apis.yaml
  operators/layer7-operator/1.0.5/manifests/security.brcmlabs.com_l7portals.yaml
  operators/layer7-operator/1.0.5/manifests/security.brcmlabs.com_repositories.yaml
  operators/layer7-operator/1.0.5/metadata/annotations.yaml
  operators/layer7-operator/1.0.5/tests/scorecard/config.yaml
  operators/layer7-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#4093 operator skupper-operator (1.6.0)
  operators/skupper-operator/1.6.0/manifests/skupper-operator.v1.6.0.clusterserviceversion.yaml
  operators/skupper-operator/1.6.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4096 operator gitlab-runner-operator (1.22.0)
  operators/gitlab-runner-operator/1.22.0/certification/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.22.0/certification/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.22.0/certification/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.22.0/certification/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.22.0/certification/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.22.0/certification/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.22.0/certification/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.22.0/certification/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.22.0/certification/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.22.0/certification/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4099 operator project-quay (3.10.4)
  operators/project-quay/3.10.4/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.4/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.4/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4103 operator gitlab-runner-operator (1.23.0)
  operators/gitlab-runner-operator/1.23.0/certification/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.23.0/certification/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.23.0/certification/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.23.0/certification/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.23.0/certification/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.23.0/certification/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.23.0/certification/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.23.0/certification/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.23.0/certification/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.23.0/certification/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4105 operator beegfs-csi-driver-operator (1.6.0)
  operators/beegfs-csi-driver-operator/1.6.0/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.6.0/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.6.0/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.6.0/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.6.0/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.6.0/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.6.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4109 operator koku-metrics-operator (3.2.0)
  operators/koku-metrics-operator/3.2.0/Dockerfile
  operators/koku-metrics-operator/3.2.0/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/3.2.0/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/3.2.0/metadata/annotations.yaml
  operators/koku-metrics-operator/3.2.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed
