Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-11, with the labels that each got.

#5446 operator keycloak-operator (26.0.5)
  operators/keycloak-operator/26.0.5/bundle.Dockerfile
  operators/keycloak-operator/26.0.5/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.5/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5423 operator external-secrets-operator (0.10.5)
  operators/external-secrets-operator/0.10.5/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_uuids.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.5/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.5/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#5448 fix: username of skarlso is not lowercase
  operators/external-secrets-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#5451 operator percona-server-mongodb-operator (1.17.0)
  operators/percona-server-mongodb-operator/1.17.0/manifests/percona-server-mongodb-operator.v1.17.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.17.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.17.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.17.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.17.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/passed

#5452 operator percona-xtradb-cluster-operator (1.15.1)
  operators/percona-xtradb-cluster-operator/1.15.1/manifests/percona-xtradb-cluster-operator.v1.15.1.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.15.1/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.1/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.1/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.1/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#5455 Catalog update [v4.15,v4.12,v4.18,v4.14,v4.17,v4.16,v4.13]
  catalogs/v4.12/kiali/catalog.yaml
  catalogs/v4.13/kiali/catalog.yaml
  catalogs/v4.14/kiali/catalog.yaml
  catalogs/v4.15/kiali/catalog.yaml
  catalogs/v4.16/kiali/catalog.yaml
  catalogs/v4.17/kiali/catalog.yaml
  catalogs/v4.18/kiali/catalog.yaml
  operators/kiali/Makefile
  operators/kiali/catalog-templates/v4.12.yaml
  operators/kiali/catalog-templates/v4.13.yaml
  operators/kiali/catalog-templates/v4.14.yaml
  operators/kiali/catalog-templates/v4.15.yaml
  operators/kiali/catalog-templates/v4.16.yaml
  operators/kiali/catalog-templates/v4.17.yaml
  operators/kiali/catalog-templates/v4.18.yaml
  operators/kiali/ci.yaml
Labels: operator-hosted-pipeline/started

#5459 operator grafana-operator (5.15.1)
  operators/grafana-operator/5.15.1/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.15.1/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.15.1/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.15.1/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.15.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5461 operator marin3r (0.12.3)
  operators/marin3r/0.12.3/manifests/marin3r-controller-manager-metrics-service_v1_service.yaml
  operators/marin3r/0.12.3/manifests/marin3r-manager-config_v1_configmap.yaml
  operators/marin3r/0.12.3/manifests/marin3r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/marin3r/0.12.3/manifests/marin3r-webhook-service_v1_service.yaml
  operators/marin3r/0.12.3/manifests/marin3r.3scale.net_envoyconfigrevisions.yaml
  operators/marin3r/0.12.3/manifests/marin3r.3scale.net_envoyconfigs.yaml
  operators/marin3r/0.12.3/manifests/marin3r.clusterserviceversion.yaml
  operators/marin3r/0.12.3/manifests/operator.marin3r.3scale.net_discoveryservicecertificates.yaml
  operators/marin3r/0.12.3/manifests/operator.marin3r.3scale.net_discoveryservices.yaml
  operators/marin3r/0.12.3/manifests/operator.marin3r.3scale.net_envoydeployments.yaml
  operators/marin3r/0.12.3/metadata/annotations.yaml
  operators/marin3r/0.12.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5462 operator camel-k (2.5.0)
  operators/camel-k/2.5.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/camel-k.v2.5.0.clusterserviceversion.yaml
  operators/camel-k/2.5.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/metadata/annotations.yaml
  operators/camel-k/2.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5465 operator marin3r (0.13.1)
  operators/marin3r/0.13.1/manifests/marin3r-controller-manager-metrics-service_v1_service.yaml
  operators/marin3r/0.13.1/manifests/marin3r-manager-config_v1_configmap.yaml
  operators/marin3r/0.13.1/manifests/marin3r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/marin3r/0.13.1/manifests/marin3r-webhook-service_v1_service.yaml
  operators/marin3r/0.13.1/manifests/marin3r.3scale.net_envoyconfigrevisions.yaml
  operators/marin3r/0.13.1/manifests/marin3r.3scale.net_envoyconfigs.yaml
  operators/marin3r/0.13.1/manifests/marin3r.clusterserviceversion.yaml
  operators/marin3r/0.13.1/manifests/operator.marin3r.3scale.net_discoveryservicecertificates.yaml
  operators/marin3r/0.13.1/manifests/operator.marin3r.3scale.net_discoveryservices.yaml
  operators/marin3r/0.13.1/manifests/operator.marin3r.3scale.net_envoydeployments.yaml
  operators/marin3r/0.13.1/metadata/annotations.yaml
  operators/marin3r/0.13.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5466 operator hive-operator (1.2.4658-c13e207)
  operators/hive-operator/1.2.4658-c13e207/manifests/hive-operator.v1.2.4658-c13e207.clusterserviceversion.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4658-c13e207/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5467 operator trident-operator (24.10.0)
  operators/trident-operator/24.10.0/manifests/trident-operator.v24.10.0.clusterserviceversion.yaml
  operators/trident-operator/24.10.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.10.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5447 operator project-quay (3.12.4)
  operators/project-quay/3.12.4/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.4/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5471 operator project-quay (3.13.0)
  operators/project-quay/3.13.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5472 operator skupper-operator (1.8.2)
  operators/skupper-operator/1.8.2/manifests/skupper-operator.v1.8.2.clusterserviceversion.yaml
  operators/skupper-operator/1.8.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5445 operator gitlab-operator-kubernetes (1.6.0)
  operators/gitlab-operator-kubernetes/1.6.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5474 operator codeflare-operator (1.11.0)
  operators/codeflare-operator/1.11.0/manifests/codeflare-operator-appwrapper-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.11.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.11.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.11.0/manifests/codeflare-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.11.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.11.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.11.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.11.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.11.0/metadata/annotations.yaml
  operators/codeflare-operator/1.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5460 operator loki-operator (0.7.0)
  operators/loki-operator/0.7.0/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-controller-manager-metrics-token_v1_secret.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.7.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.7.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.7.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.7.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.7.0/metadata/annotations.yaml
  operators/loki-operator/0.7.0/tests/scorecard/config.yaml
  operators/loki-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5487 operator mariadb-operator (0.36.0)
  operators/mariadb-operator/0.36.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.36.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.36.0/metadata/annotations.yaml
  operators/mariadb-operator/0.36.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5494 operator hive-operator (1.2.4664-00f84cc)
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive-operator.v1.2.4664-00f84cc.clusterserviceversion.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4664-00f84cc/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5495 operator kube-green (0.6.0)
  operators/kube-green/0.6.0/manifests/kube-green-aggregate-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.6.0/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.6.0/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.6.0/manifests/kube-green-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.6.0/manifests/kube-green-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/kube-green/0.6.0/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.6.0/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.6.0/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.6.0/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.6.0/metadata/annotations.yaml
  operators/kube-green/0.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5499 operator loki-operator (0.7.1)
  operators/loki-operator/0.7.1/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-controller-manager-metrics-token_v1_secret.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.7.1/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.7.1/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.7.1/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.7.1/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.7.1/metadata/annotations.yaml
  operators/loki-operator/0.7.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5502 operator gitlab-operator-kubernetes (1.6.1)
  operators/gitlab-operator-kubernetes/1.6.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.6.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#5498 operator dell-csm-operator (1.7.0)
  operators/dell-csm-operator/1.7.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.7.0/manifests/dell-csm-operator.v1.7.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.7.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#5233 operator external-secrets-operator (0.10.4)
  operators/external-secrets-operator/0.10.4/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.4/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.4/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.4/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.4/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.4/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.4/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.4/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.4/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.4/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.4/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.4/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.4/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.4/manifests/generators.external-secrets.io_uuids.yaml
  operators/external-secrets-operator/0.10.4/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.4/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.4/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.4/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#5506 operator layer7-operator (1.1.0)
  operators/layer7-operator/1.1.0/manifests/layer7-operator-controller-manager-metrics-service_v1_service.yaml
  operators/layer7-operator/1.1.0/manifests/layer7-operator-manager-config_v1_configmap.yaml
  operators/layer7-operator/1.1.0/manifests/layer7-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/layer7-operator/1.1.0/manifests/layer7-operator-webhook-service_v1_service.yaml
  operators/layer7-operator/1.1.0/manifests/layer7-operator.clusterserviceversion.yaml
  operators/layer7-operator/1.1.0/manifests/security.brcmlabs.com_gateways.yaml
  operators/layer7-operator/1.1.0/manifests/security.brcmlabs.com_l7apis.yaml
  operators/layer7-operator/1.1.0/manifests/security.brcmlabs.com_l7portals.yaml
  operators/layer7-operator/1.1.0/manifests/security.brcmlabs.com_repositories.yaml
  operators/layer7-operator/1.1.0/metadata/annotations.yaml
  operators/layer7-operator/1.1.0/tests/scorecard/config.yaml
  operators/layer7-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5508 operator authorino-operator (0.13.1)
  operators/authorino-operator/0.13.1/bundle.Dockerfile
  operators/authorino-operator/0.13.1/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.13.1/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.13.1/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.13.1/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.13.1/metadata/annotations.yaml
  operators/authorino-operator/0.13.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5509 operator authorino-operator (0.14.0)
  operators/authorino-operator/0.14.0/bundle.Dockerfile
  operators/authorino-operator/0.14.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.14.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.14.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.14.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.14.0/metadata/annotations.yaml
  operators/authorino-operator/0.14.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5516 operator hive-operator (1.2.4668-3ccd44d)
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive-operator.v1.2.4668-3ccd44d.clusterserviceversion.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4668-3ccd44d/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5520 operator opendatahub-operator (2.21.0)
  operators/opendatahub-operator/2.21.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.21.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.21.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.21.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.21.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.21.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.21.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.21.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.21.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.21.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5524 operator percona-server-mongodb-operator (1.18.0)
  operators/percona-server-mongodb-operator/1.18.0/manifests/percona-server-mongodb-operator.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.18.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.18.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.18.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.18.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/passed

#5527 operator project-quay (3.13.1)
  operators/project-quay/3.13.1/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.1/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5528 operator gitlab-runner-operator (1.30.2)
  operators/gitlab-runner-operator/1.30.2/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.30.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5526 operator gitlab-runner-operator (1.31.0)
  operators/gitlab-runner-operator/1.31.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.31.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5523 operator percona-postgresql-operator (2.5.0)
  operators/percona-postgresql-operator/2.5.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/percona-postgresql-operator.v2.5.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/passed

#5530 operator external-secrets-operator (0.10.6)
  operators/external-secrets-operator/0.10.6/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.6/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.6/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.6/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.6/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.6/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.6/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.6/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.6/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.6/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.6/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.6/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.6/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.6/manifests/generators.external-secrets.io_stssessiontokens.yaml
  operators/external-secrets-operator/0.10.6/manifests/generators.external-secrets.io_uuids.yaml
  operators/external-secrets-operator/0.10.6/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.6/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.6/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.6/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5537 operator keycloak-operator (26.0.6)
  operators/keycloak-operator/26.0.6/bundle.Dockerfile
  operators/keycloak-operator/26.0.6/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.6/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.6/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5541 operator external-secrets-operator (0.10.7)
  operators/external-secrets-operator/0.10.7/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_stssessiontokens.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_uuids.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.7/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.7/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.7/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5513 operator ibm-block-csi-operator-community (1.11.4)
  operators/ibm-block-csi-operator-community/1.11.4/bundle-1.11.4.Dockerfile
  operators/ibm-block-csi-operator-community/1.11.4/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.11.4/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.11.4/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.11.4/manifests/ibm-block-csi-operator.v1.11.4.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.11.4/metadata/annotations.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#5532 operator odf-node-recovery-operator (0.0.1)
  operators/odf-node-recovery-operator/0.0.1/manifests/odf-node-recovery-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odf-node-recovery-operator/0.0.1/manifests/odf-node-recovery-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odf-node-recovery-operator/0.0.1/manifests/odf-node-recovery-operator.clusterserviceversion.yaml
  operators/odf-node-recovery-operator/0.0.1/manifests/odf.openshift.io_noderecoveries.yaml
  operators/odf-node-recovery-operator/0.0.1/metadata/annotations.yaml
  operators/odf-node-recovery-operator/0.0.1/tests/scorecard/config.yaml
  operators/odf-node-recovery-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#5545 operator stackgres-community (1.14.1)
  operators/stackgres-community/1.14.1/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.14.1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.14.1/metadata/annotations.yaml
  operators/stackgres-community/1.14.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5548 operator authorino-operator (0.16.0)
  operators/authorino-operator/0.16.0/bundle.Dockerfile
  operators/authorino-operator/0.16.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.16.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.16.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.16.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.16.0/metadata/annotations.yaml
  operators/authorino-operator/0.16.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5549 operator project-quay (3.12.5)
  operators/project-quay/3.12.5/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.5/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5550 Catalog update [v4.15,v4.16,v4.18,v4.14,v4.12,v4.17,v4.13]
  catalogs/v4.12/trident-operator/catalog.yaml
  catalogs/v4.13/trident-operator/catalog.yaml
  catalogs/v4.14/trident-operator/catalog.yaml
  catalogs/v4.15/trident-operator/catalog.yaml
  catalogs/v4.16/trident-operator/catalog.yaml
  catalogs/v4.17/trident-operator/catalog.yaml
  catalogs/v4.18/trident-operator/catalog.yaml
  operators/trident-operator/Makefile
  operators/trident-operator/catalog-templates/v4.12.yaml
  operators/trident-operator/catalog-templates/v4.13.yaml
  operators/trident-operator/catalog-templates/v4.14.yaml
  operators/trident-operator/catalog-templates/v4.15.yaml
  operators/trident-operator/catalog-templates/v4.16.yaml
  operators/trident-operator/catalog-templates/v4.17.yaml
  operators/trident-operator/catalog-templates/v4.18.yaml
  operators/trident-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5554 operator gitlab-operator-kubernetes (1.7.1)
  operators/gitlab-operator-kubernetes/1.7.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.7.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5551 operator trident-operator (24.10.1)
  operators/trident-operator/24.10.1/manifests/trident-operator.v24.10.1.clusterserviceversion.yaml
  operators/trident-operator/24.10.1/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.10.1/metadata/annotations.yaml
  operators/trident-operator/Makefile
Labels: operator-hosted-pipeline/started

#5557 [ISV-5341] fix broken links
  docs/pull_request_template.md
Labels: operator-hosted-pipeline/failed

#5559 operator postgresql (5.7.1)
  operators/postgresql/5.7.1/Dockerfile
  operators/postgresql/5.7.1/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.1/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.7.1/metadata/annotations.yaml
  operators/postgresql/5.7.1/tests/scorecard/config.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#5561 operator codeflare-operator (1.12.0)
  operators/codeflare-operator/1.12.0/manifests/codeflare-operator-appwrapper-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.12.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.12.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.12.0/manifests/codeflare-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.12.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.12.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.12.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.12.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.12.0/metadata/annotations.yaml
  operators/codeflare-operator/1.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5563 operator debezium-operator (added reviewer)
  operators/debezium-operator/ci.yaml
Labels: operator-hosted-pipeline/started
