Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-07, with the labels that each got.

#4731 operator hive-operator (1.2.4500-b1ac27b)
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive-operator.v1.2.4500-b1ac27b.clusterserviceversion.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4500-b1ac27b/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4500-b1ac27b/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4728 operator gitlab-operator-kubernetes (1.1.1)
  operators/gitlab-operator-kubernetes/1.1.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4733 operator debezium-operator (2.7.0-final)
  operators/debezium-operator/2.7.0-final/bundle.Dockerfile
  operators/debezium-operator/2.7.0-final/manifests/debezium-operator.v2.7.0-final.clusterserviceversion.yaml
  operators/debezium-operator/2.7.0-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.7.0-final/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4717 operator neuvector-community-operator (1.4.6)
  operators/neuvector-community-operator/1.4.6/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.4.6/manifests/neuvector-operator.v1.4.6.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.4.6/metadata/annotations.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4736 operator pubsubplus-eventbroker-operator (1.1.0)
  operators/pubsubplus-eventbroker-operator/1.1.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.1.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.1.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4737 operator awx-operator (2.19.1)
  operators/awx-operator/2.19.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.19.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.19.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.19.1/manifests/awx-operator.v2.19.1.clusterserviceversion.yaml
  operators/awx-operator/2.19.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.19.1/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.19.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.19.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.19.1/metadata/annotations.yaml
  operators/awx-operator/2.19.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4735 operator kuadrant-operator (0.7.2)
  operators/kuadrant-operator/0.7.2/bundle.Dockerfile
  operators/kuadrant-operator/0.7.2/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.7.2/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.7.2/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.7.2/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.7.2/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.7.2/manifests/kuadrant.io_dnspolicies.yaml
  operators/kuadrant-operator/0.7.2/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.7.2/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.7.2/manifests/kuadrant.io_tlspolicies.yaml
  operators/kuadrant-operator/0.7.2/metadata/annotations.yaml
  operators/kuadrant-operator/0.7.2/metadata/dependencies.yaml
  operators/kuadrant-operator/0.7.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4739 operator gitlab-runner-operator (1.26.0)
  operators/gitlab-runner-operator/1.26.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.26.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.26.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.26.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.26.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4743 operator netobserv-operator (1.6.1-community)
  operators/netobserv-operator/1.6.1-community/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.6.1-community/manifests/flows.netobserv.io_flowmetrics.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-openshift-netobserv-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-openshift-netobserv-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.6.1-community/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4745 operator trustify-operator (0.1.0-alpha.2)
  operators/trustify-operator/0.1.0-alpha.2/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.2/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.2/metadata/annotations.yaml
  operators/trustify-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4749 operator gitlab-runner-operator (1.26.1)
  operators/gitlab-runner-operator/1.26.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.26.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4750 operator gitlab-runner-operator (1.26.2)
  operators/gitlab-runner-operator/1.26.2/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.26.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4754 operator external-secrets-operator (0.9.20)
  operators/external-secrets-operator/0.9.20/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.20/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.20/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.20/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4757 operator multicluster-global-hub-operator (1.2.0)
  operators/multicluster-global-hub-operator/1.2.0/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.2.0/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4760 operator kiali (1.87.0)
  operators/kiali/1.87.0/bundle.Dockerfile
  operators/kiali/1.87.0/manifests/kiali.crd.yaml
  operators/kiali/1.87.0/manifests/kiali.v1.87.0.clusterserviceversion.yaml
  operators/kiali/1.87.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.87.0/metadata/annotations.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4763 operator trustify-operator (0.1.0-alpha.3)
  operators/trustify-operator/0.1.0-alpha.3/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.3/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4765 operator ncn-operator (0.3.0)
  operators/ncn-operator/0.3.0/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.3.0/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.3.0/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.3.0/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.3.0/manifests/cxl.antline.com_labels.yaml
  operators/ncn-operator/0.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4769 operator ncn-operator (0.3.1)
  operators/ncn-operator/0.3.1/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.3.1/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.3.1/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.3.1/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.3.1/manifests/cxl.antline.com_labels.yaml
  operators/ncn-operator/0.3.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4770 operator percona-server-mongodb-operator (1.16.1)
  operators/percona-server-mongodb-operator/1.16.1/manifests/percona-server-mongodb-operator.v1.16.1.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.16.1/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.16.1/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.16.1/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.16.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4764 operator shipwright-operator (0.13.0)
  operators/shipwright-operator/0.13.0/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.13.0/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.13.0/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.13.0/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.13.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.13.0/metadata/annotations.yaml
  operators/shipwright-operator/0.13.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4766 operator vault-config-operator (0.8.29)
  operators/vault-config-operator/0.8.29/Dockerfile
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_azureauthengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_azureauthengineroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_azuresecretengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_gcpauthengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_gcpauthengineroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.29/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.29/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.29/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.29/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.29/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.29/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.29/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.29/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.29/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.29/metadata/annotations.yaml
  operators/vault-config-operator/0.8.29/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4773 operator ncn-operator (0.3.2)
  operators/ncn-operator/0.3.2/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.3.2/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.3.2/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.3.2/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.3.2/manifests/cxl.antline.com_labels.yaml
  operators/ncn-operator/0.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4774 operator strimzi-kafka-operator (0.42.0)
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimzi-cluster-operator.v0.42.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4779 operator infinispan (2.4.3)
  operators/infinispan/2.4.3/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.3/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.3/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.3/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.3/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.3/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.3/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.3/metadata/annotations.yaml
  operators/infinispan/2.4.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4776 operator gitlab-operator-kubernetes (1.1.2)
  operators/gitlab-operator-kubernetes/1.1.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4783 operator ncn-operator (0.3.18)
  operators/ncn-operator/0.3.18/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.3.18/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.3.18/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.3.18/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.3.18/manifests/cxl.antline.com_labels.yaml
  operators/ncn-operator/0.3.18/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4785 operator trustify-operator (0.1.0-alpha.4)
  operators/trustify-operator/0.1.0-alpha.4/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.4/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4789 operator ncn-operator (0.4.2)
  operators/ncn-operator/0.4.2/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.4.2/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.4.2/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.4.2/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.4.2/manifests/cxl.antline.com_labels.yaml
  operators/ncn-operator/0.4.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4671 operator project-quay (3.11.2)
  operators/project-quay/3.11.2/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.2/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.2/metadata/annotations.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4793 operator hive-operator (1.2.4511-1fce770)
  operators/hive-operator/1.2.4511-1fce770/manifests/hive-operator.v1.2.4511-1fce770.clusterserviceversion.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4511-1fce770/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4758 operator percona-postgresql-operator (2.4.0)
  operators/percona-postgresql-operator/2.4.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/percona-postgresql-operator.v2.4.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4795 operator ncn-operator (0.4.3)
  operators/ncn-operator/0.4.3/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.4.3/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.4.3/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.4.3/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.4.3/manifests/cxl.antline.com_labels.yaml
  operators/ncn-operator/0.4.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4799 operator mongodb-atlas-kubernetes (2.4.0)
  operators/mongodb-atlas-kubernetes/2.4.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4771 operator trident-operator (24.6.0)
  operators/trident-operator/24.6.0/manifests/trident-operator.v24.6.0.clusterserviceversion.yaml
  operators/trident-operator/24.6.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.6.0/metadata/annotations.yaml
  operators/trident-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4805 operator grafana-operator (5.10.0)
  operators/grafana-operator/5.10.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.10.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.10.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.10.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.10.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4807 operator opendatahub-operator (2.15.0)
  operators/opendatahub-operator/2.15.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.15.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.15.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.15.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.15.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.15.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.15.0/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.15.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.15.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.15.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.15.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.15.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4806 operator multicluster-global-hub-operator (1.2.1)
  operators/multicluster-global-hub-operator/1.2.1/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.2.1/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4808 operator stackgres-community (1.12.0-rc1)
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.12.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.12.0-rc1/metadata/annotations.yaml
  operators/stackgres-community/1.12.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4816 operator gitlab-operator-kubernetes (1.2.0)
  operators/gitlab-operator-kubernetes/1.2.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4821 operator dynatrace-operator (1.2.1)
  operators/dynatrace-operator/1.2.1/Dockerfile
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4822 operator hive-operator (1.2.4532-cddd4f9)
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive-operator.v1.2.4532-cddd4f9.clusterserviceversion.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4532-cddd4f9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4823 operator stackgres-community (1.12.0)
  operators/stackgres-community/1.12.0/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.12.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.12.0/metadata/annotations.yaml
  operators/stackgres-community/1.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4825 operator gitlab-runner-operator (1.27.0)
  operators/gitlab-runner-operator/1.27.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.27.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4863 operator multicluster-global-hub-operator (1.3.0-dev.20240724)
  operators/multicluster-global-hub-operator/1.3.0-dev.20240724/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.3.0-dev.20240724/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.3.0-dev.20240724/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4861 operator argocd-operator (0.11.0)
  operators/argocd-operator/0.11.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.11.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.11.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.11.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.11.0/manifests/argocd-operator.v0.11.0.clusterserviceversion.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_notificationsconfigurations.yaml
  operators/argocd-operator/0.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4864 operator move2kube-operator (0.3.14-rc.0)
  operators/move2kube-operator/0.3.14-rc.0/bundle.Dockerfile
  operators/move2kube-operator/0.3.14-rc.0/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.14-rc.0/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.14-rc.0/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.14-rc.0/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.14-rc.0/metadata/annotations.yaml
  operators/move2kube-operator/0.3.14-rc.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4867 operator portworx-essentials (24.1.1)
  operators/portworx-essentials/24.1.1/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/24.1.1/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/24.1.1/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/24.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4868 operator self-node-remediation (0.9.0)
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.9.0/metadata/annotations.yaml
  operators/self-node-remediation/0.9.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4870 operator group-sync-operator (0.0.29)
  operators/group-sync-operator/0.0.29/Dockerfile
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/group-sync-operator/0.0.29/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.29/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.29/metadata/annotations.yaml
  operators/group-sync-operator/0.0.29/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4872 operator group-sync-operator (0.0.30)
  operators/group-sync-operator/0.0.30/Dockerfile
  operators/group-sync-operator/0.0.30/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.30/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.30/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.30/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.30/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.30/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.30/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.30/metadata/annotations.yaml
  operators/group-sync-operator/0.0.30/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4873 operator gitlab-operator-kubernetes (1.2.1)
  operators/gitlab-operator-kubernetes/1.2.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.2.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4874 operator edp-keycloak-operator (1.22.0)
  operators/edp-keycloak-operator/1.22.0/manifests/client-secret-policy-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.22.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.22.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4875 operator sap-data-intelligence-observer-operator (1.0.6)
  operators/sap-data-intelligence-observer-operator/1.0.6/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/1.0.6/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/1.0.6/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/1.0.6/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/1.0.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4877 operator codeflare-operator (1.6.0)
  operators/codeflare-operator/1.6.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.6.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.6.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.6.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.6.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.6.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.6.0/metadata/annotations.yaml
  operators/codeflare-operator/1.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4882 operator kiali (1.88.0)
  operators/kiali/1.88.0/bundle.Dockerfile
  operators/kiali/1.88.0/manifests/kiali.crd.yaml
  operators/kiali/1.88.0/manifests/kiali.v1.88.0.clusterserviceversion.yaml
  operators/kiali/1.88.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.88.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4881 operator project-quay (3.11.3)
  operators/project-quay/3.11.3/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.3/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4356 operator external-secrets-operator (0.9.15-2)
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.15-2/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.15-2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/failed, operator-hosted-pipeline/started

#4885 operator gitlab-runner-operator (1.27.1)
  operators/gitlab-runner-operator/1.27.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.27.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.27.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.27.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.27.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.27.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.27.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4379 operator patch-operator (0.1.10)
  operators/patch-operator/0.1.10/Dockerfile
  operators/patch-operator/0.1.10/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.10/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.10/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.10/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.10/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/patch-operator/0.1.10/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patch-operator/0.1.10/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.10/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.10/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.10/metadata/annotations.yaml
  operators/patch-operator/0.1.10/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4887 operator cert-manager (1.15.2)
  operators/cert-manager/1.15.2/bundle.Dockerfile
  operators/cert-manager/1.15.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.15.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.15.2/metadata/annotations.yaml
  operators/cert-manager/1.15.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4888 operator hazelcast-platform-operator (5.13.0)
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.13.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.13.0/tests/scorecard/config.yaml
  operators/hazelcast-platform-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4890 operator sap-data-intelligence-observer-operator (1.0.7)
  operators/sap-data-intelligence-observer-operator/1.0.7/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/1.0.7/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/1.0.7/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/1.0.7/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/1.0.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4893 operator grafana-operator (5.11.0)
  operators/grafana-operator/5.11.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.11.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.11.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.11.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.11.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.11.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.11.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.11.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.11.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.11.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4894 operator mongodb-atlas-kubernetes (2.4.1)
  operators/mongodb-atlas-kubernetes/2.4.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4895 operator pubsubplus-eventbroker-operator (1.1.1)
  operators/pubsubplus-eventbroker-operator/1.1.1/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.1.1/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.1.1/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
