Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-03, with the labels that each got.

#4112 operator gitlab-runner-operator (1.23.1)
  operators/gitlab-runner-operator/1.23.1/certification/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.23.1/certification/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.23.1/certification/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.23.1/certification/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.23.1/certification/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.23.1/certification/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.23.1/certification/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.23.1/certification/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.23.1/certification/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.23.1/certification/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4117 operator self-node-remediation (0.8.0)
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.8.0/metadata/annotations.yaml
  operators/self-node-remediation/0.8.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4122 operator keycloak-operator (24.0.0)
  operators/keycloak-operator/24.0.0/bundle.Dockerfile
  operators/keycloak-operator/24.0.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4123 operator mariadb-operator (0.26.0)
  operators/mariadb-operator/0.26.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.26.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.26.0/metadata/annotations.yaml
  operators/mariadb-operator/0.26.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4127 operator kiali (1.81.0)
  operators/kiali/1.81.0/bundle.Dockerfile
  operators/kiali/1.81.0/manifests/kiali.crd.yaml
  operators/kiali/1.81.0/manifests/kiali.v1.81.0.clusterserviceversion.yaml
  operators/kiali/1.81.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.81.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4049 operator awx-operator (2.12.1)
  operators/awx-operator/2.12.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.12.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.12.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.12.1/manifests/awx-operator.v2.12.1.clusterserviceversion.yaml
  operators/awx-operator/2.12.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.12.1/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.12.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.12.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.12.1/metadata/annotations.yaml
  operators/awx-operator/2.12.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4131 operator keycloak-operator (24.0.1)
  operators/keycloak-operator/24.0.1/bundle.Dockerfile
  operators/keycloak-operator/24.0.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.1/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4134 operator awx-operator (2.12.2)
  operators/awx-operator/2.12.2/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.12.2/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.12.2/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.12.2/manifests/awx-operator.v2.12.2.clusterserviceversion.yaml
  operators/awx-operator/2.12.2/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.12.2/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.12.2/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.12.2/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.12.2/metadata/annotations.yaml
  operators/awx-operator/2.12.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4130 operator analytics-operator (0.1.0)
  operators/analytics-operator/0.1.0/manifests/analytics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/analytics-operator/0.1.0/manifests/analytics-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/analytics-operator/0.1.0/manifests/analytics-operator.clusterserviceversion.yaml
  operators/analytics-operator/0.1.0/manifests/observability-analytics.redhat.com_anomalydata.yaml
  operators/analytics-operator/0.1.0/manifests/observability-analytics.redhat.com_anomalyengines.yaml
  operators/analytics-operator/0.1.0/metadata/annotations.yaml
  operators/analytics-operator/0.1.0/tests/scorecard/config.yaml
  operators/analytics-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#4146 operator gitlab-operator-kubernetes (0.29.2)
  operators/gitlab-operator-kubernetes/0.29.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.29.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4151 operator datadog-operator (1.4.2)
  operators/datadog-operator/1.4.2/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.4.2/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.4.2/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.4.2/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.4.2/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.4.2/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.4.2/metadata/annotations.yaml
  operators/datadog-operator/1.4.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4132 operator machine-deletion-remediation (0.3.0)
  operators/machine-deletion-remediation/0.3.0/manifests/machine-deletion-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/machine-deletion-remediation/0.3.0/manifests/machine-deletion-remediation-machine-deletion-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-remediation/0.3.0/manifests/machine-deletion-remediation-manager-config_v1_configmap.yaml
  operators/machine-deletion-remediation/0.3.0/manifests/machine-deletion-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-remediation/0.3.0/manifests/machine-deletion-remediation.clusterserviceversion.yaml
  operators/machine-deletion-remediation/0.3.0/manifests/machine-deletion-remediation.medik8s.io_machinedeletionremediations.yaml
  operators/machine-deletion-remediation/0.3.0/manifests/machine-deletion-remediation.medik8s.io_machinedeletionremediationtemplates.yaml
  operators/machine-deletion-remediation/0.3.0/metadata/annotations.yaml
  operators/machine-deletion-remediation/0.3.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4163 operator mariadb-operator (0.27.0)
  operators/mariadb-operator/0.27.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.27.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.27.0/metadata/annotations.yaml
  operators/mariadb-operator/0.27.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4141 operator postgresql (5.5.1)
  operators/postgresql/5.5.1/Dockerfile
  operators/postgresql/5.5.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.1/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.5.1/metadata/annotations.yaml
  operators/postgresql/5.5.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed, tests/skip/check_upgrade_graph_loop

#4136 operator cluster-manager (0.13.0)
  operators/cluster-manager/0.13.0/manifests/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.13.0/manifests/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/0.13.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4162 operator dell-csm-operator (1.4.3)
  operators/dell-csm-operator/1.4.3/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.3/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.3/manifests/dell-csm-operator.v1.4.3.clusterserviceversion.yaml
  operators/dell-csm-operator/1.4.3/metadata/annotations.yaml
  operators/dell-csm-operator/1.4.3/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4137 operator klusterlet (0.13.0)
  operators/klusterlet/0.13.0/manifests/klusterlet.clusterserviceversion.yaml
  operators/klusterlet/0.13.0/manifests/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/0.13.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4172 operator verticadb-operator (2.1.0)
  operators/verticadb-operator/2.1.0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.1.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.1.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.1.0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/2.1.0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.1.0/metadata/annotations.yaml
  operators/verticadb-operator/2.1.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4176 operator hive-operator (1.2.4408-9c5806a)
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive-operator.v1.2.4408-9c5806a.clusterserviceversion.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4408-9c5806a/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4118 operator aqua (2022.4.15)
  operators/aqua/2022.4.15/manifests/aqua-operator.v2022.4.15.clusterserviceversion.yaml
  operators/aqua/2022.4.15/manifests/aquacloudconnector.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.15/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.15/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.15/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.15/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.15/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.15/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.15/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.15/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.15/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.15/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.15/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.15/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed, tests/skip/check_dangling_bundles

#4179 operator ndmspc-operator (0.10.0)
  operators/ndmspc-operator/0.10.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.10.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.10.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.10.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.10.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.10.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.10.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4186 operator deployment-validation-operator (0.7.5)
  operators/deployment-validation-operator/0.7.5/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.5/manifests/deploymentvalidationoperator.0.7.5.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.5/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.5/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4185 operator ndmspc-operator (0.10.2)
  operators/ndmspc-operator/0.10.2/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.10.2/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.10.2/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.10.2/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.10.2/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.10.2/metadata/annotations.yaml
  operators/ndmspc-operator/0.10.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4188 operator awx-operator (2.13.0)
  operators/awx-operator/2.13.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.13.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.13.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.13.0/manifests/awx-operator.v2.13.0.clusterserviceversion.yaml
  operators/awx-operator/2.13.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.13.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.13.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.13.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.13.0/metadata/annotations.yaml
  operators/awx-operator/2.13.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4193 operator grafana-operator (5.7.0)
  operators/grafana-operator/5.7.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.7.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.7.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.7.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.7.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.7.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.7.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.7.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.7.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.7.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed, tests/skip/check_upgrade_graph_loop

#4174 operator apicurio-registry (1.1.1-v2.5.9.final)
  operators/apicurio-registry/1.1.1-v2.5.9.final/bundle.Dockerfile
  operators/apicurio-registry/1.1.1-v2.5.9.final/manifests/apicurio-registry-operator.clusterserviceversion.yaml
  operators/apicurio-registry/1.1.1-v2.5.9.final/manifests/registry.apicur.io_apicurioregistries.yaml
  operators/apicurio-registry/1.1.1-v2.5.9.final/metadata/annotations.yaml
  operators/apicurio-registry/1.1.1-v2.5.9.final/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed, tests/skip/check_operator_name

#4196 operator authorino-operator (0.11.0)
  operators/authorino-operator/0.11.0/bundle.Dockerfile
  operators/authorino-operator/0.11.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.11.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.11.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.11.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.11.0/metadata/annotations.yaml
  operators/authorino-operator/0.11.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#4199 Add Fence Agents Remediation v0.3.0
  operators/fence-agents-remediation/0.3.0/bundle/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.3.0/bundle/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.3.0/bundle/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.3.0/bundle/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.3.0/bundle/manifests/fence-agents-remediation-webhook-service_v1_service.yaml
  operators/fence-agents-remediation/0.3.0/bundle/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.3.0/bundle/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.3.0/bundle/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.3.0/bundle/metadata/annotations.yaml
  operators/fence-agents-remediation/0.3.0/bundle/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4201 operator awx-operator (2.13.1)
  operators/awx-operator/2.13.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.13.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.13.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.13.1/manifests/awx-operator.v2.13.1.clusterserviceversion.yaml
  operators/awx-operator/2.13.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.13.1/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.13.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.13.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.13.1/metadata/annotations.yaml
  operators/awx-operator/2.13.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4203 operator ndmspc-operator (0.11.1)
  operators/ndmspc-operator/0.11.1/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.1/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.1/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.1/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.1/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.1/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4205 operator ndmspc-operator (0.11.2)
  operators/ndmspc-operator/0.11.2/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.2/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.2/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.2/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.2/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.2/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4206 operator ndmspc-operator (0.11.3)
  operators/ndmspc-operator/0.11.3/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.3/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.3/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.3/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.3/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.3/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.3/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4197 operator authorino-operator (0.11.1)
  operators/authorino-operator/0.11.1/bundle.Dockerfile
  operators/authorino-operator/0.11.1/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.11.1/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.11.1/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.11.1/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.11.1/metadata/annotations.yaml
  operators/authorino-operator/0.11.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4207 operator aerospike-kubernetes-operator (3.2.2)
  operators/aerospike-kubernetes-operator/3.2.2/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/3.2.2/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.2.2/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.2.2/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.2.2/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.2.2/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.2.2/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.2.2/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.2.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4215 operator forklift-operator (2.5.6)
  operators/forklift-operator/2.5.6/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.5.6/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.5.6/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.5.6/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.5.6/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.5.6/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.5.6/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.5.6/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.5.6/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.5.6/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.5.6/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.5.6/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4210 operator trident-operator (24.2.0)
  operators/trident-operator/24.2.0/manifests/trident-operator.v24.2.0.clusterserviceversion.yaml
  operators/trident-operator/24.2.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.2.0/metadata/annotations.yaml
  operators/trident-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#4217 Replace kubecost-operator with kubecost in recent operators
  operators/kubecost/1.106.0/bundle.Dockerfile
  operators/kubecost/1.106.0/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost/1.106.2/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost/1.107.1/manifests/kubecost-operator.clusterserviceversion.yaml
Labels: community-hosted-pipeline/failed

#4087 operator kubecost (2.1.0)
  operators/kubecost/2.1.0/bundle.Dockerfile
  operators/kubecost/2.1.0/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost/2.1.0/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost/2.1.0/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost/2.1.0/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost/2.1.0/metadata/annotations.yaml
  operators/kubecost/2.1.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4219 operator verticadb-operator (2.1.1)
  operators/verticadb-operator/2.1.1/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.1.1/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.1.1/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.1.1/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/2.1.1/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/2.1.1/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.1.1/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.1.1/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/2.1.1/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/2.1.1/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.1.1/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.1.1/metadata/annotations.yaml
  operators/verticadb-operator/2.1.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4194 operator percona-xtradb-cluster-operator (1.14.0)
  operators/percona-xtradb-cluster-operator/1.14.0/manifests/percona-xtradb-cluster-operator.v1.14.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.14.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.14.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.14.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.14.0/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#4221 Revert "operator authorino-operator (0.11.0)"
  operators/authorino-operator/0.11.0/bundle.Dockerfile
  operators/authorino-operator/0.11.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.11.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.11.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.11.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.11.0/metadata/annotations.yaml
  operators/authorino-operator/0.11.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/failed

#4220 operator hive-operator (1.2.4416-fba8d52)
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive-operator.v1.2.4416-fba8d52.clusterserviceversion.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4416-fba8d52/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4225 operator portworx-essentials (23.10.4)
  operators/portworx-essentials/23.10.4/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.10.4/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.10.4/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/23.10.4/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4223 NO-ISSUE: Add my account as reviewer
  operators/assisted-service-operator/ci.yaml
Labels: jira/valid-reference, community-hosted-pipeline/passed

#4222 operator assisted-service-operator (0.7.72)
  operators/assisted-service-operator/0.7.72/manifests/agent-install.openshift.io_agentclassifications.yaml
  operators/assisted-service-operator/0.7.72/manifests/agent-install.openshift.io_agents.yaml
  operators/assisted-service-operator/0.7.72/manifests/agent-install.openshift.io_agentserviceconfigs.yaml
  operators/assisted-service-operator/0.7.72/manifests/agent-install.openshift.io_hypershiftagentserviceconfigs.yaml
  operators/assisted-service-operator/0.7.72/manifests/agent-install.openshift.io_infraenvs.yaml
  operators/assisted-service-operator/0.7.72/manifests/agent-install.openshift.io_nmstateconfigs.yaml
  operators/assisted-service-operator/0.7.72/manifests/assisted-service-operator.clusterserviceversion.yaml
  operators/assisted-service-operator/0.7.72/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  operators/assisted-service-operator/0.7.72/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed, tests/skip/check_dangling_bundles

#4231 operator debezium-operator (2.5.1)
  operators/debezium-operator/2.5.1/bundle.Dockerfile
  operators/debezium-operator/2.5.1/manifests/debezium-operator.v2.5.1.clusterserviceversion.yaml
  operators/debezium-operator/2.5.1/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.5.1/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4235 operator opendatahub-operator (2.9.0)
  operators/opendatahub-operator/2.9.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.9.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.9.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.9.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.9.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.9.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.9.0/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.9.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.9.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.9.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.9.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.9.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4239 operator ndmspc-operator (0.11.6)
  operators/ndmspc-operator/0.11.6/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.6/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.6/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.6/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.6/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.6/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.6/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4238 operator grafana-operator (5.8.0)
  operators/grafana-operator/5.8.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.8.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.8.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.8.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.8.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.8.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.8.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.8.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.8.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.8.0/metadata/annotations.yaml
  operators/grafana-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#4063 operator netobserv-operator (1.5.0)
  operators/netobserv-operator/1.5.0/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.5.0/manifests/flows.netobserv.io_flowmetrics.yaml
  operators/netobserv-operator/1.5.0/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.5.0/manifests/netobserv-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/netobserv-operator/1.5.0/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.5.0/manifests/netobserv-openshift-netobserv-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/netobserv-operator/1.5.0/manifests/netobserv-openshift-netobserv-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/netobserv-operator/1.5.0/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.5.0/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.5.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4242 operator debezium-operator (2.5.2-final)
  operators/debezium-operator/2.5.2-final/bundle.Dockerfile
  operators/debezium-operator/2.5.2-final/manifests/debezium-operator.v2.5.2-final.clusterserviceversion.yaml
  operators/debezium-operator/2.5.2-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.5.2-final/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4245 operator mongodb-atlas-kubernetes (2.2.0)
  operators/mongodb-atlas-kubernetes/2.2.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4247 operator move2kube-operator (0.3.13-rc.0)
  operators/move2kube-operator/0.3.13-rc.0/bundle.Dockerfile
  operators/move2kube-operator/0.3.13-rc.0/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.13-rc.0/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.13-rc.0/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.13-rc.0/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.13-rc.0/metadata/annotations.yaml
  operators/move2kube-operator/0.3.13-rc.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4246 operator debezium-operator (2.5.3-final)
  operators/debezium-operator/2.5.3-final/bundle.Dockerfile
  operators/debezium-operator/2.5.3-final/manifests/debezium-operator.v2.5.3-final.clusterserviceversion.yaml
  operators/debezium-operator/2.5.3-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.5.3-final/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4243 operator multicluster-global-hub-operator (1.1.0)
  operators/multicluster-global-hub-operator/1.1.0/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.1.0/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.1.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4257 operator multicluster-global-hub-operator (1.2.0-dev)
  operators/multicluster-global-hub-operator/1.2.0-dev/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.2.0-dev/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.2.0-dev/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4259 operator keycloak-operator (24.0.2)
  operators/keycloak-operator/24.0.2/bundle.Dockerfile
  operators/keycloak-operator/24.0.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.2/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4262 operator hive-operator (1.2.4418-eb5403f)
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive-operator.v1.2.4418-eb5403f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4418-eb5403f/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4264 operator gitlab-operator-kubernetes (0.30.0)
  operators/gitlab-operator-kubernetes/0.30.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4268 operator awx-operator (2.14.0)
  operators/awx-operator/2.14.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.14.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.14.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.14.0/manifests/awx-operator.v2.14.0.clusterserviceversion.yaml
  operators/awx-operator/2.14.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.14.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.14.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.14.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.14.0/metadata/annotations.yaml
  operators/awx-operator/2.14.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4271 [datadog] update reviewers list
  operators/datadog-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#4269 operator patterns-operator (0.0.43)
  operators/patterns-operator/0.0.43/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.43/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.43/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.43/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.43/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.43/metadata/annotations.yaml
  operators/patterns-operator/0.0.43/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4270 operator datadog-operator (1.5.0)
  operators/datadog-operator/1.5.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.5.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.5.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.5.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.5.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.5.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.5.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.5.0/metadata/annotations.yaml
  operators/datadog-operator/1.5.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4114 operator group-sync-operator (0.0.28)
  operators/group-sync-operator/0.0.28/Dockerfile
  operators/group-sync-operator/0.0.28/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.28/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.28/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.28/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.28/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.28/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.28/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.28/metadata/annotations.yaml
  operators/group-sync-operator/0.0.28/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4266 loki-operator: add grafanabot to ci.yml
  operators/loki-operator/ci.yaml
Labels: lgtm, community-hosted-pipeline/passed

#4274 operator fence-agents-remediation (0.3.0)
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation-webhook-service_v1_service.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.3.0/metadata/annotations.yaml
  operators/fence-agents-remediation/0.3.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4275 operator node-maintenance-operator (0.17.0)
  operators/node-maintenance-operator/0.17.0/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.17.0/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.17.0/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.17.0/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.17.0/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.17.0/metadata/annotations.yaml
  operators/node-maintenance-operator/0.17.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4279 operator dell-csm-operator (1.4.4)
  operators/dell-csm-operator/1.4.4/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.4/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.4/manifests/dell-csm-operator.v1.4.4.clusterserviceversion.yaml
  operators/dell-csm-operator/1.4.4/metadata/annotations.yaml
  operators/dell-csm-operator/1.4.4/tests/scorecard
Labels: community-hosted-pipeline/passed
