Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-01, with the labels that each got.

#3832 add ack-organizations-controller ci file
  operators/ack-organizations-controller/ci.yaml
Labels: community-hosted-pipeline/failed

#3835 operator external-secrets-operator (0.9.11)
  operators/external-secrets-operator/0.9.11/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.11/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.11/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.11/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3837 operator patterns-operator (0.0.38)
  operators/patterns-operator/0.0.38/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.38/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.38/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.38/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.38/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.38/metadata/annotations.yaml
  operators/patterns-operator/0.0.38/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3847 operator patterns-operator (0.0.39)
  operators/patterns-operator/0.0.39/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.39/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.39/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.39/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.39/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.39/metadata/annotations.yaml
  operators/patterns-operator/0.0.39/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3862 operator kepler-operator (0.10.0)
  operators/kepler-operator/0.10.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.10.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.10.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.10.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.10.0/manifests/kepler.system.sustainable.computing.io_keplerinternals.yaml
  operators/kepler-operator/0.10.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.10.0/metadata/annotations.yaml
  operators/kepler-operator/0.10.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3853 operator microcks (1.8.1)
  operators/microcks/1.8.1/manifests/microcks-operator.v1.8.1.clusterserviceversion.yaml
  operators/microcks/1.8.1/manifests/microcksinstall.crd.yaml
  operators/microcks/1.8.1/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#3851 operator verticadb-operator (2.0.0)
  operators/verticadb-operator/2.0.0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.0.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.0.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.0.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.0.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.0.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.0.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.0.0/metadata/annotations.yaml
  operators/verticadb-operator/2.0.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3880 operator aerospike-kubernetes-operator (3.2.1)
  operators/aerospike-kubernetes-operator/3.2.1/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/3.2.1/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.2.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.2.1/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.2.1/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.2.1/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.2.1/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.2.1/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.2.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3881 operator verticadb-operator (2.0.1)
  operators/verticadb-operator/2.0.1/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.0.1/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.0.1/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.0.1/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.0.1/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.0.1/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.0.1/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.0.1/metadata/annotations.yaml
  operators/verticadb-operator/2.0.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3884 operator patterns-operator (0.0.40)
  operators/patterns-operator/0.0.40/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.40/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.40/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.40/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.40/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.40/metadata/annotations.yaml
  operators/patterns-operator/0.0.40/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3885 operator hive-operator (1.2.4360-de169dd)
  operators/hive-operator/1.2.4360-de169dd/manifests/hive-operator.v1.2.4360-de169dd.clusterserviceversion.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4360-de169dd/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3886 operator amd-gpu-operator (0.0.1)
  operators/amd-gpu-operator/0.0.1/manifests/amd-gpu-operator-controller-manager-metrics-service_v1_service.yaml
  operators/amd-gpu-operator/0.0.1/manifests/amd-gpu-operator-manager-config_v1_configmap.yaml
  operators/amd-gpu-operator/0.0.1/manifests/amd-gpu-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/amd-gpu-operator/0.0.1/manifests/amd-gpu-operator.clusterserviceversion.yaml
  operators/amd-gpu-operator/0.0.1/manifests/amd.io_deviceconfigs.yaml
  operators/amd-gpu-operator/0.0.1/metadata/annotations.yaml
  operators/amd-gpu-operator/0.0.1/test/scorecard/config.yaml
  operators/amd-gpu-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#3879 operator dell-csm-operator (1.4.0)
  operators/dell-csm-operator/1.4.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.0/manifests/dell-csm-operator.v1.4.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.4.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.4.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#3891 operator debezium-operator (2.5.0)
  operators/debezium-operator/2.5.0/bundle.Dockerfile
  operators/debezium-operator/2.5.0/manifests/debezium-operator.v2.5.0.clusterserviceversion.yaml
  operators/debezium-operator/2.5.0/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.5.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3848 operator kubernetes-imagepuller-operator (1.1.0)
  operators/kubernetes-imagepuller-operator/1.1.0/manifests/che.eclipse.org_kubernetesimagepullers.yaml
  operators/kubernetes-imagepuller-operator/1.1.0/manifests/kubernetes-image-puller-operator-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.1.0/manifests/kubernetes-image-puller-operator-manager-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.1.0/manifests/kubernetes-image-puller-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.1.0/manifests/kubernetes-imagepuller-operator.v1.1.0.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.1.0/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.1.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#3892 operator jaeger (1.53.0)
  operators/jaeger/1.53.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.53.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.53.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.53.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.53.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.53.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.53.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.53.0/metadata/annotations.yaml
  operators/jaeger/1.53.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3889 operator deployment-validation-operator (0.7.4)
  operators/deployment-validation-operator/0.7.4/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.4/manifests/deploymentvalidationoperator.0.7.4.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.4/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.4/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started, tests/skip/check_required_fields

#3893 operator patterns-operator (0.0.41)
  operators/patterns-operator/0.0.41/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.41/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.41/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.41/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.41/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.41/metadata/annotations.yaml
  operators/patterns-operator/0.0.41/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3894 operator project-quay (3.10.2)
  operators/project-quay/3.10.2/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.2/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.2/metadata/annotations.yaml
Labels: community-hosted-pipeline/started, tests/skip/check_required_fields, tests/skip/check_ci_upgrade_graph, tests/skip/check_dangling_bundles, tests/skip/check_upgrade_graph_loop

#3898 operator amd-gpu-operator (0.0.2)
  operators/amd-gpu-operator/0.0.2/manifests/amd-gpu-operator-controller-manager-metrics-service_v1_service.yaml
  operators/amd-gpu-operator/0.0.2/manifests/amd-gpu-operator-manager-config_v1_configmap.yaml
  operators/amd-gpu-operator/0.0.2/manifests/amd-gpu-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/amd-gpu-operator/0.0.2/manifests/amd-gpu-operator.clusterserviceversion.yaml
  operators/amd-gpu-operator/0.0.2/manifests/amd.io_deviceconfigs.yaml
  operators/amd-gpu-operator/0.0.2/metadata/annotations.yaml
  operators/amd-gpu-operator/0.0.2/test/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3904 operator pulp-operator (1.0.0-beta.4)
  operators/pulp-operator/1.0.0-beta.4/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/pulp-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-beta.4/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-beta.4/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3905 operator gitlab-runner-operator (1.21.0)
  operators/gitlab-runner-operator/1.21.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.21.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.21.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started, tests/skip/check_required_fields

#3899 operator project-quay (3.9.6)
  operators/project-quay/3.9.6/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.6/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.6/metadata/annotations.yaml
Labels: community-hosted-pipeline/started, tests/skip/check_required_fields

#3920 operator hive-operator (1.2.4366-df65e7e)
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive-operator.v1.2.4366-df65e7e.clusterserviceversion.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4366-df65e7e/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3845 operator keycloak-operator (23.0.4)
  operators/keycloak-operator/23.0.4/bundle.Dockerfile
  operators/keycloak-operator/23.0.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.4/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3929 operator eginnovations-operator (0.0.7)
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.7/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.7/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3932 operator opentelemetry-operator (0.91.0)
  operators/opentelemetry-operator/0.91.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.91.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.91.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.91.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.91.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.91.0/manifests/opentelemetry.io_opampbridges.yaml
  operators/opentelemetry-operator/0.91.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.91.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.91.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3935 removing replace field from rabbitmq-operator manifest 1.14 to solve …
  operators/rabbitmq-cluster-operator/1.14.0/manifests/rabbitmq.clusterserviceversion.yaml
Labels: community-hosted-pipeline/failed

#3925 operator portworx-essentials (23.10.2)
  operators/portworx-essentials/23.10.2/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.10.2/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.10.2/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/23.10.2/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#3936 operator rabbitmq-cluster-operator (2.7.0)
  operators/rabbitmq-cluster-operator/2.7.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.7.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.7.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.7.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3931 portworx-essentials: add authors to the ci.yaml
  operators/portworx-essentials/ci.yaml
Labels: community-hosted-pipeline/passed

#3939 operator ndmspc-operator (0.7.2)
  operators/ndmspc-operator/0.7.2/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.7.2/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.7.2/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.7.2/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.7.2/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.7.2/metadata/annotations.yaml
  operators/ndmspc-operator/0.7.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3937 operator percona-postgresql-operator (2.3.1)
  operators/percona-postgresql-operator/2.3.1/manifests/percona-postgresql-operator.v2.3.1.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.3.1/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.1/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.1/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.3.1/metadata/annotations.yaml
  operators/percona-postgresql-operator/2.3.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#3947 operator amd-gpu-operator (0.0.3)
  operators/amd-gpu-operator/0.0.3/manifests/amd-gpu-operator-controller-manager-metrics-service_v1_service.yaml
  operators/amd-gpu-operator/0.0.3/manifests/amd-gpu-operator-manager-config_v1_configmap.yaml
  operators/amd-gpu-operator/0.0.3/manifests/amd-gpu-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/amd-gpu-operator/0.0.3/manifests/amd-gpu-operator.clusterserviceversion.yaml
  operators/amd-gpu-operator/0.0.3/manifests/amd.io_deviceconfigs.yaml
  operators/amd-gpu-operator/0.0.3/metadata/annotations.yaml
  operators/amd-gpu-operator/0.0.3/test/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3959 operator gitlab-operator-kubernetes (0.28.1)
  operators/gitlab-operator-kubernetes/0.28.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.28.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3958 operator keycloak-operator (23.0.5)
  operators/keycloak-operator/23.0.5/bundle.Dockerfile
  operators/keycloak-operator/23.0.5/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.5/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.5/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#3806 operator gitlab-operator-kubernetes (0.27.0)
  operators/gitlab-operator-kubernetes/0.27.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.27.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3878 operator gitlab-operator-kubernetes (0.27.1)
  operators/gitlab-operator-kubernetes/0.27.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.27.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3912 operator gitlab-operator-kubernetes (0.28.0)
  operators/gitlab-operator-kubernetes/0.28.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.28.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3964 operator kuadrant-operator (0.6.1)
  operators/kuadrant-operator/0.6.1/bundle.Dockerfile
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator-dnsrecord-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator-dnsrecord-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_dnshealthcheckprobes.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_dnspolicies.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_dnsrecords.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_managedzones.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_tlspolicies.yaml
  operators/kuadrant-operator/0.6.1/metadata/annotations.yaml
  operators/kuadrant-operator/0.6.1/metadata/dependencies.yaml
  operators/kuadrant-operator/0.6.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/started

#3966 removing replace line on first rabbitmq messaging operator version
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.clusterserviceversion.yaml
Labels: community-hosted-pipeline/failed

#3967 operator rabbitmq-messaging-topology-operator (1.13.0)
  operators/rabbitmq-messaging-topology-operator/1.13.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_operatorpolicies.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/started
