Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-05, with the labels that each got.

#4434 operator external-secrets-operator (0.9.17)
  operators/external-secrets-operator/0.9.17/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.17/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.17/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.17/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4435 operator opendatahub-operator (2.11.1)
  operators/opendatahub-operator/2.11.1/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.11.1/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.11.1/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.11.1/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.11.1/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.11.1/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.11.1/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.11.1/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.11.1/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.11.1/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.11.1/metadata/annotations.yaml
  operators/opendatahub-operator/2.11.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4439 operator patterns-operator (0.0.49)
  operators/patterns-operator/0.0.49/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.49/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.49/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.49/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.49/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.49/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.49/metadata/annotations.yaml
  operators/patterns-operator/0.0.49/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4437 operator apicurio-registry (1.1.2-v2.5.11.final)
  operators/apicurio-registry/1.1.2-v2.5.11.final/bundle.Dockerfile
  operators/apicurio-registry/1.1.2-v2.5.11.final/manifests/apicurio-registry-operator.clusterserviceversion.yaml
  operators/apicurio-registry/1.1.2-v2.5.11.final/manifests/registry.apicur.io_apicurioregistries.yaml
  operators/apicurio-registry/1.1.2-v2.5.11.final/metadata/annotations.yaml
  operators/apicurio-registry/1.1.2-v2.5.11.final/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name_unique

#4441 operator mariadb-operator (0.28.1)
  operators/mariadb-operator/0.28.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.28.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.28.1/metadata/annotations.yaml
  operators/mariadb-operator/0.28.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4442 operator hazelcast-platform-operator (5.12.0)
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.12.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4459 operator limitador-operator (0.8.0)
  operators/limitador-operator/0.8.0/bundle.Dockerfile
  operators/limitador-operator/0.8.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.8.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.8.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.8.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.8.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.8.0/metadata/annotations.yaml
  operators/limitador-operator/0.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4456 operator dns-operator (0.2.0)
  operators/dns-operator/0.2.0/manifests/dns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/dns-operator/0.2.0/manifests/dns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dns-operator/0.2.0/manifests/dns-operator.clusterserviceversion.yaml
  operators/dns-operator/0.2.0/manifests/kuadrant.io_dnsrecords.yaml
  operators/dns-operator/0.2.0/manifests/kuadrant.io_managedzones.yaml
  operators/dns-operator/0.2.0/metadata/annotations.yaml
  operators/dns-operator/0.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4463 operator forklift-operator (2.6.1)
  operators/forklift-operator/2.6.1/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.6.1/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.6.1/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.6.1/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.6.1/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.6.1/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.6.1/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.6.1/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.6.1/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.6.1/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.6.1/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.6.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4467 operator camel-k (2.3.1)
  operators/camel-k/2.3.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/camel-k.v2.3.1.clusterserviceversion.yaml
  operators/camel-k/2.3.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/metadata/annotations.yaml
  operators/camel-k/2.3.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4497 operator hive-operator (1.2.4446-e11a23b)
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive-operator.v1.2.4446-e11a23b.clusterserviceversion.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4446-e11a23b/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4498 operator bpfman-operator (0.4.1)
  operators/bpfman-operator/0.4.1/bundle.Dockerfile
  operators/bpfman-operator/0.4.1/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.4.1/metadata/annotations.yaml
  operators/bpfman-operator/0.4.1/metadata/dependencies.yaml
  operators/bpfman-operator/0.4.1/tests/scorecard/config.yaml
  operators/bpfman-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4499 operator kiali (1.84.0)
  operators/kiali/1.84.0/bundle.Dockerfile
  operators/kiali/1.84.0/manifests/kiali.crd.yaml
  operators/kiali/1.84.0/manifests/kiali.v1.84.0.clusterserviceversion.yaml
  operators/kiali/1.84.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.84.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4502 operator kuadrant-operator (0.7.1)
  operators/kuadrant-operator/0.7.1/bundle.Dockerfile
  operators/kuadrant-operator/0.7.1/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.7.1/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.7.1/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.7.1/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.7.1/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.7.1/manifests/kuadrant.io_dnspolicies.yaml
  operators/kuadrant-operator/0.7.1/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.7.1/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.7.1/manifests/kuadrant.io_tlspolicies.yaml
  operators/kuadrant-operator/0.7.1/metadata/annotations.yaml
  operators/kuadrant-operator/0.7.1/metadata/dependencies.yaml
  operators/kuadrant-operator/0.7.1/tests/scorecard/config.yaml
  operators/kuadrant-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4465 operator jaeger (1.57.0)
  operators/jaeger/1.57.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.57.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.57.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.57.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.57.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.57.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.57.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.57.0/metadata/annotations.yaml
  operators/jaeger/1.57.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4506 operator keycloak-permissions-operator (1.4.1)
  operators/keycloak-permissions-operator/1.4.1/manifests/keycloak-permissions-operator-controller-manager-metrics-svc_v1_service.yaml
  operators/keycloak-permissions-operator/1.4.1/manifests/keycloak-permissions-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keycloak-permissions-operator/1.4.1/manifests/keycloak-permissions-operator.clusterserviceversion.yaml
  operators/keycloak-permissions-operator/1.4.1/manifests/keycloak.nerc.mghpcc.org_keycloakauthorizations.yaml
  operators/keycloak-permissions-operator/1.4.1/metadata/annotations.yaml
  operators/keycloak-permissions-operator/1.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4508 operator dynatrace-operator (1.1.0)
  operators/dynatrace-operator/1.1.0/Dockerfile
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4513 operator skupper-operator (1.7.0)
  operators/skupper-operator/1.7.0/manifests/skupper-operator.v1.7.0.clusterserviceversion.yaml
  operators/skupper-operator/1.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4514 operator snapscheduler (3.4.0)
  operators/snapscheduler/3.4.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/3.4.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/3.4.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/3.4.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/3.4.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/3.4.0/metadata/annotations.yaml
  operators/snapscheduler/3.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4511 operator ncn-community-operator (0.0.1)
  operators/ncn-community-operator/0.0.1/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-community-operator/0.0.1/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-community-operator/0.0.1/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-community-operator/0.0.1/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-community-operator/0.0.1/metadata/annotations.yaml
  operators/ncn-community-operator/0.0.1/tests/scorecard/config.yaml
  operators/ncn-community-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4517 operator mongodb-atlas-kubernetes (2.3.0)
  operators/mongodb-atlas-kubernetes/2.3.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4519 operator patch-operator (0.1.11)
  operators/patch-operator/0.1.11/Dockerfile
  operators/patch-operator/0.1.11/manifests/patch-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/patch-operator/0.1.11/manifests/patch-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patch-operator/0.1.11/manifests/patch-operator-manager-config_v1_configmap.yaml
  operators/patch-operator/0.1.11/manifests/patch-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patch-operator/0.1.11/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/patch-operator/0.1.11/manifests/patch-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patch-operator/0.1.11/manifests/patch-operator-webhook-service_v1_service.yaml
  operators/patch-operator/0.1.11/manifests/patch-operator.clusterserviceversion.yaml
  operators/patch-operator/0.1.11/manifests/redhatcop.redhat.io_patches.yaml
  operators/patch-operator/0.1.11/metadata/annotations.yaml
  operators/patch-operator/0.1.11/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4518 operator keycloak-operator (24.0.4)
  operators/keycloak-operator/24.0.4/bundle.Dockerfile
  operators/keycloak-operator/24.0.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4530 operator external-secrets-operator (0.9.18)
  operators/external-secrets-operator/0.9.18/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.18/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.18/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.18/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4527 operator codeflare-operator (1.4.1)
  operators/codeflare-operator/1.4.1/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.4.1/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.4.1/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.4.1/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.4.1/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.4.1/metadata/annotations.yaml
  operators/codeflare-operator/1.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4522 operator vault-config-operator (0.8.27)
  operators/vault-config-operator/0.8.27/Dockerfile
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.27/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.27/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.27/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.27/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.27/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.27/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.27/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.27/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.27/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.27/metadata/annotations.yaml
  operators/vault-config-operator/0.8.27/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4520 operator gitwebhook-operator (0.1.2)
  operators/gitwebhook-operator/0.1.2/Dockerfile
  operators/gitwebhook-operator/0.1.2/manifests/gitwebhook-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/gitwebhook-operator/0.1.2/manifests/gitwebhook-operator-controller-manager-metrics-service_v1_service.yaml
  operators/gitwebhook-operator/0.1.2/manifests/gitwebhook-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitwebhook-operator/0.1.2/manifests/gitwebhook-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitwebhook-operator/0.1.2/manifests/gitwebhook-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitwebhook-operator/0.1.2/manifests/gitwebhook-operator-webhook-service_v1_service.yaml
  operators/gitwebhook-operator/0.1.2/manifests/gitwebhook-operator.clusterserviceversion.yaml
  operators/gitwebhook-operator/0.1.2/manifests/redhatcop.redhat.io_gitwebhooks.yaml
  operators/gitwebhook-operator/0.1.2/metadata/annotations.yaml
  operators/gitwebhook-operator/0.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4534 Add more reviews for verticadb-operator
  operators/verticadb-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#4538 operator verticadb-operator (2.1.3)
  operators/verticadb-operator/2.1.3/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.1.3/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.1.3/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.1.3/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/2.1.3/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/2.1.3/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.1.3/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.1.3/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/2.1.3/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/2.1.3/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.1.3/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.1.3/metadata/annotations.yaml
  operators/verticadb-operator/2.1.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4537 operator strimzi-kafka-operator (0.41.0)
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimzi-cluster-operator.v0.41.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4535 operator sap-data-intelligence-observer-operator (1.0.5)
  operators/sap-data-intelligence-observer-operator/1.0.5/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/1.0.5/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/1.0.5/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/1.0.5/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/1.0.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4540 operator opendatahub-operator (2.12.0)
  operators/opendatahub-operator/2.12.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.12.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.12.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.12.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.12.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.12.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.12.0/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.12.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.12.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.12.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.12.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4539 operator flux (2.3.0)
  operators/flux/2.3.0/manifests/alert.crd.yaml
  operators/flux/2.3.0/manifests/bucket.crd.yaml
  operators/flux/2.3.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/2.3.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/2.3.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/2.3.0/manifests/flux-edit-flux-system.clusterrole.yaml
  operators/flux/2.3.0/manifests/flux-view-flux-system.clusterrole.yaml
  operators/flux/2.3.0/manifests/flux.v2.3.0.clusterserviceversion.yaml
  operators/flux/2.3.0/manifests/gitrepository.crd.yaml
  operators/flux/2.3.0/manifests/helmchart.crd.yaml
  operators/flux/2.3.0/manifests/helmrelease.crd.yaml
  operators/flux/2.3.0/manifests/helmrepository.crd.yaml
  operators/flux/2.3.0/manifests/imagepolicy.crd.yaml
  operators/flux/2.3.0/manifests/imagerepository.crd.yaml
  operators/flux/2.3.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/2.3.0/manifests/kustomization.crd.yaml
  operators/flux/2.3.0/manifests/notification-controller.service.yaml
  operators/flux/2.3.0/manifests/ocirepository.crd.yaml
  operators/flux/2.3.0/manifests/provider.crd.yaml
  operators/flux/2.3.0/manifests/receiver.crd.yaml
  operators/flux/2.3.0/manifests/source-controller.service.yaml
  operators/flux/2.3.0/manifests/webhook-receiver.service.yaml
  operators/flux/2.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4544 operator korrel8r (0.1.5)
  operators/korrel8r/0.1.5/manifests/korrel8r-controller-manager-metrics-service_v1_service.yaml
  operators/korrel8r/0.1.5/manifests/korrel8r-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.5/manifests/korrel8r-engine-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.5/manifests/korrel8r-engine-view_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/korrel8r/0.1.5/manifests/korrel8r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.5/manifests/korrel8r-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.5/manifests/korrel8r.clusterserviceversion.yaml
  operators/korrel8r/0.1.5/manifests/korrel8r.openshift.io_korrel8rs.yaml
  operators/korrel8r/0.1.5/metadata/annotations.yaml
  operators/korrel8r/0.1.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4546 operator rabbitmq-messaging-topology-operator (1.14.1)
  operators/rabbitmq-messaging-topology-operator/1.14.1/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_operatorpolicies.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4548 operator rabbitmq-cluster-operator (2.9.0)
  operators/rabbitmq-cluster-operator/2.9.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.9.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.9.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.9.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4549 operator multicluster-global-hub-operator (1.2.0-dev.20240516)
  operators/multicluster-global-hub-operator/1.2.0-dev.20240516/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.2.0-dev.20240516/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.2.0-dev.20240516/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4551 operator datadog-operator (1.6.0)
  operators/datadog-operator/1.6.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.6.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.6.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.6.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.6.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.6.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.6.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.6.0/metadata/annotations.yaml
  operators/datadog-operator/1.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4550 operator edp-keycloak-operator (1.21.0)
  operators/edp-keycloak-operator/1.21.0/manifests/client-secret-policy-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.21.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.21.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4554 operator eclipse-amlen-operator (1.1.0)
  operators/eclipse-amlen-operator/1.1.0/bundle.Dockerfile
  operators/eclipse-amlen-operator/1.1.0/manifests/amlen-controller-manager-metrics-service_v1_service.yaml
  operators/eclipse-amlen-operator/1.1.0/manifests/amlen-manager-config_v1_configmap.yaml
  operators/eclipse-amlen-operator/1.1.0/manifests/amlen-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eclipse-amlen-operator/1.1.0/manifests/eclipse-amlen-operator.clusterserviceversion.yaml
  operators/eclipse-amlen-operator/1.1.0/manifests/eclipse.org_amlens.yaml
  operators/eclipse-amlen-operator/1.1.0/metadata/annotations.yaml
  operators/eclipse-amlen-operator/1.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4555 operator opendatahub-operator (2.12.1)
  operators/opendatahub-operator/2.12.1/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.12.1/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.12.1/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.12.1/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.12.1/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.12.1/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.12.1/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.12.1/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.12.1/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.12.1/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.12.1/metadata/annotations.yaml
  operators/opendatahub-operator/2.12.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4558 operator forklift-operator (2.6.2)
  operators/forklift-operator/2.6.2/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.6.2/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.6.2/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.6.2/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.6.2/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.6.2/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.6.2/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.6.2/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.6.2/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.6.2/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.6.2/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.6.2/metadata/annotations.yaml
  operators/forklift-operator/2.6.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4559 operator kubecost (2.2.4)
  operators/kubecost/2.2.4/bundle.Dockerfile
  operators/kubecost/2.2.4/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost/2.2.4/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost/2.2.4/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost/2.2.4/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost/2.2.4/metadata/annotations.yaml
  operators/kubecost/2.2.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4150 operator 3scale-community-operator (0.11.0)
  operators/3scale-community-operator/0.11.0/bundle.Dockerfile
  operators/3scale-community-operator/0.11.0/manifests/3scale-operator.clusterserviceversion.yaml
  operators/3scale-community-operator/0.11.0/manifests/apps.3scale.net_apimanagerbackups.yaml
  operators/3scale-community-operator/0.11.0/manifests/apps.3scale.net_apimanagerrestores.yaml
  operators/3scale-community-operator/0.11.0/manifests/apps.3scale.net_apimanagers.yaml
  operators/3scale-community-operator/0.11.0/manifests/capabilities.3scale.net_activedocs.yaml
  operators/3scale-community-operator/0.11.0/manifests/capabilities.3scale.net_applications.yaml
  operators/3scale-community-operator/0.11.0/manifests/capabilities.3scale.net_backends.yaml
  operators/3scale-community-operator/0.11.0/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  operators/3scale-community-operator/0.11.0/manifests/capabilities.3scale.net_developeraccounts.yaml
  operators/3scale-community-operator/0.11.0/manifests/capabilities.3scale.net_developerusers.yaml
  operators/3scale-community-operator/0.11.0/manifests/capabilities.3scale.net_openapis.yaml
  operators/3scale-community-operator/0.11.0/manifests/capabilities.3scale.net_products.yaml
  operators/3scale-community-operator/0.11.0/manifests/capabilities.3scale.net_proxyconfigpromotes.yaml
  operators/3scale-community-operator/0.11.0/manifests/capabilities.3scale.net_tenants.yaml
  operators/3scale-community-operator/0.11.0/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/3scale-community-operator/0.11.0/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  operators/3scale-community-operator/0.11.0/metadata/annotations.yaml
  operators/3scale-community-operator/0.11.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/failed, operator-hosted-pipeline/started

#4565 operator hive-operator (1.2.4459-f910c9b)
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive-operator.v1.2.4459-f910c9b.clusterserviceversion.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4459-f910c9b/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4569 operator kepler-operator (0.12.0)
  operators/kepler-operator/0.12.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.12.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.12.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.12.0/manifests/kepler-operator-webhook-service_v1_service.yaml
  operators/kepler-operator/0.12.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.12.0/manifests/kepler.system.sustainable.computing.io_keplerinternals.yaml
  operators/kepler-operator/0.12.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.12.0/metadata/annotations.yaml
  operators/kepler-operator/0.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4571 operator layer7-operator (1.0.6)
  operators/layer7-operator/1.0.6/manifests/layer7-operator-controller-manager-metrics-service_v1_service.yaml
  operators/layer7-operator/1.0.6/manifests/layer7-operator-manager-config_v1_configmap.yaml
  operators/layer7-operator/1.0.6/manifests/layer7-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/layer7-operator/1.0.6/manifests/layer7-operator-webhook-service_v1_service.yaml
  operators/layer7-operator/1.0.6/manifests/layer7-operator.clusterserviceversion.yaml
  operators/layer7-operator/1.0.6/manifests/security.brcmlabs.com_gateways.yaml
  operators/layer7-operator/1.0.6/manifests/security.brcmlabs.com_l7apis.yaml
  operators/layer7-operator/1.0.6/manifests/security.brcmlabs.com_l7portals.yaml
  operators/layer7-operator/1.0.6/manifests/security.brcmlabs.com_repositories.yaml
  operators/layer7-operator/1.0.6/metadata/annotations.yaml
  operators/layer7-operator/1.0.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4455 operator aqua (2022.4.16)
  operators/aqua/2022.4.16/manifests/aqua-operator.v2022.4.16.clusterserviceversion.yaml
  operators/aqua/2022.4.16/manifests/aquacloudconnector.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.16/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.16/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.16/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.16/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.16/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.16/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.16/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.16/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.16/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.16/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.16/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.16/metadata/annotations.yaml
Labels: tests/skip/check_dangling_bundles, operator-hosted-pipeline/started

#4552 operator gitlab-operator-kubernetes (1.0.0)
  operators/gitlab-operator-kubernetes/1.0.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.0.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4575 operator aerospike-kubernetes-operator (3.3.0)
  operators/aerospike-kubernetes-operator/3.3.0/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/3.3.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.3.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.3.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.3.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.3.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.3.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.3.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4576 operator postgresql (5.5.2)
  operators/postgresql/5.5.2/Dockerfile
  operators/postgresql/5.5.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.2/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.5.2/metadata/annotations.yaml
  operators/postgresql/5.5.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4578 operator kepler-operator (0.13.0)
  operators/kepler-operator/0.13.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.13.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.13.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.13.0/manifests/kepler-operator-webhook-service_v1_service.yaml
  operators/kepler-operator/0.13.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.13.0/manifests/kepler.system.sustainable.computing.io_keplerinternals.yaml
  operators/kepler-operator/0.13.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.13.0/metadata/annotations.yaml
  operators/kepler-operator/0.13.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4574 operator argocd-operator (0.10.0)
  operators/argocd-operator/0.10.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.10.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.10.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.10.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.10.0/manifests/argocd-operator.v0.10.0.clusterserviceversion.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_notificationsconfigurations.yaml
  operators/argocd-operator/0.10.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4563 operator gitlab-runner-operator (1.25.0)
  operators/gitlab-runner-operator/1.25.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-gitlab-runner-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-runner-operator/1.25.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4579 operator awx-operator (2.17.0)
  operators/awx-operator/2.17.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.17.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.17.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.17.0/manifests/awx-operator.v2.17.0.clusterserviceversion.yaml
  operators/awx-operator/2.17.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.17.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.17.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.17.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.17.0/metadata/annotations.yaml
  operators/awx-operator/2.17.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4542 operator ibm-block-csi-operator-community (1.11.2)
  operators/ibm-block-csi-operator-community/1.11.2/bundle-1.11.2.Dockerfile
  operators/ibm-block-csi-operator-community/1.11.2/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.11.2/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.11.2/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.11.2/manifests/ibm-block-csi-operator.v1.11.2.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.11.2/metadata/annotations.yaml
  operators/ibm-block-csi-operator-community/ci.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4581 operator ibm-block-csi-operator-community (1.11.3)
  operators/ibm-block-csi-operator-community/1.11.3/bundle-1.11.3.Dockerfile
  operators/ibm-block-csi-operator-community/1.11.3/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.11.3/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.11.3/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.11.3/manifests/ibm-block-csi-operator.v1.11.3.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.11.3/metadata/annotations.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4584 operator gitlab-operator-kubernetes (1.0.1)
  operators/gitlab-operator-kubernetes/1.0.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.0.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4582 operator codeflare-operator (1.4.2)
  operators/codeflare-operator/1.4.2/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.4.2/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.4.2/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.4.2/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.4.2/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.4.2/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.4.2/metadata/annotations.yaml
  operators/codeflare-operator/1.4.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4594 operator infinispan (2.4.2)
  operators/infinispan/2.4.2/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.2/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.2/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.2/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.2/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.2/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.2/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.2/metadata/annotations.yaml
  operators/infinispan/2.4.2/tests/scorecard/config.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4600 operator hive-operator (1.2.4461-97686bb)
  operators/hive-operator/1.2.4461-97686bb/manifests/hive-operator.v1.2.4461-97686bb.clusterserviceversion.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4461-97686bb/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4601 operator hawtio-operator (1.1.0)
  operators/hawtio-operator/1.1.0/manifests/hawt.io_hawtios.yaml
  operators/hawtio-operator/1.1.0/manifests/hawtio-operator.clusterserviceversion.yaml
  operators/hawtio-operator/1.1.0/metadata/annotations.yaml
  operators/hawtio-operator/1.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4596 operator amd-gpu-operator (0.0.4)
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-controller-manager-metrics-service_v1_service.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-manager-config_v1_configmap.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-node-labeller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-node-labeller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-node-labeller_v1_serviceaccount.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-node-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-node-metrics_rbac.authorization.k8s.io_v1_role.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-node-metrics_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-node-metrics_v1_service.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-node-metrics_v1_serviceaccount.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd-gpu-operator.clusterserviceversion.yaml
  operators/amd-gpu-operator/0.0.4/manifests/amd.io_deviceconfigs.yaml
  operators/amd-gpu-operator/0.0.4/metadata/annotations.yaml
  operators/amd-gpu-operator/0.0.4/test/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4583 operator fence-agents-remediation (0.4.0)
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation-webhook-service_v1_service.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.4.0/metadata/annotations.yaml
  operators/fence-agents-remediation/0.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
