Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-12, with the labels that each got.

#5035 Catalog update [v4.15,v4.12,v4.13,v4.14,v4.16,v4.17]
  catalogs/v4.12/hazelcast-platform-operator/catalog.yaml
  catalogs/v4.13/hazelcast-platform-operator/catalog.yaml
  catalogs/v4.14/hazelcast-platform-operator/catalog.yaml
  catalogs/v4.15/hazelcast-platform-operator/catalog.yaml
  catalogs/v4.16/hazelcast-platform-operator/catalog.yaml
  catalogs/v4.17/hazelcast-platform-operator/catalog.yaml
  operators/hazelcast-platform-operator/Makefile
  operators/hazelcast-platform-operator/catalog-templates/v4.12.yaml
  operators/hazelcast-platform-operator/catalog-templates/v4.13.yaml
  operators/hazelcast-platform-operator/catalog-templates/v4.14.yaml
  operators/hazelcast-platform-operator/catalog-templates/v4.15.yaml
  operators/hazelcast-platform-operator/catalog-templates/v4.16.yaml
  operators/hazelcast-platform-operator/catalog-templates/v4.17.yaml
  operators/hazelcast-platform-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#5570 Catalog update [v4.14,v4.17,v4.18,v4.12,v4.13,v4.15,v4.16]
  catalogs/v4.12/dell-csm-operator/catalog.yaml
  catalogs/v4.13/dell-csm-operator/catalog.yaml
  catalogs/v4.14/dell-csm-operator/catalog.yaml
  catalogs/v4.15/dell-csm-operator/catalog.yaml
  catalogs/v4.16/dell-csm-operator/catalog.yaml
  catalogs/v4.17/dell-csm-operator/catalog.yaml
  catalogs/v4.18/dell-csm-operator/catalog.yaml
  operators/dell-csm-operator/Makefile
  operators/dell-csm-operator/catalog-templates/v4.12.yaml
  operators/dell-csm-operator/catalog-templates/v4.13.yaml
  operators/dell-csm-operator/catalog-templates/v4.14.yaml
  operators/dell-csm-operator/catalog-templates/v4.15.yaml
  operators/dell-csm-operator/catalog-templates/v4.16.yaml
  operators/dell-csm-operator/catalog-templates/v4.17.yaml
  operators/dell-csm-operator/catalog-templates/v4.18.yaml
  operators/dell-csm-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5571 operator portworx-essentials (24.2.0)
  operators/portworx-essentials/24.2.0/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/24.2.0/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/24.2.0/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/24.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5578 operator keycloak-operator (26.0.7)
  operators/keycloak-operator/26.0.7/bundle.Dockerfile
  operators/keycloak-operator/26.0.7/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.7/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.7/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5581 operator apicurio-api-controller (0.0.1)
  operators/apicurio-api-controller/0.0.1/bundle.Dockerfile
  operators/apicurio-api-controller/0.0.1/manifests/apicurio-api-controller.clusterserviceversion.yaml
  operators/apicurio-api-controller/0.0.1/manifests/registry.apicur.io_apicurioregistries3.yaml
  operators/apicurio-api-controller/0.0.1/metadata/annotations.yaml
  operators/apicurio-api-controller/ci.yaml
Labels: operator-hosted-pipeline/passed

#5584 Catalog update [v4.13,v4.14,v4.16,v4.12,v4.15,v4.18,v4.17]
  catalogs/v4.12/trident-operator/catalog.yaml
  catalogs/v4.13/trident-operator/catalog.yaml
  catalogs/v4.14/trident-operator/catalog.yaml
  catalogs/v4.15/trident-operator/catalog.yaml
  catalogs/v4.16/trident-operator/catalog.yaml
  catalogs/v4.17/trident-operator/catalog.yaml
  catalogs/v4.18/trident-operator/catalog.yaml
  operators/trident-operator/catalog-templates/v4.12.yaml
  operators/trident-operator/catalog-templates/v4.13.yaml
  operators/trident-operator/catalog-templates/v4.14.yaml
  operators/trident-operator/catalog-templates/v4.15.yaml
  operators/trident-operator/catalog-templates/v4.16.yaml
  operators/trident-operator/catalog-templates/v4.17.yaml
  operators/trident-operator/catalog-templates/v4.18.yaml
Labels: operator-hosted-pipeline/started

#5585 operator external-secrets-operator (0.11.0)
  operators/external-secrets-operator/0.11.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_clustergenerators.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_stssessiontokens.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_uuids.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.11.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.11.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5518 Catalog update [v4.14,v4.12,v4.13,v4.17,v4.15,v4.16]
  catalogs/v4.12/koku-metrics-operator/catalog.yaml
  catalogs/v4.13/koku-metrics-operator/catalog.yaml
  catalogs/v4.14/koku-metrics-operator/catalog.yaml
  catalogs/v4.15/koku-metrics-operator/catalog.yaml
  catalogs/v4.16/koku-metrics-operator/catalog.yaml
  catalogs/v4.17/koku-metrics-operator/catalog.yaml
  operators/koku-metrics-operator/Makefile
  operators/koku-metrics-operator/catalog-templates/template.yaml
  operators/koku-metrics-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5587 operator koku-metrics-operator (3.3.2)
  operators/koku-metrics-operator/3.3.2/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/3.3.2/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/3.3.2/metadata/annotations.yaml
  operators/koku-metrics-operator/3.3.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5588 Catalog update [v4.17,v4.15,v4.16,v4.13,v4.14,v4.12]
  catalogs/v4.12/koku-metrics-operator/catalog.yaml
  catalogs/v4.13/koku-metrics-operator/catalog.yaml
  catalogs/v4.14/koku-metrics-operator/catalog.yaml
  catalogs/v4.15/koku-metrics-operator/catalog.yaml
  catalogs/v4.16/koku-metrics-operator/catalog.yaml
  catalogs/v4.17/koku-metrics-operator/catalog.yaml
  operators/koku-metrics-operator/Makefile
  operators/koku-metrics-operator/catalog-templates/template.yaml
Labels: operator-hosted-pipeline/started

#5589 operator stackgres-community (1.15.0-rc1)
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.15.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.15.0-rc1/metadata/annotations.yaml
  operators/stackgres-community/1.15.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5590 operator neuvector-community-operator (1.5.0)
  operators/neuvector-community-operator/1.5.0/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.5.0/manifests/neuvector-operator.v1.5.0.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.5.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5593 operator group-sync-operator (0.0.31)
  operators/group-sync-operator/0.0.31/Dockerfile
  operators/group-sync-operator/0.0.31/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.31/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.31/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.31/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.31/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.31/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.31/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.31/metadata/annotations.yaml
  operators/group-sync-operator/0.0.31/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5598 operator multi-nic-cni-operator (1.2.4)
  operators/multi-nic-cni-operator/1.2.4/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.2.4/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.4/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5599 operator odf-node-recovery-operator (0.0.2)
  operators/odf-node-recovery-operator/0.0.2/manifests/odf-node-recovery-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odf-node-recovery-operator/0.0.2/manifests/odf-node-recovery-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odf-node-recovery-operator/0.0.2/manifests/odf-node-recovery-operator.clusterserviceversion.yaml
  operators/odf-node-recovery-operator/0.0.2/manifests/odf.openshift.io_noderecoveries.yaml
  operators/odf-node-recovery-operator/0.0.2/metadata/annotations.yaml
  operators/odf-node-recovery-operator/0.0.2/tests/scorecard/config.yaml
  operators/odf-node-recovery-operator/Makefile
Labels: operator-hosted-pipeline/started

#5600 Catalog update [v4.12,v4.13,v4.14]
  catalogs/v4.12/odf-node-recovery-operator/catalog.yaml
  catalogs/v4.13/odf-node-recovery-operator/catalog.yaml
  catalogs/v4.14/odf-node-recovery-operator/catalog.yaml
  operators/odf-node-recovery-operator/catalog-templates/v4.12.yaml
  operators/odf-node-recovery-operator/catalog-templates/v4.13.yaml
  operators/odf-node-recovery-operator/catalog-templates/v4.14.yaml
Labels: operator-hosted-pipeline/started

#5619 operator stackgres-community (1.15.0-rc2)
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.15.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.15.0-rc2/metadata/annotations.yaml
  operators/stackgres-community/1.15.0-rc2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5620 Update GitLab Operator maintainers list
  operators/gitlab-operator-kubernetes/ci.yaml
Labels: operator-hosted-pipeline/started

#5621 operator gitlab-operator-kubernetes (1.7.2)
  operators/gitlab-operator-kubernetes/1.7.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.7.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5628 operator dynatrace-operator (1.4.0)
  operators/dynatrace-operator/1.4.0/Dockerfile
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-controller_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-logmonitoring_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-logmonitoring_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-node-config-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.4.0/manifests/install-config_v1_configmap.yaml
  operators/dynatrace-operator/1.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5626 operator infinispan (2.4.6)
  operators/infinispan/2.4.6/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.6/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.6/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.6/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.6/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.6/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.6/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.6/metadata/annotations.yaml
  operators/infinispan/2.4.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5632 operator sonataflow-operator (10.0.0)
  operators/sonataflow-operator/10.0.0/manifests/sonataflow-operator-builder-config_v1_configmap.yaml
  operators/sonataflow-operator/10.0.0/manifests/sonataflow-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sonataflow-operator/10.0.0/manifests/sonataflow-operator-controllers-config_v1_configmap.yaml
  operators/sonataflow-operator/10.0.0/manifests/sonataflow-operator-manager-config_v1_configmap.yaml
  operators/sonataflow-operator/10.0.0/manifests/sonataflow-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sonataflow-operator/10.0.0/manifests/sonataflow-operator-sonataflowclusterplatform-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sonataflow-operator/10.0.0/manifests/sonataflow-operator.clusterserviceversion.yaml
  operators/sonataflow-operator/10.0.0/manifests/sonataflow.org_sonataflowbuilds.yaml
  operators/sonataflow-operator/10.0.0/manifests/sonataflow.org_sonataflowclusterplatforms.yaml
  operators/sonataflow-operator/10.0.0/manifests/sonataflow.org_sonataflowplatforms.yaml
  operators/sonataflow-operator/10.0.0/manifests/sonataflow.org_sonataflows.yaml
  operators/sonataflow-operator/10.0.0/metadata/annotations.yaml
  operators/sonataflow-operator/10.0.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5634 operator patterns-operator (0.0.61)
  operators/patterns-operator/0.0.61/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.61/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.61/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.61/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.61/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.61/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.61/metadata/annotations.yaml
  operators/patterns-operator/0.0.61/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5630 operator opendatahub-operator (2.22.0)
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_codeflares.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_dashboards.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_datasciencepipelines.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_kserves.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_kueues.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_modelcontrollers.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_modelmeshservings.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_modelregistries.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_rays.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_trainingoperators.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_trustyais.yaml
  operators/opendatahub-operator/2.22.0/manifests/components.platform.opendatahub.io_workbenches.yaml
  operators/opendatahub-operator/2.22.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.22.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.22.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.22.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.22.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.22.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.22.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.22.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.22.0/manifests/services.platform.opendatahub.io_monitorings.yaml
  operators/opendatahub-operator/2.22.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.22.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5638 operator ibm-block-csi-operator-community (1.12.0)
  operators/ibm-block-csi-operator-community/1.12.0/bundle-1.12.0.Dockerfile
  operators/ibm-block-csi-operator-community/1.12.0/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.12.0/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.12.0/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.12.0/manifests/ibm-block-csi-operator.v1.12.0.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.12.0/metadata/annotations.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#5642 operator hive-operator (1.2.4672-af54e2f)
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive-operator.v1.2.4672-af54e2f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4672-af54e2f/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5635 Catalog update [trident-operator] [v4.14,v4.15,v4.18,v4.17,v4.12,v4.16,v4.13]
  catalogs/v4.12/trident-operator/catalog.yaml
  catalogs/v4.13/trident-operator/catalog.yaml
  catalogs/v4.14/trident-operator/catalog.yaml
  catalogs/v4.15/trident-operator/catalog.yaml
  catalogs/v4.16/trident-operator/catalog.yaml
  catalogs/v4.17/trident-operator/catalog.yaml
  catalogs/v4.18/trident-operator/catalog.yaml
  operators/trident-operator/24.10.0/manifests/trident-operator.v24.10.0.clusterserviceversion.yaml
  operators/trident-operator/24.10.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.10.0/metadata/annotations.yaml
  operators/trident-operator/24.10.1/manifests/trident-operator.v24.10.1.clusterserviceversion.yaml
  operators/trident-operator/24.10.1/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.10.1/metadata/annotations.yaml
  operators/trident-operator/catalog-templates/v4.12.yaml
  operators/trident-operator/catalog-templates/v4.13.yaml
  operators/trident-operator/catalog-templates/v4.14.yaml
  operators/trident-operator/catalog-templates/v4.15.yaml
  operators/trident-operator/catalog-templates/v4.16.yaml
  operators/trident-operator/catalog-templates/v4.17.yaml
  operators/trident-operator/catalog-templates/v4.18.yaml
Labels: operator-hosted-pipeline/started

#5650 operator flux-operator (0.11.0)
  operators/flux-operator/0.11.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.11.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.11.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.11.0/metadata/annotations.yaml
  operators/flux-operator/0.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5655 operator strimzi-kafka-operator (0.45.0)
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimzi-cluster-operator.v0.45.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5656 Added ppatierno to the Strimzi operator reviewers
  operators/strimzi-kafka-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5658 operator project-quay (3.10.7)
  operators/project-quay/3.10.7/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.7/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5663 chore: update owners [argocd-operator]
  operators/argocd-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5664 operator flux-operator (0.12.0)
  operators/flux-operator/0.12.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.12.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.12.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.12.0/metadata/annotations.yaml
  operators/flux-operator/0.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5666 operator mongodb-atlas-kubernetes (2.6.0)
  operators/mongodb-atlas-kubernetes/2.6.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5668 operator infinispan (2.4.8)
  operators/infinispan/2.4.8/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.8/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.8/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.8/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.8/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.8/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.8/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.8/metadata/annotations.yaml
  operators/infinispan/2.4.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5670 operator project-quay (3.13.2)
  operators/project-quay/3.13.2/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.2/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5669 operator postgresql (5.7.2)
  operators/postgresql/5.7.2/Dockerfile
  operators/postgresql/5.7.2/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.2/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.7.2/metadata/annotations.yaml
  operators/postgresql/5.7.2/tests/scorecard/config.yaml
Labels: pipeline/trigger-hosted, tests/skip/check_operator_name, operator-hosted-pipeline/failed

#5671 operator project-quay (3.9.9)
  operators/project-quay/3.9.9/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.9/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5672 operator project-quay (3.11.7)
  operators/project-quay/3.11.7/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.7/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5673 operator percona-xtradb-cluster-operator (1.16.0)
  operators/percona-xtradb-cluster-operator/1.16.0/manifests/percona-xtradb-cluster-operator.v1.16.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.16.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5677 operator argocd-operator (0.13.0)
  operators/argocd-operator/0.13.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.13.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.13.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.13.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.13.0/manifests/argocd-operator.v0.13.0.clusterserviceversion.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_notificationsconfigurations.yaml
  operators/argocd-operator/0.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5678 operator gitlab-operator-kubernetes (1.8.0)
  operators/gitlab-operator-kubernetes/1.8.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5679 operator project-quay (3.12.6)
  operators/project-quay/3.12.6/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.6/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5681 operator gitlab-runner-operator (1.32.0)
  operators/gitlab-runner-operator/1.32.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.32.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5682 operator verticadb-operator (25.1.0-0)
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_verticareplicators.yaml
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/25.1.0-0/metadata/annotations.yaml
  operators/verticadb-operator/25.1.0-0/tests/scorecard/config.yaml
  operators/verticadb-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5687 operator aerospike-kubernetes-operator (3.4.1)
  operators/aerospike-kubernetes-operator/3.4.1/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/asdb.aerospike.com_aerospikebackups.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/asdb.aerospike.com_aerospikebackupservices.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/asdb.aerospike.com_aerospikerestores.yaml
  operators/aerospike-kubernetes-operator/3.4.1/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5692 Cleanup
  operators/victoriametrics-operator/catalog-templates/v4.12.yaml
  operators/victoriametrics-operator/catalog-templates/v4.13.yaml
  operators/victoriametrics-operator/catalog-templates/v4.14.yaml
  operators/victoriametrics-operator/catalog-templates/v4.15.yaml
  operators/victoriametrics-operator/catalog-templates/v4.16.yaml
Labels: openshift-operator, operator-hosted-pipeline/started

#5697 operator percona-xtradb-cluster-operator (1.16.1)
  operators/percona-xtradb-cluster-operator/1.16.1/manifests/percona-xtradb-cluster-operator.v1.16.1.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.16.1/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.1/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.1/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.1/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/failed

#5699 operator stackgres-community (1.14.2)
  operators/stackgres-community/1.14.2/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.14.2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.14.2/metadata/annotations.yaml
  operators/stackgres-community/1.14.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5703 operator gitlab-operator-kubernetes (1.8.1)
  operators/gitlab-operator-kubernetes/1.8.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
