Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-06, with the labels that each got.

#4611 operator grafana-operator (5.9.2)
  operators/grafana-operator/5.9.2/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.9.2/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.9.2/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.9.2/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.9.2/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.9.2/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.9.2/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.9.2/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.9.2/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.9.2/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4613 operator hive-operator (1.2.4463-d7ead60)
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive-operator.v1.2.4463-d7ead60.clusterserviceversion.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4463-d7ead60/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4463-d7ead60/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4547 operator project-quay (3.11.1)
  operators/project-quay/3.11.1/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.1/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.1/metadata/annotations.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4618 operator keycloak-operator (24.0.5)
  operators/keycloak-operator/24.0.5/bundle.Dockerfile
  operators/keycloak-operator/24.0.5/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.5/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4619 operator pelorus-operator (0.0.9)
  operators/pelorus-operator/0.0.9/manifests/charts.pelorus.dora-metrics.io_peloruses.yaml
  operators/pelorus-operator/0.0.9/manifests/pelorus-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pelorus-operator/0.0.9/manifests/pelorus-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pelorus-operator/0.0.9/manifests/pelorus-operator.clusterserviceversion.yaml
  operators/pelorus-operator/0.0.9/metadata/annotations.yaml
  operators/pelorus-operator/0.0.9/metadata/properties.yaml
  operators/pelorus-operator/0.0.9/tests/scorecard/config.yaml
Labels: do-not-merge/hold, operator-hosted-pipeline/started

#4620 operator external-secrets-operator (0.9.19)
  operators/external-secrets-operator/0.9.19/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.19/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.19/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.19/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.19/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.19/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.19/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.19/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.19/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.19/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.19/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.19/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.19/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.19/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.19/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.19/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.19/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.19/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4621 operator awx-operator (2.18.0)
  operators/awx-operator/2.18.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.18.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.18.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.18.0/manifests/awx-operator.v2.18.0.clusterserviceversion.yaml
  operators/awx-operator/2.18.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.18.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.18.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.18.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.18.0/metadata/annotations.yaml
  operators/awx-operator/2.18.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4616 operator camel-k (2.3.2)
  operators/camel-k/2.3.2/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.3.2/manifests/camel-k.v2.3.2.clusterserviceversion.yaml
  operators/camel-k/2.3.2/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.3.2/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.3.2/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.3.2/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.3.2/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.3.2/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.3.2/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.3.2/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.3.2/metadata/annotations.yaml
  operators/camel-k/2.3.2/tests/scorecard/config.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4627 operator forklift-operator (2.5.7)
  operators/forklift-operator/2.5.7/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.5.7/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.5.7/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.5.7/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.5.7/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.5.7/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.5.7/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.5.7/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.5.7/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.5.7/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.5.7/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.5.7/metadata/annotations.yaml
  operators/forklift-operator/2.5.7/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4606 operator korrel8r (0.1.7)
  operators/korrel8r/0.1.7/manifests/korrel8r-controller-manager-metrics-service_v1_service.yaml
  operators/korrel8r/0.1.7/manifests/korrel8r-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.7/manifests/korrel8r-engine-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.7/manifests/korrel8r-engine-view_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/korrel8r/0.1.7/manifests/korrel8r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.7/manifests/korrel8r-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.7/manifests/korrel8r.clusterserviceversion.yaml
  operators/korrel8r/0.1.7/manifests/korrel8r.openshift.io_korrel8rs.yaml
  operators/korrel8r/0.1.7/metadata/annotations.yaml
  operators/korrel8r/0.1.7/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4633 operator codeflare-operator (1.4.3)
  operators/codeflare-operator/1.4.3/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.4.3/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.4.3/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.4.3/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.4.3/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.4.3/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.4.3/metadata/annotations.yaml
  operators/codeflare-operator/1.4.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4635 operator falcon-operator (0.8.2)
  operators/falcon-operator/0.8.2/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.8.2/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.8.2/manifests/falcon-operator-falconcontainer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.8.2/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.8.2/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.8.2/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.8.2/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.8.2/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.8.2/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.8.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4636 operator opendatahub-operator (2.13.0)
  operators/opendatahub-operator/2.13.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.13.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.13.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.13.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.13.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.13.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.13.0/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.13.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.13.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.13.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.13.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.13.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4640 operator portworx-essentials (24.1.0)
  operators/portworx-essentials/24.1.0/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/24.1.0/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/24.1.0/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/24.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4637 operator cluster-aas-operator (0.1.5)
  operators/cluster-aas-operator/0.1.5/manifests/argo_cd_cluser_rb.yaml
  operators/cluster-aas-operator/0.1.5/manifests/argo_cd_cluster_role.yaml
  operators/cluster-aas-operator/0.1.5/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.5/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.1.5/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.1.5/manifests/cluster-aas-operator-repo-bridge.yaml
  operators/cluster-aas-operator/0.1.5/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.5/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.1.5/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.1.5/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.1.5/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.1.5/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.1.5/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.1.5/manifests/clustertemplate.openshift.io_clustertemplatesetup.yaml
  operators/cluster-aas-operator/0.1.5/manifests/clustertemplate.openshift.io_config.yaml
  operators/cluster-aas-operator/0.1.5/metadata/annotations.yaml
  operators/cluster-aas-operator/0.1.5/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.1.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4641 operator mariadb-operator (0.29.0)
  operators/mariadb-operator/0.29.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.29.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.29.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.29.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.29.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.29.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.29.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.29.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.29.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.29.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.29.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.29.0/metadata/annotations.yaml
  operators/mariadb-operator/0.29.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4642 operator patterns-operator (0.0.50)
  operators/patterns-operator/0.0.50/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.50/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.50/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.50/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.50/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.50/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.50/metadata/annotations.yaml
  operators/patterns-operator/0.0.50/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4631 operator forklift-operator (2.6.3)
  operators/forklift-operator/2.6.3/manifests/forklift-operator.clusterserviceversion.yaml
  operators/forklift-operator/2.6.3/manifests/forklift.konveyor.io_forkliftcontrollers.yaml
  operators/forklift-operator/2.6.3/manifests/forklift.konveyor.io_hooks.yaml
  operators/forklift-operator/2.6.3/manifests/forklift.konveyor.io_hosts.yaml
  operators/forklift-operator/2.6.3/manifests/forklift.konveyor.io_migrations.yaml
  operators/forklift-operator/2.6.3/manifests/forklift.konveyor.io_networkmaps.yaml
  operators/forklift-operator/2.6.3/manifests/forklift.konveyor.io_openstackvolumepopulators.yaml
  operators/forklift-operator/2.6.3/manifests/forklift.konveyor.io_ovirtvolumepopulators.yaml
  operators/forklift-operator/2.6.3/manifests/forklift.konveyor.io_plans.yaml
  operators/forklift-operator/2.6.3/manifests/forklift.konveyor.io_providers.yaml
  operators/forklift-operator/2.6.3/manifests/forklift.konveyor.io_storagemaps.yaml
  operators/forklift-operator/2.6.3/metadata/annotations.yaml
  operators/forklift-operator/2.6.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4649 operator rabbitmq-messaging-topology-operator (1.14.2)
  operators/rabbitmq-messaging-topology-operator/1.14.2/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_operatorpolicies.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4643 operator percona-server-mongodb-operator (1.16.0)
  operators/percona-server-mongodb-operator/1.16.0/manifests/percona-server-mongodb-operator.v1.16.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.16.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.16.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.16.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.16.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4617 operator dell-csm-operator (1.5.1)
  operators/dell-csm-operator/1.5.1/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.5.1/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.5.1/manifests/dell-csm-operator.v1.5.1.clusterserviceversion.yaml
  operators/dell-csm-operator/1.5.1/metadata/annotations.yaml
  operators/dell-csm-operator/1.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#4651 operator keycloak-operator (25.0.0)
  operators/keycloak-operator/25.0.0/bundle.Dockerfile
  operators/keycloak-operator/25.0.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/25.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/25.0.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/25.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4650 operator yaks (0.19.2)
  operators/yaks/0.19.2/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.19.2/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.19.2/manifests/yaks.v0.19.2.clusterserviceversion.yaml
  operators/yaks/0.19.2/metadata/annotations.yaml
  operators/yaks/0.19.2/tests/scorecard/config.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4656 operator mongodb-atlas-kubernetes (2.3.1)
  operators/mongodb-atlas-kubernetes/2.3.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4652 operator camel-k (2.3.3)
  operators/camel-k/2.3.3/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.3.3/manifests/camel-k.v2.3.3.clusterserviceversion.yaml
  operators/camel-k/2.3.3/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.3.3/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.3.3/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.3.3/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.3.3/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.3.3/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.3.3/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.3.3/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.3.3/metadata/annotations.yaml
  operators/camel-k/2.3.3/tests/scorecard/config.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4653 operator postgresql (5.6.0)
  operators/postgresql/5.6.0/Dockerfile
  operators/postgresql/5.6.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.6.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.6.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.6.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.6.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.6.0/metadata/annotations.yaml
  operators/postgresql/5.6.0/tests/scorecard/config.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4654 operator hive-operator (1.2.4469-7be6433)
  operators/hive-operator/1.2.4469-7be6433/manifests/hive-operator.v1.2.4469-7be6433.clusterserviceversion.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4469-7be6433/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4469-7be6433/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4664 operator argocd-operator (0.10.1)
  operators/argocd-operator/0.10.1/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.10.1/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.10.1/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.10.1/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.10.1/manifests/argocd-operator.v0.10.1.clusterserviceversion.yaml
  operators/argocd-operator/0.10.1/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.10.1/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.10.1/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.10.1/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.10.1/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.10.1/manifests/argoproj.io_notificationsconfigurations.yaml
  operators/argocd-operator/0.10.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4662 operator stackgres-community (1.11.0)
  operators/stackgres-community/1.11.0/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.11.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.11.0/metadata/annotations.yaml
  operators/stackgres-community/1.11.0/tests/scorecard/config.yaml
  operators/stackgres-community/ci.yaml
Labels: operator-hosted-pipeline/started

#4665 operator skupper-operator (1.7.1)
  operators/skupper-operator/1.7.1/manifests/skupper-operator.v1.7.1.clusterserviceversion.yaml
  operators/skupper-operator/1.7.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4660 operator hyperfoil-bundle (0.26.0)
  operators/hyperfoil-bundle/0.26.0/manifests/hyperfoil-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hyperfoil-bundle/0.26.0/manifests/hyperfoil-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hyperfoil-bundle/0.26.0/manifests/hyperfoil-operator.clusterserviceversion.yaml
  operators/hyperfoil-bundle/0.26.0/manifests/hyperfoil.io_hyperfoils.yaml
  operators/hyperfoil-bundle/0.26.0/metadata/annotations.yaml
  operators/hyperfoil-bundle/0.26.0/tests/scorecard/config.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4625 operator project-quay (3.10.6)
  operators/project-quay/3.10.6/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.6/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.6/metadata/annotations.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4674 operator kiali (1.86.0)
  operators/kiali/1.86.0/bundle.Dockerfile
  operators/kiali/1.86.0/manifests/kiali.crd.yaml
  operators/kiali/1.86.0/manifests/kiali.v1.86.0.clusterserviceversion.yaml
  operators/kiali/1.86.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.86.0/metadata/annotations.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#4599 operator vault-config-operator (0.8.28)
  operators/vault-config-operator/0.8.28/Dockerfile
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_azureauthengineconfigs.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_azureauthengineroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.28/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.28/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.28/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.28/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.28/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.28/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.28/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.28/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.28/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.28/metadata/annotations.yaml
  operators/vault-config-operator/0.8.28/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4675 operator dynatrace-operator (1.1.1)
  operators/dynatrace-operator/1.1.1/Dockerfile
  operators/dynatrace-operator/1.1.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.1.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.1.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.1.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.1.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.1.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4676 operator hive-operator (1.2.4485-47df0d9)
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive-operator.v1.2.4485-47df0d9.clusterserviceversion.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4485-47df0d9/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4485-47df0d9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4678 operator ncn-operator (0.0.1)
  operators/ncn-operator/0.0.1/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.0.1/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.0.1/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.0.1/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.0.1/metadata/annotations.yaml
  operators/ncn-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4681 operator node-discovery-operator (0.0.1)
  operators/node-discovery-operator/0.0.1/manifests/cache.wunicorns.com_nodediscoveries.yaml
  operators/node-discovery-operator/0.0.1/manifests/node-discovery-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-discovery-operator/0.0.1/manifests/node-discovery-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-discovery-operator/0.0.1/manifests/node-discovery-operator.clusterserviceversion.yaml
  operators/node-discovery-operator/0.0.1/metadata/annotations.yaml
  operators/node-discovery-operator/0.0.1/tests/scorecard/config.yaml
  operators/node-discovery-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4680 operator ncn-operator (0.1.0)
  operators/ncn-operator/0.1.0/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.1.0/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.1.0/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.1.0/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4683 operator ncn-operator (0.2.0)
  operators/ncn-operator/0.2.0/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.2.0/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.2.0/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.2.0/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4685 operator patterns-operator (0.0.51)
  operators/patterns-operator/0.0.51/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.51/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.51/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.51/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.51/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.51/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.51/metadata/annotations.yaml
  operators/patterns-operator/0.0.51/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4686 operator ncn-operator (0.1.1)
  operators/ncn-operator/0.1.1/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.1.1/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.1.1/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.1.1/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4687 operator ncn-operator (0.2.1)
  operators/ncn-operator/0.2.1/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.2.1/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.2.1/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.2.1/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4689 operator ncn-operator (0.2.2)
  operators/ncn-operator/0.2.2/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.2.2/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.2.2/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.2.2/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.2.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4694 operator keycloak-operator (25.0.1)
  operators/keycloak-operator/25.0.1/bundle.Dockerfile
  operators/keycloak-operator/25.0.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/25.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/25.0.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/25.0.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4696 operator awx-operator (2.19.0)
  operators/awx-operator/2.19.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.19.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.19.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.19.0/manifests/awx-operator.v2.19.0.clusterserviceversion.yaml
  operators/awx-operator/2.19.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.19.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.19.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.19.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.19.0/metadata/annotations.yaml
  operators/awx-operator/2.19.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4697 operator koku-metrics-operator (3.3.0)
  operators/koku-metrics-operator/3.3.0/Dockerfile
  operators/koku-metrics-operator/3.3.0/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/3.3.0/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/3.3.0/metadata/annotations.yaml
  operators/koku-metrics-operator/3.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4698 operator codeflare-operator (1.4.4)
  operators/codeflare-operator/1.4.4/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.4.4/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.4.4/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.4.4/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.4.4/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.4.4/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.4.4/metadata/annotations.yaml
  operators/codeflare-operator/1.4.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4699 operator bpfman-operator (0.4.2)
  operators/bpfman-operator/0.4.2/bundle.Dockerfile
  operators/bpfman-operator/0.4.2/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.4.2/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.4.2/metadata/annotations.yaml
  operators/bpfman-operator/0.4.2/metadata/dependencies.yaml
  operators/bpfman-operator/0.4.2/tests/scorecard/config.yaml
  operators/bpfman-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4708 operator dynatrace-operator (1.2.0)
  operators/dynatrace-operator/1.2.0/Dockerfile
  operators/dynatrace-operator/1.2.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.2.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.2.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.2.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.2.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.2.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4706 operator datadog-operator (1.7.0)
  operators/datadog-operator/1.7.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.7.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.7.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.7.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.7.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.7.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.7.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.7.0/metadata/annotations.yaml
  operators/datadog-operator/1.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4718 operator aerospike-kubernetes-operator (3.3.1)
  operators/aerospike-kubernetes-operator/3.3.1/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/3.3.1/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.3.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.3.1/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.3.1/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.3.1/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.3.1/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.3.1/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.3.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4719 operator patterns-operator (0.0.52)
  operators/patterns-operator/0.0.52/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.52/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.52/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.52/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.52/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.52/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.52/metadata/annotations.yaml
  operators/patterns-operator/0.0.52/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4723 operator codeflare-operator (1.5.0)
  operators/codeflare-operator/1.5.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.5.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.5.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.5.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.5.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.5.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.5.0/metadata/annotations.yaml
  operators/codeflare-operator/1.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4724 operator opendatahub-operator (2.14.0)
  operators/opendatahub-operator/2.14.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.14.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.14.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.14.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.14.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.14.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.14.0/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.14.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.14.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.14.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.14.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.14.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
