Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-10, with the labels that each got.

#5268 operator flux-operator (0.10.0)
  operators/flux-operator/0.10.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.10.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.10.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.10.0/metadata/annotations.yaml
  operators/flux-operator/0.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5271 operator project-quay (3.11.6)
  operators/project-quay/3.11.6/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.6/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5273 operator neuvector-community-operator (1.4.7)
  operators/neuvector-community-operator/1.4.7/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.4.7/manifests/neuvector-operator.v1.4.7.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.4.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5255 operator korrel8r (0.1.8)
  operators/korrel8r/0.1.8/manifests/korrel8r-controller-manager-metrics-service_v1_service.yaml
  operators/korrel8r/0.1.8/manifests/korrel8r-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.8/manifests/korrel8r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.8/manifests/korrel8r-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.8/manifests/korrel8r.clusterserviceversion.yaml
  operators/korrel8r/0.1.8/manifests/korrel8r.openshift.io_korrel8rs.yaml
  operators/korrel8r/0.1.8/metadata/annotations.yaml
  operators/korrel8r/0.1.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5276 operator cert-manager (1.16.0-beta.0)
  operators/cert-manager/1.16.0-beta.0/bundle.Dockerfile
  operators/cert-manager/1.16.0-beta.0/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager-cainjector_v1_service.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.16.0-beta.0/metadata/annotations.yaml
  operators/cert-manager/1.16.0-beta.0/tests/scorecard/config.yaml
Labels: do-not-merge/hold, operator-hosted-pipeline/started

#5190 operator jaeger (1.61.0)
  operators/jaeger/1.61.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.61.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.61.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.61.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.61.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.61.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.61.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.61.0/metadata/annotations.yaml
  operators/jaeger/1.61.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5278 operator limitador-operator (0.11.0)
  operators/limitador-operator/0.11.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.11.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.11.0/manifests/limitador-operator-metrics_v1_service.yaml
  operators/limitador-operator/0.11.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.11.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.11.0/metadata/annotations.yaml
  operators/limitador-operator/0.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5279 operator authorino-operator (0.13.0)
  operators/authorino-operator/0.13.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.13.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.13.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.13.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.13.0/metadata/annotations.yaml
  operators/authorino-operator/0.13.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5281 operator kuadrant-operator (0.11.0)
  operators/kuadrant-operator/0.11.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant-operator-metrics_v1_service.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant.io_dnspolicies.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant.io_tlspolicies.yaml
  operators/kuadrant-operator/0.11.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.11.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5282 operator project-quay (3.12.3)
  operators/project-quay/3.12.3/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.3/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5283 operator neuvector-community-operator (1.4.8)
  operators/neuvector-community-operator/1.4.8/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.4.8/manifests/neuvector-operator.v1.4.8.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.4.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5285 operator keycloak-operator (26.0.0)
  operators/keycloak-operator/26.0.0/bundle.Dockerfile
  operators/keycloak-operator/26.0.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5291 operator automotive-infra (0.0.4)
  operators/automotive-infra/0.0.4/manifests/automotive-infra-controller-manager-metrics-service_v1_service.yaml
  operators/automotive-infra/0.0.4/manifests/automotive-infra-manager-config_v1_configmap.yaml
  operators/automotive-infra/0.0.4/manifests/automotive-infra-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.4/manifests/automotive-infra-operatorconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.4/manifests/automotive-infra-operatorconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.4/manifests/automotive-infra.clusterserviceversion.yaml
  operators/automotive-infra/0.0.4/manifests/automotive.sig.centos.org_containerbuilds.yaml
  operators/automotive-infra/0.0.4/manifests/automotive.sig.centos.org_imagebuilds.yaml
  operators/automotive-infra/0.0.4/manifests/automotive.sig.centos.org_operatorconfigs.yaml
  operators/automotive-infra/0.0.4/metadata/annotations.yaml
  operators/automotive-infra/0.0.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5293 operator mariadb-operator (0.34.0)
  operators/mariadb-operator/0.34.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.34.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.34.0/metadata/annotations.yaml
  operators/mariadb-operator/0.34.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5295 operator datadog-operator (1.9.0)
  operators/datadog-operator/1.9.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.9.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogdashboards.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.9.0/metadata/annotations.yaml
  operators/datadog-operator/1.9.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5296 operator hive-operator (1.2.4638-56d6d64)
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive-operator.v1.2.4638-56d6d64.clusterserviceversion.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4638-56d6d64/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5301 operator automotive-infra (0.0.5)
  operators/automotive-infra/0.0.5/manifests/automotive-infra-controller-manager-metrics-service_v1_service.yaml
  operators/automotive-infra/0.0.5/manifests/automotive-infra-manager-config_v1_configmap.yaml
  operators/automotive-infra/0.0.5/manifests/automotive-infra-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.5/manifests/automotive-infra-operatorconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.5/manifests/automotive-infra-operatorconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.5/manifests/automotive-infra.clusterserviceversion.yaml
  operators/automotive-infra/0.0.5/manifests/automotive.sig.centos.org_containerbuilds.yaml
  operators/automotive-infra/0.0.5/manifests/automotive.sig.centos.org_imagebuilds.yaml
  operators/automotive-infra/0.0.5/manifests/automotive.sig.centos.org_operatorconfigs.yaml
  operators/automotive-infra/0.0.5/metadata/annotations.yaml
  operators/automotive-infra/0.0.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5303 operator automotive-infra (0.0.6)
  operators/automotive-infra/0.0.6/manifests/automotive-infra-controller-manager-metrics-service_v1_service.yaml
  operators/automotive-infra/0.0.6/manifests/automotive-infra-manager-config_v1_configmap.yaml
  operators/automotive-infra/0.0.6/manifests/automotive-infra-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.6/manifests/automotive-infra-operatorconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.6/manifests/automotive-infra-operatorconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.6/manifests/automotive-infra.clusterserviceversion.yaml
  operators/automotive-infra/0.0.6/manifests/automotive.sig.centos.org_containerbuilds.yaml
  operators/automotive-infra/0.0.6/manifests/automotive.sig.centos.org_imagebuilds.yaml
  operators/automotive-infra/0.0.6/manifests/automotive.sig.centos.org_operatorconfigs.yaml
  operators/automotive-infra/0.0.6/metadata/annotations.yaml
  operators/automotive-infra/0.0.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5307 operator jaeger (1.62.0)
  operators/jaeger/1.62.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.62.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.62.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.62.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.62.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.62.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.62.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.62.0/metadata/annotations.yaml
  operators/jaeger/1.62.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5308 operator verticadb-operator (24.4.0-0)
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_verticareplicators.yaml
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/24.4.0-0/metadata/annotations.yaml
  operators/verticadb-operator/24.4.0-0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5310 operator gitlab-operator-kubernetes (1.4.2)
  operators/gitlab-operator-kubernetes/1.4.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.4.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5311 operator infinispan (2.4.5)
  operators/infinispan/2.4.5/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.5/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.5/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.5/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.5/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.5/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.5/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.5/metadata/annotations.yaml
  operators/infinispan/2.4.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5321 operator kepler-operator (0.14.0)
  operators/kepler-operator/0.14.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.14.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.14.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.14.0/manifests/kepler-operator-webhook-service_v1_service.yaml
  operators/kepler-operator/0.14.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.14.0/manifests/kepler.system.sustainable.computing.io_keplerinternals.yaml
  operators/kepler-operator/0.14.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.14.0/metadata/annotations.yaml
  operators/kepler-operator/0.14.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5320 operator portworx-essentials (24.1.2)
  operators/portworx-essentials/24.1.2/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/24.1.2/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/24.1.2/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/24.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5288 Catalog update [v4.13,v4.17,v4.14,v4.15,v4.16,v4.18]
  catalogs/v4.13/shipwright-operator/catalog.yaml
  catalogs/v4.14/shipwright-operator/catalog.yaml
  catalogs/v4.15/shipwright-operator/catalog.yaml
  catalogs/v4.16/shipwright-operator/catalog.yaml
  catalogs/v4.17/shipwright-operator/catalog.yaml
  catalogs/v4.18/shipwright-operator/catalog.yaml
  operators/shipwright-operator/Makefile
  operators/shipwright-operator/catalog-templates/v4.13.yaml
  operators/shipwright-operator/catalog-templates/v4.14.yaml
  operators/shipwright-operator/catalog-templates/v4.15.yaml
  operators/shipwright-operator/catalog-templates/v4.16.yaml
  operators/shipwright-operator/catalog-templates/v4.17.yaml
  operators/shipwright-operator/catalog-templates/v4.18.yaml
  operators/shipwright-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#5369 operator grafana-operator (5.14.0)
  operators/grafana-operator/5.14.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.14.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.14.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.14.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5370 operator dynatrace-operator (1.3.1)
  operators/dynatrace-operator/1.3.1/Dockerfile
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.3.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5371 operator debezium-operator (2.7.3-final)
  operators/debezium-operator/2.7.3-final/bundle.Dockerfile
  operators/debezium-operator/2.7.3-final/manifests/debezium-operator.v2.7.3-final.clusterserviceversion.yaml
  operators/debezium-operator/2.7.3-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.7.3-final/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5373 operator hive-operator (1.2.4644-365f074)
  operators/hive-operator/1.2.4644-365f074/manifests/hive-operator.v1.2.4644-365f074.clusterserviceversion.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4644-365f074/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5372 operator debezium-operator (3.0.0-final)
  operators/debezium-operator/3.0.0-final/bundle.Dockerfile
  operators/debezium-operator/3.0.0-final/manifests/debezium-operator.v3.0.0-final.clusterserviceversion.yaml
  operators/debezium-operator/3.0.0-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/3.0.0-final/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/failed

#5374 operator bpfman-operator (0.5.2)
  operators/bpfman-operator/0.5.2/bundle.Dockerfile
  operators/bpfman-operator/0.5.2/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.2/metadata/annotations.yaml
  operators/bpfman-operator/0.5.2/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5306 operator opendatahub-operator (2.19.0)
  operators/opendatahub-operator/2.19.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.19.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.19.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.19.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.19.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.19.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.19.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.19.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.19.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.19.0/tests/scorecard/config.yaml
Labels: lgtm, operator-hosted-pipeline/passed

#5290 operator dell-csm-operator (1.6.1)
  operators/dell-csm-operator/1.6.1/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.6.1/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.6.1/manifests/dell-csm-operator.v1.6.1.clusterserviceversion.yaml
  operators/dell-csm-operator/1.6.1/metadata/annotations.yaml
  operators/dell-csm-operator/1.6.1/tests/scorecard/config.yaml
Labels: authorized-changes, operator-hosted-pipeline/passed

#5300 operator wandb-operator (1.0.0)
  operators/wandb-operator/1.0.0/bundle.Dockerfile
  operators/wandb-operator/1.0.0/manifests/apps.wandb.com_weightsandbiases.yaml
  operators/wandb-operator/1.0.0/manifests/wandb-operator-manager_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/wandb-operator/1.0.0/manifests/wandb-operator-manager_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/wandb-operator/1.0.0/manifests/wandb-operator.clusterserviceversion.yaml
  operators/wandb-operator/1.0.0/metadata/annotations.yaml
  operators/wandb-operator/1.0.0/tests/scorecard/config.yaml
  operators/wandb-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#5383 operator patterns-operator (0.0.57)
  operators/patterns-operator/0.0.57/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.57/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.57/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.57/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.57/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.57/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.57/metadata/annotations.yaml
  operators/patterns-operator/0.0.57/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5388 operator keycloak-operator (26.0.1)
  operators/keycloak-operator/26.0.1/bundle.Dockerfile
  operators/keycloak-operator/26.0.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5390 operator postgresql (5.7.0)
  operators/postgresql/5.7.0/Dockerfile
  operators/postgresql/5.7.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.7.0/metadata/annotations.yaml
  operators/postgresql/5.7.0/tests/scorecard/config.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#5392 operator gitlab-runner-operator (1.30.0)
  operators/gitlab-runner-operator/1.30.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.30.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5391 operator bpfman-operator (0.5.4)
  operators/bpfman-operator/0.5.4/bundle.Dockerfile
  operators/bpfman-operator/0.5.4/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.4/metadata/annotations.yaml
  operators/bpfman-operator/0.5.4/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.4/tests/scorecard/config.yaml
Labels: ok-to-test, operator-hosted-pipeline/passed

#5394 operator move2kube-operator (0.3.15-rc.0)
  operators/move2kube-operator/0.3.15-rc.0/bundle.Dockerfile
  operators/move2kube-operator/0.3.15-rc.0/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.15-rc.0/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.15-rc.0/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.15-rc.0/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.15-rc.0/metadata/annotations.yaml
  operators/move2kube-operator/0.3.15-rc.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5395 operator gitlab-runner-operator (1.30.1)
  operators/gitlab-runner-operator/1.30.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.30.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5396 operator neuvector-community-operator (1.4.9)
  operators/neuvector-community-operator/1.4.9/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.4.9/manifests/neuvector-operator.v1.4.9.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.4.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5389 operator codeflare-operator (1.10.0)
  operators/codeflare-operator/1.10.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.10.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.10.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.10.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.10.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.10.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.10.0/metadata/annotations.yaml
  operators/codeflare-operator/1.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#5400 operator hive-operator (1.2.4650-531d549)
  operators/hive-operator/1.2.4650-531d549/manifests/hive-operator.v1.2.4650-531d549.clusterserviceversion.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4650-531d549/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5403 operator kiali (2.0.0)
  operators/kiali/2.0.0/bundle.Dockerfile
  operators/kiali/2.0.0/manifests/kiali.crd.yaml
  operators/kiali/2.0.0/manifests/kiali.v2.0.0.clusterserviceversion.yaml
  operators/kiali/2.0.0/manifests/ossmconsole.crd.yaml
  operators/kiali/2.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5407 operator gitlab-operator-kubernetes (1.5.1)
  operators/gitlab-operator-kubernetes/1.5.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.5.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5408 operator patterns-operator (0.0.58)
  operators/patterns-operator/0.0.58/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.58/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.58/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.58/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.58/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.58/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.58/metadata/annotations.yaml
  operators/patterns-operator/0.0.58/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5410 operator keycloak-operator (26.0.2)
  operators/keycloak-operator/26.0.2/bundle.Dockerfile
  operators/keycloak-operator/26.0.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5411 operator multicluster-global-hub-operator (1.3.0)
  operators/multicluster-global-hub-operator/1.3.0/manifests/global-hub.open-cluster-management.io_managedclustermigrations.yaml
  operators/multicluster-global-hub-operator/1.3.0/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.3.0/manifests/multicluster-global-hub-webhook_v1_service.yaml
  operators/multicluster-global-hub-operator/1.3.0/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5412 operator mariadb-operator (0.35.0)
  operators/mariadb-operator/0.35.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.35.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.35.0/metadata/annotations.yaml
  operators/mariadb-operator/0.35.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5418 operator stackgres-community (1.14.0-rc1)
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.14.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.14.0-rc1/metadata/annotations.yaml
  operators/stackgres-community/1.14.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5420 operator mariadb-operator (0.35.1)
  operators/mariadb-operator/0.35.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.35.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.35.1/metadata/annotations.yaml
  operators/mariadb-operator/0.35.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5426 operator kepler-operator (0.15.0)
  operators/kepler-operator/0.15.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.15.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.15.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.15.0/manifests/kepler-operator-webhook-service_v1_service.yaml
  operators/kepler-operator/0.15.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.15.0/manifests/kepler.system.sustainable.computing.io_keplerinternals.yaml
  operators/kepler-operator/0.15.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.15.0/metadata/annotations.yaml
  operators/kepler-operator/0.15.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5428 operator hive-operator (1.2.4654-3268a18)
  operators/hive-operator/1.2.4654-3268a18/manifests/hive-operator.v1.2.4654-3268a18.clusterserviceversion.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4654-3268a18/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5430 operator mongodb-atlas-kubernetes (2.5.0)
  operators/mongodb-atlas-kubernetes/2.5.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5431 operator patterns-operator (0.0.59)
  operators/patterns-operator/0.0.59/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.59/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.59/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.59/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.59/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.59/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.59/metadata/annotations.yaml
  operators/patterns-operator/0.0.59/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5232 operator apicast-community-operator (0.8.0)
  operators/apicast-community-operator/0.8.0/bundle.Dockerfile
  operators/apicast-community-operator/0.8.0/manifests/apicast-operator-controller-manager-metrics-service_v1_service.yaml
  operators/apicast-community-operator/0.8.0/manifests/apicast-operator.clusterserviceversion.yaml
  operators/apicast-community-operator/0.8.0/manifests/apps.3scale.net_apicasts.yaml
  operators/apicast-community-operator/0.8.0/metadata/annotations.yaml
  operators/apicast-community-operator/0.8.0/tests/scorecard/config.yaml
  operators/apicast-community-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5433 operator portworx-essentials (24.1.3)
  operators/portworx-essentials/24.1.3/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/24.1.3/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/24.1.3/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/24.1.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5435 operator keycloak-operator (26.0.4)
  operators/keycloak-operator/26.0.4/bundle.Dockerfile
  operators/keycloak-operator/26.0.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5439 operator stackgres-community (1.14.0-rc2)
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.14.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.14.0-rc2/metadata/annotations.yaml
  operators/stackgres-community/1.14.0-rc2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5385 removing portworx_24_1_2 to fix missing annotation
  operators/portworx-essentials/24.1.2/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/24.1.2/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/24.1.2/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/24.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#5440 operator portworx-essentials (24.1.2)
  operators/portworx-essentials/24.1.2/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/24.1.2/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/24.1.2/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/24.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5441 operator opendatahub-operator (2.20.0)
  operators/opendatahub-operator/2.20.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.20.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.20.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.20.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.20.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.20.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.20.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.20.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.20.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.20.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
