Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-08, with the labels that each got.

#4900 operator sap-data-intelligence-observer-operator (1.0.8)
  operators/sap-data-intelligence-observer-operator/1.0.8/manifests/observer-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-data-intelligence-observer-operator/1.0.8/manifests/observer-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-data-intelligence-observer-operator/1.0.8/manifests/observer-operator.clusterserviceversion.yaml
  operators/sap-data-intelligence-observer-operator/1.0.8/manifests/sdi.sap-redhat.io_sdiobservers.yaml
  operators/sap-data-intelligence-observer-operator/1.0.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4899 operator microcks (1.10.0)
  operators/microcks/1.10.0/manifests/microcks-operator.v1.10.0.clusterserviceversion.yaml
  operators/microcks/1.10.0/manifests/microcksinstall.crd.yaml
  operators/microcks/1.10.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4904 operator hazelcast-platform-operator (5.13.1)
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.13.1/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.13.1/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.13.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4905 operator trustify-operator (0.1.0-alpha.5)
  operators/trustify-operator/0.1.0-alpha.5/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.5/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4908 operator external-secrets-operator (0.10.0)
  operators/external-secrets-operator/0.10.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4909 operator hive-operator (1.2.4552-bf2d689)
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive-operator.v1.2.4552-bf2d689.clusterserviceversion.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4552-bf2d689/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4953 operator camel-k (2.4.0)
  operators/camel-k/2.4.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/camel-k.v2.4.0.clusterserviceversion.yaml
  operators/camel-k/2.4.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/metadata/annotations.yaml
  operators/camel-k/2.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4955 operator jaeger (1.59.0)
  operators/jaeger/1.59.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.59.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.59.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.59.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.59.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.59.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.59.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.59.0/metadata/annotations.yaml
  operators/jaeger/1.59.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4954 operator layer7-operator (1.0.7)
  operators/layer7-operator/1.0.7/manifests/layer7-operator-controller-manager-metrics-service_v1_service.yaml
  operators/layer7-operator/1.0.7/manifests/layer7-operator-manager-config_v1_configmap.yaml
  operators/layer7-operator/1.0.7/manifests/layer7-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/layer7-operator/1.0.7/manifests/layer7-operator-webhook-service_v1_service.yaml
  operators/layer7-operator/1.0.7/manifests/layer7-operator.clusterserviceversion.yaml
  operators/layer7-operator/1.0.7/manifests/security.brcmlabs.com_gateways.yaml
  operators/layer7-operator/1.0.7/manifests/security.brcmlabs.com_l7apis.yaml
  operators/layer7-operator/1.0.7/manifests/security.brcmlabs.com_l7portals.yaml
  operators/layer7-operator/1.0.7/manifests/security.brcmlabs.com_repositories.yaml
  operators/layer7-operator/1.0.7/metadata/annotations.yaml
  operators/layer7-operator/1.0.7/tests/scorecard/config.yaml
  operators/layer7-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4960 operator grafana-operator (5.12.0)
  operators/grafana-operator/5.12.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.12.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.12.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.12.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4933 operator [CI] gitlab-operator-kubernetes
  operators/gitlab-operator-kubernetes/ci.yaml
Labels: operator-hosted-pipeline/failed

#4967 operator dynatrace-operator (1.2.2)
  operators/dynatrace-operator/1.2.2/Dockerfile
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.2.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4963 operator bpfman-operator (0.5.0)
  operators/bpfman-operator/0.5.0/bundle.Dockerfile
  operators/bpfman-operator/0.5.0/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.0/metadata/annotations.yaml
  operators/bpfman-operator/0.5.0/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.0/tests/scorecard/config.yaml
  operators/bpfman-operator/ci.yaml
Labels: lgtm, ok-to-test, operator-hosted-pipeline/started

#4970 operator jaeger (1.60.0)
  operators/jaeger/1.60.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.60.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.60.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.60.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.60.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.60.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.60.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.60.0/metadata/annotations.yaml
  operators/jaeger/1.60.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4972 operator patterns-operator (0.0.53)
  operators/patterns-operator/0.0.53/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.53/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.53/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.53/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.53/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.53/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.53/metadata/annotations.yaml
  operators/patterns-operator/0.0.53/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4973 operator koku-metrics-operator (3.3.1)
  operators/koku-metrics-operator/3.3.1/Dockerfile
  operators/koku-metrics-operator/3.3.1/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/3.3.1/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/3.3.1/metadata/annotations.yaml
  operators/koku-metrics-operator/3.3.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4977 operator opendatahub-operator (2.16.0)
  operators/opendatahub-operator/2.16.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.16.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.16.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.16.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.16.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.16.0/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.16.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.16.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.16.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.16.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.16.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4982 add ack-wafv2-controller ci file
  operators/ack-wafv2-controller/ci.yaml
Labels: operator-hosted-pipeline/failed

#4984 add ack-ses-controller ci file
  operators/ack-ses-controller/ci.yaml
Labels: operator-hosted-pipeline/started

#4986 add ack-apigateway-controller ci file
  operators/ack-apigateway-controller/ci.yaml
Labels: operator-hosted-pipeline/started

#4985 operator verticadb-operator (2.2.0)
  operators/verticadb-operator/2.2.0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.2.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.2.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.2.0/manifests/vertica.com_verticareplicators.yaml
  operators/verticadb-operator/2.2.0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/2.2.0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.2.0/metadata/annotations.yaml
  operators/verticadb-operator/2.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4989 add ack-athena-controller ci file
  operators/ack-athena-controller/ci.yaml
Labels: operator-hosted-pipeline/started

#4990 add ack-cognitoidentity-controller ci file
  operators/ack-cognitoidentity-controller/ci.yaml
Labels: operator-hosted-pipeline/started

#4991 add ack-ebs-controller ci file
  operators/ack-ebs-controller/ci.yaml
Labels: operator-hosted-pipeline/started

#4992 add ack-recyclebin-controller ci file
  operators/ack-recyclebin-controller/ci.yaml
Labels: operator-hosted-pipeline/started

#4966 operator gitlab-operator-kubernetes (1.2.2)
  operators/gitlab-operator-kubernetes/1.2.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.2.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#5002 operator codeflare-operator (1.7.0)
  operators/codeflare-operator/1.7.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.7.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.7.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.7.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.7.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.7.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.7.0/metadata/annotations.yaml
  operators/codeflare-operator/1.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4999 operator gitlab-operator-kubernetes (1.3.0)
  operators/gitlab-operator-kubernetes/1.3.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4971 operator dell-csm-operator (1.6.0)
  operators/dell-csm-operator/1.6.0/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.6.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.6.0/manifests/dell-csm-operator.v1.6.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.6.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#5003 operator flux-operator (0.8.0)
  operators/flux-operator/0.8.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.8.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.8.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.8.0/metadata/annotations.yaml
  operators/flux-operator/0.8.0/tests/scorecard/config.yaml
  operators/flux-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5004 operator keycloak-operator (25.0.4)
  operators/keycloak-operator/25.0.4/bundle.Dockerfile
  operators/keycloak-operator/25.0.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/25.0.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/25.0.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/25.0.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5005 operator hive-operator (1.2.4568-b3eca52)
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive-operator.v1.2.4568-b3eca52.clusterserviceversion.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4568-b3eca52/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5010 operator sailoperator (0.1.0-rc.1)
  operators/sailoperator/0.1.0-rc.1/README.md
  operators/sailoperator/0.1.0-rc.1/manifests/extensions.istio.io_wasmplugins.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/networking.istio.io_destinationrules.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/networking.istio.io_envoyfilters.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/networking.istio.io_gateways.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/networking.istio.io_proxyconfigs.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/networking.istio.io_serviceentries.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/networking.istio.io_sidecars.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/networking.istio.io_virtualservices.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/networking.istio.io_workloadentries.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/networking.istio.io_workloadgroups.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/sail-operator-metrics-service_v1_service.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/sailoperator.clusterserviceversion.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/sailoperator.io_istiocnis.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/sailoperator.io_istiorevisions.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/sailoperator.io_istios.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/sailoperator.io_remoteistios.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/security.istio.io_authorizationpolicies.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/security.istio.io_peerauthentications.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/security.istio.io_requestauthentications.yaml
  operators/sailoperator/0.1.0-rc.1/manifests/telemetry.istio.io_telemetries.yaml
  operators/sailoperator/0.1.0-rc.1/metadata/annotations.yaml
  operators/sailoperator/0.1.0-rc.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5008 operator bpfman-operator (0.5.1)
  operators/bpfman-operator/0.5.1/bundle.Dockerfile
  operators/bpfman-operator/0.5.1/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.1/metadata/annotations.yaml
  operators/bpfman-operator/0.5.1/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5009 operator gitlab-runner-operator (1.28.0)
  operators/gitlab-runner-operator/1.28.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.28.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.28.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.28.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.28.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.28.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.28.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5011 operator datadog-operator (1.8.0)
  operators/datadog-operator/1.8.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.8.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.8.0/metadata/annotations.yaml
  operators/datadog-operator/1.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5013 operator gitlab-runner-operator (1.28.1)
  operators/gitlab-runner-operator/1.28.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.28.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.28.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.28.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.28.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.28.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.28.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5014 operator gitlab-operator-kubernetes (1.3.1)
  operators/gitlab-operator-kubernetes/1.3.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.3.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5016 operator project-quay (3.11.4)
  operators/project-quay/3.11.4/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.4/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5017 operator project-quay (3.12.1)
  operators/project-quay/3.12.1/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.1/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5020 operator patterns-operator (0.0.55)
  operators/patterns-operator/0.0.55/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.55/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.55/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.55/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.55/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.55/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.55/metadata/annotations.yaml
  operators/patterns-operator/0.0.55/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5026 operator trustify-operator (0.1.0-alpha.6)
  operators/trustify-operator/0.1.0-alpha.6/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.6/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5029 operator move2kube-operator (0.3.14)
  operators/move2kube-operator/0.3.14/bundle.Dockerfile
  operators/move2kube-operator/0.3.14/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.14/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.14/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.14/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.14/metadata/annotations.yaml
  operators/move2kube-operator/0.3.14/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5030 operator trustify-operator (0.1.0-alpha.7)
  operators/trustify-operator/0.1.0-alpha.7/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.7/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5033 operator hive-operator (1.2.4574-1ec27ad)
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive-operator.v1.2.4574-1ec27ad.clusterserviceversion.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4574-1ec27ad/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5022 operator percona-xtradb-cluster-operator (1.15.0)
  operators/percona-xtradb-cluster-operator/1.15.0/manifests/percona-xtradb-cluster-operator.v1.15.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.15.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5023 operator strimzi-kafka-operator (0.43.0)
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimzi-cluster-operator.v0.43.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5037 operator stackgres-community (1.13.0-rc1)
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.13.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.13.0-rc1/metadata/annotations.yaml
  operators/stackgres-community/1.13.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5043 operator postgresql (5.6.1)
  operators/postgresql/5.6.1/Dockerfile
  operators/postgresql/5.6.1/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.6.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.6.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.6.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.6.1/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.6.1/metadata/annotations.yaml
  operators/postgresql/5.6.1/tests/scorecard/config.yaml
  operators/postgresql/ci.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#5045 operator external-secrets-operator (0.10.1)
  operators/external-secrets-operator/0.10.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5049 operator mariadb-operator (0.30.0)
  operators/mariadb-operator/0.30.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.30.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.30.0/metadata/annotations.yaml
  operators/mariadb-operator/0.30.0/tests/scorecard/config.yaml
  operators/mariadb-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5051 operator opendatahub-operator (2.17.0)
  operators/opendatahub-operator/2.17.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.17.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.17.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.17.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.17.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.17.0/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.17.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.17.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.17.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.17.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.17.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5052 operator trustify-operator (0.1.0-alpha.8)
  operators/trustify-operator/0.1.0-alpha.8/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.8/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5050 operator skupper-operator (1.8.0)
  operators/skupper-operator/1.8.0/manifests/skupper-operator.v1.8.0.clusterserviceversion.yaml
  operators/skupper-operator/1.8.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5056 modify registry-operator ci file
  operators/registry-operator/ci.yaml
Labels: operator-hosted-pipeline/started
