Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-04, with the labels that each got.

#4307 operator argocd-operator (0.9.0)
  operators/argocd-operator/0.9.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.9.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.9.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.9.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.9.0/manifests/argocd-operator.v0.9.0.clusterserviceversion.yaml
  operators/argocd-operator/0.9.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.9.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.9.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.9.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.9.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.9.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/started

#4309 operator hive-operator (1.2.4420-fe0e302)
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive-operator.v1.2.4420-fe0e302.clusterserviceversion.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4420-fe0e302/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4261 operator opendatahub-operator (2.10.0)
  operators/opendatahub-operator/2.10.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.10.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.10.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.10.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.10.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.10.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.10.0/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.10.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.10.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.10.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.10.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.10.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed, tests/skip/check_dangling_bundles

#4283 operator jaeger (1.55.0)
  operators/jaeger/1.55.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.55.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.55.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.55.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.55.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.55.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.55.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.55.0/metadata/annotations.yaml
  operators/jaeger/1.55.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4304 operator external-secrets-operator (0.9.14)
  operators/external-secrets-operator/0.9.14/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.14/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.14/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.14/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4316 operator koku-metrics-operator (3.2.1)
  operators/koku-metrics-operator/3.2.1/Dockerfile
  operators/koku-metrics-operator/3.2.1/manifests/koku-metrics-cfg.openshift.io_kokumetricsconfigs.yaml
  operators/koku-metrics-operator/3.2.1/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/3.2.1/metadata/annotations.yaml
  operators/koku-metrics-operator/3.2.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4318 operator dapr-kubernetes-operator (0.0.6)
  operators/dapr-kubernetes-operator/0.0.6/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.6/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.6/manifests/operator.dapr.io_daprcruiscontrols.yaml
  operators/dapr-kubernetes-operator/0.0.6/manifests/operator.dapr.io_daprinstances.yaml
  operators/dapr-kubernetes-operator/0.0.6/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.6/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4319 operator rabbitmq-cluster-operator (2.8.0)
  operators/rabbitmq-cluster-operator/2.8.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.8.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.8.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.8.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4323 Replace maistra-bot with openshift-service-mesh-bot
  operators/sailoperator/ci.yaml
Labels: community-hosted-pipeline/passed

#4311 operator kepler-operator (0.11.0)
  operators/kepler-operator/0.11.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.11.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.11.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.11.0/manifests/kepler-operator-webhook-service_v1_service.yaml
  operators/kepler-operator/0.11.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.11.0/manifests/kepler.system.sustainable.computing.io_keplerinternals.yaml
  operators/kepler-operator/0.11.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.11.0/metadata/annotations.yaml
  operators/kepler-operator/0.11.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4325 operator yaks (0.18.0)
  operators/yaks/0.18.0/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.18.0/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.18.0/manifests/yaks.v0.18.0.clusterserviceversion.yaml
  operators/yaks/0.18.0/metadata/annotations.yaml
  operators/yaks/0.18.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4330 operator portworx-essentials (23.10.5)
  operators/portworx-essentials/23.10.5/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/23.10.5/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/23.10.5/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/23.10.5/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4331 operator verticadb-operator (2.1.2)
  operators/verticadb-operator/2.1.2/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.1.2/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.1.2/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.1.2/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/2.1.2/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.1.2/metadata/annotations.yaml
  operators/verticadb-operator/2.1.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4332 operator infinispan (2.3.8)
  operators/infinispan/2.3.8/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.8/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.8/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.8/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.8/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.8/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.8/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.8/metadata/annotations.yaml
  operators/infinispan/2.3.8/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4234 operator infinispan (2.4.0)
  operators/infinispan/2.4.0/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.0/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.0/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.0/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.0/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.0/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.0/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.0/metadata/annotations.yaml
  operators/infinispan/2.4.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4336 operator dapr-kubernetes-operator (0.0.7)
  operators/dapr-kubernetes-operator/0.0.7/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.7/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.7/manifests/operator.dapr.io_daprcruiscontrols.yaml
  operators/dapr-kubernetes-operator/0.0.7/manifests/operator.dapr.io_daprinstances.yaml
  operators/dapr-kubernetes-operator/0.0.7/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.7/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4337 operator hive-operator (1.2.4426-fb27114)
  operators/hive-operator/1.2.4426-fb27114/manifests/hive-operator.v1.2.4426-fb27114.clusterserviceversion.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4426-fb27114/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4361 operator codeflare-operator (1.3.1)
  operators/codeflare-operator/1.3.1/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.3.1/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.3.1/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.3.1/metadata/annotations.yaml
  operators/codeflare-operator/1.3.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4349 operator argocd-operator (0.9.1)
  operators/argocd-operator/0.9.1/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.9.1/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.9.1/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.9.1/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.9.1/manifests/argocd-operator.v0.9.1.clusterserviceversion.yaml
  operators/argocd-operator/0.9.1/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.9.1/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.9.1/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.9.1/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.9.1/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.9.1/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4357 operator gitlab-operator-kubernetes (0.30.2)
  operators/gitlab-operator-kubernetes/0.30.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4353 operator dapr-kubernetes-operator (0.0.8)
  operators/dapr-kubernetes-operator/0.0.8/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.8/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.8/manifests/operator.dapr.io_daprcruiscontrols.yaml
  operators/dapr-kubernetes-operator/0.0.8/manifests/operator.dapr.io_daprinstances.yaml
  operators/dapr-kubernetes-operator/0.0.8/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.8/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4281 operator gitlab-operator-kubernetes (0.30.1)
  operators/gitlab-operator-kubernetes/0.30.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.1/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4335 operator camel-k (2.3.0)
  operators/camel-k/2.3.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/camel-k.v2.3.0.clusterserviceversion.yaml
  operators/camel-k/2.3.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/metadata/annotations.yaml
  operators/camel-k/2.3.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4364 operator kiali (1.82.0)
  operators/kiali/1.82.0/bundle.Dockerfile
  operators/kiali/1.82.0/manifests/kiali.crd.yaml
  operators/kiali/1.82.0/manifests/kiali.v1.82.0.clusterserviceversion.yaml
  operators/kiali/1.82.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.82.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4340 operator jaeger (1.56.0)
  operators/jaeger/1.56.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.56.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.56.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.56.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.56.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.56.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.56.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.56.0/metadata/annotations.yaml
  operators/jaeger/1.56.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4339 operator yaks (0.19.0)
  operators/yaks/0.19.0/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.19.0/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.19.0/manifests/yaks.v0.19.0.clusterserviceversion.yaml
  operators/yaks/0.19.0/metadata/annotations.yaml
  operators/yaks/0.19.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4341 operator awx-operator (2.15.0)
  operators/awx-operator/2.15.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.15.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.15.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.15.0/manifests/awx-operator.v2.15.0.clusterserviceversion.yaml
  operators/awx-operator/2.15.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.15.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.15.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.15.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.15.0/metadata/annotations.yaml
  operators/awx-operator/2.15.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4342 operator multi-nic-cni-operator (1.2.3)
  operators/multi-nic-cni-operator/1.2.3/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.2.3/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.2.3/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.3/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.2.3/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.3/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.3/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.3/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.3/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.3/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.3/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.3/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.3/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4366 operator patterns-operator (0.0.44)
  operators/patterns-operator/0.0.44/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.44/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.44/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.44/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.44/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.44/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.44/metadata/annotations.yaml
  operators/patterns-operator/0.0.44/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4365 operator kiali (1.83.0)
  operators/kiali/1.83.0/bundle.Dockerfile
  operators/kiali/1.83.0/manifests/kiali.crd.yaml
  operators/kiali/1.83.0/manifests/kiali.v1.83.0.clusterserviceversion.yaml
  operators/kiali/1.83.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.83.0/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4367 operator hazelcast-platform-operator (5.11.0)
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.11.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.11.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4345 operator klusterlet (0.13.1)
  operators/klusterlet/0.13.1/manifests/klusterlet.clusterserviceversion.yaml
  operators/klusterlet/0.13.1/manifests/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/0.13.1/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4368 operator hive-operator (1.2.4428-ceaafa8)
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive-operator.v1.2.4428-ceaafa8.clusterserviceversion.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4428-ceaafa8/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4369 operator neuvector-community-operator (1.4.5)
  operators/neuvector-community-operator/1.4.5/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.4.5/manifests/neuvector-operator.v1.4.5.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.4.5/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4370 operator gitlab-operator-kubernetes (0.30.3)
  operators/gitlab-operator-kubernetes/0.30.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.3/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4371 operator multi-nic-cni-operator (1.3.0)
  operators/multi-nic-cni-operator/1.3.0/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.3.0/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.3.0/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.3.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/passed

#4372 operator keycloak-operator (24.0.3)
  operators/keycloak-operator/24.0.3/bundle.Dockerfile
  operators/keycloak-operator/24.0.3/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.3/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.3/metadata/annotations.yaml
Labels: community-hosted-pipeline/passed

#4347 operator eclipse-amlen-operator (1.0.2)
  operators/eclipse-amlen-operator/1.0.2/bundle.Dockerfile
  operators/eclipse-amlen-operator/1.0.2/manifests/amlen-controller-manager-metrics-service_v1_service.yaml
  operators/eclipse-amlen-operator/1.0.2/manifests/amlen-manager-config_v1_configmap.yaml
  operators/eclipse-amlen-operator/1.0.2/manifests/amlen-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eclipse-amlen-operator/1.0.2/manifests/eclipse-amlen-operator.clusterserviceversion.yaml
  operators/eclipse-amlen-operator/1.0.2/manifests/eclipse.org_amlens.yaml
  operators/eclipse-amlen-operator/1.0.2/metadata/annotations.yaml
  operators/eclipse-amlen-operator/1.0.2/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/failed, operator-hosted-pipeline/started

#4376 operator mongodb-atlas-kubernetes (2.2.1)
  operators/mongodb-atlas-kubernetes/2.2.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4282 operator cass-operator-community (1.19.1)
  operators/cass-operator-community/1.19.1/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.19.1/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.19.1/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.19.1/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.19.1/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.19.1/metadata/annotations.yaml
  operators/cass-operator-community/1.19.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4377 operator patterns-operator (0.0.45)
  operators/patterns-operator/0.0.45/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.45/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.45/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.45/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.45/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.45/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.45/metadata/annotations.yaml
  operators/patterns-operator/0.0.45/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4381 operator codeflare-operator (1.4.0)
  operators/codeflare-operator/1.4.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.4.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.4.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.4.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.4.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.4.0/metadata/annotations.yaml
  operators/codeflare-operator/1.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4382 operator move2kube-operator (0.3.13)
  operators/move2kube-operator/0.3.13/bundle.Dockerfile
  operators/move2kube-operator/0.3.13/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.13/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.13/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.13/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.13/metadata/annotations.yaml
  operators/move2kube-operator/0.3.13/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4384 operator patterns-operator (0.0.46)
  operators/patterns-operator/0.0.46/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.46/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.46/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.46/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.46/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.46/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.46/metadata/annotations.yaml
  operators/patterns-operator/0.0.46/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4385 operator gitlab-operator-kubernetes (0.31.0)
  operators/gitlab-operator-kubernetes/0.31.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.31.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4387 operator deployment-validation-operator (0.7.6)
  operators/deployment-validation-operator/0.7.6/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.6/manifests/deploymentvalidationoperator.0.7.6.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.6/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4390 operator hive-operator (1.2.4436-44323bc)
  operators/hive-operator/1.2.4436-44323bc/manifests/hive-operator.v1.2.4436-44323bc.clusterserviceversion.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4436-44323bc/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4391 operator project-quay (3.10.5)
  operators/project-quay/3.10.5/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.5/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4338 operator opendatahub-operator (2.11.0)
  operators/opendatahub-operator/2.11.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.11.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.11.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.11.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.11.0/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.11.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.11.0/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.11.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.11.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.11.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.11.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.11.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/failed, operator-hosted-pipeline/started

#4388 operator dell-csm-operator (1.5.0)
  operators/dell-csm-operator/1.5.0/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.5.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.5.0/manifests/dell-csm-operator.v1.5.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.5.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4396 operator debezium-operator (2.6.0-final)
  operators/debezium-operator/2.6.0-final/bundle.Dockerfile
  operators/debezium-operator/2.6.0-final/manifests/debezium-operator.v2.6.0-final.clusterserviceversion.yaml
  operators/debezium-operator/2.6.0-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.6.0-final/metadata/annotations.yaml
  operators/debezium-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4352 operator ndmspc-operator (0.20240412.0)
  operators/ndmspc-operator/0.20240412.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.20240412.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.20240412.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.20240412.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.20240412.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.20240412.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.20240412.0/tests/scorecard/config.yaml
Labels: community-hosted-pipeline/failed, operator-hosted-pipeline/started

#4397 operator debezium-operator (2.6.1-final)
  operators/debezium-operator/2.6.1-final/bundle.Dockerfile
  operators/debezium-operator/2.6.1-final/manifests/debezium-operator.v2.6.1-final.clusterserviceversion.yaml
  operators/debezium-operator/2.6.1-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.6.1-final/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4400 operator awx-operator (2.16.0)
  operators/awx-operator/2.16.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.16.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.16.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.16.0/manifests/awx-operator.v2.16.0.clusterserviceversion.yaml
  operators/awx-operator/2.16.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.16.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.16.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.16.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.16.0/metadata/annotations.yaml
  operators/awx-operator/2.16.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4399 operator opendatahub-operator (2.8.1)
  operators/opendatahub-operator/2.8.1/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.8.1/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.8.1/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.8.1/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.8.1/manifests/opendatahub-operator-manager-config_v1_configmap.yaml
  operators/opendatahub-operator/2.8.1/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.8.1/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.8.1/metadata/annotations.yaml
  operators/opendatahub-operator/2.8.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4401 operator korrel8r (0.1.2)
  operators/korrel8r/0.1.2/manifests/korrel8r-controller-manager-metrics-service_v1_service.yaml
  operators/korrel8r/0.1.2/manifests/korrel8r-default_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/korrel8r/0.1.2/manifests/korrel8r-instance_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/korrel8r/0.1.2/manifests/korrel8r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.2/manifests/korrel8r.clusterserviceversion.yaml
  operators/korrel8r/0.1.2/manifests/korrel8r.openshift.io_korrel8rs.yaml
  operators/korrel8r/0.1.2/metadata/annotations.yaml
  operators/korrel8r/0.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4405 operator korrel8r (0.1.3)
  operators/korrel8r/0.1.3/manifests/korrel8r-controller-manager-metrics-service_v1_service.yaml
  operators/korrel8r/0.1.3/manifests/korrel8r-default_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/korrel8r/0.1.3/manifests/korrel8r-instance_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/korrel8r/0.1.3/manifests/korrel8r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/korrel8r/0.1.3/manifests/korrel8r.clusterserviceversion.yaml
  operators/korrel8r/0.1.3/manifests/korrel8r.openshift.io_korrel8rs.yaml
  operators/korrel8r/0.1.3/metadata/annotations.yaml
  operators/korrel8r/0.1.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4407 operator mongodb-atlas-kubernetes (2.2.2)
  operators/mongodb-atlas-kubernetes/2.2.2/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4417 operator cluster-aas-operator (0.1.4)
  operators/cluster-aas-operator/0.1.4/manifests/argo_cd_cluser_rb.yaml
  operators/cluster-aas-operator/0.1.4/manifests/argo_cd_cluster_role.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator-repo-bridge.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.1.4/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.1.4/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.1.4/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.1.4/manifests/clustertemplate.openshift.io_clustertemplatesetup.yaml
  operators/cluster-aas-operator/0.1.4/manifests/clustertemplate.openshift.io_config.yaml
  operators/cluster-aas-operator/0.1.4/metadata/annotations.yaml
  operators/cluster-aas-operator/0.1.4/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.1.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4418 operator patterns-operator (0.0.47)
  operators/patterns-operator/0.0.47/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.47/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.47/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.47/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.47/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.47/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.47/metadata/annotations.yaml
  operators/patterns-operator/0.0.47/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4422 operator gitlab-operator-kubernetes (0.31.1)
  operators/gitlab-operator-kubernetes/0.31.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.31.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4424 operator patterns-operator (0.0.48)
  operators/patterns-operator/0.0.48/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.48/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.48/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.48/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.48/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.48/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.48/metadata/annotations.yaml
  operators/patterns-operator/0.0.48/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4428 Added Kaoto-bot as reviewer for the Kaoto operator
  operators/kaoto-operator/ci.yaml
Labels: community-hosted-pipeline/passed

#4426 operator keycloak-permissions-operator (1.2.0)
  operators/keycloak-permissions-operator/1.2.0/manifests/keycloak-permissions-operator-controller-manager-metrics-svc_v1_service.yaml
  operators/keycloak-permissions-operator/1.2.0/manifests/keycloak-permissions-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keycloak-permissions-operator/1.2.0/manifests/keycloak-permissions-operator.clusterserviceversion.yaml
  operators/keycloak-permissions-operator/1.2.0/manifests/keycloak.nerc.mghpcc.org_keycloakauthorizations.yaml
  operators/keycloak-permissions-operator/1.2.0/metadata/annotations.yaml
  operators/keycloak-permissions-operator/1.2.0/tests/scorecard/config.yaml
  operators/keycloak-permissions-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4375 operator external-secrets-operator (0.9.16)
  operators/external-secrets-operator/0.9.16/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.16/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.16/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.16/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4429 operator awx-operator (2.16.1)
  operators/awx-operator/2.16.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.16.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.16.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.16.1/manifests/awx-operator.v2.16.1.clusterserviceversion.yaml
  operators/awx-operator/2.16.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.16.1/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.16.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.16.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.16.1/metadata/annotations.yaml
  operators/awx-operator/2.16.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4430 operator hive-operator (1.2.4441-fdbfaf0)
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive-operator.v1.2.4441-fdbfaf0.clusterserviceversion.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4431 operator keycloak-permissions-operator (1.3.0)
  operators/keycloak-permissions-operator/1.3.0/manifests/keycloak-permissions-operator-controller-manager-metrics-svc_v1_service.yaml
  operators/keycloak-permissions-operator/1.3.0/manifests/keycloak-permissions-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keycloak-permissions-operator/1.3.0/manifests/keycloak-permissions-operator.clusterserviceversion.yaml
  operators/keycloak-permissions-operator/1.3.0/manifests/keycloak.nerc.mghpcc.org_keycloakauthorizations.yaml
  operators/keycloak-permissions-operator/1.3.0/metadata/annotations.yaml
  operators/keycloak-permissions-operator/1.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
