Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2024-09, with the labels that each got.

#5084 operator external-secrets-operator (0.10.2)
  operators/external-secrets-operator/0.10.2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.2/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.2/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.2/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.2/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.2/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.2/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.2/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.2/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.2/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.2/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.2/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5086 operator susql-operator (0.0.26)
  operators/susql-operator/0.0.26/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.26/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.26/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.26/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.26/metadata/annotations.yaml
  operators/susql-operator/0.0.26/tests/scorecard/config.yaml
  operators/susql-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5048 operator registry-operator (0.3.0)
  operators/registry-operator/0.3.0/bundle.Dockerfile
  operators/registry-operator/0.3.0/manifests/registry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/registry-operator/0.3.0/manifests/registry-operator-manager-config_v1_configmap.yaml
  operators/registry-operator/0.3.0/manifests/registry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/registry-operator/0.3.0/manifests/registry-operator-webhook-service_v1_service.yaml
  operators/registry-operator/0.3.0/manifests/registry-operator.clusterserviceversion.yaml
  operators/registry-operator/0.3.0/manifests/registry.devfile.io_clusterdevfileregistrieslists.yaml
  operators/registry-operator/0.3.0/manifests/registry.devfile.io_devfileregistries.yaml
  operators/registry-operator/0.3.0/manifests/registry.devfile.io_devfileregistrieslists.yaml
  operators/registry-operator/0.3.0/metadata/annotations.yaml
  operators/registry-operator/0.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#5089 operator argocd-operator (0.12.0)
  operators/argocd-operator/0.12.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.12.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.12.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.12.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.12.0/manifests/argocd-operator.v0.12.0.clusterserviceversion.yaml
  operators/argocd-operator/0.12.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.12.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.12.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.12.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.12.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.12.0/manifests/argoproj.io_notificationsconfigurations.yaml
  operators/argocd-operator/0.12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5095 operator dapr-kubernetes-operator (0.0.9)
  operators/dapr-kubernetes-operator/0.0.9/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.9/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.9/manifests/operator.dapr.io_daprcruiscontrols.yaml
  operators/dapr-kubernetes-operator/0.0.9/manifests/operator.dapr.io_daprinstances.yaml
  operators/dapr-kubernetes-operator/0.0.9/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.9/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5097 operator hive-operator (1.2.4584-95efcb7)
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive-operator.v1.2.4584-95efcb7.clusterserviceversion.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4584-95efcb7/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4584-95efcb7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5114 operator susql-operator (0.0.27)
  operators/susql-operator/0.0.27/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.27/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.27/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.27/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.27/metadata/annotations.yaml
  operators/susql-operator/0.0.27/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5116 operator ncn-operator (0.5.6)
  operators/ncn-operator/0.5.6/manifests/cxl-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.5.6/manifests/cxl-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.5.6/manifests/cxl-operator.clusterserviceversion.yaml
  operators/ncn-operator/0.5.6/manifests/cxl.antline.com_cxls.yaml
  operators/ncn-operator/0.5.6/manifests/cxl.antline.com_labels.yaml
  operators/ncn-operator/0.5.6/metadata/annotations.yaml
  operators/ncn-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5117 chore: add darkdoc to reviewers
  operators/patterns-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5120 operator kiali (1.89.0)
  operators/kiali/1.89.0/bundle.Dockerfile
  operators/kiali/1.89.0/manifests/kiali.crd.yaml
  operators/kiali/1.89.0/manifests/kiali.v1.89.0.clusterserviceversion.yaml
  operators/kiali/1.89.0/manifests/ossmconsole.crd.yaml
  operators/kiali/1.89.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5123 operator openshift-node-upgrade-mutex-operator (0.1.22)
  operators/openshift-node-upgrade-mutex-operator/0.1.22/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.1.22/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.1.22/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.1.22/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.1.22/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.1.22/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.1.22/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.1.22/tests/scorecard/config.yaml
  operators/openshift-node-upgrade-mutex-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5132 operator ncn-operator (0.8.1)
  operators/ncn-operator/0.8.1/manifests/cmmd.gw.com_cmmds.yaml
  operators/ncn-operator/0.8.1/manifests/cmmd.gw.com_labels.yaml
  operators/ncn-operator/0.8.1/manifests/socmmd-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.8.1/manifests/socmmd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.8.1/manifests/socmmd.clusterserviceversion.yaml
  operators/ncn-operator/0.8.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5136 operator codeflare-operator (1.8.0)
  operators/codeflare-operator/1.8.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.8.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.8.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.8.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.8.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.8.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.8.0/metadata/annotations.yaml
  operators/codeflare-operator/1.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5152 operator susql-operator (0.0.28)
  operators/susql-operator/0.0.28/bundle.Dockerfile
  operators/susql-operator/0.0.28/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.28/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.28/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.28/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.28/metadata/annotations.yaml
  operators/susql-operator/0.0.28/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5155 operator susql-operator (0.0.29)
  operators/susql-operator/0.0.29/bundle.Dockerfile
  operators/susql-operator/0.0.29/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.29/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.29/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.29/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.29/metadata/annotations.yaml
  operators/susql-operator/0.0.29/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5159 operator grafana-operator (5.13.0)
  operators/grafana-operator/5.13.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.13.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.13.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.13.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.13.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.13.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.13.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.13.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.13.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.13.0/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.13.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5168 operator gitlab-operator-kubernetes (1.3.2)
  operators/gitlab-operator-kubernetes/1.3.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5167 operator susql-operator (0.0.30)
  operators/susql-operator/0.0.30/Dockerfile
  operators/susql-operator/0.0.30/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.30/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.30/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.30/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.30/metadata/annotations.yaml
  operators/susql-operator/0.0.30/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5143 operator project-quay (3.12.2)
  operators/project-quay/3.12.2/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.2/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5177 operator project-quay (3.11.5)
  operators/project-quay/3.11.5/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.5/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5176 operator lbconfig-operator (0.5.0)
  operators/lbconfig-operator/0.5.0/manifests/lb.lbconfig.carlosedp.com_externalloadbalancers.yaml
  operators/lbconfig-operator/0.5.0/manifests/lbconfig-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lbconfig-operator/0.5.0/manifests/lbconfig-operator-manager-config_v1_configmap.yaml
  operators/lbconfig-operator/0.5.0/manifests/lbconfig-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.5.0/manifests/lbconfig-operator.clusterserviceversion.yaml
  operators/lbconfig-operator/0.5.0/metadata/annotations.yaml
  operators/lbconfig-operator/0.5.0/tests/scorecard/config.yaml
  operators/lbconfig-operator/0.5.0/tests/scorecard/kuttl/create-externalloadbalancer/01-assert.yaml
  operators/lbconfig-operator/0.5.0/tests/scorecard/kuttl/create-externalloadbalancer/10-create-elb.yaml
  operators/lbconfig-operator/0.5.0/tests/scorecard/kuttl/create-externalloadbalancer/11-assert.yaml
  operators/lbconfig-operator/0.5.0/tests/scorecard/kuttl/kuttl-test.yaml
Labels: operator-hosted-pipeline/started

#5157 operator multicluster-global-hub-operator (1.3.0-dev.20240911)
  operators/multicluster-global-hub-operator/1.3.0-dev.20240911/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.3.0-dev.20240911/manifests/multicluster-global-hub-webhook_v1_service.yaml
  operators/multicluster-global-hub-operator/1.3.0-dev.20240911/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.3.0-dev.20240911/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5144 operator skupper-operator (1.8.1)
  operators/skupper-operator/1.8.1/manifests/skupper-operator.v1.8.1.clusterserviceversion.yaml
  operators/skupper-operator/1.8.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5160 operator deployment-validation-operator (0.7.8)
  operators/deployment-validation-operator/0.7.8/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.8/manifests/deploymentvalidationoperator.0.7.8.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.8/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5174 operator ncn-operator (0.9.2)
  operators/ncn-operator/0.9.2/manifests/cmmd.gw.com_cmmds.yaml
  operators/ncn-operator/0.9.2/manifests/cmmd.gw.com_labels.yaml
  operators/ncn-operator/0.9.2/manifests/socmmd-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.9.2/manifests/socmmd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.9.2/manifests/socmmd.clusterserviceversion.yaml
  operators/ncn-operator/0.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5163 operator patterns-operator (0.0.56)
  operators/patterns-operator/0.0.56/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.56/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.56/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.56/manifests/patterns-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/patterns-operator/0.0.56/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.56/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.56/metadata/annotations.yaml
  operators/patterns-operator/0.0.56/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5154 operator external-secrets-operator (0.10.3)
  operators/external-secrets-operator/0.10.3/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.3/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.3/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.3/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.3/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.3/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.3/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.3/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.3/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.3/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.3/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.3/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.3/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.3/manifests/generators.external-secrets.io_uuids.yaml
  operators/external-secrets-operator/0.10.3/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.3/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.3/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.3/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5175 operator mariadb-operator (0.31.0)
  operators/mariadb-operator/0.31.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.31.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.31.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.31.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.31.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.31.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.31.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.31.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.31.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.31.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.31.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.31.0/metadata/annotations.yaml
  operators/mariadb-operator/0.31.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5185 operator hive-operator (1.2.4605-b41ca3f)
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive-operator.v1.2.4605-b41ca3f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4605-b41ca3f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4605-b41ca3f/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5186 operator flux-operator (0.9.0)
  operators/flux-operator/0.9.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.9.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.9.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.9.0/metadata/annotations.yaml
  operators/flux-operator/0.9.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5189 operator pubsubplus-eventbroker-operator (1.2.0)
  operators/pubsubplus-eventbroker-operator/1.2.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.2.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.2.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5191 operator apicurio-registry (1.1.3-v2.6.4.final)
  operators/apicurio-registry/1.1.3-v2.6.4.final/bundle.Dockerfile
  operators/apicurio-registry/1.1.3-v2.6.4.final/manifests/apicurio-registry-operator.clusterserviceversion.yaml
  operators/apicurio-registry/1.1.3-v2.6.4.final/manifests/registry.apicur.io_apicurioregistries.yaml
  operators/apicurio-registry/1.1.3-v2.6.4.final/metadata/annotations.yaml
  operators/apicurio-registry/1.1.3-v2.6.4.final/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name_unique

#5195 operator openshift-node-upgrade-mutex-operator (0.2.14)
  operators/openshift-node-upgrade-mutex-operator/0.2.14/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.14/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.14/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.14/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.14/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.14/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.14/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.14/tests/config.yaml
Labels: operator-hosted-pipeline/started

#5193 operator opendatahub-operator (2.18.0)
  operators/opendatahub-operator/2.18.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.18.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.18.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.18.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.18.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.18.0/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.18.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.18.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.18.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.18.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.18.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5192 operator keycloak-operator (25.0.5)
  operators/keycloak-operator/25.0.5/bundle.Dockerfile
  operators/keycloak-operator/25.0.5/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/25.0.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/25.0.5/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/25.0.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5200 operator opendatahub-operator (2.18.1)
  operators/opendatahub-operator/2.18.1/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.18.1/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.18.1/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.18.1/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.18.1/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.18.1/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.18.1/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.18.1/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.18.1/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.18.1/metadata/annotations.yaml
  operators/opendatahub-operator/2.18.1/tests/scorecard/config.yaml
Labels: do-not-merge/hold, operator-hosted-pipeline/started

#5180 operator automotive-infra (0.0.1)
  operators/automotive-infra/0.0.1/manifests/automotive-infra-controller-manager-metrics-service_v1_service.yaml
  operators/automotive-infra/0.0.1/manifests/automotive-infra-manager-config_v1_configmap.yaml
  operators/automotive-infra/0.0.1/manifests/automotive-infra-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.1/manifests/automotive-infra-operatorconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.1/manifests/automotive-infra-operatorconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.1/manifests/automotive-infra.clusterserviceversion.yaml
  operators/automotive-infra/0.0.1/manifests/automotive.sig.centos.org_cbs.yaml
  operators/automotive-infra/0.0.1/manifests/automotive.sig.centos.org_ibs.yaml
  operators/automotive-infra/0.0.1/manifests/automotive.sig.centos.org_operatorconfigs.yaml
  operators/automotive-infra/0.0.1/metadata/annotations.yaml
  operators/automotive-infra/0.0.1/tests/scorecard/config.yaml
  operators/automotive-infra/ci.yaml
Labels: operator-hosted-pipeline/started

#5205 operator gitlab-operator-kubernetes (1.3.3)
  operators/gitlab-operator-kubernetes/1.3.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.3.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5206 operator automotive-infra (0.0.2)
  operators/automotive-infra/0.0.2/manifests/automotive-infra-controller-manager-metrics-service_v1_service.yaml
  operators/automotive-infra/0.0.2/manifests/automotive-infra-manager-config_v1_configmap.yaml
  operators/automotive-infra/0.0.2/manifests/automotive-infra-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.2/manifests/automotive-infra-operatorconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.2/manifests/automotive-infra-operatorconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.2/manifests/automotive-infra.clusterserviceversion.yaml
  operators/automotive-infra/0.0.2/manifests/automotive.sig.centos.org_cbs.yaml
  operators/automotive-infra/0.0.2/manifests/automotive.sig.centos.org_ibs.yaml
  operators/automotive-infra/0.0.2/manifests/automotive.sig.centos.org_operatorconfigs.yaml
  operators/automotive-infra/0.0.2/metadata/annotations.yaml
  operators/automotive-infra/0.0.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5207 operator gitlab-operator-kubernetes (1.4.0)
  operators/gitlab-operator-kubernetes/1.4.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5208 add .catalog_cache to git ignore
  .gitignore
Labels: operator-hosted-pipeline/failed

#5211 operator authorino-operator (0.12.0)
  operators/authorino-operator/0.12.0/bundle.Dockerfile
  operators/authorino-operator/0.12.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.12.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.12.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.12.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.12.0/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.12.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.12.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.12.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.12.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.12.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.12.0/metadata/annotations.yaml
  operators/authorino-operator/0.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5091 operator rabbitmq-cluster-operator (2.10.0)
  operators/rabbitmq-cluster-operator/2.10.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.10.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.10.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.10.0/metadata/annotations.yaml
  operators/rabbitmq-cluster-operator/ci.yaml
Labels: lgtm, operator-hosted-pipeline/passed

#5220 operator ncn-operator (0.9.8)
  operators/ncn-operator/0.9.8/manifests/cmmd.gw.com_cmmds.yaml
  operators/ncn-operator/0.9.8/manifests/cmmd.gw.com_labels.yaml
  operators/ncn-operator/0.9.8/manifests/socmmd-controller-manager-metrics-service_v1_service.yaml
  operators/ncn-operator/0.9.8/manifests/socmmd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ncn-operator/0.9.8/manifests/socmmd.clusterserviceversion.yaml
  operators/ncn-operator/0.9.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5224 operator hive-operator (1.2.4615-52100dd)
  operators/hive-operator/1.2.4615-52100dd/manifests/hive-operator.v1.2.4615-52100dd.clusterserviceversion.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4615-52100dd/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4615-52100dd/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5223 operator gitlab-runner-operator (1.29.0)
  operators/gitlab-runner-operator/1.29.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.29.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.29.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.29.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.29.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.29.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.29.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5226 operator dynatrace-operator (1.3.0)
  operators/dynatrace-operator/1.3.0/Dockerfile
  operators/dynatrace-operator/1.3.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.3.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.3.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.3.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.3.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.3.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5227 operator limitador-operator (0.10.0)
  operators/limitador-operator/0.10.0/bundle.Dockerfile
  operators/limitador-operator/0.10.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.10.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.10.0/manifests/limitador-operator-metrics_v1_service.yaml
  operators/limitador-operator/0.10.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.10.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.10.0/metadata/annotations.yaml
  operators/limitador-operator/0.10.0/tests/scorecard/config.yaml
  operators/limitador-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5228 operator opendatahub-operator (2.18.2)
  operators/opendatahub-operator/2.18.2/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.18.2/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.18.2/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.18.2/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.18.2/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.18.2/manifests/opendatahub-operator-webhook-service_v1_service.yaml
  operators/opendatahub-operator/2.18.2/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.18.2/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.18.2/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.18.2/metadata/annotations.yaml
  operators/opendatahub-operator/2.18.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#5237 operator gitlab-operator-kubernetes (1.4.1)
  operators/gitlab-operator-kubernetes/1.4.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5244 operator socmmd (0.0.1)
  operators/socmmd/0.0.1/manifests/cmmd.samsung.com_cmmds.yaml
  operators/socmmd/0.0.1/manifests/cmmd.samsung.com_labels.yaml
  operators/socmmd/0.0.1/manifests/socmmd-controller-manager-metrics-service_v1_service.yaml
  operators/socmmd/0.0.1/manifests/socmmd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/socmmd/0.0.1/manifests/socmmd.clusterserviceversion.yaml
  operators/socmmd/0.0.1/metadata/annotations.yaml
  operators/socmmd/ci.yaml
Labels: operator-hosted-pipeline/passed

#5249 operator mariadb-operator (0.32.0)
  operators/mariadb-operator/0.32.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.32.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.32.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.32.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.32.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.32.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.32.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.32.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.32.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.32.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.32.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.32.0/metadata/annotations.yaml
  operators/mariadb-operator/0.32.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5250 operator codeflare-operator (1.9.0)
  operators/codeflare-operator/1.9.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.9.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.9.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.9.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.9.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.9.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.9.0/metadata/annotations.yaml
  operators/codeflare-operator/1.9.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5251 operator kuadrant-operator (0.10.0)
  operators/kuadrant-operator/0.10.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.10.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.10.0/manifests/kuadrant-operator-metrics_v1_service.yaml
  operators/kuadrant-operator/0.10.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.10.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.10.0/manifests/kuadrant.io_dnspolicies.yaml
  operators/kuadrant-operator/0.10.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.10.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.10.0/manifests/kuadrant.io_tlspolicies.yaml
  operators/kuadrant-operator/0.10.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.10.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5252 operator mariadb-operator (0.33.0)
  operators/mariadb-operator/0.33.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.33.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.33.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.33.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.33.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.33.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.33.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.33.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.33.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.33.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.33.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.33.0/metadata/annotations.yaml
  operators/mariadb-operator/0.33.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5262 operator susql-operator (0.0.32)
  operators/susql-operator/0.0.32/Dockerfile
  operators/susql-operator/0.0.32/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.32/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.32/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.32/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.32/metadata/annotations.yaml
  operators/susql-operator/0.0.32/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5263 operator automotive-infra (0.0.3)
  operators/automotive-infra/0.0.3/manifests/automotive-infra-controller-manager-metrics-service_v1_service.yaml
  operators/automotive-infra/0.0.3/manifests/automotive-infra-manager-config_v1_configmap.yaml
  operators/automotive-infra/0.0.3/manifests/automotive-infra-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.3/manifests/automotive-infra-operatorconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.3/manifests/automotive-infra-operatorconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.3/manifests/automotive-infra.clusterserviceversion.yaml
  operators/automotive-infra/0.0.3/manifests/automotive.sig.centos.org_containerbuilds.yaml
  operators/automotive-infra/0.0.3/manifests/automotive.sig.centos.org_imagebuilds.yaml
  operators/automotive-infra/0.0.3/manifests/automotive.sig.centos.org_operatorconfigs.yaml
  operators/automotive-infra/0.0.3/metadata/annotations.yaml
  operators/automotive-infra/0.0.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5264 operator hive-operator (1.2.4625-389d717)
  operators/hive-operator/1.2.4625-389d717/manifests/hive-operator.v1.2.4625-389d717.clusterserviceversion.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4625-389d717/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4625-389d717/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started
