Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2025-05, with the labels that each got.

#6432 operator apicurio-registry-3 (3.0.7)
  operators/apicurio-registry-3/3.0.7/bundle.Dockerfile
  operators/apicurio-registry-3/3.0.7/manifests/apicurio-registry-3.clusterserviceversion.yaml
  operators/apicurio-registry-3/3.0.7/manifests/registry.apicur.io_apicurioregistries3.yaml
  operators/apicurio-registry-3/3.0.7/metadata/annotations.yaml
  operators/apicurio-registry-3/ci.yaml
Labels: operator-hosted-pipeline/passed

#6460 operator cert-manager (1.16.5)
  operators/cert-manager/1.16.5/bundle.Dockerfile
  operators/cert-manager/1.16.5/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.16.5/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager-cainjector_v1_service.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.16.5/metadata/annotations.yaml
  operators/cert-manager/1.16.5/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6461 operator deployment-validation-operator (0.7.9)
  operators/deployment-validation-operator/0.7.9/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.9/manifests/deploymentvalidationoperator.0.7.9.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.9/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.9/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6503 operator strimzi-kafka-operator (0.46.0)
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzi-cluster-operator.v0.46.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6509 operator pubsubplus-eventbroker-operator (1.3.0)
  operators/pubsubplus-eventbroker-operator/1.3.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.3.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.3.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.3.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6516 Catalog update [coherence-operator] [v4.17,v4.18]
  catalogs/v4.17/coherence-operator/catalog.yaml
  catalogs/v4.18/coherence-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/started

#6517 Catalog update [alloydb-omni-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18]
  catalogs/v4.12/alloydb-omni-operator/catalog.yaml
  catalogs/v4.13/alloydb-omni-operator/catalog.yaml
  catalogs/v4.14/alloydb-omni-operator/catalog.yaml
  catalogs/v4.15/alloydb-omni-operator/catalog.yaml
  catalogs/v4.16/alloydb-omni-operator/catalog.yaml
  catalogs/v4.17/alloydb-omni-operator/catalog.yaml
  catalogs/v4.18/alloydb-omni-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/failed

#6520 operator gitlab-operator-kubernetes (1.12.2)
  operators/gitlab-operator-kubernetes/1.12.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.12.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6521 operator project-quay (3.10.10)
  operators/project-quay/3.10.10/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.10/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.10/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6522 operator hawtio-operator (1.2.0)
  operators/hawtio-operator/1.2.0/manifests/hawt.io_hawtios.yaml
  operators/hawtio-operator/1.2.0/manifests/hawtio-operator.clusterserviceversion.yaml
  operators/hawtio-operator/1.2.0/metadata/annotations.yaml
  operators/hawtio-operator/1.2.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6523 operator kepler-operator (0.16.0)
  operators/kepler-operator/0.16.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.16.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.16.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.16.0/manifests/kepler-operator-webhook-service_v1_service.yaml
  operators/kepler-operator/0.16.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.16.0/manifests/kepler.system.sustainable.computing.io_keplerinternals.yaml
  operators/kepler-operator/0.16.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.16.0/manifests/kepler.system.sustainable.computing.io_powermonitorinternals.yaml
  operators/kepler-operator/0.16.0/manifests/kepler.system.sustainable.computing.io_powermonitors.yaml
  operators/kepler-operator/0.16.0/metadata/annotations.yaml
  operators/kepler-operator/0.16.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6526 operator skupper-operator (1.9.1)
  operators/skupper-operator/1.9.1/manifests/skupper-operator.v1.9.1.clusterserviceversion.yaml
  operators/skupper-operator/1.9.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6529 Catalog update [dell-csm-operator] [v4.17,v4.18]
  catalogs/v4.17/dell-csm-operator/catalog.yaml
  catalogs/v4.18/dell-csm-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/started

#6531 Catalog update [shipwright-operator] [v4.17,v4.18]
  catalogs/v4.17/shipwright-operator/catalog.yaml
  catalogs/v4.18/shipwright-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/failed

#6532 Catalog update [trident-operator] [v4.17,v4.18]
  catalogs/v4.17/trident-operator/catalog.yaml
  catalogs/v4.18/trident-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/started

#6534 Catalog update [koku-metrics-operator] [v4.17]
  catalogs/v4.17/koku-metrics-operator/catalog.yaml
  operators/koku-metrics-operator/Makefile
  operators/koku-metrics-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6541 operator gitlab-runner-operator (1.36.0)
  operators/gitlab-runner-operator/1.36.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.36.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6525 operator keycloak-operator (26.2.4)
  operators/keycloak-operator/26.2.4/bundle.Dockerfile
  operators/keycloak-operator/26.2.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.2.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6583 operator flux-operator (0.20.0)
  operators/flux-operator/0.20.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.20.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.20.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.20.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.20.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.20.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.20.0/metadata/annotations.yaml
  operators/flux-operator/0.20.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6612 operator stackgres-community (1.16.2)
  operators/stackgres-community/1.16.2/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.16.2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.16.2/metadata/annotations.yaml
  operators/stackgres-community/1.16.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6598 operator coherence-operator (3.5.0)
  operators/coherence-operator/3.5.0/manifests/coherence-operator-coherence-webhook-server-cert_v1_secret.yaml
  operators/coherence-operator/3.5.0/manifests/coherence-operator-metrics-service_v1_service.yaml
  operators/coherence-operator/3.5.0/manifests/coherence-operator-rest_v1_service.yaml
  operators/coherence-operator/3.5.0/manifests/coherence-operator-webhook_v1_service.yaml
  operators/coherence-operator/3.5.0/manifests/coherence-operator.clusterserviceversion.yaml
  operators/coherence-operator/3.5.0/manifests/coherence.oracle.com_coherence.yaml
  operators/coherence-operator/3.5.0/manifests/coherence.oracle.com_coherencejob.yaml
  operators/coherence-operator/3.5.0/metadata/annotations.yaml
  operators/coherence-operator/3.5.0/release-config.yaml
  operators/coherence-operator/3.5.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6614 operator snapscheduler (3.5.0)
  operators/snapscheduler/3.5.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/3.5.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/3.5.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/3.5.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/3.5.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/3.5.0/metadata/annotations.yaml
  operators/snapscheduler/3.5.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6622 operator gitlab-runner-operator (1.37.0)
  operators/gitlab-runner-operator/1.37.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.37.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6625 operator grafana-operator (5.18.0)
  operators/grafana-operator/5.18.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.18.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.18.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.18.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanalibrarypanels.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanamutetimings.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafananotificationtemplates.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.18.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6635 (fix): Add folder names with v for catalogs
  operators/opendatahub-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6404 operator postgresql (5.8.1)
  operators/postgresql/5.8.1/Dockerfile
  operators/postgresql/5.8.1/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.1/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.8.1/metadata/annotations.yaml
  operators/postgresql/5.8.1/tests/scorecard/config.yaml
Labels: approved, tests/skip/check_operator_name, operator-hosted-pipeline/started

#6636 operator edp-keycloak-operator (1.26.0)
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-clusterkeycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-clusterkeycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-clusterkeycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-clusterkeycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakauthflow-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakauthflow-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakclient-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakclient-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakclientscope-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakclientscope-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmcomponent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmcomponent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmgroup-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmgroup-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmrole-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmrole-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmrolebatch-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmrolebatch-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmuser-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmuser-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.26.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.26.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6637 operator project-quay (3.13.5)
  operators/project-quay/3.13.5/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.5/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6638 operator project-quay (3.14.1)
  operators/project-quay/3.14.1/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.14.1/manifests/quayregistries.crd.yaml
  operators/project-quay/3.14.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6639 operator docling-operator (0.0.1)
  operators/docling-operator/0.0.1/manifests/docling-operator-controller-manager-metrics-service_v1_service.yaml
  operators/docling-operator/0.0.1/manifests/docling-operator-doclingserve-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/docling-operator/0.0.1/manifests/docling-operator-doclingserve-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/docling-operator/0.0.1/manifests/docling-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/docling-operator/0.0.1/manifests/docling-operator.clusterserviceversion.yaml
  operators/docling-operator/0.0.1/manifests/docling.github.io_doclingserves.yaml
  operators/docling-operator/0.0.1/metadata/annotations.yaml
  operators/docling-operator/0.0.1/tests/scorecard/config.yaml
  operators/docling-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6644 operator edp-keycloak-operator (1.27.1)
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-clusterkeycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-clusterkeycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-clusterkeycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-clusterkeycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakauthflow-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakauthflow-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakclient-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakclient-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakclientscope-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakclientscope-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmcomponent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmcomponent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmgroup-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmgroup-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmrole-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmrole-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmrolebatch-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmrolebatch-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmuser-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmuser-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.27.1/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.27.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6646 operator opendatahub-operator (2.29.0)
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_codeflares.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_dashboards.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_datasciencepipelines.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_feastoperators.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_kserves.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_kueues.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_modelcontrollers.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_modelmeshservings.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_modelregistries.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_rays.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_trainingoperators.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_trustyais.yaml
  operators/opendatahub-operator/2.29.0/manifests/components.platform.opendatahub.io_workbenches.yaml
  operators/opendatahub-operator/2.29.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.29.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.29.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.29.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.29.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.29.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.29.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.29.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.29.0/manifests/services.platform.opendatahub.io_auths.yaml
  operators/opendatahub-operator/2.29.0/manifests/services.platform.opendatahub.io_monitorings.yaml
  operators/opendatahub-operator/2.29.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.29.0/release-config.yaml
  operators/opendatahub-operator/2.29.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6652 operator dell-csm-operator (1.9.0)
  operators/dell-csm-operator/1.9.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.9.0/manifests/dell-csm-operator.v1.9.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.9.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.9.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6654 operator gitlab-operator-kubernetes (2.0.1)
  operators/gitlab-operator-kubernetes/2.0.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.0.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6661 operator kepler-operator (0.17.0)
  operators/kepler-operator/0.17.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.17.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.17.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.17.0/manifests/kepler-operator-webhook-service_v1_service.yaml
  operators/kepler-operator/0.17.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.17.0/manifests/kepler.system.sustainable.computing.io_keplerinternals.yaml
  operators/kepler-operator/0.17.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.17.0/manifests/kepler.system.sustainable.computing.io_powermonitorinternals.yaml
  operators/kepler-operator/0.17.0/manifests/kepler.system.sustainable.computing.io_powermonitors.yaml
  operators/kepler-operator/0.17.0/metadata/annotations.yaml
  operators/kepler-operator/0.17.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, operator-release-pipeline/started

#6663 operator sailoperator (1.26.0)
  operators/sailoperator/1.26.0/README.md
  operators/sailoperator/1.26.0/manifests/extensions.istio.io_wasmplugins.yaml
  operators/sailoperator/1.26.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sailoperator/1.26.0/manifests/networking.istio.io_destinationrules.yaml
  operators/sailoperator/1.26.0/manifests/networking.istio.io_envoyfilters.yaml
  operators/sailoperator/1.26.0/manifests/networking.istio.io_gateways.yaml
  operators/sailoperator/1.26.0/manifests/networking.istio.io_proxyconfigs.yaml
  operators/sailoperator/1.26.0/manifests/networking.istio.io_serviceentries.yaml
  operators/sailoperator/1.26.0/manifests/networking.istio.io_sidecars.yaml
  operators/sailoperator/1.26.0/manifests/networking.istio.io_virtualservices.yaml
  operators/sailoperator/1.26.0/manifests/networking.istio.io_workloadentries.yaml
  operators/sailoperator/1.26.0/manifests/networking.istio.io_workloadgroups.yaml
  operators/sailoperator/1.26.0/manifests/sail-operator-metrics-service_v1_service.yaml
  operators/sailoperator/1.26.0/manifests/sailoperator.clusterserviceversion.yaml
  operators/sailoperator/1.26.0/manifests/sailoperator.io_istiocnis.yaml
  operators/sailoperator/1.26.0/manifests/sailoperator.io_istiorevisions.yaml
  operators/sailoperator/1.26.0/manifests/sailoperator.io_istiorevisiontags.yaml
  operators/sailoperator/1.26.0/manifests/sailoperator.io_istios.yaml
  operators/sailoperator/1.26.0/manifests/sailoperator.io_ztunnels.yaml
  operators/sailoperator/1.26.0/manifests/security.istio.io_authorizationpolicies.yaml
  operators/sailoperator/1.26.0/manifests/security.istio.io_peerauthentications.yaml
  operators/sailoperator/1.26.0/manifests/security.istio.io_requestauthentications.yaml
  operators/sailoperator/1.26.0/manifests/telemetry.istio.io_telemetries.yaml
  operators/sailoperator/1.26.0/metadata/annotations.yaml
  operators/sailoperator/1.26.0/release-config.yaml
  operators/sailoperator/1.26.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6673 Catalog update [dell-csm-operator] [v4.16,v4.17,v4.18]
  catalogs/v4.16/dell-csm-operator/catalog.yaml
  catalogs/v4.17/dell-csm-operator/catalog.yaml
  catalogs/v4.18/dell-csm-operator/catalog.yaml
  operators/dell-csm-operator/catalog-templates/v4.16.yaml
  operators/dell-csm-operator/catalog-templates/v4.17.yaml
  operators/dell-csm-operator/catalog-templates/v4.18.yaml
Labels: approved, operator-hosted-pipeline/started

#6675 Catalog update [dell-csm-operator] [v4.14,v4.15,v4.16,v4.17,v4.18]
  catalogs/v4.14/dell-csm-operator/catalog.yaml
  catalogs/v4.15/dell-csm-operator/catalog.yaml
  catalogs/v4.16/dell-csm-operator/catalog.yaml
  catalogs/v4.17/dell-csm-operator/catalog.yaml
  catalogs/v4.18/dell-csm-operator/catalog.yaml
  operators/dell-csm-operator/catalog-templates/v4.14.yaml
  operators/dell-csm-operator/catalog-templates/v4.15.yaml
  operators/dell-csm-operator/catalog-templates/v4.16.yaml
  operators/dell-csm-operator/catalog-templates/v4.17.yaml
  operators/dell-csm-operator/catalog-templates/v4.18.yaml
Labels: approved, operator-hosted-pipeline/started

#6626 operator postgresql (5.8.2)
  operators/postgresql/5.8.2/Dockerfile
  operators/postgresql/5.8.2/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.2/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.8.2/metadata/annotations.yaml
  operators/postgresql/5.8.2/tests/scorecard/config.yaml
Labels: approved, tests/skip/check_operator_name, operator-hosted-pipeline/started

#6704 operator keycloak-operator (26.2.5)
  operators/keycloak-operator/26.2.5/bundle.Dockerfile
  operators/keycloak-operator/26.2.5/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.2.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.5/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6705 operator stackgres-community (1.16.3)
  operators/stackgres-community/1.16.3/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.16.3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.16.3/metadata/annotations.yaml
  operators/stackgres-community/1.16.3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6734 operator apicurio-registry-3 (3.0.8)
  operators/apicurio-registry-3/3.0.8/bundle.Dockerfile
  operators/apicurio-registry-3/3.0.8/manifests/apicurio-registry-3.clusterserviceversion.yaml
  operators/apicurio-registry-3/3.0.8/manifests/registry.apicur.io_apicurioregistries3.yaml
  operators/apicurio-registry-3/3.0.8/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6740 operator vault-config-operator (0.8.33)
  operators/vault-config-operator/0.8.33/Dockerfile
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_azureauthengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_azureauthengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_azuresecretengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_azuresecretengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_certauthengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_certauthengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_gcpauthengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_gcpauthengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.33/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.33/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.33/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.33/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.33/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.33/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.33/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.33/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.33/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.33/metadata/annotations.yaml
  operators/vault-config-operator/0.8.33/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started
