Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2025-06, with the labels that each got.

#6748 operator odf-node-recovery-operator (1.1.0)
  operators/odf-node-recovery-operator/1.1.0/manifests/odf-node-recovery-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/odf-node-recovery-operator/1.1.0/manifests/odf-node-recovery-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odf-node-recovery-operator/1.1.0/manifests/odf-node-recovery-operator-metrics-reader_v1_secret.yaml
  operators/odf-node-recovery-operator/1.1.0/manifests/odf-node-recovery-operator-noderecovery-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odf-node-recovery-operator/1.1.0/manifests/odf-node-recovery-operator-noderecovery-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odf-node-recovery-operator/1.1.0/manifests/odf-node-recovery-operator-noderecovery-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odf-node-recovery-operator/1.1.0/manifests/odf-node-recovery-operator.clusterserviceversion.yaml
  operators/odf-node-recovery-operator/1.1.0/manifests/odf.openshift.io_noderecoveries.yaml
  operators/odf-node-recovery-operator/1.1.0/metadata/annotations.yaml
  operators/odf-node-recovery-operator/1.1.0/tests/scorecard/config.yaml
  operators/odf-node-recovery-operator/catalog-templates/basic.yaml
  operators/odf-node-recovery-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6736 operator ack-bedrockagent-controller (0.0.2)
  operators/ack-bedrockagent-controller/0.0.2/bundle.Dockerfile
  operators/ack-bedrockagent-controller/0.0.2/manifests/ack-bedrockagent-controller.clusterserviceversion.yaml
  operators/ack-bedrockagent-controller/0.0.2/manifests/ack-bedrockagent-metrics-service_v1_service.yaml
  operators/ack-bedrockagent-controller/0.0.2/manifests/ack-bedrockagent-reader_rbac.authorization.k8s.io_v1_role.yaml
  operators/ack-bedrockagent-controller/0.0.2/manifests/ack-bedrockagent-writer_rbac.authorization.k8s.io_v1_role.yaml
  operators/ack-bedrockagent-controller/0.0.2/manifests/bedrockagent.services.k8s.aws_agents.yaml
  operators/ack-bedrockagent-controller/0.0.2/metadata/annotations.yaml
  operators/ack-bedrockagent-controller/0.0.2/tests/scorecard/config.yaml
Labels: approved, tests/skip/DeployableByOLM, operator-hosted-pipeline/passed

#6745 operator flux-operator (0.22.0)
  operators/flux-operator/0.22.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.22.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.22.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.22.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.22.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.22.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.22.0/metadata/annotations.yaml
  operators/flux-operator/0.22.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6797 operator neuvector-community-operator (1.5.3)
  operators/neuvector-community-operator/1.5.3/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.5.3/manifests/neuvector-operator.v1.5.3.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.5.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6820 operator apicurio-registry-3 (3.0.9)
  operators/apicurio-registry-3/3.0.9/bundle.Dockerfile
  operators/apicurio-registry-3/3.0.9/manifests/apicurio-registry-3.clusterserviceversion.yaml
  operators/apicurio-registry-3/3.0.9/manifests/registry.apicur.io_apicurioregistries3.yaml
  operators/apicurio-registry-3/3.0.9/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6824 operator koku-metrics-operator (4.0.0)
  operators/koku-metrics-operator/4.0.0/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  operators/koku-metrics-operator/4.0.0/manifests/koku-metrics-operator.clusterserviceversion.yaml
  operators/koku-metrics-operator/4.0.0/metadata/annotations.yaml
  operators/koku-metrics-operator/4.0.0/release-config.yaml
  operators/koku-metrics-operator/4.0.0/tests/scorecard/config.yaml
  operators/koku-metrics-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6839 operator opendatahub-operator (2.30.0)
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_codeflares.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_dashboards.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_datasciencepipelines.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_feastoperators.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_kserves.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_kueues.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_llamastackoperators.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_modelcontrollers.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_modelmeshservings.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_modelregistries.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_rays.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_trainingoperators.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_trustyais.yaml
  operators/opendatahub-operator/2.30.0/manifests/components.platform.opendatahub.io_workbenches.yaml
  operators/opendatahub-operator/2.30.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.30.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.30.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.30.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.30.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.30.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.30.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.30.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.30.0/manifests/services.platform.opendatahub.io_auths.yaml
  operators/opendatahub-operator/2.30.0/manifests/services.platform.opendatahub.io_monitorings.yaml
  operators/opendatahub-operator/2.30.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.30.0/release-config.yaml
  operators/opendatahub-operator/2.30.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6846 operator project-quay (3.13.6)
  operators/project-quay/3.13.6/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.6/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.6/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6908 operator codeflare-operator (1.16.0)
  operators/codeflare-operator/1.16.0/manifests/codeflare-operator-appwrapper-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.16.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.16.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.16.0/manifests/codeflare-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.16.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.16.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.16.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.16.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.16.0/metadata/annotations.yaml
  operators/codeflare-operator/1.16.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6913 Catalog update [amd-gpu-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/amd-gpu-operator/catalog.yaml
  catalogs/v4.13/amd-gpu-operator/catalog.yaml
  catalogs/v4.14/amd-gpu-operator/catalog.yaml
  catalogs/v4.15/amd-gpu-operator/catalog.yaml
  catalogs/v4.16/amd-gpu-operator/catalog.yaml
  catalogs/v4.17/amd-gpu-operator/catalog.yaml
  catalogs/v4.18/amd-gpu-operator/catalog.yaml
  catalogs/v4.19/amd-gpu-operator/catalog.yaml
  operators/amd-gpu-operator/Makefile
  operators/amd-gpu-operator/catalog-templates/v4.12.yaml
  operators/amd-gpu-operator/catalog-templates/v4.13.yaml
  operators/amd-gpu-operator/catalog-templates/v4.14.yaml
  operators/amd-gpu-operator/catalog-templates/v4.15.yaml
  operators/amd-gpu-operator/catalog-templates/v4.16.yaml
  operators/amd-gpu-operator/catalog-templates/v4.17.yaml
  operators/amd-gpu-operator/catalog-templates/v4.18.yaml
  operators/amd-gpu-operator/catalog-templates/v4.19.yaml
  operators/amd-gpu-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6916 operator ibm-block-csi-operator-community (1.12.4)
  operators/ibm-block-csi-operator-community/1.12.4/bundle-1.12.4.Dockerfile
  operators/ibm-block-csi-operator-community/1.12.4/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.12.4/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.12.4/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.12.4/manifests/ibm-block-csi-operator.v1.12.4.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.12.4/metadata/annotations.yaml
Labels: approved, tests/skip/check_operator_name, operator-hosted-pipeline/started

#6930 operator dapr-kubernetes-operator (0.0.10)
  operators/dapr-kubernetes-operator/0.0.10/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.10/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.10/manifests/operator.dapr.io_daprcruiscontrols.yaml
  operators/dapr-kubernetes-operator/0.0.10/manifests/operator.dapr.io_daprinstances.yaml
  operators/dapr-kubernetes-operator/0.0.10/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.10/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6932 operator gitlab-operator-kubernetes (2.1.0)
  operators/gitlab-operator-kubernetes/2.1.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.1.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.1.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.1.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.1.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.1.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.1.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.1.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.1.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.1.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6933 operator gitlab-runner-operator (1.38.0)
  operators/gitlab-runner-operator/1.38.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.38.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.38.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.38.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.38.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.38.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.38.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6934 operator group-sync-operator (0.0.32)
  operators/group-sync-operator/0.0.32/Dockerfile
  operators/group-sync-operator/0.0.32/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.32/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.32/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.32/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.32/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.32/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.32/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.32/metadata/annotations.yaml
  operators/group-sync-operator/0.0.32/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6922 operator project-quay (3.10.11)
  operators/project-quay/3.10.11/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.11/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.11/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6953 Catalog update [alloydb-omni-operator] [v4.19]
  catalogs/v4.19/alloydb-omni-operator/catalog.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started, catalog-promotion/review-needed

#6957 Catalog update [koku-metrics-operator] [v4.19]
  catalogs/v4.19/koku-metrics-operator/catalog.yaml
  operators/koku-metrics-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started, catalog-promotion/review-needed

#6960 operator skupper-operator (1.9.2)
  operators/skupper-operator/1.9.2/manifests/skupper-operator.v1.9.2.clusterserviceversion.yaml
  operators/skupper-operator/1.9.2/metadata/annotations.yaml
  operators/skupper-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6961 operator flink-kubernetes-operator (1.12.0)
  operators/flink-kubernetes-operator/1.12.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.12.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.12.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.12.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.12.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.12.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.12.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.12.0/manifests/flink.apache.org_flinkstatesnapshots.yaml
  operators/flink-kubernetes-operator/1.12.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.12.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.12.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6964 operator hive-operator (1.2.4863-e9ad0fa)
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive-operator.v1.2.4863-e9ad0fa.clusterserviceversion.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4863-e9ad0fa/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6952 Catalog update [victoriametrics-operator] [v4.19]
  catalogs/v4.19/victoriametrics-operator/catalog.yaml
  operators/victoriametrics-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started, catalog-promotion/review-needed

#6923 operator project-quay (3.9.12)
  operators/project-quay/3.9.12/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.12/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.12/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6977 operator argocd-operator (0.14.0)
  operators/argocd-operator/0.14.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.14.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.14.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.14.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.14.0/manifests/argocd-operator.v0.14.0.clusterserviceversion.yaml
  operators/argocd-operator/0.14.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.14.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.14.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.14.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.14.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.14.0/manifests/argoproj.io_notificationsconfigurations.yaml
  operators/argocd-operator/0.14.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6982 operator mongodb-atlas-kubernetes (2.9.0)
  operators/mongodb-atlas-kubernetes/2.9.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasnetworkcontainers.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasnetworkpeerings.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/atlas.mongodb.com_atlasthirdpartyintegrations.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.9.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6985 fbc changes to dell-csm-operator
  operators/dell-csm-operator/catalog-templates/v4.14.yaml
  operators/dell-csm-operator/catalog-templates/v4.15.yaml
  operators/dell-csm-operator/catalog-templates/v4.16.yaml
  operators/dell-csm-operator/catalog-templates/v4.17.yaml
  operators/dell-csm-operator/catalog-templates/v4.18.yaml
Labels: approved, operator-hosted-pipeline/started

#7003 operator coherence-operator (3.5.2)
  operators/coherence-operator/3.5.2/manifests/coherence-operator-coherence-webhook-server-cert_v1_secret.yaml
  operators/coherence-operator/3.5.2/manifests/coherence-operator-metrics-service_v1_service.yaml
  operators/coherence-operator/3.5.2/manifests/coherence-operator-rest_v1_service.yaml
  operators/coherence-operator/3.5.2/manifests/coherence-operator-webhook_v1_service.yaml
  operators/coherence-operator/3.5.2/manifests/coherence-operator.clusterserviceversion.yaml
  operators/coherence-operator/3.5.2/manifests/coherence.oracle.com_coherence.yaml
  operators/coherence-operator/3.5.2/manifests/coherence.oracle.com_coherencejob.yaml
  operators/coherence-operator/3.5.2/metadata/annotations.yaml
  operators/coherence-operator/3.5.2/release-config.yaml
  operators/coherence-operator/3.5.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started
