Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2025-08, with the labels that each got.

#7285 operator pubsubplus-eventbroker-operator (1.4.0)
  operators/pubsubplus-eventbroker-operator/1.4.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.4.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.4.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.4.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7309 operator group-sync-operator (0.0.35)
  operators/group-sync-operator/0.0.35/Dockerfile
  operators/group-sync-operator/0.0.35/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.35/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.35/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.35/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.35/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.35/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.35/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.35/metadata/annotations.yaml
  operators/group-sync-operator/0.0.35/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7324 Catalog update [hive-operator] [v4.20]
  catalogs/v4.20/hive-operator/catalog.yaml
  operators/hive-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started, catalog-promotion/always

#7327 Catalog update [alloydb-omni-operator] [v4.20]
  catalogs/v4.20/alloydb-omni-operator/catalog.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started, catalog-promotion/review-needed

#7328 Catalog update [coherence-operator] [v4.20]
  catalogs/v4.20/coherence-operator/catalog.yaml
  operators/coherence-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started, catalog-promotion/review-needed

#7346 operator project-quay (3.11.12)
  operators/project-quay/3.11.12/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.12/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.12/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7350 operator mariadb-operator (25.8.3)
  operators/mariadb-operator/25.8.3/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_physicalbackups.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/25.8.3/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/25.8.3/metadata/annotations.yaml
  operators/mariadb-operator/25.8.3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7352 operator project-quay (3.10.13)
  operators/project-quay/3.10.13/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.13/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.13/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7353 operator datadog-operator (1.17.0)
  operators/datadog-operator/1.17.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.17.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.17.0/manifests/datadoghq.com_datadogagentinternals.yaml
  operators/datadog-operator/1.17.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.17.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.17.0/manifests/datadoghq.com_datadogdashboards.yaml
  operators/datadog-operator/1.17.0/manifests/datadoghq.com_datadoggenericresources.yaml
  operators/datadog-operator/1.17.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.17.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.17.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator/1.17.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.17.0/metadata/annotations.yaml
  operators/datadog-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#7354 operator nfs-provisioner-operator (0.0.8)
  operators/nfs-provisioner-operator/0.0.8/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.8/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.8/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.8/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.8/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.8/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7365 Catalog update [trident-operator] [v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.14/trident-operator/catalog.yaml
  catalogs/v4.15/trident-operator/catalog.yaml
  catalogs/v4.16/trident-operator/catalog.yaml
  catalogs/v4.17/trident-operator/catalog.yaml
  catalogs/v4.18/trident-operator/catalog.yaml
  catalogs/v4.19/trident-operator/catalog.yaml
  operators/trident-operator/catalog-templates/v4.14.yaml
  operators/trident-operator/catalog-templates/v4.15.yaml
  operators/trident-operator/catalog-templates/v4.16.yaml
  operators/trident-operator/catalog-templates/v4.17.yaml
  operators/trident-operator/catalog-templates/v4.18.yaml
  operators/trident-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#7369 operator rabbitmq-cluster-operator (2.16.0)
  operators/rabbitmq-cluster-operator/2.16.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.16.0/manifests/rabbitmq-cluster-operator.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.16.0/manifests/rabbitmq.com_rabbitmqcluster.yaml
  operators/rabbitmq-cluster-operator/2.16.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7375 operator group-sync-operator (0.0.36)
  operators/group-sync-operator/0.0.36/Dockerfile
  operators/group-sync-operator/0.0.36/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.36/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.36/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.36/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.36/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.36/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.36/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.36/metadata/annotations.yaml
  operators/group-sync-operator/0.0.36/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7384 operator apicurio-registry-3 (3.0.12)
  operators/apicurio-registry-3/3.0.12/bundle.Dockerfile
  operators/apicurio-registry-3/3.0.12/manifests/apicurio-registry-3.clusterserviceversion.yaml
  operators/apicurio-registry-3/3.0.12/manifests/registry.apicur.io_apicurioregistries3.yaml
  operators/apicurio-registry-3/3.0.12/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7388 operator opendatahub-operator (2.33.0)
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_codeflares.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_dashboards.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_datasciencepipelines.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_feastoperators.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_kserves.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_kueues.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_llamastackoperators.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_modelcontrollers.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_modelmeshservings.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_modelregistries.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_rays.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_trainingoperators.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_trustyais.yaml
  operators/opendatahub-operator/2.33.0/manifests/components.platform.opendatahub.io_workbenches.yaml
  operators/opendatahub-operator/2.33.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.33.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.33.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.33.0/manifests/infrastructure.opendatahub.io_hardwareprofiles.yaml
  operators/opendatahub-operator/2.33.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.33.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.33.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.33.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.33.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.33.0/manifests/services.platform.opendatahub.io_auths.yaml
  operators/opendatahub-operator/2.33.0/manifests/services.platform.opendatahub.io_monitorings.yaml
  operators/opendatahub-operator/2.33.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.33.0/release-config.yaml
  operators/opendatahub-operator/2.33.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7472 operator gitlab-operator-kubernetes (2.2.3)
  operators/gitlab-operator-kubernetes/2.2.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.2.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7482 operator keycloak-operator (26.3.3)
  operators/keycloak-operator/26.3.3/bundle.Dockerfile
  operators/keycloak-operator/26.3.3/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.3.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.3.3/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.3.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7487 operator grafana-operator (5.19.4)
  operators/grafana-operator/5.19.4/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.19.4/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.19.4/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.19.4/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanalibrarypanels.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanamutetimings.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafananotificationtemplates.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.19.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7488 operator dynatrace-operator (1.6.2)
  operators/dynatrace-operator/1.6.2/Dockerfile
  operators/dynatrace-operator/1.6.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.6.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.6.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.6.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.6.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.6.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7517 Catalog update [multi-nic-cni-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19,v4.20]
  catalogs/v4.12/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.13/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.14/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.15/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.16/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.17/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.18/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.19/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.20/multi-nic-cni-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/started

#7523 operator project-quay (3.13.8)
  operators/project-quay/3.13.8/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.8/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.8/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7525 operator neuvector-community-operator (1.5.5)
  operators/neuvector-community-operator/1.5.5/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.5.5/manifests/neuvector-operator.v1.5.5.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.5.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7527 update ci.yaml
  operators/neuvector-community-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started
