Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2025-02, with the labels that each got.

#5777 Delete AlloyDB Omni operator
  operators/alloydb-omni-operator/1.2.0/bundle.Dockerfile
  operators/alloydb-omni-operator/1.2.0/manifests/alloydb-omni-operator.clusterserviceversion.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_backupplans.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_backups.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_dbclusters.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_dbinstances.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_replications.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_restores.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_switchovers.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_backuprepositories.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_createstandbyjobs.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_deletestandbyjobs.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackupplans.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackups.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_instancerestores.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_instances.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_instanceswitchovers.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_lrojobs.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_replicationconfigs.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/fleet-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/fleet-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/fleet-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/local-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/local-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/local-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.2.0/metadata/annotations.yaml
  operators/alloydb-omni-operator/1.2.0/metadata/dependencies.yaml
  operators/alloydb-omni-operator/Makefile
  operators/alloydb-omni-operator/catalog-templates/v4.12.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.13.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.14.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.15.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.16.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.17.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.18.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#5870 operator portworx-essentials (24.2.2)
  operators/portworx-essentials/24.2.2/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/24.2.2/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/24.2.2/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/24.2.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5871 operator stackgres-community (1.15.0)
  operators/stackgres-community/1.15.0/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.15.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.15.0/metadata/annotations.yaml
  operators/stackgres-community/1.15.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5875 operator eginnovations-operator (0.0.10)
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-eguniversalagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-eguniversalagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.10/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.10/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5855 operator dell-csm-operator (1.8.0)
  operators/dell-csm-operator/1.8.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.8.0/manifests/dell-csm-operator.v1.8.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.8.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#5874 operator alloydb-omni-operator (1.3.0)
  operators/alloydb-omni-operator/1.3.0/bundle.Dockerfile
  operators/alloydb-omni-operator/1.3.0/manifests/alloydb-omni-operator.clusterserviceversion.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_backupplans.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_backups.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_dbclusters.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_dbinstances.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_pgbouncers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_replications.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_restores.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_switchovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_backuprepositories.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_createstandbyjobs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_deletestandbyjobs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackupplans.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackups.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instancerestores.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instances.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instanceswitchovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_lrojobs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_replicationconfigs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/fleet-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/fleet-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/fleet-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/local-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/local-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/local-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/metadata/annotations.yaml
  operators/alloydb-omni-operator/1.3.0/metadata/dependencies.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5879 operator keycloak-operator (26.1.1)
  operators/keycloak-operator/26.1.1/bundle.Dockerfile
  operators/keycloak-operator/26.1.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.1.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5880 Catalog update [dell-csm-operator] [v4.16,v4.14,v4.15,v4.17]
  catalogs/v4.14/dell-csm-operator/catalog.yaml
  catalogs/v4.15/dell-csm-operator/catalog.yaml
  catalogs/v4.16/dell-csm-operator/catalog.yaml
  catalogs/v4.17/dell-csm-operator/catalog.yaml
  operators/dell-csm-operator/catalog-templates/v4.14.yaml
  operators/dell-csm-operator/catalog-templates/v4.15.yaml
  operators/dell-csm-operator/catalog-templates/v4.16.yaml
  operators/dell-csm-operator/catalog-templates/v4.17.yaml
  operators/dell-csm-operator/ci.yaml
Labels: authorized-changes, operator-hosted-pipeline/passed

#5831 operator percona-server-mongodb-operator (1.19.0)
  operators/percona-server-mongodb-operator/1.19.0/manifests/percona-server-mongodb-operator.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.19.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.19.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.19.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.19.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/passed

#5881 operator ibm-block-csi-operator-community (1.12.1)
  operators/ibm-block-csi-operator-community/1.12.1/bundle-1.12.1.Dockerfile
  operators/ibm-block-csi-operator-community/1.12.1/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.12.1/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.12.1/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.12.1/manifests/ibm-block-csi-operator.v1.12.1.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.12.1/metadata/annotations.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#5883 operator mongodb-atlas-kubernetes (2.7.0)
  operators/mongodb-atlas-kubernetes/2.7.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5890 Add mapping to trident-operator FBC operator
  operators/trident-operator/Makefile
  operators/trident-operator/catalog-templates/basic.yaml
  operators/trident-operator/catalog-templates/v4.13.yaml
  operators/trident-operator/catalog-templates/v4.14.yaml
  operators/trident-operator/catalog-templates/v4.15.yaml
  operators/trident-operator/catalog-templates/v4.16.yaml
  operators/trident-operator/catalog-templates/v4.17.yaml
  operators/trident-operator/catalog-templates/v4.18.yaml
  operators/trident-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5891 Add mapping to shipwright-operator FBC operator
  operators/shipwright-operator/Makefile
  operators/shipwright-operator/catalog-templates/basic.yaml
  operators/shipwright-operator/catalog-templates/v4.14.yaml
  operators/shipwright-operator/catalog-templates/v4.15.yaml
  operators/shipwright-operator/catalog-templates/v4.16.yaml
  operators/shipwright-operator/catalog-templates/v4.17.yaml
  operators/shipwright-operator/catalog-templates/v4.18.yaml
  operators/shipwright-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5893 Catalog update [kiali] [v4.17,v4.13,v4.16,v4.14,v4.18,v4.12,v4.15]
  catalogs/v4.12/kiali/catalog.yaml
  catalogs/v4.13/kiali/catalog.yaml
  catalogs/v4.14/kiali/catalog.yaml
  catalogs/v4.15/kiali/catalog.yaml
  catalogs/v4.16/kiali/catalog.yaml
  catalogs/v4.17/kiali/catalog.yaml
  catalogs/v4.18/kiali/catalog.yaml
  operators/kiali/Makefile
  operators/kiali/ci.yaml
Labels: operator-hosted-pipeline/failed

#5894 Catalog update [hazelcast-platform-operator] [v4.15,v4.14,v4.16,v4.13,v4.12,v4.17]
  catalogs/v4.12/hazelcast-platform-operator/catalog.yaml
  catalogs/v4.13/hazelcast-platform-operator/catalog.yaml
  catalogs/v4.14/hazelcast-platform-operator/catalog.yaml
  catalogs/v4.15/hazelcast-platform-operator/catalog.yaml
  catalogs/v4.16/hazelcast-platform-operator/catalog.yaml
  catalogs/v4.17/hazelcast-platform-operator/catalog.yaml
  operators/hazelcast-platform-operator/Makefile
  operators/hazelcast-platform-operator/ci.yaml
Labels: operator-hosted-pipeline/failed

#5896 Catalog update [alloydb-omni-operator] [v4.17,v4.14,v4.12,v4.18,v4.13,v4.16,v4.15]
  catalogs/v4.12/alloydb-omni-operator/catalog.yaml
  catalogs/v4.13/alloydb-omni-operator/catalog.yaml
  catalogs/v4.14/alloydb-omni-operator/catalog.yaml
  catalogs/v4.15/alloydb-omni-operator/catalog.yaml
  catalogs/v4.16/alloydb-omni-operator/catalog.yaml
  catalogs/v4.17/alloydb-omni-operator/catalog.yaml
  catalogs/v4.18/alloydb-omni-operator/catalog.yaml
  operators/alloydb-omni-operator/Makefile
  operators/alloydb-omni-operator/catalog-templates/v4.12.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.13.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.14.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.15.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.16.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.17.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.18.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5898 operator project-quay (3.11.8)
  operators/project-quay/3.11.8/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.8/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5904 operator edp-keycloak-operator (1.24.0)
  operators/edp-keycloak-operator/1.24.0/manifests/client-secret-authorization-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/client-secret-policy-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.24.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.24.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5905 operator aerospike-kubernetes-operator (4.0.0)
  operators/aerospike-kubernetes-operator/4.0.0/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/4.0.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/asdb.aerospike.com_aerospikebackups.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/asdb.aerospike.com_aerospikebackupservices.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/asdb.aerospike.com_aerospikerestores.yaml
  operators/aerospike-kubernetes-operator/4.0.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/4.0.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5915 operator project-quay (3.10.8)
  operators/project-quay/3.10.8/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.8/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5920 Fix Makefiles for fbc operator
  operators/dell-csm-operator/Makefile
  operators/hazelcast-platform-operator/Makefile
  operators/kiali/Makefile
  operators/odf-node-recovery-operator/Makefile
  operators/shipwright-operator/Makefile
  operators/trident-operator/Makefile
  operators/victoriametrics-operator/Makefile
Labels: operator-hosted-pipeline/failed

#5922 operator openshift-node-upgrade-mutex-operator (0.2.53)
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5926 operator camel-k (2.5.1)
  operators/camel-k/2.5.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/camel-k.v2.5.1.clusterserviceversion.yaml
  operators/camel-k/2.5.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/metadata/annotations.yaml
  operators/camel-k/2.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5929 operator ndmspc-operator (0.20250209.0)
  operators/ndmspc-operator/0.20250209.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.20250209.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.20250209.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.20250209.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.20250209.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.20250209.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.20250209.0/metadata/dependency.yaml
  operators/ndmspc-operator/0.20250209.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5925 Delete AlloyDB Omni operator
  operators/alloydb-omni-operator/1.3.0/bundle.Dockerfile
  operators/alloydb-omni-operator/1.3.0/manifests/alloydb-omni-operator.clusterserviceversion.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_backupplans.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_backups.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_dbclusters.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_dbinstances.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_pgbouncers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_replications.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_restores.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_switchovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_backuprepositories.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_createstandbyjobs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_deletestandbyjobs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackupplans.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackups.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instancerestores.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instances.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instanceswitchovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_lrojobs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_replicationconfigs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/fleet-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/fleet-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/fleet-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/local-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/local-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/local-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/metadata/annotations.yaml
  operators/alloydb-omni-operator/1.3.0/metadata/dependencies.yaml
  operators/alloydb-omni-operator/Makefile
  operators/alloydb-omni-operator/catalog-templates/v4.12.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.13.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.14.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.15.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.16.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.17.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.18.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#5938 Catalog update [alloydb-omni-operator] [v4.12,v4.18,v4.16,v4.15,v4.13,v4.14,v4.17]
  catalogs/v4.12/alloydb-omni-operator/catalog.yaml
  catalogs/v4.13/alloydb-omni-operator/catalog.yaml
  catalogs/v4.14/alloydb-omni-operator/catalog.yaml
  catalogs/v4.15/alloydb-omni-operator/catalog.yaml
  catalogs/v4.16/alloydb-omni-operator/catalog.yaml
  catalogs/v4.17/alloydb-omni-operator/catalog.yaml
  catalogs/v4.18/alloydb-omni-operator/catalog.yaml
  operators/alloydb-omni-operator/Makefile
  operators/alloydb-omni-operator/catalog-templates/v4.12.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.13.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.14.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.15.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.16.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.17.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.18.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5940 operator hive-operator (1.2.4703-02f3f00)
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive-operator.v1.2.4703-02f3f00.clusterserviceversion.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4703-02f3f00/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5941 operator datadog-operator (1.12.1)
  operators/datadog-operator/1.12.1/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.12.1/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.12.1/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.12.1/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.12.1/manifests/datadoghq.com_datadogdashboards.yaml
  operators/datadog-operator/1.12.1/manifests/datadoghq.com_datadoggenericresources.yaml
  operators/datadog-operator/1.12.1/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.12.1/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.12.1/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator/1.12.1/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.12.1/metadata/annotations.yaml
  operators/datadog-operator/1.12.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5945 operator gitlab-operator-kubernetes (1.9.2)
  operators/gitlab-operator-kubernetes/1.9.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.9.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5953 update: reviewer list
  operators/opendatahub-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5954 operator dynatrace-operator (1.4.1)
  operators/dynatrace-operator/1.4.1/Dockerfile
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-controller_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-logmonitoring_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-logmonitoring_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-node-config-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.4.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5959 operator codeflare-operator (1.15.0)
  operators/codeflare-operator/1.15.0/manifests/codeflare-operator-appwrapper-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.15.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.15.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.15.0/manifests/codeflare-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.15.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.15.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.15.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.15.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.15.0/metadata/annotations.yaml
  operators/codeflare-operator/1.15.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5960 operator flink-kubernetes-operator (1.10.0)
  operators/flink-kubernetes-operator/1.10.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.10.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink.apache.org_flinkstatesnapshots.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.10.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5971 operator mongodb-atlas-kubernetes (2.7.1)
  operators/mongodb-atlas-kubernetes/2.7.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6012 operator stackgres-community (1.15.1)
  operators/stackgres-community/1.15.1/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.15.1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.15.1/metadata/annotations.yaml
  operators/stackgres-community/1.15.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6013 Use catalog_mapping for alloydb-omni-operator
  operators/alloydb-omni-operator/catalog-templates/basic.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.13.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.14.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.15.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.16.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.17.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.18.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#6014 operator camel-k (2.6.0)
  operators/camel-k/2.6.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/camel-k.v2.6.0.clusterserviceversion.yaml
  operators/camel-k/2.6.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/metadata/annotations.yaml
  operators/camel-k/2.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6018 Added katheris as Strimzi operator reviewer
  operators/strimzi-kafka-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#6017 operator flux-operator (0.14.0)
  operators/flux-operator/0.14.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.14.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.14.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.14.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.14.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.14.0/metadata/annotations.yaml
  operators/flux-operator/0.14.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6019 operator bpfman-operator (0.5.6)
  operators/bpfman-operator/0.5.6/bundle.Dockerfile
  operators/bpfman-operator/0.5.6/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-bpfnsprogram-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-bpfnsprogram-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-operator-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_bpfnsapplications.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_bpfnsprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_tcnsprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_tcxnsprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_tcxprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_uprobensprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_xdpnsprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.6/metadata/annotations.yaml
  operators/bpfman-operator/0.5.6/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6079 operator flux-operator (0.15.0)
  operators/flux-operator/0.15.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.15.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.15.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.15.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.15.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.15.0/metadata/annotations.yaml
  operators/flux-operator/0.15.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6078 operator gitlab-operator-kubernetes (1.10.0)
  operators/gitlab-operator-kubernetes/1.10.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6100 operator flux-operator (0.16.0)
  operators/flux-operator/0.16.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.16.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.16.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.16.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.16.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.16.0/metadata/annotations.yaml
  operators/flux-operator/0.16.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6095 operator ndb-operator (1.6.0)
  operators/ndb-operator/1.6.0/bundle.Dockerfile
  operators/ndb-operator/1.6.0/manifests/mysql.oracle.com_ndbclusters.yaml
  operators/ndb-operator/1.6.0/manifests/ndb-operator-svc_v1_service.yaml
  operators/ndb-operator/1.6.0/manifests/ndb-operator-webhook-service_v1_service.yaml
  operators/ndb-operator/1.6.0/manifests/ndb-operator.clusterserviceversion.yaml
  operators/ndb-operator/1.6.0/metadata/annotations.yaml
  operators/ndb-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/passed

#6097 operator opendatahub-operator (2.25.0)
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_codeflares.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_dashboards.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_datasciencepipelines.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_feastoperators.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_kserves.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_kueues.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_modelcontrollers.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_modelmeshservings.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_modelregistries.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_rays.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_trainingoperators.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_trustyais.yaml
  operators/opendatahub-operator/2.25.0/manifests/components.platform.opendatahub.io_workbenches.yaml
  operators/opendatahub-operator/2.25.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.25.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.25.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.25.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.25.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.25.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.25.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.25.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.25.0/manifests/services.platform.opendatahub.io_auths.yaml
  operators/opendatahub-operator/2.25.0/manifests/services.platform.opendatahub.io_monitorings.yaml
  operators/opendatahub-operator/2.25.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.25.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6103 operator gitlab-operator-kubernetes (1.10.1)
  operators/gitlab-operator-kubernetes/1.10.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.10.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6032 operator gitlab-runner-operator (1.34.0)
  operators/gitlab-runner-operator/1.34.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.34.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6109 operator keycloak-operator (26.1.3)
  operators/keycloak-operator/26.1.3/bundle.Dockerfile
  operators/keycloak-operator/26.1.3/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.1.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.3/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6110 operator flux-operator (0.17.0)
  operators/flux-operator/0.17.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.17.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.17.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.17.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.17.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.17.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.17.0/metadata/annotations.yaml
  operators/flux-operator/0.17.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6111 Catalog update [multi-nic-cni-operator] [v4.18,v4.13,v4.12,v4.16,v4.15,v4.14,v4.17]
  catalogs/v4.12/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.13/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.14/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.15/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.16/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.17/multi-nic-cni-operator/catalog.yaml
  catalogs/v4.18/multi-nic-cni-operator/catalog.yaml
  operators/multi-nic-cni-operator/Makefile
  operators/multi-nic-cni-operator/catalog-templates/v4.12.yaml
  operators/multi-nic-cni-operator/catalog-templates/v4.13.yaml
  operators/multi-nic-cni-operator/catalog-templates/v4.14.yaml
  operators/multi-nic-cni-operator/catalog-templates/v4.15.yaml
  operators/multi-nic-cni-operator/catalog-templates/v4.16.yaml
  operators/multi-nic-cni-operator/catalog-templates/v4.17.yaml
  operators/multi-nic-cni-operator/catalog-templates/v4.18.yaml
  operators/multi-nic-cni-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started
