Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2025-03, with the labels that each got.

#6114 operator multicluster-global-hub-operator (1.4.0-dev.20250302)
  operators/multicluster-global-hub-operator/1.4.0-dev.20250302/manifests/global-hub.open-cluster-management.io_managedclustermigrations.yaml
  operators/multicluster-global-hub-operator/1.4.0-dev.20250302/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.4.0-dev.20250302/manifests/multicluster-global-hub-webhook_v1_service.yaml
  operators/multicluster-global-hub-operator/1.4.0-dev.20250302/manifests/operator.open-cluster-management.io_multiclusterglobalhubagents.yaml
  operators/multicluster-global-hub-operator/1.4.0-dev.20250302/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.4.0-dev.20250302/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6121 operator automotive-infra (0.0.7)
  operators/automotive-infra/0.0.7/manifests/automotive-infra-controller-manager-metrics-service_v1_service.yaml
  operators/automotive-infra/0.0.7/manifests/automotive-infra-manager-config_v1_configmap.yaml
  operators/automotive-infra/0.0.7/manifests/automotive-infra-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.7/manifests/automotive-infra-operatorconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.7/manifests/automotive-infra-operatorconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.7/manifests/automotive-infra.clusterserviceversion.yaml
  operators/automotive-infra/0.0.7/manifests/automotive.sig.centos.org_containerbuilds.yaml
  operators/automotive-infra/0.0.7/manifests/automotive.sig.centos.org_imagebuilds.yaml
  operators/automotive-infra/0.0.7/manifests/automotive.sig.centos.org_operatorconfigs.yaml
  operators/automotive-infra/0.0.7/metadata/annotations.yaml
  operators/automotive-infra/0.0.7/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6124 operator automotive-infra (0.0.8)
  operators/automotive-infra/0.0.8/manifests/automotive-infra-controller-manager-metrics-service_v1_service.yaml
  operators/automotive-infra/0.0.8/manifests/automotive-infra-manager-config_v1_configmap.yaml
  operators/automotive-infra/0.0.8/manifests/automotive-infra-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.8/manifests/automotive-infra-operatorconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.8/manifests/automotive-infra-operatorconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.8/manifests/automotive-infra.clusterserviceversion.yaml
  operators/automotive-infra/0.0.8/manifests/automotive.sig.centos.org_containerbuilds.yaml
  operators/automotive-infra/0.0.8/manifests/automotive.sig.centos.org_imagebuilds.yaml
  operators/automotive-infra/0.0.8/manifests/automotive.sig.centos.org_operatorconfigs.yaml
  operators/automotive-infra/0.0.8/metadata/annotations.yaml
  operators/automotive-infra/0.0.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6126 operator postgresql (5.7.4)
  operators/postgresql/5.7.4/Dockerfile
  operators/postgresql/5.7.4/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.4/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.4/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.4/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.4/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.7.4/metadata/annotations.yaml
  operators/postgresql/5.7.4/tests/scorecard/config.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#6125 operator infinispan (2.4.11)
  operators/infinispan/2.4.11/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.11/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.11/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.11/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.11/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.11/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.11/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.11/metadata/annotations.yaml
  operators/infinispan/2.4.11/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6130 operator project-quay (3.12.8)
  operators/project-quay/3.12.8/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.8/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6134 operator project-quay (3.11.9)
  operators/project-quay/3.11.9/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.9/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6136 operator project-quay (3.10.9)
  operators/project-quay/3.10.9/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.9/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6135 operator shipwright-operator (0.15.2)
  operators/shipwright-operator/0.15.2/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.15.2/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.15.2/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.15.2/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.15.2/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.15.2/metadata/annotations.yaml
  operators/shipwright-operator/0.15.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6142 operator mongodb-atlas-kubernetes (2.8.0)
  operators/mongodb-atlas-kubernetes/2.8.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasnetworkcontainers.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasnetworkpeerings.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6143 operator trident-operator (24.10.1)
  operators/trident-operator/24.10.1/manifests/trident-operator.v24.10.1.clusterserviceversion.yaml
  operators/trident-operator/24.10.1/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/24.10.1/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.10.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6144 Catalog update [trident-operator] [v4.15,v4.13,v4.18,v4.14,v4.17,v4.12,v4.16]
  catalogs/v4.12/trident-operator/catalog.yaml
  catalogs/v4.13/trident-operator/catalog.yaml
  catalogs/v4.14/trident-operator/catalog.yaml
  catalogs/v4.15/trident-operator/catalog.yaml
  catalogs/v4.16/trident-operator/catalog.yaml
  catalogs/v4.17/trident-operator/catalog.yaml
  catalogs/v4.18/trident-operator/catalog.yaml
  operators/trident-operator/catalog-templates/basic.yaml
Labels: operator-hosted-pipeline/started

#6149 operator move2kube-operator (0.3.15)
  operators/move2kube-operator/0.3.15/bundle.Dockerfile
  operators/move2kube-operator/0.3.15/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.15/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.15/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.15/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.15/metadata/annotations.yaml
  operators/move2kube-operator/0.3.15/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6145 operator stackgres-community (1.15.2)
  operators/stackgres-community/1.15.2/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.15.2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.15.2/metadata/annotations.yaml
  operators/stackgres-community/1.15.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6150 operator trustify-operator (0.1.0-alpha.9)
  operators/trustify-operator/0.1.0-alpha.9/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.9/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6151 operator edp-keycloak-operator (1.25.0)
  operators/edp-keycloak-operator/1.25.0/manifests/client-secret-authorization-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/client-secret-policy-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.25.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.25.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6165 operator hive-operator (1.2.4731-41f153f)
  operators/hive-operator/1.2.4731-41f153f/manifests/hive-operator.v1.2.4731-41f153f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4731-41f153f/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6168 operator trident-operator (25.2.0)
  operators/trident-operator/25.2.0/manifests/trident-operator.v25.2.0.clusterserviceversion.yaml
  operators/trident-operator/25.2.0/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/25.2.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/25.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6170 operator aerospike-kubernetes-operator (4.0.1)
  operators/aerospike-kubernetes-operator/4.0.1/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/4.0.1/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/asdb.aerospike.com_aerospikebackups.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/asdb.aerospike.com_aerospikebackupservices.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/asdb.aerospike.com_aerospikerestores.yaml
  operators/aerospike-kubernetes-operator/4.0.1/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/4.0.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6171 operator grafana-operator (5.17.0)
  operators/grafana-operator/5.17.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.17.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.17.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.17.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafanalibrarypanels.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafanamutetimings.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafananotificationtemplates.yaml
  operators/grafana-operator/5.17.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.17.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6173 Catalog update [trident-operator] [v4.12,v4.18,v4.16,v4.13,v4.14,v4.15,v4.17]
  catalogs/v4.12/trident-operator/catalog.yaml
  catalogs/v4.13/trident-operator/catalog.yaml
  catalogs/v4.14/trident-operator/catalog.yaml
  catalogs/v4.15/trident-operator/catalog.yaml
  catalogs/v4.16/trident-operator/catalog.yaml
  catalogs/v4.17/trident-operator/catalog.yaml
  catalogs/v4.18/trident-operator/catalog.yaml
  operators/trident-operator/catalog-templates/basic.yaml
Labels: operator-hosted-pipeline/started

#6175 operator trident-operator (25.2.1)
  operators/trident-operator/25.2.1/manifests/trident-operator.v25.2.1.clusterserviceversion.yaml
  operators/trident-operator/25.2.1/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/25.2.1/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/25.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6176 Catalog update [trident-operator] [v4.12,v4.18,v4.17,v4.14,v4.15,v4.13,v4.16]
  catalogs/v4.12/trident-operator/catalog.yaml
  catalogs/v4.13/trident-operator/catalog.yaml
  catalogs/v4.14/trident-operator/catalog.yaml
  catalogs/v4.15/trident-operator/catalog.yaml
  catalogs/v4.16/trident-operator/catalog.yaml
  catalogs/v4.17/trident-operator/catalog.yaml
  catalogs/v4.18/trident-operator/catalog.yaml
  operators/trident-operator/catalog-templates/basic.yaml
Labels: operator-hosted-pipeline/started

#6178 operator multicluster-global-hub-operator (1.4.0)
  operators/multicluster-global-hub-operator/1.4.0/manifests/global-hub.open-cluster-management.io_managedclustermigrations.yaml
  operators/multicluster-global-hub-operator/1.4.0/manifests/multicluster-global-hub-operator.clusterserviceversion.yaml
  operators/multicluster-global-hub-operator/1.4.0/manifests/multicluster-global-hub-webhook_v1_service.yaml
  operators/multicluster-global-hub-operator/1.4.0/manifests/operator.open-cluster-management.io_multiclusterglobalhubagents.yaml
  operators/multicluster-global-hub-operator/1.4.0/manifests/operator.open-cluster-management.io_multiclusterglobalhubs.yaml
  operators/multicluster-global-hub-operator/1.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6179 operator gitlab-operator-kubernetes (1.10.2)
  operators/gitlab-operator-kubernetes/1.10.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.10.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6185 operator keycloak-operator (26.1.4)
  operators/keycloak-operator/26.1.4/bundle.Dockerfile
  operators/keycloak-operator/26.1.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.1.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6186 operator project-quay (3.9.10)
  operators/project-quay/3.9.10/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.10/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6187 operator cass-operator-community (1.23.1)
  operators/cass-operator-community/1.23.1/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.23.1/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.23.1/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.23.1/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.23.1/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.23.1/metadata/annotations.yaml
  operators/cass-operator-community/1.23.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6192 operator automotive-infra (0.0.9)
  operators/automotive-infra/0.0.9/manifests/automotive-infra-controller-manager-metrics-service_v1_service.yaml
  operators/automotive-infra/0.0.9/manifests/automotive-infra-manager-config_v1_configmap.yaml
  operators/automotive-infra/0.0.9/manifests/automotive-infra-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.9/manifests/automotive-infra-operatorconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.9/manifests/automotive-infra-operatorconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.9/manifests/automotive-infra.clusterserviceversion.yaml
  operators/automotive-infra/0.0.9/manifests/automotive.sig.centos.org_containerbuilds.yaml
  operators/automotive-infra/0.0.9/manifests/automotive.sig.centos.org_imagebuilds.yaml
  operators/automotive-infra/0.0.9/manifests/automotive.sig.centos.org_operatorconfigs.yaml
  operators/automotive-infra/0.0.9/metadata/annotations.yaml
  operators/automotive-infra/0.0.9/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6195 operator flux-operator (0.18.0)
  operators/flux-operator/0.18.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.18.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.18.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.18.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.18.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.18.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.18.0/metadata/annotations.yaml
  operators/flux-operator/0.18.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6200 operator loki-operator (0.8.0)
  operators/loki-operator/0.8.0/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-controller-manager-metrics-token_v1_secret.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.8.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.8.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.8.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.8.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.8.0/metadata/annotations.yaml
  operators/loki-operator/0.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6197 operator vault-config-operator (0.8.30)
  operators/vault-config-operator/0.8.30/Dockerfile
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_azureauthengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_azureauthengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_azuresecretengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_azuresecretengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_certauthengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_certauthengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_gcpauthengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_gcpauthengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.30/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.30/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.30/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.30/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.30/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.30/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.30/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.30/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.30/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.30/metadata/annotations.yaml
  operators/vault-config-operator/0.8.30/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6210 operator opendatahub-operator (2.26.0)
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_codeflares.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_dashboards.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_datasciencepipelines.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_feastoperators.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_kserves.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_kueues.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_modelcontrollers.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_modelmeshservings.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_modelregistries.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_rays.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_trainingoperators.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_trustyais.yaml
  operators/opendatahub-operator/2.26.0/manifests/components.platform.opendatahub.io_workbenches.yaml
  operators/opendatahub-operator/2.26.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.26.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.26.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.26.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.26.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.26.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.26.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.26.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.26.0/manifests/services.platform.opendatahub.io_auths.yaml
  operators/opendatahub-operator/2.26.0/manifests/services.platform.opendatahub.io_monitorings.yaml
  operators/opendatahub-operator/2.26.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.26.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6204 operator verticadb-operator (25.2.0-0)
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_verticareplicators.yaml
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/25.2.0-0/metadata/annotations.yaml
  operators/verticadb-operator/25.2.0-0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6213 operator datadog-operator (1.13.0)
  operators/datadog-operator/1.13.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.13.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.13.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.13.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.13.0/manifests/datadoghq.com_datadogdashboards.yaml
  operators/datadog-operator/1.13.0/manifests/datadoghq.com_datadoggenericresources.yaml
  operators/datadog-operator/1.13.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.13.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.13.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator/1.13.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.13.0/metadata/annotations.yaml
  operators/datadog-operator/1.13.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6214 operator gitlab-runner-operator (1.35.0)
  operators/gitlab-runner-operator/1.35.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.35.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6202 operator percona-postgresql-operator (2.6.0)
  operators/percona-postgresql-operator/2.6.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/percona-postgresql-operator.v2.6.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6219 operator cass-operator-community (1.23.2)
  operators/cass-operator-community/1.23.2/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.23.2/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.23.2/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.23.2/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.23.2/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.23.2/metadata/annotations.yaml
  operators/cass-operator-community/1.23.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6222 operator stackgres-community (1.16.0-rc1)
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.16.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.16.0-rc1/metadata/annotations.yaml
  operators/stackgres-community/1.16.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6205 operator flink-kubernetes-operator (1.11.0)
  operators/flink-kubernetes-operator/1.11.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.11.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink.apache.org_flinkstatesnapshots.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#6229 Add push-bundle option to publish new release
  operators/multi-nic-cni-operator/1.2.6/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.2.6/bundle/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.6/bundle/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.6/bundle/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.6/bundle/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.6/bundle/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.6/bundle/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.6/bundle/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.6/bundle/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.6/bundle/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.6/bundle/tests/scorecard/config.yaml
  operators/multi-nic-cni-operator/Makefile
Labels: operator-hosted-pipeline/started

#6230 auto-release to the OCP catalogs in the FBC mode
  operators/multi-nic-cni-operator/1.2.6/bundle/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.6/release-config.yaml
  operators/multi-nic-cni-operator/Makefile
  operators/multi-nic-cni-operator/version-info.mk
Labels: operator-hosted-pipeline/started

#6231 add ocp version 4.18 support
  operators/multi-nic-cni-operator/1.2.6/release-config.yaml
  operators/multi-nic-cni-operator/Makefile
Labels: operator-hosted-pipeline/started

#6220 operator gitlab-operator-kubernetes (1.11.0)
  operators/gitlab-operator-kubernetes/1.11.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#6238 operator openshift-node-upgrade-mutex-operator (0.2.59)
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6236 operator multi-nic-cni-operator (1.2.6)
  operators/multi-nic-cni-operator/1.2.6/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.6/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.6/release-config.yaml
  operators/multi-nic-cni-operator/1.2.6/tests/scorecard/config.yaml
  operators/multi-nic-cni-operator/Makefile
  operators/multi-nic-cni-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6245 operator odf-node-recovery-operator (1.0.0)
  operators/odf-node-recovery-operator/1.0.0/manifests/odf-node-recovery-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odf-node-recovery-operator/1.0.0/manifests/odf-node-recovery-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odf-node-recovery-operator/1.0.0/manifests/odf-node-recovery-operator.clusterserviceversion.yaml
  operators/odf-node-recovery-operator/1.0.0/manifests/odf.openshift.io_noderecoveries.yaml
  operators/odf-node-recovery-operator/1.0.0/metadata/annotations.yaml
  operators/odf-node-recovery-operator/1.0.0/tests/scorecard/config.yaml
  operators/odf-node-recovery-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6246 Catalog update [odf-node-recovery-operator] [v4.14,v4.12,v4.13]
  catalogs/v4.12/odf-node-recovery-operator/catalog.yaml
  catalogs/v4.13/odf-node-recovery-operator/catalog.yaml
  catalogs/v4.14/odf-node-recovery-operator/catalog.yaml
  operators/odf-node-recovery-operator/catalog-templates/basic.yaml
Labels: approved, operator-hosted-pipeline/started

#6252 operator mariadb-operator (0.38.0)
  operators/mariadb-operator/0.38.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.38.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.38.0/metadata/annotations.yaml
  operators/mariadb-operator/0.38.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6258 operator gitlab-operator-kubernetes (1.11.1)
  operators/gitlab-operator-kubernetes/1.11.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.11.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6260 operator neuvector-community-operator (1.5.2)
  operators/neuvector-community-operator/1.5.2/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.5.2/manifests/neuvector-operator.v1.5.2.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.5.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6263 operator stackgres-community (1.16.0-rc2)
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.16.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.16.0-rc2/metadata/annotations.yaml
  operators/stackgres-community/1.16.0-rc2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6254 operator hive-operator (1.2.4746-d25e0db)
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive-operator.v1.2.4746-d25e0db.clusterserviceversion.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4746-d25e0db/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6275 removing coherence operator to fix folder format
  operators/coherence-operator/3.4.3/bundle/manifests/coherence-operator-coherence-webhook-server-cert_v1_secret.yaml
  operators/coherence-operator/3.4.3/bundle/manifests/coherence-operator-metrics-service_v1_service.yaml
  operators/coherence-operator/3.4.3/bundle/manifests/coherence-operator-rest_v1_service.yaml
  operators/coherence-operator/3.4.3/bundle/manifests/coherence-operator-webhook_v1_service.yaml
  operators/coherence-operator/3.4.3/bundle/manifests/coherence-operator.clusterserviceversion.yaml
  operators/coherence-operator/3.4.3/bundle/manifests/coherence.oracle.com_coherence.yaml
  operators/coherence-operator/3.4.3/bundle/manifests/coherence.oracle.com_coherencejob.yaml
  operators/coherence-operator/3.4.3/bundle/metadata/annotations.yaml
  operators/coherence-operator/3.4.3/bundle/tests/scorecard/config.yaml
  operators/coherence-operator/3.4.3/release-config.yaml
  operators/coherence-operator/Makefile
  operators/coherence-operator/ci.yaml
Labels: approved, lgtm, operator-hosted-pipeline/passed

#6274 Catalog update [dell-csm-operator] [v4.18,v4.14,v4.16,v4.15,v4.17]
  catalogs/v4.14/dell-csm-operator/catalog.yaml
  catalogs/v4.15/dell-csm-operator/catalog.yaml
  catalogs/v4.16/dell-csm-operator/catalog.yaml
  catalogs/v4.17/dell-csm-operator/catalog.yaml
  catalogs/v4.18/dell-csm-operator/catalog.yaml
  operators/dell-csm-operator/catalog-templates/v4.18.yaml
Labels: approved, operator-hosted-pipeline/started

#6314 operator automotive-infra (0.0.10)
  operators/automotive-infra/0.0.10/manifests/automotive-infra-controller-manager-metrics-service_v1_service.yaml
  operators/automotive-infra/0.0.10/manifests/automotive-infra-manager-config_v1_configmap.yaml
  operators/automotive-infra/0.0.10/manifests/automotive-infra-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.10/manifests/automotive-infra-operatorconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.10/manifests/automotive-infra-operatorconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/automotive-infra/0.0.10/manifests/automotive-infra.clusterserviceversion.yaml
  operators/automotive-infra/0.0.10/manifests/automotive.sig.centos.org_containerbuilds.yaml
  operators/automotive-infra/0.0.10/manifests/automotive.sig.centos.org_imagebuilds.yaml
  operators/automotive-infra/0.0.10/manifests/automotive.sig.centos.org_operatorconfigs.yaml
  operators/automotive-infra/0.0.10/manifests/jumpstarter.dev_clients.yaml
  operators/automotive-infra/0.0.10/manifests/jumpstarter.dev_exporteraccesspolicies.yaml
  operators/automotive-infra/0.0.10/manifests/jumpstarter.dev_exporters.yaml
  operators/automotive-infra/0.0.10/manifests/jumpstarter.dev_leases.yaml
  operators/automotive-infra/0.0.10/metadata/annotations.yaml
  operators/automotive-infra/0.0.10/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6315 operator openshift-node-upgrade-mutex-operator (0.2.60)
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started
