Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2025-07, with the labels that each got.

#7032 operator mongodb-atlas-kubernetes (2.9.1)
  operators/mongodb-atlas-kubernetes/2.9.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasnetworkcontainers.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasnetworkpeerings.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasthirdpartyintegrations.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7033 operator verticadb-operator (25.3.0-0)
  operators/verticadb-operator/25.3.0-0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/25.3.0-0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/25.3.0-0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/25.3.0-0/manifests/vertica.com_verticareplicators.yaml
  operators/verticadb-operator/25.3.0-0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/25.3.0-0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/25.3.0-0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/25.3.0-0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/25.3.0-0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/25.3.0-0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/25.3.0-0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/25.3.0-0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/25.3.0-0/metadata/annotations.yaml
  operators/verticadb-operator/25.3.0-0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7055 operator flux-operator (0.24.0)
  operators/flux-operator/0.24.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.24.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.24.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.24.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.24.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.24.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.24.0/metadata/annotations.yaml
  operators/flux-operator/0.24.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7074 operator kepler-operator (0.19.0)
  operators/kepler-operator/0.19.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.19.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.19.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.19.0/manifests/kepler-operator-webhook-service_v1_service.yaml
  operators/kepler-operator/0.19.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.19.0/manifests/kepler.system.sustainable.computing.io_keplerinternals.yaml
  operators/kepler-operator/0.19.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.19.0/manifests/kepler.system.sustainable.computing.io_powermonitorinternals.yaml
  operators/kepler-operator/0.19.0/manifests/kepler.system.sustainable.computing.io_powermonitors.yaml
  operators/kepler-operator/0.19.0/metadata/annotations.yaml
  operators/kepler-operator/0.19.0/tests/scorecard/config.yaml
  operators/kepler-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#7079 operator susql-operator (0.0.35)
  operators/susql-operator/0.0.35/Dockerfile
  operators/susql-operator/0.0.35/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.35/manifests/susql-operator-labelgroup-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.35/manifests/susql-operator-labelgroup-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.35/manifests/susql-operator-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.35/manifests/susql-operator-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/susql-operator/0.0.35/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.35/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.35/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.35/metadata/annotations.yaml
  operators/susql-operator/0.0.35/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7081 operator group-sync-operator (0.0.33)
  operators/group-sync-operator/0.0.33/Dockerfile
  operators/group-sync-operator/0.0.33/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.33/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.33/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.33/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.33/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.33/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.33/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.33/metadata/annotations.yaml
  operators/group-sync-operator/0.0.33/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7059 operator jhipster-online-operator (0.1.0)
  operators/jhipster-online-operator/0.1.0/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/jhipster-online-operator/0.1.0/manifests/jhipster-online-operator-controller-manager-metrics-service_v1_service.yaml
  operators/jhipster-online-operator/0.1.0/manifests/jhipster-online-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jhipster-online-operator/0.1.0/manifests/jhipster-online-operator.clusterserviceversion.yaml
  operators/jhipster-online-operator/0.1.0/manifests/jhipsteronline-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jhipster-online-operator/0.1.0/manifests/jhipsteronline-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jhipster-online-operator/0.1.0/manifests/maximilianopizarro.github.io_jhipsteronlines.yaml
  operators/jhipster-online-operator/0.1.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jhipster-online-operator/0.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/passed

#7063 operator netobserv-operator (1.6.3-community)
  operators/netobserv-operator/1.6.3-community/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.6.3-community/manifests/flows.netobserv.io_flowmetrics.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-openshift-netobserv-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-openshift-netobserv-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.6.3-community/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/passed

#7089 operator edp-keycloak-operator (1.28.0)
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-clusterkeycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-clusterkeycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-clusterkeycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-clusterkeycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakauthflow-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakauthflow-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakclient-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakclient-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakclientscope-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakclientscope-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmcomponent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmcomponent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmgroup-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmgroup-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmrole-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmrole-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmrolebatch-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmrolebatch-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmuser-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmuser-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.28.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.28.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7110 operator group-sync-operator (0.0.34)
  operators/group-sync-operator/0.0.34/Dockerfile
  operators/group-sync-operator/0.0.34/manifests/group-sync-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/group-sync-operator/0.0.34/manifests/group-sync-operator-controller-manager-metrics-service_v1_service.yaml
  operators/group-sync-operator/0.0.34/manifests/group-sync-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/group-sync-operator/0.0.34/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/group-sync-operator/0.0.34/manifests/group-sync-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/group-sync-operator/0.0.34/manifests/group-sync-operator.clusterserviceversion.yaml
  operators/group-sync-operator/0.0.34/manifests/redhatcop.redhat.io_groupsyncs.yaml
  operators/group-sync-operator/0.0.34/metadata/annotations.yaml
  operators/group-sync-operator/0.0.34/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7112 operator neuvector-community-operator (1.5.4)
  operators/neuvector-community-operator/1.5.4/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.5.4/manifests/neuvector-operator.v1.5.4.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.5.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7116 operator strimzi-kafka-operator (0.47.0)
  operators/strimzi-kafka-operator/0.47.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/strimzi-cluster-operator.v0.47.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.47.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.47.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7119 Catalog update [layer7-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/layer7-operator/catalog.yaml
  catalogs/v4.17/layer7-operator/catalog.yaml
  catalogs/v4.18/layer7-operator/catalog.yaml
  catalogs/v4.19/layer7-operator/catalog.yaml
  operators/layer7-operator/catalog-templates/v4.16.yaml
  operators/layer7-operator/catalog-templates/v4.17.yaml
  operators/layer7-operator/catalog-templates/v4.18.yaml
  operators/layer7-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#7121 [Hive] Map catalogs to a single template
  operators/hive-operator/catalog-templates/basic.yaml
  operators/hive-operator/catalog-templates/v4.13.yaml
  operators/hive-operator/catalog-templates/v4.14.yaml
  operators/hive-operator/catalog-templates/v4.15.yaml
  operators/hive-operator/catalog-templates/v4.16.yaml
  operators/hive-operator/catalog-templates/v4.17.yaml
  operators/hive-operator/catalog-templates/v4.18.yaml
  operators/hive-operator/catalog-templates/v4.19.yaml
  operators/hive-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#7123 operator project-quay (3.10.12)
  operators/project-quay/3.10.12/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.12/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.12/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7131 operator infinispan (2.4.14)
  operators/infinispan/2.4.14/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.14/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.14/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.14/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.14/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.14/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.14/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.14/metadata/annotations.yaml
  operators/infinispan/2.4.14/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7034 operator hive-operator (1.2.4868-45ae912)
  operators/hive-operator/1.2.4868-45ae912/manifests/hive-operator.v1.2.4868-45ae912.clusterserviceversion.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4868-45ae912/metadata/annotations.yaml
  operators/hive-operator/1.2.4868-45ae912/release-config.yaml
Labels: approved, operator-hosted-pipeline/started

#7139 [Hive] Add fbc.version_promotion_strategy
  operators/hive-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#7122 operator project-quay (3.15.0)
  operators/project-quay/3.15.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.15.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.15.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/passed

#7141 operator kepler-operator (0.20.0)
  operators/kepler-operator/0.20.0/manifests/kepler-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/kepler-operator/0.20.0/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.20.0/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.20.0/manifests/kepler-operator-webhook-service_v1_service.yaml
  operators/kepler-operator/0.20.0/manifests/kepler-operator.clusterserviceversion.yaml
  operators/kepler-operator/0.20.0/manifests/kepler.system.sustainable.computing.io_keplerinternals.yaml
  operators/kepler-operator/0.20.0/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.20.0/manifests/kepler.system.sustainable.computing.io_powermonitorinternals.yaml
  operators/kepler-operator/0.20.0/manifests/kepler.system.sustainable.computing.io_powermonitors.yaml
  operators/kepler-operator/0.20.0/metadata/annotations.yaml
  operators/kepler-operator/0.20.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/failed

#7145 operator project-quay (3.14.3)
  operators/project-quay/3.14.3/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.14.3/manifests/quayregistries.crd.yaml
  operators/project-quay/3.14.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7154 operator stackgres-community (1.17.0)
  operators/stackgres-community/1.17.0/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.17.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.17.0/metadata/annotations.yaml
  operators/stackgres-community/1.17.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7204 operator dynatrace-operator (1.6.1)
  operators/dynatrace-operator/1.6.1/Dockerfile
  operators/dynatrace-operator/1.6.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.6.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.6.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.6.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.6.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.6.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#7253 operator opendatahub-operator (2.32.0)
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_codeflares.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_dashboards.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_datasciencepipelines.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_feastoperators.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_kserves.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_kueues.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_llamastackoperators.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_modelcontrollers.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_modelmeshservings.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_modelregistries.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_rays.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_trainingoperators.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_trustyais.yaml
  operators/opendatahub-operator/2.32.0/manifests/components.platform.opendatahub.io_workbenches.yaml
  operators/opendatahub-operator/2.32.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.32.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.32.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.32.0/manifests/infrastructure.opendatahub.io_hardwareprofiles.yaml
  operators/opendatahub-operator/2.32.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.32.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.32.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.32.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.32.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.32.0/manifests/services.platform.opendatahub.io_auths.yaml
  operators/opendatahub-operator/2.32.0/manifests/services.platform.opendatahub.io_monitorings.yaml
  operators/opendatahub-operator/2.32.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.32.0/release-config.yaml
  operators/opendatahub-operator/2.32.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7251 operator alloydb-omni-operator (1.5.0)
  operators/alloydb-omni-operator/1.5.0/bundle.Dockerfile
  operators/alloydb-omni-operator/1.5.0/manifests/alloydb-omni-operator.clusterserviceversion.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_backupplans.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_backups.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_dbclusters.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_dbinstances.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_pgbouncers.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_replications.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_restores.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_switchovers.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_userdefinedauthentications.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_backuprepositories.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_createstandbyjobs.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_deletestandbyjobs.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackupplans.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackups.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instancerestores.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instances.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instanceswitchovers.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instanceuserdefinedauthentications.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_lrojobs.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_replicationconfigs.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/fleet-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/fleet-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/fleet-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/local-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/local-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/local-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.5.0/metadata/annotations.yaml
  operators/alloydb-omni-operator/1.5.0/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/failed

#7273 operator mariadb-operator (25.8.2)
  operators/mariadb-operator/25.8.2/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_physicalbackups.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/25.8.2/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/25.8.2/metadata/annotations.yaml
  operators/mariadb-operator/25.8.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#7275 operator project-quay (3.12.11)
  operators/project-quay/3.12.11/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.11/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.11/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started
