Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2025-04, with the labels that each got.

#6317 operator ndb-operator (1.6.2)
  operators/ndb-operator/1.6.2/bundle.Dockerfile
  operators/ndb-operator/1.6.2/manifests/mysql.oracle.com_ndbclusters.yaml
  operators/ndb-operator/1.6.2/manifests/ndb-operator-svc_v1_service.yaml
  operators/ndb-operator/1.6.2/manifests/ndb-operator-webhook-service_v1_service.yaml
  operators/ndb-operator/1.6.2/manifests/ndb-operator.clusterserviceversion.yaml
  operators/ndb-operator/1.6.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6324 operator postgresql (5.8.0)
  operators/postgresql/5.8.0/Dockerfile
  operators/postgresql/5.8.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.8.0/metadata/annotations.yaml
  operators/postgresql/5.8.0/tests/scorecard/config.yaml
Labels: approved, tests/skip/check_operator_name, operator-hosted-pipeline/started

#6325 operator stackgres-community (1.16.0-rc3)
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.16.0-rc3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.16.0-rc3/metadata/annotations.yaml
  operators/stackgres-community/1.16.0-rc3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6329 operator gitlab-operator-kubernetes (1.11.2)
  operators/gitlab-operator-kubernetes/1.11.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.11.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6330 operator victoriametrics-operator (0.55.0)
  operators/victoriametrics-operator/0.55.0/manifests/operator-metrics-service_v1_service.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vlogs.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmscrapeconfigs.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.55.0/manifests/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.55.0/manifests/victoriametrics-operator.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.55.0/manifests/webhook-service_v1_service.yaml
  operators/victoriametrics-operator/0.55.0/metadata/annotations.yaml
  operators/victoriametrics-operator/0.55.0/tests/scorecard/config.yaml
  operators/victoriametrics-operator/catalog-templates/v4.12.yaml
  operators/victoriametrics-operator/catalog-templates/v4.13.yaml
  operators/victoriametrics-operator/catalog-templates/v4.14.yaml
  operators/victoriametrics-operator/catalog-templates/v4.15.yaml
  operators/victoriametrics-operator/catalog-templates/v4.16.yaml
  operators/victoriametrics-operator/catalog-templates/v4.17.yaml
  operators/victoriametrics-operator/catalog-templates/v4.18.yaml
Labels: approved, operator-hosted-pipeline/started

#6332 operator hive-operator (1.2.4766-6a82857)
  operators/hive-operator/1.2.4766-6a82857/manifests/hive-operator.v1.2.4766-6a82857.clusterserviceversion.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4766-6a82857/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4766-6a82857/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6348 operator project-quay (3.14.0)
  operators/project-quay/3.14.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.14.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.14.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6351 operator dynatrace-operator (1.4.2)
  operators/dynatrace-operator/1.4.2/Dockerfile
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-extensions-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-extensions-controller_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-logmonitoring_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-logmonitoring_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-node-config-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.4.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.4.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6336 operator dell-csm-operator (1.8.1)
  operators/dell-csm-operator/1.8.1/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.8.1/manifests/dell-csm-operator.v1.8.1.clusterserviceversion.yaml
  operators/dell-csm-operator/1.8.1/metadata/annotations.yaml
  operators/dell-csm-operator/1.8.1/tests/scorecard/config.yaml
  operators/dell-csm-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6355 operator skupper-operator (1.9.0)
  operators/skupper-operator/1.9.0/manifests/skupper-operator.v1.9.0.clusterserviceversion.yaml
  operators/skupper-operator/1.9.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6361 operator opendatahub-operator (2.27.0)
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_codeflares.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_dashboards.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_datasciencepipelines.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_feastoperators.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_kserves.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_kueues.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_modelcontrollers.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_modelmeshservings.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_modelregistries.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_rays.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_trainingoperators.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_trustyais.yaml
  operators/opendatahub-operator/2.27.0/manifests/components.platform.opendatahub.io_workbenches.yaml
  operators/opendatahub-operator/2.27.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.27.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.27.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.27.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.27.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.27.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.27.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.27.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.27.0/manifests/services.platform.opendatahub.io_auths.yaml
  operators/opendatahub-operator/2.27.0/manifests/services.platform.opendatahub.io_monitorings.yaml
  operators/opendatahub-operator/2.27.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.27.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6368 operator flux-operator (0.19.0)
  operators/flux-operator/0.19.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.19.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.19.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.19.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.19.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.19.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.19.0/metadata/annotations.yaml
  operators/flux-operator/0.19.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6369 operator grafana-operator (5.17.1)
  operators/grafana-operator/5.17.1/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.17.1/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.17.1/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.17.1/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafanalibrarypanels.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafanamutetimings.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafananotificationtemplates.yaml
  operators/grafana-operator/5.17.1/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.17.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6373 operator keycloak-operator (26.2.0)
  operators/keycloak-operator/26.2.0/bundle.Dockerfile
  operators/keycloak-operator/26.2.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.2.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6352 operator alloydb-omni-operator (1.4.0)
  operators/alloydb-omni-operator/1.4.0/bundle.Dockerfile
  operators/alloydb-omni-operator/1.4.0/manifests/alloydb-omni-operator.clusterserviceversion.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_backupplans.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_backups.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_dbclusters.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_dbinstances.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_pgbouncers.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_replications.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_restores.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_switchovers.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_backuprepositories.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_createstandbyjobs.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_deletestandbyjobs.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackupplans.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackups.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_instancerestores.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_instances.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_instanceswitchovers.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_lrojobs.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_replicationconfigs.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/fleet-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/fleet-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/fleet-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/local-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/local-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/local-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.4.0/metadata/annotations.yaml
  operators/alloydb-omni-operator/1.4.0/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6382 operator aerospike-kubernetes-operator (4.0.2)
  operators/aerospike-kubernetes-operator/4.0.2/bundle.Dockerfile
  operators/aerospike-kubernetes-operator/4.0.2/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/4.0.2/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/4.0.2/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/4.0.2/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/4.0.2/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/4.0.2/manifests/asdb.aerospike.com_aerospikebackups.yaml
  operators/aerospike-kubernetes-operator/4.0.2/manifests/asdb.aerospike.com_aerospikebackupservices.yaml
  operators/aerospike-kubernetes-operator/4.0.2/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/4.0.2/manifests/asdb.aerospike.com_aerospikerestores.yaml
  operators/aerospike-kubernetes-operator/4.0.2/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/4.0.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6385 operator stackgres-community (1.16.0)
  operators/stackgres-community/1.16.0/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.16.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.16.0/metadata/annotations.yaml
  operators/stackgres-community/1.16.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6386 operator mariadb-operator (0.38.1)
  operators/mariadb-operator/0.38.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.38.1/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.38.1/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.38.1/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.38.1/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.38.1/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.38.1/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.38.1/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.38.1/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.38.1/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.38.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.38.1/metadata/annotations.yaml
  operators/mariadb-operator/0.38.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6389 operator hive-operator (1.2.4774-87bff59)
  operators/hive-operator/1.2.4774-87bff59/manifests/hive-operator.v1.2.4774-87bff59.clusterserviceversion.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4774-87bff59/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4774-87bff59/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6390 operator percona-xtradb-cluster-operator (1.17.0)
  operators/percona-xtradb-cluster-operator/1.17.0/manifests/percona-xtradb-cluster-operator.v1.17.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.17.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.17.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.17.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.17.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6396 operator infinispan (2.4.12)
  operators/infinispan/2.4.12/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.12/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.12/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.12/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.12/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.12/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.12/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.12/metadata/annotations.yaml
  operators/infinispan/2.4.12/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6381 operator ibm-block-csi-operator-community (1.12.2)
  operators/ibm-block-csi-operator-community/1.12.2/bundle-1.12.2.Dockerfile
  operators/ibm-block-csi-operator-community/1.12.2/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.12.2/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.12.2/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.12.2/manifests/ibm-block-csi-operator.v1.12.2.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.12.2/metadata/annotations.yaml
  operators/ibm-block-csi-operator-community/ci.yaml
Labels: approved, pipeline/trigger-hosted, tests/skip/check_operator_name, operator-hosted-pipeline/failed

#6398 operator gitlab-operator-kubernetes (1.12.0)
  operators/gitlab-operator-kubernetes/1.12.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.12.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6409 operator stackgres-community (1.16.1)
  operators/stackgres-community/1.16.1/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.16.1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.16.1/metadata/annotations.yaml
  operators/stackgres-community/1.16.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6414 operator nexus-operator (3.4.0)
  operators/nexus-operator/3.4.0/manifests/edp.epam.com_nexusblobstores.yaml
  operators/nexus-operator/3.4.0/manifests/edp.epam.com_nexuscleanuppolicies.yaml
  operators/nexus-operator/3.4.0/manifests/edp.epam.com_nexuses.yaml
  operators/nexus-operator/3.4.0/manifests/edp.epam.com_nexusrepositories.yaml
  operators/nexus-operator/3.4.0/manifests/edp.epam.com_nexusroles.yaml
  operators/nexus-operator/3.4.0/manifests/edp.epam.com_nexusscripts.yaml
  operators/nexus-operator/3.4.0/manifests/edp.epam.com_nexususers.yaml
  operators/nexus-operator/3.4.0/manifests/nexus-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nexus-operator/3.4.0/manifests/nexus-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nexus-operator/3.4.0/manifests/nexus-operator-webhook-service_v1_service.yaml
  operators/nexus-operator/3.4.0/manifests/nexus-operator.clusterserviceversion.yaml
  operators/nexus-operator/3.4.0/metadata/annotations.yaml
  operators/nexus-operator/3.4.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6415 operator sonar-operator (3.2.0)
  operators/sonar-operator/3.2.0/manifests/edp.epam.com_sonargroups.yaml
  operators/sonar-operator/3.2.0/manifests/edp.epam.com_sonarpermissiontemplates.yaml
  operators/sonar-operator/3.2.0/manifests/edp.epam.com_sonarqualitygates.yaml
  operators/sonar-operator/3.2.0/manifests/edp.epam.com_sonarqualityprofiles.yaml
  operators/sonar-operator/3.2.0/manifests/edp.epam.com_sonars.yaml
  operators/sonar-operator/3.2.0/manifests/edp.epam.com_sonarusers.yaml
  operators/sonar-operator/3.2.0/manifests/sonar-operator.clusterserviceversion.yaml
  operators/sonar-operator/3.2.0/metadata/annotations.yaml
  operators/sonar-operator/3.2.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6416 operator sonar-operator (3.3.0)
  operators/sonar-operator/3.3.0/manifests/edp.epam.com_sonargroups.yaml
  operators/sonar-operator/3.3.0/manifests/edp.epam.com_sonarpermissiontemplates.yaml
  operators/sonar-operator/3.3.0/manifests/edp.epam.com_sonarqualitygates.yaml
  operators/sonar-operator/3.3.0/manifests/edp.epam.com_sonarqualityprofiles.yaml
  operators/sonar-operator/3.3.0/manifests/edp.epam.com_sonars.yaml
  operators/sonar-operator/3.3.0/manifests/edp.epam.com_sonarusers.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonar-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonar-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonargroup-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonargroup-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonarpermissiontemplate-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonarpermissiontemplate-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonarqualitygate-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonarqualitygate-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonarqualityprofile-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonarqualityprofile-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonaruser-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator-sonaruser-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/sonar-operator/3.3.0/manifests/sonar-operator.clusterserviceversion.yaml
  operators/sonar-operator/3.3.0/metadata/annotations.yaml
  operators/sonar-operator/3.3.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6418 operator vault-config-operator (0.8.32)
  operators/vault-config-operator/0.8.32/Dockerfile
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_authenginemounts.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_azureauthengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_azureauthengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_azuresecretengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_azuresecretengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_certauthengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_certauthengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_databasesecretengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_gcpauthengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_gcpauthengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_githubsecretengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_groupaliases.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_groups.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_ldapauthenginegroups.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_passwordpolicies.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_pkisecretengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_policies.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_quaysecretengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_randomsecrets.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_secretenginemounts.yaml
  operators/vault-config-operator/0.8.32/manifests/redhatcop.redhat.io_vaultsecrets.yaml
  operators/vault-config-operator/0.8.32/manifests/vault-config-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/vault-config-operator/0.8.32/manifests/vault-config-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-config-operator/0.8.32/manifests/vault-config-operator-manager-config_v1_configmap.yaml
  operators/vault-config-operator/0.8.32/manifests/vault-config-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-config-operator/0.8.32/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_role.yaml
  operators/vault-config-operator/0.8.32/manifests/vault-config-operator-prometheus-k8s_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vault-config-operator/0.8.32/manifests/vault-config-operator-webhook-service_v1_service.yaml
  operators/vault-config-operator/0.8.32/manifests/vault-config-operator.clusterserviceversion.yaml
  operators/vault-config-operator/0.8.32/metadata/annotations.yaml
  operators/vault-config-operator/0.8.32/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6421 operator keycloak-operator (26.2.1)
  operators/keycloak-operator/26.2.1/bundle.Dockerfile
  operators/keycloak-operator/26.2.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.2.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6422 operator gitlab-operator-kubernetes (1.12.1)
  operators/gitlab-operator-kubernetes/1.12.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.12.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.12.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.12.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.12.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.12.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6423 operator pulp-operator (1.0.0)
  operators/pulp-operator/1.0.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0/manifests/pulp-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/pulp-operator/1.0.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0/manifests/settings_v1_configmap.yaml
  operators/pulp-operator/1.0.0/metadata/annotations.yaml
  operators/pulp-operator/1.0.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6441 operator project-quay (3.12.9)
  operators/project-quay/3.12.9/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.9/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.9/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6444 operator verticadb-operator (25.2.1-0)
  operators/verticadb-operator/25.2.1-0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/25.2.1-0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/25.2.1-0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/25.2.1-0/manifests/vertica.com_verticareplicators.yaml
  operators/verticadb-operator/25.2.1-0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/25.2.1-0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/25.2.1-0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/25.2.1-0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/25.2.1-0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/25.2.1-0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/25.2.1-0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/25.2.1-0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/25.2.1-0/metadata/annotations.yaml
  operators/verticadb-operator/25.2.1-0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6447 operator keycloak-operator (26.2.2)
  operators/keycloak-operator/26.2.2/bundle.Dockerfile
  operators/keycloak-operator/26.2.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.2.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6433 operator dynatrace-operator (1.5.1)
  operators/dynatrace-operator/1.5.1/Dockerfile
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-extensions-controller_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-logmonitoring_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-logmonitoring_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-node-config-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-opentelemetry-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-telemetry-ingest_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-telemetry-ingest_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.5.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6449 operator project-quay (3.11.10)
  operators/project-quay/3.11.10/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.10/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.10/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6448 operator opendatahub-operator (2.28.0)
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_codeflares.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_dashboards.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_datasciencepipelines.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_feastoperators.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_kserves.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_kueues.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_modelcontrollers.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_modelmeshservings.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_modelregistries.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_rays.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_trainingoperators.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_trustyais.yaml
  operators/opendatahub-operator/2.28.0/manifests/components.platform.opendatahub.io_workbenches.yaml
  operators/opendatahub-operator/2.28.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.28.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.28.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.28.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.28.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.28.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.28.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.28.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.28.0/manifests/services.platform.opendatahub.io_auths.yaml
  operators/opendatahub-operator/2.28.0/manifests/services.platform.opendatahub.io_monitorings.yaml
  operators/opendatahub-operator/2.28.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.28.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6450 operator openshift-node-upgrade-mutex-operator (0.2.65)
  operators/openshift-node-upgrade-mutex-operator/0.2.65/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.65/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.65/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.65/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.65/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.65/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.65/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.65/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6452 operator project-quay (3.9.11)
  operators/project-quay/3.9.11/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.11/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.11/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started
