Repository redhat-openshift-ecosystem/community-operators-prod, pull requests merged in 2025-01, with the labels that each got.

#5710 operator layer7-operator (1.1.1)
  operators/layer7-operator/1.1.1/manifests/layer7-operator-controller-manager-metrics-service_v1_service.yaml
  operators/layer7-operator/1.1.1/manifests/layer7-operator-manager-config_v1_configmap.yaml
  operators/layer7-operator/1.1.1/manifests/layer7-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/layer7-operator/1.1.1/manifests/layer7-operator-webhook-service_v1_service.yaml
  operators/layer7-operator/1.1.1/manifests/layer7-operator.clusterserviceversion.yaml
  operators/layer7-operator/1.1.1/manifests/security.brcmlabs.com_gateways.yaml
  operators/layer7-operator/1.1.1/manifests/security.brcmlabs.com_l7apis.yaml
  operators/layer7-operator/1.1.1/manifests/security.brcmlabs.com_l7portals.yaml
  operators/layer7-operator/1.1.1/manifests/security.brcmlabs.com_repositories.yaml
  operators/layer7-operator/1.1.1/metadata/annotations.yaml
  operators/layer7-operator/1.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5695 operator nexus-operator (3.3.0)
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexusblobstores.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexuscleanuppolicies.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexuses.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexusrepositories.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexusroles.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexusscripts.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexususers.yaml
  operators/nexus-operator/3.3.0/manifests/nexus-operator-webhook-service_v1_service.yaml
  operators/nexus-operator/3.3.0/manifests/nexus-operator.clusterserviceversion.yaml
  operators/nexus-operator/3.3.0/metadata/annotations.yaml
  operators/nexus-operator/3.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#5709 operator alloydb-omni-operator (1.2.0)
  operators/alloydb-omni-operator/1.2.0/bundle.Dockerfile
  operators/alloydb-omni-operator/1.2.0/manifests/alloydb-omni-operator.clusterserviceversion.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_backupplans.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_backups.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_dbclusters.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_dbinstances.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_replications.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_restores.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.dbadmin.goog_switchovers.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_backuprepositories.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_createstandbyjobs.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_deletestandbyjobs.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackupplans.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackups.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_instancerestores.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_instances.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_instanceswitchovers.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_lrojobs.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_replicationconfigs.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/alloydbomni.internal.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/fleet-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/fleet-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/fleet-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/local-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/local-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.2.0/manifests/local-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.2.0/metadata/annotations.yaml
  operators/alloydb-omni-operator/1.2.0/metadata/dependencies.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: operator-hosted-pipeline/passed

#5717 Catalog update [alloydb-omni-operator] [v4.15,v4.14,v4.12,v4.17,v4.13,v4.16,v4.18]
  catalogs/v4.12/alloydb-omni-operator/catalog.yaml
  catalogs/v4.13/alloydb-omni-operator/catalog.yaml
  catalogs/v4.14/alloydb-omni-operator/catalog.yaml
  catalogs/v4.15/alloydb-omni-operator/catalog.yaml
  catalogs/v4.16/alloydb-omni-operator/catalog.yaml
  catalogs/v4.17/alloydb-omni-operator/catalog.yaml
  catalogs/v4.18/alloydb-omni-operator/catalog.yaml
  operators/alloydb-omni-operator/Makefile
  operators/alloydb-omni-operator/catalog-templates/v4.12.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.13.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.14.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.15.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.16.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.17.yaml
  operators/alloydb-omni-operator/catalog-templates/v4.18.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5719 Catalog update [alloydb-omni-operator] [v4.14,v4.12,v4.18,v4.17,v4.13,v4.16,v4.15]
  catalogs/v4.12/alloydb-omni-operator/catalog.yaml
  catalogs/v4.13/alloydb-omni-operator/catalog.yaml
  catalogs/v4.14/alloydb-omni-operator/catalog.yaml
  catalogs/v4.15/alloydb-omni-operator/catalog.yaml
  catalogs/v4.16/alloydb-omni-operator/catalog.yaml
  catalogs/v4.17/alloydb-omni-operator/catalog.yaml
  catalogs/v4.18/alloydb-omni-operator/catalog.yaml
Labels: operator-hosted-pipeline/started

#5723 operator portworx-essentials (24.2.1)
  operators/portworx-essentials/24.2.1/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-essentials/24.2.1/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-essentials/24.2.1/manifests/portworxoperator.clusterserviceversion.yaml
  operators/portworx-essentials/24.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5727 operator multi-nic-cni-operator (1.2.5)
  operators/multi-nic-cni-operator/1.2.5/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.2.5/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.5/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5729 operator bpfman-operator (0.5.5)
  operators/bpfman-operator/0.5.5/bundle.Dockerfile
  operators/bpfman-operator/0.5.5/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-bpfnsprogram-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-bpfnsprogram-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-operator-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_bpfnsapplications.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_bpfnsprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_tcnsprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_tcxnsprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_tcxprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_uprobensprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_xdpnsprograms.yaml
  operators/bpfman-operator/0.5.5/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.5/metadata/annotations.yaml
  operators/bpfman-operator/0.5.5/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5730 operator shipwright-operator (0.14.0)
  operators/shipwright-operator/0.14.0/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.14.0/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.14.0/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.14.0/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.14.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.14.0/metadata/annotations.yaml
  operators/shipwright-operator/0.14.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5731 operator openshift-node-upgrade-mutex-operator (0.2.34)
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5734 operator gitlab-operator-kubernetes (1.8.2)
  operators/gitlab-operator-kubernetes/1.8.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5735 operator codeflare-operator (1.13.0)
  operators/codeflare-operator/1.13.0/manifests/codeflare-operator-appwrapper-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.13.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.13.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.13.0/manifests/codeflare-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.13.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.13.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.13.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.13.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.13.0/metadata/annotations.yaml
  operators/codeflare-operator/1.13.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5728 operator lbconfig-operator (0.5.1)
  operators/lbconfig-operator/0.5.1/manifests/lb.lbconfig.carlosedp.com_externalloadbalancers.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator-externalloadbalancer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator-externalloadbalancer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator-manager-config_v1_configmap.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator.clusterserviceversion.yaml
  operators/lbconfig-operator/0.5.1/metadata/annotations.yaml
  operators/lbconfig-operator/0.5.1/tests/scorecard/config.yaml
  operators/lbconfig-operator/0.5.1/tests/scorecard/kuttl/create-externalloadbalancer/01-assert.yaml
  operators/lbconfig-operator/0.5.1/tests/scorecard/kuttl/create-externalloadbalancer/10-create-elb.yaml
  operators/lbconfig-operator/0.5.1/tests/scorecard/kuttl/create-externalloadbalancer/11-assert.yaml
  operators/lbconfig-operator/0.5.1/tests/scorecard/kuttl/kuttl-test.yaml
Labels: operator-hosted-pipeline/started

#5745 operator infinispan (2.4.9)
  operators/infinispan/2.4.9/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.9/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.9/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.9/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.9/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.9/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.9/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.9/metadata/annotations.yaml
  operators/infinispan/2.4.9/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5747 operator keycloak-operator (26.0.8)
  operators/keycloak-operator/26.0.8/bundle.Dockerfile
  operators/keycloak-operator/26.0.8/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.8/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.8/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5748 operator stackgres-community (1.14.3)
  operators/stackgres-community/1.14.3/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.14.3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.14.3/metadata/annotations.yaml
  operators/stackgres-community/1.14.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5749 operator hive-operator (1.2.4682-406d6ca)
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive-operator.v1.2.4682-406d6ca.clusterserviceversion.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4682-406d6ca/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5776 operator gitlab-operator-kubernetes (1.8.3)
  operators/gitlab-operator-kubernetes/1.8.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5779 operator grafana-operator (5.16.0)
  operators/grafana-operator/5.16.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.16.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.16.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.16.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafananotificationtemplates.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.16.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5782 operator gitlab-operator-kubernetes (1.9.0)
  operators/gitlab-operator-kubernetes/1.9.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.9.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5786 operator kube-green (0.7.0)
  operators/kube-green/0.7.0/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.7.0/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.7.0/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.7.0/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.7.0/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.7.0/metadata/annotations.yaml
  operators/kube-green/0.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5789 operator hive-operator (1.2.4686-553c6c2)
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive-operator.v1.2.4686-553c6c2.clusterserviceversion.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4686-553c6c2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5793 operator codeflare-operator (1.14.0)
  operators/codeflare-operator/1.14.0/manifests/codeflare-operator-appwrapper-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.14.0/manifests/codeflare-operator-manager-metrics_v1_service.yaml
  operators/codeflare-operator/1.14.0/manifests/codeflare-operator-stack-config_v1_configmap.yaml
  operators/codeflare-operator/1.14.0/manifests/codeflare-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/codeflare-operator/1.14.0/manifests/codeflare-operator-webhook-server-cert_v1_secret.yaml
  operators/codeflare-operator/1.14.0/manifests/codeflare-operator-webhook-service_v1_service.yaml
  operators/codeflare-operator/1.14.0/manifests/codeflare-operator.clusterserviceversion.yaml
  operators/codeflare-operator/1.14.0/manifests/workload.codeflare.dev_appwrappers.yaml
  operators/codeflare-operator/1.14.0/metadata/annotations.yaml
  operators/codeflare-operator/1.14.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5794 operator stackgres-community (1.15.0-rc3)
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.15.0-rc3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.15.0-rc3/metadata/annotations.yaml
  operators/stackgres-community/1.15.0-rc3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5796 operator susql-operator (0.0.33)
  operators/susql-operator/0.0.33/Dockerfile
  operators/susql-operator/0.0.33/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator-labelgroup-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator-labelgroup-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.33/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.33/metadata/annotations.yaml
  operators/susql-operator/0.0.33/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5797 operator opendatahub-operator (2.23.0)
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_codeflares.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_dashboards.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_datasciencepipelines.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_kserves.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_kueues.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_modelcontrollers.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_modelmeshservings.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_modelregistries.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_rays.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_trainingoperators.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_trustyais.yaml
  operators/opendatahub-operator/2.23.0/manifests/components.platform.opendatahub.io_workbenches.yaml
  operators/opendatahub-operator/2.23.0/manifests/datasciencecluster.opendatahub.io_datascienceclusters.yaml
  operators/opendatahub-operator/2.23.0/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  operators/opendatahub-operator/2.23.0/manifests/features.opendatahub.io_featuretrackers.yaml
  operators/opendatahub-operator/2.23.0/manifests/opendatahub-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opendatahub-operator/2.23.0/manifests/opendatahub-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.23.0/manifests/opendatahub-operator.clusterserviceversion.yaml
  operators/opendatahub-operator/2.23.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opendatahub-operator/2.23.0/manifests/prometheus-k8s-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/opendatahub-operator/2.23.0/manifests/services.platform.opendatahub.io_auths.yaml
  operators/opendatahub-operator/2.23.0/manifests/services.platform.opendatahub.io_monitorings.yaml
  operators/opendatahub-operator/2.23.0/metadata/annotations.yaml
  operators/opendatahub-operator/2.23.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5798 operator project-quay (3.13.3)
  operators/project-quay/3.13.3/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.3/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5739 operator skupper-operator (1.8.3)
  operators/skupper-operator/1.8.3/manifests/skupper-operator.v1.8.3.clusterserviceversion.yaml
  operators/skupper-operator/1.8.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5800 operator postgresql (5.7.3)
  operators/postgresql/5.7.3/Dockerfile
  operators/postgresql/5.7.3/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.3/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.3/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.3/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.3/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.7.3/metadata/annotations.yaml
  operators/postgresql/5.7.3/tests/scorecard/config.yaml
Labels: tests/skip/check_operator_name, operator-hosted-pipeline/started

#5801 operator openshift-node-upgrade-mutex-operator (0.2.38)
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5838 operator gitlab-operator-kubernetes (1.9.1)
  operators/gitlab-operator-kubernetes/1.9.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.9.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5843 operator rabbitmq-cluster-operator (2.12.1)
  operators/rabbitmq-cluster-operator/2.12.1/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.12.1/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.12.1/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.12.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5847 operator pubsubplus-eventbroker-operator (1.1.2)
  operators/pubsubplus-eventbroker-operator/1.1.2/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.1.2/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.1.2/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5849 operator hive-operator (1.2.4693-ec3bc72)
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive-operator.v1.2.4693-ec3bc72.clusterserviceversion.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4693-ec3bc72/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5853 operator mariadb-operator (0.37.0)
  operators/mariadb-operator/0.37.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.37.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.37.0/metadata/annotations.yaml
  operators/mariadb-operator/0.37.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5856 operator mariadb-operator (0.37.1)
  operators/mariadb-operator/0.37.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.37.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.37.1/metadata/annotations.yaml
  operators/mariadb-operator/0.37.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5860 operator neuvector-community-operator (1.5.1)
  operators/neuvector-community-operator/1.5.1/manifests/neuvector-operator.crd.yaml
  operators/neuvector-community-operator/1.5.1/manifests/neuvector-operator.v1.5.1.clusterserviceversion.yaml
  operators/neuvector-community-operator/1.5.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5862 operator stackgres-community (1.15.0-rc4)
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres-community.clusterserviceversion.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-community/1.15.0-rc4/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-community/1.15.0-rc4/metadata/annotations.yaml
  operators/stackgres-community/1.15.0-rc4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5863 operator ndmspc-operator (0.20250131.0)
  operators/ndmspc-operator/0.20250131.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.20250131.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.20250131.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.20250131.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.20250131.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.20250131.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.20250131.0/tests/scorecard/config.yaml
  operators/ndmspc-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started
